<div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4920605.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Король земли</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div style="background: url('https://bazon.cc/download/poster/5356024.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Команда Z</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div style="background: url('https://bazon.cc/download/poster/1311500.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Он умер и я тоже</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5307214.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Джонни</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5179729.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Пусть начнется танец</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4947546.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Девичник: Убойная ночь</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div style="background: url('https://bazon.cc/download/poster/1411200.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Смертельный выстрел</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5082039.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Лимб</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5330764.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Зомби-апокалипсис и список из 100 дел, что я выполню перед смертью</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div style="background: url('https://bazon.cc/download/poster/1436858.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Варшавянка</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5306465.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Охваченный пламенем дом Митарай</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4898924.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Ходячие мертвецы: Мертвый город</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4898924.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Ходячие мертвецы: Мертвый город</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div style="background: url('https://bazon.cc/download/poster/5331422.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Выжить в Дубае</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div style="background: url('https://bazon.cc/download/poster/5360458.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Кейша Коул: Моя история</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1412084.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Спецназ: Львица</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1405266.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Они клонировали Тайрона</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div style="background: url('https://bazon.cc/download/poster/4948279.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Агент</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div style="background: url('https://bazon.cc/download/poster/4988904.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Ночи в Тефии</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4701154.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Канал</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Обитель зла: Остров смерти</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5310765.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Стать шефом</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4898924.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Ходячие мертвецы: Мертвый город</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5303815.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Взрослым не понять</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4664634.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Оппенгеймер</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_478052.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Барби</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1186274.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Какой-то Энди</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4909394.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Старушки за Брэйди</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1325596.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Остров теней</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1405266.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Они клонировали Тайрона</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1396300.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Тетрис</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div style="background: url('https://bazon.cc/download/poster/4630520.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Викенсбург</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5315494.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>КликКлак шоу</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4922751.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Замкнутый круг</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div style="background: url('https://bazon.cc/download/poster/5139120.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Обычный Джо</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_195483.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Флэш</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4424478.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Переполненная комната</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4424478.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Переполненная комната</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_777031.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Библиотекарь</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1421572.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Секретное вторжение</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div style="background: url('https://bazon.cc/download/poster/5124666.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Смертельные семейные узы</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4424478.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Переполненная комната</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4456485.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Мои приключения с Суперменом</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4925994.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Плейлист любви</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div style="background: url('https://bazon.cc/download/poster/4924071.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Святой</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4912805.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Мой счастливый брак</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4424478.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Переполненная комната</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4922751.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Замкнутый круг</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div style="background: url('https://bazon.cc/download/poster/5120653.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Пятнадцатилетняя любовь</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5074908.jpg'); background-repeat:no-repeat;  background-size:cover;" class="premieresItem nav-item">
            <div class="filmText">
            <h1>Микулай</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        