<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; Charset=UTF-8" />
    <title>Film</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/keyboard.css" />

    <script type="text/javascript" src="libs/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="libs/lodash.compat.min.js"></script>
    <script type="text/javascript" src="libs/event_emitter.js"></script>
    <script type="text/javascript" src="js/lib/smartbox.js"></script>
    <script>
        // запуск навигации
        $(function () {
            $$nav.on()
        })
    </script>
    <style type="text/css">
        p,
        li,
        h1,
        h2,
        h3,
        a,h4 {
            font-family: 'Roboto Mono', monospace;
            margin: 0;
        }

        .bg {
            position: fixed;
            top: 0;
            width: 100%;
            height: 100%;
            background: url(/img/mainBg.jpg) no-repeat 100% 100%;
            z-index: -10;
        }

        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .wrap {
            position: relative;
            max-width: 1400px;
            margin: 0 auto;
            height: 100%;
        }

        a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
        }


        #navbar {
            position: absolute;
            width: 23%;
            padding: 20px;
            transition: 0.5s ease-in-out;
        }
        .poster_playerBlock {
            position: absolute;
            padding-top: 20px;
            right: 10px;
            width:72.5%;
            height: 400px;
        }
        .playImgBlock {
            margin: 0 auto;
            height: 100%;
            width: 30px;
        }
        .playImgBlock img {
            width: 80px;
            height: 80px;
            margin: 160px 0;
        }
       
        .poster_playerBlock p {
            margin-top: 5px;
            color: #09a3e0;
        }
        .poster_playerBlock h1 {
            font-size: 20px;
            position: absolute;
            color: white;
            background: #09a3e0;
            padding: 20px 30px;
            border-radius: 20px;
            width: 8%;
            height: 5%;
            top: 47.5%;
            left: 45%;
            right: 45%;
            bottom: 47.5%;
        }
        .header {
            width: 100%;
            max-width: 1440px;
            margin: 0 auto;
            display: fixed;
            position: relative;
            padding: 15px;
            height: 40px;
        }

        .header h2 {
            float: left;
        }

        .header_images {
            float: right;
        }

        .navbar_wrap p{
            font-size: 16px;
            font-weight: 400;
            margin: 5px 0 5px 5px;
            color: white;
            word-wrap: break-word;
        }

        .navbar_wrap h2{
            font-size: 22px;
            font-weight: 400;
            color: yellow;
            margin: 15px 0 20px 5px;
        }
        
        .posterScreenshot {
            width: 100%;
            height: 100%;
        }
        .posterImg {
            width: 100%;
            height: 380px;
        }

         ul {
            max-height: 530px;
            overflow-y: scroll;
            margin: 0;
        }
        /* хром, сафари */
ul::-webkit-scrollbar { width: 0; }

/* ie 10+ */
ul { -ms-overflow-style: none;scrollbar-width: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
ul { overflow: -moz-scrollbars-none; }
        .playlist {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: none;
            transition: 0.5s ease-in-out;
            z-index: 10;
            background: rgba(44, 44, 44, 0.726);
        }

        .close {
            position: absolute;
            left: -1000px;
        }

        .show {
            position: static;
        }

        .playlist ul {
            overflow-x: hidden;
            width: 500px;
            margin: 50px auto;
            list-style: none;
            padding: 0;
        }

        .playlist li {
            padding: 2px;
            margin-bottom: 2px;
            background: #0173dd;
        }
        .playlist li p {
            margin-left: 150px;
        }

        .playlist li.focus {
            background-color: #fff;
            color: #000;
        }

        .playlist li.focus p {
            color: #000;
        }

        li p {
            color: white;
            margin-right: 10px;
            padding: 5px 10px;
        }
       
       .logo {
        text-align: center;
        margin-top: 20px;
        max-width: 270px;
        width: 100%;
       }

        .waitingPopup {
        z-index: 100;
        display: none;
        position: absolute;
        width: 100%;
        margin: 0 auto;
        top: 250px;
    }
    .waitingPopup_inner {
        width: 200px;
        background: rgba(0, 0, 0, 0.685);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
        margin: 0 auto;
        border-radius: 10px;
        padding: 20px;
        text-align: center;
        color: white;
    }
    </style>
</head>
<body>
    <div class="bg"></div>
    <div class="playlist" id='playlistSeasons'>
        <ul id="listseasons">
            <%- include('./elements/filmInfo/seasons&translations.ejs') %>
        </ul>
    </div>
    <div class="wrap">
        <%- include('./elements/filmInfo/filmInfo.ejs') %>
    </div>
    </div>
    <div class="waitingPopup">
        <div class="waitingPopup_inner">
            <h1>Загрузка...</h1>
        </div>
    </div>
    <script type="text/javascript">
        // при клике на стрелку перейти обратно
        $(document).keydown(function (e) {
                if ($('.focus')[0]) {
                    var curItemPos = $('.focus')
                    $('.focus').get(0).scrollIntoView(); // скроллить к элементу 
                    $(document).scrollTop($(document).scrollTop() - 100) // скроллю чуть меньше чтобы лучше видно было элемент
                }
                switch (e.keyCode) {
                case 8: {
                        document.location.href = '/'
                    }
                    break;
            }
            })
        
        
    </script>
</body>

</html>