<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; Charset=UTF-8" />
    <title>Main page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/keyboard.css" />

    <script type="text/javascript" src="libs/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="libs/lodash.compat.min.js"></script>
    <script type="text/javascript" src="libs/event_emitter.js"></script>
    <script type="text/javascript" src="js/lib/smartbox.js"></script>
    <script type="text/javascript" src="js/lib/config.js"></script>
    <script>
        // запуск навигации
        $(function () {
            $$nav.on()
        })
    </script>
</head>
    <style type="text/css">
        p,
        li,
        h1,
        h2,
        h3,
        a {
            font-family: 'Roboto Mono', monospace;
        }
    
        .bg {
            position: fixed;
            top: 0;
            width: 100%;
            height: 100%;
            background: url(/img/bg.jpg) no-repeat;
            z-index: -10;
        }
    
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            z-index: -10;
        }
    
        ul {
            height: 100%;
            overflow-y: scroll;
            margin: 0;
        }
    
        p {
            margin: 0;
        }
    
        .wrap {
            
            max-width: 980px;
            margin: 0 0 0 30px;
            z-index: -4;
            width: 60%;
        }
    
        a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            font-size: 20px;
        }
    
        p {
            display: inline-block;
        }
    
        .playlist {
            width: 100%;
            padding: 1px 0;
            background-color: none;
            transition: 0.5s ease-in-out;
        }
    
        .show {
            position: static;
        }
    
        .playlist ul {
            list-style: none;
            padding: 0;
            margin-top: 4%;
            overflow-y: auto;
        }
    
        .playlist li {
            padding: 10px;
            margin-bottom: 2px;
            background: #0173dd;
            font-size: 18px;
            border-radius: 10px;
        }
    
        .playlist li.focus {
            background-color: #fff;
            color: #000;
        }
    
        .playlist li.focus a {
            color: #000;
        }
    
        
    
    
        .playlist li.focus p {
            color: black;
        }
    
        /* хром, сафари */
        ul::-webkit-scrollbar {
            width: 0;
        }
    
        /* ie 10+ */
        ul {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
    
        /* фф (свойство больше не работает, других способов тоже нет)*/
        ul {
            overflow: -moz-scrollbars-none;
        }
    
    
        #log {
            position: absolute;
            top: 100px;
            left: 200px;
            z-index: 20;
        }
        .fullHdFilmPoster {
            position: fixed;
            top: 4%;
            left: 65%;
            width: 400px;
            height: 520px;
        }
        .hidden {
            display: none;
        }
       
    </style>

<body>
    <div class="bg"></div>
    <!-- Передаю айди канала, чтобы фокусить его(также до этого перекинул его в url) -->
    <div class="bg"></div>
    <div class="wrap">
        <div class="playlist" id='playlist'>
            <ul id="films" class="activeCategory">
                <!-- с помощью шаблонизатора импортирую html разметку -->
                <%- include('./elements/fullHdFilms/fullHdFilms.ejs') %>
            </ul>
        </div>
    </div>

    <script type="text/javascript">
        $('#image1').removeClass('hidden')
        // код нажатия на клавиши
        $(document).keydown(function (e) {
            var key = config.app.keys[config.app.mode][e.keyCode];
            var curItemPos = $('.focus')
            $('.focus').get(0).scrollIntoView(); // скроллить к элементу 
            switch (key) {
                case 'up':
                    $('#films .fullHdFilmPoster').addClass('hidden');
                    var imageId = '#' + $('.focus').attr('data-imageId');
                    $(imageId).removeClass('hidden')
                    clickItem = 'up'
                    break;
                case 'down':
                    $('#films .fullHdFilmPoster').addClass('hidden');
                    var imageId = '#' + $('.focus').attr('data-imageId');
                    $(imageId).removeClass('hidden')
                    clickItem = 'down'
                    break;
                case 'back':
                    window.location.href = '/'
                    break;
            }
        });
       
    </script>
</body>

</html>