<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>player</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Nunito+Sans:wght@200&display=swap"
        rel="stylesheet">
    <script type="text/javascript" src="libs/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="libs/lodash.compat.min.js"></script>
    <script type="text/javascript" src="libs/event_emitter.js"></script>
    <script type="text/javascript" src="js/lib/smartbox.js"></script>
    <script type="text/javascript" src="js/lib/config.js"></script>
    <script type="text/javascript" src="js/lib/msgBusEntry.js"></script>
    <script type="text/javascript" src="js/lib/gapi.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

</head>
<style>
    body {
        padding: 0;
        margin: 0;
    }

    h1,
    p {
        color: #fff;
        font-family: 'Roboto', sans-serif;
    }

    #log {
        position: absolute;
        top: 0;
        left: 100px;
        color: red;
        font-weight: bold;
    }


    .progress_bar-empty {
        position: relative;
        display: inline-block;
        width: 100%;
        border-bottom: 5px solid gray;
        z-index: 10;
        margin: 0 auto;
    }

    .progress_bar {
        position: absolute;
        width: 0%;
        height: 100%;
        border-bottom: 5px solid yellow;
    }

    .progress_bar-empty p {
        width: 300px;
        margin: 0 auto;
    }

    .adviceClickDown {
        position: absolute;
        width: 100%;
        top: -25px;
    }

    .playerMenu {
        padding: 10px 0 0 0;
        width: 100%;
        position: fixed;
        bottom: 0;
        opacity: 0;
        height: 35px;
        z-index: 15;
    }

    .playerMenu p {
        color: white;
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }

    .playerTime {
        display: inline-block;
        white-space: nowrap;
        width: 100px;
        text-align: center;
        top: 0;
    }


    .adviceClickDown div {
        width: 35px;
        margin: 0 auto;
    }

    .adviceClickDown img {
        width: 35px;
        height: 35px;
        z-index: 15;
    }

    .playerMenu__inner {
        position: relative;
        width: 80%;
        margin: 0 auto;
    }

    .muteBlock {
        display: none;
        float: left;
        margin-right: 30px;
    }

    .muteImg {
        color: white;
        width: 100px;
        height: 100px;
    }

    .soundPopup {
        display: none;
        float: left;
        width: 50px;
        text-align: center;
        padding: 10px;
        border-radius: 20px;
    }

    .soundPopup p {
        color: white;
        font-size: 32px;
        font-weight: bold;
    }

    .soundPopup span {
        font-size: 40px;
        color: yellow;
    }

    .soundPopup img {
        width: 40px;
        height: 40px;
    }

    .current_time {
        position: absolute;
        left: 25px;
    }

    .full_time {
        position: absolute;
        right: 25px;
    }

    .barCicle {
        position: absolute;
        right: -7px;
        background: yellow;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        top: -3px;
    }

    .popups_block {
        position: absolute;
        top: 100px;
        right: 100px;
        z-index: 10;
    }

    .pause_block {
        position: absolute;
        width: 100%;
        top: 50%;
    }

    .pause_block img {
        display: none;
        width: 70px;
        height: 70px;
    }

    .pause_block-inner {
        width: 70px;
        height: 70px;
        margin: 0 auto;
    }

    #soundPopupMute {
        display: none;
    }
</style>

<body>
    <div id="wrap" data-url="<%= playerUrl %>" data-backUrl="<%= backUrl %>" class="wrap">
        <div class="No episodes">
            <h1 id="no-episodes_text"></h1>
        </div>
    </div>
    <div class="popups_block">
        <div id="mute" class="muteBlock">
            <img class="muteImg" src="/img/mute.svg" alt="mute">
        </div>
        <div class="soundPopup" id="soundPopup">
            <img id="soundPopupVol" src="/img/Vol.svg" alt="volume">
            <img id="soundPopupMute" src="/img/mute.svg" alt="mute">
            <div class="volume">
                <p id="volume">0</p>
            </div>
        </div>
    </div>
    <div class="playerMenu" id="playerMenu">
        <div class="playerTime current_time">
            <p id="currentTime">1:00:00</p>
        </div>
        <div class="adviceClickDown">
            <div>
                <img width="35" height="35" src="/img/downArrow.svg" alt="downArrow">
            </div>
        </div>
        <div class="playerMenu__inner">
            <div id="progressBarEmpty" class="progress_bar-empty">
                <div id="progressBar" class="progress_bar">
                    <div class="barCicle"></div>
                </div>
            </div>
        </div>
        <div class="playerTime full_time">
            <p id="fullTime">1:50:00</p>
        </div>
    </div>
    <div class="pause_block">
        <div class="pause_block-inner">
            <img id="play" src="/img/play.svg" alt="play">
            <img id="pause" src="/img/pause.svg" alt="pause">
        </div>
    </div>


    <script type="text/javascript">

        function secondsToTime(secs, item) {
            var hours = Math.floor(secs / (60 * 60));
            if (hours < 10) {
                hours = '0' + hours
            }

            var divisor_for_minutes = secs % (60 * 60);
            var minutes = Math.floor(divisor_for_minutes / 60);
            if (minutes < 10) {
                minutes = '0' + minutes
            }
            var divisor_for_seconds = divisor_for_minutes % 60;
            var seconds = Math.ceil(divisor_for_seconds);
            if (seconds < 10) {
                seconds = '0' + seconds
            }
            var obj = hours + ':' + minutes + ':' + seconds
            $(item).html(obj)
        }

        $(document).keydown(function (e) {

            var key = config.app.keys[config.app.mode][e.keyCode];
            var pressing_btn = ''
            // управление плеером 
            switch (key) {
                case 'left':
                    $("#playerMenu").animate({ opacity: 1 }, 100)
                    mb.send('player.seek', { delta: -30 })
                    mb.listen('player:media.position', function (data) {

                        if (data.value > 5) {
                            var percentOfPos = data.value / data.full_time * 100
                            var progressbarWidth = percentOfPos + '%'
                            $('#progressBar').width(progressbarWidth)
                            secondsToTime(data.value, '#currentTime')
                            secondsToTime(data.full_time, '#fullTime')
                        }
                    })
                    pressing_btn = 'left'
                    break;
                case 'right':
                    $("#playerMenu").animate({ opacity: 1 }, 100)
                    mb.send('player.seek', { delta: +30 })
                    mb.listen('player:media.position', function (data) {
                        if (data.value < data.full_time - 10) {
                            var percentOfPos = data.value / data.full_time * 100
                            var progressbarWidth = percentOfPos + '%'
                            $('#progressBar').width(progressbarWidth)
                            secondsToTime(data.value, '#currentTime')
                            secondsToTime(data.full_time, '#fullTime')
                        }
                    })
                    pressing_btn = 'right'
                    break;
                case 'ok':
                    var isPause = mb.get('player:state').value
                    if (isPause === 'play') {
                        $('#pause').show()
                        $('#play').hide()
                        mb.send('player.pause')
                        $('#pause').stop();
                        $('#play').stop();
                        $('#pause').animate({ opacity: 0 }, 1500)
                        $('#play').animate({ opacity: 0 }, 1500)
                    } else {
                        $('#pause').hide()
                        $('#play').show()
                        mb.send('player.pause')
                        $('#pause').stop();
                        $('#play').stop();
                        $('#pause').animate({ opacity: 0 }, 1500)
                        $('#play').animate({ opacity: 0 }, 1500)
                    }

                    break;
                case 'mute':
                    var volumeValue = mb.get('nvram.av.volume').value
                    var muteStatus = mb.get('player:mute');
                    if (muteStatus.value === false) {
                        mb.send('player.mute', { value: true })
                        $("#volume").html(0)
                        $("#soundPopupVol").hide()
                        $("#soundPopupMute").show()
                        $('#mute').show()
                    } else {
                        mb.send('player.mute', { value: false })
                        $("#volume").html(volumeValue)
                        $("#soundPopupVol").show()
                        $("#soundPopupMute").hide()
                        $('#mute').hide()
                    }
                    pressing_btn = 'mute'
                    break;
                case 'volup':
                    $('#soundPopup').show()
                    $("#playerMenu").animate({ opacity: 1 }, 100)
                    mb.send('player.volume', { delta: +10 })
                    var volumeValue = mb.get('nvram.av.volume').value

                    $("#volume").html(volumeValue)
                    pressing_btn = 'volup'
                    break;
                case 'voldown':
                    $('#soundPopup').show()
                    $("#playerMenu").animate({ opacity: 1 }, 100)
                    mb.send('player.volume', { delta: -10 })
                    var volumeValue = mb.get('nvram.av.volume').value

                    if (volumeValue === 0) {
                        $("#soundPopupVol").hide()
                        $("#soundPopupMute").show()
                    } else {
                        $("#soundPopupVol").show()
                        $("#soundPopupMute").hide()
                    }

                    $("#volume").html(volumeValue)
                    pressing_btn = 'voldown'
                    break;
                case 'back':
                    if (pressing_btn !== 'back') {
                        mb.send('player.stop');
                        window.location = '/';
                    }
                    pressing_btn = 'back'

                    break;
                case 'down':
                    if (pressing_btn !== 'down') {
                        $('#soundPopup').hide()
                        $("#playerMenu").animate({ opacity: 0 }, 100)
                    }
                    pressing_btn = 'down'
                    break;
                case 'up':
                    if (pressing_btn !== 'up') {
                        $("#playerMenu").animate({ opacity: 1 }, 100)
                        mb.listen('player:media.position', function (data) {
                            if (data.value > 5) {
                                var percentOfPos = data.value / data.full_time * 100
                                var progressbarWidth = percentOfPos + '%'
                                $('#progressBar').width(progressbarWidth)
                                secondsToTime(data.value, '#currentTime')
                                secondsToTime(data.full_time, '#fullTime')
                            }
                        })
                    }
                    pressing_btn = 'up'
                    break;
            }

        });
    </script>
</body>

</html>