<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>player</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Nunito+Sans:wght@200&display=swap"
        rel="stylesheet">
    <script type="text/javascript" src="libs/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="libs/lodash.compat.min.js"></script>
    <script type="text/javascript" src="libs/event_emitter.js"></script>
    <script type="text/javascript" src="js/lib/smartbox.js"></script>
    <script type="text/javascript" src="js/lib/config.js"></script>
    <script type="text/javascript" src="js/lib/msgBusEntry.js"></script>
    <script type="text/javascript" src="js/lib/gapi.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

</head>
<style>
    body {
        padding: 0;
        margin: 0;
    }

    h1 {
        color: #fff;
        font-family: 'Inter', sans-serif;
    }
    #log {
        position: absolute;
        top: 0;
        left: 100px;
        color: red;
        font-weight: bold;
    }
</style>

<body>
    <div id="wrap" data-url="<%= playerUrl %>" data-backUrl="<%= backUrl %>" class="wrap">
        <div class="No episodes">
            <h1 id="no-episodes_text"></h1>
        </div>
    </div>
    <script type="text/javascript">
            $(document).keydown(function (e) {
                $$log('key', e.keyCode)
                switch (e.keyCode) {
                    case 37:
                        $$log('state', 'left');
                        break;
                    case 39:
                        $$log('state', 'right');
                        break;
                    case 13:
                        $$log('ok')
                        break;
                    case 116:
                        $$log('mute')
                        break;
                    case 187:
                        $$log('volume_up')
                        break;
                    case 189:
                        $$log('volume_down')
                        break;
                    case 8:
                        break;
                }

            });
    </script>
</body>

</html>