<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>player</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Nunito+Sans:wght@200&display=swap"
        rel="stylesheet">
    <script type="text/javascript" src="libs/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="libs/lodash.compat.min.js"></script>
    <script type="text/javascript" src="libs/event_emitter.js"></script>
    <script type="text/javascript" src="js/lib/smartbox.js"></script>
    <script type="text/javascript" src="js/lib/config.js"></script>
    <script type="text/javascript" src="js/lib/msgBusEntry.js"></script>
    <script type="text/javascript" src="js/lib/gapi.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

   <script>
    // запуск навигации
    $(function () {
        $$nav.on()
    })
</script>
</head>
<style>
    body {
        padding: 0;
        margin: 0;
    }

    h1,
    p, button {
        color: #fff;
        font-family: 'Roboto', sans-serif;
    }

    #log {
        position: absolute;
        top: 0;
        left: 100px;
        color: red;
        font-weight: bold;
    }


   
    .progress_bar-empty {
        position: relative;
        display: inline-block;
        width: 100%;
        border-bottom: 5px solid gray;
        z-index: 10;
        margin: 0 auto;
    }

    .progress_bar {
        position: absolute;
        width: 0%;
        height: 100%;
        border-bottom: 5px solid yellow;
    }

    .progress_bar-empty p {
        width: 300px;
        margin: 0 auto;
    }

     

    .playerMenu {
        padding: 10px 0 0 0;
        width: 100%;
        position: fixed;
        bottom: 0;
        opacity: 0;
        height: 35px;
        z-index: 15;
    }

    .playerMenu p {
        color: white;
        display: inline-block;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }

    .playerTime {
        display: inline-block;
        white-space: nowrap;
        width: 100px;
        text-align: center;
        top: 0;
    }
    .adviceClickDown {
        position: absolute;
        width: 100%;
        bottom: 30px;
        z-index: 15;
    }
     .adviceClickDown_inner {
        position: relative;
        width: 80px;
        margin: 0 auto;
        text-align: center;
    }
    .adviceClickDown img {
        margin: 0;
        width: 35px;
        height: 35px;
    }
    .adviceClickDown p {
        margin: 0;
        color: rgba(94, 94, 94, 0.726);
    }


    .playerMenu__inner {
        position: relative;
        width: 80%;
        margin: 0 auto;
    }



    .muteImg {
        color: white;
        width: 100px;
        height: 100px;
    }

    .soundPopup {
        display: none;
        float: left;
        width: 50px;
        text-align: center;
        padding: 10px;
        border-radius: 20px;
    }

    .soundPopup p {
        color: white;
        font-size: 32px;
        font-weight: bold;
    }

    .soundPopup span {
        font-size: 40px;
        color: yellow;
    }

    .soundPopup img {
        width: 40px;
        height: 40px;
    }

    .current_time {
        position: absolute;
        left: 25px;
    }

    .full_time {
        position: absolute;
        right: 25px;
    }

    .barCicle {
        position: absolute;
        right: -7px;
        background: yellow;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        top: -3px;
    }

    .popups_block {
        position: absolute;
        top: 100px;
        right: 100px;
        z-index: 10;
    }

    .pause_block {
        position: absolute;
        z-index: 20;
        width: 100%;
        top: 50%;
    }

    .pause_block img {
        width: 70px;
        height: 70px;
    }

    .pause_block-inner {
        width: 70px;
        height: 70px;
        margin: 0 auto;
    }

    #pause {
        display: none;
    }

    .soundPopupMute {
        display: none;
    }
    #warningText {
        width: 800px;
        background: rgba(0, 0, 0, 0.85);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
        padding: 20px;
        color: white;
        font-size: 30px;
        margin: 0 auto;
        text-align: center;
        border-radius: 5px;
    }
    #warningText .focus {
        border: 3px solid yellow;
    }

    #warningTextBtn {
        margin: 0 auto;
        width: 100px;
        background: rgba(0, 0, 0, 0.685);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
        outline: none;
        border: none;
        color: white;
        margin: 0 auto;
        border-radius: 5px;
    }


    .hidden {
        display: none;
    }
</style>

<body>
    <div id="wrap" data-url="<%= playerUrl %>" data-backUrl="<%= backUrl %>" class="wrap">
        <div class="No-episodes">
            <h1 id="no-episodes_text"></h1>
        </div>
        <div class="navigation-items" id="warningText">
            <h4>Уважаемый абонент, при просмотре видео, с повышенным интересом со стороны аудитории премьера которого состоялась
            недавно, у вас возможны "лаги" или задержки видео во время просмотра в связи с перегруженностью сервера высоким спросом
            на просмотр. Поэтому, рекомендуем Вам попробовать снизить качество просматриваемого видео или же вернуться к просмотру
            данного контента через пару дней, после снижения ажиотажа. Так же можете использовать кнопки "вправо", "влево" (1 мин.)
            или же кнопки Page up", "Page down" (10 мин.) на пульте для промотки зависающих моментов видеоконтента.</h4>
            <button class="nav-item" id="warningTextBtn">OK</button>
        </div>
    </div>


    <div class="popups_block">
        <div class="soundPopup" id="soundPopup">
            <img id="soundPopupVol" src="/img/Vol.svg" alt="volume">
            <img id="soundPopupMute" src="/img/mute.svg" alt="mute">
            <div class="volume">
                <p id="volume">0</p>
            </div>
        </div>
    </div>


    <div class="playerMenu" id="playerMenu">
        <div class="playerTime current_time">
            <p id="currentTime">1:00:00</p>
        </div>
        <div class="adviceClickDown">
            <div class="adviceClickDown_inner">
                <p>Скрыть</p>
                <img width="35" height="35" src="/img/downArrow.svg" alt="downArrow">
            </div>
        </div>
        <div class="playerMenu__inner">
            <div id="progressBarEmpty" class="progress_bar-empty">
                <div id="progressBar" class="progress_bar">
                    <div class="barCicle"></div>
                </div>
            </div>
        </div>
        <div class="playerTime full_time">
            <p id="fullTime">1:50:00</p>
        </div>
    </div>

    
    <div class="pause_block">
        <div class="pause_block-inner">
            <img id="pause" src="/img/pause.svg" alt="pause">
        </div>
    </div>


    <script type="text/javascript">
         if (document.location.href.toLowerCase().indexOf('fullhd') >= 0) {
            $('#warningText').addClass('hidden')
         } else {
             $('#warningTextBtn').click(function () {
                 $('#warningText').addClass('hidden')
             })
         }

        // ВСЕ МЕТОДЫ ПРИСТАВКИ ОПИСАНЫ В ДОКЕ /docs
        // ЗАПУСК ПЛЕЕРА ПРОИЗВОДИТСЯ В /js/app.js

        // перевожу секунды в час:минуты:секунды
        function secondsToTime(secs, item) {
            var hours = Math.floor(secs / (60 * 60));
            if (hours < 10) {
                hours = '0' + hours
            }

            var divisor_for_minutes = secs % (60 * 60);
            var minutes = Math.floor(divisor_for_minutes / 60);
            if (minutes < 10) {
                minutes = '0' + minutes
            }
            var divisor_for_seconds = divisor_for_minutes % 60;
            var seconds = Math.ceil(divisor_for_seconds);
            if (seconds < 10) {
                seconds = '0' + seconds
            }
            var obj = hours + ':' + minutes + ':' + seconds
            $(item).html(obj)
        }




        mb.send('display.pip', { value: false, w: '100%', h: '100%'});


        // методы при клике на клавише
        $(document).keydown(function (e) {

            // таймаут, чтобы спрятать звук через 3 секунды
            var timerSound = setTimeout(function() {
                 $('#soundPopup').hide()
                 clearTimeout(timerSound)
            }, 3000)

            // получаю из конфига клавиши
            var key = config.app.keys[config.app.mode][e.keyCode];


            var pressing_btn = ''

           
            mb.listen('player:media.position', function (data) {
                var percentOfPos = data.value / data.full_time * 100
                var progressbarWidth = percentOfPos + '%'
                $('#progressBar').width(progressbarWidth)
                secondsToTime(data.value, '#currentTime')
                secondsToTime(data.full_time, '#fullTime')
            })
             
             // управление плеером
            switch (key) {
                //лево
                case 'left':
                    // показываю меню
                    $("#playerMenu").animate({ opacity: 1 }, 100)

                    mb.send('player.seek', { delta: -60 })

                    mb.listen('player:media.position', function (data) {
                        if (data.value > 5) {
                            var percentOfPos = data.value / data.full_time * 100
                            var progressbarWidth = percentOfPos + '%'
                            $('#progressBar').width(progressbarWidth)
                            secondsToTime(data.value, '#currentTime')
                            secondsToTime(data.full_time, '#fullTime')
                        }
                    })
                    pressing_btn = 'left'
                    break;
                // право
                case 'right':
                     // показываю меню
                    $("#playerMenu").animate({ opacity: 1 }, 100)

                    mb.send('player.seek', { delta: +60 })

                    mb.listen('player:media.position', function (data) {
                        if (data.value < data.full_time - 10) {
                            var percentOfPos = data.value / data.full_time * 100
                            var progressbarWidth = percentOfPos + '%'
                            $('#progressBar').width(progressbarWidth)
                            secondsToTime(data.value, '#currentTime')
                            secondsToTime(data.full_time, '#fullTime')
                        }
                    })

                    pressing_btn = 'right'
                    break;

                // ок
                case 'ok':

                    var isPause = mb.get('player:state').value

                    // проверка плеера, запущен ли он
                    if (isPause === 'play') {
                             mb.send('player.pause')
                            $('#pause').show()
                    } else {
                        mb.send('player.pause')
                        $('#soundPopup').hide()
                        $("#playerMenu").animate({ opacity: 0 }, 100)
                        $('#pause').hide()
                    }

                    break;
                // мут
                case 'mute':
                    var volumeValue = mb.get('nvram.av.volume').value

                    var muteStatus = mb.get('player:mute');

                    if (muteStatus.value === 'false') {
                        mb.send('player.mute', { value: true })
                        $("#volume").html('0')
                        $("#soundPopupVol").hide()
                        $("#soundPopupMute").show()
                        $('#soundPopup').show()
                    } else {
                        mb.send('player.mute', { value: false })
                        $("#volume").html(volumeValue)
                        $("#soundPopupVol").show()
                        $("#soundPopupMute").hide()
                        $('#soundPopup').hide()
                    }


                    pressing_btn = 'mute'
                    break;

                // vol +
                case 'volup':
                    mb.send('player.volume', { delta: +10 })
                    var volumeValue = mb.get('nvram.av.volume').value
                    $("#volume").html(volumeValue)
                    if (Number(volumeValue) > 0) {
                        $("#soundPopupVol").show()
                        $("#soundPopupMute").hide()
                    }
                    $('#soundPopup').show()
                    timerSound
                    pressing_btn = 'volup'
                    break;
                // vol -
                case 'voldown':
                    mb.send('player.volume', { delta: -10 })
                    var volumeValue = mb.get('nvram.av.volume').value
                    if (Number(volumeValue) === 0) {
                        $("#soundPopupVol").hide()
                        $("#soundPopupMute").show()
                    } else {
                        $("#soundPopupVol").show()
                        $("#soundPopupMute").hide()
                    }

                    $('#soundPopup').show()
                    $("#volume").html(volumeValue)
                    timerSound
                    pressing_btn = 'voldown'
                    break;
                // назад
                case 'back':

                    if (pressing_btn !== 'back') {
                        var backUrl = $('#wrap').attr('data-backUrl')
                        mb.send('player.stop');
                        window.location = backUrl;
                    }
                    pressing_btn = 'back'

                    break;
                // вниз
                case 'down':
                    if (pressing_btn !== 'down') {
                        $('#soundPopup').hide()
                        $("#playerMenu").animate({ opacity: 0 }, 100)
                    }
                    pressing_btn = 'down'
                    break;
                // вверх
                case 'up':
                    if (pressing_btn !== 'up') {
                        $("#playerMenu").animate({ opacity: 1 }, 100)
                    }
                    pressing_btn = 'up'
                    break;

                // ch+
                case 'chup': // быстрая перемотка
                    // показываю меню
                    $("#playerMenu").animate({ opacity: 1 }, 100)

                    mb.send('player.seek', { delta: +300 })
                    mb.listen('player:media.position', function (data) {
                        if (data.value < data.full_time - 300) {
                            var percentOfPos = data.value / data.full_time * 100
                            var progressbarWidth = percentOfPos + '%'
                            $('#progressBar').width(progressbarWidth)
                            secondsToTime(data.value, '#currentTime')
                            secondsToTime(data.full_time, '#fullTime')
                        }
                    })
                    pressing_btn = 'chup'
                    break;
                // ch-
                case 'chdown': // быстрая перемотка
                    // показываю меню
                    $("#playerMenu").animate({ opacity: 1 }, 100)
                    mb.send('player.seek', { delta: -300 })
                    mb.listen('player:media.position', function (data) {
                        if (data.value > 300) {
                            var percentOfPos = data.value / data.full_time * 100
                            var progressbarWidth = percentOfPos + '%'
                            $('#progressBar').width(progressbarWidth)
                            secondsToTime(data.value, '#currentTime')
                            secondsToTime(data.full_time, '#fullTime')
                        }
                    })
                    pressing_btn = 'chdown'
                    break;
            }

        });


       
    </script>
</body>

</html>