<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/keyboard.css" />
    <script type="text/javascript" src="libs/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="libs/lodash.compat.min.js"></script>
    <script type="text/javascript" src="libs/event_emitter.js"></script>
    <script type="text/javascript" src="js/lib/smartbox.js"></script>
    <script>
        // запуск навигации
        $(function () {
            $$nav.on()
        })
    </script>
</head>

<style>
    body {
        margin: 0;
        padding: 0;
        position: relative;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    li,span, label {
        color: #fff;
        font-family: 'Roboto Mono', monospace;
    }

    .wrap {
        max-width: 100%;
        margin: 0 auto;
    }

    .bg {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(/img/mainBg.jpg)  100% 100%;
        z-index: -1;
    }


    .searchBlock {
        width: 100%;
        margin: 0 auto;
        height: 50px;
    }
    .mainText {
        margin: 150px auto;
        width: 500px;
        text-align: center;
    }

    .searchBlock-container {
        position: relative;
        padding: 15px;
        background: rgba(0, 0, 0, 0.685);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
        height: 100%;
    }

    .search-input {
        position: relative;
        margin: 10px 10px 0 0;
        width: 100%;
        height: 40px;
        color: white;
        font-size: 24px;
        margin-bottom: -10px;
        text-align: start;
         border-bottom: 1px solid transparent;
    }

    .search-button {
        position: absolute;
        right: 30px;
        background-color: #09a3e0;
        padding: 5px;
        color: white;
        border: 1px solid white;
        border-radius: 3px;
        margin-top: 15px;
        border: 3px solid transparent;
    }

    .searchBlock-container .focus {
        border: 3px solid yellow;
    }

    .clickOk {
        position: absolute;
        top: 5px;
        color: rgba(165, 165, 165, 0.582);
    }

    .searchImg {
       position: absolute;
       bottom: 15px;
       top: 35px;
       left: 10px;
       margin-right: 25px;
       width: 25px;
       height: 25px;
    }
    .inputInnerBlock {
        width: 89%;
        position: absolute;
        display: inline-block;
        margin-left: 30px;
       
    }
    .inputInnerBlock .focus{
        border: none;
        border-bottom: 1px solid white;
    }
    label {
        color: gray;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .smart_input-text {
        position: absolute;
        left: 0;
        bottom: 5px;
    }
   
</style>

<body>

    <div class="bg"></div>
    <div id="app" class="app wrap">
        <div class="searchBlock">
            <div class="scene js-scene-input navigation-items searchBlock-container" data-nav_loop="true">
                <span class="clickOk">Нажмите кнопку "OK" для вызова клавиатуры</span>
                <img class="searchImg" src="/img/search.svg" alt="search">
                <div class="inputInnerBlock">
                    <label for="input">Введите название</label>
                    <input name="input" type="text" id="input" class="nav-item search-input input-item" name="input"
                        placeholder="Введите текст">
                </div>
                <button type="button" id="inputBtn" class="navigation-item nav-item search-button">Поиск</button>
            </div>
        </div>
        <div class="mainText">
            <h1>Введите текст для поиска</h1>
        </div>
    </div>
    <script type="text/javascript">
        var inputElem = document.getElementById("input");

        $('#input')
            .SBInput({
                keyboard: {
                    type: 'fulltext_ru_nums'
                }
            });
        $(".inputInnerBlock").on("click", '.focus', function (e) {
            $('label').hide()
        })
       
        var bla
        $('html').keyup(function (e) {
                bla = inputElem.getAttribute('data-value') // get the current value of the input field.
                $('button#inputBtn.focus').on('click', function () {
                    window.location = '/searchItem?' + bla
                });
                switch (e.keyCode) {
                case 8: /* назад */
                    window.location = '/'
                    break;
                case 89:
                    window.location = '/searchItem?' + bla
                    break;
                case 39: //right
                    if ($('button#inputBtn.focus')[0] && $('#input').val === '') {
                        $('label').show()
                    }
                    break;
            }
            });




    </script>
</body>

</html>