
            <li data-imageId="imageundefined" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilmundefined" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="imageundefined" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilmundefined = document.getElementById('fullhdFilmundefined');
             fullHdfilmundefined.addEventListener("click", function (event) {document.location.href = "/playerFullHdundefined"; $$nav.off()});
            </script>
            
            <li data-imageId="imageundefined" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilmundefined" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="imageundefined" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilmundefined = document.getElementById('fullhdFilmundefined');
             fullHdfilmundefined.addEventListener("click", function (event) {document.location.href = "/playerFullHdundefined"; $$nav.off()});
            </script>
            
            <li data-imageId="imageundefined" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilmundefined" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="imageundefined" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilmundefined = document.getElementById('fullhdFilmundefined');
             fullHdfilmundefined.addEventListener("click", function (event) {document.location.href = "/playerFullHdundefined"; $$nav.off()});
            </script>
            
            <li data-imageId="imageundefined" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilmundefined" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="imageundefined" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilmundefined = document.getElementById('fullhdFilmundefined');
             fullHdfilmundefined.addEventListener("click", function (event) {document.location.href = "/playerFullHdundefined"; $$nav.off()});
            </script>
            
            <li data-imageId="imageundefined" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilmundefined" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="imageundefined" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilmundefined = document.getElementById('fullhdFilmundefined');
             fullHdfilmundefined.addEventListener("click", function (event) {document.location.href = "/playerFullHdundefined"; $$nav.off()});
            </script>
            
            <li data-imageId="imageundefined" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilmundefined" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="imageundefined" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilmundefined = document.getElementById('fullhdFilmundefined');
             fullHdfilmundefined.addEventListener("click", function (event) {document.location.href = "/playerFullHdundefined"; $$nav.off()});
            </script>
            
            <li data-imageId="imageundefined" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilmundefined" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="imageundefined" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilmundefined = document.getElementById('fullhdFilmundefined');
             fullHdfilmundefined.addEventListener("click", function (event) {document.location.href = "/playerFullHdundefined"; $$nav.off()});
            </script>
            
            <li data-imageId="imageundefined" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilmundefined" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="imageundefined" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilmundefined = document.getElementById('fullhdFilmundefined');
             fullHdfilmundefined.addEventListener("click", function (event) {document.location.href = "/playerFullHdundefined"; $$nav.off()});
            </script>
            
            <li data-imageId="imageundefined" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilmundefined" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="imageundefined" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilmundefined = document.getElementById('fullhdFilmundefined');
             fullHdfilmundefined.addEventListener("click", function (event) {document.location.href = "/playerFullHdundefined"; $$nav.off()});
            </script>
            
            <li data-imageId="imageundefined" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilmundefined" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="imageundefined" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilmundefined = document.getElementById('fullhdFilmundefined');
             fullHdfilmundefined.addEventListener("click", function (event) {document.location.href = "/playerFullHdundefined"; $$nav.off()});
            </script>
            