
            <li data-imageId="image0" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm0" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image0" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm0 = document.getElementById('fullhdFilm0');
             fullHdfilm0.addEventListener("click", function (event) {document.location.href = "/playerFullHd0"; $$nav.off()});
            </script>
            
            <li data-imageId="image1" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm1" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image1" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm1 = document.getElementById('fullhdFilm1');
             fullHdfilm1.addEventListener("click", function (event) {document.location.href = "/playerFullHd1"; $$nav.off()});
            </script>
            
            <li data-imageId="image2" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm2" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image2" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm2 = document.getElementById('fullhdFilm2');
             fullHdfilm2.addEventListener("click", function (event) {document.location.href = "/playerFullHd2"; $$nav.off()});
            </script>
            
            <li data-imageId="image3" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm3" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image3" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm3 = document.getElementById('fullhdFilm3');
             fullHdfilm3.addEventListener("click", function (event) {document.location.href = "/playerFullHd3"; $$nav.off()});
            </script>
            
            <li data-imageId="image4" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm4" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image4" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm4 = document.getElementById('fullhdFilm4');
             fullHdfilm4.addEventListener("click", function (event) {document.location.href = "/playerFullHd4"; $$nav.off()});
            </script>
            
            <li data-imageId="image5" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm5" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image5" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm5 = document.getElementById('fullhdFilm5');
             fullHdfilm5.addEventListener("click", function (event) {document.location.href = "/playerFullHd5"; $$nav.off()});
            </script>
            
            <li data-imageId="image6" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm6" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image6" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm6 = document.getElementById('fullhdFilm6');
             fullHdfilm6.addEventListener("click", function (event) {document.location.href = "/playerFullHd6"; $$nav.off()});
            </script>
            
            <li data-imageId="image7" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm7" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image7" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm7 = document.getElementById('fullhdFilm7');
             fullHdfilm7.addEventListener("click", function (event) {document.location.href = "/playerFullHd7"; $$nav.off()});
            </script>
            
            <li data-imageId="image8" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm8" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image8" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm8 = document.getElementById('fullhdFilm8');
             fullHdfilm8.addEventListener("click", function (event) {document.location.href = "/playerFullHd8"; $$nav.off()});
            </script>
            
            <li data-imageId="image9" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm9" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image9" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm9 = document.getElementById('fullhdFilm9');
             fullHdfilm9.addEventListener("click", function (event) {document.location.href = "/playerFullHd9"; $$nav.off()});
            </script>
            
            <li data-imageId="image10" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm10" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image10" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm10 = document.getElementById('fullhdFilm10');
             fullHdfilm10.addEventListener("click", function (event) {document.location.href = "/playerFullHd10"; $$nav.off()});
            </script>
            
            <li data-imageId="image11" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm11" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image11" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm11 = document.getElementById('fullhdFilm11');
             fullHdfilm11.addEventListener("click", function (event) {document.location.href = "/playerFullHd11"; $$nav.off()});
            </script>
            
            <li data-imageId="image12" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm12" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image12" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm12 = document.getElementById('fullhdFilm12');
             fullHdfilm12.addEventListener("click", function (event) {document.location.href = "/playerFullHd12"; $$nav.off()});
            </script>
            
            <li data-imageId="image13" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm13" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image13" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm13 = document.getElementById('fullhdFilm13');
             fullHdfilm13.addEventListener("click", function (event) {document.location.href = "/playerFullHd13"; $$nav.off()});
            </script>
            
            <li data-imageId="image14" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm14" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image14" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm14 = document.getElementById('fullhdFilm14');
             fullHdfilm14.addEventListener("click", function (event) {document.location.href = "/playerFullHd14"; $$nav.off()});
            </script>
            
            <li data-imageId="image15" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm15" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image15" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm15 = document.getElementById('fullhdFilm15');
             fullHdfilm15.addEventListener("click", function (event) {document.location.href = "/playerFullHd15"; $$nav.off()});
            </script>
            
            <li data-imageId="image16" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm16" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image16" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm16 = document.getElementById('fullhdFilm16');
             fullHdfilm16.addEventListener("click", function (event) {document.location.href = "/playerFullHd16"; $$nav.off()});
            </script>
            
            <li data-imageId="image17" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm17" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image17" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm17 = document.getElementById('fullhdFilm17');
             fullHdfilm17.addEventListener("click", function (event) {document.location.href = "/playerFullHd17"; $$nav.off()});
            </script>
            
            <li data-imageId="image18" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm18" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image18" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm18 = document.getElementById('fullhdFilm18');
             fullHdfilm18.addEventListener("click", function (event) {document.location.href = "/playerFullHd18"; $$nav.off()});
            </script>
            
            <li data-imageId="image19" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm19" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image19" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm19 = document.getElementById('fullhdFilm19');
             fullHdfilm19.addEventListener("click", function (event) {document.location.href = "/playerFullHd19"; $$nav.off()});
            </script>
            
            <li data-imageId="image20" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm20" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image20" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm20 = document.getElementById('fullhdFilm20');
             fullHdfilm20.addEventListener("click", function (event) {document.location.href = "/playerFullHd20"; $$nav.off()});
            </script>
            
            <li data-imageId="image21" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm21" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image21" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm21 = document.getElementById('fullhdFilm21');
             fullHdfilm21.addEventListener("click", function (event) {document.location.href = "/playerFullHd21"; $$nav.off()});
            </script>
            
            <li data-imageId="image22" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm22" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image22" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm22 = document.getElementById('fullhdFilm22');
             fullHdfilm22.addEventListener("click", function (event) {document.location.href = "/playerFullHd22"; $$nav.off()});
            </script>
            