
            <li data-imageId="image1" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm1" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image1" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm1 = document.getElementById('fullhdFilm1');
             fullHdfilm1.addEventListener("click", function (event) {document.location.href = "/playerFullHd1"; $$nav.off()});
            </script>
            
            <li data-imageId="image2" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm2" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image2" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm2 = document.getElementById('fullhdFilm2');
             fullHdfilm2.addEventListener("click", function (event) {document.location.href = "/playerFullHd2"; $$nav.off()});
            </script>
            
            <li data-imageId="image3" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm3" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image3" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm3 = document.getElementById('fullhdFilm3');
             fullHdfilm3.addEventListener("click", function (event) {document.location.href = "/playerFullHd3"; $$nav.off()});
            </script>
            
            <li data-imageId="image4" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm4" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image4" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm4 = document.getElementById('fullhdFilm4');
             fullHdfilm4.addEventListener("click", function (event) {document.location.href = "/playerFullHd4"; $$nav.off()});
            </script>
            
            <li data-imageId="image5" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm5" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image5" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm5 = document.getElementById('fullhdFilm5');
             fullHdfilm5.addEventListener("click", function (event) {document.location.href = "/playerFullHd5"; $$nav.off()});
            </script>
            
            <li data-imageId="image6" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm6" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image6" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm6 = document.getElementById('fullhdFilm6');
             fullHdfilm6.addEventListener("click", function (event) {document.location.href = "/playerFullHd6"; $$nav.off()});
            </script>
            
            <li data-imageId="image7" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm7" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image7" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm7 = document.getElementById('fullhdFilm7');
             fullHdfilm7.addEventListener("click", function (event) {document.location.href = "/playerFullHd7"; $$nav.off()});
            </script>
            
            <li data-imageId="image8" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm8" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image8" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm8 = document.getElementById('fullhdFilm8');
             fullHdfilm8.addEventListener("click", function (event) {document.location.href = "/playerFullHd8"; $$nav.off()});
            </script>
            
            <li data-imageId="image9" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm9" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image9" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm9 = document.getElementById('fullhdFilm9');
             fullHdfilm9.addEventListener("click", function (event) {document.location.href = "/playerFullHd9"; $$nav.off()});
            </script>
            
            <li data-imageId="image10" href="http://172.16.0.10/films/Transformers.Rise.of.the.Beasts.2023.mkv" id="fullhdFilm10" class="channel nav-item">
                <a>Трансформеры: Восхождение Звероботов</a>
            </li>
            <div id="image10" class="fullHdFilmPoster hidden" style="background: url('https://i.ibb.co/ky1mzbT/147681.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
            </div>
            <script type="text/javascript">
            var fullHdfilm10 = document.getElementById('fullhdFilm10');
             fullHdfilm10.addEventListener("click", function (event) {document.location.href = "/playerFullHd10"; $$nav.off()});
            </script>
            