
         <div id='navbar'>
            <div class="navbar_wrap">
                <div class="posterImg" style="background-image: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4397762.jpg');background-repeat: no-repeat; background-size: 100% 100%;" alt="posterimg"></div>
                <h2>Скрежет металла</h2>
                <p>Год:2023</p>
                <p>Жанр:фантастика,боевик,комедия</p>
                <p>Режиссер:Китао Сакурай,Билл Бенц,Джуд Вэн</p>
            </div>
        </div>
        <div class="poster_playerBlock">
            <div class="posterScreenshot" style="background-image: url('https://n36p.bazonserver.site/video/96319/poster.jpg');background-repeat: no-repeat; background-size: 100% 100%;">
            </div>
            <p>Джон Доу бороздит просторы постапокалиптической Америки на оснащённом оружием автомобиле. Он должен выполнить опасную миссию, но ему мешает безумный клоун-убийца Сладкоежка....</p>
        </div>
        