
         <div>
            <div id='navbar'>
            <div class="navbar_wrap">
                <div class="posterImg" style="background-image: url('https://bazon.cc/download/poster/5364439.jpg');background-repeat: no-repeat; background-size: 100% 100%;" alt="posterimg"></div>
                <h2>LEGO Мстители Марвел: Код красный</h2>
                <p>Год:2023</p>
                <p>Жанр:мультфильм,фантастика,боевик,комедия,приключения,семейный</p>
                <img class="logo" src="../../../img/ucontv.png" alt="ucontv" />
            </div>
        </div>
        <div class="poster_playerBlock">
            <div class="posterScreenshot" style="background:rgb(34, 34, 34);background-repeat: no-repeat; background-size: 100% 100%;">
            <div class="playImgBlock">
            <img src="/img/playImg.svg" alt="playImg" />
            </div>
            </div>
            <p>Мстители готовятся отметить свою последнюю победу, но их радостное мероприятие внезапно нарушается загадочным исчезновением отца Чёрной Вдовы, известного как Красный Страж. В ходе расследования этого происшествия Мстители узнают, что исчезновение Красного Стража далеко не единственное, и они сталкиваются с новым страшным врагом, который представляе...</p>
        </div>
         