
          <div>
            <div id='navbar'>
            <div class="navbar_wrap">
                <div class="posterImg" style="background-image: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10671298/5859a0e6-b3e0-444a-949e-844079332f85/orig');background-repeat: no-repeat; background-size: 100% 100%;" alt="posterimg"></div>
                <h2>undefined</h2>
                <p>Год:2023</p>
                <p>Жанр:драма</p>
                <img class="logo" src="../../../img/ucontv.png" alt="ucontv" />
            </div>
        </div>
        <div class="poster_playerBlock">
            <div class="posterScreenshot" style="background: rgb(34, 34, 34);background-repeat: no-repeat; background-size: 100% 100%;">
            <div class="playImgBlock">
            <img src="/img/playImg.svg" alt="playImg" />
            </div>
            </div>
             <p>После драматичных событий — бывшая жена осуждена за убийство, отец неизлечимо болен, возлюбленная ушла — Артём Стрелецкий решает начать всё заново: переезжает к морю, туда, где сам был счастлив в детстве, устраивается работать барменом и знакомится с Майей, которая тоже психолог. Она и поможет Стрелецкому посмотреть на себя с другого ракурса и прор... </p>
        </div>
         <script type="text/javascript">
         $(document).keydown(function (e) {
            if (e.keyCode === 13) {
                document.location.href = "/selectTranslation49586683";
            }
         })
         </script>
         </div>
        