
          <div>
            <div id='navbar'>
            <div class="navbar_wrap">
                <div class="posterImg" style="background-image: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5429849.jpg');background-repeat: no-repeat; background-size: 100% 100%;" alt="posterimg"></div>
                <h2>60 минут</h2>
                <p>Год:2024</p>
                <p>Жанр:боевик, криминал, спорт</p>
                <img class="logo" src="../../../img/ucontv.png" alt="ucontv" />
            </div>
        </div>
        <div class="poster_playerBlock">
            <div class="posterScreenshot" style="background: rgb(34, 34, 34);background-repeat: no-repeat; background-size: 100% 100%;">
            <div class="playImgBlock">
            <img src="/img/playImg.svg" alt="playImg" />
            </div>
            </div>
            <p className="descripText">Молодой боец MMA Октавио Бергман перед началом важного боя отказывается выходить на ринг и решает отправиться на день рождения дочери. У него всего час, чтобы добраться до места назначения, ведь в противном случае бывшая жена подаст заявление на единоличную опеку над ребёнком. Однако на этот бой серьёзные люди поставили серьёзные деньги, и вдогонку... </p>
             <img height="110px" alt="advices" src="/img/btnAdvice2.png" />
        </div>
         <script type="text/javascript">
          $(document).keydown(function (e) {
            if (e.keyCode === 13) {
                  if (isPlaylistShow === false) {
                $('#playlistSeasons').show()
                $$nav.on("#listseasons")
                isPlaylistShow = true;
                document.location.href = "/selectTranslation54298492";
            }
            }
         })
        </script>
         </div>
        