
          <div>
            <div id='navbar'>
            <div class="navbar_wrap">
                <div class="posterImg" style="background-image: url('https://bazon.cc/download/poster/4991145.jpg');background-repeat: no-repeat; background-size: 100% 100%;" alt="posterimg"></div>
                <h2>Полтора дня</h2>
                <p>Год:2023</p>
                <p>Жанр:триллер,драма,боевик</p>
            </div>
        </div>
        <div class="poster_playerBlock">
            <div class="posterScreenshot" style="background: rgb(34, 34, 34);background-repeat: no-repeat; background-size: 100% 100%;">
            <div class="playImgBlock">
            <img src="/img/playImg.svg" alt="playImg" />
            </div>
            </div>
            <p>Полицейский Лукас оказывается в самом напряженном и эмоционально насыщенном дорожном путешествии, когда вынужден выслеживать Артана и Луизу, разведенную пару. Весь этот критический момент начинается, когда Артан решает взять Луизу в заложники, став это единственным способом воссоединиться со своей дочерью. Путешествие прокладывается через маленькие...</p>
        </div>
         