
          <div>
            <div id='navbar'>
            <div class="navbar_wrap">
                <div class="posterImg" style="background-image: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4750522.jpg');background-repeat: no-repeat; background-size: 100% 100%;" alt="posterimg"></div>
                <h2>Трое лишних</h2>
                <p>Год:2023</p>
                <p>Жанр:мелодрама,комедия</p>
                <p>Режиссер:Фабио Де Луиджи</p>
            </div>
        </div>
        <div class="poster_playerBlock">
            <div class="posterScreenshot" style="background: rgb(70, 70, 70);background-repeat: no-repeat; background-size: 100% 100%;">
            <div class="playImgBlock">
            <img src="/img/playImg.svg" alt="playImg" />
            </div>
            </div>
            <p>Марко и Джулия - счастливая пара, которая сознательно решает не иметь детей. Они оба наслаждаются своей свободой, карьерой и взаимопониманием в отношениях. У них сложившийся план на будущее, который не включает детей, и они чувствуют, что их решение вполне обосновано.<br /><br />Однако, судьба подготовила им неожиданный сюрприз. Джулия узнает, что ...</p>
        </div>
         <script type="text/javascript">
         $(document).keydown(function (e) {
            if (e.keyCode === 38) {
                document.location.href = "/selectTranslation47505225";
            }
         })
         </script>
         </div>
        