
         <div>
         <div id='navbar'>
            <div class="navbar_wrap">
                <div class="posterImg" style="background-image: url('https://kinopoiskapiunofficial.tech/images/posters/kp/464963.jpg');background-repeat: no-repeat; background-size: 100% 100%;" alt="posterimg"></div>
                <h2>Игра престолов</h2>
                <p>Год:2011</p>
                <img class="logo" src="../../../img/ucontv.png" alt="ucontv" />
            </div>
        </div>
        <div class="poster_playerBlock">
            <div class="posterScreenshot" style="background: rgb(34, 34, 34);background-repeat: no-repeat; background-size: 100% 100%;">
            <div class="playImgBlock">
            <img src="/img/playImg.svg" alt="playImg" />
            </div>
            </div>
            <p>Нажмите "ОК" для воспроизведения</p>
        </div>
        <script type="text/javascript">
         $(document).keydown(function (e) {
            if (e.keyCode === 13) {
              $('.waitingPopup').show()
              if (document.location.href.includes('filmInfo')) {
                  document.location.href = "/selectEpisode&4649633";;
                } else {
                  return false
                }
                
               
            }
         })
        </script>
      </div>
        