
          <div>
            <div id='navbar'>
            <div class="navbar_wrap">
                <div class="posterImg" style="background-image: url('https://bazon.cc/download/poster/5005566.jpg');background-repeat: no-repeat; background-size: 100% 100%;" alt="posterimg"></div>
                <h2>Джови и Лу</h2>
                <p>Год:2023</p>
                <p>Жанр:драма,комедия</p>
            </div>
        </div>
        <div class="poster_playerBlock">
            <div class="posterScreenshot" style="background: rgb(34, 34, 34);background-repeat: no-repeat; background-size: 100% 100%;">
            <div class="playImgBlock">
            <img src="/img/playImg.svg" alt="playImg" />
            </div>
            </div>
            <p>История о Джои, который оказывается в отчаянной ситуации после автокатастрофы, в которой его жена попадает в кому. Стремясь сделать все возможное, чтобы спасти свою любимую, Джои заключает сделку с таинственным и зловещим Лу. Эта сделка обещает спасение жизни его жены, но она требует от него нечто невероятное и связанное с непредсказуемыми последст...</p>
        </div>
         