
          <div>
            <div id='navbar'>
            <div class="navbar_wrap">
                <div class="posterImg" style="background-image: url('https://bazon.cc/download/poster/5256888.jpg');background-repeat: no-repeat; background-size: 100% 100%;" alt="posterimg"></div>
                <h2>Взрослые</h2>
                <p>Год:2023</p>
                <p>Жанр:драма,комедия</p>
                <p>Режиссер:Дастин Гай Дефа</p>
            </div>
        </div>
        <div class="poster_playerBlock">
            <div class="posterScreenshot" style="background: rgb(34, 34, 34);background-repeat: no-repeat; background-size: 100% 100%;">
            <div class="playImgBlock">
            <img src="/img/playImg.svg" alt="playImg" />
            </div>
            </div>
            <p>Эрик вернулся в родной провинциальный городок, где проживают его родные сестры — старшая Рейчел и младшая Мэгги. Его возвращение вызвано не только тягой к родным местам, но и желанием доказать себе и окружающим, что он по-прежнему остается лучшим игроком в покер среди местных жителей. Эрик решает остаться дома некоторое время, чтобы продемонстриров...</p>
        </div>
         <script type="text/javascript">
         $(document).keydown(function (e) {
            if (e.keyCode === 13) {
                document.location.href = "/selectTranslation52568883";
            }
         })
         </script>
         </div>
        