
          <div>
            <div id='navbar'>
            <div class="navbar_wrap">
                <div class="posterImg" style="background-image: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5235921.jpg');background-repeat: no-repeat; background-size: 100% 100%;" alt="posterimg"></div>
                <h2>Нежити не повезло</h2>
                <p>Год:2023</p>
                <p>Жанр:аниме,мультфильм,боевик,комедия,фэнтези</p>
                <img class="logo" src="../../../img/ucontv.png" alt="ucontv" />
            </div>
        </div>
        <div class="poster_playerBlock">
            <div class="posterScreenshot" style="background: rgb(34, 34, 34);background-repeat: no-repeat; background-size: 100% 100%;">
            <div class="playImgBlock">
            <img src="/img/playImg.svg" alt="playImg" />
            </div>
            </div>
            <p>История о Фуко Идзумо - девушке, чья жизнь полна трудностей и горя из-за своей необычной особенности приносить неудачу через прикосновение. В силу этой необычной способности она чувствует себя изолированной и одинокой, исключена из обыденного социального взаимодействия, так как даже случайное прикосновение может принести беду окружающим.<br /><br /...</p>
        </div>
         