
          <div>
            <div id='navbar'>
            <div class="navbar_wrap">
                <div class="posterImg" style="background-image: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5147334.jpg');background-repeat: no-repeat; background-size: 100% 100%;" alt="posterimg"></div>
                <h2>Реинкарнация сильнейшего оммёдзи: Эти монстры слишком слабые по сравнению с моим ёкаем</h2>
                <p>Год:2023</p>
                <p>Жанр:аниме,мультфильм,фэнтези,приключения,боевик</p>
                <img class="logo" src="../../../img/ucontv.png" alt="ucontv" />
            </div>
        </div>
        <div class="poster_playerBlock">
            <div class="posterScreenshot" style="background: rgb(34, 34, 34);background-repeat: no-repeat; background-size: 100% 100%;">
            <div class="playImgBlock">
            <img src="/img/playImg.svg" alt="playImg" />
            </div>
            </div>
            <p>Один из сильнейших экзорцистов Харуёси Куга купается в лучах славы и стремится к ещё большей власти. Но завистников и недоброжелателей у Харуёси предостаточно, поэтому его в конце концов убивают. Но перед смертью он произносит заклинание реинкарнации и клянётся стать более хитрым. И вот Харуёси перерождается в другом мире под именем Сэйка Лампрог, ...</p>
        </div>
         