
         <div id='navbar'>
            <div class="navbar_wrap">
                <div class="posterImg" style="background-image: url('https://bazon.cc/download/poster/4672960.jpg');background-repeat: no-repeat; background-size: 100% 100%;" alt="posterimg"></div>
                <h2>Солнце и Луна</h2>
                <p>Год:2023</p>
                <p>Жанр:драма,мелодрама</p>
                <p>Режиссер:Sydney Tooley</p>
            </div>
        </div>
        <div class="poster_playerBlock">
            <div class="posterScreenshot" style="background-image: url('https://n36p.bazonserver.site/video/96279/poster.jpg');background-repeat: no-repeat; background-size: 100% 100%;">
            </div>
            <p>В Тайване Келси находит убежище от своих эмоциональных ран и разочарований. Здесь она начинает новую главу своей жизни и сталкивается с удивительными культурными и жизненными сюрпризами.<br /><br />Келси погружается в местную культуру и обычаи, старается выучить язык и понять менталитет местных жителей. Она заводит новых друзей и находит поддержку ...</p>
        </div>
        <script type="text/javascript">
           // при клике на стрелку перейти обратно
        $(document).keydown(function (e) {
                switch (e.key) {
                case 'ArrowUp':
                    document.location.href = "/selectTranslation46729606";
                break;
            }
         })
        </script>
        