
          <div>
            <div id='navbar'>
            <div class="navbar_wrap">
                <div class="posterImg" style="background-image: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5230828.jpg');background-repeat: no-repeat; background-size: 100% 100%;" alt="posterimg"></div>
                <h2>Поднятие уровня в одиночку</h2>
                <p>Год:2024</p>
                <p>Жанр:аниме, мультфильм, боевик, фэнтези</p>
                <img class="logo" src="../../../img/ucontv.png" alt="ucontv" />
            </div>
        </div>
        <div class="poster_playerBlock">
            <div class="posterScreenshot" style="background: rgb(34, 34, 34);background-repeat: no-repeat; background-size: 100% 100%;">
            <div class="playImgBlock">
            <img src="/img/playImg.svg" alt="playImg" />
            </div>
            </div>
            <p className="descripText">10 лет назад открылись врата в другой мир, где людям дозволено убивать монстров. Так появились охотники, преследующие и уничтожающие тварей. Но не каждому из них суждено повысить свой уровень и стать сильнее. Сон Джин-у был охотником низшего E-ранга, у которого не было ни единого шанса продвинуться по ранговой лестнице, пока однажды он случайно не ... </p>
            <img height="110px" alt="advices" src="/img/btnAdvice2.png" />
        </div>
         <script type="text/javascript">
          $(document).keydown(function (e) {
            if (e.keyCode === 13) {
                  if (isPlaylistShow === false) {
                $('#playlistSeasons').show()
                $$nav.on("#listseasons")
                isPlaylistShow = true;
                ;
            }
            }
         })
        </script>
         </div>
        