
          <div>
            <div id='navbar'>
            <div class="navbar_wrap">
                <div class="posterImg" style="background-image: url('http://st.kp.yandex.net/images/film_iphone/iphone360_1390793.jpg');background-repeat: no-repeat; background-size: 100% 100%;" alt="posterimg"></div>
                <h2>Беглец</h2>
                <p>Год:2023</p>
                <p>Жанр:боевик, триллер</p>
                <img class="logo" src="../../../img/ucontv.png" alt="ucontv" />
            </div>
        </div>
        <div class="poster_playerBlock">
            <div class="posterScreenshot" style="background: rgb(34, 34, 34);background-repeat: no-repeat; background-size: 100% 100%;">
            <div class="playImgBlock">
            <img src="/img/playImg.svg" alt="playImg" />
            </div>
            </div>
             <p>После выполнения диверсионной операции в Иране оперативник ЦРУ Том Харрис, работающий под прикрытием, готовится к следующему заданию на территории Афганистана. Но в результате утечки информации подлинная личность Тома становится известна спецслужбам Ирана, Афганистана и Пакистана, которые бросают все силы на его поимку. Теперь у Харриса есть лишь 3... </p>
        </div>
         