
          <div>
            <div id='navbar'>
            <div class="navbar_wrap">
                <div class="posterImg" style="background-image: url('https://bazon.cc/download/poster/5082399.jpg');background-repeat: no-repeat; background-size: 100% 100%;" alt="posterimg"></div>
                <h2>По зову долга</h2>
                <p>Год:2023</p>
                <p>Жанр:боевик</p>
                <p>Режиссер:Эшли Л. Гибсон</p>
            </div>
        </div>
        <div class="poster_playerBlock">
            <div class="posterScreenshot" style="background: rgb(102, 102, 102);background-repeat: no-repeat; background-size: 100% 100%;">
            <div class="playImgBlock">
            <img src="/img/playImg.svg" alt="playImg" />
            </div>
            </div>
            <p>Драматический фильм По зову долга расскажет историю захватывающих событий и испытаний, которые ожидают отборный отряд женских истребителей, отправляющихся в опасное боевое задание за вражеские линии. <br /><br />Когда США сталкивается с угрозой со стороны Норд Киюнга, стране необходимо найти мощный ответ. Специальные силы ВВС выделяют отборный отря...</p>
        </div>
         <script type="text/javascript">
         $(document).keydown(function (e) {
            if (e.keyCode === 38) {
                document.location.href = "/selectTranslation50823992";
            }
         })
         </script>
         </div>
        