
         <div id='navbar'>
            <div class="navbar_wrap">
                <div class="posterImg" style="background-image: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5123188.jpg');background-repeat: no-repeat; background-size: 100% 100%;" alt="posterimg"></div>
                <h2>До встречи на Венере</h2>
                <p>Год:2023</p>
                <p>Жанр:драма,мелодрама</p>
                <p>Режиссер:Хоакин Льямас</p>
            </div>
        </div>
        <div class="poster_playerBlock">
            <div class="posterScreenshot" style="background-image: url('https://c45n.bazonserver.site/video/96315/poster.jpg');background-repeat: no-repeat; background-size: 100% 100%;">
            </div>
            <p>Миа — всегда в движении и на позитиве. Кайл замкнулся в себе и, кажется, ничто не может вернуть ему вкус к жизни. Они встретились случайно, но именно тогда, когда в этом больше всего нуждались. Мии срочно необходим попутчик для поездки из Америки в Испанию, чтобы найти свою настоящую маму, и она не принимает слово «нет» в качестве ответа. Вместе их...</p>
        </div>
        <script type="text/javascript">
           // при клике на стрелку перейти обратно
        $(document).keydown(function (e) {
                switch (e.key) {
                case 'ArrowUp':
                    document.location.href = "/selectTranslation51231881";
                break;
            }
         })
        </script>
        