
         <div>
         <div id='navbar'>
            <div class="navbar_wrap">
                <div class="posterImg" style="background-image: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4471789.jpg');background-repeat: no-repeat; background-size: 100% 100%;" alt="posterimg"></div>
                <h2>Линкольн для адвоката</h2>
                <p>Год:2022</p>
                <p>Жанр:триллер,драма,криминал,детектив</p>
                <p>Режиссер:Дэвид Гроссман,Алонсо Альварез,Билл Д’Элиа</p>
            </div>
        </div>
        <div class="poster_playerBlock">
            <div class="posterScreenshot" style="background: rgb(102, 102, 102);background-repeat: no-repeat; background-size: 100% 100%;">
            <div class="playImgBlock">
            <img src="/img/playImg.svg" alt="playImg" />
            </div>
            </div>
            <p>Успешный адвокат из Лос-Анджелеса Микки Холлер, оказавшийся вне игры после аварии, берётся за дело об убийстве, чтобы вернуться в строй....</p>
        </div>
        <script type="text/javascript">
         $(document).keydown(function (e) {
            if (e.keyCode === 38) {
                 if (isPlaylistShow === false) {
                $('#playlistSeasons').show()
                $$nav.on("#listseasons")
                isPlaylistShow = true;
            }
            }
         })
        </script>
      </div>
        