
         <div>
            <div id='navbar'>
            <div class="navbar_wrap">
                <div class="posterImg" style="background-image: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg');background-repeat: no-repeat; background-size: 100% 100%;" alt="posterimg"></div>
                <h2>Человек-паук: Паутина вселенных</h2>
                <p>Год:2023</p>
                <p>Жанр:мультфильм,фантастика,фэнтези,боевик,комедия,приключения,семейный</p>
                <p>Режиссер:Жуакин Душ Сантуш,Кемп Пауэрс,Джастин Томпсон</p>
            </div>
        </div>
        <div class="poster_playerBlock">
            <div class="posterScreenshot" style="background: rgb(102, 102, 102);background-repeat: no-repeat; background-size: 100% 100%;">
            <div class="playImgBlock">
            <img src="/img/playImg.svg" alt="playImg" />
            </div>
            </div>
            <p>Майлз Моралес отправляется в приключение по мультивселенной вместе с Гвен Стейси и новой командой Людей-пауков, которым предстоит столкнуться с могущественным злодеем....</p>
        </div>
         <script type="text/javascript">
        $(document).keydown(function (e) {
            if (e.keyCode === 38) {
                   if (isPlaylistShow === false) {
                $('#playlistSeasons').show()
                $$nav.on("#listseasons")
                isPlaylistShow = true;
                 document.location.href = "/selectTranslation12191770";
            }
            }
         })
        </script>
         </div>
        