
          <div>
            <div id='navbar'>
            <div class="navbar_wrap">
                <div class="posterImg" style="background-image: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4745359.jpg');background-repeat: no-repeat; background-size: 100% 100%;" alt="posterimg"></div>
                <h2>Больше, чем люди</h2>
                <p>Год:2023</p>
                <p>Жанр:фантастика,триллер</p>
                <p>Режиссер:Эйприл Маллен</p>
            </div>
        </div>
        <div class="poster_playerBlock">
            <div class="posterScreenshot" style="background: rgb(70, 70, 70);background-repeat: no-repeat; background-size: 100% 100%;">
            <div class="playImgBlock">
            <img src="/img/playImg.svg" alt="playImg" />
            </div>
            </div>
            <p>Недалекое будущее. Человечество, презрев законы бытия, избавилось от страха потери близких. Теперь есть андроиды, способные воспроизвести облик любимых людей. Фэй недавно потеряла мужа и решила воспользоваться достижением цивилизации. Однако, агент по надзору за интеллектом машин замечает нестандартное поведение ее андроида. Что это? Непостижимая и...</p>
        </div>
         <script type="text/javascript">
         $(document).keydown(function (e) {
            if (e.keyCode === 38) {
                document.location.href = "/selectTranslation47453593";
            }
         })
         </script>
         </div>
        