
          <div>
            <div id='navbar'>
            <div class="navbar_wrap">
                <div class="posterImg" style="background-image: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4419591.jpg');background-repeat: no-repeat; background-size: 100% 100%;" alt="posterimg"></div>
                <h2>Эхо</h2>
                <p>Год:2024</p>
                <p>Жанр:фантастика, боевик, драма, криминал, детектив, приключения</p>
                <img class="logo" src="../../../img/ucontv.png" alt="ucontv" />
            </div>
        </div>
        <div class="poster_playerBlock">
            <div class="posterScreenshot" style="background: rgb(34, 34, 34);background-repeat: no-repeat; background-size: 100% 100%;">
            <div class="playImgBlock">
            <img src="/img/playImg.svg" alt="playImg" />
            </div>
            </div>
            <p>Майя Лопес возвращается в родной город, где ей предстоит примириться со своим прошлым, восстановить связь с индейскими корнями, принять свою семью и местную общину.... </p>
        </div>
         