
         <div>
            <div id='filmInfo'>
            <div class="posterImg"
                style="background-image: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5355824.jpg');background-repeat: no-repeat; background-size: 100% 100%;"
                alt="posterimg"></div> 
            <div class="textinfo">
                <div class="textInfo_inner">
                    <h4 class="actorsText">Актеры:Бурджу Озберк,Шюкрю Озйылдыз,Аслы Сюмен,Тугрул Тулек,Зухал Генджер,Улку Дуру,Шехсувар Акташ</h4>
                    <p>Страна:Турция</p>
                    <p>Год:2023</p>
                    <p>Режиссер:Айтадж Джиджек</p>
                </div>
                <h2>Душа не слышит</h2>
            </div>
        </div>
        <p class="film_descr">Дживан Корал и его команда являются частью преступной организации по контрабанде золота. Агент разведки Онур Карасу под прикрытием проникает в их ряды, чтобы раскрыть их преступные махинации. Разворачивается опасная игра, где на кону стоят не только жизни, но и справедливость....</p>
        <navbar class="filmInfo_navbar">
            <!-- <div class="nav-logo"><img src="" alt=""></div> -->
            <div class="navbar_menu navigation-items">
                <div id="backBtn" class="nav_backbtn nav-item">
                    <img width="40" height="40" src="/img/arrowback.svg" alt="arrowback">
                    <h1>Назад</h1>
                </div>
                <div id="watchBtn" class="nav_watchbtn nav-item">
                    <h1>Смотреть</h1>
                </div>
            </div>
        </navbar>
         <script type="text/javascript">
          $('#backBtn').click(function() {
            document.location.href = "/";
        })
        $('#watchBtn').click(function() {
             if (isPlaylistShow === false) {
                $('#playlistSeasons').show()
                $$nav.on("#listseasons")
                isPlaylistShow = true;
                ;
            }
        })
        </script>
         </div>
        