
          <div>
            <div id='navbar'>
            <div class="navbar_wrap">
                <div class="posterImg" style="background-image: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4396771.jpg');background-repeat: no-repeat; background-size: 100% 100%;" alt="posterimg"></div>
                <h2>Великий беглец</h2>
                <p>Год:2023</p>
                <p>Жанр:драма</p>
                <img class="logo" src="../../../img/ucontv.png" alt="ucontv" />
            </div>
        </div>
        <div class="poster_playerBlock">
            <div class="posterScreenshot" style="background: rgb(34, 34, 34);background-repeat: no-repeat; background-size: 100% 100%;">
            <div class="playImgBlock">
            <img src="/img/playImg.svg" alt="playImg" />
            </div>
            </div>
            <p>Эта история происходит в 2014 году в Великобритании. Главный герой, 89-летний ветеран Второй мировой войны по имени Бернард Джордан, решает сбежать из дома престарелых, в котором он проживает. Его целью становится поездка во Францию, где он намерен почтить память своих павших боевых товарищей в связи с предстоящей 70-летней годовщиной высадки в Нор...</p>
        </div>
         <script type="text/javascript">
         $(document).keydown(function (e) {
            if (e.keyCode === 13) {
                document.location.href = "/selectTranslation43967713";
            }
         })
         </script>
         </div>
        