
         <div>
         <div id='navbar'>
            <div class="navbar_wrap">
                <div class="posterImg" style="background-image: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5255607.jpg');background-repeat: no-repeat; background-size: 100% 100%;" alt="posterimg"></div>
                <h2>СуперИвановы</h2>
                <div class="yearGenreDirector">
                <p>Год:2023</p>
                <p>Жанр:детектив,комедия</p>
                </div>
            </div>
        </div>
        <div class="poster_playerBlock">
            <div class="posterScreenshot" style="background: rgb(34, 34, 34);background-repeat: no-repeat; background-size: 100% 100%;">
            <div class="playImgBlock">
            <img src="/img/playImg.svg" alt="playImg" />
            </div>
            </div>
            <p>Женщины семьи Ивановых обладают удивительным даром — каждая своим. Дарина видит людей насквозь, её мама Тамара Петровна умеет варить зелья, а дар дочери-подростка Кати зрителю ещё предстоит узнать. И только супруг Дарины, школьный учитель физики Валера, остаётся верен науке. Вскоре сарафанное радио разносит слухи о волшебном семействе, и Ивановы на...</p>
        </div>
         