
         <div>
         <div id='navbar'>
            <div class="navbar_wrap">
                <div class="posterImg" style="background-image: url('https://st.kp.yandex.net/images/film_iphone/iphone360_462765.jpg');background-repeat: no-repeat; background-size: 100% 100%;" alt="posterimg"></div>
                <h2>Основание</h2>
                <p>Год:2021</p>
                <p>Жанр:фантастика,драма</p>
                <p>Режиссер:Алекс Грейвз,Роксанн Доусон,Дженнифер Фанг</p>
            </div>
        </div>
        <div class="poster_playerBlock">
            <div class="posterScreenshot" style="background: rgb(48, 48, 48);background-repeat: no-repeat; background-size: 100% 100%;">
            <div class="playImgBlock">
            <img src="/img/playImg.svg" alt="playImg" />
            </div>
            </div>
            <p>В далёком будущем люди расселились за пределами Земли. Однако Галактическая империя грозит рухнуть, согласно расчётам ученого Гэри Селдона. И он создаёт организацию «Основание», призванную восстановить человеческую цивилизацию после грядущих потрясений....</p>
        </div>
        <script type="text/javascript">
         $(document).keydown(function (e) {
            if (e.keyCode === 13) {
                 if (isPlaylistShow === false) {
                $('#playlistSeasons').show()
                $$nav.on("#listseasons")
                isPlaylistShow = true;
            }
            }
         })
        </script>
      </div>
        