
          <div>
            <div id='navbar'>
            <div class="navbar_wrap">
                <div class="posterImg" style="background-image: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4498603.jpg');background-repeat: no-repeat; background-size: 100% 100%;" alt="posterimg"></div>
                <h2>Месье Спейд</h2>
                <p>Год:2024</p>
                <p>Жанр:детектив, триллер, криминал, драма</p>
                <img class="logo" src="../../../img/ucontv.png" alt="ucontv" />
            </div>
        </div>
        <div class="poster_playerBlock">
            <div class="posterScreenshot" style="background: rgb(34, 34, 34);background-repeat: no-repeat; background-size: 100% 100%;">
            <div class="playImgBlock">
            <img src="/img/playImg.svg" alt="playImg" />
            </div>
            </div>
            <p className="descripText">Франция, 1963 год. В монастыре городка Бозуль кто-то убивает шестерых монахинь. Детектив Сэм Спейд, сменивший привычное ему обращение «мистер» на «месье», берется за это дело. Пока горожане скорбят о погибших, всплывают всё новые и новые секреты, появляются зацепки и вереница подозреваемых. А Сэм узнает, что убийства каким-то образом связаны с ребе... </p>
             <img height="120px" alt="advices" src="/img/btnAdvice2.png" />
        </div>
         