
         <div id='navbar'>
            <div class="navbar_wrap">
                <div class="posterImg" style="background-image: url('https://st.kp.yandex.net/images/film_iphone/iphone360_585727.jpg');background-repeat: no-repeat; background-size: 100% 100%;" alt="posterimg"></div>
                <h2>Благие знамения</h2>
                <p>Год:2019</p>
                <p>Жанр:комедия,фэнтези</p>
                <p>Режиссер:Дуглас Маккиннон</p>
            </div>
        </div>
        <div class="poster_playerBlock">
            <div class="posterScreenshot" style="background-image: url('https://i32o.bazonserver.site/video/96322/poster.jpg');background-repeat: no-repeat; background-size: 100% 100%;">
            </div>
            <p>В центре сюжета ангел Азирафель и демон Кроули, которые объединяют усилия, чтобы предотвратить конец света, так как за долгие века успели привыкнуть к жизни на земле....</p>
        </div>
        