
         <div id='navbar'>
            <div class="navbar_wrap">
                <div class="posterImg" style="background-image: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5272214.jpg');background-repeat: no-repeat; background-size: 100% 100%;" alt="posterimg"></div>
                <h2>Прощальное письмо</h2>
                <p>Год:2023</p>
                <p>Жанр:драма</p>
                <p>Режиссер:Deniz Çelebi</p>
            </div>
        </div>
        <div class="poster_playerBlock">
            <div class="posterScreenshot" style="background-image: url('https://z42b.bazonserver.site/video/92793/poster.jpg');background-repeat: no-repeat; background-size: 100% 100%;">
            </div>
            <p>История начинается 30 лет назад, когда молодая Аланур влюбляется в простого парня Зию. Несмотря на то, что ее богатые родители не одобряют ее выбор, Аланур готова на все, чтобы быть с любимым. Однако в один момент парень сбегает, оставив короткое прощальное письмо.С течением времени Аланур и Зия построили свои собственные семьи, они давно не общали...</p>
        </div>
         <script type="text/javascript">$(document).keydown(function (e) {switch (e.keyCode) {case 38:;break;}})</script>
        