
                                         <li id="quality502838129Дубляж480" class="channel nav-item"
                                     >
                                        <p>480p</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#quality502838129Дубляж480').click(function (e) {
                                     window.location = '/player5028380&season=1&episode=2&transl=%D0%94%D1%83%D0%B1%D0%BB%D1%8F%D0%B6&quality=480'
                                    })
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo5028389';
                                            break;
                                        }
                                    })
                                    if ( $('#quality502838129Дубляж2160') !== undefined) {
                                         $('#quality502838129Дубляж2160').removeClass('nav-item')
                                        $('#quality502838129Дубляж2160').addClass('lockQuality')
                                        $('#quality502838129Дубляж2160').append('<img src="/img/lock.png" alt="lock">')
                                        $('.blockedQualities').hide()
                                    }
                                    </script>
                                        
                                         <li id="quality502838129Дубляж720" class="channel nav-item"
                                     >
                                        <p>720p</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#quality502838129Дубляж720').click(function (e) {
                                     window.location = '/player5028381&season=1&episode=2&transl=%D0%94%D1%83%D0%B1%D0%BB%D1%8F%D0%B6&quality=720'
                                    })
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo5028389';
                                            break;
                                        }
                                    })
                                    if ( $('#quality502838129Дубляж2160') !== undefined) {
                                         $('#quality502838129Дубляж2160').removeClass('nav-item')
                                        $('#quality502838129Дубляж2160').addClass('lockQuality')
                                        $('#quality502838129Дубляж2160').append('<img src="/img/lock.png" alt="lock">')
                                        $('.blockedQualities').hide()
                                    }
                                    </script>
                                        
                                         <li id="quality502838129Дубляж1080" class="channel nav-item"
                                     >
                                        <p>1080p</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#quality502838129Дубляж1080').click(function (e) {
                                     window.location = '/player5028382&season=1&episode=2&transl=%D0%94%D1%83%D0%B1%D0%BB%D1%8F%D0%B6&quality=1080'
                                    })
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo5028389';
                                            break;
                                        }
                                    })
                                    if ( $('#quality502838129Дубляж2160') !== undefined) {
                                         $('#quality502838129Дубляж2160').removeClass('nav-item')
                                        $('#quality502838129Дубляж2160').addClass('lockQuality')
                                        $('#quality502838129Дубляж2160').append('<img src="/img/lock.png" alt="lock">')
                                        $('.blockedQualities').hide()
                                    }
                                    </script>
                                        