
                                         <li id="quality4294848Многоголосый480" class="channel nav-item"
                                     >
                                        <p>480p</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#quality4294848Многоголосый480').click(function (e) {
                                     window.location = '/player42948480&season=none&episode=none&transl=%D0%9C%D0%BD%D0%BE%D0%B3%D0%BE%D0%B3%D0%BE%D0%BB%D0%BE%D1%81%D1%8B%D0%B9&quality=480'
                                    })
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo42948480';
                                            break;
                                        }
                                    })
                                     if ( $('#quality4294848Многоголосый2160') !== undefined) {
                                         $('#quality4294848Многоголосый2160').removeClass('nav-item')
                                        $('#quality4294848Многоголосый2160').addClass('lockQuality')
                                        $('#quality4294848Многоголосый2160').append('<img src="/img/lock.png" alt="lock">')
                                        $('.blockedQualities').hide()
                                    }
                                    </script>
                                        
                                         <li id="quality4294848Многоголосый720" class="channel nav-item"
                                     >
                                        <p>720p</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#quality4294848Многоголосый720').click(function (e) {
                                     window.location = '/player42948480&season=none&episode=none&transl=%D0%9C%D0%BD%D0%BE%D0%B3%D0%BE%D0%B3%D0%BE%D0%BB%D0%BE%D1%81%D1%8B%D0%B9&quality=720'
                                    })
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo42948480';
                                            break;
                                        }
                                    })
                                     if ( $('#quality4294848Многоголосый2160') !== undefined) {
                                         $('#quality4294848Многоголосый2160').removeClass('nav-item')
                                        $('#quality4294848Многоголосый2160').addClass('lockQuality')
                                        $('#quality4294848Многоголосый2160').append('<img src="/img/lock.png" alt="lock">')
                                        $('.blockedQualities').hide()
                                    }
                                    </script>
                                        
                                         <li id="quality4294848Многоголосый1080" class="channel nav-item"
                                     >
                                        <p>1080p</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#quality4294848Многоголосый1080').click(function (e) {
                                     window.location = '/player42948480&season=none&episode=none&transl=%D0%9C%D0%BD%D0%BE%D0%B3%D0%BE%D0%B3%D0%BE%D0%BB%D0%BE%D1%81%D1%8B%D0%B9&quality=1080'
                                    })
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo42948480';
                                            break;
                                        }
                                    })
                                     if ( $('#quality4294848Многоголосый2160') !== undefined) {
                                         $('#quality4294848Многоголосый2160').removeClass('nav-item')
                                        $('#quality4294848Многоголосый2160').addClass('lockQuality')
                                        $('#quality4294848Многоголосый2160').append('<img src="/img/lock.png" alt="lock">')
                                        $('.blockedQualities').hide()
                                    }
                                    </script>
                                        