
                                         <li id="transl5230828140Ancord8" class="channel nav-item"
                                     >
                                        <p>Ancord</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl5230828140Ancord8').click(function (e) {
                                     window.location = '/player52308280&season=1&episode=4&quality=Ancord8'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo52308280';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl5230828140AniDUB9" class="channel nav-item"
                                     >
                                        <p>AniDUB</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl5230828140AniDUB9').click(function (e) {
                                     window.location = '/player52308280&season=1&episode=4&quality=AniDUB9'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo52308280';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl5230828140Anilibria10" class="channel nav-item"
                                     >
                                        <p>Anilibria</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl5230828140Anilibria10').click(function (e) {
                                     window.location = '/player52308280&season=1&episode=4&quality=Anilibria10'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo52308280';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl5230828140Субтитры79" class="channel nav-item"
                                     >
                                        <p>Субтитры</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl5230828140Субтитры79').click(function (e) {
                                     window.location = '/player52308280&season=1&episode=4&quality=Субтитры79'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo52308280';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl5230828140СтудийнаяБанда95" class="channel nav-item"
                                     >
                                        <p>Студийная Банда</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl5230828140СтудийнаяБанда95').click(function (e) {
                                     window.location = '/player52308280&season=1&episode=4&quality=СтудийнаяБанда95'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo52308280';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl5230828140JAM128" class="channel nav-item"
                                     >
                                        <p>JAM</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl5230828140JAM128').click(function (e) {
                                     window.location = '/player52308280&season=1&episode=4&quality=JAM128'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo52308280';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl5230828140Amber155" class="channel nav-item"
                                     >
                                        <p>Amber</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl5230828140Amber155').click(function (e) {
                                     window.location = '/player52308280&season=1&episode=4&quality=Amber155'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo52308280';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl5230828140AniStar158" class="channel nav-item"
                                     >
                                        <p>AniStar</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl5230828140AniStar158').click(function (e) {
                                     window.location = '/player52308280&season=1&episode=4&quality=AniStar158'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo52308280';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl5230828140AniMaunt163" class="channel nav-item"
                                     >
                                        <p>AniMaunt</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl5230828140AniMaunt163').click(function (e) {
                                     window.location = '/player52308280&season=1&episode=4&quality=AniMaunt163'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo52308280';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl5230828140SHIZAProject167" class="channel nav-item"
                                     >
                                        <p>SHIZA Project</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl5230828140SHIZAProject167').click(function (e) {
                                     window.location = '/player52308280&season=1&episode=4&quality=SHIZAProject167'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo52308280';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl5230828140AmazingDubbing197" class="channel nav-item"
                                     >
                                        <p>Amazing Dubbing</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl5230828140AmazingDubbing197').click(function (e) {
                                     window.location = '/player52308280&season=1&episode=4&quality=AmazingDubbing197'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo52308280';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl5230828140AnimeVost213" class="channel nav-item"
                                     >
                                        <p>AnimeVost</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl5230828140AnimeVost213').click(function (e) {
                                     window.location = '/player52308280&season=1&episode=4&quality=AnimeVost213'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo52308280';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl5230828140DreamCast215" class="channel nav-item"
                                     >
                                        <p>Dream Cast</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl5230828140DreamCast215').click(function (e) {
                                     window.location = '/player52308280&season=1&episode=4&quality=DreamCast215'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo52308280';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl5230828140AniBaza271" class="channel nav-item"
                                     >
                                        <p>AniBaza</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl5230828140AniBaza271').click(function (e) {
                                     window.location = '/player52308280&season=1&episode=4&quality=AniBaza271'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo52308280';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl5230828140OnWave275" class="channel nav-item"
                                     >
                                        <p>OnWave</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl5230828140OnWave275').click(function (e) {
                                     window.location = '/player52308280&season=1&episode=4&quality=OnWave275'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo52308280';
                                            break;
                                        }
                                    })
                                    </script>
                                        