
                                         <li id="transl5230828140Anilibria10" class="channel nav-item"
                                     >
                                        <p>Anilibria</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl5230828140Anilibria10').click(function (e) {
                                     window.location = '/player52308280&season=1&episode=4&quality=Anilibria10'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo52308280';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl5230828140Субтитры79" class="channel nav-item"
                                     >
                                        <p>Субтитры</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl5230828140Субтитры79').click(function (e) {
                                     window.location = '/player52308280&season=1&episode=4&quality=Субтитры79'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo52308280';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl5230828140AniMaunt163" class="channel nav-item"
                                     >
                                        <p>AniMaunt</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl5230828140AniMaunt163').click(function (e) {
                                     window.location = '/player52308280&season=1&episode=4&quality=AniMaunt163'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo52308280';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl5230828140AniBaza271" class="channel nav-item"
                                     >
                                        <p>AniBaza</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl5230828140AniBaza271').click(function (e) {
                                     window.location = '/player52308280&season=1&episode=4&quality=AniBaza271'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo52308280';
                                            break;
                                        }
                                    })
                                    </script>
                                        