
                                         <li id="transl5141685115БагатоголосийУкраїнський" class="channel nav-item"
                                     >
                                        <p>Багатоголосий (Український), DniproFilm</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl5141685115БагатоголосийУкраїнський').click(function (e) {
                                     window.location = '/player51416855&season=1&episode=1&transl=БагатоголосийУкраїнський'
                                    })
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo51416855';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl5141685115Многоголосый" class="channel nav-item"
                                     >
                                        <p>Многоголосый</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl5141685115Многоголосый').click(function (e) {
                                     window.location = '/player51416855&season=1&episode=1&transl=Многоголосый'
                                    })
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo51416855';
                                            break;
                                        }
                                    })
                                    </script>
                                        