
                                         <li id="transl1309604210Многоголосый" class="channel nav-item"
                                     >
                                        <p>Многоголосый, LostFilm</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl1309604210Многоголосый').click(function (e) {
                                     window.location = '/player13096040&season=2&episode=1&transl=Многоголосый'
                                    })
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo13096040';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl1309604211Многоголосый" class="channel nav-item"
                                     >
                                        <p>Многоголосый, HDRezka</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl1309604211Многоголосый').click(function (e) {
                                     window.location = '/player13096041&season=2&episode=1&transl=Многоголосый'
                                    })
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo13096041';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl1309604212БагатоголосийУкраїнський" class="channel nav-item"
                                     >
                                        <p>Багатоголосий (Український), DniproFilm</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl1309604212БагатоголосийУкраїнський').click(function (e) {
                                     window.location = '/player13096042&season=2&episode=1&transl=БагатоголосийУкраїнський'
                                    })
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo13096042';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl1309604213Многоголосый" class="channel nav-item"
                                     >
                                        <p>Многоголосый</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl1309604213Многоголосый').click(function (e) {
                                     window.location = '/player13096043&season=2&episode=1&transl=Многоголосый'
                                    })
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo13096043';
                                            break;
                                        }
                                    })
                                    </script>
                                        