
                                         <li id="transl464963862AlexFilm" class="channel nav-item"
                                     >
                                        <p>AlexFilm</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl464963862AlexFilm').click(function (e) {
                                     window.location = '/player4649632&season=8&episode=6&quality=AlexFilm'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo4649632';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl464963862LostFilm" class="channel nav-item"
                                     >
                                        <p>LostFilm</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl464963862LostFilm').click(function (e) {
                                     window.location = '/player4649632&season=8&episode=6&quality=LostFilm'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo4649632';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl464963862Дублированный" class="channel nav-item"
                                     >
                                        <p>Дублированный</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl464963862Дублированный').click(function (e) {
                                     window.location = '/player4649632&season=8&episode=6&quality=Дублированный'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo4649632';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl464963862Субтитры" class="channel nav-item"
                                     >
                                        <p>Субтитры</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl464963862Субтитры').click(function (e) {
                                     window.location = '/player4649632&season=8&episode=6&quality=Субтитры'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo4649632';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl464963862Оригинальная" class="channel nav-item"
                                     >
                                        <p>Оригинальная</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl464963862Оригинальная').click(function (e) {
                                     window.location = '/player4649632&season=8&episode=6&quality=Оригинальная'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo4649632';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl464963862Украинский" class="channel nav-item"
                                     >
                                        <p>Украинский</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl464963862Украинский').click(function (e) {
                                     window.location = '/player4649632&season=8&episode=6&quality=Украинский'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo4649632';
                                            break;
                                        }
                                    })
                                    </script>
                                        