
                                         <li id="transl5367788112Нетребуется" class="channel nav-item"
                                     >
                                        <p>Начать просмотр</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl5367788112Нетребуется').click(function (e) {
                                     window.location = '/player53677882&season=1&episode=1&quality=Нетребуется'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo53677882';
                                            break;
                                        }
                                    })
                                    </script>
                                        