
                                         <li id="transl4419591151Субтитры" class="channel nav-item"
                                     >
                                        <p>Субтитры</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl4419591151Субтитры').click(function (e) {
                                     window.location = '/player44195911&season=1&episode=5&quality=Субтитры'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo44195911';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl4419591151HDrezkaStudio" class="channel nav-item"
                                     >
                                        <p>HDrezka Studio</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl4419591151HDrezkaStudio').click(function (e) {
                                     window.location = '/player44195911&season=1&episode=5&quality=HDrezkaStudio'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo44195911';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl4419591151Оригинальный" class="channel nav-item"
                                     >
                                        <p>Оригинальный</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl4419591151Оригинальный').click(function (e) {
                                     window.location = '/player44195911&season=1&episode=5&quality=Оригинальный'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo44195911';
                                            break;
                                        }
                                    })
                                    </script>
                                        