
                                         <li id="transl1390793BDRip" class="channel nav-item"
                                     >
                                        <p>Дублированный</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl1390793BDRip').click(function (e) {
                                     window.location = '/player13907933&season=none&episode=none&quality=BDRip'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo13907933';
                                            break;
                                        }
                                    })
                                    </script>
                                        