
                    <li id="season1episode1" class="channel nav-item"
                        >
                        <p>1 сезон, 1 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season1episode1').click(function (e) {
                            window.location = '/selectTranslation4627656&season=1&episode=1'
                        })
                     </script>
                    
                    <li id="season1episode2" class="channel nav-item"
                        >
                        <p>1 сезон, 2 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season1episode2').click(function (e) {
                            window.location = '/selectTranslation4627656&season=1&episode=2'
                        })
                     </script>
                    
                    <li id="season1episode3" class="channel nav-item"
                        >
                        <p>1 сезон, 3 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season1episode3').click(function (e) {
                            window.location = '/selectTranslation4627656&season=1&episode=3'
                        })
                     </script>
                    
                    <li id="season1episode4" class="channel nav-item"
                        >
                        <p>1 сезон, 4 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season1episode4').click(function (e) {
                            window.location = '/selectTranslation4627656&season=1&episode=4'
                        })
                     </script>
                    
                    <li id="season1episode5" class="channel nav-item"
                        >
                        <p>1 сезон, 5 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season1episode5').click(function (e) {
                            window.location = '/selectTranslation4627656&season=1&episode=5'
                        })
                     </script>
                    
                    <li id="season1episode6" class="channel nav-item"
                        >
                        <p>1 сезон, 6 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season1episode6').click(function (e) {
                            window.location = '/selectTranslation4627656&season=1&episode=6'
                        })
                     </script>
                    
                    <li id="season1episode7" class="channel nav-item"
                        >
                        <p>1 сезон, 7 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season1episode7').click(function (e) {
                            window.location = '/selectTranslation4627656&season=1&episode=7'
                        })
                     </script>
                    
                    <li id="season1episode8" class="channel nav-item"
                        >
                        <p>1 сезон, 8 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season1episode8').click(function (e) {
                            window.location = '/selectTranslation4627656&season=1&episode=8'
                        })
                     </script>
                    
                    <li id="season2episode1" class="channel nav-item"
                        >
                        <p>2 сезон, 1 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season2episode1').click(function (e) {
                            window.location = '/selectTranslation4627656&season=2&episode=1'
                        })
                     </script>
                    
                    <li id="season2episode2" class="channel nav-item"
                        >
                        <p>2 сезон, 2 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season2episode2').click(function (e) {
                            window.location = '/selectTranslation4627656&season=2&episode=2'
                        })
                     </script>
                    
                    <li id="season2episode3" class="channel nav-item"
                        >
                        <p>2 сезон, 3 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season2episode3').click(function (e) {
                            window.location = '/selectTranslation4627656&season=2&episode=3'
                        })
                     </script>
                    
                    <li id="season2episode4" class="channel nav-item"
                        >
                        <p>2 сезон, 4 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season2episode4').click(function (e) {
                            window.location = '/selectTranslation4627656&season=2&episode=4'
                        })
                     </script>
                    
                    <li id="season2episode5" class="channel nav-item"
                        >
                        <p>2 сезон, 5 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season2episode5').click(function (e) {
                            window.location = '/selectTranslation4627656&season=2&episode=5'
                        })
                     </script>
                    