
                    <li id="season1episode1" class="channel nav-item"
                        >
                        <p>1 сезон, 1 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season1episode1').click(function (e) {
                            window.location = '/selectTranslation53558241&season=1&episode=1'
                        })
                     </script>
                    
                    <li id="season1episode2" class="channel nav-item"
                        >
                        <p>1 сезон, 2 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season1episode2').click(function (e) {
                            window.location = '/selectTranslation53558241&season=1&episode=2'
                        })
                     </script>
                    