
                                         <li id="transl13166011150БагатоголосийУкраїнський" class="channel nav-item"
                                     >
                                        <p>Багатоголосий (Український), Цікава Ідея</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl13166011150БагатоголосийУкраїнський').click(function (e) {
                                     window.location = '/selectQuality&=131660150&season=1&episode=1&transl=%D0%91%D0%B0%D0%B3%D0%B0%D1%82%D0%BE%D0%B3%D0%BE%D0%BB%D0%BE%D1%81%D0%B8%D0%B9%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%81%D1%8C%D0%BA%D0%B8%D0%B9'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo131660150';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl13166011150БагатоголосийУкраїнський" class="channel nav-item"
                                     >
                                        <p>Багатоголосий (Український), DniproFilm</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl13166011150БагатоголосийУкраїнський').click(function (e) {
                                     window.location = '/selectQuality&=131660150&season=1&episode=1&transl=%D0%91%D0%B0%D0%B3%D0%B0%D1%82%D0%BE%D0%B3%D0%BE%D0%BB%D0%BE%D1%81%D0%B8%D0%B9%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%81%D1%8C%D0%BA%D0%B8%D0%B9'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo131660150';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl13166011150Дубляж" class="channel nav-item"
                                     >
                                        <p>Дубляж, Кравец</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl13166011150Дубляж').click(function (e) {
                                     window.location = '/selectQuality&=131660150&season=1&episode=1&transl=%D0%94%D1%83%D0%B1%D0%BB%D1%8F%D0%B6'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo131660150';
                                            break;
                                        }
                                    })
                                    </script>
                                        