
                                         <li id="transl4958668WEB-DL" class="channel nav-item"
                                     >
                                        <p>Начать просмотр</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl4958668WEB-DL').click(function (e) {
                                     window.location = '/player49586683&season=none&episode=none&quality=WEB-DL'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo49586683';
                                            break;
                                        }
                                    })
                                    </script>
                                        