
                                         <li id="transl4991145Многоголосый" class="channel nav-item"
                                     >
                                        <p>Многоголосый, Синема УС</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl4991145Многоголосый').click(function (e) {
                                     window.location = '/selectQuality&=49911454&season=none&episode=none&transl=%D0%9C%D0%BD%D0%BE%D0%B3%D0%BE%D0%B3%D0%BE%D0%BB%D0%BE%D1%81%D1%8B%D0%B9'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo49911454';
                                            break;
                                        }
                                    })
                                    </script>
                                        