
                                         <li id="transl5429849WEB-DL56" class="channel nav-item"
                                     >
                                        <p>ViruseProject</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl5429849WEB-DL56').click(function (e) {
                                     window.location = '/player54298492&season=none&episode=none&quality=WEB-DL56'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo54298492';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl5429849WEB-DL79" class="channel nav-item"
                                     >
                                        <p>Субтитры</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl5429849WEB-DL79').click(function (e) {
                                     window.location = '/player54298492&season=none&episode=none&quality=WEB-DL79'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo54298492';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl5429849WEBRip88" class="channel nav-item"
                                     >
                                        <p>Любительский двухголосый</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl5429849WEBRip88').click(function (e) {
                                     window.location = '/player54298492&season=none&episode=none&quality=WEBRip88'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo54298492';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl5429849WEB-DL93" class="channel nav-item"
                                     >
                                        <p>Оригинальный</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl5429849WEB-DL93').click(function (e) {
                                     window.location = '/player54298492&season=none&episode=none&quality=WEB-DL93'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo54298492';
                                            break;
                                        }
                                    })
                                    </script>
                                        
                                         <li id="transl5429849WEB-DL279" class="channel nav-item"
                                     >
                                        <p>Английский</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl5429849WEB-DL279').click(function (e) {
                                     window.location = '/player54298492&season=none&episode=none&quality=WEB-DL279'
                                    })
                                    
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo54298492';
                                            break;
                                        }
                                    })
                                    </script>
                                        