
                                         <li id="transl1219177Дубляж" class="channel nav-item"
                                     >
                                        <p>Дубляж, Звук с TS</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl1219177Дубляж').click(function (e) {
                                     window.location = '/player12191770&season=none&episode=none&transl=Дубляж'
                                    })
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo12191770';
                                            break;
                                        }
                                    })
                                    </script>
                                        