
                                         <li id="transl4912805111Дубляж" class="channel nav-item"
                                     >
                                        <p>Дубляж, StudioBand</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#transl4912805111Дубляж').click(function (e) {
                                     window.location = '/player49128051&season=1&episode=1&transl=Дубляж'
                                    })
                                     $(document).keydown(function (e) {
                                         switch (e.keyCode) {
                                            case 8:
                                                document.location.href = '/filmInfo49128051';
                                            break;
                                        }
                                    })
                                    </script>
                                        