
                                         <li id="Багатоголосий (Український)0" class="channel nav-item"
                                     >
                                        <p>Багатоголосий (Український), DniproFilm</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#Багатоголосий (Український)0').click(function (e) {
                                     window.location = '/player43977620&season=1&episode=1'
                                    })
                                    </script>
                                        
                                         <li id="Многоголосый1" class="channel nav-item"
                                     >
                                        <p>Многоголосый</p>
                                    </li>
                                    <script type="text/javascript">
                                    $('#Многоголосый1').click(function (e) {
                                     window.location = '/player43977621&season=1&episode=1'
                                    })
                                    </script>
                                        