
                    <li id="season1episode01" class="channel nav-item"
                        >
                        <p>1 сезон, 1 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season1episode01').click(function (e) {
                            window.location = '/player4649633&season=1&episode=1'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season1episode02" class="channel nav-item"
                        >
                        <p>1 сезон, 2 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season1episode02').click(function (e) {
                            window.location = '/player4649633&season=1&episode=2'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season1episode03" class="channel nav-item"
                        >
                        <p>1 сезон, 3 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season1episode03').click(function (e) {
                            window.location = '/player4649633&season=1&episode=3'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season1episode04" class="channel nav-item"
                        >
                        <p>1 сезон, 4 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season1episode04').click(function (e) {
                            window.location = '/player4649633&season=1&episode=4'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season1episode05" class="channel nav-item"
                        >
                        <p>1 сезон, 5 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season1episode05').click(function (e) {
                            window.location = '/player4649633&season=1&episode=5'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season1episode06" class="channel nav-item"
                        >
                        <p>1 сезон, 6 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season1episode06').click(function (e) {
                            window.location = '/player4649633&season=1&episode=6'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season1episode07" class="channel nav-item"
                        >
                        <p>1 сезон, 7 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season1episode07').click(function (e) {
                            window.location = '/player4649633&season=1&episode=7'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season1episode08" class="channel nav-item"
                        >
                        <p>1 сезон, 8 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season1episode08').click(function (e) {
                            window.location = '/player4649633&season=1&episode=8'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season1episode09" class="channel nav-item"
                        >
                        <p>1 сезон, 9 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season1episode09').click(function (e) {
                            window.location = '/player4649633&season=1&episode=9'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season1episode010" class="channel nav-item"
                        >
                        <p>1 сезон, 10 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season1episode010').click(function (e) {
                            window.location = '/player4649633&season=1&episode=10'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season2episode01" class="channel nav-item"
                        >
                        <p>2 сезон, 1 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season2episode01').click(function (e) {
                            window.location = '/player4649633&season=2&episode=1'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season2episode02" class="channel nav-item"
                        >
                        <p>2 сезон, 2 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season2episode02').click(function (e) {
                            window.location = '/player4649633&season=2&episode=2'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season2episode03" class="channel nav-item"
                        >
                        <p>2 сезон, 3 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season2episode03').click(function (e) {
                            window.location = '/player4649633&season=2&episode=3'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season2episode04" class="channel nav-item"
                        >
                        <p>2 сезон, 4 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season2episode04').click(function (e) {
                            window.location = '/player4649633&season=2&episode=4'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season2episode05" class="channel nav-item"
                        >
                        <p>2 сезон, 5 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season2episode05').click(function (e) {
                            window.location = '/player4649633&season=2&episode=5'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season2episode06" class="channel nav-item"
                        >
                        <p>2 сезон, 6 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season2episode06').click(function (e) {
                            window.location = '/player4649633&season=2&episode=6'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season2episode07" class="channel nav-item"
                        >
                        <p>2 сезон, 7 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season2episode07').click(function (e) {
                            window.location = '/player4649633&season=2&episode=7'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season2episode08" class="channel nav-item"
                        >
                        <p>2 сезон, 8 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season2episode08').click(function (e) {
                            window.location = '/player4649633&season=2&episode=8'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season2episode09" class="channel nav-item"
                        >
                        <p>2 сезон, 9 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season2episode09').click(function (e) {
                            window.location = '/player4649633&season=2&episode=9'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season2episode010" class="channel nav-item"
                        >
                        <p>2 сезон, 10 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season2episode010').click(function (e) {
                            window.location = '/player4649633&season=2&episode=10'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season3episode01" class="channel nav-item"
                        >
                        <p>3 сезон, 1 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season3episode01').click(function (e) {
                            window.location = '/player4649633&season=3&episode=1'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season3episode02" class="channel nav-item"
                        >
                        <p>3 сезон, 2 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season3episode02').click(function (e) {
                            window.location = '/player4649633&season=3&episode=2'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season3episode03" class="channel nav-item"
                        >
                        <p>3 сезон, 3 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season3episode03').click(function (e) {
                            window.location = '/player4649633&season=3&episode=3'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season3episode04" class="channel nav-item"
                        >
                        <p>3 сезон, 4 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season3episode04').click(function (e) {
                            window.location = '/player4649633&season=3&episode=4'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season3episode05" class="channel nav-item"
                        >
                        <p>3 сезон, 5 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season3episode05').click(function (e) {
                            window.location = '/player4649633&season=3&episode=5'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season3episode06" class="channel nav-item"
                        >
                        <p>3 сезон, 6 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season3episode06').click(function (e) {
                            window.location = '/player4649633&season=3&episode=6'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season3episode07" class="channel nav-item"
                        >
                        <p>3 сезон, 7 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season3episode07').click(function (e) {
                            window.location = '/player4649633&season=3&episode=7'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season3episode08" class="channel nav-item"
                        >
                        <p>3 сезон, 8 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season3episode08').click(function (e) {
                            window.location = '/player4649633&season=3&episode=8'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season3episode09" class="channel nav-item"
                        >
                        <p>3 сезон, 9 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season3episode09').click(function (e) {
                            window.location = '/player4649633&season=3&episode=9'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season3episode010" class="channel nav-item"
                        >
                        <p>3 сезон, 10 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season3episode010').click(function (e) {
                            window.location = '/player4649633&season=3&episode=10'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season4episode01" class="channel nav-item"
                        >
                        <p>4 сезон, 1 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season4episode01').click(function (e) {
                            window.location = '/player4649633&season=4&episode=1'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season4episode02" class="channel nav-item"
                        >
                        <p>4 сезон, 2 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season4episode02').click(function (e) {
                            window.location = '/player4649633&season=4&episode=2'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season4episode03" class="channel nav-item"
                        >
                        <p>4 сезон, 3 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season4episode03').click(function (e) {
                            window.location = '/player4649633&season=4&episode=3'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season4episode04" class="channel nav-item"
                        >
                        <p>4 сезон, 4 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season4episode04').click(function (e) {
                            window.location = '/player4649633&season=4&episode=4'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season4episode05" class="channel nav-item"
                        >
                        <p>4 сезон, 5 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season4episode05').click(function (e) {
                            window.location = '/player4649633&season=4&episode=5'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season4episode06" class="channel nav-item"
                        >
                        <p>4 сезон, 6 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season4episode06').click(function (e) {
                            window.location = '/player4649633&season=4&episode=6'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season4episode07" class="channel nav-item"
                        >
                        <p>4 сезон, 7 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season4episode07').click(function (e) {
                            window.location = '/player4649633&season=4&episode=7'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season4episode08" class="channel nav-item"
                        >
                        <p>4 сезон, 8 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season4episode08').click(function (e) {
                            window.location = '/player4649633&season=4&episode=8'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season4episode09" class="channel nav-item"
                        >
                        <p>4 сезон, 9 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season4episode09').click(function (e) {
                            window.location = '/player4649633&season=4&episode=9'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season4episode010" class="channel nav-item"
                        >
                        <p>4 сезон, 10 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season4episode010').click(function (e) {
                            window.location = '/player4649633&season=4&episode=10'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season5episode01" class="channel nav-item"
                        >
                        <p>5 сезон, 1 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season5episode01').click(function (e) {
                            window.location = '/player4649633&season=5&episode=1'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season5episode02" class="channel nav-item"
                        >
                        <p>5 сезон, 2 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season5episode02').click(function (e) {
                            window.location = '/player4649633&season=5&episode=2'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season5episode03" class="channel nav-item"
                        >
                        <p>5 сезон, 3 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season5episode03').click(function (e) {
                            window.location = '/player4649633&season=5&episode=3'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season5episode04" class="channel nav-item"
                        >
                        <p>5 сезон, 4 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season5episode04').click(function (e) {
                            window.location = '/player4649633&season=5&episode=4'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season5episode05" class="channel nav-item"
                        >
                        <p>5 сезон, 5 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season5episode05').click(function (e) {
                            window.location = '/player4649633&season=5&episode=5'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season5episode06" class="channel nav-item"
                        >
                        <p>5 сезон, 6 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season5episode06').click(function (e) {
                            window.location = '/player4649633&season=5&episode=6'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season5episode07" class="channel nav-item"
                        >
                        <p>5 сезон, 7 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season5episode07').click(function (e) {
                            window.location = '/player4649633&season=5&episode=7'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season5episode08" class="channel nav-item"
                        >
                        <p>5 сезон, 8 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season5episode08').click(function (e) {
                            window.location = '/player4649633&season=5&episode=8'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season5episode09" class="channel nav-item"
                        >
                        <p>5 сезон, 9 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season5episode09').click(function (e) {
                            window.location = '/player4649633&season=5&episode=9'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season5episode010" class="channel nav-item"
                        >
                        <p>5 сезон, 10 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season5episode010').click(function (e) {
                            window.location = '/player4649633&season=5&episode=10'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season6episode01" class="channel nav-item"
                        >
                        <p>6 сезон, 1 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season6episode01').click(function (e) {
                            window.location = '/player4649633&season=6&episode=1'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season6episode02" class="channel nav-item"
                        >
                        <p>6 сезон, 2 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season6episode02').click(function (e) {
                            window.location = '/player4649633&season=6&episode=2'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season6episode03" class="channel nav-item"
                        >
                        <p>6 сезон, 3 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season6episode03').click(function (e) {
                            window.location = '/player4649633&season=6&episode=3'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season6episode04" class="channel nav-item"
                        >
                        <p>6 сезон, 4 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season6episode04').click(function (e) {
                            window.location = '/player4649633&season=6&episode=4'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season6episode05" class="channel nav-item"
                        >
                        <p>6 сезон, 5 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season6episode05').click(function (e) {
                            window.location = '/player4649633&season=6&episode=5'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season6episode06" class="channel nav-item"
                        >
                        <p>6 сезон, 6 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season6episode06').click(function (e) {
                            window.location = '/player4649633&season=6&episode=6'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season6episode07" class="channel nav-item"
                        >
                        <p>6 сезон, 7 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season6episode07').click(function (e) {
                            window.location = '/player4649633&season=6&episode=7'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season6episode08" class="channel nav-item"
                        >
                        <p>6 сезон, 8 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season6episode08').click(function (e) {
                            window.location = '/player4649633&season=6&episode=8'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season6episode09" class="channel nav-item"
                        >
                        <p>6 сезон, 9 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season6episode09').click(function (e) {
                            window.location = '/player4649633&season=6&episode=9'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season6episode010" class="channel nav-item"
                        >
                        <p>6 сезон, 10 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season6episode010').click(function (e) {
                            window.location = '/player4649633&season=6&episode=10'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season7episode01" class="channel nav-item"
                        >
                        <p>7 сезон, 1 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season7episode01').click(function (e) {
                            window.location = '/player4649633&season=7&episode=1'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season7episode02" class="channel nav-item"
                        >
                        <p>7 сезон, 2 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season7episode02').click(function (e) {
                            window.location = '/player4649633&season=7&episode=2'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season7episode03" class="channel nav-item"
                        >
                        <p>7 сезон, 3 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season7episode03').click(function (e) {
                            window.location = '/player4649633&season=7&episode=3'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season7episode04" class="channel nav-item"
                        >
                        <p>7 сезон, 4 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season7episode04').click(function (e) {
                            window.location = '/player4649633&season=7&episode=4'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season7episode05" class="channel nav-item"
                        >
                        <p>7 сезон, 5 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season7episode05').click(function (e) {
                            window.location = '/player4649633&season=7&episode=5'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season7episode06" class="channel nav-item"
                        >
                        <p>7 сезон, 6 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season7episode06').click(function (e) {
                            window.location = '/player4649633&season=7&episode=6'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season7episode07" class="channel nav-item"
                        >
                        <p>7 сезон, 7 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season7episode07').click(function (e) {
                            window.location = '/player4649633&season=7&episode=7'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season8episode01" class="channel nav-item"
                        >
                        <p>8 сезон, 1 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season8episode01').click(function (e) {
                            window.location = '/player4649633&season=8&episode=1'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season8episode02" class="channel nav-item"
                        >
                        <p>8 сезон, 2 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season8episode02').click(function (e) {
                            window.location = '/player4649633&season=8&episode=2'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season8episode03" class="channel nav-item"
                        >
                        <p>8 сезон, 3 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season8episode03').click(function (e) {
                            window.location = '/player4649633&season=8&episode=3'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season8episode04" class="channel nav-item"
                        >
                        <p>8 сезон, 4 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season8episode04').click(function (e) {
                            window.location = '/player4649633&season=8&episode=4'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season8episode05" class="channel nav-item"
                        >
                        <p>8 сезон, 5 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season8episode05').click(function (e) {
                            window.location = '/player4649633&season=8&episode=5'
                            $('.waitingPopup').show();
                        })
                     </script>
                    
                    <li id="season8episode06" class="channel nav-item"
                        >
                        <p>8 сезон, 6 серия</p>
                     </li>
                     <script type="text/javascript">
                        $('#season8episode06').click(function (e) {
                            window.location = '/player4649633&season=8&episode=6'
                            $('.waitingPopup').show();
                        })
                     </script>
                    