
        <div id="searchItem0" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/258687.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Интерстеллар</p>
            </div>
        </div>
        <script type="text/javascript">
            var _elem258687 = document.getElementById("searchItem0")
            _elem258687.addEventListener("click", function (event) {document.location.href = "/filmInfo2586870"; $$nav.off()});
        </script>
        