
        <div id="searchItem0" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4716622.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Гарри Поттер 20 лет </p>
            <h1>2021 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem47166220 = document.getElementById("searchItem0")
            _elem47166220.addEventListener("click", function (event) {document.location.href = "/filmInfo47166220"; $$nav.off()});
        </script>
        
        <div id="searchItem1" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_1112887.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Гарри Поттер: Истори</p>
            <h1>2017 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem11128871 = document.getElementById("searchItem1")
            _elem11128871.addEventListener("click", function (event) {document.location.href = "/filmInfo11128871"; $$nav.off()});
        </script>
        
        <div id="searchItem2" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_89515.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Гарри Поттер и Принц</p>
            <h1>2009 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem895152 = document.getElementById("searchItem2")
            _elem895152.addEventListener("click", function (event) {document.location.href = "/filmInfo895152"; $$nav.off()});
        </script>
        
        <div id="searchItem3" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_48356.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Гарри Поттер и Орден</p>
            <h1>2007 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem483563 = document.getElementById("searchItem3")
            _elem483563.addEventListener("click", function (event) {document.location.href = "/filmInfo483563"; $$nav.off()});
        </script>
        
        <div id="searchItem4" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_8408.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Гарри Поттер и Кубок</p>
            <h1>2005 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem84084 = document.getElementById("searchItem4")
            _elem84084.addEventListener("click", function (event) {document.location.href = "/filmInfo84084"; $$nav.off()});
        </script>
        
        <div id="searchItem5" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_407636.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Гарри Поттер и Дары </p>
            <h1>2011 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem4076365 = document.getElementById("searchItem5")
            _elem4076365.addEventListener("click", function (event) {document.location.href = "/filmInfo4076365"; $$nav.off()});
        </script>
        
        <div id="searchItem6" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_276762.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Гарри Поттер и Дары </p>
            <h1>2010 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem2767626 = document.getElementById("searchItem6")
            _elem2767626.addEventListener("click", function (event) {document.location.href = "/filmInfo2767626"; $$nav.off()});
        </script>
        
        <div id="searchItem7" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_322.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Гарри Поттер и узник</p>
            <h1>2004 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem3227 = document.getElementById("searchItem7")
            _elem3227.addEventListener("click", function (event) {document.location.href = "/filmInfo3227"; $$nav.off()});
        </script>
        
        <div id="searchItem8" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_688.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Гарри Поттер и тайна</p>
            <h1>2002 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem6888 = document.getElementById("searchItem8")
            _elem6888.addEventListener("click", function (event) {document.location.href = "/filmInfo6888"; $$nav.off()});
        </script>
        
        <div id="searchItem9" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_689.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Гарри Поттер и филос</p>
            <h1>2001 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem6899 = document.getElementById("searchItem9")
            _elem6899.addEventListener("click", function (event) {document.location.href = "/filmInfo6899"; $$nav.off()});
        </script>
        