
        <div id="searchItem0" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_278153.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Шерлок Холмс и докто</p>
            <h1>2002 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem2781530 = document.getElementById("searchItem0")
            _elem2781530.addEventListener("click", function (event) {document.location.href = "/filmInfo2781530"; $$nav.off()});
        </script>
        
        <div id="searchItem1" style="background: url('https://bazon.cc/download/poster/567068.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Discovery: Современн</p>
            <h1>2000 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem5670681 = document.getElementById("searchItem1")
            _elem5670681.addEventListener("click", function (event) {document.location.href = "/filmInfo5670681"; $$nav.off()});
        </script>
        
        <div id="searchItem2" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_19027.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Шерлок Холмс: Этюд в</p>
            <h1>1965 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem190272 = document.getElementById("searchItem2")
            _elem190272.addEventListener("click", function (event) {document.location.href = "/filmInfo190272"; $$nav.off()});
        </script>
        
        <div id="searchItem3" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_671860.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Шерлок Гномс</p>
            <h1>2018 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem6718603 = document.getElementById("searchItem3")
            _elem6718603.addEventListener("click", function (event) {document.location.href = "/filmInfo6718603"; $$nav.off()});
        </script>
        
        <div id="searchItem4" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_521709.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Том и Джерри: Шерлок</p>
            <h1>2010 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem5217094 = document.getElementById("searchItem4")
            _elem5217094.addEventListener("click", function (event) {document.location.href = "/filmInfo5217094"; $$nav.off()});
        </script>
        
        <div id="searchItem5" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_420923.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Шерлок Холмс</p>
            <h1>2009 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem4209235 = document.getElementById("searchItem5")
            _elem4209235.addEventListener("click", function (event) {document.location.href = "/filmInfo4209235"; $$nav.off()});
        </script>
        
        <div id="searchItem6" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_474953.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Шерлок Холмс: Игра т</p>
            <h1>2011 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem4749536 = document.getElementById("searchItem6")
            _elem4749536.addEventListener("click", function (event) {document.location.href = "/filmInfo4749536"; $$nav.off()});
        </script>
        
        <div id="searchItem7" style="background: url('https://bazon.cc/download/poster/7112.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Молодой Шерлок Холмс</p>
            <h1>1985 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem71127 = document.getElementById("searchItem7")
            _elem71127.addEventListener("click", function (event) {document.location.href = "/filmInfo71127"; $$nav.off()});
        </script>
        
        <div id="searchItem8" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_178256.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Шерлок Холмс: Замок </p>
            <h1>1945 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem1782568 = document.getElementById("searchItem8")
            _elem1782568.addEventListener("click", function (event) {document.location.href = "/filmInfo1782568"; $$nav.off()});
        </script>
        
        <div id="searchItem9" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_502838.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Шерлок</p>
            <h1>2010 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem5028389 = document.getElementById("searchItem9")
            _elem5028389.addEventListener("click", function (event) {document.location.href = "/filmInfo5028389"; $$nav.off()});
        </script>
        
        <div id="searchItem10" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_502838.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Шерлок</p>
            <h1>2010 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem50283810 = document.getElementById("searchItem10")
            _elem50283810.addEventListener("click", function (event) {document.location.href = "/filmInfo50283810"; $$nav.off()});
        </script>
        
        <div id="searchItem11" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_202998.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Шерлок Холмс в Вашин</p>
            <h1>1942 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem20299811 = document.getElementById("searchItem11")
            _elem20299811.addEventListener("click", function (event) {document.location.href = "/filmInfo20299811"; $$nav.off()});
        </script>
        
        <div id="searchItem12" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_47021.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Шерлок Холмс: Собака</p>
            <h1>1939 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem4702112 = document.getElementById("searchItem12")
            _elem4702112.addEventListener("click", function (event) {document.location.href = "/filmInfo4702112"; $$nav.off()});
        </script>
        
        <div id="searchItem13" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_3149.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Шерлок Холмс: Шерлок</p>
            <h1>1942 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem314913 = document.getElementById("searchItem13")
            _elem314913.addEventListener("click", function (event) {document.location.href = "/filmInfo314913"; $$nav.off()});
        </script>
        
        <div id="searchItem14" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_202999.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Шерлок Холмс и секре</p>
            <h1>1942 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem20299914 = document.getElementById("searchItem14")
            _elem20299914.addEventListener("click", function (event) {document.location.href = "/filmInfo20299914"; $$nav.off()});
        </script>
        
        <div id="searchItem15" style="background: url('https://bazon.cc/download/poster/199533.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Шерлок Холмс перед л</p>
            <h1>1943 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem19953315 = document.getElementById("searchItem15")
            _elem19953315.addEventListener("click", function (event) {document.location.href = "/filmInfo19953315"; $$nav.off()});
        </script>
        
        <div id="searchItem16" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_521709.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Том и Джерри: Шерлок</p>
            <h1>2010 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem52170916 = document.getElementById("searchItem16")
            _elem52170916.addEventListener("click", function (event) {document.location.href = "/filmInfo52170916"; $$nav.off()});
        </script>
        
        <div id="searchItem17" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_35546.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Эркюль и Шерлок прот</p>
            <h1>1996 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem3554617 = document.getElementById("searchItem17")
            _elem3554617.addEventListener("click", function (event) {document.location.href = "/filmInfo3554617"; $$nav.off()});
        </script>
        
        <div id="searchItem18" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_11380.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Шерлок младший</p>
            <h1>1924 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem1138018 = document.getElementById("searchItem18")
            _elem1138018.addEventListener("click", function (event) {document.location.href = "/filmInfo1138018"; $$nav.off()});
        </script>
        
        <div id="searchItem19" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1112719.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Мисс Шерлок</p>
            <h1>2018 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem111271919 = document.getElementById("searchItem19")
            _elem111271919.addEventListener("click", function (event) {document.location.href = "/filmInfo111271919"; $$nav.off()});
        </script>
        
        <div id="searchItem20" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1245300.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Шерлок из Кабуки-тё</p>
            <h1>2019 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem124530020 = document.getElementById("searchItem20")
            _elem124530020.addEventListener("click", function (event) {document.location.href = "/filmInfo124530020"; $$nav.off()});
        </script>
        
        <div id="searchItem21" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_77263.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Приключения Шерлока </p>
            <h1>1981 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem7726321 = document.getElementById("searchItem21")
            _elem7726321.addEventListener("click", function (event) {document.location.href = "/filmInfo7726321"; $$nav.off()});
        </script>
        
        <div id="searchItem22" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_77264.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Шерлок Холмс и докто</p>
            <h1>1983 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem7726422 = document.getElementById("searchItem22")
            _elem7726422.addEventListener("click", function (event) {document.location.href = "/filmInfo7726422"; $$nav.off()});
        </script>
        
        <div id="searchItem23" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_77267.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Шерлок Холмс и докто</p>
            <h1>1986 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem7726723 = document.getElementById("searchItem23")
            _elem7726723.addEventListener("click", function (event) {document.location.href = "/filmInfo7726723"; $$nav.off()});
        </script>
        
        <div id="searchItem24" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_354799.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Шерлок Холмс и докто</p>
            <h1>1980 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem35479924 = document.getElementById("searchItem24")
            _elem35479924.addEventListener("click", function (event) {document.location.href = "/filmInfo35479924"; $$nav.off()});
        </script>
        
        <div id="searchItem25" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_77265.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Шерлок Холмс и докто</p>
            <h1>1979 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem7726525 = document.getElementById("searchItem25")
            _elem7726525.addEventListener("click", function (event) {document.location.href = "/filmInfo7726525"; $$nav.off()});
        </script>
        
        <div id="searchItem26" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_368936.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Шерлок Холмс и докто</p>
            <h1>1980 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem36893626 = document.getElementById("searchItem26")
            _elem36893626.addEventListener("click", function (event) {document.location.href = "/filmInfo36893626"; $$nav.off()});
        </script>
        
        <div id="searchItem27" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_77269.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Шерлок Холмс и докто</p>
            <h1>1979 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem7726927 = document.getElementById("searchItem27")
            _elem7726927.addEventListener("click", function (event) {document.location.href = "/filmInfo7726927"; $$nav.off()});
        </script>
        
        <div id="searchItem28" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1272376.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Шерлок в России</p>
            <h1>2019 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem127237628 = document.getElementById("searchItem28")
            _elem127237628.addEventListener("click", function (event) {document.location.href = "/filmInfo127237628"; $$nav.off()});
        </script>
        
        <div id="searchItem29" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_474953.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Шерлок Холмс: Игра т</p>
            <h1>2011 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem47495329 = document.getElementById("searchItem29")
            _elem47495329.addEventListener("click", function (event) {document.location.href = "/filmInfo47495329"; $$nav.off()});
        </script>
        
        <div id="searchItem30" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_420923.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Шерлок Холмс</p>
            <h1>2009 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem42092330 = document.getElementById("searchItem30")
            _elem42092330.addEventListener("click", function (event) {document.location.href = "/filmInfo42092330"; $$nav.off()});
        </script>
        
        <div id="searchItem31" style="background: url('https://bazon.cc/download/poster/7112.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Молодой Шерлок Холмс</p>
            <h1>1985 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem711231 = document.getElementById("searchItem31")
            _elem711231.addEventListener("click", function (event) {document.location.href = "/filmInfo711231"; $$nav.off()});
        </script>
        
        <div id="searchItem32" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_178130.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Шерлок Холмс: Багров</p>
            <h1>1944 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem17813032 = document.getElementById("searchItem32")
            _elem17813032.addEventListener("click", function (event) {document.location.href = "/filmInfo17813032"; $$nav.off()});
        </script>
        
        <div id="searchItem33" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_671860.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Шерлок Гномс</p>
            <h1>2018 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem67186033 = document.getElementById("searchItem33")
            _elem67186033.addEventListener("click", function (event) {document.location.href = "/filmInfo67186033"; $$nav.off()});
        </script>
        