
        <div id="searchItem0" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук: Паутина вселенных</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem12191770 = document.getElementById("searchItem0")
            _elem12191770.addEventListener("click", function (event) {document.location.href = "/filmInfo12191770"; $$nav.off()});
        </script>
        
        <div id="searchItem1" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1301666.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Паучок и его удивительные друзья</h1>
            <h1>2021 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem13016661 = document.getElementById("searchItem1")
            _elem13016661.addEventListener("click", function (event) {document.location.href = "/filmInfo13016661"; $$nav.off()});
        </script>
        
        <div id="searchItem2" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1008482.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук</h1>
            <h1>2017 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem10084822 = document.getElementById("searchItem2")
            _elem10084822.addEventListener("click", function (event) {document.location.href = "/filmInfo10084822"; $$nav.off()});
        </script>
        
        <div id="searchItem3" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_397484.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Грандиозный Человек-паук</h1>
            <h1>2008 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem3974843 = document.getElementById("searchItem3")
            _elem3974843.addEventListener("click", function (event) {document.location.href = "/filmInfo3974843"; $$nav.off()});
        </script>
        
        <div id="searchItem4" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_95232.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук</h1>
            <h1>1994 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem952324 = document.getElementById("searchItem4")
            _elem952324.addEventListener("click", function (event) {document.location.href = "/filmInfo952324"; $$nav.off()});
        </script>
        
        <div id="searchItem5" style="background: url('https://bazon.cc/download/poster/574690.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Великий Человек-паук</h1>
            <h1>2012 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem5746905 = document.getElementById("searchItem5")
            _elem5746905.addEventListener("click", function (event) {document.location.href = "/filmInfo5746905"; $$nav.off()});
        </script>
        
        <div id="searchItem6" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1008482.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук</h1>
            <h1>2017 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem10084826 = document.getElementById("searchItem6")
            _elem10084826.addEventListener("click", function (event) {document.location.href = "/filmInfo10084826"; $$nav.off()});
        </script>
        
        <div id="searchItem7" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_838.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук</h1>
            <h1>2002 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem8387 = document.getElementById("searchItem7")
            _elem8387.addEventListener("click", function (event) {document.location.href = "/filmInfo8387"; $$nav.off()});
        </script>
        
        <div id="searchItem8" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_2898.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук 2</h1>
            <h1>2004 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem28988 = document.getElementById("searchItem8")
            _elem28988.addEventListener("click", function (event) {document.location.href = "/filmInfo28988"; $$nav.off()});
        </script>
        
        <div id="searchItem9" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_82441.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук 3: Враг в отражении</h1>
            <h1>2007 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem824419 = document.getElementById("searchItem9")
            _elem824419.addEventListener("click", function (event) {document.location.href = "/filmInfo824419"; $$nav.off()});
        </script>
        
        <div id="searchItem10" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_920265.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук: Через вселенные</h1>
            <h1>2018 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem92026510 = document.getElementById("searchItem10")
            _elem92026510.addEventListener("click", function (event) {document.location.href = "/filmInfo92026510"; $$nav.off()});
        </script>
        
        <div id="searchItem11" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_690593.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук: Возвращение домой</h1>
            <h1>2017 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem69059311 = document.getElementById("searchItem11")
            _elem69059311.addEventListener("click", function (event) {document.location.href = "/filmInfo69059311"; $$nav.off()});
        </script>
        
        <div id="searchItem12" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1008445.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук: Вдали от дома</h1>
            <h1>2019 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem100844512 = document.getElementById("searchItem12")
            _elem100844512.addEventListener("click", function (event) {document.location.href = "/filmInfo100844512"; $$nav.off()});
        </script>
        
        <div id="searchItem13" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_278217.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Новый Человек-паук</h1>
            <h1>2012 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem27821713 = document.getElementById("searchItem13")
            _elem27821713.addEventListener("click", function (event) {document.location.href = "/filmInfo27821713"; $$nav.off()});
        </script>
        
        <div id="searchItem14" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_602409.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Новый Человек-паук: Высокое напряжение</h1>
            <h1>2014 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem60240914 = document.getElementById("searchItem14")
            _elem60240914.addEventListener("click", function (event) {document.location.href = "/filmInfo60240914"; $$nav.off()});
        </script>
        
        <div id="searchItem15" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309570.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук: Нет пути домой</h1>
            <h1>2021 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem130957015 = document.getElementById("searchItem15")
            _elem130957015.addEventListener("click", function (event) {document.location.href = "/filmInfo130957015"; $$nav.off()});
        </script>
        
        <div id="searchItem16" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5009008.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук: Все дороги ведут в никуда</h1>
            <h1>2022 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem500900816 = document.getElementById("searchItem16")
            _elem500900816.addEventListener("click", function (event) {document.location.href = "/filmInfo500900816"; $$nav.off()});
        </script>
        
        <div id="searchItem17" style="background: url('https://bazon.cc/download/poster/574690.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Великий Человек-паук</h1>
            <h1>2012 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem57469017 = document.getElementById("searchItem17")
            _elem57469017.addEventListener("click", function (event) {document.location.href = "/filmInfo57469017"; $$nav.off()});
        </script>
        
        <div id="searchItem18" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309570.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук: Нет пути домой</h1>
            <h1>2021 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem130957018 = document.getElementById("searchItem18")
            _elem130957018.addEventListener("click", function (event) {document.location.href = "/filmInfo130957018"; $$nav.off()});
        </script>
        
        <div id="searchItem19" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_397484.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Грандиозный Человек-паук</h1>
            <h1>2008 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem39748419 = document.getElementById("searchItem19")
            _elem39748419.addEventListener("click", function (event) {document.location.href = "/filmInfo39748419"; $$nav.off()});
        </script>
        
        <div id="searchItem20" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_297911.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Удивительный Человек-паук</h1>
            <h1>1977 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem29791120 = document.getElementById("searchItem20")
            _elem29791120.addEventListener("click", function (event) {document.location.href = "/filmInfo29791120"; $$nav.off()});
        </script>
        
        <div id="searchItem21" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_2898.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук 2</h1>
            <h1>2004 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem289821 = document.getElementById("searchItem21")
            _elem289821.addEventListener("click", function (event) {document.location.href = "/filmInfo289821"; $$nav.off()});
        </script>
        
        <div id="searchItem22" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1008445.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук: Вдали от дома</h1>
            <h1>2019 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem100844522 = document.getElementById("searchItem22")
            _elem100844522.addEventListener("click", function (event) {document.location.href = "/filmInfo100844522"; $$nav.off()});
        </script>
        
        <div id="searchItem23" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_920265.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук: Через вселенные</h1>
            <h1>2018 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem92026523 = document.getElementById("searchItem23")
            _elem92026523.addEventListener("click", function (event) {document.location.href = "/filmInfo92026523"; $$nav.off()});
        </script>
        
        <div id="searchItem24" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_278217.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Новый Человек-паук</h1>
            <h1>2012 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem27821724 = document.getElementById("searchItem24")
            _elem27821724.addEventListener("click", function (event) {document.location.href = "/filmInfo27821724"; $$nav.off()});
        </script>
        
        <div id="searchItem25" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_82441.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук 3: Враг в отражении</h1>
            <h1>2007 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem8244125 = document.getElementById("searchItem25")
            _elem8244125.addEventListener("click", function (event) {document.location.href = "/filmInfo8244125"; $$nav.off()});
        </script>
        
        <div id="searchItem26" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_602409.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Новый Человек-паук: Высокое напряжение</h1>
            <h1>2014 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem60240926 = document.getElementById("searchItem26")
            _elem60240926.addEventListener("click", function (event) {document.location.href = "/filmInfo60240926"; $$nav.off()});
        </script>
        
        <div id="searchItem27" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_838.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук</h1>
            <h1>2002 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem83827 = document.getElementById("searchItem27")
            _elem83827.addEventListener("click", function (event) {document.location.href = "/filmInfo83827"; $$nav.off()});
        </script>
        
        <div id="searchItem28" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_690593.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук: Возвращение домой</h1>
            <h1>2017 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem69059328 = document.getElementById("searchItem28")
            _elem69059328.addEventListener("click", function (event) {document.location.href = "/filmInfo69059328"; $$nav.off()});
        </script>
        
        <div id="searchItem29" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_95232.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук</h1>
            <h1>1994 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem9523229 = document.getElementById("searchItem29")
            _elem9523229.addEventListener("click", function (event) {document.location.href = "/filmInfo9523229"; $$nav.off()});
        </script>
        