
        <div id="searchItem0" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/1946459/25416e9b-c85f-4ab8-9297-9222cd1d694b/orig'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Игра престолов: Один</p>
            <h1>2015 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem9161250 = document.getElementById("searchItem0")
            _elem9161250.addEventListener("click", function (event) {document.location.href = "/filmInfo9161250"; $$nav.off()});
        </script>
        
        <div id="searchItem1" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/a81aa95f-6720-4cde-b88d-c4afe2f17de1/orig'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Игра престолов. Посл</p>
            <h1>2019 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem12603031 = document.getElementById("searchItem1")
            _elem12603031.addEventListener("click", function (event) {document.location.href = "/filmInfo12603031"; $$nav.off()});
        </script>
        
        <div id="searchItem2" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/1777765/dd78edfd-6a1f-486c-9a86-6acbca940418/orig'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Игра Престолов</p>
            <h1>2011 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem4649632 = document.getElementById("searchItem2")
            _elem4649632.addEventListener("click", function (event) {document.location.href = "/filmInfo4649632"; $$nav.off()});
        </script>
        