
        <div id="searchItem0" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_258687.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <p>Интерстеллар</p>
            <h1>2014 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem2586870 = document.getElementById("searchItem0")
            _elem2586870.addEventListener("click", function (event) {document.location.href = "/filmInfo2586870"; $$nav.off()});
        </script>
        