
        <div id="searchItem0" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук: Паутина вселенных</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem12191770 = document.getElementById("searchItem0")
            _elem12191770.addEventListener("click", function (event) {document.location.href = "/filmInfo12191770"; $$nav.off()});
        </script>
        
        <div id="searchItem1" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук: Паутина вселенных</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem12191771 = document.getElementById("searchItem1")
            _elem12191771.addEventListener("click", function (event) {document.location.href = "/filmInfo12191771"; $$nav.off()});
        </script>
        
        <div id="searchItem2" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1301666.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Паучок и его удивительные друзья</h1>
            <h1>2021 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem13016662 = document.getElementById("searchItem2")
            _elem13016662.addEventListener("click", function (event) {document.location.href = "/filmInfo13016662"; $$nav.off()});
        </script>
        
        <div id="searchItem3" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1008482.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук</h1>
            <h1>2017 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem10084823 = document.getElementById("searchItem3")
            _elem10084823.addEventListener("click", function (event) {document.location.href = "/filmInfo10084823"; $$nav.off()});
        </script>
        
        <div id="searchItem4" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_397484.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Грандиозный Человек-паук</h1>
            <h1>2008 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem3974844 = document.getElementById("searchItem4")
            _elem3974844.addEventListener("click", function (event) {document.location.href = "/filmInfo3974844"; $$nav.off()});
        </script>
        
        <div id="searchItem5" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_95232.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук</h1>
            <h1>1994 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem952325 = document.getElementById("searchItem5")
            _elem952325.addEventListener("click", function (event) {document.location.href = "/filmInfo952325"; $$nav.off()});
        </script>
        
        <div id="searchItem6" style="background: url('https://bazon.cc/download/poster/574690.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Великий Человек-паук</h1>
            <h1>2012 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem5746906 = document.getElementById("searchItem6")
            _elem5746906.addEventListener("click", function (event) {document.location.href = "/filmInfo5746906"; $$nav.off()});
        </script>
        
        <div id="searchItem7" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1008482.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук</h1>
            <h1>2017 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem10084827 = document.getElementById("searchItem7")
            _elem10084827.addEventListener("click", function (event) {document.location.href = "/filmInfo10084827"; $$nav.off()});
        </script>
        
        <div id="searchItem8" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_838.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук</h1>
            <h1>2002 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem8388 = document.getElementById("searchItem8")
            _elem8388.addEventListener("click", function (event) {document.location.href = "/filmInfo8388"; $$nav.off()});
        </script>
        
        <div id="searchItem9" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_2898.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук 2</h1>
            <h1>2004 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem28989 = document.getElementById("searchItem9")
            _elem28989.addEventListener("click", function (event) {document.location.href = "/filmInfo28989"; $$nav.off()});
        </script>
        
        <div id="searchItem10" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_82441.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук 3: Враг в отражении</h1>
            <h1>2007 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem8244110 = document.getElementById("searchItem10")
            _elem8244110.addEventListener("click", function (event) {document.location.href = "/filmInfo8244110"; $$nav.off()});
        </script>
        
        <div id="searchItem11" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_920265.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук: Через вселенные</h1>
            <h1>2018 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem92026511 = document.getElementById("searchItem11")
            _elem92026511.addEventListener("click", function (event) {document.location.href = "/filmInfo92026511"; $$nav.off()});
        </script>
        
        <div id="searchItem12" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_690593.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук: Возвращение домой</h1>
            <h1>2017 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem69059312 = document.getElementById("searchItem12")
            _elem69059312.addEventListener("click", function (event) {document.location.href = "/filmInfo69059312"; $$nav.off()});
        </script>
        
        <div id="searchItem13" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1008445.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук: Вдали от дома</h1>
            <h1>2019 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem100844513 = document.getElementById("searchItem13")
            _elem100844513.addEventListener("click", function (event) {document.location.href = "/filmInfo100844513"; $$nav.off()});
        </script>
        
        <div id="searchItem14" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_278217.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Новый Человек-паук</h1>
            <h1>2012 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem27821714 = document.getElementById("searchItem14")
            _elem27821714.addEventListener("click", function (event) {document.location.href = "/filmInfo27821714"; $$nav.off()});
        </script>
        
        <div id="searchItem15" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_602409.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Новый Человек-паук: Высокое напряжение</h1>
            <h1>2014 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem60240915 = document.getElementById("searchItem15")
            _elem60240915.addEventListener("click", function (event) {document.location.href = "/filmInfo60240915"; $$nav.off()});
        </script>
        
        <div id="searchItem16" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309570.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук: Нет пути домой</h1>
            <h1>2021 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem130957016 = document.getElementById("searchItem16")
            _elem130957016.addEventListener("click", function (event) {document.location.href = "/filmInfo130957016"; $$nav.off()});
        </script>
        
        <div id="searchItem17" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5009008.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук: Все дороги ведут в никуда</h1>
            <h1>2022 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem500900817 = document.getElementById("searchItem17")
            _elem500900817.addEventListener("click", function (event) {document.location.href = "/filmInfo500900817"; $$nav.off()});
        </script>
        
        <div id="searchItem18" style="background: url('https://bazon.cc/download/poster/574690.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Великий Человек-паук</h1>
            <h1>2012 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem57469018 = document.getElementById("searchItem18")
            _elem57469018.addEventListener("click", function (event) {document.location.href = "/filmInfo57469018"; $$nav.off()});
        </script>
        
        <div id="searchItem19" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309570.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук: Нет пути домой</h1>
            <h1>2021 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem130957019 = document.getElementById("searchItem19")
            _elem130957019.addEventListener("click", function (event) {document.location.href = "/filmInfo130957019"; $$nav.off()});
        </script>
        
        <div id="searchItem20" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_397484.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Грандиозный Человек-паук</h1>
            <h1>2008 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem39748420 = document.getElementById("searchItem20")
            _elem39748420.addEventListener("click", function (event) {document.location.href = "/filmInfo39748420"; $$nav.off()});
        </script>
        
        <div id="searchItem21" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_297911.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Удивительный Человек-паук</h1>
            <h1>1977 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem29791121 = document.getElementById("searchItem21")
            _elem29791121.addEventListener("click", function (event) {document.location.href = "/filmInfo29791121"; $$nav.off()});
        </script>
        
        <div id="searchItem22" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_2898.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук 2</h1>
            <h1>2004 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem289822 = document.getElementById("searchItem22")
            _elem289822.addEventListener("click", function (event) {document.location.href = "/filmInfo289822"; $$nav.off()});
        </script>
        
        <div id="searchItem23" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1008445.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук: Вдали от дома</h1>
            <h1>2019 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem100844523 = document.getElementById("searchItem23")
            _elem100844523.addEventListener("click", function (event) {document.location.href = "/filmInfo100844523"; $$nav.off()});
        </script>
        
        <div id="searchItem24" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_920265.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук: Через вселенные</h1>
            <h1>2018 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem92026524 = document.getElementById("searchItem24")
            _elem92026524.addEventListener("click", function (event) {document.location.href = "/filmInfo92026524"; $$nav.off()});
        </script>
        
        <div id="searchItem25" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_278217.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Новый Человек-паук</h1>
            <h1>2012 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem27821725 = document.getElementById("searchItem25")
            _elem27821725.addEventListener("click", function (event) {document.location.href = "/filmInfo27821725"; $$nav.off()});
        </script>
        
        <div id="searchItem26" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_82441.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук 3: Враг в отражении</h1>
            <h1>2007 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem8244126 = document.getElementById("searchItem26")
            _elem8244126.addEventListener("click", function (event) {document.location.href = "/filmInfo8244126"; $$nav.off()});
        </script>
        
        <div id="searchItem27" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_602409.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Новый Человек-паук: Высокое напряжение</h1>
            <h1>2014 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem60240927 = document.getElementById("searchItem27")
            _elem60240927.addEventListener("click", function (event) {document.location.href = "/filmInfo60240927"; $$nav.off()});
        </script>
        
        <div id="searchItem28" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_838.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук</h1>
            <h1>2002 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem83828 = document.getElementById("searchItem28")
            _elem83828.addEventListener("click", function (event) {document.location.href = "/filmInfo83828"; $$nav.off()});
        </script>
        
        <div id="searchItem29" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_690593.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук: Возвращение домой</h1>
            <h1>2017 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem69059329 = document.getElementById("searchItem29")
            _elem69059329.addEventListener("click", function (event) {document.location.href = "/filmInfo69059329"; $$nav.off()});
        </script>
        
        <div id="searchItem30" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_95232.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item searchItem nav-item">
            <div class="searchText text">
            <h1>Человек-паук</h1>
            <h1>1994 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem9523230 = document.getElementById("searchItem30")
            _elem9523230.addEventListener("click", function (event) {document.location.href = "/filmInfo9523230"; $$nav.off()});
        </script>
        