<li href="http://172.16.0.210:8888/udp/239.255.1.196:5004" id="channel1" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>1</p>
            <a>Ала-Тоо 24</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.55:5004" id="channel2" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>2</p>
            <a>КТРК</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.23:5004" id="channel3" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>3</p>
            <a>КТРК Маданият</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.53:5004" id="channel4" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>4</p>
            <a>НТС</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.14:5004" id="channel5" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>5</p>
            <a>Любимый HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.51:5004" id="channel6" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>6</p>
            <a>Пирамида HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.80:5004" id="channel7" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>7</p>
            <a>TV1.KG Бишкек City</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.85:5004" id="channel8" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>8</p>
            <a>TV1.KG Бишкек-Шаары</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.52:5004" id="channel9" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>9</p>
            <a>TV1.KG Cinemastan</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.2.20:5004" id="channel10" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>10</p>
            <a>Ынтымак</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.3.13:5004" id="channel11" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>11</p>
            <a>NUR TV HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.2.3:5004" id="channel12" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>12</p>
            <a>New TV</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.176:5004" id="channel13" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>13</p>
            <a>Super TV HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.5:5004" id="channel14" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>14</p>
            <a>5 Канал</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.37:5004" id="channel15" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>15</p>
            <a>7 Канал</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.104:5004" id="channel16" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>16</p>
            <a>ЦТВ HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.8:5004" id="channel17" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>17</p>
            <a>ЭлТР Кыргызстан</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.60:5004" id="channel18" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>18</p>
            <a>ЭлТР Билим Илим</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.200:5004" id="channel19" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>19</p>
            <a>ТНТ Кыргызстан</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.135:5004" id="channel20" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>20</p>
            <a>ТНТ</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A2%D0%9D%D0%A2%20HD%20%5BRU%5D.ts" id="channel21" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>21</p>
            <a>ТНТ HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A2%D0%9D%D0%A24%20HD.ts" id="channel22" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>22</p>
            <a>ТНТ4 HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.32:5004" id="channel23" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>23</p>
            <a>Азия ТВ</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.138:5004" id="channel24" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>24</p>
            <a>Ош Пирим HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.190:5004" id="channel25" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>25</p>
            <a>Ош ТВ</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.4:5004" id="channel26" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>26</p>
            <a>МИР</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.67:5004" id="channel27" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>27</p>
            <a>Мир 24</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.78:5004" id="channel28" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>28</p>
            <a>Первый канал</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.2.2:5004" id="channel29" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>29</p>
            <a>Первый канал HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.171:5004" id="channel30" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>30</p>
            <a>Телеканал Регион</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A1%D0%A2%D0%A1%20%5BRU%5D.ts" id="channel31" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>31</p>
            <a>СТС</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.184:5004" id="channel32" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>32</p>
            <a>СТВ</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.160:5004" id="channel33" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>33</p>
            <a>Семейный</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.165:5004" id="channel34" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>34</p>
            <a>НТВ</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9D%D0%A2%D0%92%20%D0%A5%D0%98%D0%A2%20%5BRU%5D.ts" id="channel35" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>35</p>
            <a>НТВ Хит</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.124:5004" id="channel36" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>36</p>
            <a>НТВ KG</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9D%D0%A2%D0%92%20%D0%A1%D1%82%D0%B8%D0%BB%D1%8C%20%5BRU%5D.ts" id="channel37" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>37</p>
            <a>НТВ Стиль</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9D%D0%A2%D0%92%20%D0%A1%D0%B5%D1%80%D0%B8%D0%B0%D0%BB%20%5BRU%5D.ts" id="channel38" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>38</p>
            <a>НТВ Сериал</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9F%D1%8F%D1%82%D0%BD%D0%B8%D1%86%D0%B0.ts" id="channel39" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>39</p>
            <a>Пятница HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.2:5004" id="channel40" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>40</p>
            <a>Россия РТР</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.57:5004" id="channel41" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>41</p>
            <a>9 Канал</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.139:5004" id="channel42" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>42</p>
            <a>Пятница 2.0</a>
        </li>
        <li href="http://172.16.0.210:8888/rtp/239.255.1.181:5004" id="channel43" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>43</p>
            <a>RT Документальный</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.96:5004" id="channel44" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>44</p>
            <a>RTV</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.94:5004" id="channel45" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>45</p>
            <a>RTG TV</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.180:5004" id="channel46" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>46</p>
            <a>Психология</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.2.17:5004" id="channel47" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>47</p>
            <a>Здоровое ТВ</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A0%D0%B5%D0%BD%20%D1%82%D0%B2.ts" id="channel48" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>48</p>
            <a>Рен ТВ HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.21:5004" id="channel49" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>49</p>
            <a>Домашний Int.</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%94%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D0%B8%D0%B9%20%5BRU%5D.ts" id="channel50" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>50</p>
            <a>Домашний Женский Главный</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.144:5004" id="channel51" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>51</p>
            <a>ТВ-3</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.153:5004" id="channel52" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>52</p>
            <a>ТВЦ</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.114:5004" id="channel53" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>53</p>
            <a>Ю-ТВ</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.183:5004" id="channel54" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>54</p>
            <a>Сарафан</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.118:5004" id="channel55" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>55</p>
            <a>Вопросы Ответы</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.121:5004" id="channel56" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>56</p>
            <a>Жаша! HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.30:5004" id="channel57" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>57</p>
            <a>Живи!</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.93:5004" id="channel58" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>58</p>
            <a>Телекафе</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.24:5004" id="channel59" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>59</p>
            <a>Бобёр</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.74:5004" id="channel60" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>60</p>
            <a>Время</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.31:5004" id="channel61" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>61</p>
            <a>Fashion TV</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Fashion%20TV%20Midnite%20Secrets.ts" id="channel62" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>62</p>
            <a>Fashion TV Midnite Secrets</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%94%D0%BE%D0%B6%D0%B4%D1%8C%20%5BRU%5D.ts" id="channel63" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>63</p>
            <a>Дождь</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9F%D0%B5%D1%80%D0%B5%D1%86.ts" id="channel64" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>64</p>
            <a>Перец</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/3ABN.ts" id="channel65" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>65</p>
            <a>Три Ангела</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/LAVA%20HD%20%D0%A0%D1%83%D1%81%D1%81%D0%BA%D0%B8%D0%B9.ts" id="channel66" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>66</p>
            <a>LAVA HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%95%D0%B4%D0%B0%20%D0%9F%D1%80%D0%B5%D0%BC%D0%B8%D1%83%D0%BC%20HD%20%5BRU%5D.ts" id="channel67" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>67</p>
            <a>Food Time</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.99:5004" id="channel68" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>68</p>
            <a>Союз ТВ</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.22:5004" id="channel69" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>69</p>
            <a>Усадьба</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.84:5004" id="channel70" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>70</p>
            <a>БелРос</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.87:5004" id="channel71" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>71</p>
            <a>Беларусь 24</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.98:5004" id="channel72" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>72</p>
            <a>РБК</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A2%D0%92%203%20%5BRU%5D.ts" id="channel73" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>73</p>
            <a>ТВ 3</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F%201%20HD.ts" id="channel74" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>74</p>
            <a>Россия 1 HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.2:5004" id="channel75" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>75</p>
            <a>Россия РТР</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.9:5004" id="channel76" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>76</p>
            <a>Россия 24</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/IZ.RU.ts" id="channel77" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>77</p>
            <a>Известия HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.117:5004" id="channel78" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>78</p>
            <a>CGTN Русский</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.15:5004" id="channel79" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>79</p>
            <a>Euronews Russia</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.2.13:5004" id="channel80" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>80</p>
            <a>Настоящее Время</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/360%20HD.ts" id="channel81" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>81</p>
            <a>360 HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.155:5004" id="channel82" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>82</p>
            <a>Кино ТВ</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.105:5004" id="channel83" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>83</p>
            <a>Cinema</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.89:5004" id="channel84" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>84</p>
            <a>CineMax</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/FAN%20%5BRU%5D.ts" id="channel85" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>85</p>
            <a>FAN</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A5%D0%B8%D1%82%20HD%20%5BRU%5D.ts" id="channel86" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>86</p>
            <a>Хит HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/CineMan%20%5BRU%5D.ts" id="channel87" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>87</p>
            <a>CineMan</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/CineMan%20Top%20%5BRU%5D.ts" id="channel88" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>88</p>
            <a>CineMan Top</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/CineMan%20%D0%A0%D1%83%D0%9A%D0%B8%D0%BD%D0%BE%20%5BRU%5D.ts" id="channel89" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>89</p>
            <a>CineMan РуКино</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9A%D0%B8%D0%BD%D0%BE%D0%B7%D0%B0%D0%BB%201%20%5BRU%5D.ts" id="channel90" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>90</p>
            <a>КинекО</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.177:5004" id="channel91" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>91</p>
            <a>Дорама</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9A%D0%98%D0%9D%D0%9E%20UHD%20%5BRU%5D.ts" id="channel92" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>92</p>
            <a>Кино UHD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A1%D0%95%D0%A0%D0%98%D0%90%D0%9B%20UHD%20%5BRU%5D.ts" id="channel93" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>93</p>
            <a>Сериал UHD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/2x2%20HD.ts" id="channel94" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>94</p>
            <a>2x2 HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.2.1:5004" id="channel95" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>95</p>
            <a>Русский экстрим</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A0%D1%83%D1%81%D1%81%D0%BA%D0%B8%D0%B9%20%D0%AD%D0%BA%D1%81%D1%82%D1%80%D0%B8%D0%BC%20%5BRU%5D.ts" id="channel96" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>96</p>
            <a>Русский экстрим HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Ultra%20HD%20Cinema%20%5BRU%5D.ts" id="channel97" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>97</p>
            <a>Ultra HD Cinema</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Russian%20Extreme%20Ultra%20%5BRU%5D.ts" id="channel98" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>98</p>
            <a>Ultra Rex</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.97:5004" id="channel99" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>99</p>
            <a>Техно 24</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.48:5004" id="channel100" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>100</p>
            <a>viju TV1000</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.50:5004" id="channel101" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>101</p>
            <a>viju TV1000 Action</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.49:5004" id="channel102" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>102</p>
            <a>viju TV1000 Русское Кино</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/VIP%20Megahit%20%5BRU%5D.ts" id="channel103" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>103</p>
            <a>viju+ VIP Megahit</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/VIP%20Comedy.ts" id="channel104" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>104</p>
            <a>viju+ VIP Comedy</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/VIP%20Premiere%20%5BRU%5D.ts" id="channel105" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>105</p>
            <a>viju+ VIP Premiere</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/VIP%20Serial%20%5BRU%5D.ts" id="channel106" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>106</p>
            <a>viju+ VIP Serial</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.46:5004" id="channel107" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>107</p>
            <a>viju Viasat History</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.44:5004" id="channel108" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>108</p>
            <a>viju Viasat Explore</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.45:5004" id="channel109" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>109</p>
            <a>viju Viasat Nature</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.47:5004" id="channel110" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>110</p>
            <a>viju Viasat Sport</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Viasat%20Nature%2FHistory%20HD%20%5BRU%5D.ts" id="channel111" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>111</p>
            <a>viju Viasat Planet</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9F%D1%80%D0%BE%20%D0%9B%D1%8E%D0%B1%D0%BE%D0%B2%D1%8C%20HD%20%5BRU%5D.ts" id="channel112" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>112</p>
            <a>Про любовь HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9A%D0%B8%D0%BD%D0%BE%D0%BF%D0%BE%D0%BA%D0%B0%D0%B7.ts" id="channel113" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>113</p>
            <a>Комедийное HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A8%D0%BE%D0%BA%D0%B8%D1%80%D1%83%D1%8E%D1%89%D0%B5%D0%B5%20HD%20%5BRU%5D.ts" id="channel114" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>114</p>
            <a>Шокирующее HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9F%D1%80%D0%B5%D0%BC%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5%20HD%20%5BRU%5D.ts" id="channel115" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>115</p>
            <a>Премиальное HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9E%D1%81%D1%82%D1%80%D0%BE%D1%81%D1%8E%D0%B6%D0%B5%D1%82%D0%BD%D0%BE%D0%B5%20HD%20%5BRU%5D.ts" id="channel116" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>116</p>
            <a>Остросюжетное HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%91%D0%BB%D0%BE%D0%BA%D0%B1%D0%B0%D1%81%D1%82%D0%B5%D1%80%20HD%20%5BRU%5D.ts" id="channel117" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>117</p>
            <a>Блокбастер HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%94%D1%83%D1%88%D0%B5%D0%B2%D0%BD%D0%BE%D0%B5%20%5BRU%5D.ts" id="channel118" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>118</p>
            <a>Душевное HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A0%D0%BE%D0%BC%D0%B0%D0%BD%D1%82%D0%B8%D1%87%D0%BD%D0%BE%D0%B5%20%5BRU%5D.ts" id="channel119" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>119</p>
            <a>Романтичное HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9B%D1%8E%D0%B1%D0%B8%D0%BC%D0%BE%D0%B5%20%D0%BA%D0%B8%D0%BD%D0%BE%20%5BRU%5D.ts" id="channel120" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>120</p>
            <a>Любимое кино HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.108:5004" id="channel121" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>121</p>
            <a>Киносвидание</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9A%D0%B8%D0%BD%D0%BE%D1%81%D0%B5%D1%80%D0%B8%D1%8F.ts" id="channel122" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>122</p>
            <a>Киносерия</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.2.19:5004" id="channel123" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>123</p>
            <a>Кинопремьера</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.123:5004" id="channel124" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>124</p>
            <a>Родное кино</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.175:5004" id="channel125" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>125</p>
            <a>Наше новое кино</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.109:5004" id="channel126" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>126</p>
            <a>Киносемья</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.136:5004" id="channel127" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>127</p>
            <a>Кинохит</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.113:5004" id="channel128" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>128</p>
            <a>Мужское кино</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.110:5004" id="channel129" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>129</p>
            <a>Киномикс</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.25:5004" id="channel130" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>130</p>
            <a>Киноужас</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.63:5004" id="channel131" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>131</p>
            <a>Индийское кино</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Bollywood%20HD%20%5BRU%5D.ts" id="channel132" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>132</p>
            <a>Bollywood HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Hollywood%20HD%20%5BRU%5D.ts" id="channel133" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>133</p>
            <a>Hollywood HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.199:5004" id="channel134" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>134</p>
            <a>A1 (Amedia)</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.120:5004" id="channel135" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>135</p>
            <a>A2 (Amedia)</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.134:5004" id="channel136" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>136</p>
            <a>Амедия Хит HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.2.14:5004" id="channel137" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>137</p>
            <a>Amedia Premium HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.40:5004" id="channel138" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>138</p>
            <a>Fox Life</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Fox%20Life%20HD%20%5BRU%5D.ts" id="channel139" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>139</p>
            <a>Fox Life HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/FOX%20HD%20%5BRU%5D.ts" id="channel140" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>140</p>
            <a>Fox HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.39:5004" id="channel141" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>141</p>
            <a>Fox Channel</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.75:5004" id="channel142" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>142</p>
            <a>Sony Sci-Fi</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/.red%20%5BRU%5D.ts" id="channel143" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>143</p>
            <a>Sony Red</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.65:5004" id="channel144" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>144</p>
            <a>Sony Black</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A1%D1%82%D1%80%D0%B0%D1%88%D0%BD%D0%BE%D0%B5%20HD%20%5BRU%5D.ts" id="channel145" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>145</p>
            <a>Страшное HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.159:5004" id="channel146" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>146</p>
            <a>Настоящее страшное ТВ</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.95:5004" id="channel147" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>147</p>
            <a>Comedy Central</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9A%D0%B0%D0%BC%D0%B5%D0%B4%D0%B8%20HD%20%5BRU%5D.ts" id="channel148" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>148</p>
            <a>Камеди HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.41:5004" id="channel149" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>149</p>
            <a>Феникс+Кино</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Kids%20HD%20%5BRU%5D.ts" id="channel150" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>150</p>
            <a>BCU Kids HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Kids%2B%20HD%20%5BRU%5D.ts" id="channel151" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>151</p>
            <a>BCU Kids+ HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20%D0%9C%D1%83%D0%BB%D1%8C%D1%82%D1%81%D0%B5%D1%80%D0%B8%D0%B0%D0%BB%20%5BRU%5D.ts" id="channel152" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>152</p>
            <a>BCU Мультсериал</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Premiere%20HD%20%5BRU%5D.ts" id="channel153" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>153</p>
            <a>BCU Premiere HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Action%20HD%20%5BRU%5D.ts" id="channel154" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>154</p>
            <a>BCU Action HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Catastrophe%20HD%20%5BRU%5D.ts" id="channel155" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>155</p>
            <a>BCU Catastrophe HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Cinema%20HD%20%5BRU%5D.ts" id="channel156" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>156</p>
            <a>BCU Cinema HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Cinema%2B%20HD%20%5BRU%5D.ts" id="channel157" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>157</p>
            <a>BCU Cinema+ HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Cosmo%20HD%20%5BRU%5D.ts" id="channel158" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>158</p>
            <a>BCU Cosmo HD</a>
        </li>
        <li href="http://172.16.0.16:8081/torrenttv/channel/BCU%20Comedy%20HD%20%5BRU%5D.ts" id="channel159" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>159</p>
            <a>BCU Comedy HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Kinozakaz%20HD%20%5BRU%5D.ts" id="channel160" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>160</p>
            <a>BCU Kinozakaz HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Criminal%20HD%20%5BRU%5D.ts" id="channel161" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>161</p>
            <a>BCU Criminal HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20History%20HD%20%5BRU%5D.ts" id="channel162" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>162</p>
            <a>BCU History HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Kinorating%20HD%20%5BRU%5D.ts" id="channel163" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>163</p>
            <a>BCU Kinorating HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Fantastic%20HD%20%5BRU%5D.ts" id="channel164" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>164</p>
            <a>BCU Fantastic HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Marvel%20HD%20%5BRU%5D.ts" id="channel165" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>165</p>
            <a>BCU Marvel HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Filmystic%20HD%20%5BRU%5D.ts" id="channel166" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>166</p>
            <a>BCU Filmystic HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Reality%20HD%20%5BRU%5D.ts" id="channel167" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>167</p>
            <a>BCU Reality HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Stars%20HD%20%5BRU%5D.ts" id="channel168" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>168</p>
            <a>BCU Stars HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Survival%20HD%20%5BRU%5D.ts" id="channel169" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>169</p>
            <a>BCU Survival HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Ruserial%20HD%20%5BRU%5D.ts" id="channel170" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>170</p>
            <a>BCU Ruserial HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20TruMotion%20HD%20%5BRU%5D.ts" id="channel171" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>171</p>
            <a>BCU TruMotion HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Russian%20HD%20%5BRU%5D.ts" id="channel172" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>172</p>
            <a>BCU Russian HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20%D0%9A%D0%B8%D0%BD%D0%BE%D0%B7%D0%B0%D0%BB%20%D0%A1%D0%A1%D0%A1%D0%A0%20HD%20%5BRU%5D.ts" id="channel173" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>173</p>
            <a>BCU Кинозал СССР HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20%D0%9A%D0%B8%D0%BD%D0%BE%D0%B7%D0%B0%D0%BB%20Premiere%201%20HD%20%5BRU%5D.ts" id="channel174" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>174</p>
            <a>BCU Кинозал Premiere 1 HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20%D0%9A%D0%B8%D0%BD%D0%BE%D0%B7%D0%B0%D0%BB%20Premiere%202%20HD%20%5BRU%5D.ts" id="channel175" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>175</p>
            <a>BCU Кинозал Premiere 2 HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20%D0%9A%D0%B8%D0%BD%D0%BE%D0%B7%D0%B0%D0%BB%20Premiere%203%20HD%20%5BRU%5D.ts" id="channel176" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>176</p>
            <a>BCU Кинозал Premiere 3 HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20VHS%20HD%20%5BRU%5D.ts" id="channel177" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>177</p>
            <a>BCU VHS HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20%D0%A1%D0%B2%D0%B0%D1%82%D1%8B%20HD%20%5BRU%5D.ts" id="channel178" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>178</p>
            <a>BCU Сваты HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20%D0%A0%D0%BE%D0%BC%D0%B0%D0%BD%D1%82%D0%B8%D0%BA%D0%B0%20HD%20%5BRU%5D.ts" id="channel179" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>179</p>
            <a>BCU Романтика HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BackusTV.ts" id="channel180" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>180</p>
            <a>BackusTV</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BackusTV%20%D0%A1%D1%82%D1%80%D0%B0%D1%88%D0%BD%D0%BE%D0%B5.ts" id="channel181" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>181</p>
            <a>BackusTV Dark</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.2.15:5004" id="channel182" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>182</p>
            <a>Иллюзион+</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.193:5004" id="channel183" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>183</p>
            <a>Русский Иллюзион</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A0%D1%83%D1%81%D1%81%D0%BA%D0%B8%D0%B9%20%D0%94%D0%B5%D1%82%D0%B5%D0%BA%D1%82%D0%B8%D0%B2%20%5BRU%5D.ts" id="channel184" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>184</p>
            <a>Русский Детектив</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A0%D1%83%D1%81%D1%81%D0%BA%D0%B8%D0%B9%20%D0%91%D0%B5%D1%81%D1%82%D1%81%D0%B5%D0%BB%D0%BB%D0%B5%D1%80%20%5BRU%5D.ts" id="channel185" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>185</p>
            <a>Русский Бестселлер</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A0%D1%83%D1%81%D1%81%D0%BA%D0%B0%D1%8F%20%D0%BA%D0%BE%D0%BC%D0%B5%D0%B4%D0%B8%D1%8F%20%5BRU%5D.ts" id="channel186" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>186</p>
            <a>Русская Комедия</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.64:5004" id="channel187" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>187</p>
            <a>Дом Кино</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.122:5004" id="channel188" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>188</p>
            <a>Дом Кино Преимум</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%94%D0%BE%D0%BC%20%D0%BA%D0%B8%D0%BD%D0%BE%20%D0%BF%D1%80%D0%B5%D0%BC%D0%B8%D1%83%D0%BC%20HD%20%5BRU%5D.ts" id="channel189" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>189</p>
            <a>Дом Кино Премиум HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9A%D0%B8%D0%BD%D0%BE%D0%B4%D0%B6%D0%B5%D0%BC%201%20HD%20%5BRU%5D.ts" id="channel190" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>190</p>
            <a>Kino Jam</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.142:5004" id="channel191" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>191</p>
            <a>Киноман</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A2%D0%92%20XXI%20%5BRU%5D.ts" id="channel192" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>192</p>
            <a>ТВ XXI</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.194:5004" id="channel193" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>193</p>
            <a>Еврокино</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.18:5004" id="channel194" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>194</p>
            <a>Ретро ТВ</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.170:5004" id="channel195" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>195</p>
            <a>Мосфильм. Золотая коллекция</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.3.11:5004" id="channel196" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>196</p>
            <a>Победа</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.151:5004" id="channel197" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>197</p>
            <a>Звезда</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.150:5004" id="channel198" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>198</p>
            <a>Поехали!</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Filmbox.ts" id="channel199" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>199</p>
            <a>Filmbox</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.79:5004" id="channel200" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>200</p>
            <a>Точка Отрыва</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.2.7:5004" id="channel201" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>201</p>
            <a>КТРК Спорт</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.103:5004" id="channel202" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>202</p>
            <a>Kыргыз спорт ТВ HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.149:5004" id="channel203" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>203</p>
            <a>Setanta Kyrgyzstan</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.82:5004" id="channel204" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>204</p>
            <a>Setanta Sport 1 HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.83:5004" id="channel205" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>205</p>
            <a>Setanta Sport 2 HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.3.12:5004" id="channel206" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>206</p>
            <a>Q-Sport Arena</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.188:5004" id="channel207" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>207</p>
            <a>Матч! ТВ</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9C%D0%B0%D1%82%D1%87%20%D0%B8%D0%B3%D1%80%D0%B0.ts" id="channel208" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>208</p>
            <a>Матч! Игра</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.198:5004" id="channel209" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>209</p>
            <a>Матч! Премьер</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9C%D0%B0%D1%82%D1%87%20%D0%B0%D1%80%D0%B5%D0%BD%D0%B0.ts" id="channel210" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>210</p>
            <a>Матч! Арена</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9C%D0%B0%D1%82%D1%87%21%20%D0%A1%D1%82%D1%80%D0%B0%D0%BD%D0%B0%20%5BRU%5D.ts" id="channel211" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>211</p>
            <a>Матч! Страна</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.192:5004" id="channel212" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>212</p>
            <a>Матч! Планета</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9C%D0%B0%D1%82%D1%87%21%20%D0%A4%D1%83%D1%82%D0%B1%D0%BE%D0%BB%201%20%28%20original%20%29%20%5BRU%5D.ts" id="channel213" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>213</p>
            <a>Матч! Футбол 1</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9C%D0%B0%D1%82%D1%87%21%20%D0%A4%D1%83%D1%82%D0%B1%D0%BE%D0%BB%202%20%28%20original%20%29%20%5BRU%5D.ts" id="channel214" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>214</p>
            <a>Матч! Футбол 2</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9C%D0%B0%D1%82%D1%87%21%20%D0%A4%D1%83%D1%82%D0%B1%D0%BE%D0%BB%203%20%28%20original%20%29%20%5BRU%5D.ts" id="channel215" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>215</p>
            <a>Матч! Футбол 3</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.29:5004" id="channel216" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>216</p>
            <a>Матч! Боец</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.66:5004" id="channel217" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>217</p>
            <a>MMA-TV.com</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.2.6:5004" id="channel218" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>218</p>
            <a>Бокс ТВ</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/UFC%20HD%20%5BRU%5D.ts" id="channel219" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>219</p>
            <a>Udar</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.158:5004" id="channel220" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>220</p>
            <a>KHL</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.156:5004" id="channel221" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>221</p>
            <a>KHL Prime HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A5%D0%BE%D0%BA%D0%BA%D0%B5%D0%B9%D0%BD%D1%8B%D0%B9%20HD%20%5BRU%5D.ts" id="channel222" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>222</p>
            <a>Хоккейный HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A4%D1%83%D1%82%D0%B1%D0%BE%D0%BB%20HD%20%5BRU%5D.ts" id="channel223" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>223</p>
            <a>Футбол HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9C%D0%B8%D1%80%20%D0%91%D0%B0%D1%81%D0%BA%D0%B5%D1%82%D0%B1%D0%BE%D0%BB%D0%B0%20%5BRU%5D.ts" id="channel224" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>224</p>
            <a>Мир Баскетбола</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.38:5004" id="channel225" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>225</p>
            <a>Моторспорт ТВ</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.178:5004" id="channel226" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>226</p>
            <a>Конный мир</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.38:5004" id="channel227" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>227</p>
            <a>Моторспорт ТВ</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.38:5004" id="channel228" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>228</p>
            <a>Моторспорт ТВ</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.61:5004" id="channel229" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>229</p>
            <a>Eurosport 1</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.62:5004" id="channel230" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>230</p>
            <a>Eurosport 2</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Fast%26Funbox%20HD%20%5BRU%5D.ts" id="channel231" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>231</p>
            <a>Fast&Funbox HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/FightBox%20HD%20%5BRU%5D.ts" id="channel232" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>232</p>
            <a>FightBox HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A1%D0%BF%D0%BE%D1%80%D1%82%D0%B8%D0%B2%D0%BD%D1%8B%D0%B9%20%5BRU%5D.ts" id="channel233" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>233</p>
            <a>Спортивный</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/RU%3A%20SPORT%20HD.ts" id="channel234" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>234</p>
            <a>Sport HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/NBA%20TV%20%5BUS%5D.ts" id="channel235" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>235</p>
            <a>NBA TV</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/MUTV.ts" id="channel236" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>236</p>
            <a>Manchester United TV</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Premier%20Sports%201%20%5BUK%5D.ts" id="channel237" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>237</p>
            <a>Premier Sports 1 UK</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Premier%20Sports%202%20%5BUK%5D.ts" id="channel238" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>238</p>
            <a>Premier Sports 2 UK</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Red%20Bull.ts" id="channel239" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>239</p>
            <a>Red Bull TV</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.13:5004" id="channel240" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>240</p>
            <a>КТРК Музыка</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.112:5004" id="channel241" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>241</p>
            <a>Tumar TV</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.182:5004" id="channel242" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>242</p>
            <a>ТНТ Music</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.119:5004" id="channel243" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>243</p>
            <a>Bridge TV</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.169:5004" id="channel244" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>244</p>
            <a>Bridge TV Русский Хит</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.33:5004" id="channel245" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>245</p>
            <a>Bridge TV Classic</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.16:5004" id="channel246" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>246</p>
            <a>Bridge TV Hits</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.77:5004" id="channel247" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>247</p>
            <a>Bridge TV Шлягер</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/1HD%20%5BRU%5D.ts" id="channel248" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>248</p>
            <a>1HD Music TV</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/First%20Music%20channel%20HD.ts" id="channel249" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>249</p>
            <a>First Music channel HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Kronehit%20HD.ts" id="channel250" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>250</p>
            <a>Kronehit HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Kronehit%20HD.ts" id="channel251" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>251</p>
            <a>Kronehit HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/MusicBox%20RU%20%5BRU%5D.ts" id="channel252" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>252</p>
            <a>Russian Music Box</a>
        </li>
        <li href="http://172.16.0.10:8081/torrenttv/channel/Viva%20Russia%20HD.ts" id="channel253" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>253</p>
            <a>Viva Russia HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.36:5004" id="channel254" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>254</p>
            <a>Ля-Минор</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A0%D0%B0%D0%B4%D0%B8%D0%BE%20%D0%A8%D0%B0%D0%BD%D1%81%D0%BE%D0%BD%20TV.ts" id="channel255" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>255</p>
            <a>Радио Шансон TV</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A1%D1%82%D1%80%D0%B0%D0%BD%D0%B0%20FM%20TV.ts" id="channel256" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>256</p>
            <a>Страна FM TV</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.88:5004" id="channel257" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>257</p>
            <a>Музыка первого</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.7:5004" id="channel258" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>258</p>
            <a>MTV Россия</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.2.18:5004" id="channel259" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>259</p>
            <a>MTV Live HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.72:5004" id="channel260" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>260</p>
            <a>Европа Плюс ТВ</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.189:5004" id="channel261" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>261</p>
            <a>Ru TV</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.141:5004" id="channel262" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>262</p>
            <a>МузТВ</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/ECKO%20EXPRES%20music.ts" id="channel263" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>263</p>
            <a>Ecko Expres Music</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A8%D0%B0%D0%BD%D1%81%D0%BE%D0%BD.ts" id="channel264" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>264</p>
            <a>Шансон ТВ</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/MUZZIK%20CLUB.ts" id="channel265" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>265</p>
            <a>PopStar</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/TVM%20Channel.ts" id="channel266" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>266</p>
            <a>TVM Channel</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%96%D0%B0%D1%80%D0%B0%20%5BRU%5D.ts" id="channel267" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>267</p>
            <a>Жара</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%96%D0%90%D0%A0%D0%90%20KIDS%20TV.ts" id="channel268" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>268</p>
            <a>Жара Kids TV</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.12:5004" id="channel269" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>269</p>
            <a>КТРК Баластан</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9A%D0%B0%D0%BF%D0%B8%D1%82%D0%B0%D0%BD%20%D0%A4%D0%B0%D0%BD%D1%82%D0%B0%D1%81%D1%82%D0%B8%D0%BA%D0%B0%20HD%20%5BRU%5D.ts" id="channel270" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>270</p>
            <a>Капитан Фантастика HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.56:5004" id="channel271" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>271</p>
            <a>В гостях у сказки</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.101:5004" id="channel272" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>272</p>
            <a>CTC Kids</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A1%D0%A2%D0%A1%20Love%20%5BRU%5D.ts" id="channel273" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>273</p>
            <a>СТС Love</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.27:5004" id="channel274" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>274</p>
            <a>Nickelodeon</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.69:5004" id="channel275" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>275</p>
            <a>Nickelodeon HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.90:5004" id="channel276" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>276</p>
            <a>Nick Junior</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.2.12:5004" id="channel277" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>277</p>
            <a>Nick Toons</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.10:5004" id="channel278" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>278</p>
            <a>Уникум</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.173:5004" id="channel279" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>279</p>
            <a>TiJi</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.91:5004" id="channel280" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>280</p>
            <a>Gulli Girl</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.11:5004" id="channel281" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>281</p>
            <a>Мультландия</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.17:5004" id="channel282" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>282</p>
            <a>Мульт</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.43:5004" id="channel283" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>283</p>
            <a>DaVinci Learning</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.197:5004" id="channel284" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>284</p>
            <a>Мама</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Disney.ts" id="channel285" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>285</p>
            <a>Солнце</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.71:5004" id="channel286" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>286</p>
            <a>Карусель</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.54:5004" id="channel287" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>287</p>
            <a>О!</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.3:5004" id="channel288" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>288</p>
            <a>Россия Культура</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.70:5004" id="channel289" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>289</p>
            <a>Большая Азия</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.166:5004" id="channel290" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>290</p>
            <a>TLC</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.191:5004" id="channel291" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>291</p>
            <a>Animal Planet</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%94%D0%B8%D0%BA%D0%B0%D1%8F%20%D0%BE%D1%85%D0%BE%D1%82%D0%B0.ts" id="channel292" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>292</p>
            <a>Дикая охота HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%93%D0%BB%D0%B0%D0%B7%D0%B0%D0%BC%D0%B8%20%D1%82%D1%83%D1%80%D0%B8%D1%81%D1%82%D0%B0%20HD%20%5BRU%5D.ts" id="channel293" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>293</p>
            <a>Глазами туриста HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9A%D0%B0%D0%BB%D0%B5%D0%B9%D0%B4%D0%BE%D1%81%D0%BA%D0%BE%D0%BF%20%D0%A2%D0%92.ts" id="channel294" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>294</p>
            <a>Калейдоскоп ТВ</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Travel%20Channel%20HD%20%5BRU%5D.ts" id="channel295" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>295</p>
            <a>Travel Channel HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%92%20%D0%BC%D0%B8%D1%80%D0%B5%20%D0%B6%D0%B8%D0%B2%D0%BE%D1%82%D0%BD%D1%8B%D1%85%20%5BRU%5D.ts" id="channel296" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>296</p>
            <a>В мире животных</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.102:5004" id="channel297" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>297</p>
            <a>Моя Планета HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/DTX%20%5BRU%5D.ts" id="channel298" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>298</p>
            <a>DTX</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.154:5004" id="channel299" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>299</p>
            <a>Живая Планета</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.127:5004" id="channel300" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>300</p>
            <a>Канал История</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.125:5004" id="channel301" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>301</p>
            <a>HDL</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.168:5004" id="channel302" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>302</p>
            <a>Museum TV HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9C%D1%83%D0%B6%D1%81%D0%BA%D0%BE%D0%B9%20%5BRU%5D.ts" id="channel303" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>303</p>
            <a>Мужской</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.3.14:5004" id="channel304" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>304</p>
            <a>Insight TV</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.34:5004" id="channel305" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>305</p>
            <a>National Geographic</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.35:5004" id="channel306" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>306</p>
            <a>National Geographic Wild</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.148:5004" id="channel307" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>307</p>
            <a>Discovery Channel</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Discovery%20Science%20HD%20%5BRU%5D.ts" id="channel308" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>308</p>
            <a>Discovery Science</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.20:5004" id="channel309" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>309</p>
            <a>Охота и рыбалка</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Dikaya%20Rybalka%20HD%20%5BRU%5D.ts" id="channel310" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>310</p>
            <a>Дикая Рыбалка HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%94%D0%B8%D0%B0%D0%BB%D0%BE%D0%B3%D0%B8%20%D0%BE%20%D1%80%D1%8B%D0%B1%D0%B0%D0%BB%D0%BA%D0%B5%20%5BRU%5D.ts" id="channel311" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>311</p>
            <a>Диалоги о рыбалке</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Travel%2BAdventure%20HD%20%5BRU%5D.ts" id="channel312" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>312</p>
            <a>Travel+Adventure</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/History%20HD%20%5BRU%5D.ts" id="channel313" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>313</p>
            <a>History HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/H2%20HD%20%5BRU%5D.ts" id="channel314" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>314</p>
            <a>History 2 HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.86:5004" id="channel315" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>315</p>
            <a>Кухня ТВ</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.92:5004" id="channel316" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>316</p>
            <a>Оружие</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.115:5004" id="channel317" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>317</p>
            <a>Наука</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.19:5004" id="channel318" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>318</p>
            <a>Драйв ТВ</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Galaxy.ts" id="channel319" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>319</p>
            <a>Тайны Галактики HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/TV7%20%28RU%29.ts" id="channel320" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>320</p>
            <a>TV7 Христианский канал</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9F%D1%80%D0%B8%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D1%8F.ts" id="channel321" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>321</p>
            <a>Приключения</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%90%D1%80%D1%81%D0%B5%D0%BD%D0%B0%D0%BB%20HD%20%5BRU%5D.ts" id="channel322" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>322</p>
            <a>Арсенал</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Eureka%20HD%20%5BRU%5D.ts" id="channel323" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>323</p>
            <a>Космический</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.3.1:5004" id="channel324" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>324</p>
            <a>ЗооПарк</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.3.2:5004" id="channel325" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>325</p>
            <a>Авто 24</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.152:5004" id="channel326" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>326</p>
            <a>Моя Планета</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.3.1:5004" id="channel327" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>327</p>
            <a>ЗооПарк</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A1%D0%B5%D0%B2%D0%B5%D1%80%20%D0%A2%D0%92.ts" id="channel328" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>328</p>
            <a>Север ТВ</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.42:5004" id="channel329" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>329</p>
            <a>MyZen TV HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.2.9:5004" id="channel330" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>330</p>
            <a>Домашние животные</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9D%D0%B0%D1%88%D0%B0%20%D1%81%D0%B8%D0%B1%D0%B8%D1%80%D1%8C%204K%20%5BRU%5D.ts" id="channel331" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>331</p>
            <a>Наша сибирь 4К</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.102:5004" id="channel332" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>332</p>
            <a>Моя Планета HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.26:5004" id="channel333" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>333</p>
            <a>Хабар</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.130:5004" id="channel334" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>334</p>
            <a>Euronews English</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.130:5004" id="channel335" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>335</p>
            <a>Euronews English</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.140:5004" id="channel336" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>336</p>
            <a>Qazaq TV</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.140:5004" id="channel337" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>337</p>
            <a>Jibek Joly</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/TV%20BRICS.ts" id="channel338" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>338</p>
            <a>TV BRICS</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/TV%20BRICS%20China.ts" id="channel339" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>339</p>
            <a>TV BRICS China</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/TV%20BRICS%20English.ts" id="channel340" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>340</p>
            <a>TV BRICS English</a>
        </li>
        