<div style="background: url('https://i.ibb.co/mCfXNFk/icon4.jpg'); background-repeat:no-repeat;background-size: 100% 100%;" id="channel1" class="channel nav-item">
            <p class="channelName">Ала-Тоо 24</p>
        </div>
        <script type="text/javascript">
             var _channel1 = document.getElementById("channel1")
            _channel1.addEventListener("click", function (event) {document.location.href = "/channels?1"; $$nav.off()});
        </script>
        <div style="background: url('https://i.ibb.co/m8QgyWN/icon1.jpg'); background-repeat:no-repeat;background-size: 100% 100%;" id="channel2" class="channel nav-item">
            <p class="channelName">КТРК</p>
        </div>
        <script type="text/javascript">
             var _channel2 = document.getElementById("channel2")
            _channel2.addEventListener("click", function (event) {document.location.href = "/channels?2"; $$nav.off()});
        </script>
        <div style="background: url('https://i.ibb.co/wL4sqP7/icon5.jpg'); background-repeat:no-repeat;background-size: 100% 100%;" id="channel3" class="channel nav-item">
            <p class="channelName">КТРК Маданият</p>
        </div>
        <script type="text/javascript">
             var _channel3 = document.getElementById("channel3")
            _channel3.addEventListener("click", function (event) {document.location.href = "/channels?3"; $$nav.off()});
        </script>
        <div style="background: url('https://i.ibb.co/TmjJ4YL/image.jpg'); background-repeat:no-repeat;background-size: 100% 100%;" id="channel4" class="channel nav-item">
            <p class="channelName">НТС</p>
        </div>
        <script type="text/javascript">
             var _channel4 = document.getElementById("channel4")
            _channel4.addEventListener("click", function (event) {document.location.href = "/channels?4"; $$nav.off()});
        </script>
        <div style="background: url('https://i.ibb.co/6bY2Xnb/image.jpg'); background-repeat:no-repeat;background-size: 100% 100%;" id="channel5" class="channel nav-item">
            <p class="channelName">Любимый HD</p>
        </div>
        <script type="text/javascript">
             var _channel5 = document.getElementById("channel5")
            _channel5.addEventListener("click", function (event) {document.location.href = "/channels?5"; $$nav.off()});
        </script>
        <div style="background: url('https://i.ibb.co/y637ZWv/image.jpg'); background-repeat:no-repeat;background-size: 100% 100%;" id="channel6" class="channel nav-item">
            <p class="channelName">Пирамида HD</p>
        </div>
        <script type="text/javascript">
             var _channel6 = document.getElementById("channel6")
            _channel6.addEventListener("click", function (event) {document.location.href = "/channels?6"; $$nav.off()});
        </script>
        <div style="background: url('https://i.ibb.co/303BfMC/TV1-City.jpg'); background-repeat:no-repeat;background-size: 100% 100%;" id="channel7" class="channel nav-item">
            <p class="channelName">TV1.KG Бишкек City</p>
        </div>
        <script type="text/javascript">
             var _channel7 = document.getElementById("channel7")
            _channel7.addEventListener("click", function (event) {document.location.href = "/channels?7"; $$nav.off()});
        </script>
        <div style="background: url('https://i.ibb.co/5cxNzCd/TV1.jpg'); background-repeat:no-repeat;background-size: 100% 100%;" id="channel8" class="channel nav-item">
            <p class="channelName">TV1.KG Бишкек-Шаары</p>
        </div>
        <script type="text/javascript">
             var _channel8 = document.getElementById("channel8")
            _channel8.addEventListener("click", function (event) {document.location.href = "/channels?8"; $$nav.off()});
        </script>
        <div style="background: url('https://i.ibb.co/DtJ4qvf/TV1-Cinemastan.jpg'); background-repeat:no-repeat;background-size: 100% 100%;" id="channel9" class="channel nav-item">
            <p class="channelName">TV1.KG Cinemastan</p>
        </div>
        <script type="text/javascript">
             var _channel9 = document.getElementById("channel9")
            _channel9.addEventListener("click", function (event) {document.location.href = "/channels?9"; $$nav.off()});
        </script>
        <div style="background: url('https://i.ibb.co/MggTD61/nur-tv.jpg'); background-repeat:no-repeat;background-size: 100% 100%;" id="channel10" class="channel nav-item">
            <p class="channelName">NUR TV HD</p>
        </div>
        <script type="text/javascript">
             var _channel10 = document.getElementById("channel10")
            _channel10.addEventListener("click", function (event) {document.location.href = "/channels?10"; $$nav.off()});
        </script>
        <div style="background: url('https://i.ibb.co/gVt9YBV/image.jpg'); background-repeat:no-repeat;background-size: 100% 100%;" id="channel11" class="channel nav-item">
            <p class="channelName">New TV</p>
        </div>
        <script type="text/javascript">
             var _channel11 = document.getElementById("channel11")
            _channel11.addEventListener("click", function (event) {document.location.href = "/channels?11"; $$nav.off()});
        </script>
        <div style="background: url('https://i.ibb.co/6Nvm9j0/super-tv.jpg'); background-repeat:no-repeat;background-size: 100% 100%;" id="channel12" class="channel nav-item">
            <p class="channelName">Super TV HD</p>
        </div>
        <script type="text/javascript">
             var _channel12 = document.getElementById("channel12")
            _channel12.addEventListener("click", function (event) {document.location.href = "/channels?12"; $$nav.off()});
        </script>
        <div style="background: url('https://i.ibb.co/D4gZyg7/7.jpg'); background-repeat:no-repeat;background-size: 100% 100%;" id="channel13" class="channel nav-item">
            <p class="channelName">7 Канал</p>
        </div>
        <script type="text/javascript">
             var _channel13 = document.getElementById("channel13")
            _channel13.addEventListener("click", function (event) {document.location.href = "/channels?13"; $$nav.off()});
        </script>
        <div style="background: url('https://i.ibb.co/Rgz43GH/icon21.jpg'); background-repeat:no-repeat;background-size: 100% 100%;" id="channel14" class="channel nav-item">
            <p class="channelName">Ц ТВ</p>
        </div>
        <script type="text/javascript">
             var _channel14 = document.getElementById("channel14")
            _channel14.addEventListener("click", function (event) {document.location.href = "/channels?14"; $$nav.off()});
        </script>
        <div style="background: url('https://i.ibb.co/m8QgyWN/icon1.jpg'); background-repeat:no-repeat;background-size: 100% 100%;" id="channel15" class="channel nav-item">
            <p class="channelName">ЭлТР Кыргызстан</p>
        </div>
        <script type="text/javascript">
             var _channel15 = document.getElementById("channel15")
            _channel15.addEventListener("click", function (event) {document.location.href = "/channels?15"; $$nav.off()});
        </script>
        <div style="background: url('https://i.ibb.co/m8QgyWN/icon1.jpg'); background-repeat:no-repeat;background-size: 100% 100%;" id="channel16" class="channel nav-item">
            <p class="channelName">ЭлТР Билим Илим</p>
        </div>
        <script type="text/javascript">
             var _channel16 = document.getElementById("channel16")
            _channel16.addEventListener("click", function (event) {document.location.href = "/channels?16"; $$nav.off()});
        </script>
        <div style="background: url('https://i.ibb.co/k8KLJyX/image.jpg'); background-repeat:no-repeat;background-size: 100% 100%;" id="channel17" class="channel nav-item">
            <p class="channelName">ТНТ Кыргызстан</p>
        </div>
        <script type="text/javascript">
             var _channel17 = document.getElementById("channel17")
            _channel17.addEventListener("click", function (event) {document.location.href = "/channels?17"; $$nav.off()});
        </script>
        <div style="background: url('https://i.ibb.co/m8QgyWN/icon1.jpg'); background-repeat:no-repeat;background-size: 100% 100%;" id="channel18" class="channel nav-item">
            <p class="channelName">ТНТ</p>
        </div>
        <script type="text/javascript">
             var _channel18 = document.getElementById("channel18")
            _channel18.addEventListener("click", function (event) {document.location.href = "/channels?18"; $$nav.off()});
        </script>
        <div style="background: url('https://i.ibb.co/YdDhcHk/icon22.jpg'); background-repeat:no-repeat;background-size: 100% 100%;" id="channel19" class="channel nav-item">
            <p class="channelName">ТНТ4 HD</p>
        </div>
        <script type="text/javascript">
             var _channel19 = document.getElementById("channel19")
            _channel19.addEventListener("click", function (event) {document.location.href = "/channels?19"; $$nav.off()});
        </script>
        <div style="background: url('https://i.ibb.co/tDQ1VdC/image.jpg'); background-repeat:no-repeat;background-size: 100% 100%;" id="channel20" class="channel nav-item">
            <p class="channelName">Азия ТВ</p>
        </div>
        <script type="text/javascript">
             var _channel20 = document.getElementById("channel20")
            _channel20.addEventListener("click", function (event) {document.location.href = "/channels?20"; $$nav.off()});
        </script>
        