<li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Kids%20HD%20%5BRU%5D.ts" id="channel1" class="channel nav-item">
            <p>1</p>
            <a>BCU Kids HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Kids%2B%20HD%20%5BRU%5D.ts" id="channel2" class="channel nav-item">
            <p>2</p>
            <a>BCU Kids+ HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20%D0%9C%D1%83%D0%BB%D1%8C%D1%82%D1%81%D0%B5%D1%80%D0%B8%D0%B0%D0%BB%20%5BRU%5D.ts" id="channel3" class="channel nav-item">
            <p>3</p>
            <a>BCU Мультсериал</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Premiere%20HD%20%5BRU%5D.ts" id="channel4" class="channel nav-item">
            <p>4</p>
            <a>BCU Premiere HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%96%D0%B0%D1%80%D0%B0%20%5BRU%5D.ts" id="channel5" class="channel nav-item">
            <p>5</p>
            <a>Жара</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%96%D0%90%D0%A0%D0%90%20KIDS%20TV.ts" id="channel6" class="channel nav-item">
            <p>6</p>
            <a>Жара Kids TV</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.12:5004" id="channel7" class="channel nav-item">
            <p>7</p>
            <a>КТРК Баластан</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9A%D0%B0%D0%BF%D0%B8%D1%82%D0%B0%D0%BD%20%D0%A4%D0%B0%D0%BD%D1%82%D0%B0%D1%81%D1%82%D0%B8%D0%BA%D0%B0%20HD%20%5BRU%5D.ts" id="channel8" class="channel nav-item">
            <p>8</p>
            <a>Капитан Фантастика HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.56:5004" id="channel9" class="channel nav-item">
            <p>9</p>
            <a>В гостях у сказки</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.101:5004" id="channel10" class="channel nav-item">
            <p>10</p>
            <a>CTC Kids</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A1%D0%A2%D0%A1%20Love%20%5BRU%5D.ts" id="channel11" class="channel nav-item">
            <p>11</p>
            <a>СТС Love</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.27:5004" id="channel12" class="channel nav-item">
            <p>12</p>
            <a>Nickelodeon</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.69:5004" id="channel13" class="channel nav-item">
            <p>13</p>
            <a>Nickelodeon HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.90:5004" id="channel14" class="channel nav-item">
            <p>14</p>
            <a>Nick Junior</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.2.12:5004" id="channel15" class="channel nav-item">
            <p>15</p>
            <a>Nick Toons</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.10:5004" id="channel16" class="channel nav-item">
            <p>16</p>
            <a>Уникум</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.173:5004" id="channel17" class="channel nav-item">
            <p>17</p>
            <a>TiJi</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.91:5004" id="channel18" class="channel nav-item">
            <p>18</p>
            <a>Gulli Girl</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.11:5004" id="channel19" class="channel nav-item">
            <p>19</p>
            <a>Мультландия</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.17:5004" id="channel20" class="channel nav-item">
            <p>20</p>
            <a>Мульт</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.43:5004" id="channel21" class="channel nav-item">
            <p>21</p>
            <a>DaVinci Learning</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.197:5004" id="channel22" class="channel nav-item">
            <p>22</p>
            <a>Мама</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Disney.ts" id="channel23" class="channel nav-item">
            <p>23</p>
            <a>Солнце</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.71:5004" id="channel24" class="channel nav-item">
            <p>24</p>
            <a>Карусель</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.54:5004" id="channel25" class="channel nav-item">
            <p>25</p>
            <a>О!</a>
        </li>
        