<li href="http://172.16.0.20:8081/torrenttv/channel/360%20HD.ts" id="channel1" class="channel nav-item">
            <p>1</p>
            <a>360 HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.46:5004" id="channel2" class="channel nav-item">
            <p>2</p>
            <a>viju Viasat History</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.44:5004" id="channel3" class="channel nav-item">
            <p>3</p>
            <a>viju Viasat Explore</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.45:5004" id="channel4" class="channel nav-item">
            <p>4</p>
            <a>viju Viasat Nature</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.47:5004" id="channel5" class="channel nav-item">
            <p>5</p>
            <a>viju Viasat Sport</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Viasat%20Nature%2FHistory%20HD%20%5BRU%5D.ts" id="channel6" class="channel nav-item">
            <p>6</p>
            <a>viju Viasat Planet</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.3:5004" id="channel7" class="channel nav-item">
            <p>7</p>
            <a>Россия Культура</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.70:5004" id="channel8" class="channel nav-item">
            <p>8</p>
            <a>Большая Азия</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.166:5004" id="channel9" class="channel nav-item">
            <p>9</p>
            <a>TLC</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.191:5004" id="channel10" class="channel nav-item">
            <p>10</p>
            <a>Animal Planet</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%94%D0%B8%D0%BA%D0%B0%D1%8F%20%D0%BE%D1%85%D0%BE%D1%82%D0%B0.ts" id="channel11" class="channel nav-item">
            <p>11</p>
            <a>Дикая охота HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%93%D0%BB%D0%B0%D0%B7%D0%B0%D0%BC%D0%B8%20%D1%82%D1%83%D1%80%D0%B8%D1%81%D1%82%D0%B0%20HD%20%5BRU%5D.ts" id="channel12" class="channel nav-item">
            <p>12</p>
            <a>Глазами туриста HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9A%D0%B0%D0%BB%D0%B5%D0%B9%D0%B4%D0%BE%D1%81%D0%BA%D0%BE%D0%BF%20%D0%A2%D0%92.ts" id="channel13" class="channel nav-item">
            <p>13</p>
            <a>Калейдоскоп ТВ</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Travel%20Channel%20HD%20%5BRU%5D.ts" id="channel14" class="channel nav-item">
            <p>14</p>
            <a>Travel Channel HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%92%20%D0%BC%D0%B8%D1%80%D0%B5%20%D0%B6%D0%B8%D0%B2%D0%BE%D1%82%D0%BD%D1%8B%D1%85%20%5BRU%5D.ts" id="channel15" class="channel nav-item">
            <p>15</p>
            <a>В мире животных</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.102:5004" id="channel16" class="channel nav-item">
            <p>16</p>
            <a>Моя Планета HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/DTX%20%5BRU%5D.ts" id="channel17" class="channel nav-item">
            <p>17</p>
            <a>DTX</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.154:5004" id="channel18" class="channel nav-item">
            <p>18</p>
            <a>Живая Планета</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.127:5004" id="channel19" class="channel nav-item">
            <p>19</p>
            <a>Канал История</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.125:5004" id="channel20" class="channel nav-item">
            <p>20</p>
            <a>HDL</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.168:5004" id="channel21" class="channel nav-item">
            <p>21</p>
            <a>Museum TV HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9C%D1%83%D0%B6%D1%81%D0%BA%D0%BE%D0%B9%20%5BRU%5D.ts" id="channel22" class="channel nav-item">
            <p>22</p>
            <a>Мужской</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.3.14:5004" id="channel23" class="channel nav-item">
            <p>23</p>
            <a>Insight TV</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.34:5004" id="channel24" class="channel nav-item">
            <p>24</p>
            <a>National Geographic</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.35:5004" id="channel25" class="channel nav-item">
            <p>25</p>
            <a>National Geographic Wild</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.148:5004" id="channel26" class="channel nav-item">
            <p>26</p>
            <a>Discovery Channel</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Discovery%20Science%20HD%20%5BRU%5D.ts" id="channel27" class="channel nav-item">
            <p>27</p>
            <a>Discovery Science</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.20:5004" id="channel28" class="channel nav-item">
            <p>28</p>
            <a>Охота и рыбалка</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Dikaya%20Rybalka%20HD%20%5BRU%5D.ts" id="channel29" class="channel nav-item">
            <p>29</p>
            <a>Дикая Рыбалка HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%94%D0%B8%D0%B0%D0%BB%D0%BE%D0%B3%D0%B8%20%D0%BE%20%D1%80%D1%8B%D0%B1%D0%B0%D0%BB%D0%BA%D0%B5%20%5BRU%5D.ts" id="channel30" class="channel nav-item">
            <p>30</p>
            <a>Диалоги о рыбалке</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Travel%2BAdventure%20HD%20%5BRU%5D.ts" id="channel31" class="channel nav-item">
            <p>31</p>
            <a>Travel+Adventure</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/History%20HD%20%5BRU%5D.ts" id="channel32" class="channel nav-item">
            <p>32</p>
            <a>History HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/H2%20HD%20%5BRU%5D.ts" id="channel33" class="channel nav-item">
            <p>33</p>
            <a>History 2 HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.86:5004" id="channel34" class="channel nav-item">
            <p>34</p>
            <a>Кухня ТВ</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.92:5004" id="channel35" class="channel nav-item">
            <p>35</p>
            <a>Оружие</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.115:5004" id="channel36" class="channel nav-item">
            <p>36</p>
            <a>Наука</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.19:5004" id="channel37" class="channel nav-item">
            <p>37</p>
            <a>Драйв ТВ</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Galaxy.ts" id="channel38" class="channel nav-item">
            <p>38</p>
            <a>Тайны Галактики HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/TV7%20%28RU%29.ts" id="channel39" class="channel nav-item">
            <p>39</p>
            <a>TV7 Христианский канал</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9F%D1%80%D0%B8%D0%BA%D0%BB%D1%8E%D1%87%D0%B5%D0%BD%D0%B8%D1%8F.ts" id="channel40" class="channel nav-item">
            <p>40</p>
            <a>Приключения</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%90%D1%80%D1%81%D0%B5%D0%BD%D0%B0%D0%BB%20HD%20%5BRU%5D.ts" id="channel41" class="channel nav-item">
            <p>41</p>
            <a>Арсенал</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Eureka%20HD%20%5BRU%5D.ts" id="channel42" class="channel nav-item">
            <p>42</p>
            <a>Космический</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.3.1:5004" id="channel43" class="channel nav-item">
            <p>43</p>
            <a>ЗооПарк</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.3.2:5004" id="channel44" class="channel nav-item">
            <p>44</p>
            <a>Авто 24</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.152:5004" id="channel45" class="channel nav-item">
            <p>45</p>
            <a>Моя Планета</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.3.1:5004" id="channel46" class="channel nav-item">
            <p>46</p>
            <a>ЗооПарк</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A1%D0%B5%D0%B2%D0%B5%D1%80%20%D0%A2%D0%92.ts" id="channel47" class="channel nav-item">
            <p>47</p>
            <a>Север ТВ</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.42:5004" id="channel48" class="channel nav-item">
            <p>48</p>
            <a>MyZen TV HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.2.9:5004" id="channel49" class="channel nav-item">
            <p>49</p>
            <a>Домашние животные</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9D%D0%B0%D1%88%D0%B0%20%D1%81%D0%B8%D0%B1%D0%B8%D1%80%D1%8C%204K%20%5BRU%5D.ts" id="channel50" class="channel nav-item">
            <p>50</p>
            <a>Наша сибирь 4К</a>
        </li>
        