<li href="http://172.16.0.210:8888/udp/239.255.1.53:5004" id="channel1" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>1</p>
            <a>НТС</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.80:5004" id="channel2" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>2</p>
            <a>TV1.KG Бишкек City</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.85:5004" id="channel3" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>3</p>
            <a>TV1.KG Бишкек-Шаары</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.52:5004" id="channel4" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>4</p>
            <a>TV1.KG Cinemastan</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.155:5004" id="channel5" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>5</p>
            <a>Кино ТВ</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.105:5004" id="channel6" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>6</p>
            <a>Cinema</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.89:5004" id="channel7" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>7</p>
            <a>CineMax</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/FAN%20%5BRU%5D.ts" id="channel8" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>8</p>
            <a>FAN</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A5%D0%B8%D1%82%20HD%20%5BRU%5D.ts" id="channel9" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>9</p>
            <a>Хит HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/CineMan%20%5BRU%5D.ts" id="channel10" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>10</p>
            <a>CineMan</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/CineMan%20Top%20%5BRU%5D.ts" id="channel11" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>11</p>
            <a>CineMan Top</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/CineMan%20%D0%A0%D1%83%D0%9A%D0%B8%D0%BD%D0%BE%20%5BRU%5D.ts" id="channel12" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>12</p>
            <a>CineMan РуКино</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9A%D0%B8%D0%BD%D0%BE%D0%B7%D0%B0%D0%BB%201%20%5BRU%5D.ts" id="channel13" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>13</p>
            <a>КинекО</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.177:5004" id="channel14" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>14</p>
            <a>Дорама</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9A%D0%98%D0%9D%D0%9E%20UHD%20%5BRU%5D.ts" id="channel15" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>15</p>
            <a>Кино UHD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A1%D0%95%D0%A0%D0%98%D0%90%D0%9B%20UHD%20%5BRU%5D.ts" id="channel16" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>16</p>
            <a>Сериал UHD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/2x2%20HD.ts" id="channel17" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>17</p>
            <a>2x2 HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Ultra%20HD%20Cinema%20%5BRU%5D.ts" id="channel18" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>18</p>
            <a>Ultra HD Cinema</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Russian%20Extreme%20Ultra%20%5BRU%5D.ts" id="channel19" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>19</p>
            <a>Ultra Rex</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.97:5004" id="channel20" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>20</p>
            <a>Техно 24</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.48:5004" id="channel21" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>21</p>
            <a>viju TV1000</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.50:5004" id="channel22" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>22</p>
            <a>viju TV1000 Action</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.49:5004" id="channel23" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>23</p>
            <a>viju TV1000 Русское Кино</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/VIP%20Megahit%20%5BRU%5D.ts" id="channel24" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>24</p>
            <a>viju+ VIP Megahit</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/VIP%20Comedy.ts" id="channel25" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>25</p>
            <a>viju+ VIP Comedy</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/VIP%20Premiere%20%5BRU%5D.ts" id="channel26" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>26</p>
            <a>viju+ VIP Premiere</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/VIP%20Serial%20%5BRU%5D.ts" id="channel27" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>27</p>
            <a>viju+ VIP Serial</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9F%D1%80%D0%BE%20%D0%9B%D1%8E%D0%B1%D0%BE%D0%B2%D1%8C%20HD%20%5BRU%5D.ts" id="channel28" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>28</p>
            <a>Про любовь HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9A%D0%B8%D0%BD%D0%BE%D0%BF%D0%BE%D0%BA%D0%B0%D0%B7.ts" id="channel29" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>29</p>
            <a>Комедийное HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A8%D0%BE%D0%BA%D0%B8%D1%80%D1%83%D1%8E%D1%89%D0%B5%D0%B5%20HD%20%5BRU%5D.ts" id="channel30" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>30</p>
            <a>Шокирующее HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9F%D1%80%D0%B5%D0%BC%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5%20HD%20%5BRU%5D.ts" id="channel31" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>31</p>
            <a>Премиальное HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9E%D1%81%D1%82%D1%80%D0%BE%D1%81%D1%8E%D0%B6%D0%B5%D1%82%D0%BD%D0%BE%D0%B5%20HD%20%5BRU%5D.ts" id="channel32" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>32</p>
            <a>Остросюжетное HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%91%D0%BB%D0%BE%D0%BA%D0%B1%D0%B0%D1%81%D1%82%D0%B5%D1%80%20HD%20%5BRU%5D.ts" id="channel33" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>33</p>
            <a>Блокбастер HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%94%D1%83%D1%88%D0%B5%D0%B2%D0%BD%D0%BE%D0%B5%20%5BRU%5D.ts" id="channel34" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>34</p>
            <a>Душевное HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A0%D0%BE%D0%BC%D0%B0%D0%BD%D1%82%D0%B8%D1%87%D0%BD%D0%BE%D0%B5%20%5BRU%5D.ts" id="channel35" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>35</p>
            <a>Романтичное HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9B%D1%8E%D0%B1%D0%B8%D0%BC%D0%BE%D0%B5%20%D0%BA%D0%B8%D0%BD%D0%BE%20%5BRU%5D.ts" id="channel36" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>36</p>
            <a>Любимое кино HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.108:5004" id="channel37" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>37</p>
            <a>Киносвидание</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9A%D0%B8%D0%BD%D0%BE%D1%81%D0%B5%D1%80%D0%B8%D1%8F.ts" id="channel38" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>38</p>
            <a>Киносерия</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.2.19:5004" id="channel39" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>39</p>
            <a>Кинопремьера</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.123:5004" id="channel40" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>40</p>
            <a>Родное кино</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.175:5004" id="channel41" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>41</p>
            <a>Наше новое кино</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.109:5004" id="channel42" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>42</p>
            <a>Киносемья</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.136:5004" id="channel43" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>43</p>
            <a>Кинохит</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.113:5004" id="channel44" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>44</p>
            <a>Мужское кино</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.110:5004" id="channel45" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>45</p>
            <a>Киномикс</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.25:5004" id="channel46" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>46</p>
            <a>Киноужас</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.63:5004" id="channel47" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>47</p>
            <a>Индийское кино</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Bollywood%20HD%20%5BRU%5D.ts" id="channel48" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>48</p>
            <a>Bollywood HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Hollywood%20HD%20%5BRU%5D.ts" id="channel49" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>49</p>
            <a>Hollywood HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.199:5004" id="channel50" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>50</p>
            <a>A1 (Amedia)</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.120:5004" id="channel51" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>51</p>
            <a>A2 (Amedia)</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.134:5004" id="channel52" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>52</p>
            <a>Амедия Хит HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.2.14:5004" id="channel53" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>53</p>
            <a>Amedia Premium HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.40:5004" id="channel54" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>54</p>
            <a>Fox Life</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Fox%20Life%20HD%20%5BRU%5D.ts" id="channel55" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>55</p>
            <a>Fox Life HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/FOX%20HD%20%5BRU%5D.ts" id="channel56" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>56</p>
            <a>Fox HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.39:5004" id="channel57" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>57</p>
            <a>Fox Channel</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.75:5004" id="channel58" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>58</p>
            <a>Sony Sci-Fi</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/.red%20%5BRU%5D.ts" id="channel59" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>59</p>
            <a>Sony Red</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.65:5004" id="channel60" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>60</p>
            <a>Sony Black</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A1%D1%82%D1%80%D0%B0%D1%88%D0%BD%D0%BE%D0%B5%20HD%20%5BRU%5D.ts" id="channel61" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>61</p>
            <a>Страшное HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.159:5004" id="channel62" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>62</p>
            <a>Настоящее страшное ТВ</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.95:5004" id="channel63" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>63</p>
            <a>Comedy Central</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9A%D0%B0%D0%BC%D0%B5%D0%B4%D0%B8%20HD%20%5BRU%5D.ts" id="channel64" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>64</p>
            <a>Камеди HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.41:5004" id="channel65" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>65</p>
            <a>Феникс+Кино</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Kids%20HD%20%5BRU%5D.ts" id="channel66" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>66</p>
            <a>BCU Kids HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Premiere%20HD%20%5BRU%5D.ts" id="channel67" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>67</p>
            <a>BCU Premiere HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Action%20HD%20%5BRU%5D.ts" id="channel68" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>68</p>
            <a>BCU Action HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Catastrophe%20HD%20%5BRU%5D.ts" id="channel69" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>69</p>
            <a>BCU Catastrophe HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Cinema%20HD%20%5BRU%5D.ts" id="channel70" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>70</p>
            <a>BCU Cinema HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Cinema%2B%20HD%20%5BRU%5D.ts" id="channel71" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>71</p>
            <a>BCU Cinema+ HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Cosmo%20HD%20%5BRU%5D.ts" id="channel72" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>72</p>
            <a>BCU Cosmo HD</a>
        </li>
        <li href="http://172.16.0.16:8081/torrenttv/channel/BCU%20Comedy%20HD%20%5BRU%5D.ts" id="channel73" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>73</p>
            <a>BCU Comedy HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Kinozakaz%20HD%20%5BRU%5D.ts" id="channel74" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>74</p>
            <a>BCU Kinozakaz HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Criminal%20HD%20%5BRU%5D.ts" id="channel75" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>75</p>
            <a>BCU Criminal HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20History%20HD%20%5BRU%5D.ts" id="channel76" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>76</p>
            <a>BCU History HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Kinorating%20HD%20%5BRU%5D.ts" id="channel77" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>77</p>
            <a>BCU Kinorating HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Fantastic%20HD%20%5BRU%5D.ts" id="channel78" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>78</p>
            <a>BCU Fantastic HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Marvel%20HD%20%5BRU%5D.ts" id="channel79" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>79</p>
            <a>BCU Marvel HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Filmystic%20HD%20%5BRU%5D.ts" id="channel80" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>80</p>
            <a>BCU Filmystic HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Reality%20HD%20%5BRU%5D.ts" id="channel81" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>81</p>
            <a>BCU Reality HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Stars%20HD%20%5BRU%5D.ts" id="channel82" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>82</p>
            <a>BCU Stars HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Survival%20HD%20%5BRU%5D.ts" id="channel83" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>83</p>
            <a>BCU Survival HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Ruserial%20HD%20%5BRU%5D.ts" id="channel84" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>84</p>
            <a>BCU Ruserial HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20TruMotion%20HD%20%5BRU%5D.ts" id="channel85" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>85</p>
            <a>BCU TruMotion HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20Russian%20HD%20%5BRU%5D.ts" id="channel86" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>86</p>
            <a>BCU Russian HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20%D0%9A%D0%B8%D0%BD%D0%BE%D0%B7%D0%B0%D0%BB%20%D0%A1%D0%A1%D0%A1%D0%A0%20HD%20%5BRU%5D.ts" id="channel87" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>87</p>
            <a>BCU Кинозал СССР HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20%D0%9A%D0%B8%D0%BD%D0%BE%D0%B7%D0%B0%D0%BB%20Premiere%201%20HD%20%5BRU%5D.ts" id="channel88" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>88</p>
            <a>BCU Кинозал Premiere 1 HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20%D0%9A%D0%B8%D0%BD%D0%BE%D0%B7%D0%B0%D0%BB%20Premiere%202%20HD%20%5BRU%5D.ts" id="channel89" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>89</p>
            <a>BCU Кинозал Premiere 2 HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20%D0%9A%D0%B8%D0%BD%D0%BE%D0%B7%D0%B0%D0%BB%20Premiere%203%20HD%20%5BRU%5D.ts" id="channel90" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>90</p>
            <a>BCU Кинозал Premiere 3 HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20VHS%20HD%20%5BRU%5D.ts" id="channel91" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>91</p>
            <a>BCU VHS HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20%D0%A1%D0%B2%D0%B0%D1%82%D1%8B%20HD%20%5BRU%5D.ts" id="channel92" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>92</p>
            <a>BCU Сваты HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BCU%20%D0%A0%D0%BE%D0%BC%D0%B0%D0%BD%D1%82%D0%B8%D0%BA%D0%B0%20HD%20%5BRU%5D.ts" id="channel93" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>93</p>
            <a>BCU Романтика HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BackusTV.ts" id="channel94" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>94</p>
            <a>BackusTV</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/BackusTV%20%D0%A1%D1%82%D1%80%D0%B0%D1%88%D0%BD%D0%BE%D0%B5.ts" id="channel95" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>95</p>
            <a>BackusTV Dark</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.2.15:5004" id="channel96" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>96</p>
            <a>Иллюзион+</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.193:5004" id="channel97" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>97</p>
            <a>Русский Иллюзион</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A0%D1%83%D1%81%D1%81%D0%BA%D0%B8%D0%B9%20%D0%94%D0%B5%D1%82%D0%B5%D0%BA%D1%82%D0%B8%D0%B2%20%5BRU%5D.ts" id="channel98" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>98</p>
            <a>Русский Детектив</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A0%D1%83%D1%81%D1%81%D0%BA%D0%B8%D0%B9%20%D0%91%D0%B5%D1%81%D1%82%D1%81%D0%B5%D0%BB%D0%BB%D0%B5%D1%80%20%5BRU%5D.ts" id="channel99" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>99</p>
            <a>Русский Бестселлер</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A0%D1%83%D1%81%D1%81%D0%BA%D0%B0%D1%8F%20%D0%BA%D0%BE%D0%BC%D0%B5%D0%B4%D0%B8%D1%8F%20%5BRU%5D.ts" id="channel100" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>100</p>
            <a>Русская Комедия</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.64:5004" id="channel101" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>101</p>
            <a>Дом Кино</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.122:5004" id="channel102" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>102</p>
            <a>Дом Кино Преимум</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%94%D0%BE%D0%BC%20%D0%BA%D0%B8%D0%BD%D0%BE%20%D0%BF%D1%80%D0%B5%D0%BC%D0%B8%D1%83%D0%BC%20HD%20%5BRU%5D.ts" id="channel103" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>103</p>
            <a>Дом Кино Премиум HD</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%9A%D0%B8%D0%BD%D0%BE%D0%B4%D0%B6%D0%B5%D0%BC%201%20HD%20%5BRU%5D.ts" id="channel104" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>104</p>
            <a>Kino Jam</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.142:5004" id="channel105" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>105</p>
            <a>Киноман</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A2%D0%92%20XXI%20%5BRU%5D.ts" id="channel106" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>106</p>
            <a>ТВ XXI</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.194:5004" id="channel107" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>107</p>
            <a>Еврокино</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.18:5004" id="channel108" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>108</p>
            <a>Ретро ТВ</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.170:5004" id="channel109" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>109</p>
            <a>Мосфильм. Золотая коллекция</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.3.11:5004" id="channel110" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>110</p>
            <a>Победа</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.151:5004" id="channel111" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>111</p>
            <a>Звезда</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.150:5004" id="channel112" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>112</p>
            <a>Поехали!</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/Filmbox.ts" id="channel113" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>113</p>
            <a>Filmbox</a>
        </li>
        