<li href="http://172.16.0.210:8888/udp/239.255.1.26:5004" id="channel1" class="channel nav-item">
            <p>1</p>
            <a>Хабар</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.130:5004" id="channel2" class="channel nav-item">
            <p>2</p>
            <a>Euronews English</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.130:5004" id="channel3" class="channel nav-item">
            <p>3</p>
            <a>Euronews English</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.140:5004" id="channel4" class="channel nav-item">
            <p>4</p>
            <a>Qazaq TV</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.140:5004" id="channel5" class="channel nav-item">
            <p>5</p>
            <a>Jibek Joly</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/TV%20BRICS.ts" id="channel6" class="channel nav-item">
            <p>6</p>
            <a>TV BRICS</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/TV%20BRICS%20China.ts" id="channel7" class="channel nav-item">
            <p>7</p>
            <a>TV BRICS China</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/TV%20BRICS%20English.ts" id="channel8" class="channel nav-item">
            <p>8</p>
            <a>TV BRICS English</a>
        </li>
        