<li href="http://172.16.0.210:8888/udp/239.255.1.196:5004" id="channel1" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>1</p>
            <a>Ала-Тоо 24</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.4:5004" id="channel2" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>2</p>
            <a>МИР</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.67:5004" id="channel3" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>3</p>
            <a>Мир 24</a>
        </li>
        <li href="http://172.16.0.210:8888/rtp/239.255.1.181:5004" id="channel4" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>4</p>
            <a>RT Документальный</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.98:5004" id="channel5" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>5</p>
            <a>РБК</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A2%D0%92%203%20%5BRU%5D.ts" id="channel6" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>6</p>
            <a>ТВ 3</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F%201%20HD.ts" id="channel7" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>7</p>
            <a>Россия 1 HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.2:5004" id="channel8" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>8</p>
            <a>Россия РТР</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.9:5004" id="channel9" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>9</p>
            <a>Россия 24</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/IZ.RU.ts" id="channel10" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>10</p>
            <a>Известия HD</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.117:5004" id="channel11" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>11</p>
            <a>CGTN Русский</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.1.15:5004" id="channel12" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>12</p>
            <a>Euronews Russia</a>
        </li>
        <li href="http://172.16.0.210:8888/udp/239.255.2.13:5004" id="channel13" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>13</p>
            <a>Настоящее Время</a>
        </li>
        <li href="http://172.16.0.20:8081/torrenttv/channel/360%20HD.ts" id="channel14" class="channel nav-item" data-nav_ud="0,0,0,#arrowBack">
            <p>14</p>
            <a>360 HD</a>
        </li>
        