
        <div id="anime0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Покемон: Консьерж</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5262520 = document.getElementById("anime0")
            _elem5262520.addEventListener("click", function (event) {document.location.href = "/filmInfo5262520"; $$nav.off()});
        </script>
        
        <div id="anime1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Онимуся</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5118208 = document.getElementById("anime1")
            _elem5118208.addEventListener("click", function (event) {document.location.href = "/filmInfo5118208"; $$nav.off()});
        </script>
        
        <div id="anime2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Монолог фармацевта</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5258559 = document.getElementById("anime2")
            _elem5258559.addEventListener("click", function (event) {document.location.href = "/filmInfo5258559"; $$nav.off()});
        </script>
        
        <div id="anime3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Магия вернувшегося д</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5425342 = document.getElementById("anime3")
            _elem5425342.addEventListener("click", function (event) {document.location.href = "/filmInfo5425342"; $$nav.off()});
        </script>
        
        <div id="anime4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">История знакомства о</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5401152 = document.getElementById("anime4")
            _elem5401152.addEventListener("click", function (event) {document.location.href = "/filmInfo5401152"; $$nav.off()});
        </script>
        
        <div id="anime5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Королевство руин</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5428359 = document.getElementById("anime5")
            _elem5428359.addEventListener("click", function (event) {document.location.href = "/filmInfo5428359"; $$nav.off()});
        </script>
        
        <div id="anime6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рон Камонохаси: Невм</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5406510 = document.getElementById("anime6")
            _elem5406510.addEventListener("click", function (event) {document.location.href = "/filmInfo5406510"; $$nav.off()});
        </script>
        
        <div id="anime7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рубеж Шангри-Ла: Люб</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5428405 = document.getElementById("anime7")
            _elem5428405.addEventListener("click", function (event) {document.location.href = "/filmInfo5428405"; $$nav.off()});
        </script>
        
        <div id="anime8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ненасытный Берсерк</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5426241 = document.getElementById("anime8")
            _elem5426241.addEventListener("click", function (event) {document.location.href = "/filmInfo5426241"; $$nav.off()});
        </script>
        
        <div id="anime9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рагна Багровый</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5426225 = document.getElementById("anime9")
            _elem5426225.addEventListener("click", function (event) {document.location.href = "/filmInfo5426225"; $$nav.off()});
        </script>
        
        <div id="anime10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Провожающая в послед</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5401205 = document.getElementById("anime10")
            _elem5401205.addEventListener("click", function (event) {document.location.href = "/filmInfo5401205"; $$nav.off()});
        </script>
        
        <div id="anime11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Хельк</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5365967 = document.getElementById("anime11")
            _elem5365967.addEventListener("click", function (event) {document.location.href = "/filmInfo5365967"; $$nav.off()});
        </script>
        
        <div id="anime12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Тёмное собрание</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5374653 = document.getElementById("anime12")
            _elem5374653.addEventListener("click", function (event) {document.location.href = "/filmInfo5374653"; $$nav.off()});
        </script>
        
        <div id="anime13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Зомби-апокалипсис и </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5330777 = document.getElementById("anime13")
            _elem5330777.addEventListener("click", function (event) {document.location.href = "/filmInfo5330777"; $$nav.off()});
        </script>
        
        <div id="anime14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Кот-мастер на все ла</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5357710 = document.getElementById("anime14")
            _elem5357710.addEventListener("click", function (event) {document.location.href = "/filmInfo5357710"; $$nav.off()});
        </script>
        
        <div id="anime15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Непобедимый святой: </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5363207 = document.getElementById("anime15")
            _elem5363207.addEventListener("click", function (event) {document.location.href = "/filmInfo5363207"; $$nav.off()});
        </script>
        
        <div id="anime16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Королева, ставшая пр</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5216661 = document.getElementById("anime16")
            _elem5216661.addEventListener("click", function (event) {document.location.href = "/filmInfo5216661"; $$nav.off()});
        </script>
        
        <div id="anime17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Бродяга Кэнсин</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5118227 = document.getElementById("anime17")
            _elem5118227.addEventListener("click", function (event) {document.location.href = "/filmInfo5118227"; $$nav.off()});
        </script>
        
        <div id="anime18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Моя возлюбленная заб</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5357745 = document.getElementById("anime18")
            _elem5357745.addEventListener("click", function (event) {document.location.href = "/filmInfo5357745"; $$nav.off()});
        </script>
        
        <div id="anime19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Однушка лорда демоно</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5118852 = document.getElementById("anime19")
            _elem5118852.addEventListener("click", function (event) {document.location.href = "/filmInfo5118852"; $$nav.off()});
        </script>
        
        <div id="anime20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Аяка</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5357722 = document.getElementById("anime20")
            _elem5357722.addEventListener("click", function (event) {document.location.href = "/filmInfo5357722"; $$nav.off()});
        </script>
        
        <div id="anime21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ооку: Внутренние пок</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5310893 = document.getElementById("anime21")
            _elem5310893.addEventListener("click", function (event) {document.location.href = "/filmInfo5310893"; $$nav.off()});
        </script>
        
        <div id="anime22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мой счастливый брак</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem4912827 = document.getElementById("anime22")
            _elem4912827.addEventListener("click", function (event) {document.location.href = "/filmInfo4912827"; $$nav.off()});
        </script>
        
        <div id="anime23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Якитори</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5272466 = document.getElementById("anime23")
            _elem5272466.addEventListener("click", function (event) {document.location.href = "/filmInfo5272466"; $$nav.off()});
        </script>
        
        <div id="anime24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Причина полюбить её</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5297246 = document.getElementById("anime24")
            _elem5297246.addEventListener("click", function (event) {document.location.href = "/filmInfo5297246"; $$nav.off()});
        </script>
        
        <div id="anime25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Слабейший монстр</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5297271 = document.getElementById("anime25")
            _elem5297271.addEventListener("click", function (event) {document.location.href = "/filmInfo5297271"; $$nav.off()});
        </script>
        
        <div id="anime26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Смертельная игра мёр</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5308109 = document.getElementById("anime26")
            _elem5308109.addEventListener("click", function (event) {document.location.href = "/filmInfo5308109"; $$nav.off()});
        </script>
        
        <div id="anime27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Синий оркестр</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5310753 = document.getElementById("anime27")
            _elem5310753.addEventListener("click", function (event) {document.location.href = "/filmInfo5310753"; $$nav.off()});
        </script>
        
        <div id="anime28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Призванный в другой </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5330968 = document.getElementById("anime28")
            _elem5330968.addEventListener("click", function (event) {document.location.href = "/filmInfo5330968"; $$nav.off()});
        </script>
        
        <div id="anime29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Галактика по соседст</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5098588 = document.getElementById("anime29")
            _elem5098588.addEventListener("click", function (event) {document.location.href = "/filmInfo5098588"; $$nav.off()});
        </script>
        