
        <div id="anime0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/8228.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Призрак в доспехах</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem8228 = document.getElementById("anime0")
            _elem8228.addEventListener("click", function (event) {document.location.href = "/filmInfo82280"; $$nav.off()});
        </script>
        
        <div id="anime1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/8239.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Оборотни</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem8240 = document.getElementById("anime1")
            _elem8240.addEventListener("click", function (event) {document.location.href = "/filmInfo82391"; $$nav.off()});
        </script>
        
        <div id="anime2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/975901.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Гаро: Священное плам</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem975903 = document.getElementById("anime2")
            _elem975903.addEventListener("click", function (event) {document.location.href = "/filmInfo9759012"; $$nav.off()});
        </script>
        
        <div id="anime3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/1006727.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Исполнительный комит</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem1006730 = document.getElementById("anime3")
            _elem1006730.addEventListener("click", function (event) {document.location.href = "/filmInfo10067273"; $$nav.off()});
        </script>
        
        <div id="anime4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/778860.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Говорю же, я не извр</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem778864 = document.getElementById("anime4")
            _elem778864.addEventListener("click", function (event) {document.location.href = "/filmInfo7788604"; $$nav.off()});
        </script>
        
        <div id="anime5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/683265.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Легенда об Ангеле</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem683270 = document.getElementById("anime5")
            _elem683270.addEventListener("click", function (event) {document.location.href = "/filmInfo6832655"; $$nav.off()});
        </script>
        
        <div id="anime6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/627178.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Волки=Овцы</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem627184 = document.getElementById("anime6")
            _elem627184.addEventListener("click", function (event) {document.location.href = "/filmInfo6271786"; $$nav.off()});
        </script>
        
        <div id="anime7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/252113.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Армитаж: Полиматрица</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem252120 = document.getElementById("anime7")
            _elem252120.addEventListener("click", function (event) {document.location.href = "/filmInfo2521137"; $$nav.off()});
        </script>
        
        <div id="anime8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/969240.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мастер меча онлайн: </p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem969248 = document.getElementById("anime8")
            _elem969248.addEventListener("click", function (event) {document.location.href = "/filmInfo9692408"; $$nav.off()});
        </script>
        
        <div id="anime9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/1045651.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Баскетбол Куроко: По</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem1045660 = document.getElementById("anime9")
            _elem1045660.addEventListener("click", function (event) {document.location.href = "/filmInfo10456519"; $$nav.off()});
        </script>
        
        <div id="anime10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/1048915.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Бегущий по лезвию: З</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem1048925 = document.getElementById("anime10")
            _elem1048925.addEventListener("click", function (event) {document.location.href = "/filmInfo104891510"; $$nav.off()});
        </script>
        
        <div id="anime11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/1008161.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ускоренный мир: Беск</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem1008172 = document.getElementById("anime11")
            _elem1008172.addEventListener("click", function (event) {document.location.href = "/filmInfo100816111"; $$nav.off()});
        </script>
        
        <div id="anime12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/986939.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Спящая принцесса: Не</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem986951 = document.getElementById("anime12")
            _elem986951.addEventListener("click", function (event) {document.location.href = "/filmInfo98693912"; $$nav.off()});
        </script>
        
        <div id="anime13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/963343.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Форма голоса</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem963356 = document.getElementById("anime13")
            _elem963356.addEventListener("click", function (event) {document.location.href = "/filmInfo96334313"; $$nav.off()});
        </script>
        
        <div id="anime14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/1023399.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Единство семи магов:</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem1023413 = document.getElementById("anime14")
            _elem1023413.addEventListener("click", function (event) {document.location.href = "/filmInfo102339914"; $$nav.off()});
        </script>
        
        <div id="anime15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/885317.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дитя чудовища</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem885332 = document.getElementById("anime15")
            _elem885332.addEventListener("click", function (event) {document.location.href = "/filmInfo88531715"; $$nav.off()});
        </script>
        
        <div id="anime16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/0.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">«Герои» в отставке</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem16 = document.getElementById("anime16")
            _elem16.addEventListener("click", function (event) {document.location.href = "/filmInfo016"; $$nav.off()});
        </script>
        
        <div id="anime17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/708490.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Академия поднебесной</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem708507 = document.getElementById("anime17")
            _elem708507.addEventListener("click", function (event) {document.location.href = "/filmInfo70849017"; $$nav.off()});
        </script>
        
        <div id="anime18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/667273.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Первый шаг: Кимура п</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem667291 = document.getElementById("anime18")
            _elem667291.addEventListener("click", function (event) {document.location.href = "/filmInfo66727318"; $$nav.off()});
        </script>
        
        <div id="anime19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/306418.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Первый шаг: Путь чем</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem306437 = document.getElementById("anime19")
            _elem306437.addEventListener("click", function (event) {document.location.href = "/filmInfo30641819"; $$nav.off()});
        </script>
        