
        <div id="anime0" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5258557.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Монолог фармацевта</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52585570 = document.getElementById("anime0")
            _elem52585570.addEventListener("click", function (event) {document.location.href = "/filmInfo52585570"; $$nav.off()});
        </script>
        
        <div id="anime1" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118210.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Бродяга Кэнсин</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51182101 = document.getElementById("anime1")
            _elem51182101.addEventListener("click", function (event) {document.location.href = "/filmInfo51182101"; $$nav.off()});
        </script>
        
        <div id="anime2" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5235921.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Нежити не повезло</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52359212 = document.getElementById("anime2")
            _elem52359212.addEventListener("click", function (event) {document.location.href = "/filmInfo52359212"; $$nav.off()});
        </script>
        
        <div id="anime3" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5401195.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Провожающая в послед</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54011953 = document.getElementById("anime3")
            _elem54011953.addEventListener("click", function (event) {document.location.href = "/filmInfo54011953"; $$nav.off()});
        </script>
        
        <div id="anime4" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5401195.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Провожающая в послед</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54011954 = document.getElementById("anime4")
            _elem54011954.addEventListener("click", function (event) {document.location.href = "/filmInfo54011954"; $$nav.off()});
        </script>
        
        <div id="anime5" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118207.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Онимуся</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51182075 = document.getElementById("anime5")
            _elem51182075.addEventListener("click", function (event) {document.location.href = "/filmInfo51182075"; $$nav.off()});
        </script>
        
        <div id="anime6" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5374641.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Тёмное собрание</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53746416 = document.getElementById("anime6")
            _elem53746416.addEventListener("click", function (event) {document.location.href = "/filmInfo53746416"; $$nav.off()});
        </script>
        
        <div id="anime7" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5147334.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Реинкарнация сильней</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51473347 = document.getElementById("anime7")
            _elem51473347.addEventListener("click", function (event) {document.location.href = "/filmInfo51473347"; $$nav.off()});
        </script>
        
        <div id="anime8" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5134622.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Великая небесная сте</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51346228 = document.getElementById("anime8")
            _elem51346228.addEventListener("click", function (event) {document.location.href = "/filmInfo51346228"; $$nav.off()});
        </script>
        
        <div id="anime9" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5229330.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мой братик теперь не</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52293309 = document.getElementById("anime9")
            _elem52293309.addEventListener("click", function (event) {document.location.href = "/filmInfo52293309"; $$nav.off()});
        </script>
        
        <div id="anime10" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5308066.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Невеста герцога по к</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530806610 = document.getElementById("anime10")
            _elem530806610.addEventListener("click", function (event) {document.location.href = "/filmInfo530806610"; $$nav.off()});
        </script>
        
        <div id="anime11" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5352918.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Невообразимые приклю</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535291811 = document.getElementById("anime11")
            _elem535291811.addEventListener("click", function (event) {document.location.href = "/filmInfo535291811"; $$nav.off()});
        </script>
        
        <div id="anime12" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5365205.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Хоримия: Фрагменты</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536520512 = document.getElementById("anime12")
            _elem536520512.addEventListener("click", function (event) {document.location.href = "/filmInfo536520512"; $$nav.off()});
        </script>
        
        <div id="anime13" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5235921.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Нежити не повезло</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523592113 = document.getElementById("anime13")
            _elem523592113.addEventListener("click", function (event) {document.location.href = "/filmInfo523592113"; $$nav.off()});
        </script>
        
        <div id="anime14" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5121100.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ниер: Автомата - Вер</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem512110014 = document.getElementById("anime14")
            _elem512110014.addEventListener("click", function (event) {document.location.href = "/filmInfo512110014"; $$nav.off()});
        </script>
        
        <div id="anime15" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5046827.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Шпионский класс</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem504682715 = document.getElementById("anime15")
            _elem504682715.addEventListener("click", function (event) {document.location.href = "/filmInfo504682715"; $$nav.off()});
        </script>
        
        <div id="anime16" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118833.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Однушка повелителя д</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511883316 = document.getElementById("anime16")
            _elem511883316.addEventListener("click", function (event) {document.location.href = "/filmInfo511883316"; $$nav.off()});
        </script>
        
        <div id="anime17" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5260018.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Эндо и Кобаяси в пря</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526001817 = document.getElementById("anime17")
            _elem526001817.addEventListener("click", function (event) {document.location.href = "/filmInfo526001817"; $$nav.off()});
        </script>
        
        <div id="anime18" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5055779.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Кайна в великом снеж</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem505577918 = document.getElementById("anime18")
            _elem505577918.addEventListener("click", function (event) {document.location.href = "/filmInfo505577918"; $$nav.off()});
        </script>
        
        <div id="anime19" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5354885.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Плохие девчонки Року</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535488519 = document.getElementById("anime19")
            _elem535488519.addEventListener("click", function (event) {document.location.href = "/filmInfo535488519"; $$nav.off()});
        </script>
        
        <div id="anime20" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5366050.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Принесённая в жертву</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536605020 = document.getElementById("anime20")
            _elem536605020.addEventListener("click", function (event) {document.location.href = "/filmInfo536605020"; $$nav.off()});
        </script>
        
        <div id="anime21" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5357696.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Кот-мастер на все ла</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535769621 = document.getElementById("anime21")
            _elem535769621.addEventListener("click", function (event) {document.location.href = "/filmInfo535769621"; $$nav.off()});
        </script>
        
        <div id="anime22" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5363192.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Непобедимый святой: </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536319222 = document.getElementById("anime22")
            _elem536319222.addEventListener("click", function (event) {document.location.href = "/filmInfo536319222"; $$nav.off()});
        </script>
        
        <div id="anime23" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5357727.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Моя возлюбленная заб</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535772723 = document.getElementById("anime23")
            _elem535772723.addEventListener("click", function (event) {document.location.href = "/filmInfo535772723"; $$nav.off()});
        </script>
        
        <div id="anime24" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5357727.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Моя возлюбленная заб</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535772724 = document.getElementById("anime24")
            _elem535772724.addEventListener("click", function (event) {document.location.href = "/filmInfo535772724"; $$nav.off()});
        </script>
        
        <div id="anime25" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5277164.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Пустоголовый перевед</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem527716425 = document.getElementById("anime25")
            _elem527716425.addEventListener("click", function (event) {document.location.href = "/filmInfo527716425"; $$nav.off()});
        </script>
        
        <div id="anime26" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5330764.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Зомби-апокалипсис и </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem533076426 = document.getElementById("anime26")
            _elem533076426.addEventListener("click", function (event) {document.location.href = "/filmInfo533076426"; $$nav.off()});
        </script>
        
        <div id="anime27" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5074807.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Сказка о сахарном яб</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem507480727 = document.getElementById("anime27")
            _elem507480727.addEventListener("click", function (event) {document.location.href = "/filmInfo507480727"; $$nav.off()});
        </script>
        
        <div id="anime28" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5376221.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Я переродился торгов</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem537622128 = document.getElementById("anime28")
            _elem537622128.addEventListener("click", function (event) {document.location.href = "/filmInfo537622128"; $$nav.off()});
        </script>
        
        <div id="anime29" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118210.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Бродяга Кэнсин</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511821029 = document.getElementById("anime29")
            _elem511821029.addEventListener("click", function (event) {document.location.href = "/filmInfo511821029"; $$nav.off()});
        </script>
        
        <div id="anime30" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5018660.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Долой безделье!</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem501866030 = document.getElementById("anime30")
            _elem501866030.addEventListener("click", function (event) {document.location.href = "/filmInfo501866030"; $$nav.off()});
        </script>
        
        <div id="anime31" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5074807.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Сказка о сахарном яб</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem507480731 = document.getElementById("anime31")
            _elem507480731.addEventListener("click", function (event) {document.location.href = "/filmInfo507480731"; $$nav.off()});
        </script>
        
        <div id="anime32" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5330940.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Призванный в другой </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem533094032 = document.getElementById("anime32")
            _elem533094032.addEventListener("click", function (event) {document.location.href = "/filmInfo533094032"; $$nav.off()});
        </script>
        
        <div id="anime33" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4912805.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мой счастливый брак</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem491280533 = document.getElementById("anime33")
            _elem491280533.addEventListener("click", function (event) {document.location.href = "/filmInfo491280533"; $$nav.off()});
        </script>
        
        <div id="anime34" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5363182.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Из мечтателя в реали</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536318234 = document.getElementById("anime34")
            _elem536318234.addEventListener("click", function (event) {document.location.href = "/filmInfo536318234"; $$nav.off()});
        </script>
        
        <div id="anime35" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5368468.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Лжец, лжец</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536846835 = document.getElementById("anime35")
            _elem536846835.addEventListener("click", function (event) {document.location.href = "/filmInfo536846835"; $$nav.off()});
        </script>
        
        <div id="anime36" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5365956.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Хельк</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536595636 = document.getElementById("anime36")
            _elem536595636.addEventListener("click", function (event) {document.location.href = "/filmInfo536595636"; $$nav.off()});
        </script>
        
        <div id="anime37" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5330940.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Призванный в другой </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem533094037 = document.getElementById("anime37")
            _elem533094037.addEventListener("click", function (event) {document.location.href = "/filmInfo533094037"; $$nav.off()});
        </script>
        
        <div id="anime38" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5211346.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Гамера: Возрождение</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem521134638 = document.getElementById("anime38")
            _elem521134638.addEventListener("click", function (event) {document.location.href = "/filmInfo521134638"; $$nav.off()});
        </script>
        
        <div id="anime39" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5363182.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Из мечтателя в реали</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536318239 = document.getElementById("anime39")
            _elem536318239.addEventListener("click", function (event) {document.location.href = "/filmInfo536318239"; $$nav.off()});
        </script>
        
        <div id="anime40" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5035020.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Триган: Ураган</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem503502040 = document.getElementById("anime40")
            _elem503502040.addEventListener("click", function (event) {document.location.href = "/filmInfo503502040"; $$nav.off()});
        </script>
        
        <div id="anime41" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5098414.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мастер на все руки С</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem509841441 = document.getElementById("anime41")
            _elem509841441.addEventListener("click", function (event) {document.location.href = "/filmInfo509841441"; $$nav.off()});
        </script>
        
        <div id="anime42" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5165120.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Магическая революция</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem516512042 = document.getElementById("anime42")
            _elem516512042.addEventListener("click", function (event) {document.location.href = "/filmInfo516512042"; $$nav.off()});
        </script>
        
        <div id="anime43" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5310872.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Внутренние покои</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem531087243 = document.getElementById("anime43")
            _elem531087243.addEventListener("click", function (event) {document.location.href = "/filmInfo531087243"; $$nav.off()});
        </script>
        
        <div id="anime44" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5121100.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ниер: Автомата - Вер</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem512110044 = document.getElementById("anime44")
            _elem512110044.addEventListener("click", function (event) {document.location.href = "/filmInfo512110044"; $$nav.off()});
        </script>
        
        <div id="anime45" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5310704.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рейтинг короля: Сунд</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem531070445 = document.getElementById("anime45")
            _elem531070445.addEventListener("click", function (event) {document.location.href = "/filmInfo531070445"; $$nav.off()});
        </script>
        
        <div id="anime46" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5238430.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Бессонница после шко</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523843046 = document.getElementById("anime46")
            _elem523843046.addEventListener("click", function (event) {document.location.href = "/filmInfo523843046"; $$nav.off()});
        </script>
        
        <div id="anime47" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5352298.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мой домашний герой</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535229847 = document.getElementById("anime47")
            _elem535229847.addEventListener("click", function (event) {document.location.href = "/filmInfo535229847"; $$nav.off()});
        </script>
        
        <div id="anime48" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5308029.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Деятельность Бога в </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530802948 = document.getElementById("anime48")
            _elem530802948.addEventListener("click", function (event) {document.location.href = "/filmInfo530802948"; $$nav.off()});
        </script>
        
        <div id="anime49" class="filmsItem item nav-item" data-nav_ud="#cartoonserial0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5238430.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Бессонница после шко</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523843049 = document.getElementById("anime49")
            _elem523843049.addEventListener("click", function (event) {document.location.href = "/filmInfo523843049"; $$nav.off()});
        </script>
        