
        <div id="anime0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5230828.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Поднятие уровня в од</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52308280 = document.getElementById("anime0")
            _elem52308280.addEventListener("click", function (event) {document.location.href = "/filmInfo52308280"; $$nav.off()});
        </script>
        
        <div id="anime1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5262520.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Покемон: Консьерж</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52625201 = document.getElementById("anime1")
            _elem52625201.addEventListener("click", function (event) {document.location.href = "/filmInfo52625201"; $$nav.off()});
        </script>
        
        <div id="anime2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5118207.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Онимуся</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51182072 = document.getElementById("anime2")
            _elem51182072.addEventListener("click", function (event) {document.location.href = "/filmInfo51182072"; $$nav.off()});
        </script>
        
        <div id="anime3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5258557.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Монолог фармацевта</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52585573 = document.getElementById("anime3")
            _elem52585573.addEventListener("click", function (event) {document.location.href = "/filmInfo52585573"; $$nav.off()});
        </script>
        
        <div id="anime4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5425339.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Магия вернувшегося д</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54253394 = document.getElementById("anime4")
            _elem54253394.addEventListener("click", function (event) {document.location.href = "/filmInfo54253394"; $$nav.off()});
        </script>
        
        <div id="anime5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5401148.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">История знакомства о</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54011485 = document.getElementById("anime5")
            _elem54011485.addEventListener("click", function (event) {document.location.href = "/filmInfo54011485"; $$nav.off()});
        </script>
        
        <div id="anime6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5428354.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Королевство руин</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54283546 = document.getElementById("anime6")
            _elem54283546.addEventListener("click", function (event) {document.location.href = "/filmInfo54283546"; $$nav.off()});
        </script>
        
        <div id="anime7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5406504.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рон Камонохаси: Невм</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54065047 = document.getElementById("anime7")
            _elem54065047.addEventListener("click", function (event) {document.location.href = "/filmInfo54065047"; $$nav.off()});
        </script>
        
        <div id="anime8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5428398.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рубеж Шангри-Ла: Люб</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54283988 = document.getElementById("anime8")
            _elem54283988.addEventListener("click", function (event) {document.location.href = "/filmInfo54283988"; $$nav.off()});
        </script>
        
        <div id="anime9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5426233.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ненасытный Берсерк</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54262339 = document.getElementById("anime9")
            _elem54262339.addEventListener("click", function (event) {document.location.href = "/filmInfo54262339"; $$nav.off()});
        </script>
        
        <div id="anime10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5401195.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Провожающая в послед</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540119510 = document.getElementById("anime10")
            _elem540119510.addEventListener("click", function (event) {document.location.href = "/filmInfo540119510"; $$nav.off()});
        </script>
        
        <div id="anime11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5365956.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Хельк</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536595611 = document.getElementById("anime11")
            _elem536595611.addEventListener("click", function (event) {document.location.href = "/filmInfo536595611"; $$nav.off()});
        </script>
        
        <div id="anime12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5374641.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Тёмное собрание</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem537464112 = document.getElementById("anime12")
            _elem537464112.addEventListener("click", function (event) {document.location.href = "/filmInfo537464112"; $$nav.off()});
        </script>
        
        <div id="anime13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5330764.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Зомби-апокалипсис и </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem533076413 = document.getElementById("anime13")
            _elem533076413.addEventListener("click", function (event) {document.location.href = "/filmInfo533076413"; $$nav.off()});
        </script>
        
        <div id="anime14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5357696.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Кот-мастер на все ла</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535769614 = document.getElementById("anime14")
            _elem535769614.addEventListener("click", function (event) {document.location.href = "/filmInfo535769614"; $$nav.off()});
        </script>
        
        <div id="anime15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5363192.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Непобедимый святой: </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536319215 = document.getElementById("anime15")
            _elem536319215.addEventListener("click", function (event) {document.location.href = "/filmInfo536319215"; $$nav.off()});
        </script>
        
        <div id="anime16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5216645.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Королева, ставшая пр</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem521664516 = document.getElementById("anime16")
            _elem521664516.addEventListener("click", function (event) {document.location.href = "/filmInfo521664516"; $$nav.off()});
        </script>
        
        <div id="anime17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5118210.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Бродяга Кэнсин</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511821017 = document.getElementById("anime17")
            _elem511821017.addEventListener("click", function (event) {document.location.href = "/filmInfo511821017"; $$nav.off()});
        </script>
        
        <div id="anime18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5357727.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Моя возлюбленная заб</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535772718 = document.getElementById("anime18")
            _elem535772718.addEventListener("click", function (event) {document.location.href = "/filmInfo535772718"; $$nav.off()});
        </script>
        
        <div id="anime19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5118833.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Однушка лорда демоно</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511883319 = document.getElementById("anime19")
            _elem511883319.addEventListener("click", function (event) {document.location.href = "/filmInfo511883319"; $$nav.off()});
        </script>
        
        <div id="anime20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5310872.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ооку: Внутренние пок</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem531087220 = document.getElementById("anime20")
            _elem531087220.addEventListener("click", function (event) {document.location.href = "/filmInfo531087220"; $$nav.off()});
        </script>
        
        <div id="anime21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4912805.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мой счастливый брак</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem491280521 = document.getElementById("anime21")
            _elem491280521.addEventListener("click", function (event) {document.location.href = "/filmInfo491280521"; $$nav.off()});
        </script>
        
        <div id="anime22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5400749.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Клинки Хранителей</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540074922 = document.getElementById("anime22")
            _elem540074922.addEventListener("click", function (event) {document.location.href = "/filmInfo540074922"; $$nav.off()});
        </script>
        
        <div id="anime23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5297222.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Причина полюбить её</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem529722223 = document.getElementById("anime23")
            _elem529722223.addEventListener("click", function (event) {document.location.href = "/filmInfo529722223"; $$nav.off()});
        </script>
        
        <div id="anime24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5297246.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Слабейший монстр</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem529724624 = document.getElementById("anime24")
            _elem529724624.addEventListener("click", function (event) {document.location.href = "/filmInfo529724624"; $$nav.off()});
        </script>
        
        <div id="anime25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5308083.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Смертельная игра мёр</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530808325 = document.getElementById("anime25")
            _elem530808325.addEventListener("click", function (event) {document.location.href = "/filmInfo530808325"; $$nav.off()});
        </script>
        
        <div id="anime26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5330940.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Призванный в другой </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem533094026 = document.getElementById("anime26")
            _elem533094026.addEventListener("click", function (event) {document.location.href = "/filmInfo533094026"; $$nav.off()});
        </script>
        
        <div id="anime27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5098559.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Галактика по соседст</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem509855927 = document.getElementById("anime27")
            _elem509855927.addEventListener("click", function (event) {document.location.href = "/filmInfo509855927"; $$nav.off()});
        </script>
        
        <div id="anime28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5332447.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Магия и мускулы</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem533244728 = document.getElementById("anime28")
            _elem533244728.addEventListener("click", function (event) {document.location.href = "/filmInfo533244728"; $$nav.off()});
        </script>
        
        <div id="anime29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5276611.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Слишком милый кризис</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem527661129 = document.getElementById("anime29")
            _elem527661129.addEventListener("click", function (event) {document.location.href = "/filmInfo527661129"; $$nav.off()});
        </script>
        