
        <div id="anime0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4774061/8aa398f9-c38a-42ee-82a6-9f4bcbf7b1df/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Онимуся</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51182070 = document.getElementById("anime0")
            _elem51182070.addEventListener("click", function (event) {document.location.href = "/filmInfo51182070"; $$nav.off()});
        </script>
        
        <div id="anime1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10703959/beed01d6-9d5b-4e3c-b412-cb0ba003476a/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Монолог фармацевта</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52585571 = document.getElementById("anime1")
            _elem52585571.addEventListener("click", function (event) {document.location.href = "/filmInfo52585571"; $$nav.off()});
        </script>
        
        <div id="anime2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10835644/e6845739-7a7d-4935-9f81-b41c7d40b8ff/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Магия вернувшегося д</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54253392 = document.getElementById("anime2")
            _elem54253392.addEventListener("click", function (event) {document.location.href = "/filmInfo54253392"; $$nav.off()});
        </script>
        
        <div id="anime3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/09937d97-95ce-426a-b409-731feec5bb92/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">История знакомства о</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54011483 = document.getElementById("anime3")
            _elem54011483.addEventListener("click", function (event) {document.location.href = "/filmInfo54011483"; $$nav.off()});
        </script>
        
        <div id="anime4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10835644/50f891dc-18ed-4b9b-859c-dce037ed62f9/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Королевство руин</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54283544 = document.getElementById("anime4")
            _elem54283544.addEventListener("click", function (event) {document.location.href = "/filmInfo54283544"; $$nav.off()});
        </script>
        
        <div id="anime5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/e3afa23b-72be-4536-9519-913c5046b1b6/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рон Камонохаси: Невм</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54065045 = document.getElementById("anime5")
            _elem54065045.addEventListener("click", function (event) {document.location.href = "/filmInfo54065045"; $$nav.off()});
        </script>
        
        <div id="anime6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4486362/43b37f92-02c8-4767-aef7-fbb1f14ee4a3/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рубеж Шангри-Ла: Люб</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54283986 = document.getElementById("anime6")
            _elem54283986.addEventListener("click", function (event) {document.location.href = "/filmInfo54283986"; $$nav.off()});
        </script>
        
        <div id="anime7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/7003f1b4-53ad-4d25-9b32-bb4f21bd6319/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ненасытный Берсерк</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54262337 = document.getElementById("anime7")
            _elem54262337.addEventListener("click", function (event) {document.location.href = "/filmInfo54262337"; $$nav.off()});
        </script>
        
        <div id="anime8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10900341/b0263c88-03b6-47a6-90f0-fbf39fce0dde/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рагна Багровый</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54262168 = document.getElementById("anime8")
            _elem54262168.addEventListener("click", function (event) {document.location.href = "/filmInfo54262168"; $$nav.off()});
        </script>
        
        <div id="anime9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/c1ef8c0c-23b8-477e-a42d-9f8d85396ec8/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Провожающая в послед</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54011959 = document.getElementById("anime9")
            _elem54011959.addEventListener("click", function (event) {document.location.href = "/filmInfo54011959"; $$nav.off()});
        </script>
        
        <div id="anime10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/1600647/a34188d6-d2ab-4fa5-b4c9-cdc10d64c247/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Тёмное собрание</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem537464110 = document.getElementById("anime10")
            _elem537464110.addEventListener("click", function (event) {document.location.href = "/filmInfo537464110"; $$nav.off()});
        </script>
        
        <div id="anime11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4774061/c406ffff-8559-4d1b-84bc-e5741582ecfa/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Зомби-апокалипсис и </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem533076411 = document.getElementById("anime11")
            _elem533076411.addEventListener("click", function (event) {document.location.href = "/filmInfo533076411"; $$nav.off()});
        </script>
        
        <div id="anime12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/538d2c05-9a45-4683-bb55-fd44e0f0be87/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Кот-мастер на все ла</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535769612 = document.getElementById("anime12")
            _elem535769612.addEventListener("click", function (event) {document.location.href = "/filmInfo535769612"; $$nav.off()});
        </script>
        
        <div id="anime13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/87421762-d318-42aa-989e-8322ac5c24cf/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Непобедимый святой: </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536319213 = document.getElementById("anime13")
            _elem536319213.addEventListener("click", function (event) {document.location.href = "/filmInfo536319213"; $$nav.off()});
        </script>
        
        <div id="anime14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10835644/7640223b-80d1-4582-b557-0e3c869b2172/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Королева, ставшая пр</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem521664514 = document.getElementById("anime14")
            _elem521664514.addEventListener("click", function (event) {document.location.href = "/filmInfo521664514"; $$nav.off()});
        </script>
        
        <div id="anime15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/1898899/c1f30085-7309-415f-9e6c-0f54367daf93/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Бродяга Кэнсин</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511821015 = document.getElementById("anime15")
            _elem511821015.addEventListener("click", function (event) {document.location.href = "/filmInfo511821015"; $$nav.off()});
        </script>
        
        <div id="anime16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4486454/32f9a9a6-b7c6-475d-8687-e0cc1306aa9d/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Моя возлюбленная заб</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535772716 = document.getElementById("anime16")
            _elem535772716.addEventListener("click", function (event) {document.location.href = "/filmInfo535772716"; $$nav.off()});
        </script>
        
        <div id="anime17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10592371/dc52bff6-9b67-4ed6-8352-bde8c25acc8e/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Однушка лорда демоно</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511883317 = document.getElementById("anime17")
            _elem511883317.addEventListener("click", function (event) {document.location.href = "/filmInfo511883317"; $$nav.off()});
        </script>
        
        <div id="anime18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4483445/f42fda7e-91dc-4560-a7e6-6d1b3fa3ed31/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Аяка</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535770218 = document.getElementById("anime18")
            _elem535770218.addEventListener("click", function (event) {document.location.href = "/filmInfo535770218"; $$nav.off()});
        </script>
        
        <div id="anime19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4774061/ef54635a-5170-49b4-ae18-f633f25c5c35/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ооку: Внутренние пок</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem531087219 = document.getElementById("anime19")
            _elem531087219.addEventListener("click", function (event) {document.location.href = "/filmInfo531087219"; $$nav.off()});
        </script>
        
        <div id="anime20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/a704d5af-a76c-431e-9951-16c66f9b79a3/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мой счастливый брак</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem491280520 = document.getElementById("anime20")
            _elem491280520.addEventListener("click", function (event) {document.location.href = "/filmInfo491280520"; $$nav.off()});
        </script>
        
        <div id="anime21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/1898899/34a1667a-fef5-4a5a-b16e-c0e8f955095f/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Якитори</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem527244321 = document.getElementById("anime21")
            _elem527244321.addEventListener("click", function (event) {document.location.href = "/filmInfo527244321"; $$nav.off()});
        </script>
        
        <div id="anime22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/1898899/40fa4715-34ce-4550-a21f-05c760b00048/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Причина полюбить её</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem529722222 = document.getElementById("anime22")
            _elem529722222.addEventListener("click", function (event) {document.location.href = "/filmInfo529722222"; $$nav.off()});
        </script>
        
        <div id="anime23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/8140f19e-d17b-4143-b106-1774eed927a8/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Слабейший монстр</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem529724623 = document.getElementById("anime23")
            _elem529724623.addEventListener("click", function (event) {document.location.href = "/filmInfo529724623"; $$nav.off()});
        </script>
        
        <div id="anime24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/c3d3e01c-3f24-44ad-902a-11e8d1bc5fe4/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Смертельная игра мёр</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530808324 = document.getElementById("anime24")
            _elem530808324.addEventListener("click", function (event) {document.location.href = "/filmInfo530808324"; $$nav.off()});
        </script>
        
        <div id="anime25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4774061/2c59490e-0c28-48e4-8f4d-eac379ef183d/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Синий оркестр</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem531072625 = document.getElementById("anime25")
            _elem531072625.addEventListener("click", function (event) {document.location.href = "/filmInfo531072625"; $$nav.off()});
        </script>
        
        <div id="anime26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4774061/a1fda2df-8960-4958-898e-3c2474345b1f/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Призванный в другой </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem533094026 = document.getElementById("anime26")
            _elem533094026.addEventListener("click", function (event) {document.location.href = "/filmInfo533094026"; $$nav.off()});
        </script>
        
        <div id="anime27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/b85007a4-9ca6-4c5b-8f09-896e93f4d9d1/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Галактика по соседст</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem509855927 = document.getElementById("anime27")
            _elem509855927.addEventListener("click", function (event) {document.location.href = "/filmInfo509855927"; $$nav.off()});
        </script>
        
        <div id="anime28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/940cc4c4-728a-4762-988a-51b3a4dd6186/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Магия и мускулы</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem533244728 = document.getElementById("anime28")
            _elem533244728.addEventListener("click", function (event) {document.location.href = "/filmInfo533244728"; $$nav.off()});
        </script>
        
        <div id="anime29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/f5698470-302c-4e53-9645-f3a5c125ca5d/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Слишком милый кризис</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem527661129 = document.getElementById("anime29")
            _elem527661129.addEventListener("click", function (event) {document.location.href = "/filmInfo527661129"; $$nav.off()});
        </script>
        