
        <div id="cartoon0" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://i.mydramalist.com/vlmWZ_4f.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Взрослые не знают</p>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt144403900 = document.getElementById("cartoon0")
            _elemtt144403900.addEventListener("click", function (event) {document.location.href = "/filmInfott144403900"; $$nav.off()});
        </script>
        
        <div id="cartoon1" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/1392729.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Эликсир красоты</p>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt123548861 = document.getElementById("cartoon1")
            _elemtt123548861.addEventListener("click", function (event) {document.location.href = "/filmInfott123548861"; $$nav.off()});
        </script>
        
        <div id="cartoon2" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/1187922.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Снежные гонки</p>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt89255402 = document.getElementById("cartoon2")
            _elemtt89255402.addEventListener("click", function (event) {document.location.href = "/filmInfott89255402"; $$nav.off()});
        </script>
        
        <div id="cartoon3" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/1172795.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Потеряна и найдена</p>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt85892363 = document.getElementById("cartoon3")
            _elemtt85892363.addEventListener("click", function (event) {document.location.href = "/filmInfott85892363"; $$nav.off()});
        </script>
        
        <div id="cartoon4" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/1009959.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Эллиот</p>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt41778564 = document.getElementById("cartoon4")
            _elemtt41778564.addEventListener("click", function (event) {document.location.href = "/filmInfott41778564"; $$nav.off()});
        </script>
        
        <div id="cartoon5" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/1118108.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Хранители ветра</p>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt94964065 = document.getElementById("cartoon5")
            _elemtt94964065.addEventListener("click", function (event) {document.location.href = "/filmInfott94964065"; $$nav.off()});
        </script>
        
        <div id="cartoon6" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/1268579.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Паровые двигатели ст</p>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt77018086 = document.getElementById("cartoon6")
            _elemtt77018086.addEventListener("click", function (event) {document.location.href = "/filmInfott77018086"; $$nav.off()});
        </script>
        
        <div id="cartoon7" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/1046929.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Да Хуфа</p>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt71460547 = document.getElementById("cartoon7")
            _elemtt71460547.addEventListener("click", function (event) {document.location.href = "/filmInfott71460547"; $$nav.off()});
        </script>
        
        <div id="cartoon8" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/1036311.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Говард Лавкрафт и По</p>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt64388408 = document.getElementById("cartoon8")
            _elemtt64388408.addEventListener("click", function (event) {document.location.href = "/filmInfott64388408"; $$nav.off()});
        </script>
        
        <div id="cartoon9" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/1007590.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>В поисках йети</p>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt54338849 = document.getElementById("cartoon9")
            _elemtt54338849.addEventListener("click", function (event) {document.location.href = "/filmInfott54338849"; $$nav.off()});
        </script>
        
        <div id="cartoon10" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/969253.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Махнем на Луну!</p>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt449438210 = document.getElementById("cartoon10")
            _elemtt449438210.addEventListener("click", function (event) {document.location.href = "/filmInfott449438210"; $$nav.off()});
        </script>
        
        <div id="cartoon11" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/968567.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Тодд и книга чистого</p>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt554525411 = document.getElementById("cartoon11")
            _elemtt554525411.addEventListener("click", function (event) {document.location.href = "/filmInfott554525411"; $$nav.off()});
        </script>
        
        <div id="cartoon12" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/1111031.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Лига Watchcar. Возвр</p>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt1046728012 = document.getElementById("cartoon12")
            _elemtt1046728012.addEventListener("click", function (event) {document.location.href = "/filmInfott1046728012"; $$nav.off()});
        </script>
        
        <div id="cartoon13" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/1097456.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Адам: Зеркало</p>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt759701413 = document.getElementById("cartoon13")
            _elemtt759701413.addEventListener("click", function (event) {document.location.href = "/filmInfott759701413"; $$nav.off()});
        </script>
        
        <div id="cartoon14" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/821738.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Реальная белка 2</p>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt348662614 = document.getElementById("cartoon14")
            _elemtt348662614.addEventListener("click", function (event) {document.location.href = "/filmInfott348662614"; $$nav.off()});
        </script>
        
        <div id="cartoon15" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/1046898.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Бернард: Агент 008</p>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt643782015 = document.getElementById("cartoon15")
            _elemtt643782015.addEventListener("click", function (event) {document.location.href = "/filmInfott643782015"; $$nav.off()});
        </script>
        
        <div id="cartoon16" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/986509.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Обитель зла: Вендетт</p>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt577620816 = document.getElementById("cartoon16")
            _elemtt577620816.addEventListener("click", function (event) {document.location.href = "/filmInfott577620816"; $$nav.off()});
        </script>
        
        <div id="cartoon17" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/1059158.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Лис и кит</p>
        <h1>(2016)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt577811017 = document.getElementById("cartoon17")
            _elemtt577811017.addEventListener("click", function (event) {document.location.href = "/filmInfott577811017"; $$nav.off()});
        </script>
        
        <div id="cartoon18" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/993612.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Жил-был кот</p>
        <h1>(2016)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt591205218 = document.getElementById("cartoon18")
            _elemtt591205218.addEventListener("click", function (event) {document.location.href = "/filmInfott591205218"; $$nav.off()});
        </script>
        
        <div id="cartoon19" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/929354.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Плохой кот Шерафетти</p>
        <h1>(2016)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt469554819 = document.getElementById("cartoon19")
            _elemtt469554819.addEventListener("click", function (event) {document.location.href = "/filmInfott469554819"; $$nav.off()});
        </script>
        
        <div id="cartoon20" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/897468.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Волшебное королевств</p>
        <h1>(2015)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt449424220 = document.getElementById("cartoon20")
            _elemtt449424220.addEventListener("click", function (event) {document.location.href = "/filmInfott449424220"; $$nav.off()});
        </script>
        
        <div id="cartoon21" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/927785.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Снежная битва</p>
        <h1>(2015)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt514370021 = document.getElementById("cartoon21")
            _elemtt514370021.addEventListener("click", function (event) {document.location.href = "/filmInfott514370021"; $$nav.off()});
        </script>
        
        <div id="cartoon22" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/840345.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Темный странник</p>
        <h1>(2015)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt365365022 = document.getElementById("cartoon22")
            _elemtt365365022.addEventListener("click", function (event) {document.location.href = "/filmInfott365365022"; $$nav.off()});
        </script>
        
        <div id="cartoon23" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/888212.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Пропасть</p>
        <h1>(2014)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt355908223 = document.getElementById("cartoon23")
            _elemtt355908223.addEventListener("click", function (event) {document.location.href = "/filmInfott355908223"; $$nav.off()});
        </script>
        
        <div id="cartoon24" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/744443.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Переполох в джунглях</p>
        <h1>(2014)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt272278624 = document.getElementById("cartoon24")
            _elemtt272278624.addEventListener("click", function (event) {document.location.href = "/filmInfott272278624"; $$nav.off()});
        </script>
        
        <div id="cartoon25" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/725435.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Петух из Сан-Виктор</p>
        <h1>(2014)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt247609625 = document.getElementById("cartoon25")
            _elemtt247609625.addEventListener("click", function (event) {document.location.href = "/filmInfott247609625"; $$nav.off()});
        </script>
        
        <div id="cartoon26" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/733375.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Железный Человек: Во</p>
        <h1>(2013)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt265412426 = document.getElementById("cartoon26")
            _elemtt265412426.addEventListener("click", function (event) {document.location.href = "/filmInfott265412426"; $$nav.off()});
        </script>
        
        <div id="cartoon27" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/807076.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Подделка</p>
        <h1>(2013)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt309127227 = document.getElementById("cartoon27")
            _elemtt309127227.addEventListener("click", function (event) {document.location.href = "/filmInfott309127227"; $$nav.off()});
        </script>
        
        <div id="cartoon28" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/757549.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Пингвиненок Пороро: </p>
        <h1>(2013)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt265247628 = document.getElementById("cartoon28")
            _elemtt265247628.addEventListener("click", function (event) {document.location.href = "/filmInfott265247628"; $$nav.off()});
        </script>
        
        <div id="cartoon29" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/675045.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Сарила: Затерянная з</p>
        <h1>(2013)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt229693529 = document.getElementById("cartoon29")
            _elemtt229693529.addEventListener("click", function (event) {document.location.href = "/filmInfott229693529"; $$nav.off()});
        </script>
        
        <div id="cartoon30" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/662558.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Храбрый плавник</p>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt219019330 = document.getElementById("cartoon30")
            _elemtt219019330.addEventListener("click", function (event) {document.location.href = "/filmInfott219019330"; $$nav.off()});
        </script>
        
        <div id="cartoon31" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/708281.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Монстры на острове 3</p>
        <h1>(2011)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt179322431 = document.getElementById("cartoon31")
            _elemtt179322431.addEventListener("click", function (event) {document.location.href = "/filmInfott179322431"; $$nav.off()});
        </script>
        
        <div id="cartoon32" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/581664.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Морская бригада</p>
        <h1>(2011)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt189190532 = document.getElementById("cartoon32")
            _elemtt189190532.addEventListener("click", function (event) {document.location.href = "/filmInfott189190532"; $$nav.off()});
        </script>
        
        <div id="cartoon33" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/276339.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>9,99 долларов</p>
        <h1>(2008)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt079079933 = document.getElementById("cartoon33")
            _elemtt079079933.addEventListener("click", function (event) {document.location.href = "/filmInfott079079933"; $$nav.off()});
        </script>
        
        <div id="cartoon34" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/266866.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Волшебный лес</p>
        <h1>(2006)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt087197134 = document.getElementById("cartoon34")
            _elemtt087197134.addEventListener("click", function (event) {document.location.href = "/filmInfott087197134"; $$nav.off()});
        </script>
        
        <div id="cartoon35" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/430455.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Большой Ух</p>
        <h1>(1989)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt179641435 = document.getElementById("cartoon35")
            _elemtt179641435.addEventListener("click", function (event) {document.location.href = "/filmInfott179641435"; $$nav.off()});
        </script>
        
        <div id="cartoon36" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/257388.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Неуловимый Фунтик</p>
        <h1>(1986)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt214124136 = document.getElementById("cartoon36")
            _elemtt214124136.addEventListener("click", function (event) {document.location.href = "/filmInfott214124136"; $$nav.off()});
        </script>
        
        <div id="cartoon37" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/256566.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Зима в Простоквашино</p>
        <h1>(1984)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt131841437 = document.getElementById("cartoon37")
            _elemtt131841437.addEventListener("click", function (event) {document.location.href = "/filmInfott131841437"; $$nav.off()});
        </script>
        
        <div id="cartoon38" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/571270.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Как Петя Пяточкин сл</p>
        <h1>(1984)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt510829438 = document.getElementById("cartoon38")
            _elemtt510829438.addEventListener("click", function (event) {document.location.href = "/filmInfott510829438"; $$nav.off()});
        </script>
        
        <div id="cartoon39" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/260004.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Горшочек каши</p>
        <h1>(1984)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt279501639 = document.getElementById("cartoon39")
            _elemtt279501639.addEventListener("click", function (event) {document.location.href = "/filmInfott279501639"; $$nav.off()});
        </script>
        
        <div id="cartoon40" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/428813.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>По дороге с облаками</p>
        <h1>(1984)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt452677840 = document.getElementById("cartoon40")
            _elemtt452677840.addEventListener("click", function (event) {document.location.href = "/filmInfott452677840"; $$nav.off()});
        </script>
        
        <div id="cartoon41" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/43361.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Путешествие муравья</p>
        <h1>(1983)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt021612641 = document.getElementById("cartoon41")
            _elemtt021612641.addEventListener("click", function (event) {document.location.href = "/filmInfott021612641"; $$nav.off()});
        </script>
        
        <div id="cartoon42" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/257945.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Живая игрушка</p>
        <h1>(1982)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt352295442 = document.getElementById("cartoon42")
            _elemtt352295442.addEventListener("click", function (event) {document.location.href = "/filmInfott352295442"; $$nav.off()});
        </script>
        
        <div id="cartoon43" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/43458.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Алиса в Зазеркалье</p>
        <h1>(1982)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt021119243 = document.getElementById("cartoon43")
            _elemtt021119243.addEventListener("click", function (event) {document.location.href = "/filmInfott021119243"; $$nav.off()});
        </script>
        
        <div id="cartoon44" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/451308.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Чертенок № 13</p>
        <h1>(1982)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt346757044 = document.getElementById("cartoon44")
            _elemtt346757044.addEventListener("click", function (event) {document.location.href = "/filmInfott346757044"; $$nav.off()});
        </script>
        
        <div id="cartoon45" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/257212.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Так сойдет</p>
        <h1>(1981)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt552094845 = document.getElementById("cartoon45")
            _elemtt552094845.addEventListener("click", function (event) {document.location.href = "/filmInfott552094845"; $$nav.off()});
        </script>
        
        <div id="cartoon46" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/43457.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Алиса в стране чудес</p>
        <h1>(1981)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt021119146 = document.getElementById("cartoon46")
            _elemtt021119146.addEventListener("click", function (event) {document.location.href = "/filmInfott021119146"; $$nav.off()});
        </script>
        
        <div id="cartoon47" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/256551.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Каникулы в Простоква</p>
        <h1>(1980)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt131558447 = document.getElementById("cartoon47")
            _elemtt131558447.addEventListener("click", function (event) {document.location.href = "/filmInfott131558447"; $$nav.off()});
        </script>
        
        <div id="cartoon48" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/42326.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Трое из Простоквашин</p>
        <h1>(1978)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt018916048 = document.getElementById("cartoon48")
            _elemtt018916048.addEventListener("click", function (event) {document.location.href = "/filmInfott018916048"; $$nav.off()});
        </script>
        
        <div id="cartoon49" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/261598.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Контакт</p>
        <h1>(1978)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt080376449 = document.getElementById("cartoon49")
            _elemtt080376449.addEventListener("click", function (event) {document.location.href = "/filmInfott080376449"; $$nav.off()});
        </script>
        
        <div id="cartoon50" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/256983.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Подарок для самого с</p>
        <h1>(1978)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt106827450 = document.getElementById("cartoon50")
            _elemtt106827450.addEventListener("click", function (event) {document.location.href = "/filmInfott106827450"; $$nav.off()});
        </script>
        
        <div id="cartoon51" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/260068.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Пятачок</p>
        <h1>(1977)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt089288751 = document.getElementById("cartoon51")
            _elemtt089288751.addEventListener("click", function (event) {document.location.href = "/filmInfott089288751"; $$nav.off()});
        </script>
        
        <div id="cartoon52" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/448949.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Василиса Микулишна</p>
        <h1>(1975)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt138479052 = document.getElementById("cartoon52")
            _elemtt138479052.addEventListener("click", function (event) {document.location.href = "/filmInfott138479052"; $$nav.off()});
        </script>
        
        <div id="cartoon53" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/276371.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Щелкунчик</p>
        <h1>(1973)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt092806853 = document.getElementById("cartoon53")
            _elemtt092806853.addEventListener("click", function (event) {document.location.href = "/filmInfott092806853"; $$nav.off()});
        </script>
        
        <div id="cartoon54" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/44759.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Кентервильское приви</p>
        <h1>(1970)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt016584454 = document.getElementById("cartoon54")
            _elemtt016584454.addEventListener("click", function (event) {document.location.href = "/filmInfott016584454"; $$nav.off()});
        </script>
        
        <div id="cartoon55" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/438262.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Умка</p>
        <h1>(1969)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt333605455 = document.getElementById("cartoon55")
            _elemtt333605455.addEventListener("click", function (event) {document.location.href = "/filmInfott333605455"; $$nav.off()});
        </script>
        
        <div id="cartoon56" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/258028.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Козленок, который сч</p>
        <h1>(1968)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt222620056 = document.getElementById("cartoon56")
            _elemtt222620056.addEventListener("click", function (event) {document.location.href = "/filmInfott222620056"; $$nav.off()});
        </script>
        
        <div id="cartoon57" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/258016.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Варежка</p>
        <h1>(1967)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt039393257 = document.getElementById("cartoon57")
            _elemtt039393257.addEventListener("click", function (event) {document.location.href = "/filmInfott039393257"; $$nav.off()});
        </script>
        
        <div id="cartoon58" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/42094.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Рикки-Тикки-Тави</p>
        <h1>(1965)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt021319758 = document.getElementById("cartoon58")
            _elemtt021319758.addEventListener("click", function (event) {document.location.href = "/filmInfott021319758"; $$nav.off()});
        </script>
        
        <div id="cartoon59" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/585267.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Муха-цокотуха</p>
        <h1>(1960)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt600596059 = document.getElementById("cartoon59")
            _elemtt600596059.addEventListener("click", function (event) {document.location.href = "/filmInfott600596059"; $$nav.off()});
        </script>
        
        <div id="cartoon60" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/440080.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Волк и семеро козлят</p>
        <h1>(1957)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt227381260 = document.getElementById("cartoon60")
            _elemtt227381260.addEventListener("click", function (event) {document.location.href = "/filmInfott227381260"; $$nav.off()});
        </script>
        
        <div id="cartoon61" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/468263.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Сказка о попе и о ра</p>
        <h1>(1956)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt566917061 = document.getElementById("cartoon61")
            _elemtt566917061.addEventListener("click", function (event) {document.location.href = "/filmInfott566917061"; $$nav.off()});
        </script>
        
        <div id="cartoon62" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/45971.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Высокая горка</p>
        <h1>(1951)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt021870662 = document.getElementById("cartoon62")
            _elemtt021870662.addEventListener("click", function (event) {document.location.href = "/filmInfott021870662"; $$nav.off()});
        </script>
        
        <div id="cartoon63" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/258003.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Чудо-мельница</p>
        <h1>(1950)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt485722463 = document.getElementById("cartoon63")
            _elemtt485722463.addEventListener("click", function (event) {document.location.href = "/filmInfott485722463"; $$nav.off()});
        </script>
        
        <div id="cartoon64" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/44851.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Когда зажигаются елк</p>
        <h1>(1950)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt021146664 = document.getElementById("cartoon64")
            _elemtt021146664.addEventListener("click", function (event) {document.location.href = "/filmInfott021146664"; $$nav.off()});
        </script>
        
        <div id="cartoon65" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/257938.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Дудочка и кувшинчик</p>
        <h1>(1950)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt265820065 = document.getElementById("cartoon65")
            _elemtt265820065.addEventListener("click", function (event) {document.location.href = "/filmInfott265820065"; $$nav.off()});
        </script>
        
        <div id="cartoon66" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/438329.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Сказка о рыбаке и ры</p>
        <h1>(1950)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt543747066 = document.getElementById("cartoon66")
            _elemtt543747066.addEventListener("click", function (event) {document.location.href = "/filmInfott543747066"; $$nav.off()});
        </script>
        
        <div id="cartoon67" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/258032.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Сказка старого дуба</p>
        <h1>(1949)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt485717267 = document.getElementById("cartoon67")
            _elemtt485717267.addEventListener("click", function (event) {document.location.href = "/filmInfott485717267"; $$nav.off()});
        </script>
        
        <div id="cartoon68" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/258034.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Серая шейка</p>
        <h1>(1948)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt179494868 = document.getElementById("cartoon68")
            _elemtt179494868.addEventListener("click", function (event) {document.location.href = "/filmInfott179494868"; $$nav.off()});
        </script>
        
        <div id="cartoon69" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/257883.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Цветик-семицветик</p>
        <h1>(1948)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt248773669 = document.getElementById("cartoon69")
            _elemtt248773669.addEventListener("click", function (event) {document.location.href = "/filmInfott248773669"; $$nav.off()});
        </script>
        
        <div id="cartoon70" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/257969.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Песенка радости</p>
        <h1>(1946)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt605268470 = document.getElementById("cartoon70")
            _elemtt605268470.addEventListener("click", function (event) {document.location.href = "/filmInfott605268470"; $$nav.off()});
        </script>
        
        <div id="cartoon71" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_big/259329.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>У страха глаза велик</p>
        <h1>(1946)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elemtt484959671 = document.getElementById("cartoon71")
            _elemtt484959671.addEventListener("click", function (event) {document.location.href = "/filmInfott484959671"; $$nav.off()});
        </script>
        