
        <div id="cartoon0" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_597442.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Красная черта</p>
        <h1>(2009)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5974420 = document.getElementById("cartoon0")
            _elem5974420.addEventListener("click", function (event) {document.location.href = "/filmInfo5974420"; $$nav.off()});
        </script>
        
        <div id="cartoon1" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_788173.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Сестрёнка-моделистка</p>
        <h1>(2011)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem7881731 = document.getElementById("cartoon1")
            _elem7881731.addEventListener("click", function (event) {document.location.href = "/filmInfo7881731"; $$nav.off()});
        </script>
        
        <div id="cartoon2" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_722918.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Рыжеволосая Энн: Дор</p>
        <h1>(2010)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem7229182 = document.getElementById("cartoon2")
            _elem7229182.addEventListener("click", function (event) {document.location.href = "/filmInfo7229182"; $$nav.off()});
        </script>
        
        <div id="cartoon3" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5322924.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Агент Джи-Джи Бонд: </p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53229243 = document.getElementById("cartoon3")
            _elem53229243.addEventListener("click", function (event) {document.location.href = "/filmInfo53229243"; $$nav.off()});
        </script>
        
        <div id="cartoon4" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_434644.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Ангелы из ада</p>
        <h1>(2008)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem4346444 = document.getElementById("cartoon4")
            _elem4346444.addEventListener("click", function (event) {document.location.href = "/filmInfo4346444"; $$nav.off()});
        </script>
        
        <div id="cartoon5" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_940877.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Где дракон?</p>
        <h1>(2015)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem9408775 = document.getElementById("cartoon5")
            _elem9408775.addEventListener("click", function (event) {document.location.href = "/filmInfo9408775"; $$nav.off()});
        </script>
        
        <div id="cartoon6" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4708940.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Щенячий патруль: Мег</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47089406 = document.getElementById("cartoon6")
            _elem47089406.addEventListener("click", function (event) {document.location.href = "/filmInfo47089406"; $$nav.off()});
        </script>
        
        <div id="cartoon7" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_592142.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>В тридесятом веке</p>
        <h1>(1972)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5921427 = document.getElementById("cartoon7")
            _elem5921427.addEventListener("click", function (event) {document.location.href = "/filmInfo5921427"; $$nav.off()});
        </script>
        
        <div id="cartoon8" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5398802.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Южный Парк: Воссоеди</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53988028 = document.getElementById("cartoon8")
            _elem53988028.addEventListener("click", function (event) {document.location.href = "/filmInfo53988028"; $$nav.off()});
        </script>
        
        <div id="cartoon9" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_871504.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Томас и его друзья: </p>
        <h1>(2015)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem8715049 = document.getElementById("cartoon9")
            _elem8715049.addEventListener("click", function (event) {document.location.href = "/filmInfo8715049"; $$nav.off()});
        </script>
        
        <div id="cartoon10" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_109013.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Разделение</p>
        <h1>(2003)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem10901310 = document.getElementById("cartoon10")
            _elem10901310.addEventListener("click", function (event) {document.location.href = "/filmInfo10901310"; $$nav.off()});
        </script>
        
        <div id="cartoon11" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_496746.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Параноидальный</p>
        <h1>(1994)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49674611 = document.getElementById("cartoon11")
            _elem49674611.addEventListener("click", function (event) {document.location.href = "/filmInfo49674611"; $$nav.off()});
        </script>
        
        <div id="cartoon12" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_109021.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Человек в нижнем лев</p>
        <h1>(1997)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem10902112 = document.getElementById("cartoon12")
            _elem10902112.addEventListener("click", function (event) {document.location.href = "/filmInfo10902112"; $$nav.off()});
        </script>
        
        <div id="cartoon13" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_109015.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Кот с человеческими </p>
        <h1>(2001)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem10901513 = document.getElementById("cartoon13")
            _elem10901513.addEventListener("click", function (event) {document.location.href = "/filmInfo10901513"; $$nav.off()});
        </script>
        
        <div id="cartoon14" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5268477.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Руби Гильман: Приклю</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526847714 = document.getElementById("cartoon14")
            _elem526847714.addEventListener("click", function (event) {document.location.href = "/filmInfo526847714"; $$nav.off()});
        </script>
        
        <div id="cartoon15" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5364439.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>LEGO Мстители Марвел</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536443915 = document.getElementById("cartoon15")
            _elem536443915.addEventListener("click", function (event) {document.location.href = "/filmInfo536443915"; $$nav.off()});
        </script>
        
        <div id="cartoon16" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_419586.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Приключения мышонка </p>
        <h1>(2008)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem41958616 = document.getElementById("cartoon16")
            _elem41958616.addEventListener("click", function (event) {document.location.href = "/filmInfo41958616"; $$nav.off()});
        </script>
        
        <div id="cartoon17" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_532836.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Кошачья жизнь</p>
        <h1>(2010)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53283617 = document.getElementById("cartoon17")
            _elem53283617.addEventListener("click", function (event) {document.location.href = "/filmInfo53283617"; $$nav.off()});
        </script>
        
        <div id="cartoon18" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_79574.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Каспер: Рождество пр</p>
        <h1>(2000)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem7957418 = document.getElementById("cartoon18")
            _elem7957418.addEventListener("click", function (event) {document.location.href = "/filmInfo7957418"; $$nav.off()});
        </script>
        
        <div id="cartoon19" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_503873.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Марко Макако</p>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50387319 = document.getElementById("cartoon19")
            _elem50387319.addEventListener("click", function (event) {document.location.href = "/filmInfo50387319"; $$nav.off()});
        </script>
        
        <div id="cartoon20" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_433311.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Диномама 3D</p>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem43331120 = document.getElementById("cartoon20")
            _elem43331120.addEventListener("click", function (event) {document.location.href = "/filmInfo43331120"; $$nav.off()});
        </script>
        
        <div id="cartoon21" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1012427.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Руслан и Людмила: Пе</p>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem101242721 = document.getElementById("cartoon21")
            _elem101242721.addEventListener("click", function (event) {document.location.href = "/filmInfo101242721"; $$nav.off()});
        </script>
        
        <div id="cartoon22" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_732013.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Железяки</p>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem73201322 = document.getElementById("cartoon22")
            _elem73201322.addEventListener("click", function (event) {document.location.href = "/filmInfo73201322"; $$nav.off()});
        </script>
        
        <div id="cartoon23" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4769135.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Судзумэ закрывает дв</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem476913523 = document.getElementById("cartoon23")
            _elem476913523.addEventListener("click", function (event) {document.location.href = "/filmInfo476913523"; $$nav.off()});
        </script>
        
        <div id="cartoon24" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4769135.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Судзумэ закрывает дв</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem476913524 = document.getElementById("cartoon24")
            _elem476913524.addEventListener("click", function (event) {document.location.href = "/filmInfo476913524"; $$nav.off()});
        </script>
        
        <div id="cartoon25" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5379765.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Однажды в студии</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem537976525 = document.getElementById("cartoon25")
            _elem537976525.addEventListener("click", function (event) {document.location.href = "/filmInfo537976525"; $$nav.off()});
        </script>
        
        <div id="cartoon26" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5368136.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Лига справедливости </p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536813626 = document.getElementById("cartoon26")
            _elem536813626.addEventListener("click", function (event) {document.location.href = "/filmInfo536813626"; $$nav.off()});
        </script>
        
        <div id="cartoon27" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1114960.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Хрустальное небо вче</p>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem111496027 = document.getElementById("cartoon27")
            _elem111496027.addEventListener("click", function (event) {document.location.href = "/filmInfo111496027"; $$nav.off()});
        </script>
        
        <div id="cartoon28" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5055762.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Одинокий замок в Заз</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem505576228 = document.getElementById("cartoon28")
            _elem505576228.addEventListener("click", function (event) {document.location.href = "/filmInfo505576228"; $$nav.off()});
        </script>
        
        <div id="cartoon29" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1178862.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Черепашки-ниндзя: По</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem117886229 = document.getElementById("cartoon29")
            _elem117886229.addEventListener("click", function (event) {document.location.href = "/filmInfo117886229"; $$nav.off()});
        </script>
        
        <div id="cartoon30" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_50023.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Легенда о героях гал</p>
        <h1>(1988)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5002330 = document.getElementById("cartoon30")
            _elem5002330.addEventListener("click", function (event) {document.location.href = "/filmInfo5002330"; $$nav.off()});
        </script>
        
        <div id="cartoon31" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_95245.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Паутина Шарлотты 2: </p>
        <h1>(2002)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem9524531 = document.getElementById("cartoon31")
            _elem9524531.addEventListener("click", function (event) {document.location.href = "/filmInfo9524531"; $$nav.off()});
        </script>
        
        <div id="cartoon32" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_102715.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Тупой и еще тупее</p>
        <h1>(1995)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem10271532 = document.getElementById("cartoon32")
            _elem10271532.addEventListener("click", function (event) {document.location.href = "/filmInfo10271532"; $$nav.off()});
        </script>
        
        <div id="cartoon33" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_428856.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Легенда о Тарзане</p>
        <h1>(2001)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem42885633 = document.getElementById("cartoon33")
            _elem42885633.addEventListener("click", function (event) {document.location.href = "/filmInfo42885633"; $$nav.off()});
        </script>
        
        <div id="cartoon34" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_436311.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Энеида</p>
        <h1>(1991)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem43631134 = document.getElementById("cartoon34")
            _elem43631134.addEventListener("click", function (event) {document.location.href = "/filmInfo43631134"; $$nav.off()});
        </script>
        
        <div id="cartoon35" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_432727.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Робоцып: Звездные во</p>
        <h1>(2008)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem43272735 = document.getElementById("cartoon35")
            _elem43272735.addEventListener("click", function (event) {document.location.href = "/filmInfo43272735"; $$nav.off()});
        </script>
        
        <div id="cartoon36" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_904166.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Земля до начала врем</p>
        <h1>(2016)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem90416636 = document.getElementById("cartoon36")
            _elem90416636.addEventListener("click", function (event) {document.location.href = "/filmInfo90416636"; $$nav.off()});
        </script>
        
        <div id="cartoon37" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_52335.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Био-охотник</p>
        <h1>(1995)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5233537 = document.getElementById("cartoon37")
            _elem5233537.addEventListener("click", function (event) {document.location.href = "/filmInfo5233537"; $$nav.off()});
        </script>
        
        <div id="cartoon38" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_557802.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Робоцып: Звездные во</p>
        <h1>(2010)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem55780238 = document.getElementById("cartoon38")
            _elem55780238.addEventListener("click", function (event) {document.location.href = "/filmInfo55780238"; $$nav.off()});
        </script>
        
        <div id="cartoon39" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_311132.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Она и её кот</p>
        <h1>(1999)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem31113239 = document.getElementById("cartoon39")
            _elem31113239.addEventListener("click", function (event) {document.location.href = "/filmInfo31113239"; $$nav.off()});
        </script>
        
        <div id="cartoon40" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_84673.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Покемон: Дзирати – и</p>
        <h1>(2003)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem8467340 = document.getElementById("cartoon40")
            _elem8467340.addEventListener("click", function (event) {document.location.href = "/filmInfo8467340"; $$nav.off()});
        </script>
        
        <div id="cartoon41" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1042099.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Ракета и Грут</p>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem104209941 = document.getElementById("cartoon41")
            _elem104209941.addEventListener("click", function (event) {document.location.href = "/filmInfo104209941"; $$nav.off()});
        </script>
        
        <div id="cartoon42" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_872310.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Заклятие фараона</p>
        <h1>(2014)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem87231042 = document.getElementById("cartoon42")
            _elem87231042.addEventListener("click", function (event) {document.location.href = "/filmInfo87231042"; $$nav.off()});
        </script>
        
        <div id="cartoon43" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1210459.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Путешествие принца</p>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121045943 = document.getElementById("cartoon43")
            _elem121045943.addEventListener("click", function (event) {document.location.href = "/filmInfo121045943"; $$nav.off()});
        </script>
        
        <div id="cartoon44" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_469221.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Дигимон: Дети играют</p>
        <h1>(2000)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46922144 = document.getElementById("cartoon44")
            _elem46922144.addEventListener("click", function (event) {document.location.href = "/filmInfo46922144"; $$nav.off()});
        </script>
        
        <div id="cartoon45" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_481456.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Сэнкоролл</p>
        <h1>(2009)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem48145645 = document.getElementById("cartoon45")
            _elem48145645.addEventListener("click", function (event) {document.location.href = "/filmInfo48145645"; $$nav.off()});
        </script>
        
        <div id="cartoon46" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1436441.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Мобильный воин Ганда</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem143644146 = document.getElementById("cartoon46")
            _elem143644146.addEventListener("click", function (event) {document.location.href = "/filmInfo143644146"; $$nav.off()});
        </script>
        
        <div id="cartoon47" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_268490.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Насу: Лето в Андалус</p>
        <h1>(2003)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem26849047 = document.getElementById("cartoon47")
            _elem26849047.addEventListener("click", function (event) {document.location.href = "/filmInfo26849047"; $$nav.off()});
        </script>
        
        <div id="cartoon48" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1273541.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Принцесса драконов</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem127354148 = document.getElementById("cartoon48")
            _elem127354148.addEventListener("click", function (event) {document.location.href = "/filmInfo127354148"; $$nav.off()});
        </script>
        
        <div id="cartoon49" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_70942.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Большое кино Клиффор</p>
        <h1>(2004)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem7094249 = document.getElementById("cartoon49")
            _elem7094249.addEventListener("click", function (event) {document.location.href = "/filmInfo7094249"; $$nav.off()});
        </script>
        