<div id="cartoon0" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Обитель зла: Остров смерти</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="cartoon1" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1115077.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Вкусы молодости</h1>
            <h1>2018 Фильм</h1>
            </div>
        </div>
        <div id="cartoon2" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_671367.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Далеко на Север</h1>
            <h1>2015 Фильм</h1>
            </div>
        </div>
        <div id="cartoon3" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1014472.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Гдлин</h1>
            <h1>1990 Фильм</h1>
            </div>
        </div>
        <div id="cartoon4" style="background: url('https://st.kp.yandex.net/images/film/8234.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Люпен III: Замок Калиостро</h1>
            <h1>1979 Фильм</h1>
            </div>
        </div>
        <div id="cartoon5" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1363320.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Дорохэдоро: Дьявольский бонус</h1>
            <h1>2020 Фильм</h1>
            </div>
        </div>
        <div id="cartoon6" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1847.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Мой маленький пони</h1>
            <h1>1986 Фильм</h1>
            </div>
        </div>
        <div id="cartoon7" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_733375.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Железный Человек: Восстание Техновора</h1>
            <h1>2013 Фильм</h1>
            </div>
        </div>
        <div id="cartoon8" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5268477.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Руби Гиллман</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="cartoon9" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_29577.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Секрет Н.И.М.Х.</h1>
            <h1>1982 Фильм</h1>
            </div>
        </div>
        <div id="cartoon10" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_606675.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Лига справедливости: Гибель</h1>
            <h1>2012 Фильм</h1>
            </div>
        </div>
        <div id="cartoon11" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4769135.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Судзумэ закрывает двери</h1>
            <h1>2022 Фильм</h1>
            </div>
        </div>
        <div id="cartoon12" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_266893.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Затерянный мир огненных драконов</h1>
            <h1>2006 Фильм</h1>
            </div>
        </div>
        <div id="cartoon13" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264991.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Маша и Медведь в кино: Скажите «Ой!»</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="cartoon14" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5106017.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Три разбойника и лев</h1>
            <h1>2022 Фильм</h1>
            </div>
        </div>
        <div id="cartoon15" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5024925.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Зверогонщики</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="cartoon16" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1210742.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Мармадюк</h1>
            <h1>2022 Фильм</h1>
            </div>
        </div>
        <div id="cartoon17" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5041147.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Герои волшебного леса</h1>
            <h1>2022 Фильм</h1>
            </div>
        </div>
        <div id="cartoon18" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_716048.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Тёмная лига справедливости</h1>
            <h1>2017 Фильм</h1>
            </div>
        </div>
        <div id="cartoon19" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118031.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Эрнест и Селестина: Новые приключения</h1>
            <h1>2022 Фильм</h1>
            </div>
        </div>
        <div id="cartoon20" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5215684.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Медведи-соседи: Код хранителей</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="cartoon21" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_676277.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Паучонок</h1>
            <h1>2012 Фильм</h1>
            </div>
        </div>
        <div id="cartoon22" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1395369.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Леди Баг и Супер-Кот: Пробуждение силы</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="cartoon23" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5259941.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Ангел маленькой принцессы</h1>
            <h1>2022 Фильм</h1>
            </div>
        </div>
        <div id="cartoon24" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5278422.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Турбозавры. Привет, Сирена!</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="cartoon25" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4769135.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Судзумэ закрывает двери</h1>
            <h1>2022 Фильм</h1>
            </div>
        </div>
        <div id="cartoon26" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5270474.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Люпен III против Кошачьего глаза</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="cartoon27" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_377640.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Очень мрачное кино</h1>
            <h1>2007 Фильм</h1>
            </div>
        </div>
        <div id="cartoon28" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4699907.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Квартет Исэкай. Фильм</h1>
            <h1>2022 Фильм</h1>
            </div>
        </div>
        <div id="cartoon29" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_933839.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Мавка. Лесная песня</h1>
            <h1>2022 Фильм</h1>
            </div>
        </div>
        <div id="cartoon30" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1111005.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Братья Супер Марио в кино</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="cartoon31" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4948091.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Нимона</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="cartoon32" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4948091.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Нимона</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="cartoon33" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1233418.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Глубокое море</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="cartoon34" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5025923.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Запрещено собакам и итальянцам</h1>
            <h1>2022 Фильм</h1>
            </div>
        </div>
        <div id="cartoon35" style="background: url('https://bazon.cc/download/poster/5238227.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Бэтмен: Гибель, пришедшая в Готэм</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="cartoon36" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5076516.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Легенды «Смертельной битвы»: Снежная слепота</h1>
            <h1>2022 Фильм</h1>
            </div>
        </div>
        <div id="cartoon37" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_80134.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Предвестники бури, вперед!</h1>
            <h1>1966 Фильм</h1>
            </div>
        </div>
        <div id="cartoon38" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_344415.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Ты лучший, Чарли Браун</h1>
            <h1>1979 Фильм</h1>
            </div>
        </div>
        <div id="cartoon39" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1007469.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Пришельцы в доме</h1>
            <h1>2018 Фильм</h1>
            </div>
        </div>
        <div id="cartoon40" style="background: url('https://bazon.cc/download/poster/5267820.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Эмезис синего цвета</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="cartoon41" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5126555.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Чёрный клевер: Меч короля магов</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="cartoon42" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_85038.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Каспер: Начало</h1>
            <h1>1997 Фильм</h1>
            </div>
        </div>
        <div id="cartoon43" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_85038.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Каспер: Начало</h1>
            <h1>1997 Фильм</h1>
            </div>
        </div>
        <div id="cartoon44" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1283709.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Нэчжа</h1>
            <h1>2019 Фильм</h1>
            </div>
        </div>
        <div id="cartoon45" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4423227.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Бэтмен: Долгий Хэллоуин. Часть 2</h1>
            <h1>2021 Фильм</h1>
            </div>
        </div>
        <div id="cartoon46" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5212149.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Мумиёшки</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="cartoon47" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_461714.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Мурзилка на спутнике</h1>
            <h1>1960 Фильм</h1>
            </div>
        </div>
        <div id="cartoon48" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4889667.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Элементарно</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="cartoon49" style="background: url('https://st.kp.yandex.net/images/film/960401.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item cartoonsItem nav-item" data-nav_ud="#channelBtn,0,#serial0,0">
            <div class="filmText text">
            <h1>Дворянство: Пробуждение</h1>
            <h1>2016 Фильм</h1>
            </div>
        </div>
        