
        <div id="cartoon0" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_788173.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Сестрёнка-моделистка</p>
        <h1>(2011)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem7881730 = document.getElementById("cartoon0")
            _elem7881730.addEventListener("click", function (event) {document.location.href = "/filmInfo7881730"; $$nav.off()});
        </script>
        
        <div id="cartoon1" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_722918.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Рыжеволосая Энн: Дор</p>
        <h1>(2010)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem7229181 = document.getElementById("cartoon1")
            _elem7229181.addEventListener("click", function (event) {document.location.href = "/filmInfo7229181"; $$nav.off()});
        </script>
        
        <div id="cartoon2" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5322924.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Агент Джи-Джи Бонд: </p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53229242 = document.getElementById("cartoon2")
            _elem53229242.addEventListener("click", function (event) {document.location.href = "/filmInfo53229242"; $$nav.off()});
        </script>
        
        <div id="cartoon3" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_434644.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Ангелы из ада</p>
        <h1>(2008)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem4346443 = document.getElementById("cartoon3")
            _elem4346443.addEventListener("click", function (event) {document.location.href = "/filmInfo4346443"; $$nav.off()});
        </script>
        
        <div id="cartoon4" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_940877.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Где дракон?</p>
        <h1>(2015)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem9408774 = document.getElementById("cartoon4")
            _elem9408774.addEventListener("click", function (event) {document.location.href = "/filmInfo9408774"; $$nav.off()});
        </script>
        
        <div id="cartoon5" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4708940.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Щенячий патруль: Мег</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47089405 = document.getElementById("cartoon5")
            _elem47089405.addEventListener("click", function (event) {document.location.href = "/filmInfo47089405"; $$nav.off()});
        </script>
        
        <div id="cartoon6" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_592142.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>В тридесятом веке</p>
        <h1>(1972)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5921426 = document.getElementById("cartoon6")
            _elem5921426.addEventListener("click", function (event) {document.location.href = "/filmInfo5921426"; $$nav.off()});
        </script>
        
        <div id="cartoon7" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5398802.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Южный Парк: Воссоеди</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53988027 = document.getElementById("cartoon7")
            _elem53988027.addEventListener("click", function (event) {document.location.href = "/filmInfo53988027"; $$nav.off()});
        </script>
        
        <div id="cartoon8" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_871504.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Томас и его друзья: </p>
        <h1>(2015)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem8715048 = document.getElementById("cartoon8")
            _elem8715048.addEventListener("click", function (event) {document.location.href = "/filmInfo8715048"; $$nav.off()});
        </script>
        
        <div id="cartoon9" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_109013.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Разделение</p>
        <h1>(2003)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem1090139 = document.getElementById("cartoon9")
            _elem1090139.addEventListener("click", function (event) {document.location.href = "/filmInfo1090139"; $$nav.off()});
        </script>
        
        <div id="cartoon10" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_496746.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Параноидальный</p>
        <h1>(1994)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49674610 = document.getElementById("cartoon10")
            _elem49674610.addEventListener("click", function (event) {document.location.href = "/filmInfo49674610"; $$nav.off()});
        </script>
        
        <div id="cartoon11" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_109021.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Человек в нижнем лев</p>
        <h1>(1997)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem10902111 = document.getElementById("cartoon11")
            _elem10902111.addEventListener("click", function (event) {document.location.href = "/filmInfo10902111"; $$nav.off()});
        </script>
        
        <div id="cartoon12" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_109015.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Кот с человеческими </p>
        <h1>(2001)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem10901512 = document.getElementById("cartoon12")
            _elem10901512.addEventListener("click", function (event) {document.location.href = "/filmInfo10901512"; $$nav.off()});
        </script>
        
        <div id="cartoon13" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5268477.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Руби Гильман: Приклю</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526847713 = document.getElementById("cartoon13")
            _elem526847713.addEventListener("click", function (event) {document.location.href = "/filmInfo526847713"; $$nav.off()});
        </script>
        
        <div id="cartoon14" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5364439.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>LEGO Мстители Марвел</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536443914 = document.getElementById("cartoon14")
            _elem536443914.addEventListener("click", function (event) {document.location.href = "/filmInfo536443914"; $$nav.off()});
        </script>
        
        <div id="cartoon15" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_419586.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Приключения мышонка </p>
        <h1>(2008)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem41958615 = document.getElementById("cartoon15")
            _elem41958615.addEventListener("click", function (event) {document.location.href = "/filmInfo41958615"; $$nav.off()});
        </script>
        
        <div id="cartoon16" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_532836.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Кошачья жизнь</p>
        <h1>(2010)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53283616 = document.getElementById("cartoon16")
            _elem53283616.addEventListener("click", function (event) {document.location.href = "/filmInfo53283616"; $$nav.off()});
        </script>
        
        <div id="cartoon17" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_79574.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Каспер: Рождество пр</p>
        <h1>(2000)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem7957417 = document.getElementById("cartoon17")
            _elem7957417.addEventListener("click", function (event) {document.location.href = "/filmInfo7957417"; $$nav.off()});
        </script>
        
        <div id="cartoon18" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_503873.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Марко Макако</p>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50387318 = document.getElementById("cartoon18")
            _elem50387318.addEventListener("click", function (event) {document.location.href = "/filmInfo50387318"; $$nav.off()});
        </script>
        
        <div id="cartoon19" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_433311.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Диномама 3D</p>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem43331119 = document.getElementById("cartoon19")
            _elem43331119.addEventListener("click", function (event) {document.location.href = "/filmInfo43331119"; $$nav.off()});
        </script>
        
        <div id="cartoon20" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1012427.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Руслан и Людмила: Пе</p>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem101242720 = document.getElementById("cartoon20")
            _elem101242720.addEventListener("click", function (event) {document.location.href = "/filmInfo101242720"; $$nav.off()});
        </script>
        
        <div id="cartoon21" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_732013.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Железяки</p>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem73201321 = document.getElementById("cartoon21")
            _elem73201321.addEventListener("click", function (event) {document.location.href = "/filmInfo73201321"; $$nav.off()});
        </script>
        
        <div id="cartoon22" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4769135.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Судзумэ закрывает дв</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem476913522 = document.getElementById("cartoon22")
            _elem476913522.addEventListener("click", function (event) {document.location.href = "/filmInfo476913522"; $$nav.off()});
        </script>
        
        <div id="cartoon23" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4769135.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Судзумэ закрывает дв</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem476913523 = document.getElementById("cartoon23")
            _elem476913523.addEventListener("click", function (event) {document.location.href = "/filmInfo476913523"; $$nav.off()});
        </script>
        
        <div id="cartoon24" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5379765.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Однажды в студии</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem537976524 = document.getElementById("cartoon24")
            _elem537976524.addEventListener("click", function (event) {document.location.href = "/filmInfo537976524"; $$nav.off()});
        </script>
        
        <div id="cartoon25" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5368136.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Лига справедливости </p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536813625 = document.getElementById("cartoon25")
            _elem536813625.addEventListener("click", function (event) {document.location.href = "/filmInfo536813625"; $$nav.off()});
        </script>
        
        <div id="cartoon26" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1114960.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Хрустальное небо вче</p>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem111496026 = document.getElementById("cartoon26")
            _elem111496026.addEventListener("click", function (event) {document.location.href = "/filmInfo111496026"; $$nav.off()});
        </script>
        
        <div id="cartoon27" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5055762.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Одинокий замок в Заз</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem505576227 = document.getElementById("cartoon27")
            _elem505576227.addEventListener("click", function (event) {document.location.href = "/filmInfo505576227"; $$nav.off()});
        </script>
        
        <div id="cartoon28" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1178862.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Черепашки-ниндзя: По</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem117886228 = document.getElementById("cartoon28")
            _elem117886228.addEventListener("click", function (event) {document.location.href = "/filmInfo117886228"; $$nav.off()});
        </script>
        
        <div id="cartoon29" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_50023.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Легенда о героях гал</p>
        <h1>(1988)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5002329 = document.getElementById("cartoon29")
            _elem5002329.addEventListener("click", function (event) {document.location.href = "/filmInfo5002329"; $$nav.off()});
        </script>
        
        <div id="cartoon30" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_95245.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Паутина Шарлотты 2: </p>
        <h1>(2002)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem9524530 = document.getElementById("cartoon30")
            _elem9524530.addEventListener("click", function (event) {document.location.href = "/filmInfo9524530"; $$nav.off()});
        </script>
        
        <div id="cartoon31" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_102715.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Тупой и еще тупее</p>
        <h1>(1995)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem10271531 = document.getElementById("cartoon31")
            _elem10271531.addEventListener("click", function (event) {document.location.href = "/filmInfo10271531"; $$nav.off()});
        </script>
        
        <div id="cartoon32" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_428856.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Легенда о Тарзане</p>
        <h1>(2001)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem42885632 = document.getElementById("cartoon32")
            _elem42885632.addEventListener("click", function (event) {document.location.href = "/filmInfo42885632"; $$nav.off()});
        </script>
        
        <div id="cartoon33" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_436311.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Энеида</p>
        <h1>(1991)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem43631133 = document.getElementById("cartoon33")
            _elem43631133.addEventListener("click", function (event) {document.location.href = "/filmInfo43631133"; $$nav.off()});
        </script>
        
        <div id="cartoon34" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_432727.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Робоцып: Звездные во</p>
        <h1>(2008)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem43272734 = document.getElementById("cartoon34")
            _elem43272734.addEventListener("click", function (event) {document.location.href = "/filmInfo43272734"; $$nav.off()});
        </script>
        
        <div id="cartoon35" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_904166.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Земля до начала врем</p>
        <h1>(2016)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem90416635 = document.getElementById("cartoon35")
            _elem90416635.addEventListener("click", function (event) {document.location.href = "/filmInfo90416635"; $$nav.off()});
        </script>
        
        <div id="cartoon36" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_52335.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Био-охотник</p>
        <h1>(1995)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5233536 = document.getElementById("cartoon36")
            _elem5233536.addEventListener("click", function (event) {document.location.href = "/filmInfo5233536"; $$nav.off()});
        </script>
        
        <div id="cartoon37" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_557802.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Робоцып: Звездные во</p>
        <h1>(2010)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem55780237 = document.getElementById("cartoon37")
            _elem55780237.addEventListener("click", function (event) {document.location.href = "/filmInfo55780237"; $$nav.off()});
        </script>
        
        <div id="cartoon38" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_311132.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Она и её кот</p>
        <h1>(1999)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem31113238 = document.getElementById("cartoon38")
            _elem31113238.addEventListener("click", function (event) {document.location.href = "/filmInfo31113238"; $$nav.off()});
        </script>
        
        <div id="cartoon39" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_84673.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Покемон: Дзирати – и</p>
        <h1>(2003)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem8467339 = document.getElementById("cartoon39")
            _elem8467339.addEventListener("click", function (event) {document.location.href = "/filmInfo8467339"; $$nav.off()});
        </script>
        
        <div id="cartoon40" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1042099.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Ракета и Грут</p>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem104209940 = document.getElementById("cartoon40")
            _elem104209940.addEventListener("click", function (event) {document.location.href = "/filmInfo104209940"; $$nav.off()});
        </script>
        
        <div id="cartoon41" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_872310.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Заклятие фараона</p>
        <h1>(2014)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem87231041 = document.getElementById("cartoon41")
            _elem87231041.addEventListener("click", function (event) {document.location.href = "/filmInfo87231041"; $$nav.off()});
        </script>
        
        <div id="cartoon42" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1210459.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Путешествие принца</p>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121045942 = document.getElementById("cartoon42")
            _elem121045942.addEventListener("click", function (event) {document.location.href = "/filmInfo121045942"; $$nav.off()});
        </script>
        
        <div id="cartoon43" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_469221.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Дигимон: Дети играют</p>
        <h1>(2000)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46922143 = document.getElementById("cartoon43")
            _elem46922143.addEventListener("click", function (event) {document.location.href = "/filmInfo46922143"; $$nav.off()});
        </script>
        
        <div id="cartoon44" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_481456.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Сэнкоролл</p>
        <h1>(2009)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem48145644 = document.getElementById("cartoon44")
            _elem48145644.addEventListener("click", function (event) {document.location.href = "/filmInfo48145644"; $$nav.off()});
        </script>
        
        <div id="cartoon45" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1436441.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Мобильный воин Ганда</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem143644145 = document.getElementById("cartoon45")
            _elem143644145.addEventListener("click", function (event) {document.location.href = "/filmInfo143644145"; $$nav.off()});
        </script>
        
        <div id="cartoon46" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_268490.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Насу: Лето в Андалус</p>
        <h1>(2003)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem26849046 = document.getElementById("cartoon46")
            _elem26849046.addEventListener("click", function (event) {document.location.href = "/filmInfo26849046"; $$nav.off()});
        </script>
        
        <div id="cartoon47" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1273541.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Принцесса драконов</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem127354147 = document.getElementById("cartoon47")
            _elem127354147.addEventListener("click", function (event) {document.location.href = "/filmInfo127354147"; $$nav.off()});
        </script>
        
        <div id="cartoon48" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_70942.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Большое кино Клиффор</p>
        <h1>(2004)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem7094248 = document.getElementById("cartoon48")
            _elem7094248.addEventListener("click", function (event) {document.location.href = "/filmInfo7094248"; $$nav.off()});
        </script>
        
        <div id="cartoon49" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_312263.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Робоцып: Звездные во</p>
        <h1>(2007)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem31226349 = document.getElementById("cartoon49")
            _elem31226349.addEventListener("click", function (event) {document.location.href = "/filmInfo31226349"; $$nav.off()});
        </script>
        