
        <div id="cartoonserial0" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5258557.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Монолог фармацевта</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52585570 = document.getElementById("cartoonserial0")
            _elem52585570.addEventListener("click", function (event) {document.location.href = "/filmInfo52585570"; $$nav.off()});
        </script>
        
        <div id="cartoonserial1" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4982929.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Звездные войны: Прик</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49829291 = document.getElementById("cartoonserial1")
            _elem49829291.addEventListener("click", function (event) {document.location.href = "/filmInfo49829291"; $$nav.off()});
        </script>
        
        <div id="cartoonserial2" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4629228.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Крапополис</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46292282 = document.getElementById("cartoonserial2")
            _elem46292282.addEventListener("click", function (event) {document.location.href = "/filmInfo46292282"; $$nav.off()});
        </script>
        
        <div id="cartoonserial3" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4540127.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Время приключений: Ф</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem45401273 = document.getElementById("cartoonserial3")
            _elem45401273.addEventListener("click", function (event) {document.location.href = "/filmInfo45401273"; $$nav.off()});
        </script>
        
        <div id="cartoonserial4" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118210.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Бродяга Кэнсин</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51182104 = document.getElementById("cartoonserial4")
            _elem51182104.addEventListener("click", function (event) {document.location.href = "/filmInfo51182104"; $$nav.off()});
        </script>
        
        <div id="cartoonserial5" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5235921.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Нежити не повезло</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52359215 = document.getElementById("cartoonserial5")
            _elem52359215.addEventListener("click", function (event) {document.location.href = "/filmInfo52359215"; $$nav.off()});
        </script>
        
        <div id="cartoonserial6" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4985726.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Дьяволёнок</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49857266 = document.getElementById("cartoonserial6")
            _elem49857266.addEventListener("click", function (event) {document.location.href = "/filmInfo49857266"; $$nav.off()});
        </script>
        
        <div id="cartoonserial7" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5002282.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Царство падальщиков</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50022827 = document.getElementById("cartoonserial7")
            _elem50022827.addEventListener("click", function (event) {document.location.href = "/filmInfo50022827"; $$nav.off()});
        </script>
        
        <div id="cartoonserial8" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4629228.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Крапополис</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46292288 = document.getElementById("cartoonserial8")
            _elem46292288.addEventListener("click", function (event) {document.location.href = "/filmInfo46292288"; $$nav.off()});
        </script>
        
        <div id="cartoonserial9" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5297222.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Причина полюбить её</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52972229 = document.getElementById("cartoonserial9")
            _elem52972229.addEventListener("click", function (event) {document.location.href = "/filmInfo52972229"; $$nav.off()});
        </script>
        
        <div id="cartoonserial10" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5401195.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Провожающая в послед</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540119510 = document.getElementById("cartoonserial10")
            _elem540119510.addEventListener("click", function (event) {document.location.href = "/filmInfo540119510"; $$nav.off()});
        </script>
        
        <div id="cartoonserial11" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5401195.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Провожающая в послед</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540119511 = document.getElementById("cartoonserial11")
            _elem540119511.addEventListener("click", function (event) {document.location.href = "/filmInfo540119511"; $$nav.off()});
        </script>
        
        <div id="cartoonserial12" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4992678.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Голубоглазый самурай</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem499267812 = document.getElementById("cartoonserial12")
            _elem499267812.addEventListener("click", function (event) {document.location.href = "/filmInfo499267812"; $$nav.off()});
        </script>
        
        <div id="cartoonserial13" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118207.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Онимуся</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511820713 = document.getElementById("cartoonserial13")
            _elem511820713.addEventListener("click", function (event) {document.location.href = "/filmInfo511820713"; $$nav.off()});
        </script>
        
        <div id="cartoonserial14" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4918926.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Объяснялкины</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem491892614 = document.getElementById("cartoonserial14")
            _elem491892614.addEventListener("click", function (event) {document.location.href = "/filmInfo491892614"; $$nav.off()});
        </script>
        
        <div id="cartoonserial15" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5374641.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Тёмное собрание</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem537464115 = document.getElementById("cartoonserial15")
            _elem537464115.addEventListener("click", function (event) {document.location.href = "/filmInfo537464115"; $$nav.off()});
        </script>
        
        <div id="cartoonserial16" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4475347.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Капитан Лазерхоук</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem447534716 = document.getElementById("cartoonserial16")
            _elem447534716.addEventListener("click", function (event) {document.location.href = "/filmInfo447534716"; $$nav.off()});
        </script>
        
        <div id="cartoonserial17" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4746073.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Хейли в деле!</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474607317 = document.getElementById("cartoonserial17")
            _elem474607317.addEventListener("click", function (event) {document.location.href = "/filmInfo474607317"; $$nav.off()});
        </script>
        
        <div id="cartoonserial18" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5378487.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Спокойной ночи, мир</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem537848718 = document.getElementById("cartoonserial18")
            _elem537848718.addEventListener("click", function (event) {document.location.href = "/filmInfo537848718"; $$nav.off()});
        </script>
        
        <div id="cartoonserial19" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5147334.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Реинкарнация сильней</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem514733419 = document.getElementById("cartoonserial19")
            _elem514733419.addEventListener("click", function (event) {document.location.href = "/filmInfo514733419"; $$nav.off()});
        </script>
        
        <div id="cartoonserial20" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5134622.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Великая небесная сте</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem513462220 = document.getElementById("cartoonserial20")
            _elem513462220.addEventListener("click", function (event) {document.location.href = "/filmInfo513462220"; $$nav.off()});
        </script>
        
        <div id="cartoonserial21" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5229330.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Мой братик теперь не</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem522933021 = document.getElementById("cartoonserial21")
            _elem522933021.addEventListener("click", function (event) {document.location.href = "/filmInfo522933021"; $$nav.off()});
        </script>
        
        <div id="cartoonserial22" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5297246.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Слабейший монстр</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem529724622 = document.getElementById("cartoonserial22")
            _elem529724622.addEventListener("click", function (event) {document.location.href = "/filmInfo529724622"; $$nav.off()});
        </script>
        
        <div id="cartoonserial23" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4475347.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Капитан Лазерхоук</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem447534723 = document.getElementById("cartoonserial23")
            _elem447534723.addEventListener("click", function (event) {document.location.href = "/filmInfo447534723"; $$nav.off()});
        </script>
        
        <div id="cartoonserial24" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5318596.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ниндзяго: Восстание </p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem531859624 = document.getElementById("cartoonserial24")
            _elem531859624.addEventListener("click", function (event) {document.location.href = "/filmInfo531859624"; $$nav.off()});
        </script>
        
        <div id="cartoonserial25" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5318596.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ниндзяго: Восстание </p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem531859625 = document.getElementById("cartoonserial25")
            _elem531859625.addEventListener("click", function (event) {document.location.href = "/filmInfo531859625"; $$nav.off()});
        </script>
        
        <div id="cartoonserial26" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5308066.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Невеста герцога по к</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530806626 = document.getElementById("cartoonserial26")
            _elem530806626.addEventListener("click", function (event) {document.location.href = "/filmInfo530806626"; $$nav.off()});
        </script>
        
        <div id="cartoonserial27" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5216645.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Королева, ставшая пр</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem521664527 = document.getElementById("cartoonserial27")
            _elem521664527.addEventListener("click", function (event) {document.location.href = "/filmInfo521664527"; $$nav.off()});
        </script>
        
        <div id="cartoonserial28" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5352918.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Невообразимые приклю</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535291828 = document.getElementById("cartoonserial28")
            _elem535291828.addEventListener("click", function (event) {document.location.href = "/filmInfo535291828"; $$nav.off()});
        </script>
        
        <div id="cartoonserial29" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5365205.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Хоримия: Фрагменты</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536520529 = document.getElementById("cartoonserial29")
            _elem536520529.addEventListener("click", function (event) {document.location.href = "/filmInfo536520529"; $$nav.off()});
        </script>
        
        <div id="cartoonserial30" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5235921.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Нежити не повезло</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523592130 = document.getElementById("cartoonserial30")
            _elem523592130.addEventListener("click", function (event) {document.location.href = "/filmInfo523592130"; $$nav.off()});
        </script>
        
        <div id="cartoonserial31" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5121100.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ниер: Автомата - Вер</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem512110031 = document.getElementById("cartoonserial31")
            _elem512110031.addEventListener("click", function (event) {document.location.href = "/filmInfo512110031"; $$nav.off()});
        </script>
        
        <div id="cartoonserial32" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4490413.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Кастлвания: Ноктюрн</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem449041332 = document.getElementById("cartoonserial32")
            _elem449041332.addEventListener("click", function (event) {document.location.href = "/filmInfo449041332"; $$nav.off()});
        </script>
        
        <div id="cartoonserial33" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4540127.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Время приключений: Ф</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem454012733 = document.getElementById("cartoonserial33")
            _elem454012733.addEventListener("click", function (event) {document.location.href = "/filmInfo454012733"; $$nav.off()});
        </script>
        
        <div id="cartoonserial34" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5378484.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Команда Страха</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem537848434 = document.getElementById("cartoonserial34")
            _elem537848434.addEventListener("click", function (event) {document.location.href = "/filmInfo537848434"; $$nav.off()});
        </script>
        
        <div id="cartoonserial35" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5046827.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Шпионский класс</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem504682735 = document.getElementById("cartoonserial35")
            _elem504682735.addEventListener("click", function (event) {document.location.href = "/filmInfo504682735"; $$nav.off()});
        </script>
        
        <div id="cartoonserial36" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118833.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Однушка повелителя д</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511883336 = document.getElementById("cartoonserial36")
            _elem511883336.addEventListener("click", function (event) {document.location.href = "/filmInfo511883336"; $$nav.off()});
        </script>
        
        <div id="cartoonserial37" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5297125.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Она много лет не был</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem529712537 = document.getElementById("cartoonserial37")
            _elem529712537.addEventListener("click", function (event) {document.location.href = "/filmInfo529712537"; $$nav.off()});
        </script>
        
        <div id="cartoonserial38" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1445238.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Мультяшки: Луниверси</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem144523838 = document.getElementById("cartoonserial38")
            _elem144523838.addEventListener("click", function (event) {document.location.href = "/filmInfo144523838"; $$nav.off()});
        </script>
        
        <div id="cartoonserial39" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5260018.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Эндо и Кобаяси в пря</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526001839 = document.getElementById("cartoonserial39")
            _elem526001839.addEventListener("click", function (event) {document.location.href = "/filmInfo526001839"; $$nav.off()});
        </script>
        
        <div id="cartoonserial40" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5312510.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Этому миру меня не с</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem531251040 = document.getElementById("cartoonserial40")
            _elem531251040.addEventListener("click", function (event) {document.location.href = "/filmInfo531251040"; $$nav.off()});
        </script>
        
        <div id="cartoonserial41" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5055779.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Кайна в великом снеж</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem505577941 = document.getElementById("cartoonserial41")
            _elem505577941.addEventListener("click", function (event) {document.location.href = "/filmInfo505577941"; $$nav.off()});
        </script>
        
        <div id="cartoonserial42" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5354885.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Плохие девчонки Року</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535488542 = document.getElementById("cartoonserial42")
            _elem535488542.addEventListener("click", function (event) {document.location.href = "/filmInfo535488542"; $$nav.off()});
        </script>
        
        <div id="cartoonserial43" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5366050.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Принесённая в жертву</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536605043 = document.getElementById("cartoonserial43")
            _elem536605043.addEventListener("click", function (event) {document.location.href = "/filmInfo536605043"; $$nav.off()});
        </script>
        
        <div id="cartoonserial44" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5357696.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Кот-мастер на все ла</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535769644 = document.getElementById("cartoonserial44")
            _elem535769644.addEventListener("click", function (event) {document.location.href = "/filmInfo535769644"; $$nav.off()});
        </script>
        
        <div id="cartoonserial45" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5363192.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Непобедимый святой: </p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536319245 = document.getElementById("cartoonserial45")
            _elem536319245.addEventListener("click", function (event) {document.location.href = "/filmInfo536319245"; $$nav.off()});
        </script>
        
        <div id="cartoonserial46" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5357727.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Моя возлюбленная заб</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535772746 = document.getElementById("cartoonserial46")
            _elem535772746.addEventListener("click", function (event) {document.location.href = "/filmInfo535772746"; $$nav.off()});
        </script>
        
        <div id="cartoonserial47" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5357727.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Моя возлюбленная заб</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535772747 = document.getElementById("cartoonserial47")
            _elem535772747.addEventListener("click", function (event) {document.location.href = "/filmInfo535772747"; $$nav.off()});
        </script>
        
        <div id="cartoonserial48" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5277164.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Пустоголовый перевед</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem527716448 = document.getElementById("cartoonserial48")
            _elem527716448.addEventListener("click", function (event) {document.location.href = "/filmInfo527716448"; $$nav.off()});
        </script>
        
        <div id="cartoonserial49" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5141685.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Странная планета</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem514168549 = document.getElementById("cartoonserial49")
            _elem514168549.addEventListener("click", function (event) {document.location.href = "/filmInfo514168549"; $$nav.off()});
        </script>
        