
        <div id="cartoon0" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_35129.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Эскафлон</p>
        <h1>(2000)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem351290 = document.getElementById("cartoon0")
            _elem351290.addEventListener("click", function (event) {document.location.href = "/filmInfo351290"; $$nav.off()});
        </script>
        
        <div id="cartoon1" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1178862.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Черепашки-ниндзя: По</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem11788621 = document.getElementById("cartoon1")
            _elem11788621.addEventListener("click", function (event) {document.location.href = "/filmInfo11788621"; $$nav.off()});
        </script>
        
        <div id="cartoon2" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_841282.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Лига Справедливости:</p>
        <h1>(2015)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem8412822 = document.getElementById("cartoon2")
            _elem8412822.addEventListener("click", function (event) {document.location.href = "/filmInfo8412822"; $$nav.off()});
        </script>
        
        <div id="cartoon3" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5268477.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Руби Гильман: Приклю</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52684773 = document.getElementById("cartoon3")
            _elem52684773.addEventListener("click", function (event) {document.location.href = "/filmInfo52684773"; $$nav.off()});
        </script>
        
        <div id="cartoon4" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1008681.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Скрат: Разлучённый</p>
        <h1>(2016)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem10086814 = document.getElementById("cartoon4")
            _elem10086814.addEventListener("click", function (event) {document.location.href = "/filmInfo10086814"; $$nav.off()});
        </script>
        
        <div id="cartoon5" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4769135.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Судзумэ закрывает дв</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47691355 = document.getElementById("cartoon5")
            _elem47691355.addEventListener("click", function (event) {document.location.href = "/filmInfo47691355"; $$nav.off()});
        </script>
        
        <div id="cartoon6" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5024925.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Зверогонщики</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50249256 = document.getElementById("cartoon6")
            _elem50249256.addEventListener("click", function (event) {document.location.href = "/filmInfo50249256"; $$nav.off()});
        </script>
        
        <div id="cartoon7" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_79582.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Хроники Риддика: Тем</p>
        <h1>(2004)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem795827 = document.getElementById("cartoon7")
            _elem795827.addEventListener("click", function (event) {document.location.href = "/filmInfo795827"; $$nav.off()});
        </script>
        
        <div id="cartoon8" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5106017.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Три разбойника и лев</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51060178 = document.getElementById("cartoon8")
            _elem51060178.addEventListener("click", function (event) {document.location.href = "/filmInfo51060178"; $$nav.off()});
        </script>
        
        <div id="cartoon9" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1395369.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Леди Баг и Супер-Кот</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13953699 = document.getElementById("cartoon9")
            _elem13953699.addEventListener("click", function (event) {document.location.href = "/filmInfo13953699"; $$nav.off()});
        </script>
        
        <div id="cartoon10" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4511922.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Мастера меча онлайн:</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem451192210 = document.getElementById("cartoon10")
            _elem451192210.addEventListener("click", function (event) {document.location.href = "/filmInfo451192210"; $$nav.off()});
        </script>
        
        <div id="cartoon11" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5356063.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Руслан и Людмила. Бо</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535606311 = document.getElementById("cartoon11")
            _elem535606311.addEventListener("click", function (event) {document.location.href = "/filmInfo535606311"; $$nav.off()});
        </script>
        
        <div id="cartoon12" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_467649.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Тайный мир Анны</p>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46764912 = document.getElementById("cartoon12")
            _elem46764912.addEventListener("click", function (event) {document.location.href = "/filmInfo46764912"; $$nav.off()});
        </script>
        
        <div id="cartoon13" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_278204.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Пришельцы на чердаке</p>
        <h1>(2009)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem27820413 = document.getElementById("cartoon13")
            _elem27820413.addEventListener("click", function (event) {document.location.href = "/filmInfo27820413"; $$nav.off()});
        </script>
        
        <div id="cartoon14" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5356271.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Царь обезьян</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535627114 = document.getElementById("cartoon14")
            _elem535627114.addEventListener("click", function (event) {document.location.href = "/filmInfo535627114"; $$nav.off()});
        </script>
        
        <div id="cartoon15" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_295913.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Как я провел свои ка</p>
        <h1>(1992)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem29591315 = document.getElementById("cartoon15")
            _elem29591315.addEventListener("click", function (event) {document.location.href = "/filmInfo29591315"; $$nav.off()});
        </script>
        
        <div id="cartoon16" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4448777.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Металлопокалипсис: А</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem444877716 = document.getElementById("cartoon16")
            _elem444877716.addEventListener("click", function (event) {document.location.href = "/filmInfo444877716"; $$nav.off()});
        </script>
        
        <div id="cartoon17" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_655515.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Волчьи дети Амэ и Юк</p>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem65551517 = document.getElementById("cartoon17")
            _elem65551517.addEventListener("click", function (event) {document.location.href = "/filmInfo65551517"; $$nav.off()});
        </script>
        
        <div id="cartoon18" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1186008.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Белое пластиковое не</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem118600818 = document.getElementById("cartoon18")
            _elem118600818.addEventListener("click", function (event) {document.location.href = "/filmInfo118600818"; $$nav.off()});
        </script>
        
        <div id="cartoon19" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5121120.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Судьба/странная подд</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem512112019 = document.getElementById("cartoon19")
            _elem512112019.addEventListener("click", function (event) {document.location.href = "/filmInfo512112019"; $$nav.off()});
        </script>
        
        <div id="cartoon20" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5121120.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Судьба/странная подд</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem512112020 = document.getElementById("cartoon20")
            _elem512112020.addEventListener("click", function (event) {document.location.href = "/filmInfo512112020"; $$nav.off()});
        </script>
        
        <div id="cartoon21" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5356271.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Царь обезьян</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535627121 = document.getElementById("cartoon21")
            _elem535627121.addEventListener("click", function (event) {document.location.href = "/filmInfo535627121"; $$nav.off()});
        </script>
        
        <div id="cartoon22" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1272362.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Наша семидневная вой</p>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem127236222 = document.getElementById("cartoon22")
            _elem127236222.addEventListener("click", function (event) {document.location.href = "/filmInfo127236222"; $$nav.off()});
        </script>
        
        <div id="cartoon23" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1130325.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Судьба: Ночь схватки</p>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem113032523 = document.getElementById("cartoon23")
            _elem113032523.addEventListener("click", function (event) {document.location.href = "/filmInfo113032523"; $$nav.off()});
        </script>
        
        <div id="cartoon24" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264358.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Мишки-обнимашки. Фил</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526435824 = document.getElementById("cartoon24")
            _elem526435824.addEventListener("click", function (event) {document.location.href = "/filmInfo526435824"; $$nav.off()});
        </script>
        
        <div id="cartoon25" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_906765.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Тайфун Норуда</p>
        <h1>(2015)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem90676525 = document.getElementById("cartoon25")
            _elem90676525.addEventListener("click", function (event) {document.location.href = "/filmInfo90676525"; $$nav.off()});
        </script>
        
        <div id="cartoon26" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_724284.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Как слониха упала с </p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem72428426 = document.getElementById("cartoon26")
            _elem72428426.addEventListener("click", function (event) {document.location.href = "/filmInfo72428426"; $$nav.off()});
        </script>
        
        <div id="cartoon27" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_895880.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Судьба: Ночь схватки</p>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem89588027 = document.getElementById("cartoon27")
            _elem89588027.addEventListener("click", function (event) {document.location.href = "/filmInfo89588027"; $$nav.off()});
        </script>
        
        <div id="cartoon28" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1120083.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Судьба: Ночь схватки</p>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem112008328 = document.getElementById("cartoon28")
            _elem112008328.addEventListener("click", function (event) {document.location.href = "/filmInfo112008328"; $$nav.off()});
        </script>
        
        <div id="cartoon29" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5307600.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Вавилон 5: Дорога до</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530760029 = document.getElementById("cartoon29")
            _elem530760029.addEventListener("click", function (event) {document.location.href = "/filmInfo530760029"; $$nav.off()});
        </script>
        
        <div id="cartoon30" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_933839.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Мавка. Лесная песня</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem93383930 = document.getElementById("cartoon30")
            _elem93383930.addEventListener("click", function (event) {document.location.href = "/filmInfo93383930"; $$nav.off()});
        </script>
        
        <div id="cartoon31" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Человек-паук: Паутин</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121917731 = document.getElementById("cartoon31")
            _elem121917731.addEventListener("click", function (event) {document.location.href = "/filmInfo121917731"; $$nav.off()});
        </script>
        
        <div id="cartoon32" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4889667.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Элементарно</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem488966732 = document.getElementById("cartoon32")
            _elem488966732.addEventListener("click", function (event) {document.location.href = "/filmInfo488966732"; $$nav.off()});
        </script>
        
        <div id="cartoon33" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Человек-паук: Паутин</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121917733 = document.getElementById("cartoon33")
            _elem121917733.addEventListener("click", function (event) {document.location.href = "/filmInfo121917733"; $$nav.off()});
        </script>
        
        <div id="cartoon34" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4889667.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Элементарно</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem488966734 = document.getElementById("cartoon34")
            _elem488966734.addEventListener("click", function (event) {document.location.href = "/filmInfo488966734"; $$nav.off()});
        </script>
        
        <div id="cartoon35" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_8243.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Покемон 2000</p>
        <h1>(1999)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem824335 = document.getElementById("cartoon35")
            _elem824335.addEventListener("click", function (event) {document.location.href = "/filmInfo824335"; $$nav.off()});
        </script>
        
        <div id="cartoon36" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_794527.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Сын Бэтмена</p>
        <h1>(2014)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem79452736 = document.getElementById("cartoon36")
            _elem79452736.addEventListener("click", function (event) {document.location.href = "/filmInfo79452736"; $$nav.off()});
        </script>
        
        <div id="cartoon37" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5266956.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Катак. Ледниковый по</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526695637 = document.getElementById("cartoon37")
            _elem526695637.addEventListener("click", function (event) {document.location.href = "/filmInfo526695637"; $$nav.off()});
        </script>
        
        <div id="cartoon38" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_713609.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Том и Джерри: Робин </p>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem71360938 = document.getElementById("cartoon38")
            _elem71360938.addEventListener("click", function (event) {document.location.href = "/filmInfo71360938"; $$nav.off()});
        </script>
        
        <div id="cartoon39" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1360099.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Лакадейзи</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem136009939 = document.getElementById("cartoon39")
            _elem136009939.addEventListener("click", function (event) {document.location.href = "/filmInfo136009939"; $$nav.off()});
        </script>
        
        <div id="cartoon40" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1000394.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Мобильный воин Ганда</p>
        <h1>(2016)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem100039440 = document.getElementById("cartoon40")
            _elem100039440.addEventListener("click", function (event) {document.location.href = "/filmInfo100039440"; $$nav.off()});
        </script>
        
        <div id="cartoon41" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_589588.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Звезда Пушистландии</p>
        <h1>(1984)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem58958841 = document.getElementById("cartoon41")
            _elem58958841.addEventListener("click", function (event) {document.location.href = "/filmInfo58958841"; $$nav.off()});
        </script>
        
        <div id="cartoon42" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1239591.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Вторая страна</p>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem123959142 = document.getElementById("cartoon42")
            _elem123959142.addEventListener("click", function (event) {document.location.href = "/filmInfo123959142"; $$nav.off()});
        </script>
        
        <div id="cartoon43" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Лига Справедливости:</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530544243 = document.getElementById("cartoon43")
            _elem530544243.addEventListener("click", function (event) {document.location.href = "/filmInfo530544243"; $$nav.off()});
        </script>
        
        <div id="cartoon44" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Лига Справедливости:</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530544244 = document.getElementById("cartoon44")
            _elem530544244.addEventListener("click", function (event) {document.location.href = "/filmInfo530544244"; $$nav.off()});
        </script>
        
        <div id="cartoon45" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5138530.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Мальчик, крот, лис и</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem513853045 = document.getElementById("cartoon45")
            _elem513853045.addEventListener("click", function (event) {document.location.href = "/filmInfo513853045"; $$nav.off()});
        </script>
        
        <div id="cartoon46" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5138530.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Мальчик, крот, лис и</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem513853046 = document.getElementById("cartoon46")
            _elem513853046.addEventListener("click", function (event) {document.location.href = "/filmInfo513853046"; $$nav.off()});
        </script>
        
        <div id="cartoon47" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_782791.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Лига справедливости:</p>
        <h1>(2014)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem78279147 = document.getElementById("cartoon47")
            _elem78279147.addEventListener("click", function (event) {document.location.href = "/filmInfo78279147"; $$nav.off()});
        </script>
        
        <div id="cartoon48" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Обитель зла: Остров </p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526431048 = document.getElementById("cartoon48")
            _elem526431048.addEventListener("click", function (event) {document.location.href = "/filmInfo526431048"; $$nav.off()});
        </script>
        
        <div id="cartoon49" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1167101.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Чарли и фантастическ</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem116710149 = document.getElementById("cartoon49")
            _elem116710149.addEventListener("click", function (event) {document.location.href = "/filmInfo116710149"; $$nav.off()});
        </script>
        