
        <div id="cartoon0" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Обитель зла: Остров смерти</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52643100 = document.getElementById("cartoon0")
            _elem52643100.addEventListener("click", function (event) {document.location.href = "/filmInfo52643100"; $$nav.off()});
        </script>
        
        <div id="cartoon1" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1115077.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Вкусы молодости</h1>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem11150771 = document.getElementById("cartoon1")
            _elem11150771.addEventListener("click", function (event) {document.location.href = "/filmInfo11150771"; $$nav.off()});
        </script>
        
        <div id="cartoon2" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_671367.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Далеко на Север</h1>
        <h1>(2015)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem6713672 = document.getElementById("cartoon2")
            _elem6713672.addEventListener("click", function (event) {document.location.href = "/filmInfo6713672"; $$nav.off()});
        </script>
        
        <div id="cartoon3" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1014472.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Гдлин</h1>
        <h1>(1990)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem10144723 = document.getElementById("cartoon3")
            _elem10144723.addEventListener("click", function (event) {document.location.href = "/filmInfo10144723"; $$nav.off()});
        </script>
        
        <div id="cartoon4" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film/8234.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Люпен III: Замок Калиостро</h1>
        <h1>(1979)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem82344 = document.getElementById("cartoon4")
            _elem82344.addEventListener("click", function (event) {document.location.href = "/filmInfo82344"; $$nav.off()});
        </script>
        
        <div id="cartoon5" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1363320.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Дорохэдоро: Дьявольский бонус</h1>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13633205 = document.getElementById("cartoon5")
            _elem13633205.addEventListener("click", function (event) {document.location.href = "/filmInfo13633205"; $$nav.off()});
        </script>
        
        <div id="cartoon6" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1847.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Мой маленький пони</h1>
        <h1>(1986)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem18476 = document.getElementById("cartoon6")
            _elem18476.addEventListener("click", function (event) {document.location.href = "/filmInfo18476"; $$nav.off()});
        </script>
        
        <div id="cartoon7" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_733375.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Железный Человек: Восстание Техно</h1>
        <h1>(2013)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem7333757 = document.getElementById("cartoon7")
            _elem7333757.addEventListener("click", function (event) {document.location.href = "/filmInfo7333757"; $$nav.off()});
        </script>
        
        <div id="cartoon8" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5268477.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Руби Гиллман</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52684778 = document.getElementById("cartoon8")
            _elem52684778.addEventListener("click", function (event) {document.location.href = "/filmInfo52684778"; $$nav.off()});
        </script>
        
        <div id="cartoon9" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_29577.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Секрет Н.И.М.Х.</h1>
        <h1>(1982)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem295779 = document.getElementById("cartoon9")
            _elem295779.addEventListener("click", function (event) {document.location.href = "/filmInfo295779"; $$nav.off()});
        </script>
        
        <div id="cartoon10" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_606675.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Лига справедливости: Гибель</h1>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem60667510 = document.getElementById("cartoon10")
            _elem60667510.addEventListener("click", function (event) {document.location.href = "/filmInfo60667510"; $$nav.off()});
        </script>
        
        <div id="cartoon11" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4769135.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Судзумэ закрывает двери</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem476913511 = document.getElementById("cartoon11")
            _elem476913511.addEventListener("click", function (event) {document.location.href = "/filmInfo476913511"; $$nav.off()});
        </script>
        
        <div id="cartoon12" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_266893.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Затерянный мир огненных драконов</h1>
        <h1>(2006)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem26689312 = document.getElementById("cartoon12")
            _elem26689312.addEventListener("click", function (event) {document.location.href = "/filmInfo26689312"; $$nav.off()});
        </script>
        
        <div id="cartoon13" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264991.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Маша и Медведь в кино: Скажите «О</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526499113 = document.getElementById("cartoon13")
            _elem526499113.addEventListener("click", function (event) {document.location.href = "/filmInfo526499113"; $$nav.off()});
        </script>
        
        <div id="cartoon14" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5106017.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Три разбойника и лев</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510601714 = document.getElementById("cartoon14")
            _elem510601714.addEventListener("click", function (event) {document.location.href = "/filmInfo510601714"; $$nav.off()});
        </script>
        
        <div id="cartoon15" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5024925.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Зверогонщики</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem502492515 = document.getElementById("cartoon15")
            _elem502492515.addEventListener("click", function (event) {document.location.href = "/filmInfo502492515"; $$nav.off()});
        </script>
        
        <div id="cartoon16" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1210742.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Мармадюк</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121074216 = document.getElementById("cartoon16")
            _elem121074216.addEventListener("click", function (event) {document.location.href = "/filmInfo121074216"; $$nav.off()});
        </script>
        
        <div id="cartoon17" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5041147.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Герои волшебного леса</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem504114717 = document.getElementById("cartoon17")
            _elem504114717.addEventListener("click", function (event) {document.location.href = "/filmInfo504114717"; $$nav.off()});
        </script>
        
        <div id="cartoon18" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_716048.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Тёмная лига справедливости</h1>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem71604818 = document.getElementById("cartoon18")
            _elem71604818.addEventListener("click", function (event) {document.location.href = "/filmInfo71604818"; $$nav.off()});
        </script>
        
        <div id="cartoon19" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118031.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Эрнест и Селестина: Новые приключ</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511803119 = document.getElementById("cartoon19")
            _elem511803119.addEventListener("click", function (event) {document.location.href = "/filmInfo511803119"; $$nav.off()});
        </script>
        
        <div id="cartoon20" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5215684.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Медведи-соседи: Код хранителей</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem521568420 = document.getElementById("cartoon20")
            _elem521568420.addEventListener("click", function (event) {document.location.href = "/filmInfo521568420"; $$nav.off()});
        </script>
        
        <div id="cartoon21" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_676277.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Паучонок</h1>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem67627721 = document.getElementById("cartoon21")
            _elem67627721.addEventListener("click", function (event) {document.location.href = "/filmInfo67627721"; $$nav.off()});
        </script>
        
        <div id="cartoon22" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1395369.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Леди Баг и Супер-Кот: Пробуждение</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem139536922 = document.getElementById("cartoon22")
            _elem139536922.addEventListener("click", function (event) {document.location.href = "/filmInfo139536922"; $$nav.off()});
        </script>
        
        <div id="cartoon23" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5259941.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Ангел маленькой принцессы</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem525994123 = document.getElementById("cartoon23")
            _elem525994123.addEventListener("click", function (event) {document.location.href = "/filmInfo525994123"; $$nav.off()});
        </script>
        
        <div id="cartoon24" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5278422.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Турбозавры. Привет, Сирена!</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem527842224 = document.getElementById("cartoon24")
            _elem527842224.addEventListener("click", function (event) {document.location.href = "/filmInfo527842224"; $$nav.off()});
        </script>
        
        <div id="cartoon25" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4769135.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Судзумэ закрывает двери</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem476913525 = document.getElementById("cartoon25")
            _elem476913525.addEventListener("click", function (event) {document.location.href = "/filmInfo476913525"; $$nav.off()});
        </script>
        
        <div id="cartoon26" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5270474.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Люпен III против Кошачьего глаза</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem527047426 = document.getElementById("cartoon26")
            _elem527047426.addEventListener("click", function (event) {document.location.href = "/filmInfo527047426"; $$nav.off()});
        </script>
        
        <div id="cartoon27" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_377640.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Очень мрачное кино</h1>
        <h1>(2007)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem37764027 = document.getElementById("cartoon27")
            _elem37764027.addEventListener("click", function (event) {document.location.href = "/filmInfo37764027"; $$nav.off()});
        </script>
        
        <div id="cartoon28" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4699907.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Квартет Исэкай. Фильм</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem469990728 = document.getElementById("cartoon28")
            _elem469990728.addEventListener("click", function (event) {document.location.href = "/filmInfo469990728"; $$nav.off()});
        </script>
        
        <div id="cartoon29" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_933839.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Мавка. Лесная песня</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem93383929 = document.getElementById("cartoon29")
            _elem93383929.addEventListener("click", function (event) {document.location.href = "/filmInfo93383929"; $$nav.off()});
        </script>
        
        <div id="cartoon30" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1111005.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Братья Супер Марио в кино</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem111100530 = document.getElementById("cartoon30")
            _elem111100530.addEventListener("click", function (event) {document.location.href = "/filmInfo111100530"; $$nav.off()});
        </script>
        
        <div id="cartoon31" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4948091.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Нимона</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494809131 = document.getElementById("cartoon31")
            _elem494809131.addEventListener("click", function (event) {document.location.href = "/filmInfo494809131"; $$nav.off()});
        </script>
        
        <div id="cartoon32" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4948091.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Нимона</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494809132 = document.getElementById("cartoon32")
            _elem494809132.addEventListener("click", function (event) {document.location.href = "/filmInfo494809132"; $$nav.off()});
        </script>
        
        <div id="cartoon33" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1233418.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Глубокое море</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem123341833 = document.getElementById("cartoon33")
            _elem123341833.addEventListener("click", function (event) {document.location.href = "/filmInfo123341833"; $$nav.off()});
        </script>
        
        <div id="cartoon34" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5025923.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Запрещено собакам и итальянцам</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem502592334 = document.getElementById("cartoon34")
            _elem502592334.addEventListener("click", function (event) {document.location.href = "/filmInfo502592334"; $$nav.off()});
        </script>
        
        <div id="cartoon35" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5238227.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Бэтмен: Гибель, пришедшая в Готэм</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523822735 = document.getElementById("cartoon35")
            _elem523822735.addEventListener("click", function (event) {document.location.href = "/filmInfo523822735"; $$nav.off()});
        </script>
        
        <div id="cartoon36" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5076516.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Легенды «Смертельной битвы»: Снеж</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem507651636 = document.getElementById("cartoon36")
            _elem507651636.addEventListener("click", function (event) {document.location.href = "/filmInfo507651636"; $$nav.off()});
        </script>
        
        <div id="cartoon37" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_80134.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Предвестники бури, вперед!</h1>
        <h1>(1966)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem8013437 = document.getElementById("cartoon37")
            _elem8013437.addEventListener("click", function (event) {document.location.href = "/filmInfo8013437"; $$nav.off()});
        </script>
        
        <div id="cartoon38" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_344415.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Ты лучший, Чарли Браун</h1>
        <h1>(1979)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem34441538 = document.getElementById("cartoon38")
            _elem34441538.addEventListener("click", function (event) {document.location.href = "/filmInfo34441538"; $$nav.off()});
        </script>
        
        <div id="cartoon39" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1007469.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Пришельцы в доме</h1>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem100746939 = document.getElementById("cartoon39")
            _elem100746939.addEventListener("click", function (event) {document.location.href = "/filmInfo100746939"; $$nav.off()});
        </script>
        
        <div id="cartoon40" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5267820.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Эмезис синего цвета</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526782040 = document.getElementById("cartoon40")
            _elem526782040.addEventListener("click", function (event) {document.location.href = "/filmInfo526782040"; $$nav.off()});
        </script>
        
        <div id="cartoon41" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5126555.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Чёрный клевер: Меч короля магов</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem512655541 = document.getElementById("cartoon41")
            _elem512655541.addEventListener("click", function (event) {document.location.href = "/filmInfo512655541"; $$nav.off()});
        </script>
        
        <div id="cartoon42" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_85038.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Каспер: Начало</h1>
        <h1>(1997)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem8503842 = document.getElementById("cartoon42")
            _elem8503842.addEventListener("click", function (event) {document.location.href = "/filmInfo8503842"; $$nav.off()});
        </script>
        
        <div id="cartoon43" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_85038.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Каспер: Начало</h1>
        <h1>(1997)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem8503843 = document.getElementById("cartoon43")
            _elem8503843.addEventListener("click", function (event) {document.location.href = "/filmInfo8503843"; $$nav.off()});
        </script>
        
        <div id="cartoon44" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1283709.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Нэчжа</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem128370944 = document.getElementById("cartoon44")
            _elem128370944.addEventListener("click", function (event) {document.location.href = "/filmInfo128370944"; $$nav.off()});
        </script>
        
        <div id="cartoon45" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4423227.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Бэтмен: Долгий Хэллоуин. Часть 2</h1>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem442322745 = document.getElementById("cartoon45")
            _elem442322745.addEventListener("click", function (event) {document.location.href = "/filmInfo442322745"; $$nav.off()});
        </script>
        
        <div id="cartoon46" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5212149.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Мумиёшки</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem521214946 = document.getElementById("cartoon46")
            _elem521214946.addEventListener("click", function (event) {document.location.href = "/filmInfo521214946"; $$nav.off()});
        </script>
        
        <div id="cartoon47" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_461714.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Мурзилка на спутнике</h1>
        <h1>(1960)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46171447 = document.getElementById("cartoon47")
            _elem46171447.addEventListener("click", function (event) {document.location.href = "/filmInfo46171447"; $$nav.off()});
        </script>
        
        <div id="cartoon48" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4889667.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Элементарно</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem488966748 = document.getElementById("cartoon48")
            _elem488966748.addEventListener("click", function (event) {document.location.href = "/filmInfo488966748"; $$nav.off()});
        </script>
        
        <div id="cartoon49" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film/960401.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Дворянство: Пробуждение</h1>
        <h1>(2016)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem96040149 = document.getElementById("cartoon49")
            _elem96040149.addEventListener("click", function (event) {document.location.href = "/filmInfo96040149"; $$nav.off()});
        </script>
        