
        <div id="cartoon0" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5117298.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Трио в перьях 2</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51172980 = document.getElementById("cartoon0")
            _elem51172980.addEventListener("click", function (event) {document.location.href = "/filmInfo51172980"; $$nav.off()});
        </script>
        
        <div id="cartoon1" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_635.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Побег из курятника</h1>
        <h1>(2000)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem6351 = document.getElementById("cartoon1")
            _elem6351.addEventListener("click", function (event) {document.location.href = "/filmInfo6351"; $$nav.off()});
        </script>
        
        <div id="cartoon2" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5024925.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Зверогонщики</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50249252 = document.getElementById("cartoon2")
            _elem50249252.addEventListener("click", function (event) {document.location.href = "/filmInfo50249252"; $$nav.off()});
        </script>
        
        <div id="cartoon3" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1178862.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Черепашки-ниндзя: Погром мутантов</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem11788623 = document.getElementById("cartoon3")
            _elem11788623.addEventListener("click", function (event) {document.location.href = "/filmInfo11788623"; $$nav.off()});
        </script>
        
        <div id="cartoon4" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_969240.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Мастер меча онлайн: Порядковый ра</h1>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem9692404 = document.getElementById("cartoon4")
            _elem9692404.addEventListener("click", function (event) {document.location.href = "/filmInfo9692404"; $$nav.off()});
        </script>
        
        <div id="cartoon5" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_336423.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>ГоСегун: Странница во времени</h1>
        <h1>(1985)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem3364235 = document.getElementById("cartoon5")
            _elem3364235.addEventListener("click", function (event) {document.location.href = "/filmInfo3364235"; $$nav.off()});
        </script>
        
        <div id="cartoon6" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309189.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Смерть и возвращение Супермена</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13091896 = document.getElementById("cartoon6")
            _elem13091896.addEventListener("click", function (event) {document.location.href = "/filmInfo13091896"; $$nav.off()});
        </script>
        
        <div id="cartoon7" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Обитель зла: Остров смерти</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52643107 = document.getElementById("cartoon7")
            _elem52643107.addEventListener("click", function (event) {document.location.href = "/filmInfo52643107"; $$nav.off()});
        </script>
        
        <div id="cartoon8" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Лига Справедливости: Мир войны</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53054428 = document.getElementById("cartoon8")
            _elem53054428.addEventListener("click", function (event) {document.location.href = "/filmInfo53054428"; $$nav.off()});
        </script>
        
        <div id="cartoon9" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1395369.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Леди Баг и Супер-Кот: Пробуждение</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13953699 = document.getElementById("cartoon9")
            _elem13953699.addEventListener("click", function (event) {document.location.href = "/filmInfo13953699"; $$nav.off()});
        </script>
        
        <div id="cartoon10" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_673832.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Бен 10: Крушение пришельцев</h1>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem67383210 = document.getElementById("cartoon10")
            _elem67383210.addEventListener("click", function (event) {document.location.href = "/filmInfo67383210"; $$nav.off()});
        </script>
        
        <div id="cartoon11" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1115077.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Вкусы молодости</h1>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem111507711 = document.getElementById("cartoon11")
            _elem111507711.addEventListener("click", function (event) {document.location.href = "/filmInfo111507711"; $$nav.off()});
        </script>
        
        <div id="cartoon12" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_671367.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Далеко на Север</h1>
        <h1>(2015)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem67136712 = document.getElementById("cartoon12")
            _elem67136712.addEventListener("click", function (event) {document.location.href = "/filmInfo67136712"; $$nav.off()});
        </script>
        
        <div id="cartoon13" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1014472.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Гдлин</h1>
        <h1>(1990)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem101447213 = document.getElementById("cartoon13")
            _elem101447213.addEventListener("click", function (event) {document.location.href = "/filmInfo101447213"; $$nav.off()});
        </script>
        
        <div id="cartoon14" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film/8234.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Люпен III: Замок Калиостро</h1>
        <h1>(1979)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem823414 = document.getElementById("cartoon14")
            _elem823414.addEventListener("click", function (event) {document.location.href = "/filmInfo823414"; $$nav.off()});
        </script>
        
        <div id="cartoon15" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1363320.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Дорохэдоро: Дьявольский бонус</h1>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem136332015 = document.getElementById("cartoon15")
            _elem136332015.addEventListener("click", function (event) {document.location.href = "/filmInfo136332015"; $$nav.off()});
        </script>
        
        <div id="cartoon16" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1847.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Мой маленький пони</h1>
        <h1>(1986)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem184716 = document.getElementById("cartoon16")
            _elem184716.addEventListener("click", function (event) {document.location.href = "/filmInfo184716"; $$nav.off()});
        </script>
        
        <div id="cartoon17" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_733375.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Железный Человек: Восстание Техно</h1>
        <h1>(2013)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem73337517 = document.getElementById("cartoon17")
            _elem73337517.addEventListener("click", function (event) {document.location.href = "/filmInfo73337517"; $$nav.off()});
        </script>
        
        <div id="cartoon18" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5268477.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Руби Гиллман</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526847718 = document.getElementById("cartoon18")
            _elem526847718.addEventListener("click", function (event) {document.location.href = "/filmInfo526847718"; $$nav.off()});
        </script>
        
        <div id="cartoon19" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_29577.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Секрет Н.И.М.Х.</h1>
        <h1>(1982)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem2957719 = document.getElementById("cartoon19")
            _elem2957719.addEventListener("click", function (event) {document.location.href = "/filmInfo2957719"; $$nav.off()});
        </script>
        
        <div id="cartoon20" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_606675.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Лига справедливости: Гибель</h1>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem60667520 = document.getElementById("cartoon20")
            _elem60667520.addEventListener("click", function (event) {document.location.href = "/filmInfo60667520"; $$nav.off()});
        </script>
        
        <div id="cartoon21" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4769135.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Судзумэ закрывает двери</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem476913521 = document.getElementById("cartoon21")
            _elem476913521.addEventListener("click", function (event) {document.location.href = "/filmInfo476913521"; $$nav.off()});
        </script>
        
        <div id="cartoon22" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_266893.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Затерянный мир огненных драконов</h1>
        <h1>(2006)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem26689322 = document.getElementById("cartoon22")
            _elem26689322.addEventListener("click", function (event) {document.location.href = "/filmInfo26689322"; $$nav.off()});
        </script>
        
        <div id="cartoon23" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264991.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Маша и Медведь в кино: Скажите «О</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526499123 = document.getElementById("cartoon23")
            _elem526499123.addEventListener("click", function (event) {document.location.href = "/filmInfo526499123"; $$nav.off()});
        </script>
        
        <div id="cartoon24" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5106017.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Три разбойника и лев</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510601724 = document.getElementById("cartoon24")
            _elem510601724.addEventListener("click", function (event) {document.location.href = "/filmInfo510601724"; $$nav.off()});
        </script>
        
        <div id="cartoon25" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5024925.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Зверогонщики</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem502492525 = document.getElementById("cartoon25")
            _elem502492525.addEventListener("click", function (event) {document.location.href = "/filmInfo502492525"; $$nav.off()});
        </script>
        
        <div id="cartoon26" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1210742.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Мармадюк</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121074226 = document.getElementById("cartoon26")
            _elem121074226.addEventListener("click", function (event) {document.location.href = "/filmInfo121074226"; $$nav.off()});
        </script>
        
        <div id="cartoon27" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5041147.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Герои волшебного леса</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem504114727 = document.getElementById("cartoon27")
            _elem504114727.addEventListener("click", function (event) {document.location.href = "/filmInfo504114727"; $$nav.off()});
        </script>
        
        <div id="cartoon28" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_716048.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Тёмная лига справедливости</h1>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem71604828 = document.getElementById("cartoon28")
            _elem71604828.addEventListener("click", function (event) {document.location.href = "/filmInfo71604828"; $$nav.off()});
        </script>
        
        <div id="cartoon29" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118031.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Эрнест и Селестина: Новые приключ</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511803129 = document.getElementById("cartoon29")
            _elem511803129.addEventListener("click", function (event) {document.location.href = "/filmInfo511803129"; $$nav.off()});
        </script>
        
        <div id="cartoon30" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5215684.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Медведи-соседи: Код хранителей</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem521568430 = document.getElementById("cartoon30")
            _elem521568430.addEventListener("click", function (event) {document.location.href = "/filmInfo521568430"; $$nav.off()});
        </script>
        
        <div id="cartoon31" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_676277.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Паучонок</h1>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem67627731 = document.getElementById("cartoon31")
            _elem67627731.addEventListener("click", function (event) {document.location.href = "/filmInfo67627731"; $$nav.off()});
        </script>
        
        <div id="cartoon32" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5259941.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Ангел маленькой принцессы</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem525994132 = document.getElementById("cartoon32")
            _elem525994132.addEventListener("click", function (event) {document.location.href = "/filmInfo525994132"; $$nav.off()});
        </script>
        
        <div id="cartoon33" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5278422.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Турбозавры. Привет, Сирена!</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem527842233 = document.getElementById("cartoon33")
            _elem527842233.addEventListener("click", function (event) {document.location.href = "/filmInfo527842233"; $$nav.off()});
        </script>
        
        <div id="cartoon34" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4769135.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Судзумэ закрывает двери</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem476913534 = document.getElementById("cartoon34")
            _elem476913534.addEventListener("click", function (event) {document.location.href = "/filmInfo476913534"; $$nav.off()});
        </script>
        
        <div id="cartoon35" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5270474.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Люпен III против Кошачьего глаза</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem527047435 = document.getElementById("cartoon35")
            _elem527047435.addEventListener("click", function (event) {document.location.href = "/filmInfo527047435"; $$nav.off()});
        </script>
        
        <div id="cartoon36" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_377640.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Очень мрачное кино</h1>
        <h1>(2007)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem37764036 = document.getElementById("cartoon36")
            _elem37764036.addEventListener("click", function (event) {document.location.href = "/filmInfo37764036"; $$nav.off()});
        </script>
        
        <div id="cartoon37" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4699907.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Квартет Исэкай. Фильм</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem469990737 = document.getElementById("cartoon37")
            _elem469990737.addEventListener("click", function (event) {document.location.href = "/filmInfo469990737"; $$nav.off()});
        </script>
        
        <div id="cartoon38" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_933839.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Мавка. Лесная песня</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem93383938 = document.getElementById("cartoon38")
            _elem93383938.addEventListener("click", function (event) {document.location.href = "/filmInfo93383938"; $$nav.off()});
        </script>
        
        <div id="cartoon39" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1111005.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Братья Супер Марио в кино</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem111100539 = document.getElementById("cartoon39")
            _elem111100539.addEventListener("click", function (event) {document.location.href = "/filmInfo111100539"; $$nav.off()});
        </script>
        
        <div id="cartoon40" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4948091.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Нимона</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494809140 = document.getElementById("cartoon40")
            _elem494809140.addEventListener("click", function (event) {document.location.href = "/filmInfo494809140"; $$nav.off()});
        </script>
        
        <div id="cartoon41" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4948091.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Нимона</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494809141 = document.getElementById("cartoon41")
            _elem494809141.addEventListener("click", function (event) {document.location.href = "/filmInfo494809141"; $$nav.off()});
        </script>
        
        <div id="cartoon42" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1233418.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Глубокое море</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem123341842 = document.getElementById("cartoon42")
            _elem123341842.addEventListener("click", function (event) {document.location.href = "/filmInfo123341842"; $$nav.off()});
        </script>
        
        <div id="cartoon43" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5025923.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Запрещено собакам и итальянцам</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem502592343 = document.getElementById("cartoon43")
            _elem502592343.addEventListener("click", function (event) {document.location.href = "/filmInfo502592343"; $$nav.off()});
        </script>
        
        <div id="cartoon44" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5238227.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Бэтмен: Гибель, пришедшая в Готэм</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523822744 = document.getElementById("cartoon44")
            _elem523822744.addEventListener("click", function (event) {document.location.href = "/filmInfo523822744"; $$nav.off()});
        </script>
        
        <div id="cartoon45" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5076516.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Легенды «Смертельной битвы»: Снеж</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem507651645 = document.getElementById("cartoon45")
            _elem507651645.addEventListener("click", function (event) {document.location.href = "/filmInfo507651645"; $$nav.off()});
        </script>
        
        <div id="cartoon46" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_80134.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Предвестники бури, вперед!</h1>
        <h1>(1966)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem8013446 = document.getElementById("cartoon46")
            _elem8013446.addEventListener("click", function (event) {document.location.href = "/filmInfo8013446"; $$nav.off()});
        </script>
        
        <div id="cartoon47" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_344415.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Ты лучший, Чарли Браун</h1>
        <h1>(1979)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem34441547 = document.getElementById("cartoon47")
            _elem34441547.addEventListener("click", function (event) {document.location.href = "/filmInfo34441547"; $$nav.off()});
        </script>
        
        <div id="cartoon48" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1007469.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Пришельцы в доме</h1>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem100746948 = document.getElementById("cartoon48")
            _elem100746948.addEventListener("click", function (event) {document.location.href = "/filmInfo100746948"; $$nav.off()});
        </script>
        
        <div id="cartoon49" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5267820.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Эмезис синего цвета</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526782049 = document.getElementById("cartoon49")
            _elem526782049.addEventListener("click", function (event) {document.location.href = "/filmInfo526782049"; $$nav.off()});
        </script>
        