
        <div id="cartoon0" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1395369.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Леди Баг и Супер-Кот</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13953690 = document.getElementById("cartoon0")
            _elem13953690.addEventListener("click", function (event) {document.location.href = "/filmInfo13953690"; $$nav.off()});
        </script>
        
        <div id="cartoon1" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Человек-паук: Паутин</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem12191771 = document.getElementById("cartoon1")
            _elem12191771.addEventListener("click", function (event) {document.location.href = "/filmInfo12191771"; $$nav.off()});
        </script>
        
        <div id="cartoon2" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_713609.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Том и Джерри: Робин </p>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem7136092 = document.getElementById("cartoon2")
            _elem7136092.addEventListener("click", function (event) {document.location.href = "/filmInfo7136092"; $$nav.off()});
        </script>
        
        <div id="cartoon3" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1360099.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Лакадейзи</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13600993 = document.getElementById("cartoon3")
            _elem13600993.addEventListener("click", function (event) {document.location.href = "/filmInfo13600993"; $$nav.off()});
        </script>
        
        <div id="cartoon4" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1000394.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Мобильный воин Ганда</p>
        <h1>(2016)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem10003944 = document.getElementById("cartoon4")
            _elem10003944.addEventListener("click", function (event) {document.location.href = "/filmInfo10003944"; $$nav.off()});
        </script>
        
        <div id="cartoon5" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_589588.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Звезда Пушистландии</p>
        <h1>(1984)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5895885 = document.getElementById("cartoon5")
            _elem5895885.addEventListener("click", function (event) {document.location.href = "/filmInfo5895885"; $$nav.off()});
        </script>
        
        <div id="cartoon6" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1239591.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Вторая страна</p>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem12395916 = document.getElementById("cartoon6")
            _elem12395916.addEventListener("click", function (event) {document.location.href = "/filmInfo12395916"; $$nav.off()});
        </script>
        
        <div id="cartoon7" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Лига Справедливости:</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53054427 = document.getElementById("cartoon7")
            _elem53054427.addEventListener("click", function (event) {document.location.href = "/filmInfo53054427"; $$nav.off()});
        </script>
        
        <div id="cartoon8" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Лига Справедливости:</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53054428 = document.getElementById("cartoon8")
            _elem53054428.addEventListener("click", function (event) {document.location.href = "/filmInfo53054428"; $$nav.off()});
        </script>
        
        <div id="cartoon9" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Человек-паук: Паутин</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem12191779 = document.getElementById("cartoon9")
            _elem12191779.addEventListener("click", function (event) {document.location.href = "/filmInfo12191779"; $$nav.off()});
        </script>
        
        <div id="cartoon10" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5138530.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Мальчик, крот, лис и</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem513853010 = document.getElementById("cartoon10")
            _elem513853010.addEventListener("click", function (event) {document.location.href = "/filmInfo513853010"; $$nav.off()});
        </script>
        
        <div id="cartoon11" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5138530.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Мальчик, крот, лис и</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem513853011 = document.getElementById("cartoon11")
            _elem513853011.addEventListener("click", function (event) {document.location.href = "/filmInfo513853011"; $$nav.off()});
        </script>
        
        <div id="cartoon12" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Человек-паук: Паутин</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121917712 = document.getElementById("cartoon12")
            _elem121917712.addEventListener("click", function (event) {document.location.href = "/filmInfo121917712"; $$nav.off()});
        </script>
        
        <div id="cartoon13" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_782791.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Лига справедливости:</p>
        <h1>(2014)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem78279113 = document.getElementById("cartoon13")
            _elem78279113.addEventListener("click", function (event) {document.location.href = "/filmInfo78279113"; $$nav.off()});
        </script>
        
        <div id="cartoon14" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Обитель зла: Остров </p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526431014 = document.getElementById("cartoon14")
            _elem526431014.addEventListener("click", function (event) {document.location.href = "/filmInfo526431014"; $$nav.off()});
        </script>
        
        <div id="cartoon15" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1167101.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Чарли и фантастическ</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem116710115 = document.getElementById("cartoon15")
            _elem116710115.addEventListener("click", function (event) {document.location.href = "/filmInfo116710115"; $$nav.off()});
        </script>
        
        <div id="cartoon16" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118031.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Эрнест и Селестина: </p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511803116 = document.getElementById("cartoon16")
            _elem511803116.addEventListener("click", function (event) {document.location.href = "/filmInfo511803116"; $$nav.off()});
        </script>
        
        <div id="cartoon17" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1111005.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Братья Супер Марио в</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem111100517 = document.getElementById("cartoon17")
            _elem111100517.addEventListener("click", function (event) {document.location.href = "/filmInfo111100517"; $$nav.off()});
        </script>
        
        <div id="cartoon18" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1111005.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Братья Супер Марио в</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem111100518 = document.getElementById("cartoon18")
            _elem111100518.addEventListener("click", function (event) {document.location.href = "/filmInfo111100518"; $$nav.off()});
        </script>
        
        <div id="cartoon19" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1103221.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Король динозавров 3D</p>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem110322119 = document.getElementById("cartoon19")
            _elem110322119.addEventListener("click", function (event) {document.location.href = "/filmInfo110322119"; $$nav.off()});
        </script>
        
        <div id="cartoon20" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5117298.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Трио в перьях 2</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511729820 = document.getElementById("cartoon20")
            _elem511729820.addEventListener("click", function (event) {document.location.href = "/filmInfo511729820"; $$nav.off()});
        </script>
        
        <div id="cartoon21" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_635.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Побег из курятника</p>
        <h1>(2000)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem63521 = document.getElementById("cartoon21")
            _elem63521.addEventListener("click", function (event) {document.location.href = "/filmInfo63521"; $$nav.off()});
        </script>
        
        <div id="cartoon22" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5024925.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Зверогонщики</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem502492522 = document.getElementById("cartoon22")
            _elem502492522.addEventListener("click", function (event) {document.location.href = "/filmInfo502492522"; $$nav.off()});
        </script>
        
        <div id="cartoon23" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1178862.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Черепашки-ниндзя: По</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem117886223 = document.getElementById("cartoon23")
            _elem117886223.addEventListener("click", function (event) {document.location.href = "/filmInfo117886223"; $$nav.off()});
        </script>
        
        <div id="cartoon24" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_969240.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Мастер меча онлайн: </p>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem96924024 = document.getElementById("cartoon24")
            _elem96924024.addEventListener("click", function (event) {document.location.href = "/filmInfo96924024"; $$nav.off()});
        </script>
        
        <div id="cartoon25" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_336423.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>ГоСегун: Странница в</p>
        <h1>(1985)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem33642325 = document.getElementById("cartoon25")
            _elem33642325.addEventListener("click", function (event) {document.location.href = "/filmInfo33642325"; $$nav.off()});
        </script>
        
        <div id="cartoon26" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309189.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Смерть и возвращение</p>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem130918926 = document.getElementById("cartoon26")
            _elem130918926.addEventListener("click", function (event) {document.location.href = "/filmInfo130918926"; $$nav.off()});
        </script>
        
        <div id="cartoon27" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Обитель зла: Остров </p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526431027 = document.getElementById("cartoon27")
            _elem526431027.addEventListener("click", function (event) {document.location.href = "/filmInfo526431027"; $$nav.off()});
        </script>
        
        <div id="cartoon28" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Лига Справедливости:</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530544228 = document.getElementById("cartoon28")
            _elem530544228.addEventListener("click", function (event) {document.location.href = "/filmInfo530544228"; $$nav.off()});
        </script>
        
        <div id="cartoon29" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1395369.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Леди Баг и Супер-Кот</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem139536929 = document.getElementById("cartoon29")
            _elem139536929.addEventListener("click", function (event) {document.location.href = "/filmInfo139536929"; $$nav.off()});
        </script>
        
        <div id="cartoon30" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_673832.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Бен 10: Крушение при</p>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem67383230 = document.getElementById("cartoon30")
            _elem67383230.addEventListener("click", function (event) {document.location.href = "/filmInfo67383230"; $$nav.off()});
        </script>
        
        <div id="cartoon31" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1115077.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Вкусы молодости</p>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem111507731 = document.getElementById("cartoon31")
            _elem111507731.addEventListener("click", function (event) {document.location.href = "/filmInfo111507731"; $$nav.off()});
        </script>
        
        <div id="cartoon32" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_671367.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Далеко на Север</p>
        <h1>(2015)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem67136732 = document.getElementById("cartoon32")
            _elem67136732.addEventListener("click", function (event) {document.location.href = "/filmInfo67136732"; $$nav.off()});
        </script>
        
        <div id="cartoon33" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1014472.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Гдлин</p>
        <h1>(1990)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem101447233 = document.getElementById("cartoon33")
            _elem101447233.addEventListener("click", function (event) {document.location.href = "/filmInfo101447233"; $$nav.off()});
        </script>
        
        <div id="cartoon34" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film/8234.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Люпен III: Замок Кал</p>
        <h1>(1979)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem823434 = document.getElementById("cartoon34")
            _elem823434.addEventListener("click", function (event) {document.location.href = "/filmInfo823434"; $$nav.off()});
        </script>
        
        <div id="cartoon35" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1363320.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Дорохэдоро: Дьявольс</p>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem136332035 = document.getElementById("cartoon35")
            _elem136332035.addEventListener("click", function (event) {document.location.href = "/filmInfo136332035"; $$nav.off()});
        </script>
        
        <div id="cartoon36" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1847.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Мой маленький пони</p>
        <h1>(1986)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem184736 = document.getElementById("cartoon36")
            _elem184736.addEventListener("click", function (event) {document.location.href = "/filmInfo184736"; $$nav.off()});
        </script>
        
        <div id="cartoon37" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_733375.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Железный Человек: Во</p>
        <h1>(2013)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem73337537 = document.getElementById("cartoon37")
            _elem73337537.addEventListener("click", function (event) {document.location.href = "/filmInfo73337537"; $$nav.off()});
        </script>
        
        <div id="cartoon38" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5268477.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Руби Гиллман</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526847738 = document.getElementById("cartoon38")
            _elem526847738.addEventListener("click", function (event) {document.location.href = "/filmInfo526847738"; $$nav.off()});
        </script>
        
        <div id="cartoon39" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_29577.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Секрет Н.И.М.Х.</p>
        <h1>(1982)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem2957739 = document.getElementById("cartoon39")
            _elem2957739.addEventListener("click", function (event) {document.location.href = "/filmInfo2957739"; $$nav.off()});
        </script>
        
        <div id="cartoon40" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_606675.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Лига справедливости:</p>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem60667540 = document.getElementById("cartoon40")
            _elem60667540.addEventListener("click", function (event) {document.location.href = "/filmInfo60667540"; $$nav.off()});
        </script>
        
        <div id="cartoon41" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4769135.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Судзумэ закрывает дв</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem476913541 = document.getElementById("cartoon41")
            _elem476913541.addEventListener("click", function (event) {document.location.href = "/filmInfo476913541"; $$nav.off()});
        </script>
        
        <div id="cartoon42" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_266893.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Затерянный мир огнен</p>
        <h1>(2006)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem26689342 = document.getElementById("cartoon42")
            _elem26689342.addEventListener("click", function (event) {document.location.href = "/filmInfo26689342"; $$nav.off()});
        </script>
        
        <div id="cartoon43" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264991.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Маша и Медведь в кин</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526499143 = document.getElementById("cartoon43")
            _elem526499143.addEventListener("click", function (event) {document.location.href = "/filmInfo526499143"; $$nav.off()});
        </script>
        
        <div id="cartoon44" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5106017.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Три разбойника и лев</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510601744 = document.getElementById("cartoon44")
            _elem510601744.addEventListener("click", function (event) {document.location.href = "/filmInfo510601744"; $$nav.off()});
        </script>
        
        <div id="cartoon45" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5024925.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Зверогонщики</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem502492545 = document.getElementById("cartoon45")
            _elem502492545.addEventListener("click", function (event) {document.location.href = "/filmInfo502492545"; $$nav.off()});
        </script>
        
        <div id="cartoon46" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1210742.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Мармадюк</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121074246 = document.getElementById("cartoon46")
            _elem121074246.addEventListener("click", function (event) {document.location.href = "/filmInfo121074246"; $$nav.off()});
        </script>
        
        <div id="cartoon47" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5041147.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Герои волшебного лес</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem504114747 = document.getElementById("cartoon47")
            _elem504114747.addEventListener("click", function (event) {document.location.href = "/filmInfo504114747"; $$nav.off()});
        </script>
        
        <div id="cartoon48" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_716048.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Тёмная лига справедл</p>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem71604848 = document.getElementById("cartoon48")
            _elem71604848.addEventListener("click", function (event) {document.location.href = "/filmInfo71604848"; $$nav.off()});
        </script>
        
        <div id="cartoon49" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118031.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Эрнест и Селестина: </p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511803149 = document.getElementById("cartoon49")
            _elem511803149.addEventListener("click", function (event) {document.location.href = "/filmInfo511803149"; $$nav.off()});
        </script>
        