
        <div id="cartoon0" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Обитель зла: Остров смерти</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52643100 = document.getElementById("cartoon0")
            _elem52643100.addEventListener("click", function (event) {document.location.href = "/filmInfo52643100"; $$nav.off()});
        </script>
        
        <div id="cartoon1" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Лига Справедливости: Мир войны</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53054421 = document.getElementById("cartoon1")
            _elem53054421.addEventListener("click", function (event) {document.location.href = "/filmInfo53054421"; $$nav.off()});
        </script>
        
        <div id="cartoon2" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1395369.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Леди Баг и Супер-Кот: Пробуждение</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13953692 = document.getElementById("cartoon2")
            _elem13953692.addEventListener("click", function (event) {document.location.href = "/filmInfo13953692"; $$nav.off()});
        </script>
        
        <div id="cartoon3" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_673832.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Бен 10: Крушение пришельцев</h1>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem6738323 = document.getElementById("cartoon3")
            _elem6738323.addEventListener("click", function (event) {document.location.href = "/filmInfo6738323"; $$nav.off()});
        </script>
        
        <div id="cartoon4" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Обитель зла: Остров смерти</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52643104 = document.getElementById("cartoon4")
            _elem52643104.addEventListener("click", function (event) {document.location.href = "/filmInfo52643104"; $$nav.off()});
        </script>
        
        <div id="cartoon5" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1115077.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Вкусы молодости</h1>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem11150775 = document.getElementById("cartoon5")
            _elem11150775.addEventListener("click", function (event) {document.location.href = "/filmInfo11150775"; $$nav.off()});
        </script>
        
        <div id="cartoon6" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_671367.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Далеко на Север</h1>
        <h1>(2015)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem6713676 = document.getElementById("cartoon6")
            _elem6713676.addEventListener("click", function (event) {document.location.href = "/filmInfo6713676"; $$nav.off()});
        </script>
        
        <div id="cartoon7" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1014472.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Гдлин</h1>
        <h1>(1990)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem10144727 = document.getElementById("cartoon7")
            _elem10144727.addEventListener("click", function (event) {document.location.href = "/filmInfo10144727"; $$nav.off()});
        </script>
        
        <div id="cartoon8" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film/8234.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Люпен III: Замок Калиостро</h1>
        <h1>(1979)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem82348 = document.getElementById("cartoon8")
            _elem82348.addEventListener("click", function (event) {document.location.href = "/filmInfo82348"; $$nav.off()});
        </script>
        
        <div id="cartoon9" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1363320.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Дорохэдоро: Дьявольский бонус</h1>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13633209 = document.getElementById("cartoon9")
            _elem13633209.addEventListener("click", function (event) {document.location.href = "/filmInfo13633209"; $$nav.off()});
        </script>
        
        <div id="cartoon10" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1847.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Мой маленький пони</h1>
        <h1>(1986)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem184710 = document.getElementById("cartoon10")
            _elem184710.addEventListener("click", function (event) {document.location.href = "/filmInfo184710"; $$nav.off()});
        </script>
        
        <div id="cartoon11" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_733375.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Железный Человек: Восстание Техно</h1>
        <h1>(2013)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem73337511 = document.getElementById("cartoon11")
            _elem73337511.addEventListener("click", function (event) {document.location.href = "/filmInfo73337511"; $$nav.off()});
        </script>
        
        <div id="cartoon12" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5268477.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Руби Гиллман</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526847712 = document.getElementById("cartoon12")
            _elem526847712.addEventListener("click", function (event) {document.location.href = "/filmInfo526847712"; $$nav.off()});
        </script>
        
        <div id="cartoon13" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_29577.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Секрет Н.И.М.Х.</h1>
        <h1>(1982)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem2957713 = document.getElementById("cartoon13")
            _elem2957713.addEventListener("click", function (event) {document.location.href = "/filmInfo2957713"; $$nav.off()});
        </script>
        
        <div id="cartoon14" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_606675.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Лига справедливости: Гибель</h1>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem60667514 = document.getElementById("cartoon14")
            _elem60667514.addEventListener("click", function (event) {document.location.href = "/filmInfo60667514"; $$nav.off()});
        </script>
        
        <div id="cartoon15" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4769135.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Судзумэ закрывает двери</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem476913515 = document.getElementById("cartoon15")
            _elem476913515.addEventListener("click", function (event) {document.location.href = "/filmInfo476913515"; $$nav.off()});
        </script>
        
        <div id="cartoon16" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_266893.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Затерянный мир огненных драконов</h1>
        <h1>(2006)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem26689316 = document.getElementById("cartoon16")
            _elem26689316.addEventListener("click", function (event) {document.location.href = "/filmInfo26689316"; $$nav.off()});
        </script>
        
        <div id="cartoon17" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264991.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Маша и Медведь в кино: Скажите «О</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526499117 = document.getElementById("cartoon17")
            _elem526499117.addEventListener("click", function (event) {document.location.href = "/filmInfo526499117"; $$nav.off()});
        </script>
        
        <div id="cartoon18" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5106017.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Три разбойника и лев</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510601718 = document.getElementById("cartoon18")
            _elem510601718.addEventListener("click", function (event) {document.location.href = "/filmInfo510601718"; $$nav.off()});
        </script>
        
        <div id="cartoon19" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5024925.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Зверогонщики</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem502492519 = document.getElementById("cartoon19")
            _elem502492519.addEventListener("click", function (event) {document.location.href = "/filmInfo502492519"; $$nav.off()});
        </script>
        
        <div id="cartoon20" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1210742.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Мармадюк</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121074220 = document.getElementById("cartoon20")
            _elem121074220.addEventListener("click", function (event) {document.location.href = "/filmInfo121074220"; $$nav.off()});
        </script>
        
        <div id="cartoon21" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5041147.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Герои волшебного леса</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem504114721 = document.getElementById("cartoon21")
            _elem504114721.addEventListener("click", function (event) {document.location.href = "/filmInfo504114721"; $$nav.off()});
        </script>
        
        <div id="cartoon22" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_716048.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Тёмная лига справедливости</h1>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem71604822 = document.getElementById("cartoon22")
            _elem71604822.addEventListener("click", function (event) {document.location.href = "/filmInfo71604822"; $$nav.off()});
        </script>
        
        <div id="cartoon23" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118031.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Эрнест и Селестина: Новые приключ</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511803123 = document.getElementById("cartoon23")
            _elem511803123.addEventListener("click", function (event) {document.location.href = "/filmInfo511803123"; $$nav.off()});
        </script>
        
        <div id="cartoon24" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5215684.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Медведи-соседи: Код хранителей</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem521568424 = document.getElementById("cartoon24")
            _elem521568424.addEventListener("click", function (event) {document.location.href = "/filmInfo521568424"; $$nav.off()});
        </script>
        
        <div id="cartoon25" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_676277.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Паучонок</h1>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem67627725 = document.getElementById("cartoon25")
            _elem67627725.addEventListener("click", function (event) {document.location.href = "/filmInfo67627725"; $$nav.off()});
        </script>
        
        <div id="cartoon26" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5259941.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Ангел маленькой принцессы</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem525994126 = document.getElementById("cartoon26")
            _elem525994126.addEventListener("click", function (event) {document.location.href = "/filmInfo525994126"; $$nav.off()});
        </script>
        
        <div id="cartoon27" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5278422.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Турбозавры. Привет, Сирена!</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem527842227 = document.getElementById("cartoon27")
            _elem527842227.addEventListener("click", function (event) {document.location.href = "/filmInfo527842227"; $$nav.off()});
        </script>
        
        <div id="cartoon28" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4769135.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Судзумэ закрывает двери</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem476913528 = document.getElementById("cartoon28")
            _elem476913528.addEventListener("click", function (event) {document.location.href = "/filmInfo476913528"; $$nav.off()});
        </script>
        
        <div id="cartoon29" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5270474.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Люпен III против Кошачьего глаза</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem527047429 = document.getElementById("cartoon29")
            _elem527047429.addEventListener("click", function (event) {document.location.href = "/filmInfo527047429"; $$nav.off()});
        </script>
        
        <div id="cartoon30" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_377640.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Очень мрачное кино</h1>
        <h1>(2007)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem37764030 = document.getElementById("cartoon30")
            _elem37764030.addEventListener("click", function (event) {document.location.href = "/filmInfo37764030"; $$nav.off()});
        </script>
        
        <div id="cartoon31" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4699907.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Квартет Исэкай. Фильм</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem469990731 = document.getElementById("cartoon31")
            _elem469990731.addEventListener("click", function (event) {document.location.href = "/filmInfo469990731"; $$nav.off()});
        </script>
        
        <div id="cartoon32" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_933839.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Мавка. Лесная песня</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem93383932 = document.getElementById("cartoon32")
            _elem93383932.addEventListener("click", function (event) {document.location.href = "/filmInfo93383932"; $$nav.off()});
        </script>
        
        <div id="cartoon33" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1111005.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Братья Супер Марио в кино</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem111100533 = document.getElementById("cartoon33")
            _elem111100533.addEventListener("click", function (event) {document.location.href = "/filmInfo111100533"; $$nav.off()});
        </script>
        
        <div id="cartoon34" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4948091.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Нимона</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494809134 = document.getElementById("cartoon34")
            _elem494809134.addEventListener("click", function (event) {document.location.href = "/filmInfo494809134"; $$nav.off()});
        </script>
        
        <div id="cartoon35" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4948091.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Нимона</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494809135 = document.getElementById("cartoon35")
            _elem494809135.addEventListener("click", function (event) {document.location.href = "/filmInfo494809135"; $$nav.off()});
        </script>
        
        <div id="cartoon36" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1233418.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Глубокое море</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem123341836 = document.getElementById("cartoon36")
            _elem123341836.addEventListener("click", function (event) {document.location.href = "/filmInfo123341836"; $$nav.off()});
        </script>
        
        <div id="cartoon37" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5025923.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Запрещено собакам и итальянцам</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem502592337 = document.getElementById("cartoon37")
            _elem502592337.addEventListener("click", function (event) {document.location.href = "/filmInfo502592337"; $$nav.off()});
        </script>
        
        <div id="cartoon38" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5238227.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Бэтмен: Гибель, пришедшая в Готэм</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523822738 = document.getElementById("cartoon38")
            _elem523822738.addEventListener("click", function (event) {document.location.href = "/filmInfo523822738"; $$nav.off()});
        </script>
        
        <div id="cartoon39" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5076516.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Легенды «Смертельной битвы»: Снеж</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem507651639 = document.getElementById("cartoon39")
            _elem507651639.addEventListener("click", function (event) {document.location.href = "/filmInfo507651639"; $$nav.off()});
        </script>
        
        <div id="cartoon40" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_80134.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Предвестники бури, вперед!</h1>
        <h1>(1966)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem8013440 = document.getElementById("cartoon40")
            _elem8013440.addEventListener("click", function (event) {document.location.href = "/filmInfo8013440"; $$nav.off()});
        </script>
        
        <div id="cartoon41" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_344415.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Ты лучший, Чарли Браун</h1>
        <h1>(1979)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem34441541 = document.getElementById("cartoon41")
            _elem34441541.addEventListener("click", function (event) {document.location.href = "/filmInfo34441541"; $$nav.off()});
        </script>
        
        <div id="cartoon42" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1007469.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Пришельцы в доме</h1>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem100746942 = document.getElementById("cartoon42")
            _elem100746942.addEventListener("click", function (event) {document.location.href = "/filmInfo100746942"; $$nav.off()});
        </script>
        
        <div id="cartoon43" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5267820.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Эмезис синего цвета</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526782043 = document.getElementById("cartoon43")
            _elem526782043.addEventListener("click", function (event) {document.location.href = "/filmInfo526782043"; $$nav.off()});
        </script>
        
        <div id="cartoon44" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5126555.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Чёрный клевер: Меч короля магов</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem512655544 = document.getElementById("cartoon44")
            _elem512655544.addEventListener("click", function (event) {document.location.href = "/filmInfo512655544"; $$nav.off()});
        </script>
        
        <div id="cartoon45" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_85038.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Каспер: Начало</h1>
        <h1>(1997)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem8503845 = document.getElementById("cartoon45")
            _elem8503845.addEventListener("click", function (event) {document.location.href = "/filmInfo8503845"; $$nav.off()});
        </script>
        
        <div id="cartoon46" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_85038.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Каспер: Начало</h1>
        <h1>(1997)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem8503846 = document.getElementById("cartoon46")
            _elem8503846.addEventListener("click", function (event) {document.location.href = "/filmInfo8503846"; $$nav.off()});
        </script>
        
        <div id="cartoon47" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1283709.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Нэчжа</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem128370947 = document.getElementById("cartoon47")
            _elem128370947.addEventListener("click", function (event) {document.location.href = "/filmInfo128370947"; $$nav.off()});
        </script>
        
        <div id="cartoon48" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4423227.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Бэтмен: Долгий Хэллоуин. Часть 2</h1>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem442322748 = document.getElementById("cartoon48")
            _elem442322748.addEventListener("click", function (event) {document.location.href = "/filmInfo442322748"; $$nav.off()});
        </script>
        
        <div id="cartoon49" class="cartoonsItem item nav-item" data-nav_ud="0,0,0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5212149.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Мумиёшки</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem521214949 = document.getElementById("cartoon49")
            _elem521214949.addEventListener("click", function (event) {document.location.href = "/filmInfo521214949"; $$nav.off()});
        </script>
        