
        <div id="cartoon0" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1360099.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Лакадейзи</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13600990 = document.getElementById("cartoon0")
            _elem13600990.addEventListener("click", function (event) {document.location.href = "/filmInfo13600990"; $$nav.off()});
        </script>
        
        <div id="cartoon1" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1000394.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Мобильный воин Гандам: Удар молни</h1>
        <h1>(2016)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem10003941 = document.getElementById("cartoon1")
            _elem10003941.addEventListener("click", function (event) {document.location.href = "/filmInfo10003941"; $$nav.off()});
        </script>
        
        <div id="cartoon2" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_589588.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Звезда Пушистландии</h1>
        <h1>(1984)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5895882 = document.getElementById("cartoon2")
            _elem5895882.addEventListener("click", function (event) {document.location.href = "/filmInfo5895882"; $$nav.off()});
        </script>
        
        <div id="cartoon3" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1239591.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Вторая страна</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem12395913 = document.getElementById("cartoon3")
            _elem12395913.addEventListener("click", function (event) {document.location.href = "/filmInfo12395913"; $$nav.off()});
        </script>
        
        <div id="cartoon4" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Лига Справедливости: Мир войны</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53054424 = document.getElementById("cartoon4")
            _elem53054424.addEventListener("click", function (event) {document.location.href = "/filmInfo53054424"; $$nav.off()});
        </script>
        
        <div id="cartoon5" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Лига Справедливости: Мир войны</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53054425 = document.getElementById("cartoon5")
            _elem53054425.addEventListener("click", function (event) {document.location.href = "/filmInfo53054425"; $$nav.off()});
        </script>
        
        <div id="cartoon6" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Человек-паук: Паутина вселенных</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem12191776 = document.getElementById("cartoon6")
            _elem12191776.addEventListener("click", function (event) {document.location.href = "/filmInfo12191776"; $$nav.off()});
        </script>
        
        <div id="cartoon7" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5138530.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Мальчик, крот, лис и лошадь</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51385307 = document.getElementById("cartoon7")
            _elem51385307.addEventListener("click", function (event) {document.location.href = "/filmInfo51385307"; $$nav.off()});
        </script>
        
        <div id="cartoon8" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5138530.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Мальчик, крот, лис и лошадь</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51385308 = document.getElementById("cartoon8")
            _elem51385308.addEventListener("click", function (event) {document.location.href = "/filmInfo51385308"; $$nav.off()});
        </script>
        
        <div id="cartoon9" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Человек-паук: Паутина вселенных</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem12191779 = document.getElementById("cartoon9")
            _elem12191779.addEventListener("click", function (event) {document.location.href = "/filmInfo12191779"; $$nav.off()});
        </script>
        
        <div id="cartoon10" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_782791.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Лига справедливости: Война</h1>
        <h1>(2014)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem78279110 = document.getElementById("cartoon10")
            _elem78279110.addEventListener("click", function (event) {document.location.href = "/filmInfo78279110"; $$nav.off()});
        </script>
        
        <div id="cartoon11" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Обитель зла: Остров смерти</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526431011 = document.getElementById("cartoon11")
            _elem526431011.addEventListener("click", function (event) {document.location.href = "/filmInfo526431011"; $$nav.off()});
        </script>
        
        <div id="cartoon12" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1167101.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Чарли и фантастическая четверка</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem116710112 = document.getElementById("cartoon12")
            _elem116710112.addEventListener("click", function (event) {document.location.href = "/filmInfo116710112"; $$nav.off()});
        </script>
        
        <div id="cartoon13" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118031.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Эрнест и Селестина: Новые приключ</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511803113 = document.getElementById("cartoon13")
            _elem511803113.addEventListener("click", function (event) {document.location.href = "/filmInfo511803113"; $$nav.off()});
        </script>
        
        <div id="cartoon14" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1111005.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Братья Супер Марио в кино</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem111100514 = document.getElementById("cartoon14")
            _elem111100514.addEventListener("click", function (event) {document.location.href = "/filmInfo111100514"; $$nav.off()});
        </script>
        
        <div id="cartoon15" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1111005.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Братья Супер Марио в кино</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem111100515 = document.getElementById("cartoon15")
            _elem111100515.addEventListener("click", function (event) {document.location.href = "/filmInfo111100515"; $$nav.off()});
        </script>
        
        <div id="cartoon16" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1103221.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Король динозавров 3D: Путешествие</h1>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem110322116 = document.getElementById("cartoon16")
            _elem110322116.addEventListener("click", function (event) {document.location.href = "/filmInfo110322116"; $$nav.off()});
        </script>
        
        <div id="cartoon17" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5117298.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Трио в перьях 2</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511729817 = document.getElementById("cartoon17")
            _elem511729817.addEventListener("click", function (event) {document.location.href = "/filmInfo511729817"; $$nav.off()});
        </script>
        
        <div id="cartoon18" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_635.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Побег из курятника</h1>
        <h1>(2000)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem63518 = document.getElementById("cartoon18")
            _elem63518.addEventListener("click", function (event) {document.location.href = "/filmInfo63518"; $$nav.off()});
        </script>
        
        <div id="cartoon19" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5024925.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Зверогонщики</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem502492519 = document.getElementById("cartoon19")
            _elem502492519.addEventListener("click", function (event) {document.location.href = "/filmInfo502492519"; $$nav.off()});
        </script>
        
        <div id="cartoon20" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1178862.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Черепашки-ниндзя: Погром мутантов</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem117886220 = document.getElementById("cartoon20")
            _elem117886220.addEventListener("click", function (event) {document.location.href = "/filmInfo117886220"; $$nav.off()});
        </script>
        
        <div id="cartoon21" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_969240.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Мастер меча онлайн: Порядковый ра</h1>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem96924021 = document.getElementById("cartoon21")
            _elem96924021.addEventListener("click", function (event) {document.location.href = "/filmInfo96924021"; $$nav.off()});
        </script>
        
        <div id="cartoon22" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_336423.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>ГоСегун: Странница во времени</h1>
        <h1>(1985)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem33642322 = document.getElementById("cartoon22")
            _elem33642322.addEventListener("click", function (event) {document.location.href = "/filmInfo33642322"; $$nav.off()});
        </script>
        
        <div id="cartoon23" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309189.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Смерть и возвращение Супермена</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem130918923 = document.getElementById("cartoon23")
            _elem130918923.addEventListener("click", function (event) {document.location.href = "/filmInfo130918923"; $$nav.off()});
        </script>
        
        <div id="cartoon24" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Обитель зла: Остров смерти</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526431024 = document.getElementById("cartoon24")
            _elem526431024.addEventListener("click", function (event) {document.location.href = "/filmInfo526431024"; $$nav.off()});
        </script>
        
        <div id="cartoon25" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Лига Справедливости: Мир войны</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530544225 = document.getElementById("cartoon25")
            _elem530544225.addEventListener("click", function (event) {document.location.href = "/filmInfo530544225"; $$nav.off()});
        </script>
        
        <div id="cartoon26" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1395369.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Леди Баг и Супер-Кот: Пробуждение</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem139536926 = document.getElementById("cartoon26")
            _elem139536926.addEventListener("click", function (event) {document.location.href = "/filmInfo139536926"; $$nav.off()});
        </script>
        
        <div id="cartoon27" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_673832.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Бен 10: Крушение пришельцев</h1>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem67383227 = document.getElementById("cartoon27")
            _elem67383227.addEventListener("click", function (event) {document.location.href = "/filmInfo67383227"; $$nav.off()});
        </script>
        
        <div id="cartoon28" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1115077.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Вкусы молодости</h1>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem111507728 = document.getElementById("cartoon28")
            _elem111507728.addEventListener("click", function (event) {document.location.href = "/filmInfo111507728"; $$nav.off()});
        </script>
        
        <div id="cartoon29" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_671367.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Далеко на Север</h1>
        <h1>(2015)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem67136729 = document.getElementById("cartoon29")
            _elem67136729.addEventListener("click", function (event) {document.location.href = "/filmInfo67136729"; $$nav.off()});
        </script>
        
        <div id="cartoon30" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1014472.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Гдлин</h1>
        <h1>(1990)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem101447230 = document.getElementById("cartoon30")
            _elem101447230.addEventListener("click", function (event) {document.location.href = "/filmInfo101447230"; $$nav.off()});
        </script>
        
        <div id="cartoon31" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film/8234.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Люпен III: Замок Калиостро</h1>
        <h1>(1979)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem823431 = document.getElementById("cartoon31")
            _elem823431.addEventListener("click", function (event) {document.location.href = "/filmInfo823431"; $$nav.off()});
        </script>
        
        <div id="cartoon32" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1363320.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Дорохэдоро: Дьявольский бонус</h1>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem136332032 = document.getElementById("cartoon32")
            _elem136332032.addEventListener("click", function (event) {document.location.href = "/filmInfo136332032"; $$nav.off()});
        </script>
        
        <div id="cartoon33" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1847.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Мой маленький пони</h1>
        <h1>(1986)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem184733 = document.getElementById("cartoon33")
            _elem184733.addEventListener("click", function (event) {document.location.href = "/filmInfo184733"; $$nav.off()});
        </script>
        
        <div id="cartoon34" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_733375.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Железный Человек: Восстание Техно</h1>
        <h1>(2013)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem73337534 = document.getElementById("cartoon34")
            _elem73337534.addEventListener("click", function (event) {document.location.href = "/filmInfo73337534"; $$nav.off()});
        </script>
        
        <div id="cartoon35" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5268477.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Руби Гиллман</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526847735 = document.getElementById("cartoon35")
            _elem526847735.addEventListener("click", function (event) {document.location.href = "/filmInfo526847735"; $$nav.off()});
        </script>
        
        <div id="cartoon36" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_29577.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Секрет Н.И.М.Х.</h1>
        <h1>(1982)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem2957736 = document.getElementById("cartoon36")
            _elem2957736.addEventListener("click", function (event) {document.location.href = "/filmInfo2957736"; $$nav.off()});
        </script>
        
        <div id="cartoon37" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_606675.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Лига справедливости: Гибель</h1>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem60667537 = document.getElementById("cartoon37")
            _elem60667537.addEventListener("click", function (event) {document.location.href = "/filmInfo60667537"; $$nav.off()});
        </script>
        
        <div id="cartoon38" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4769135.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Судзумэ закрывает двери</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem476913538 = document.getElementById("cartoon38")
            _elem476913538.addEventListener("click", function (event) {document.location.href = "/filmInfo476913538"; $$nav.off()});
        </script>
        
        <div id="cartoon39" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_266893.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Затерянный мир огненных драконов</h1>
        <h1>(2006)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem26689339 = document.getElementById("cartoon39")
            _elem26689339.addEventListener("click", function (event) {document.location.href = "/filmInfo26689339"; $$nav.off()});
        </script>
        
        <div id="cartoon40" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264991.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Маша и Медведь в кино: Скажите «О</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526499140 = document.getElementById("cartoon40")
            _elem526499140.addEventListener("click", function (event) {document.location.href = "/filmInfo526499140"; $$nav.off()});
        </script>
        
        <div id="cartoon41" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5106017.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Три разбойника и лев</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510601741 = document.getElementById("cartoon41")
            _elem510601741.addEventListener("click", function (event) {document.location.href = "/filmInfo510601741"; $$nav.off()});
        </script>
        
        <div id="cartoon42" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5024925.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Зверогонщики</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem502492542 = document.getElementById("cartoon42")
            _elem502492542.addEventListener("click", function (event) {document.location.href = "/filmInfo502492542"; $$nav.off()});
        </script>
        
        <div id="cartoon43" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1210742.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Мармадюк</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121074243 = document.getElementById("cartoon43")
            _elem121074243.addEventListener("click", function (event) {document.location.href = "/filmInfo121074243"; $$nav.off()});
        </script>
        
        <div id="cartoon44" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5041147.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Герои волшебного леса</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem504114744 = document.getElementById("cartoon44")
            _elem504114744.addEventListener("click", function (event) {document.location.href = "/filmInfo504114744"; $$nav.off()});
        </script>
        
        <div id="cartoon45" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_716048.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Тёмная лига справедливости</h1>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem71604845 = document.getElementById("cartoon45")
            _elem71604845.addEventListener("click", function (event) {document.location.href = "/filmInfo71604845"; $$nav.off()});
        </script>
        
        <div id="cartoon46" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118031.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Эрнест и Селестина: Новые приключ</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511803146 = document.getElementById("cartoon46")
            _elem511803146.addEventListener("click", function (event) {document.location.href = "/filmInfo511803146"; $$nav.off()});
        </script>
        
        <div id="cartoon47" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5215684.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Медведи-соседи: Код хранителей</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem521568447 = document.getElementById("cartoon47")
            _elem521568447.addEventListener("click", function (event) {document.location.href = "/filmInfo521568447"; $$nav.off()});
        </script>
        
        <div id="cartoon48" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_676277.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Паучонок</h1>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem67627748 = document.getElementById("cartoon48")
            _elem67627748.addEventListener("click", function (event) {document.location.href = "/filmInfo67627748"; $$nav.off()});
        </script>
        
        <div id="cartoon49" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5259941.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <h1>Ангел маленькой принцессы</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem525994149 = document.getElementById("cartoon49")
            _elem525994149.addEventListener("click", function (event) {document.location.href = "/filmInfo525994149"; $$nav.off()});
        </script>
        