
        <div id="cartoon0" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Лига Справедливости: Мир войны</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53054420 = document.getElementById("cartoon0")
            _elem53054420.addEventListener("click", function (event) {document.location.href = "/filmInfo53054420"; $$nav.off()});
        </script>
        
        <div id="cartoon1" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Обитель зла: Остров смерти</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52643101 = document.getElementById("cartoon1")
            _elem52643101.addEventListener("click", function (event) {document.location.href = "/filmInfo52643101"; $$nav.off()});
        </script>
        
        <div id="cartoon2" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1115077.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Вкусы молодости</h1>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem11150772 = document.getElementById("cartoon2")
            _elem11150772.addEventListener("click", function (event) {document.location.href = "/filmInfo11150772"; $$nav.off()});
        </script>
        
        <div id="cartoon3" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_671367.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Далеко на Север</h1>
        <h1>(2015)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem6713673 = document.getElementById("cartoon3")
            _elem6713673.addEventListener("click", function (event) {document.location.href = "/filmInfo6713673"; $$nav.off()});
        </script>
        
        <div id="cartoon4" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1014472.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Гдлин</h1>
        <h1>(1990)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem10144724 = document.getElementById("cartoon4")
            _elem10144724.addEventListener("click", function (event) {document.location.href = "/filmInfo10144724"; $$nav.off()});
        </script>
        
        <div id="cartoon5" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film/8234.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Люпен III: Замок Калиостро</h1>
        <h1>(1979)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem82345 = document.getElementById("cartoon5")
            _elem82345.addEventListener("click", function (event) {document.location.href = "/filmInfo82345"; $$nav.off()});
        </script>
        
        <div id="cartoon6" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1363320.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Дорохэдоро: Дьявольский бонус</h1>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13633206 = document.getElementById("cartoon6")
            _elem13633206.addEventListener("click", function (event) {document.location.href = "/filmInfo13633206"; $$nav.off()});
        </script>
        
        <div id="cartoon7" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1847.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Мой маленький пони</h1>
        <h1>(1986)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem18477 = document.getElementById("cartoon7")
            _elem18477.addEventListener("click", function (event) {document.location.href = "/filmInfo18477"; $$nav.off()});
        </script>
        
        <div id="cartoon8" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_733375.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Железный Человек: Восстание Техно</h1>
        <h1>(2013)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem7333758 = document.getElementById("cartoon8")
            _elem7333758.addEventListener("click", function (event) {document.location.href = "/filmInfo7333758"; $$nav.off()});
        </script>
        
        <div id="cartoon9" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5268477.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Руби Гиллман</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52684779 = document.getElementById("cartoon9")
            _elem52684779.addEventListener("click", function (event) {document.location.href = "/filmInfo52684779"; $$nav.off()});
        </script>
        
        <div id="cartoon10" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_29577.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Секрет Н.И.М.Х.</h1>
        <h1>(1982)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem2957710 = document.getElementById("cartoon10")
            _elem2957710.addEventListener("click", function (event) {document.location.href = "/filmInfo2957710"; $$nav.off()});
        </script>
        
        <div id="cartoon11" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_606675.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Лига справедливости: Гибель</h1>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem60667511 = document.getElementById("cartoon11")
            _elem60667511.addEventListener("click", function (event) {document.location.href = "/filmInfo60667511"; $$nav.off()});
        </script>
        
        <div id="cartoon12" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4769135.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Судзумэ закрывает двери</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem476913512 = document.getElementById("cartoon12")
            _elem476913512.addEventListener("click", function (event) {document.location.href = "/filmInfo476913512"; $$nav.off()});
        </script>
        
        <div id="cartoon13" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_266893.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Затерянный мир огненных драконов</h1>
        <h1>(2006)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem26689313 = document.getElementById("cartoon13")
            _elem26689313.addEventListener("click", function (event) {document.location.href = "/filmInfo26689313"; $$nav.off()});
        </script>
        
        <div id="cartoon14" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264991.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Маша и Медведь в кино: Скажите «О</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526499114 = document.getElementById("cartoon14")
            _elem526499114.addEventListener("click", function (event) {document.location.href = "/filmInfo526499114"; $$nav.off()});
        </script>
        
        <div id="cartoon15" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5106017.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Три разбойника и лев</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510601715 = document.getElementById("cartoon15")
            _elem510601715.addEventListener("click", function (event) {document.location.href = "/filmInfo510601715"; $$nav.off()});
        </script>
        
        <div id="cartoon16" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5024925.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Зверогонщики</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem502492516 = document.getElementById("cartoon16")
            _elem502492516.addEventListener("click", function (event) {document.location.href = "/filmInfo502492516"; $$nav.off()});
        </script>
        
        <div id="cartoon17" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1210742.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Мармадюк</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121074217 = document.getElementById("cartoon17")
            _elem121074217.addEventListener("click", function (event) {document.location.href = "/filmInfo121074217"; $$nav.off()});
        </script>
        
        <div id="cartoon18" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5041147.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Герои волшебного леса</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem504114718 = document.getElementById("cartoon18")
            _elem504114718.addEventListener("click", function (event) {document.location.href = "/filmInfo504114718"; $$nav.off()});
        </script>
        
        <div id="cartoon19" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_716048.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Тёмная лига справедливости</h1>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem71604819 = document.getElementById("cartoon19")
            _elem71604819.addEventListener("click", function (event) {document.location.href = "/filmInfo71604819"; $$nav.off()});
        </script>
        
        <div id="cartoon20" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118031.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Эрнест и Селестина: Новые приключ</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511803120 = document.getElementById("cartoon20")
            _elem511803120.addEventListener("click", function (event) {document.location.href = "/filmInfo511803120"; $$nav.off()});
        </script>
        
        <div id="cartoon21" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5215684.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Медведи-соседи: Код хранителей</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem521568421 = document.getElementById("cartoon21")
            _elem521568421.addEventListener("click", function (event) {document.location.href = "/filmInfo521568421"; $$nav.off()});
        </script>
        
        <div id="cartoon22" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_676277.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Паучонок</h1>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem67627722 = document.getElementById("cartoon22")
            _elem67627722.addEventListener("click", function (event) {document.location.href = "/filmInfo67627722"; $$nav.off()});
        </script>
        
        <div id="cartoon23" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1395369.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Леди Баг и Супер-Кот: Пробуждение</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem139536923 = document.getElementById("cartoon23")
            _elem139536923.addEventListener("click", function (event) {document.location.href = "/filmInfo139536923"; $$nav.off()});
        </script>
        
        <div id="cartoon24" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5259941.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Ангел маленькой принцессы</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem525994124 = document.getElementById("cartoon24")
            _elem525994124.addEventListener("click", function (event) {document.location.href = "/filmInfo525994124"; $$nav.off()});
        </script>
        
        <div id="cartoon25" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5278422.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Турбозавры. Привет, Сирена!</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem527842225 = document.getElementById("cartoon25")
            _elem527842225.addEventListener("click", function (event) {document.location.href = "/filmInfo527842225"; $$nav.off()});
        </script>
        
        <div id="cartoon26" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4769135.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Судзумэ закрывает двери</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem476913526 = document.getElementById("cartoon26")
            _elem476913526.addEventListener("click", function (event) {document.location.href = "/filmInfo476913526"; $$nav.off()});
        </script>
        
        <div id="cartoon27" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5270474.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Люпен III против Кошачьего глаза</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem527047427 = document.getElementById("cartoon27")
            _elem527047427.addEventListener("click", function (event) {document.location.href = "/filmInfo527047427"; $$nav.off()});
        </script>
        
        <div id="cartoon28" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_377640.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Очень мрачное кино</h1>
        <h1>(2007)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem37764028 = document.getElementById("cartoon28")
            _elem37764028.addEventListener("click", function (event) {document.location.href = "/filmInfo37764028"; $$nav.off()});
        </script>
        
        <div id="cartoon29" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4699907.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Квартет Исэкай. Фильм</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem469990729 = document.getElementById("cartoon29")
            _elem469990729.addEventListener("click", function (event) {document.location.href = "/filmInfo469990729"; $$nav.off()});
        </script>
        
        <div id="cartoon30" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_933839.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Мавка. Лесная песня</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem93383930 = document.getElementById("cartoon30")
            _elem93383930.addEventListener("click", function (event) {document.location.href = "/filmInfo93383930"; $$nav.off()});
        </script>
        
        <div id="cartoon31" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1111005.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Братья Супер Марио в кино</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem111100531 = document.getElementById("cartoon31")
            _elem111100531.addEventListener("click", function (event) {document.location.href = "/filmInfo111100531"; $$nav.off()});
        </script>
        
        <div id="cartoon32" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4948091.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Нимона</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494809132 = document.getElementById("cartoon32")
            _elem494809132.addEventListener("click", function (event) {document.location.href = "/filmInfo494809132"; $$nav.off()});
        </script>
        
        <div id="cartoon33" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4948091.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Нимона</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494809133 = document.getElementById("cartoon33")
            _elem494809133.addEventListener("click", function (event) {document.location.href = "/filmInfo494809133"; $$nav.off()});
        </script>
        
        <div id="cartoon34" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1233418.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Глубокое море</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem123341834 = document.getElementById("cartoon34")
            _elem123341834.addEventListener("click", function (event) {document.location.href = "/filmInfo123341834"; $$nav.off()});
        </script>
        
        <div id="cartoon35" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5025923.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Запрещено собакам и итальянцам</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem502592335 = document.getElementById("cartoon35")
            _elem502592335.addEventListener("click", function (event) {document.location.href = "/filmInfo502592335"; $$nav.off()});
        </script>
        
        <div id="cartoon36" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5238227.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Бэтмен: Гибель, пришедшая в Готэм</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523822736 = document.getElementById("cartoon36")
            _elem523822736.addEventListener("click", function (event) {document.location.href = "/filmInfo523822736"; $$nav.off()});
        </script>
        
        <div id="cartoon37" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5076516.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Легенды «Смертельной битвы»: Снеж</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem507651637 = document.getElementById("cartoon37")
            _elem507651637.addEventListener("click", function (event) {document.location.href = "/filmInfo507651637"; $$nav.off()});
        </script>
        
        <div id="cartoon38" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_80134.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Предвестники бури, вперед!</h1>
        <h1>(1966)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem8013438 = document.getElementById("cartoon38")
            _elem8013438.addEventListener("click", function (event) {document.location.href = "/filmInfo8013438"; $$nav.off()});
        </script>
        
        <div id="cartoon39" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_344415.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Ты лучший, Чарли Браун</h1>
        <h1>(1979)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem34441539 = document.getElementById("cartoon39")
            _elem34441539.addEventListener("click", function (event) {document.location.href = "/filmInfo34441539"; $$nav.off()});
        </script>
        
        <div id="cartoon40" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1007469.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Пришельцы в доме</h1>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem100746940 = document.getElementById("cartoon40")
            _elem100746940.addEventListener("click", function (event) {document.location.href = "/filmInfo100746940"; $$nav.off()});
        </script>
        
        <div id="cartoon41" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5267820.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Эмезис синего цвета</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526782041 = document.getElementById("cartoon41")
            _elem526782041.addEventListener("click", function (event) {document.location.href = "/filmInfo526782041"; $$nav.off()});
        </script>
        
        <div id="cartoon42" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5126555.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Чёрный клевер: Меч короля магов</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem512655542 = document.getElementById("cartoon42")
            _elem512655542.addEventListener("click", function (event) {document.location.href = "/filmInfo512655542"; $$nav.off()});
        </script>
        
        <div id="cartoon43" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_85038.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Каспер: Начало</h1>
        <h1>(1997)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem8503843 = document.getElementById("cartoon43")
            _elem8503843.addEventListener("click", function (event) {document.location.href = "/filmInfo8503843"; $$nav.off()});
        </script>
        
        <div id="cartoon44" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_85038.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Каспер: Начало</h1>
        <h1>(1997)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem8503844 = document.getElementById("cartoon44")
            _elem8503844.addEventListener("click", function (event) {document.location.href = "/filmInfo8503844"; $$nav.off()});
        </script>
        
        <div id="cartoon45" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1283709.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Нэчжа</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem128370945 = document.getElementById("cartoon45")
            _elem128370945.addEventListener("click", function (event) {document.location.href = "/filmInfo128370945"; $$nav.off()});
        </script>
        
        <div id="cartoon46" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4423227.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Бэтмен: Долгий Хэллоуин. Часть 2</h1>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem442322746 = document.getElementById("cartoon46")
            _elem442322746.addEventListener("click", function (event) {document.location.href = "/filmInfo442322746"; $$nav.off()});
        </script>
        
        <div id="cartoon47" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5212149.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Мумиёшки</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem521214947 = document.getElementById("cartoon47")
            _elem521214947.addEventListener("click", function (event) {document.location.href = "/filmInfo521214947"; $$nav.off()});
        </script>
        
        <div id="cartoon48" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_461714.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Мурзилка на спутнике</h1>
        <h1>(1960)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46171448 = document.getElementById("cartoon48")
            _elem46171448.addEventListener("click", function (event) {document.location.href = "/filmInfo46171448"; $$nav.off()});
        </script>
        
        <div id="cartoon49" class="cartoonsItem item nav-item" data-nav_ud="#channelBtn_inner,0,#serial0,0">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4889667.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Элементарно</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem488966749 = document.getElementById("cartoon49")
            _elem488966749.addEventListener("click", function (event) {document.location.href = "/filmInfo488966749"; $$nav.off()});
        </script>
        