
        <div id="cartoon0" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Человек-паук: Паутин</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem12191770 = document.getElementById("cartoon0")
            _elem12191770.addEventListener("click", function (event) {document.location.href = "/filmInfo12191770"; $$nav.off()});
        </script>
        
        <div id="cartoon1" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1395369.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Леди Баг и Супер-Кот</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13953691 = document.getElementById("cartoon1")
            _elem13953691.addEventListener("click", function (event) {document.location.href = "/filmInfo13953691"; $$nav.off()});
        </script>
        
        <div id="cartoon2" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4889667.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Элементарно</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem48896672 = document.getElementById("cartoon2")
            _elem48896672.addEventListener("click", function (event) {document.location.href = "/filmInfo48896672"; $$nav.off()});
        </script>
        
        <div id="cartoon3" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4889667.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Элементарно</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem48896673 = document.getElementById("cartoon3")
            _elem48896673.addEventListener("click", function (event) {document.location.href = "/filmInfo48896673"; $$nav.off()});
        </script>
        
        <div id="cartoon4" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1178862.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Черепашки-ниндзя: По</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem11788624 = document.getElementById("cartoon4")
            _elem11788624.addEventListener("click", function (event) {document.location.href = "/filmInfo11788624"; $$nav.off()});
        </script>
        
        <div id="cartoon5" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_8243.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Покемон 2000</p>
        <h1>(1999)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem82435 = document.getElementById("cartoon5")
            _elem82435.addEventListener("click", function (event) {document.location.href = "/filmInfo82435"; $$nav.off()});
        </script>
        
        <div id="cartoon6" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_794527.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Сын Бэтмена</p>
        <h1>(2014)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem7945276 = document.getElementById("cartoon6")
            _elem7945276.addEventListener("click", function (event) {document.location.href = "/filmInfo7945276"; $$nav.off()});
        </script>
        
        <div id="cartoon7" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5266956.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Катак. Ледниковый по</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52669567 = document.getElementById("cartoon7")
            _elem52669567.addEventListener("click", function (event) {document.location.href = "/filmInfo52669567"; $$nav.off()});
        </script>
        
        <div id="cartoon8" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Человек-паук: Паутин</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem12191778 = document.getElementById("cartoon8")
            _elem12191778.addEventListener("click", function (event) {document.location.href = "/filmInfo12191778"; $$nav.off()});
        </script>
        
        <div id="cartoon9" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_713609.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Том и Джерри: Робин </p>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem7136099 = document.getElementById("cartoon9")
            _elem7136099.addEventListener("click", function (event) {document.location.href = "/filmInfo7136099"; $$nav.off()});
        </script>
        
        <div id="cartoon10" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1360099.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Лакадейзи</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem136009910 = document.getElementById("cartoon10")
            _elem136009910.addEventListener("click", function (event) {document.location.href = "/filmInfo136009910"; $$nav.off()});
        </script>
        
        <div id="cartoon11" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1000394.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Мобильный воин Ганда</p>
        <h1>(2016)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem100039411 = document.getElementById("cartoon11")
            _elem100039411.addEventListener("click", function (event) {document.location.href = "/filmInfo100039411"; $$nav.off()});
        </script>
        
        <div id="cartoon12" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_589588.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Звезда Пушистландии</p>
        <h1>(1984)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem58958812 = document.getElementById("cartoon12")
            _elem58958812.addEventListener("click", function (event) {document.location.href = "/filmInfo58958812"; $$nav.off()});
        </script>
        
        <div id="cartoon13" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1239591.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Вторая страна</p>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem123959113 = document.getElementById("cartoon13")
            _elem123959113.addEventListener("click", function (event) {document.location.href = "/filmInfo123959113"; $$nav.off()});
        </script>
        
        <div id="cartoon14" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Лига Справедливости:</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530544214 = document.getElementById("cartoon14")
            _elem530544214.addEventListener("click", function (event) {document.location.href = "/filmInfo530544214"; $$nav.off()});
        </script>
        
        <div id="cartoon15" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Лига Справедливости:</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530544215 = document.getElementById("cartoon15")
            _elem530544215.addEventListener("click", function (event) {document.location.href = "/filmInfo530544215"; $$nav.off()});
        </script>
        
        <div id="cartoon16" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5138530.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Мальчик, крот, лис и</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem513853016 = document.getElementById("cartoon16")
            _elem513853016.addEventListener("click", function (event) {document.location.href = "/filmInfo513853016"; $$nav.off()});
        </script>
        
        <div id="cartoon17" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5138530.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Мальчик, крот, лис и</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem513853017 = document.getElementById("cartoon17")
            _elem513853017.addEventListener("click", function (event) {document.location.href = "/filmInfo513853017"; $$nav.off()});
        </script>
        
        <div id="cartoon18" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Человек-паук: Паутин</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121917718 = document.getElementById("cartoon18")
            _elem121917718.addEventListener("click", function (event) {document.location.href = "/filmInfo121917718"; $$nav.off()});
        </script>
        
        <div id="cartoon19" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_782791.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Лига справедливости:</p>
        <h1>(2014)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem78279119 = document.getElementById("cartoon19")
            _elem78279119.addEventListener("click", function (event) {document.location.href = "/filmInfo78279119"; $$nav.off()});
        </script>
        
        <div id="cartoon20" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Обитель зла: Остров </p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526431020 = document.getElementById("cartoon20")
            _elem526431020.addEventListener("click", function (event) {document.location.href = "/filmInfo526431020"; $$nav.off()});
        </script>
        
        <div id="cartoon21" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1167101.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Чарли и фантастическ</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem116710121 = document.getElementById("cartoon21")
            _elem116710121.addEventListener("click", function (event) {document.location.href = "/filmInfo116710121"; $$nav.off()});
        </script>
        
        <div id="cartoon22" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118031.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Эрнест и Селестина: </p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511803122 = document.getElementById("cartoon22")
            _elem511803122.addEventListener("click", function (event) {document.location.href = "/filmInfo511803122"; $$nav.off()});
        </script>
        
        <div id="cartoon23" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1111005.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Братья Супер Марио в</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem111100523 = document.getElementById("cartoon23")
            _elem111100523.addEventListener("click", function (event) {document.location.href = "/filmInfo111100523"; $$nav.off()});
        </script>
        
        <div id="cartoon24" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1111005.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Братья Супер Марио в</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem111100524 = document.getElementById("cartoon24")
            _elem111100524.addEventListener("click", function (event) {document.location.href = "/filmInfo111100524"; $$nav.off()});
        </script>
        
        <div id="cartoon25" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1103221.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Король динозавров 3D</p>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem110322125 = document.getElementById("cartoon25")
            _elem110322125.addEventListener("click", function (event) {document.location.href = "/filmInfo110322125"; $$nav.off()});
        </script>
        
        <div id="cartoon26" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5117298.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Трио в перьях 2</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511729826 = document.getElementById("cartoon26")
            _elem511729826.addEventListener("click", function (event) {document.location.href = "/filmInfo511729826"; $$nav.off()});
        </script>
        
        <div id="cartoon27" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_635.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Побег из курятника</p>
        <h1>(2000)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem63527 = document.getElementById("cartoon27")
            _elem63527.addEventListener("click", function (event) {document.location.href = "/filmInfo63527"; $$nav.off()});
        </script>
        
        <div id="cartoon28" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5024925.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Зверогонщики</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem502492528 = document.getElementById("cartoon28")
            _elem502492528.addEventListener("click", function (event) {document.location.href = "/filmInfo502492528"; $$nav.off()});
        </script>
        
        <div id="cartoon29" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_969240.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Мастер меча онлайн: </p>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem96924029 = document.getElementById("cartoon29")
            _elem96924029.addEventListener("click", function (event) {document.location.href = "/filmInfo96924029"; $$nav.off()});
        </script>
        
        <div id="cartoon30" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_336423.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>ГоСегун: Странница в</p>
        <h1>(1985)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem33642330 = document.getElementById("cartoon30")
            _elem33642330.addEventListener("click", function (event) {document.location.href = "/filmInfo33642330"; $$nav.off()});
        </script>
        
        <div id="cartoon31" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309189.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Смерть и возвращение</p>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem130918931 = document.getElementById("cartoon31")
            _elem130918931.addEventListener("click", function (event) {document.location.href = "/filmInfo130918931"; $$nav.off()});
        </script>
        
        <div id="cartoon32" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Обитель зла: Остров </p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526431032 = document.getElementById("cartoon32")
            _elem526431032.addEventListener("click", function (event) {document.location.href = "/filmInfo526431032"; $$nav.off()});
        </script>
        
        <div id="cartoon33" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Лига Справедливости:</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530544233 = document.getElementById("cartoon33")
            _elem530544233.addEventListener("click", function (event) {document.location.href = "/filmInfo530544233"; $$nav.off()});
        </script>
        
        <div id="cartoon34" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1395369.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Леди Баг и Супер-Кот</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem139536934 = document.getElementById("cartoon34")
            _elem139536934.addEventListener("click", function (event) {document.location.href = "/filmInfo139536934"; $$nav.off()});
        </script>
        
        <div id="cartoon35" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_673832.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Бен 10: Крушение при</p>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem67383235 = document.getElementById("cartoon35")
            _elem67383235.addEventListener("click", function (event) {document.location.href = "/filmInfo67383235"; $$nav.off()});
        </script>
        
        <div id="cartoon36" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1115077.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Вкусы молодости</p>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem111507736 = document.getElementById("cartoon36")
            _elem111507736.addEventListener("click", function (event) {document.location.href = "/filmInfo111507736"; $$nav.off()});
        </script>
        
        <div id="cartoon37" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_671367.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Далеко на Север</p>
        <h1>(2015)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem67136737 = document.getElementById("cartoon37")
            _elem67136737.addEventListener("click", function (event) {document.location.href = "/filmInfo67136737"; $$nav.off()});
        </script>
        
        <div id="cartoon38" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1014472.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Гдлин</p>
        <h1>(1990)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem101447238 = document.getElementById("cartoon38")
            _elem101447238.addEventListener("click", function (event) {document.location.href = "/filmInfo101447238"; $$nav.off()});
        </script>
        
        <div id="cartoon39" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film/8234.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Люпен III: Замок Кал</p>
        <h1>(1979)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem823439 = document.getElementById("cartoon39")
            _elem823439.addEventListener("click", function (event) {document.location.href = "/filmInfo823439"; $$nav.off()});
        </script>
        
        <div id="cartoon40" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1363320.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Дорохэдоро: Дьявольс</p>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem136332040 = document.getElementById("cartoon40")
            _elem136332040.addEventListener("click", function (event) {document.location.href = "/filmInfo136332040"; $$nav.off()});
        </script>
        
        <div id="cartoon41" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1847.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Мой маленький пони</p>
        <h1>(1986)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem184741 = document.getElementById("cartoon41")
            _elem184741.addEventListener("click", function (event) {document.location.href = "/filmInfo184741"; $$nav.off()});
        </script>
        
        <div id="cartoon42" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_733375.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Железный Человек: Во</p>
        <h1>(2013)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem73337542 = document.getElementById("cartoon42")
            _elem73337542.addEventListener("click", function (event) {document.location.href = "/filmInfo73337542"; $$nav.off()});
        </script>
        
        <div id="cartoon43" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5268477.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Руби Гиллман</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526847743 = document.getElementById("cartoon43")
            _elem526847743.addEventListener("click", function (event) {document.location.href = "/filmInfo526847743"; $$nav.off()});
        </script>
        
        <div id="cartoon44" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_29577.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Секрет Н.И.М.Х.</p>
        <h1>(1982)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem2957744 = document.getElementById("cartoon44")
            _elem2957744.addEventListener("click", function (event) {document.location.href = "/filmInfo2957744"; $$nav.off()});
        </script>
        
        <div id="cartoon45" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_606675.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Лига справедливости:</p>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem60667545 = document.getElementById("cartoon45")
            _elem60667545.addEventListener("click", function (event) {document.location.href = "/filmInfo60667545"; $$nav.off()});
        </script>
        
        <div id="cartoon46" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4769135.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Судзумэ закрывает дв</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem476913546 = document.getElementById("cartoon46")
            _elem476913546.addEventListener("click", function (event) {document.location.href = "/filmInfo476913546"; $$nav.off()});
        </script>
        
        <div id="cartoon47" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_266893.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Затерянный мир огнен</p>
        <h1>(2006)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem26689347 = document.getElementById("cartoon47")
            _elem26689347.addEventListener("click", function (event) {document.location.href = "/filmInfo26689347"; $$nav.off()});
        </script>
        
        <div id="cartoon48" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264991.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Маша и Медведь в кин</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526499148 = document.getElementById("cartoon48")
            _elem526499148.addEventListener("click", function (event) {document.location.href = "/filmInfo526499148"; $$nav.off()});
        </script>
        
        <div id="cartoon49" class="cartoonsItem item nav-item">
          <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5106017.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;">
        </div>
         <div class="text filmsItemText">
        <p>Три разбойника и лев</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510601749 = document.getElementById("cartoon49")
            _elem510601749.addEventListener("click", function (event) {document.location.href = "/filmInfo510601749"; $$nav.off()});
        </script>
        