
        <div id="film0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5417414.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рождественское вино</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54174140 = document.getElementById("film0")
            _elem54174140.addEventListener("click", function (event) {document.location.href = "/filmInfo54174140"; $$nav.off()});
        </script>
        
        <div id="film1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1289334.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Голодные игры: Балла</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem12893341 = document.getElementById("film1")
            _elem12893341.addEventListener("click", function (event) {document.location.href = "/filmInfo12893341"; $$nav.off()});
        </script>
        
        <div id="film2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5142383.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Природа любви</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51423832 = document.getElementById("film2")
            _elem51423832.addEventListener("click", function (event) {document.location.href = "/filmInfo51423832"; $$nav.off()});
        </script>
        
        <div id="film3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5003833.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Сторонник 2</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50038333 = document.getElementById("film3")
            _elem50038333.addEventListener("click", function (event) {document.location.href = "/filmInfo50038333"; $$nav.off()});
        </script>
        
        <div id="film4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4477250.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Манодром</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44772504 = document.getElementById("film4")
            _elem44772504.addEventListener("click", function (event) {document.location.href = "/filmInfo44772504"; $$nav.off()});
        </script>
        
        <div id="film5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5397422.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Порочный роман: Исто</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53974225 = document.getElementById("film5")
            _elem53974225.addEventListener("click", function (event) {document.location.href = "/filmInfo53974225"; $$nav.off()});
        </script>
        
        <div id="film6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5406958.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рождество с бывшей</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54069586 = document.getElementById("film6")
            _elem54069586.addEventListener("click", function (event) {document.location.href = "/filmInfo54069586"; $$nav.off()});
        </script>
        
        <div id="film7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4926453.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рецепт любви</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49264537 = document.getElementById("film7")
            _elem49264537.addEventListener("click", function (event) {document.location.href = "/filmInfo49264537"; $$nav.off()});
        </script>
        
        <div id="film8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5396074.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Сукхи</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53960748 = document.getElementById("film8")
            _elem53960748.addEventListener("click", function (event) {document.location.href = "/filmInfo53960748"; $$nav.off()});
        </script>
        
        <div id="film9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5368145.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Грязный Юг</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53681459 = document.getElementById("film9")
            _elem53681459.addEventListener("click", function (event) {document.location.href = "/filmInfo53681459"; $$nav.off()});
        </script>
        
        <div id="film10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5073551.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мчимся мы сквозь сне</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem507355110 = document.getElementById("film10")
            _elem507355110.addEventListener("click", function (event) {document.location.href = "/filmInfo507355110"; $$nav.off()});
        </script>
        
        <div id="film11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4672384.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Растин</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem467238411 = document.getElementById("film11")
            _elem467238411.addEventListener("click", function (event) {document.location.href = "/filmInfo467238411"; $$nav.off()});
        </script>
        
        <div id="film12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4672384.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Растин</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem467238412 = document.getElementById("film12")
            _elem467238412.addEventListener("click", function (event) {document.location.href = "/filmInfo467238412"; $$nav.off()});
        </script>
        
        <div id="film13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4860617.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Доктор Джекилл</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem486061713 = document.getElementById("film13")
            _elem486061713.addEventListener("click", function (event) {document.location.href = "/filmInfo486061713"; $$nav.off()});
        </script>
        
        <div id="film14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5378326.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">В любви и глубокой в</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem537832614 = document.getElementById("film14")
            _elem537832614.addEventListener("click", function (event) {document.location.href = "/filmInfo537832614"; $$nav.off()});
        </script>
        
        <div id="film15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5136632.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дворняга</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem513663215 = document.getElementById("film15")
            _elem513663215.addEventListener("click", function (event) {document.location.href = "/filmInfo513663215"; $$nav.off()});
        </script>
        
        <div id="film16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5119522.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Герой наших снов</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511952216 = document.getElementById("film16")
            _elem511952216.addEventListener("click", function (event) {document.location.href = "/filmInfo511952216"; $$nav.off()});
        </script>
        
        <div id="film17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4947675.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Твой счастливый день</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494767517 = document.getElementById("film17")
            _elem494767517.addEventListener("click", function (event) {document.location.href = "/filmInfo494767517"; $$nav.off()});
        </script>
        
        <div id="film18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1154930.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Недруг</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem115493018 = document.getElementById("film18")
            _elem115493018.addEventListener("click", function (event) {document.location.href = "/filmInfo115493018"; $$nav.off()});
        </script>
        
        <div id="film19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5406528.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Проверь дважды</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540652819 = document.getElementById("film19")
            _elem540652819.addEventListener("click", function (event) {document.location.href = "/filmInfo540652819"; $$nav.off()});
        </script>
        
        <div id="film20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4894012.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Тигр 3</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem489401220 = document.getElementById("film20")
            _elem489401220.addEventListener("click", function (event) {document.location.href = "/filmInfo489401220"; $$nav.off()});
        </script>
        
        <div id="film21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4908901.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Самое. Лучшее. Рожде</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem490890121 = document.getElementById("film21")
            _elem490890121.addEventListener("click", function (event) {document.location.href = "/filmInfo490890121"; $$nav.off()});
        </script>
        
        <div id="film22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5094412.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Викинги: Жажда крови</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem509441222 = document.getElementById("film22")
            _elem509441222.addEventListener("click", function (event) {document.location.href = "/filmInfo509441222"; $$nav.off()});
        </script>
        
        <div id="film23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5413462.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Исповедь</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem541346223 = document.getElementById("film23")
            _elem541346223.addEventListener("click", function (event) {document.location.href = "/filmInfo541346223"; $$nav.off()});
        </script>
        
        <div id="film24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4917532.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дурные деньги</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem491753224 = document.getElementById("film24")
            _elem491753224.addEventListener("click", function (event) {document.location.href = "/filmInfo491753224"; $$nav.off()});
        </script>
        
        <div id="film25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5280892.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Старый дуб</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem528089225 = document.getElementById("film25")
            _elem528089225.addEventListener("click", function (event) {document.location.href = "/filmInfo528089225"; $$nav.off()});
        </script>
        
        <div id="film26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5246538.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Клуб убийц</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem524653826 = document.getElementById("film26")
            _elem524653826.addEventListener("click", function (event) {document.location.href = "/filmInfo524653826"; $$nav.off()});
        </script>
        
        <div id="film27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5197332.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Пернатый патруль</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem519733227 = document.getElementById("film27")
            _elem519733227.addEventListener("click", function (event) {document.location.href = "/filmInfo519733227"; $$nav.off()});
        </script>
        
        <div id="film28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4913245.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Чувства Анны</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem491324528 = document.getElementById("film28")
            _elem491324528.addEventListener("click", function (event) {document.location.href = "/filmInfo491324528"; $$nav.off()});
        </script>
        
        <div id="film29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4860001.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мистер Блейк к вашим</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem486000129 = document.getElementById("film29")
            _elem486000129.addEventListener("click", function (event) {document.location.href = "/filmInfo486000129"; $$nav.off()});
        </script>
        
        <div id="film30" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_989396.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Волшебное приключени</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem98939630 = document.getElementById("film30")
            _elem98939630.addEventListener("click", function (event) {document.location.href = "/filmInfo98939630"; $$nav.off()});
        </script>
        
        <div id="film31" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4396771.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Великий беглец</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem439677131 = document.getElementById("film31")
            _elem439677131.addEventListener("click", function (event) {document.location.href = "/filmInfo439677131"; $$nav.off()});
        </script>
        
        <div id="film32" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4969384.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дом тысячи дверей</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem496938432 = document.getElementById("film32")
            _elem496938432.addEventListener("click", function (event) {document.location.href = "/filmInfo496938432"; $$nav.off()});
        </script>
        
        <div id="film33" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5088995.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Синдром</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem508899533 = document.getElementById("film33")
            _elem508899533.addEventListener("click", function (event) {document.location.href = "/filmInfo508899533"; $$nav.off()});
        </script>
        
        <div id="film34" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5265666.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Той boy</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526566634 = document.getElementById("film34")
            _elem526566634.addEventListener("click", function (event) {document.location.href = "/filmInfo526566634"; $$nav.off()});
        </script>
        
        <div id="film35" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4499386.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Оставленные</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem449938635 = document.getElementById("film35")
            _elem449938635.addEventListener("click", function (event) {document.location.href = "/filmInfo449938635"; $$nav.off()});
        </script>
        
        <div id="film36" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4542662.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Никому ни слова</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem454266236 = document.getElementById("film36")
            _elem454266236.addEventListener("click", function (event) {document.location.href = "/filmInfo454266236"; $$nav.off()});
        </script>
        
        <div id="film37" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4477912.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Визгун</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem447791237 = document.getElementById("film37")
            _elem447791237.addEventListener("click", function (event) {document.location.href = "/filmInfo447791237"; $$nav.off()});
        </script>
        
        <div id="film38" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4948033.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рождество в отеле Хо</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494803338 = document.getElementById("film38")
            _elem494803338.addEventListener("click", function (event) {document.location.href = "/filmInfo494803338"; $$nav.off()});
        </script>
        
        <div id="film39" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5318704.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Крик. Ночь перед Рож</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem531870439 = document.getElementById("film39")
            _elem531870439.addEventListener("click", function (event) {document.location.href = "/filmInfo531870439"; $$nav.off()});
        </script>
        
        <div id="film40" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5072899.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Подходящая плоть</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem507289940 = document.getElementById("film40")
            _elem507289940.addEventListener("click", function (event) {document.location.href = "/filmInfo507289940"; $$nav.off()});
        </script>
        
        <div id="film41" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4499408.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Создатель</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem449940841 = document.getElementById("film41")
            _elem449940841.addEventListener("click", function (event) {document.location.href = "/filmInfo449940841"; $$nav.off()});
        </script>
        
        <div id="film42" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4499408.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Создатель</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem449940842 = document.getElementById("film42")
            _elem449940842.addEventListener("click", function (event) {document.location.href = "/filmInfo449940842"; $$nav.off()});
        </script>
        
        <div id="film43" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5386352.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Влюбиться в воздухе</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem538635243 = document.getElementById("film43")
            _elem538635243.addEventListener("click", function (event) {document.location.href = "/filmInfo538635243"; $$nav.off()});
        </script>
        
        <div id="film44" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1369017.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Грохот сквозь тьму</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem136901744 = document.getElementById("film44")
            _elem136901744.addEventListener("click", function (event) {document.location.href = "/filmInfo136901744"; $$nav.off()});
        </script>
        
        <div id="film45" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5399285.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Слай Сталлоне</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem539928545 = document.getElementById("film45")
            _elem539928545.addEventListener("click", function (event) {document.location.href = "/filmInfo539928545"; $$nav.off()});
        </script>
        
        <div id="film46" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1396324.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Клуб чудес</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem139632446 = document.getElementById("film46")
            _elem139632446.addEventListener("click", function (event) {document.location.href = "/filmInfo139632446"; $$nav.off()});
        </script>
        
        <div id="film47" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4673423.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Список</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem467342347 = document.getElementById("film47")
            _elem467342347.addEventListener("click", function (event) {document.location.href = "/filmInfo467342347"; $$nav.off()});
        </script>
        
        <div id="film48" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4847611.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">В огне</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem484761148 = document.getElementById("film48")
            _elem484761148.addEventListener("click", function (event) {document.location.href = "/filmInfo484761148"; $$nav.off()});
        </script>
        
        <div id="film49" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5098675.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Всё о сексе</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem509867549 = document.getElementById("film49")
            _elem509867549.addEventListener("click", function (event) {document.location.href = "/filmInfo509867549"; $$nav.off()});
        </script>
        