
        <div id="film0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4751424.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Ужас Истфилда. Первое изгнание</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47514240 = document.getElementById("film0")
            _elem47514240.addEventListener("click", function (event) {document.location.href = "/filmInfo47514240"; $$nav.off()});
        </script>
        
        <div id="film1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5053842.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Хождение по мукам</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50538421 = document.getElementById("film1")
            _elem50538421.addEventListener("click", function (event) {document.location.href = "/filmInfo50538421"; $$nav.off()});
        </script>
        
        <div id="film2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5082399.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>По зову долга</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50823992 = document.getElementById("film2")
            _elem50823992.addEventListener("click", function (event) {document.location.href = "/filmInfo50823992"; $$nav.off()});
        </script>
        
        <div id="film3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4672184.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Шрапнель</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46721843 = document.getElementById("film3")
            _elem46721843.addEventListener("click", function (event) {document.location.href = "/filmInfo46721843"; $$nav.off()});
        </script>
        
        <div id="film4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4536580.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Баба Яга спасает мир</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem45365804 = document.getElementById("film4")
            _elem45365804.addEventListener("click", function (event) {document.location.href = "/filmInfo45365804"; $$nav.off()});
        </script>
        
        <div id="film5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5106374.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Король неба</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51063745 = document.getElementById("film5")
            _elem51063745.addEventListener("click", function (event) {document.location.href = "/filmInfo51063745"; $$nav.off()});
        </script>
        
        <div id="film6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4498651.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Кровь за кровь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44986516 = document.getElementById("film6")
            _elem44986516.addEventListener("click", function (event) {document.location.href = "/filmInfo44986516"; $$nav.off()});
        </script>
        
        <div id="film7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Человек-паук: Паутина вселенных</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem12191777 = document.getElementById("film7")
            _elem12191777.addEventListener("click", function (event) {document.location.href = "/filmInfo12191777"; $$nav.off()});
        </script>
        
        <div id="film8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4423264.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Живопись</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44232648 = document.getElementById("film8")
            _elem44232648.addEventListener("click", function (event) {document.location.href = "/filmInfo44232648"; $$nav.off()});
        </script>
        
        <div id="film9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Лига Справедливости: Мир войны</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53054429 = document.getElementById("film9")
            _elem53054429.addEventListener("click", function (event) {document.location.href = "/filmInfo53054429"; $$nav.off()});
        </script>
        
        <div id="film10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5325611.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Коллектив</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem532561110 = document.getElementById("film10")
            _elem532561110.addEventListener("click", function (event) {document.location.href = "/filmInfo532561110"; $$nav.off()});
        </script>
        
        <div id="film11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4645872.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Безумная поездочка</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem464587211 = document.getElementById("film11")
            _elem464587211.addEventListener("click", function (event) {document.location.href = "/filmInfo464587211"; $$nav.off()});
        </script>
        
        <div id="film12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5364390.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Король и Шут: Сказка о Горшке и К</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536439012 = document.getElementById("film12")
            _elem536439012.addEventListener("click", function (event) {document.location.href = "/filmInfo536439012"; $$nav.off()});
        </script>
        
        <div id="film13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4850225.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Астрал 5: Красная дверь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem485022513 = document.getElementById("film13")
            _elem485022513.addEventListener("click", function (event) {document.location.href = "/filmInfo485022513"; $$nav.off()});
        </script>
        
        <div id="film14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309392.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Мечта</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem130939214 = document.getElementById("film14")
            _elem130939214.addEventListener("click", function (event) {document.location.href = "/filmInfo130939214"; $$nav.off()});
        </script>
        
        <div id="film15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4715481.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Дыхание</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem471548115 = document.getElementById("film15")
            _elem471548115.addEventListener("click", function (event) {document.location.href = "/filmInfo471548115"; $$nav.off()});
        </script>
        
        <div id="film16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4850225.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Астрал 5: Красная дверь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem485022516 = document.getElementById("film16")
            _elem485022516.addEventListener("click", function (event) {document.location.href = "/filmInfo485022516"; $$nav.off()});
        </script>
        
        <div id="film17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5176539.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Здесь подают любовь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem517653917 = document.getElementById("film17")
            _elem517653917.addEventListener("click", function (event) {document.location.href = "/filmInfo517653917"; $$nav.off()});
        </script>
        
        <div id="film18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4701154.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Канал</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem470115418 = document.getElementById("film18")
            _elem470115418.addEventListener("click", function (event) {document.location.href = "/filmInfo470115418"; $$nav.off()});
        </script>
        
        <div id="film19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4947546.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Девичник: Убойная ночь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494754619 = document.getElementById("film19")
            _elem494754619.addEventListener("click", function (event) {document.location.href = "/filmInfo494754619"; $$nav.off()});
        </script>
        
        <div id="film20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Обитель зла: Остров смерти</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526431020 = document.getElementById("film20")
            _elem526431020.addEventListener("click", function (event) {document.location.href = "/filmInfo526431020"; $$nav.off()});
        </script>
        
        <div id="film21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1167101.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Чарли и фантастическая четверка</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem116710121 = document.getElementById("film21")
            _elem116710121.addEventListener("click", function (event) {document.location.href = "/filmInfo116710121"; $$nav.off()});
        </script>
        
        <div id="film22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1044002.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Гран Туризмо</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem104400222 = document.getElementById("film22")
            _elem104400222.addEventListener("click", function (event) {document.location.href = "/filmInfo104400222"; $$nav.off()});
        </script>
        
        <div id="film23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305976.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Ещё один шанс</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530597623 = document.getElementById("film23")
            _elem530597623.addEventListener("click", function (event) {document.location.href = "/filmInfo530597623"; $$nav.off()});
        </script>
        
        <div id="film24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1446821.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>В паутине страха</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem144682124 = document.getElementById("film24")
            _elem144682124.addEventListener("click", function (event) {document.location.href = "/filmInfo144682124"; $$nav.off()});
        </script>
        
        <div id="film25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4987762.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Судьба</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem498776225 = document.getElementById("film25")
            _elem498776225.addEventListener("click", function (event) {document.location.href = "/filmInfo498776225"; $$nav.off()});
        </script>
        
        <div id="film26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5332388.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Найди мне пару</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem533238826 = document.getElementById("film26")
            _elem533238826.addEventListener("click", function (event) {document.location.href = "/filmInfo533238826"; $$nav.off()});
        </script>
        
        <div id="film27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5106632.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Роковая ошибка моего мужа</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510663227 = document.getElementById("film27")
            _elem510663227.addEventListener("click", function (event) {document.location.href = "/filmInfo510663227"; $$nav.off()});
        </script>
        
        <div id="film28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5360659.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Лицом к лицу</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536065928 = document.getElementById("film28")
            _elem536065928.addEventListener("click", function (event) {document.location.href = "/filmInfo536065928"; $$nav.off()});
        </script>
        
        <div id="film29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4655448.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Селфи</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem465544829 = document.getElementById("film29")
            _elem465544829.addEventListener("click", function (event) {document.location.href = "/filmInfo465544829"; $$nav.off()});
        </script>
        
        <div id="film30" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1208708.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Мег 2: Бездна</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem120870830 = document.getElementById("film30")
            _elem120870830.addEventListener("click", function (event) {document.location.href = "/filmInfo120870830"; $$nav.off()});
        </script>
        
        <div id="film31" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1111005.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Братья Супер Марио в кино</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem111100531 = document.getElementById("film31")
            _elem111100531.addEventListener("click", function (event) {document.location.href = "/filmInfo111100531"; $$nav.off()});
        </script>
        
        <div id="film32" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1111005.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Братья Супер Марио в кино</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem111100532 = document.getElementById("film32")
            _elem111100532.addEventListener("click", function (event) {document.location.href = "/filmInfo111100532"; $$nav.off()});
        </script>
        
        <div id="film33" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5192942.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Берегись ночной няни</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem519294233 = document.getElementById("film33")
            _elem519294233.addEventListener("click", function (event) {document.location.href = "/filmInfo519294233"; $$nav.off()});
        </script>
        
        <div id="film34" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5124666.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Смертельные семейные узы</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem512466634 = document.getElementById("film34")
            _elem512466634.addEventListener("click", function (event) {document.location.href = "/filmInfo512466634"; $$nav.off()});
        </script>
        
        <div id="film35" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4543979.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Новый Камен Райдер</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem454397935 = document.getElementById("film35")
            _elem454397935.addEventListener("click", function (event) {document.location.href = "/filmInfo454397935"; $$nav.off()});
        </script>
        
        <div id="film36" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1186274.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Какой-то Энди</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem118627436 = document.getElementById("film36")
            _elem118627436.addEventListener("click", function (event) {document.location.href = "/filmInfo118627436"; $$nav.off()});
        </script>
        
        <div id="film37" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5082039.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Лимб</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem508203937 = document.getElementById("film37")
            _elem508203937.addEventListener("click", function (event) {document.location.href = "/filmInfo508203937"; $$nav.off()});
        </script>
        
        <div id="film38" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5141387.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Любовь никогда не заканчивается!</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem514138738 = document.getElementById("film38")
            _elem514138738.addEventListener("click", function (event) {document.location.href = "/filmInfo514138738"; $$nav.off()});
        </script>
        
        <div id="film39" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5356482.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Пан Самоходик и тамплиеры</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535648239 = document.getElementById("film39")
            _elem535648239.addEventListener("click", function (event) {document.location.href = "/filmInfo535648239"; $$nav.off()});
        </script>
        
        <div id="film40" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5082396.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Американская девчонка: Корин Тан</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem508239640 = document.getElementById("film40")
            _elem508239640.addEventListener("click", function (event) {document.location.href = "/filmInfo508239640"; $$nav.off()});
        </script>
        
        <div id="film41" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5360776.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Покончить со всеми войнами: Оппен</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536077641 = document.getElementById("film41")
            _elem536077641.addEventListener("click", function (event) {document.location.href = "/filmInfo536077641"; $$nav.off()});
        </script>
        
        <div id="film42" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5119523.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Схватка с дьяволом</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511952342 = document.getElementById("film42")
            _elem511952342.addEventListener("click", function (event) {document.location.href = "/filmInfo511952342"; $$nav.off()});
        </script>
        
        <div id="film43" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5307214.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Джонни</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530721443 = document.getElementById("film43")
            _elem530721443.addEventListener("click", function (event) {document.location.href = "/filmInfo530721443"; $$nav.off()});
        </script>
        
        <div id="film44" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4705479.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Старые боги</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem470547944 = document.getElementById("film44")
            _elem470547944.addEventListener("click", function (event) {document.location.href = "/filmInfo470547944"; $$nav.off()});
        </script>
        
        <div id="film45" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5117298.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Трио в перьях 2</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511729845 = document.getElementById("film45")
            _elem511729845.addEventListener("click", function (event) {document.location.href = "/filmInfo511729845"; $$nav.off()});
        </script>
        
        <div id="film46" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4965301.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>10 дней без мамы в Куршевеле</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem496530146 = document.getElementById("film46")
            _elem496530146.addEventListener("click", function (event) {document.location.href = "/filmInfo496530146"; $$nav.off()});
        </script>
        
        <div id="film47" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5055424.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Дикая река</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem505542447 = document.getElementById("film47")
            _elem505542447.addEventListener("click", function (event) {document.location.href = "/filmInfo505542447"; $$nav.off()});
        </script>
        
        <div id="film48" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5024925.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Зверогонщики</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem502492548 = document.getElementById("film48")
            _elem502492548.addEventListener("click", function (event) {document.location.href = "/filmInfo502492548"; $$nav.off()});
        </script>
        
        <div id="film49" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4845485.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Плюшевый пузырь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem484548549 = document.getElementById("film49")
            _elem484548549.addEventListener("click", function (event) {document.location.href = "/filmInfo484548549"; $$nav.off()});
        </script>
        