
        <div id="film0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4909828.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Тюремщик</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49098280 = document.getElementById("film0")
            _elem49098280.addEventListener("click", function (event) {document.location.href = "/filmInfo49098280"; $$nav.off()});
        </script>
        
        <div id="film1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4672943.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Гавайи</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46729431 = document.getElementById("film1")
            _elem46729431.addEventListener("click", function (event) {document.location.href = "/filmInfo46729431"; $$nav.off()});
        </script>
        
        <div id="film2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4986428.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Земля мафии</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49864282 = document.getElementById("film2")
            _elem49864282.addEventListener("click", function (event) {document.location.href = "/filmInfo49864282"; $$nav.off()});
        </script>
        
        <div id="film3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4991145.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Полтора дня</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49911453 = document.getElementById("film3")
            _elem49911453.addEventListener("click", function (event) {document.location.href = "/filmInfo49911453"; $$nav.off()});
        </script>
        
        <div id="film4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4869021.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Великий уравнитель 3</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem48690214 = document.getElementById("film4")
            _elem48690214.addEventListener("click", function (event) {document.location.href = "/filmInfo48690214"; $$nav.off()});
        </script>
        
        <div id="film5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4629271.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Бойня ленивца</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46292715 = document.getElementById("film5")
            _elem46292715.addEventListener("click", function (event) {document.location.href = "/filmInfo46292715"; $$nav.off()});
        </script>
        
        <div id="film6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5235922.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Проклятое наследие</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52359226 = document.getElementById("film6")
            _elem52359226.addEventListener("click", function (event) {document.location.href = "/filmInfo52359226"; $$nav.off()});
        </script>
        
        <div id="film7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5354075.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Щенячья любовь</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53540757 = document.getElementById("film7")
            _elem53540757.addEventListener("click", function (event) {document.location.href = "/filmInfo53540757"; $$nav.off()});
        </script>
        
        <div id="film8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5281112.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Стример</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52811128 = document.getElementById("film8")
            _elem52811128.addEventListener("click", function (event) {document.location.href = "/filmInfo52811128"; $$nav.off()});
        </script>
        
        <div id="film9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1178862.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Черепашки-ниндзя: По</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem11788629 = document.getElementById("film9")
            _elem11788629.addEventListener("click", function (event) {document.location.href = "/filmInfo11788629"; $$nav.off()});
        </script>
        
        <div id="film10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4747499.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">О чем говорят незнак</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474749910 = document.getElementById("film10")
            _elem474749910.addEventListener("click", function (event) {document.location.href = "/filmInfo474749910"; $$nav.off()});
        </script>
        
        <div id="film11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_629948.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рождение легенд</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem62994811 = document.getElementById("film11")
            _elem62994811.addEventListener("click", function (event) {document.location.href = "/filmInfo62994811"; $$nav.off()});
        </script>
        
        <div id="film12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5268477.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Руби Гильман: Приклю</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526847712 = document.getElementById("film12")
            _elem526847712.addEventListener("click", function (event) {document.location.href = "/filmInfo526847712"; $$nav.off()});
        </script>
        
        <div id="film13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4701591.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Капсульное поколение</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem470159113 = document.getElementById("film13")
            _elem470159113.addEventListener("click", function (event) {document.location.href = "/filmInfo470159113"; $$nav.off()});
        </script>
        
        <div id="film14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_462128.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Последнее путешестви</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46212814 = document.getElementById("film14")
            _elem46212814.addEventListener("click", function (event) {document.location.href = "/filmInfo46212814"; $$nav.off()});
        </script>
        
        <div id="film15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1390793.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Беглец</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem139079315 = document.getElementById("film15")
            _elem139079315.addEventListener("click", function (event) {document.location.href = "/filmInfo139079315"; $$nav.off()});
        </script>
        
        <div id="film16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4448519.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Вызов</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem444851916 = document.getElementById("film16")
            _elem444851916.addEventListener("click", function (event) {document.location.href = "/filmInfo444851916"; $$nav.off()});
        </script>
        
        <div id="film17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118213.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Квест</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511821317 = document.getElementById("film17")
            _elem511821317.addEventListener("click", function (event) {document.location.href = "/filmInfo511821317"; $$nav.off()});
        </script>
        
        <div id="film18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4412788.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Знаменитость</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem441278818 = document.getElementById("film18")
            _elem441278818.addEventListener("click", function (event) {document.location.href = "/filmInfo441278818"; $$nav.off()});
        </script>
        
        <div id="film19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4947321.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Операция «Наполеон»</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494732119 = document.getElementById("film19")
            _elem494732119.addEventListener("click", function (event) {document.location.href = "/filmInfo494732119"; $$nav.off()});
        </script>
        
        <div id="film20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1208708.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мег 2: Бездна</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem120870820 = document.getElementById("film20")
            _elem120870820.addEventListener("click", function (event) {document.location.href = "/filmInfo120870820"; $$nav.off()});
        </script>
        
        <div id="film21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5024925.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Зверогонщики</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem502492521 = document.getElementById("film21")
            _elem502492521.addEventListener("click", function (event) {document.location.href = "/filmInfo502492521"; $$nav.off()});
        </script>
        
        <div id="film22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5054262.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Даже не думай приход</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem505426222 = document.getElementById("film22")
            _elem505426222.addEventListener("click", function (event) {document.location.href = "/filmInfo505426222"; $$nav.off()});
        </script>
        
        <div id="film23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5054262.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Даже не думай приход</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem505426223 = document.getElementById("film23")
            _elem505426223.addEventListener("click", function (event) {document.location.href = "/filmInfo505426223"; $$nav.off()});
        </script>
        
        <div id="film24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4961757.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Криминальный город: </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem496175724 = document.getElementById("film24")
            _elem496175724.addEventListener("click", function (event) {document.location.href = "/filmInfo496175724"; $$nav.off()});
        </script>
        
        <div id="film25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4541464.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Хилл</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem454146425 = document.getElementById("film25")
            _elem454146425.addEventListener("click", function (event) {document.location.href = "/filmInfo454146425"; $$nav.off()});
        </script>
        
        <div id="film26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4749261.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Хвостатые пришельцы</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474926126 = document.getElementById("film26")
            _elem474926126.addEventListener("click", function (event) {document.location.href = "/filmInfo474926126"; $$nav.off()});
        </script>
        
        <div id="film27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5313202.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Космос. Смерть. Робо</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem531320227 = document.getElementById("film27")
            _elem531320227.addEventListener("click", function (event) {document.location.href = "/filmInfo531320227"; $$nav.off()});
        </script>
        
        <div id="film28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1208708.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мег 2: Бездна</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem120870828 = document.getElementById("film28")
            _elem120870828.addEventListener("click", function (event) {document.location.href = "/filmInfo120870828"; $$nav.off()});
        </script>
        
        <div id="film29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1447610.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Из Красной Шапочки в</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem144761029 = document.getElementById("film29")
            _elem144761029.addEventListener("click", function (event) {document.location.href = "/filmInfo144761029"; $$nav.off()});
        </script>
        
        <div id="film30" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5267955.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Барби: Скиппер и бол</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526795530 = document.getElementById("film30")
            _elem526795530.addEventListener("click", function (event) {document.location.href = "/filmInfo526795530"; $$nav.off()});
        </script>
        
        <div id="film31" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4992638.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Статические коды</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem499263831 = document.getElementById("film31")
            _elem499263831.addEventListener("click", function (event) {document.location.href = "/filmInfo499263831"; $$nav.off()});
        </script>
        
        <div id="film32" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_468846.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Индиана Джонс и коле</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46884632 = document.getElementById("film32")
            _elem46884632.addEventListener("click", function (event) {document.location.href = "/filmInfo46884632"; $$nav.off()});
        </script>
        
        <div id="film33" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_468846.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Индиана Джонс и коле</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46884633 = document.getElementById("film33")
            _elem46884633.addEventListener("click", function (event) {document.location.href = "/filmInfo46884633"; $$nav.off()});
        </script>
        
        <div id="film34" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1395369.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Леди Баг и Супер-Кот</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem139536934 = document.getElementById("film34")
            _elem139536934.addEventListener("click", function (event) {document.location.href = "/filmInfo139536934"; $$nav.off()});
        </script>
        
        <div id="film35" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5257426.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Близкие отношения</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem525742635 = document.getElementById("film35")
            _elem525742635.addEventListener("click", function (event) {document.location.href = "/filmInfo525742635"; $$nav.off()});
        </script>
        
        <div id="film36" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4946997.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Убийственный книжный</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494699736 = document.getElementById("film36")
            _elem494699736.addEventListener("click", function (event) {document.location.href = "/filmInfo494699736"; $$nav.off()});
        </script>
        
        <div id="film37" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_819105.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Бугимен</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem81910537 = document.getElementById("film37")
            _elem81910537.addEventListener("click", function (event) {document.location.href = "/filmInfo81910537"; $$nav.off()});
        </script>
        
        <div id="film38" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5356063.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Руслан и Людмила. Бо</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535606338 = document.getElementById("film38")
            _elem535606338.addEventListener("click", function (event) {document.location.href = "/filmInfo535606338"; $$nav.off()});
        </script>
        
        <div id="film39" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5254757.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мосты России</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem525475739 = document.getElementById("film39")
            _elem525475739.addEventListener("click", function (event) {document.location.href = "/filmInfo525475739"; $$nav.off()});
        </script>
        
        <div id="film40" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4652409.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Подводный капкан</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem465240940 = document.getElementById("film40")
            _elem465240940.addEventListener("click", function (event) {document.location.href = "/filmInfo465240940"; $$nav.off()});
        </script>
        
        <div id="film41" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1135021.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Заложники</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem113502141 = document.getElementById("film41")
            _elem113502141.addEventListener("click", function (event) {document.location.href = "/filmInfo113502141"; $$nav.off()});
        </script>
        
        <div id="film42" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4541542.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Отвязные дворняги</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem454154242 = document.getElementById("film42")
            _elem454154242.addEventListener("click", function (event) {document.location.href = "/filmInfo454154242"; $$nav.off()});
        </script>
        
        <div id="film43" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5098615.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Остров</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem509861543 = document.getElementById("film43")
            _elem509861543.addEventListener("click", function (event) {document.location.href = "/filmInfo509861543"; $$nav.off()});
        </script>
        
        <div id="film44" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4889978.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Маленькие победы</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem488997844 = document.getElementById("film44")
            _elem488997844.addEventListener("click", function (event) {document.location.href = "/filmInfo488997844"; $$nav.off()});
        </script>
        
        <div id="film45" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1390992.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">(Не)идеальные роботы</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem139099245 = document.getElementById("film45")
            _elem139099245.addEventListener("click", function (event) {document.location.href = "/filmInfo139099245"; $$nav.off()});
        </script>
        
        <div id="film46" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5053741.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Преисподняя 2</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem505374146 = document.getElementById("film46")
            _elem505374146.addEventListener("click", function (event) {document.location.href = "/filmInfo505374146"; $$nav.off()});
        </script>
        
        <div id="film47" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5284642.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Король улиц</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem528464247 = document.getElementById("film47")
            _elem528464247.addEventListener("click", function (event) {document.location.href = "/filmInfo528464247"; $$nav.off()});
        </script>
        
        <div id="film48" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_975402.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Часовой</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem97540248 = document.getElementById("film48")
            _elem97540248.addEventListener("click", function (event) {document.location.href = "/filmInfo97540248"; $$nav.off()});
        </script>
        
        <div id="film49" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5332755.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Свидетель</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem533275549 = document.getElementById("film49")
            _elem533275549.addEventListener("click", function (event) {document.location.href = "/filmInfo533275549"; $$nav.off()});
        </script>
        