
        <div id="film0" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5123188.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>До встречи на Венере</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51231880 = document.getElementById("film0")
            _elem51231880.addEventListener("click", function (event) {document.location.href = "/filmInfo51231880"; $$nav.off()});
        </script>
        
        <div id="film1" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5245401.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Угрызения совести</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52454011 = document.getElementById("film1")
            _elem52454011.addEventListener("click", function (event) {document.location.href = "/filmInfo52454011"; $$nav.off()});
        </script>
        
        <div id="film2" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5082399.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>По зову долга</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50823992 = document.getElementById("film2")
            _elem50823992.addEventListener("click", function (event) {document.location.href = "/filmInfo50823992"; $$nav.off()});
        </script>
        
        <div id="film3" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4498651.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Кровь за кровь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44986513 = document.getElementById("film3")
            _elem44986513.addEventListener("click", function (event) {document.location.href = "/filmInfo44986513"; $$nav.off()});
        </script>
        
        <div id="film4" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4910071.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Не буди во мне киллера</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49100714 = document.getElementById("film4")
            _elem49100714.addEventListener("click", function (event) {document.location.href = "/filmInfo49100714"; $$nav.off()});
        </script>
        
        <div id="film5" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4860765.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Осада</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem48607655 = document.getElementById("film5")
            _elem48607655.addEventListener("click", function (event) {document.location.href = "/filmInfo48607655"; $$nav.off()});
        </script>
        
        <div id="film6" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4672960.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Солнце и Луна</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46729606 = document.getElementById("film6")
            _elem46729606.addEventListener("click", function (event) {document.location.href = "/filmInfo46729606"; $$nav.off()});
        </script>
        
        <div id="film7" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Обитель зла: Остров смерти</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52643107 = document.getElementById("film7")
            _elem52643107.addEventListener("click", function (event) {document.location.href = "/filmInfo52643107"; $$nav.off()});
        </script>
        
        <div id="film8" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4631912.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>По блуждающим тропам</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46319128 = document.getElementById("film8")
            _elem46319128.addEventListener("click", function (event) {document.location.href = "/filmInfo46319128"; $$nav.off()});
        </script>
        
        <div id="film9" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5106374.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Король неба</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51063749 = document.getElementById("film9")
            _elem51063749.addEventListener("click", function (event) {document.location.href = "/filmInfo51063749"; $$nav.off()});
        </script>
        
        <div id="film10" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4543979.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Новый Камен Райдер</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem454397910 = document.getElementById("film10")
            _elem454397910.addEventListener("click", function (event) {document.location.href = "/filmInfo454397910"; $$nav.off()});
        </script>
        
        <div id="film11" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4701189.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>О нем и о ней</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem470118911 = document.getElementById("film11")
            _elem470118911.addEventListener("click", function (event) {document.location.href = "/filmInfo470118911"; $$nav.off()});
        </script>
        
        <div id="film12" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_999881.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Русалочка</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem99988112 = document.getElementById("film12")
            _elem99988112.addEventListener("click", function (event) {document.location.href = "/filmInfo99988112"; $$nav.off()});
        </script>
        
        <div id="film13" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_999881.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Русалочка</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem99988113 = document.getElementById("film13")
            _elem99988113.addEventListener("click", function (event) {document.location.href = "/filmInfo99988113"; $$nav.off()});
        </script>
        
        <div id="film14" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4477067.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Уикенд с батей</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem447706714 = document.getElementById("film14")
            _elem447706714.addEventListener("click", function (event) {document.location.href = "/filmInfo447706714"; $$nav.off()});
        </script>
        
        <div id="film15" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_478052.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Барби</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47805215 = document.getElementById("film15")
            _elem47805215.addEventListener("click", function (event) {document.location.href = "/filmInfo47805215"; $$nav.off()});
        </script>
        
        <div id="film16" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4673782.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>История Ману</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem467378216 = document.getElementById("film16")
            _elem467378216.addEventListener("click", function (event) {document.location.href = "/filmInfo467378216"; $$nav.off()});
        </script>
        
        <div id="film17" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4947546.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Девичник: Убойная ночь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494754617 = document.getElementById("film17")
            _elem494754617.addEventListener("click", function (event) {document.location.href = "/filmInfo494754617"; $$nav.off()});
        </script>
        
        <div id="film18" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5235968.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Кентавр</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523596818 = document.getElementById("film18")
            _elem523596818.addEventListener("click", function (event) {document.location.href = "/filmInfo523596818"; $$nav.off()});
        </script>
        
        <div id="film19" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1311500.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Он умер и я тоже</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem131150019 = document.getElementById("film19")
            _elem131150019.addEventListener("click", function (event) {document.location.href = "/filmInfo131150019"; $$nav.off()});
        </script>
        
        <div id="film20" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5307214.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Джонни</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530721420 = document.getElementById("film20")
            _elem530721420.addEventListener("click", function (event) {document.location.href = "/filmInfo530721420"; $$nav.off()});
        </script>
        
        <div id="film21" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5179729.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Пусть начнется танец</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem517972921 = document.getElementById("film21")
            _elem517972921.addEventListener("click", function (event) {document.location.href = "/filmInfo517972921"; $$nav.off()});
        </script>
        
        <div id="film22" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1411200.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Смертельный выстрел</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem141120022 = document.getElementById("film22")
            _elem141120022.addEventListener("click", function (event) {document.location.href = "/filmInfo141120022"; $$nav.off()});
        </script>
        
        <div id="film23" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5082039.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Лимб</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem508203923 = document.getElementById("film23")
            _elem508203923.addEventListener("click", function (event) {document.location.href = "/filmInfo508203923"; $$nav.off()});
        </script>
        
        <div id="film24" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5360458.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Кейша Коул: Моя история</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536045824 = document.getElementById("film24")
            _elem536045824.addEventListener("click", function (event) {document.location.href = "/filmInfo536045824"; $$nav.off()});
        </script>
        
        <div id="film25" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1405266.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Они клонировали Тайрона</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem140526625 = document.getElementById("film25")
            _elem140526625.addEventListener("click", function (event) {document.location.href = "/filmInfo140526625"; $$nav.off()});
        </script>
        
        <div id="film26" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4701154.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Канал</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem470115426 = document.getElementById("film26")
            _elem470115426.addEventListener("click", function (event) {document.location.href = "/filmInfo470115426"; $$nav.off()});
        </script>
        
        <div id="film27" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4664634.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Оппенгеймер</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem466463427 = document.getElementById("film27")
            _elem466463427.addEventListener("click", function (event) {document.location.href = "/filmInfo466463427"; $$nav.off()});
        </script>
        
        <div id="film28" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1186274.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Какой-то Энди</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem118627428 = document.getElementById("film28")
            _elem118627428.addEventListener("click", function (event) {document.location.href = "/filmInfo118627428"; $$nav.off()});
        </script>
        
        <div id="film29" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4909394.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Старушки за Брэйди</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem490939429 = document.getElementById("film29")
            _elem490939429.addEventListener("click", function (event) {document.location.href = "/filmInfo490939429"; $$nav.off()});
        </script>
        
        <div id="film30" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1325596.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Остров теней</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem132559630 = document.getElementById("film30")
            _elem132559630.addEventListener("click", function (event) {document.location.href = "/filmInfo132559630"; $$nav.off()});
        </script>
        
        <div id="film31" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1405266.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Они клонировали Тайрона</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem140526631 = document.getElementById("film31")
            _elem140526631.addEventListener("click", function (event) {document.location.href = "/filmInfo140526631"; $$nav.off()});
        </script>
        
        <div id="film32" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1396300.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Тетрис</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem139630032 = document.getElementById("film32")
            _elem139630032.addEventListener("click", function (event) {document.location.href = "/filmInfo139630032"; $$nav.off()});
        </script>
        
        <div id="film33" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4630520.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Викенсбург</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem463052033 = document.getElementById("film33")
            _elem463052033.addEventListener("click", function (event) {document.location.href = "/filmInfo463052033"; $$nav.off()});
        </script>
        
        <div id="film34" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_195483.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Флэш</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem19548334 = document.getElementById("film34")
            _elem19548334.addEventListener("click", function (event) {document.location.href = "/filmInfo19548334"; $$nav.off()});
        </script>
        
        <div id="film35" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5124666.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Смертельные семейные узы</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem512466635 = document.getElementById("film35")
            _elem512466635.addEventListener("click", function (event) {document.location.href = "/filmInfo512466635"; $$nav.off()});
        </script>
        
        <div id="film36" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4925994.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Плейлист любви</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem492599436 = document.getElementById("film36")
            _elem492599436.addEventListener("click", function (event) {document.location.href = "/filmInfo492599436"; $$nav.off()});
        </script>
        
        <div id="film37" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4924071.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Святой</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem492407137 = document.getElementById("film37")
            _elem492407137.addEventListener("click", function (event) {document.location.href = "/filmInfo492407137"; $$nav.off()});
        </script>
        
        <div id="film38" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5074908.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Микулай</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem507490838 = document.getElementById("film38")
            _elem507490838.addEventListener("click", function (event) {document.location.href = "/filmInfo507490838"; $$nav.off()});
        </script>
        
        <div id="film39" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4396783.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Мэгги Мур(ы)</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem439678339 = document.getElementById("film39")
            _elem439678339.addEventListener("click", function (event) {document.location.href = "/filmInfo439678339"; $$nav.off()});
        </script>
        
        <div id="film40" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4861016.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Копенгагена не существует</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem486101640 = document.getElementById("film40")
            _elem486101640.addEventListener("click", function (event) {document.location.href = "/filmInfo486101640"; $$nav.off()});
        </script>
        
        <div id="film41" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4992959.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Моё преступление</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem499295941 = document.getElementById("film41")
            _elem499295941.addEventListener("click", function (event) {document.location.href = "/filmInfo499295941"; $$nav.off()});
        </script>
        
        <div id="film42" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5322925.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Кукла. Реинкарнация зла</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem532292542 = document.getElementById("film42")
            _elem532292542.addEventListener("click", function (event) {document.location.href = "/filmInfo532292542"; $$nav.off()});
        </script>
        
        <div id="film43" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4751049.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Любовь к миру</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem475104943 = document.getElementById("film43")
            _elem475104943.addEventListener("click", function (event) {document.location.href = "/filmInfo475104943"; $$nav.off()});
        </script>
        
        <div id="film44" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5096465.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Лайфхаки любви</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem509646544 = document.getElementById("film44")
            _elem509646544.addEventListener("click", function (event) {document.location.href = "/filmInfo509646544"; $$nav.off()});
        </script>
        
        <div id="film45" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5101673.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Хитровка. Знак четырёх</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510167345 = document.getElementById("film45")
            _elem510167345.addEventListener("click", function (event) {document.location.href = "/filmInfo510167345"; $$nav.off()});
        </script>
        
        <div id="film46" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5268477.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Руби Гиллман</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526847746 = document.getElementById("film46")
            _elem526847746.addEventListener("click", function (event) {document.location.href = "/filmInfo526847746"; $$nav.off()});
        </script>
        
        <div id="film47" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5120412.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Тактика любви 2</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem512041247 = document.getElementById("film47")
            _elem512041247.addEventListener("click", function (event) {document.location.href = "/filmInfo512041247"; $$nav.off()});
        </script>
        
        <div id="film48" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4398072.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Ты здесь, Бог? Это я, Маргарет</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem439807248 = document.getElementById("film48")
            _elem439807248.addEventListener("click", function (event) {document.location.href = "/filmInfo439807248"; $$nav.off()});
        </script>
        
        <div id="film49" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5330888.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Брачный контракт</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem533088849 = document.getElementById("film49")
            _elem533088849.addEventListener("click", function (event) {document.location.href = "/filmInfo533088849"; $$nav.off()});
        </script>
        