
        <div id="film0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4703998.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Улей</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47039980 = document.getElementById("film0")
            _elem47039980.addEventListener("click", function (event) {document.location.href = "/filmInfo47039980"; $$nav.off()});
        </script>
        
        <div id="film1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1381502.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Лето с парнями</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13815021 = document.getElementById("film1")
            _elem13815021.addEventListener("click", function (event) {document.location.href = "/filmInfo13815021"; $$nav.off()});
        </script>
        
        <div id="film2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1260290.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Выжившая</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem12602902 = document.getElementById("film2")
            _elem12602902.addEventListener("click", function (event) {document.location.href = "/filmInfo12602902"; $$nav.off()});
        </script>
        
        <div id="film3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4414378.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дайана Найэд</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44143783 = document.getElementById("film3")
            _elem44143783.addEventListener("click", function (event) {document.location.href = "/filmInfo44143783"; $$nav.off()});
        </script>
        
        <div id="film4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5368842.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дорога милосердия</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53688424 = document.getElementById("film4")
            _elem53688424.addEventListener("click", function (event) {document.location.href = "/filmInfo53688424"; $$nav.off()});
        </script>
        
        <div id="film5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4366998.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ногти</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem43669985 = document.getElementById("film5")
            _elem43669985.addEventListener("click", function (event) {document.location.href = "/filmInfo43669985"; $$nav.off()});
        </script>
        
        <div id="film6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4969228.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Леди-викторина</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49692286 = document.getElementById("film6")
            _elem49692286.addEventListener("click", function (event) {document.location.href = "/filmInfo49692286"; $$nav.off()});
        </script>
        
        <div id="film7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5019876.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">До звезды</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50198767 = document.getElementById("film7")
            _elem50198767.addEventListener("click", function (event) {document.location.href = "/filmInfo50198767"; $$nav.off()});
        </script>
        
        <div id="film8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4630545.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Солдат</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46305458 = document.getElementById("film8")
            _elem46305458.addEventListener("click", function (event) {document.location.href = "/filmInfo46305458"; $$nav.off()});
        </script>
        
        <div id="film9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5397418.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Любопытный ресторато</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53974189 = document.getElementById("film9")
            _elem53974189.addEventListener("click", function (event) {document.location.href = "/filmInfo53974189"; $$nav.off()});
        </script>
        
        <div id="film10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1043206.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Иди ко мне, детка</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem104320610 = document.getElementById("film10")
            _elem104320610.addEventListener("click", function (event) {document.location.href = "/filmInfo104320610"; $$nav.off()});
        </script>
        
        <div id="film11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4890878.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">На глубине страха</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem489087811 = document.getElementById("film11")
            _elem489087811.addEventListener("click", function (event) {document.location.href = "/filmInfo489087811"; $$nav.off()});
        </script>
        
        <div id="film12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4414378.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дайана Найэд</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem441437812 = document.getElementById("film12")
            _elem441437812.addEventListener("click", function (event) {document.location.href = "/filmInfo441437812"; $$nav.off()});
        </script>
        
        <div id="film13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5003770.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Чижик-Пыжик возвраща</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem500377013 = document.getElementById("film13")
            _elem500377013.addEventListener("click", function (event) {document.location.href = "/filmInfo500377013"; $$nav.off()});
        </script>
        
        <div id="film14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5071494.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Магнификат</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem507149414 = document.getElementById("film14")
            _elem507149414.addEventListener("click", function (event) {document.location.href = "/filmInfo507149414"; $$nav.off()});
        </script>
        
        <div id="film15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5105875.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Воровки</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510587515 = document.getElementById("film15")
            _elem510587515.addEventListener("click", function (event) {document.location.href = "/filmInfo510587515"; $$nav.off()});
        </script>
        
        <div id="film16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4946856.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Набережная Орфевр, 3</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494685616 = document.getElementById("film16")
            _elem494685616.addEventListener("click", function (event) {document.location.href = "/filmInfo494685616"; $$nav.off()});
        </script>
        
        <div id="film17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5333299.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Детки-убийцы 2</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem533329917 = document.getElementById("film17")
            _elem533329917.addEventListener("click", function (event) {document.location.href = "/filmInfo533329917"; $$nav.off()});
        </script>
        
        <div id="film18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4634362.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Игра на доверие</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem463436218 = document.getElementById("film18")
            _elem463436218.addEventListener("click", function (event) {document.location.href = "/filmInfo463436218"; $$nav.off()});
        </script>
        
        <div id="film19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5364319.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Джунгли. Райский пер</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536431919 = document.getElementById("film19")
            _elem536431919.addEventListener("click", function (event) {document.location.href = "/filmInfo536431919"; $$nav.off()});
        </script>
        
        <div id="film20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5179969.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">ООО «Дом ада», начал</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem517996920 = document.getElementById("film20")
            _elem517996920.addEventListener("click", function (event) {document.location.href = "/filmInfo517996920"; $$nav.off()});
        </script>
        
        <div id="film21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_905024.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Гардемарины 1787. Ми</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem90502421 = document.getElementById("film21")
            _elem90502421.addEventListener("click", function (event) {document.location.href = "/filmInfo90502421"; $$nav.off()});
        </script>
        
        <div id="film22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_952158.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Пять ночей с Фредди</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem95215822 = document.getElementById("film22")
            _elem95215822.addEventListener("click", function (event) {document.location.href = "/filmInfo95215822"; $$nav.off()});
        </script>
        
        <div id="film23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4309488.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Изгоняющий дьявола: </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem430948823 = document.getElementById("film23")
            _elem430948823.addEventListener("click", function (event) {document.location.href = "/filmInfo430948823"; $$nav.off()});
        </script>
        
        <div id="film24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5404276.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Время ураганов</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540427624 = document.getElementById("film24")
            _elem540427624.addEventListener("click", function (event) {document.location.href = "/filmInfo540427624"; $$nav.off()});
        </script>
        
        <div id="film25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4934962.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Балерина</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem493496225 = document.getElementById("film25")
            _elem493496225.addEventListener("click", function (event) {document.location.href = "/filmInfo493496225"; $$nav.off()});
        </script>
        
        <div id="film26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5138514.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">У моего одиночества </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem513851426 = document.getElementById("film26")
            _elem513851426.addEventListener("click", function (event) {document.location.href = "/filmInfo513851426"; $$nav.off()});
        </script>
        
        <div id="film27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4397511.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Не сворачивай горы</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem439751127 = document.getElementById("film27")
            _elem439751127.addEventListener("click", function (event) {document.location.href = "/filmInfo439751127"; $$nav.off()});
        </script>
        
        <div id="film28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5234102.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Иван Семенов: Большо</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523410228 = document.getElementById("film28")
            _elem523410228.addEventListener("click", function (event) {document.location.href = "/filmInfo523410228"; $$nav.off()});
        </script>
        
        <div id="film29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5292771.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Последний мальчик на</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem529277129 = document.getElementById("film29")
            _elem529277129.addEventListener("click", function (event) {document.location.href = "/filmInfo529277129"; $$nav.off()});
        </script>
        
        <div id="film30" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4869021.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Великий уравнитель 3</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem486902130 = document.getElementById("film30")
            _elem486902130.addEventListener("click", function (event) {document.location.href = "/filmInfo486902130"; $$nav.off()});
        </script>
        
        <div id="film31" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4708940.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Щенячий патруль: Мег</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem470894031 = document.getElementById("film31")
            _elem470894031.addEventListener("click", function (event) {document.location.href = "/filmInfo470894031"; $$nav.off()});
        </script>
        
        <div id="film32" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5267770.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Императрицы</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526777032 = document.getElementById("film32")
            _elem526777032.addEventListener("click", function (event) {document.location.href = "/filmInfo526777032"; $$nav.off()});
        </script>
        
        <div id="film33" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5404277.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Запертая</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540427733 = document.getElementById("film33")
            _elem540427733.addEventListener("click", function (event) {document.location.href = "/filmInfo540427733"; $$nav.off()});
        </script>
        
        <div id="film34" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4969384.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дом тысячи дверей</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem496938434 = document.getElementById("film34")
            _elem496938434.addEventListener("click", function (event) {document.location.href = "/filmInfo496938434"; $$nav.off()});
        </script>
        
        <div id="film35" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5194940.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Подделка 3</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem519494035 = document.getElementById("film35")
            _elem519494035.addEventListener("click", function (event) {document.location.href = "/filmInfo519494035"; $$nav.off()});
        </script>
        
        <div id="film36" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5269566.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Я могу дойти до моря</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526956636 = document.getElementById("film36")
            _elem526956636.addEventListener("click", function (event) {document.location.href = "/filmInfo526956636"; $$nav.off()});
        </script>
        
        <div id="film37" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1339376.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Нем, как могила</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem133937637 = document.getElementById("film37")
            _elem133937637.addEventListener("click", function (event) {document.location.href = "/filmInfo133937637"; $$nav.off()});
        </script>
        
        <div id="film38" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5234126.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Молчание ангелов</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523412638 = document.getElementById("film38")
            _elem523412638.addEventListener("click", function (event) {document.location.href = "/filmInfo523412638"; $$nav.off()});
        </script>
        
        <div id="film39" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_462656.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Убийца</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46265639 = document.getElementById("film39")
            _elem46265639.addEventListener("click", function (event) {document.location.href = "/filmInfo46265639"; $$nav.off()});
        </script>
        
        <div id="film40" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5377296.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Технобратья</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem537729640 = document.getElementById("film40")
            _elem537729640.addEventListener("click", function (event) {document.location.href = "/filmInfo537729640"; $$nav.off()});
        </script>
        
        <div id="film41" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5398802.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Южный Парк: Воссоеди</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem539880241 = document.getElementById("film41")
            _elem539880241.addEventListener("click", function (event) {document.location.href = "/filmInfo539880241"; $$nav.off()});
        </script>
        
        <div id="film42" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4959134.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">По щучьему велению</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem495913442 = document.getElementById("film42")
            _elem495913442.addEventListener("click", function (event) {document.location.href = "/filmInfo495913442"; $$nav.off()});
        </script>
        
        <div id="film43" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5073813.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Прости, Чарли</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem507381343 = document.getElementById("film43")
            _elem507381343.addEventListener("click", function (event) {document.location.href = "/filmInfo507381343"; $$nav.off()});
        </script>
        
        <div id="film44" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4876660.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Честная игра</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem487666044 = document.getElementById("film44")
            _elem487666044.addEventListener("click", function (event) {document.location.href = "/filmInfo487666044"; $$nav.off()});
        </script>
        
        <div id="film45" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5135249.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Призраки в Венеции</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem513524945 = document.getElementById("film45")
            _elem513524945.addEventListener("click", function (event) {document.location.href = "/filmInfo513524945"; $$nav.off()});
        </script>
        
        <div id="film46" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5135249.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Призраки в Венеции</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem513524946 = document.getElementById("film46")
            _elem513524946.addEventListener("click", function (event) {document.location.href = "/filmInfo513524946"; $$nav.off()});
        </script>
        
        <div id="film47" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4924319.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Чужак</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem492431947 = document.getElementById("film47")
            _elem492431947.addEventListener("click", function (event) {document.location.href = "/filmInfo492431947"; $$nav.off()});
        </script>
        
        <div id="film48" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5243705.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рохан Кисибэ в Лувре</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem524370548 = document.getElementById("film48")
            _elem524370548.addEventListener("click", function (event) {document.location.href = "/filmInfo524370548"; $$nav.off()});
        </script>
        
        <div id="film49" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5386352.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Влюбиться в воздухе</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem538635249 = document.getElementById("film49")
            _elem538635249.addEventListener("click", function (event) {document.location.href = "/filmInfo538635249"; $$nav.off()});
        </script>
        