
        <div id="film0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4987446.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Без обид</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49874460 = document.getElementById("film0")
            _elem49874460.addEventListener("click", function (event) {document.location.href = "/filmInfo49874460"; $$nav.off()});
        </script>
        
        <div id="film1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5266956.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Катак. Ледниковый по</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52669561 = document.getElementById("film1")
            _elem52669561.addEventListener("click", function (event) {document.location.href = "/filmInfo52669561"; $$nav.off()});
        </script>
        
        <div id="film2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5237671.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Наёмный убийца</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52376712 = document.getElementById("film2")
            _elem52376712.addEventListener("click", function (event) {document.location.href = "/filmInfo52376712"; $$nav.off()});
        </script>
        
        <div id="film3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4910071.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Не буди во мне килле</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49100713 = document.getElementById("film3")
            _elem49100713.addEventListener("click", function (event) {document.location.href = "/filmInfo49100713"; $$nav.off()});
        </script>
        
        <div id="film4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5123188.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">До встречи на Венере</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51231884 = document.getElementById("film4")
            _elem51231884.addEventListener("click", function (event) {document.location.href = "/filmInfo51231884"; $$nav.off()});
        </script>
        
        <div id="film5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1395369.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Леди Баг и Супер-Кот</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13953695 = document.getElementById("film5")
            _elem13953695.addEventListener("click", function (event) {document.location.href = "/filmInfo13953695"; $$nav.off()});
        </script>
        
        <div id="film6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5119523.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Схватка с дьяволом</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51195236 = document.getElementById("film6")
            _elem51195236.addEventListener("click", function (event) {document.location.href = "/filmInfo51195236"; $$nav.off()});
        </script>
        
        <div id="film7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5098615.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Остров</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50986157 = document.getElementById("film7")
            _elem50986157.addEventListener("click", function (event) {document.location.href = "/filmInfo50986157"; $$nav.off()});
        </script>
        
        <div id="film8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4986428.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Земля мафии</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49864288 = document.getElementById("film8")
            _elem49864288.addEventListener("click", function (event) {document.location.href = "/filmInfo49864288"; $$nav.off()});
        </script>
        
        <div id="film9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5256888.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Взрослые</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52568889 = document.getElementById("film9")
            _elem52568889.addEventListener("click", function (event) {document.location.href = "/filmInfo52568889"; $$nav.off()});
        </script>
        
        <div id="film10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1208708.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мег 2: Бездна</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem120870810 = document.getElementById("film10")
            _elem120870810.addEventListener("click", function (event) {document.location.href = "/filmInfo120870810"; $$nav.off()});
        </script>
        
        <div id="film11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Человек-паук: Паутин</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121917711 = document.getElementById("film11")
            _elem121917711.addEventListener("click", function (event) {document.location.href = "/filmInfo121917711"; $$nav.off()});
        </script>
        
        <div id="film12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4672184.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Шрапнель</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem467218412 = document.getElementById("film12")
            _elem467218412.addEventListener("click", function (event) {document.location.href = "/filmInfo467218412"; $$nav.off()});
        </script>
        
        <div id="film13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5364881.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Любовь по расчету</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536488113 = document.getElementById("film13")
            _elem536488113.addEventListener("click", function (event) {document.location.href = "/filmInfo536488113"; $$nav.off()});
        </script>
        
        <div id="film14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4745359.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Больше, чем люди</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474535914 = document.getElementById("film14")
            _elem474535914.addEventListener("click", function (event) {document.location.href = "/filmInfo474535914"; $$nav.off()});
        </script>
        
        <div id="film15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4908918.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Герои и злодеи</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem490891815 = document.getElementById("film15")
            _elem490891815.addEventListener("click", function (event) {document.location.href = "/filmInfo490891815"; $$nav.off()});
        </script>
        
        <div id="film16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4750522.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Трое лишних</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem475052216 = document.getElementById("film16")
            _elem475052216.addEventListener("click", function (event) {document.location.href = "/filmInfo475052216"; $$nav.off()});
        </script>
        
        <div id="film17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4987446.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Без обид</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem498744617 = document.getElementById("film17")
            _elem498744617.addEventListener("click", function (event) {document.location.href = "/filmInfo498744617"; $$nav.off()});
        </script>
        
        <div id="film18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5360776.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Покончить со всеми в</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536077618 = document.getElementById("film18")
            _elem536077618.addEventListener("click", function (event) {document.location.href = "/filmInfo536077618"; $$nav.off()});
        </script>
        
        <div id="film19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4845485.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Плюшевый пузырь</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem484548519 = document.getElementById("film19")
            _elem484548519.addEventListener("click", function (event) {document.location.href = "/filmInfo484548519"; $$nav.off()});
        </script>
        
        <div id="film20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_937438.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Трансформеры: Восхож</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem93743820 = document.getElementById("film20")
            _elem93743820.addEventListener("click", function (event) {document.location.href = "/filmInfo93743820"; $$nav.off()});
        </script>
        
        <div id="film21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5100129.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Вот так повезло!</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510012921 = document.getElementById("film21")
            _elem510012921.addEventListener("click", function (event) {document.location.href = "/filmInfo510012921"; $$nav.off()});
        </script>
        
        <div id="film22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4655411.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Невероятное паломнич</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem465541122 = document.getElementById("film22")
            _elem465541122.addEventListener("click", function (event) {document.location.href = "/filmInfo465541122"; $$nav.off()});
        </script>
        
        <div id="film23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1360099.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Лакадейзи</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem136009923 = document.getElementById("film23")
            _elem136009923.addEventListener("click", function (event) {document.location.href = "/filmInfo136009923"; $$nav.off()});
        </script>
        
        <div id="film24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5296922.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Джохан 2</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem529692224 = document.getElementById("film24")
            _elem529692224.addEventListener("click", function (event) {document.location.href = "/filmInfo529692224"; $$nav.off()});
        </script>
        
        <div id="film25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1179918.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Единственная женщина</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem117991825 = document.getElementById("film25")
            _elem117991825.addEventListener("click", function (event) {document.location.href = "/filmInfo117991825"; $$nav.off()});
        </script>
        
        <div id="film26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Лига Справедливости:</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530544226 = document.getElementById("film26")
            _elem530544226.addEventListener("click", function (event) {document.location.href = "/filmInfo530544226"; $$nav.off()});
        </script>
        
        <div id="film27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Лига Справедливости:</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530544227 = document.getElementById("film27")
            _elem530544227.addEventListener("click", function (event) {document.location.href = "/filmInfo530544227"; $$nav.off()});
        </script>
        
        <div id="film28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309392.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мечта</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem130939228 = document.getElementById("film28")
            _elem130939228.addEventListener("click", function (event) {document.location.href = "/filmInfo130939228"; $$nav.off()});
        </script>
        
        <div id="film29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4826605.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Аврора</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem482660529 = document.getElementById("film29")
            _elem482660529.addEventListener("click", function (event) {document.location.href = "/filmInfo482660529"; $$nav.off()});
        </script>
        
        <div id="film30" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5364390.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Король и Шут: Сказка</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536439030 = document.getElementById("film30")
            _elem536439030.addEventListener("click", function (event) {document.location.href = "/filmInfo536439030"; $$nav.off()});
        </script>
        
        <div id="film31" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4745555.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мама, можно мне?</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474555531 = document.getElementById("film31")
            _elem474555531.addEventListener("click", function (event) {document.location.href = "/filmInfo474555531"; $$nav.off()});
        </script>
        
        <div id="film32" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Человек-паук: Паутин</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121917732 = document.getElementById("film32")
            _elem121917732.addEventListener("click", function (event) {document.location.href = "/filmInfo121917732"; $$nav.off()});
        </script>
        
        <div id="film33" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4850225.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Астрал 5: Красная дв</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem485022533 = document.getElementById("film33")
            _elem485022533.addEventListener("click", function (event) {document.location.href = "/filmInfo485022533"; $$nav.off()});
        </script>
        
        <div id="film34" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4751424.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ужас Истфилда. Перво</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem475142434 = document.getElementById("film34")
            _elem475142434.addEventListener("click", function (event) {document.location.href = "/filmInfo475142434"; $$nav.off()});
        </script>
        
        <div id="film35" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5053842.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Хождение по мукам</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem505384235 = document.getElementById("film35")
            _elem505384235.addEventListener("click", function (event) {document.location.href = "/filmInfo505384235"; $$nav.off()});
        </script>
        
        <div id="film36" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5082399.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">По зову долга</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem508239936 = document.getElementById("film36")
            _elem508239936.addEventListener("click", function (event) {document.location.href = "/filmInfo508239936"; $$nav.off()});
        </script>
        
        <div id="film37" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4536580.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Баба Яга спасает мир</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem453658037 = document.getElementById("film37")
            _elem453658037.addEventListener("click", function (event) {document.location.href = "/filmInfo453658037"; $$nav.off()});
        </script>
        
        <div id="film38" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5106374.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Король неба</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510637438 = document.getElementById("film38")
            _elem510637438.addEventListener("click", function (event) {document.location.href = "/filmInfo510637438"; $$nav.off()});
        </script>
        
        <div id="film39" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4498651.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Кровь за кровь</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem449865139 = document.getElementById("film39")
            _elem449865139.addEventListener("click", function (event) {document.location.href = "/filmInfo449865139"; $$nav.off()});
        </script>
        
        <div id="film40" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Человек-паук: Паутин</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121917740 = document.getElementById("film40")
            _elem121917740.addEventListener("click", function (event) {document.location.href = "/filmInfo121917740"; $$nav.off()});
        </script>
        
        <div id="film41" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4423264.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Живопись</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem442326441 = document.getElementById("film41")
            _elem442326441.addEventListener("click", function (event) {document.location.href = "/filmInfo442326441"; $$nav.off()});
        </script>
        
        <div id="film42" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5325611.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Коллектив</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem532561142 = document.getElementById("film42")
            _elem532561142.addEventListener("click", function (event) {document.location.href = "/filmInfo532561142"; $$nav.off()});
        </script>
        
        <div id="film43" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4645872.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Безумная поездочка</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem464587243 = document.getElementById("film43")
            _elem464587243.addEventListener("click", function (event) {document.location.href = "/filmInfo464587243"; $$nav.off()});
        </script>
        
        <div id="film44" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309392.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мечта</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem130939244 = document.getElementById("film44")
            _elem130939244.addEventListener("click", function (event) {document.location.href = "/filmInfo130939244"; $$nav.off()});
        </script>
        
        <div id="film45" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4715481.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дыхание</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem471548145 = document.getElementById("film45")
            _elem471548145.addEventListener("click", function (event) {document.location.href = "/filmInfo471548145"; $$nav.off()});
        </script>
        
        <div id="film46" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4850225.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Астрал 5: Красная дв</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem485022546 = document.getElementById("film46")
            _elem485022546.addEventListener("click", function (event) {document.location.href = "/filmInfo485022546"; $$nav.off()});
        </script>
        
        <div id="film47" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5176539.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Здесь подают любовь</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem517653947 = document.getElementById("film47")
            _elem517653947.addEventListener("click", function (event) {document.location.href = "/filmInfo517653947"; $$nav.off()});
        </script>
        
        <div id="film48" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4701154.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Канал</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem470115448 = document.getElementById("film48")
            _elem470115448.addEventListener("click", function (event) {document.location.href = "/filmInfo470115448"; $$nav.off()});
        </script>
        
        <div id="film49" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4947546.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Девичник: Убойная но</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494754649 = document.getElementById("film49")
            _elem494754649.addEventListener("click", function (event) {document.location.href = "/filmInfo494754649"; $$nav.off()});
        </script>
        