
        <div id="film0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1162809.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Луна</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem11628090 = document.getElementById("film0")
            _elem11628090.addEventListener("click", function (event) {document.location.href = "/filmInfo11628090"; $$nav.off()});
        </script>
        
        <div id="film1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4698811.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">О, Господи! 2</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46988111 = document.getElementById("film1")
            _elem46988111.addEventListener("click", function (event) {document.location.href = "/filmInfo46988111"; $$nav.off()});
        </script>
        
        <div id="film2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5307226.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Стрим</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53072262 = document.getElementById("film2")
            _elem53072262.addEventListener("click", function (event) {document.location.href = "/filmInfo53072262"; $$nav.off()});
        </script>
        
        <div id="film3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5367636.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Анатомия любви</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53676363 = document.getElementById("film3")
            _elem53676363.addEventListener("click", function (event) {document.location.href = "/filmInfo53676363"; $$nav.off()});
        </script>
        
        <div id="film4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5367144.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Никогда не поздно дл</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53671444 = document.getElementById("film4")
            _elem53671444.addEventListener("click", function (event) {document.location.href = "/filmInfo53671444"; $$nav.off()});
        </script>
        
        <div id="film5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5256878.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Красное небо</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52568785 = document.getElementById("film5")
            _elem52568785.addEventListener("click", function (event) {document.location.href = "/filmInfo52568785"; $$nav.off()});
        </script>
        
        <div id="film6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1355160.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Апория</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13551606 = document.getElementById("film6")
            _elem13551606.addEventListener("click", function (event) {document.location.href = "/filmInfo13551606"; $$nav.off()});
        </script>
        
        <div id="film7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5006926.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Фарадор</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50069267 = document.getElementById("film7")
            _elem50069267.addEventListener("click", function (event) {document.location.href = "/filmInfo50069267"; $$nav.off()});
        </script>
        
        <div id="film8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5093971.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Импостер</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50939718 = document.getElementById("film8")
            _elem50939718.addEventListener("click", function (event) {document.location.href = "/filmInfo50939718"; $$nav.off()});
        </script>
        
        <div id="film9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4477104.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Внутри</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44771049 = document.getElementById("film9")
            _elem44771049.addEventListener("click", function (event) {document.location.href = "/filmInfo44771049"; $$nav.off()});
        </script>
        
        <div id="film10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_478052.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Барби</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47805210 = document.getElementById("film10")
            _elem47805210.addEventListener("click", function (event) {document.location.href = "/filmInfo47805210"; $$nav.off()});
        </script>
        
        <div id="film11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_478052.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Барби</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47805211 = document.getElementById("film11")
            _elem47805211.addEventListener("click", function (event) {document.location.href = "/filmInfo47805211"; $$nav.off()});
        </script>
        
        <div id="film12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1254052.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Проклятие монахини 2</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem125405212 = document.getElementById("film12")
            _elem125405212.addEventListener("click", function (event) {document.location.href = "/filmInfo125405212"; $$nav.off()});
        </script>
        
        <div id="film13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4850225.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Астрал 5: Красная дв</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem485022513 = document.getElementById("film13")
            _elem485022513.addEventListener("click", function (event) {document.location.href = "/filmInfo485022513"; $$nav.off()});
        </script>
        
        <div id="film14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4541542.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Отвязные дворняги</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem454154214 = document.getElementById("film14")
            _elem454154214.addEventListener("click", function (event) {document.location.href = "/filmInfo454154214"; $$nav.off()});
        </script>
        
        <div id="film15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4448777.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Металлопокалипсис: А</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem444877715 = document.getElementById("film15")
            _elem444877715.addEventListener("click", function (event) {document.location.href = "/filmInfo444877715"; $$nav.off()});
        </script>
        
        <div id="film16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5356271.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Царь обезьян</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535627116 = document.getElementById("film16")
            _elem535627116.addEventListener("click", function (event) {document.location.href = "/filmInfo535627116"; $$nav.off()});
        </script>
        
        <div id="film17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5368840.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Часовой на юге</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536884017 = document.getElementById("film17")
            _elem536884017.addEventListener("click", function (event) {document.location.href = "/filmInfo536884017"; $$nav.off()});
        </script>
        
        <div id="film18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4890624.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Сидя в барах с торто</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem489062418 = document.getElementById("film18")
            _elem489062418.addEventListener("click", function (event) {document.location.href = "/filmInfo489062418"; $$nav.off()});
        </script>
        
        <div id="film19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5106243.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Гхумер</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510624319 = document.getElementById("film19")
            _elem510624319.addEventListener("click", function (event) {document.location.href = "/filmInfo510624319"; $$nav.off()});
        </script>
        
        <div id="film20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4651831.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Сисси и я</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem465183120 = document.getElementById("film20")
            _elem465183120.addEventListener("click", function (event) {document.location.href = "/filmInfo465183120"; $$nav.off()});
        </script>
        
        <div id="film21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4946997.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Убийственный книжный</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494699721 = document.getElementById("film21")
            _elem494699721.addEventListener("click", function (event) {document.location.href = "/filmInfo494699721"; $$nav.off()});
        </script>
        
        <div id="film22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4744674.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Пейзаж с невидимой р</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474467422 = document.getElementById("film22")
            _elem474467422.addEventListener("click", function (event) {document.location.href = "/filmInfo474467422"; $$nav.off()});
        </script>
        
        <div id="film23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4385239.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мама мафия</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem438523923 = document.getElementById("film23")
            _elem438523923.addEventListener("click", function (event) {document.location.href = "/filmInfo438523923"; $$nav.off()});
        </script>
        
        <div id="film24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5026530.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Жуткая семейка. Свад</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem502653024 = document.getElementById("film24")
            _elem502653024.addEventListener("click", function (event) {document.location.href = "/filmInfo502653024"; $$nav.off()});
        </script>
        
        <div id="film25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4948927.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Робопес</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494892725 = document.getElementById("film25")
            _elem494892725.addEventListener("click", function (event) {document.location.href = "/filmInfo494892725"; $$nav.off()});
        </script>
        
        <div id="film26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4968389.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Колдовство</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem496838926 = document.getElementById("film26")
            _elem496838926.addEventListener("click", function (event) {document.location.href = "/filmInfo496838926"; $$nav.off()});
        </script>
        
        <div id="film27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4701591.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Капсульное поколение</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem470159127 = document.getElementById("film27")
            _elem470159127.addEventListener("click", function (event) {document.location.href = "/filmInfo470159127"; $$nav.off()});
        </script>
        
        <div id="film28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_542534.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Особняк с привидения</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54253428 = document.getElementById("film28")
            _elem54253428.addEventListener("click", function (event) {document.location.href = "/filmInfo54253428"; $$nav.off()});
        </script>
        
        <div id="film29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4948667.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Нандор Фодор и говор</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494866729 = document.getElementById("film29")
            _elem494866729.addEventListener("click", function (event) {document.location.href = "/filmInfo494866729"; $$nav.off()});
        </script>
        
        <div id="film30" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5003770.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Чижик-Пыжик возвраща</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem500377030 = document.getElementById("film30")
            _elem500377030.addEventListener("click", function (event) {document.location.href = "/filmInfo500377030"; $$nav.off()});
        </script>
        
        <div id="film31" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1450305.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Профессор и призрачн</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem145030531 = document.getElementById("film31")
            _elem145030531.addEventListener("click", function (event) {document.location.href = "/filmInfo145030531"; $$nav.off()});
        </script>
        
        <div id="film32" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4703806.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мегалодон</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem470380632 = document.getElementById("film32")
            _elem470380632.addEventListener("click", function (event) {document.location.href = "/filmInfo470380632"; $$nav.off()});
        </script>
        
        <div id="film33" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4512518.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">В ожидании Дали</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem451251833 = document.getElementById("film33")
            _elem451251833.addEventListener("click", function (event) {document.location.href = "/filmInfo451251833"; $$nav.off()});
        </script>
        
        <div id="film34" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4541542.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Отвязные дворняги</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem454154234 = document.getElementById("film34")
            _elem454154234.addEventListener("click", function (event) {document.location.href = "/filmInfo454154234"; $$nav.off()});
        </script>
        
        <div id="film35" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5352606.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Любую проблему решае</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535260635 = document.getElementById("film35")
            _elem535260635.addEventListener("click", function (event) {document.location.href = "/filmInfo535260635"; $$nav.off()});
        </script>
        
        <div id="film36" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4888995.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Игра в прятки</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem488899536 = document.getElementById("film36")
            _elem488899536.addEventListener("click", function (event) {document.location.href = "/filmInfo488899536"; $$nav.off()});
        </script>
        
        <div id="film37" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1178862.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Черепашки-ниндзя: По</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem117886237 = document.getElementById("film37")
            _elem117886237.addEventListener("click", function (event) {document.location.href = "/filmInfo117886237"; $$nav.off()});
        </script>
        
        <div id="film38" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_462128.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Последнее путешестви</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46212838 = document.getElementById("film38")
            _elem46212838.addEventListener("click", function (event) {document.location.href = "/filmInfo46212838"; $$nav.off()});
        </script>
        
        <div id="film39" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305935.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Убийца из соцсети</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530593539 = document.getElementById("film39")
            _elem530593539.addEventListener("click", function (event) {document.location.href = "/filmInfo530593539"; $$nav.off()});
        </script>
        
        <div id="film40" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4947222.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Выбери любовь</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494722240 = document.getElementById("film40")
            _elem494722240.addEventListener("click", function (event) {document.location.href = "/filmInfo494722240"; $$nav.off()});
        </script>
        
        <div id="film41" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4850225.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Астрал 5: Красная дв</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem485022541 = document.getElementById("film41")
            _elem485022541.addEventListener("click", function (event) {document.location.href = "/filmInfo485022541"; $$nav.off()});
        </script>
        
        <div id="film42" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5367145.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Любовь как цветок</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536714542 = document.getElementById("film42")
            _elem536714542.addEventListener("click", function (event) {document.location.href = "/filmInfo536714542"; $$nav.off()});
        </script>
        
        <div id="film43" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4667350.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Девочка Нина и похит</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem466735043 = document.getElementById("film43")
            _elem466735043.addEventListener("click", function (event) {document.location.href = "/filmInfo466735043"; $$nav.off()});
        </script>
        
        <div id="film44" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5049952.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Гнев материнский</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem504995244 = document.getElementById("film44")
            _elem504995244.addEventListener("click", function (event) {document.location.href = "/filmInfo504995244"; $$nav.off()});
        </script>
        
        <div id="film45" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4992378.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Гонщики на драйве</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem499237845 = document.getElementById("film45")
            _elem499237845.addEventListener("click", function (event) {document.location.href = "/filmInfo499237845"; $$nav.off()});
        </script>
        
        <div id="film46" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4747499.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">О чем говорят незнак</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474749946 = document.getElementById("film46")
            _elem474749946.addEventListener("click", function (event) {document.location.href = "/filmInfo474749946"; $$nav.off()});
        </script>
        
        <div id="film47" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_819105.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Бугимен</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem81910547 = document.getElementById("film47")
            _elem81910547.addEventListener("click", function (event) {document.location.href = "/filmInfo81910547"; $$nav.off()});
        </script>
        
        <div id="film48" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4947546.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Девичник: Убойная но</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494754648 = document.getElementById("film48")
            _elem494754648.addEventListener("click", function (event) {document.location.href = "/filmInfo494754648"; $$nav.off()});
        </script>
        
        <div id="film49" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5367786.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Антиганг: Смена</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536778649 = document.getElementById("film49")
            _elem536778649.addEventListener("click", function (event) {document.location.href = "/filmInfo536778649"; $$nav.off()});
        </script>
        