
        <div id="film0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/d5c05a6d-2582-4e4c-acf7-c6887edef5b9/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Баба Мороз и тайна Н</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53681790 = document.getElementById("film0")
            _elem53681790.addEventListener("click", function (event) {document.location.href = "/filmInfo53681790"; $$nav.off()});
        </script>
        
        <div id="film1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/d5edee8b-9cdd-4f40-bebc-cb82363854ef/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Триггер. Фильм</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49586681 = document.getElementById("film1")
            _elem49586681.addEventListener("click", function (event) {document.location.href = "/filmInfo49586681"; $$nav.off()});
        </script>
        
        <div id="film2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10671298/34ad6e6d-ee58-4492-b405-e751a04001eb/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Меч короля</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49911382 = document.getElementById("film2")
            _elem49911382.addEventListener("click", function (event) {document.location.href = "/filmInfo49911382"; $$nav.off()});
        </script>
        
        <div id="film3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10703959/1062546d-bc2f-4dae-abfd-0caf1620013f/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Крецул</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem20001203 = document.getElementById("film3")
            _elem20001203.addEventListener("click", function (event) {document.location.href = "/filmInfo20001203"; $$nav.off()});
        </script>
        
        <div id="film4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/1a33f7fa-6734-422e-bc19-62a32d05f452/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Привет, призрак!</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54250364 = document.getElementById("film4")
            _elem54250364.addEventListener("click", function (event) {document.location.href = "/filmInfo54250364"; $$nav.off()});
        </script>
        
        <div id="film5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/23221fb0-2692-4fc5-8807-7bb07208cd52/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Честный развод. Бене</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53327605 = document.getElementById("film5")
            _elem53327605.addEventListener("click", function (event) {document.location.href = "/filmInfo53327605"; $$nav.off()});
        </script>
        
        <div id="film6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/2e6ad9b8-a9b5-4220-bf31-62eb4bb6740c/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Манюня: Новогодние п</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52537036 = document.getElementById("film6")
            _elem52537036.addEventListener("click", function (event) {document.location.href = "/filmInfo52537036"; $$nav.off()});
        </script>
        
        <div id="film7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/6a8becd4-7d5a-44eb-87d8-aca762570e93/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Неестественный отбор</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53071467 = document.getElementById("film7")
            _elem53071467.addEventListener("click", function (event) {document.location.href = "/filmInfo53071467"; $$nav.off()});
        </script>
        
        <div id="film8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/1898899/195d6b79-a0e2-4c74-bc29-ac62152c6bfc/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Одна дома</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52532058 = document.getElementById("film8")
            _elem52532058.addEventListener("click", function (event) {document.location.href = "/filmInfo52532058"; $$nav.off()});
        </script>
        
        <div id="film9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/a9c30bd6-e3d1-4409-99b1-755f1633d7de/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Моя жена – киллер</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49874509 = document.getElementById("film9")
            _elem49874509.addEventListener("click", function (event) {document.location.href = "/filmInfo49874509"; $$nav.off()});
        </script>
        
        <div id="film10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10835644/bb89b374-6cd8-4f9c-a0cc-e0c535d80f8c/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Костолом</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem447808110 = document.getElementById("film10")
            _elem447808110.addEventListener("click", function (event) {document.location.href = "/filmInfo447808110"; $$nav.off()});
        </script>
        
        <div id="film11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10671298/f202e07f-1952-4c44-ab86-bfcd6ceb1476/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Контроль</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem539541211 = document.getElementById("film11")
            _elem539541211.addEventListener("click", function (event) {document.location.href = "/filmInfo539541211"; $$nav.off()});
        </script>
        
        <div id="film12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10835644/f10ac05d-c735-43dd-93e2-bdb592e0733c/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Пацаны</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535486712 = document.getElementById("film12")
            _elem535486712.addEventListener("click", function (event) {document.location.href = "/filmInfo535486712"; $$nav.off()});
        </script>
        
        <div id="film13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/7ea13f01-b635-4c62-932b-de83c85b5c2b/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дозор Джунглей: Круг</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem507908513 = document.getElementById("film13")
            _elem507908513.addEventListener("click", function (event) {document.location.href = "/filmInfo507908513"; $$nav.off()});
        </script>
        
        <div id="film14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/1900788/e630321e-5488-4c7e-81da-3d7426209306/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">ЗДУСТ</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elemZDUST14 = document.getElementById("film14")
            _elemZDUST14.addEventListener("click", function (event) {document.location.href = "/filmInfoZDUST14"; $$nav.off()});
        </script>
        
        <div id="film15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/aea3f675-0296-45af-b991-a09495022b1d/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Крупный улов</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem116065715 = document.getElementById("film15")
            _elem116065715.addEventListener("click", function (event) {document.location.href = "/filmInfo116065715"; $$nav.off()});
        </script>
        
        <div id="film16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/26a41bd5-7afc-4595-9f65-fac9b73f4f35/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Существо зашевелилос</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494876216 = document.getElementById("film16")
            _elem494876216.addEventListener("click", function (event) {document.location.href = "/filmInfo494876216"; $$nav.off()});
        </script>
        
        <div id="film17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/138c93b1-5df1-428c-82da-770abec5a327/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Побег из курятника 2</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem112542117 = document.getElementById("film17")
            _elem112542117.addEventListener("click", function (event) {document.location.href = "/filmInfo112542117"; $$nav.off()});
        </script>
        
        <div id="film18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10835644/d67a1470-9ff3-4cd1-836a-4c047f02d157/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ответственная гражда</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem471073418 = document.getElementById("film18")
            _elem471073418.addEventListener("click", function (event) {document.location.href = "/filmInfo471073418"; $$nav.off()});
        </script>
        
        <div id="film19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4483445/58e2f1ec-f811-40b2-86c7-86c2ba959c8c/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Подсолнух</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem449148219 = document.getElementById("film19")
            _elem449148219.addEventListener("click", function (event) {document.location.href = "/filmInfo449148219"; $$nav.off()});
        </script>
        
        <div id="film20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/acf827de-b361-4534-aa90-db96bb3a6c1f/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Человек ниоткуда</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem508902920 = document.getElementById("film20")
            _elem508902920.addEventListener("click", function (event) {document.location.href = "/filmInfo508902920"; $$nav.off()});
        </script>
        
        <div id="film21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10835644/5eaa7375-5c1a-4306-a8a2-d6d7719be0bf/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Отпуск в октябре</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535698821 = document.getElementById("film21")
            _elem535698821.addEventListener("click", function (event) {document.location.href = "/filmInfo535698821"; $$nav.off()});
        </script>
        
        <div id="film22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10592371/f0eb651c-b14a-4692-944a-6a30366f520e/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Демоны дома Гарретов</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem464284122 = document.getElementById("film22")
            _elem464284122.addEventListener("click", function (event) {document.location.href = "/filmInfo464284122"; $$nav.off()});
        </script>
        
        <div id="film23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10592371/bdcb84b1-3c6c-4b90-b73b-b4bf000d49a5/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Годзилла -1.0</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535470723 = document.getElementById("film23")
            _elem535470723.addEventListener("click", function (event) {document.location.href = "/filmInfo535470723"; $$nav.off()});
        </script>
        
        <div id="film24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10900341/267d21f1-c7ae-4077-bd95-6c26a39418a0/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Бедные-несчастные</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem439643824 = document.getElementById("film24")
            _elem439643824.addEventListener("click", function (event) {document.location.href = "/filmInfo439643824"; $$nav.off()});
        </script>
        
        <div id="film25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/eda6a403-a0cd-45e1-b211-898cb46f4d6b/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мужчина к Новому Год</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535164025 = document.getElementById("film25")
            _elem535164025.addEventListener("click", function (event) {document.location.href = "/filmInfo535164025"; $$nav.off()});
        </script>
        
        <div id="film26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10835644/2565f0d7-6aa4-46c5-8553-2c3dca20440f/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Животное</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem439847026 = document.getElementById("film26")
            _elem439847026.addEventListener("click", function (event) {document.location.href = "/filmInfo439847026"; $$nav.off()});
        </script>
        
        <div id="film27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/88c05686-2fcc-4651-9711-4dd622f65196/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ёлки 10</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem532499527 = document.getElementById("film27")
            _elem532499527.addEventListener("click", function (event) {document.location.href = "/filmInfo532499527"; $$nav.off()});
        </script>
        
        <div id="film28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/2cce4627-1099-477e-a2ec-a0025cb1fea4/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Вонка</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem101334328 = document.getElementById("film28")
            _elem101334328.addEventListener("click", function (event) {document.location.href = "/filmInfo101334328"; $$nav.off()});
        </script>
        
        <div id="film29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10835644/01a3622f-3014-4709-a20f-647b148657b1/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Чарли Пуля</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem481670829 = document.getElementById("film29")
            _elem481670829.addEventListener("click", function (event) {document.location.href = "/filmInfo481670829"; $$nav.off()});
        </script>
        