
        <div id="film0" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264351.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Иммигрант</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52643510 = document.getElementById("film0")
            _elem52643510.addEventListener("click", function (event) {document.location.href = "/filmInfo52643510"; $$nav.off()});
        </script>
        
        <div id="film1" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1354421.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Бюро магических услуг</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13544211 = document.getElementById("film1")
            _elem13544211.addEventListener("click", function (event) {document.location.href = "/filmInfo13544211"; $$nav.off()});
        </script>
        
        <div id="film2" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1450305.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Профессор и призрачный убийца</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem14503052 = document.getElementById("film2")
            _elem14503052.addEventListener("click", function (event) {document.location.href = "/filmInfo14503052"; $$nav.off()});
        </script>
        
        <div id="film3" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5308994.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Дубай любой ценой</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53089943 = document.getElementById("film3")
            _elem53089943.addEventListener("click", function (event) {document.location.href = "/filmInfo53089943"; $$nav.off()});
        </script>
        
        <div id="film4" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Обитель зла: Остров смерти</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52643104 = document.getElementById("film4")
            _elem52643104.addEventListener("click", function (event) {document.location.href = "/filmInfo52643104"; $$nav.off()});
        </script>
        
        <div id="film5" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4543979.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Новый Камен Райдер</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem45439795 = document.getElementById("film5")
            _elem45439795.addEventListener("click", function (event) {document.location.href = "/filmInfo45439795"; $$nav.off()});
        </script>
        
        <div id="film6" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4368100.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Три мушкетёра: Д’Артаньян</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem43681006 = document.getElementById("film6")
            _elem43681006.addEventListener("click", function (event) {document.location.href = "/filmInfo43681006"; $$nav.off()});
        </script>
        
        <div id="film7" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4477067.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Уикенд с батей</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44770677 = document.getElementById("film7")
            _elem44770677.addEventListener("click", function (event) {document.location.href = "/filmInfo44770677"; $$nav.off()});
        </script>
        
        <div id="film8" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_959062.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Форсаж 10</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem9590628 = document.getElementById("film8")
            _elem9590628.addEventListener("click", function (event) {document.location.href = "/filmInfo9590628"; $$nav.off()});
        </script>
        
        <div id="film9" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5135218.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Пижамная вечеринка</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51352189 = document.getElementById("film9")
            _elem51352189.addEventListener("click", function (event) {document.location.href = "/filmInfo51352189"; $$nav.off()});
        </script>
        
        <div id="film10" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4423264.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Живопись</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem442326410 = document.getElementById("film10")
            _elem442326410.addEventListener("click", function (event) {document.location.href = "/filmInfo442326410"; $$nav.off()});
        </script>
        
        <div id="film11" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4480254.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Невеста из Америки</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem448025411 = document.getElementById("film11")
            _elem448025411.addEventListener("click", function (event) {document.location.href = "/filmInfo448025411"; $$nav.off()});
        </script>
        
        <div id="film12" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4750522.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Трое лишних</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem475052212 = document.getElementById("film12")
            _elem475052212.addEventListener("click", function (event) {document.location.href = "/filmInfo475052212"; $$nav.off()});
        </script>
        
        <div id="film13" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1045082.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Круче некуда</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem104508213 = document.getElementById("film13")
            _elem104508213.addEventListener("click", function (event) {document.location.href = "/filmInfo104508213"; $$nav.off()});
        </script>
        
        <div id="film14" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_542534.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Особняк с привидениями</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54253414 = document.getElementById("film14")
            _elem54253414.addEventListener("click", function (event) {document.location.href = "/filmInfo54253414"; $$nav.off()});
        </script>
        
        <div id="film15" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Лига Справедливости: Мир войны</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530544215 = document.getElementById("film15")
            _elem530544215.addEventListener("click", function (event) {document.location.href = "/filmInfo530544215"; $$nav.off()});
        </script>
        
        <div id="film16" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5084913.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>(Почти) легенды</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem508491316 = document.getElementById("film16")
            _elem508491316.addEventListener("click", function (event) {document.location.href = "/filmInfo508491316"; $$nav.off()});
        </script>
        
        <div id="film17" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5139205.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Рай земной</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem513920517 = document.getElementById("film17")
            _elem513920517.addEventListener("click", function (event) {document.location.href = "/filmInfo513920517"; $$nav.off()});
        </script>
        
        <div id="film18" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5119523.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Схватка с дьяволом</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511952318 = document.getElementById("film18")
            _elem511952318.addEventListener("click", function (event) {document.location.href = "/filmInfo511952318"; $$nav.off()});
        </script>
        
        <div id="film19" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1395369.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Леди Баг и Супер-Кот: Пробуждение</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem139536919 = document.getElementById("film19")
            _elem139536919.addEventListener("click", function (event) {document.location.href = "/filmInfo139536919"; $$nav.off()});
        </script>
        
        <div id="film20" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1446821.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>В паутине страха</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem144682120 = document.getElementById("film20")
            _elem144682120.addEventListener("click", function (event) {document.location.href = "/filmInfo144682120"; $$nav.off()});
        </script>
        
        <div id="film21" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4986575.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Книжный клуб 2</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem498657521 = document.getElementById("film21")
            _elem498657521.addEventListener("click", function (event) {document.location.href = "/filmInfo498657521"; $$nav.off()});
        </script>
        
        <div id="film22" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4557113.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Потомок</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem455711322 = document.getElementById("film22")
            _elem455711322.addEventListener("click", function (event) {document.location.href = "/filmInfo455711322"; $$nav.off()});
        </script>
        
        <div id="film23" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5139205.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Рай земной</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem513920523 = document.getElementById("film23")
            _elem513920523.addEventListener("click", function (event) {document.location.href = "/filmInfo513920523"; $$nav.off()});
        </script>
        
        <div id="film24" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4925815.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Волнение</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem492581524 = document.getElementById("film24")
            _elem492581524.addEventListener("click", function (event) {document.location.href = "/filmInfo492581524"; $$nav.off()});
        </script>
        
        <div id="film25" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4744698.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Счастье для начинающих</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474469825 = document.getElementById("film25")
            _elem474469825.addEventListener("click", function (event) {document.location.href = "/filmInfo474469825"; $$nav.off()});
        </script>
        
        <div id="film26" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4744698.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Счастье для начинающих</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474469826 = document.getElementById("film26")
            _elem474469826.addEventListener("click", function (event) {document.location.href = "/filmInfo474469826"; $$nav.off()});
        </script>
        
        <div id="film27" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4655411.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Невероятное паломничество Гарольд</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem465541127 = document.getElementById("film27")
            _elem465541127.addEventListener("click", function (event) {document.location.href = "/filmInfo465541127"; $$nav.off()});
        </script>
        
        <div id="film28" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5123188.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>До встречи на Венере</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem512318828 = document.getElementById("film28")
            _elem512318828.addEventListener("click", function (event) {document.location.href = "/filmInfo512318828"; $$nav.off()});
        </script>
        
        <div id="film29" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5098615.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Остров</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem509861529 = document.getElementById("film29")
            _elem509861529.addEventListener("click", function (event) {document.location.href = "/filmInfo509861529"; $$nav.off()});
        </script>
        
        <div id="film30" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4845485.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Плюшевый пузырь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem484548530 = document.getElementById("film30")
            _elem484548530.addEventListener("click", function (event) {document.location.href = "/filmInfo484548530"; $$nav.off()});
        </script>
        
        <div id="film31" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5307845.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Ты мой бриллиант</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530784531 = document.getElementById("film31")
            _elem530784531.addEventListener("click", function (event) {document.location.href = "/filmInfo530784531"; $$nav.off()});
        </script>
        
        <div id="film32" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5245401.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Угрызения совести</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem524540132 = document.getElementById("film32")
            _elem524540132.addEventListener("click", function (event) {document.location.href = "/filmInfo524540132"; $$nav.off()});
        </script>
        
        <div id="film33" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5082399.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>По зову долга</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem508239933 = document.getElementById("film33")
            _elem508239933.addEventListener("click", function (event) {document.location.href = "/filmInfo508239933"; $$nav.off()});
        </script>
        
        <div id="film34" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4498651.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Кровь за кровь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem449865134 = document.getElementById("film34")
            _elem449865134.addEventListener("click", function (event) {document.location.href = "/filmInfo449865134"; $$nav.off()});
        </script>
        
        <div id="film35" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4910071.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Не буди во мне киллера</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem491007135 = document.getElementById("film35")
            _elem491007135.addEventListener("click", function (event) {document.location.href = "/filmInfo491007135"; $$nav.off()});
        </script>
        
        <div id="film36" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4860765.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Осада</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem486076536 = document.getElementById("film36")
            _elem486076536.addEventListener("click", function (event) {document.location.href = "/filmInfo486076536"; $$nav.off()});
        </script>
        
        <div id="film37" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4672960.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Солнце и Луна</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem467296037 = document.getElementById("film37")
            _elem467296037.addEventListener("click", function (event) {document.location.href = "/filmInfo467296037"; $$nav.off()});
        </script>
        
        <div id="film38" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Обитель зла: Остров смерти</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526431038 = document.getElementById("film38")
            _elem526431038.addEventListener("click", function (event) {document.location.href = "/filmInfo526431038"; $$nav.off()});
        </script>
        
        <div id="film39" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4631912.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>По блуждающим тропам</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem463191239 = document.getElementById("film39")
            _elem463191239.addEventListener("click", function (event) {document.location.href = "/filmInfo463191239"; $$nav.off()});
        </script>
        
        <div id="film40" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5106374.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Король неба</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510637440 = document.getElementById("film40")
            _elem510637440.addEventListener("click", function (event) {document.location.href = "/filmInfo510637440"; $$nav.off()});
        </script>
        
        <div id="film41" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4701189.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>О нем и о ней</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem470118941 = document.getElementById("film41")
            _elem470118941.addEventListener("click", function (event) {document.location.href = "/filmInfo470118941"; $$nav.off()});
        </script>
        
        <div id="film42" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_999881.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Русалочка</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem99988142 = document.getElementById("film42")
            _elem99988142.addEventListener("click", function (event) {document.location.href = "/filmInfo99988142"; $$nav.off()});
        </script>
        
        <div id="film43" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_999881.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Русалочка</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem99988143 = document.getElementById("film43")
            _elem99988143.addEventListener("click", function (event) {document.location.href = "/filmInfo99988143"; $$nav.off()});
        </script>
        
        <div id="film44" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4477067.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Уикенд с батей</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem447706744 = document.getElementById("film44")
            _elem447706744.addEventListener("click", function (event) {document.location.href = "/filmInfo447706744"; $$nav.off()});
        </script>
        
        <div id="film45" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_478052.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Барби</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47805245 = document.getElementById("film45")
            _elem47805245.addEventListener("click", function (event) {document.location.href = "/filmInfo47805245"; $$nav.off()});
        </script>
        
        <div id="film46" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4673782.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>История Ману</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem467378246 = document.getElementById("film46")
            _elem467378246.addEventListener("click", function (event) {document.location.href = "/filmInfo467378246"; $$nav.off()});
        </script>
        
        <div id="film47" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4947546.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Девичник: Убойная ночь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494754647 = document.getElementById("film47")
            _elem494754647.addEventListener("click", function (event) {document.location.href = "/filmInfo494754647"; $$nav.off()});
        </script>
        
        <div id="film48" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5235968.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Кентавр</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523596848 = document.getElementById("film48")
            _elem523596848.addEventListener("click", function (event) {document.location.href = "/filmInfo523596848"; $$nav.off()});
        </script>
        
        <div id="film49" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1311500.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Он умер и я тоже</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem131150049 = document.getElementById("film49")
            _elem131150049.addEventListener("click", function (event) {document.location.href = "/filmInfo131150049"; $$nav.off()});
        </script>
        