
         <div id='navbar'>
            <div class="navbar_wrap">
                <div class="posterImg" style="background-image: url('https://bazon.cc/download/poster/4498651.jpg');background-repeat: no-repeat; background-size: 100% 100%;" alt="posterimg"></div>
                <h2>Кровь за кровь</h2>
                <p>Год:2023</p>
                <p>Жанр:триллер,криминал</p>
                <p>Режиссер:Мэтью Нэйбл</p>
            </div>
        </div>
        <div class="poster_playerBlock">
            <div class="posterScreenshot" style="background-image: url('https://k18a.bazonserver.site/video/96292/poster.jpg');background-repeat: no-repeat; background-size: 100% 100%;">
            </div>
            <p>Бывший спецназовец ввязывается в преступную деятельность, чтобы не потерять единственного сына....</p>
        </div>
        <script type="text/javascript">
          $(document).keydown(function (e) {
             switch (e.key) {
                        break;
                    case 'Enter':
                        document.location.href = "/player"; 
                        break;
                    case 'Backspace':
                         document.location.href = "/"; 
                    break;
                }
          })
        </script>
        