
        <div id="film0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5100129.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Вот так повезло!</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51001290 = document.getElementById("film0")
            _elem51001290.addEventListener("click", function (event) {document.location.href = "/filmInfo51001290"; $$nav.off()});
        </script>
        
        <div id="film1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4655411.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Невероятное паломничество Гарольд</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46554111 = document.getElementById("film1")
            _elem46554111.addEventListener("click", function (event) {document.location.href = "/filmInfo46554111"; $$nav.off()});
        </script>
        
        <div id="film2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1360099.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Лакадейзи</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13600992 = document.getElementById("film2")
            _elem13600992.addEventListener("click", function (event) {document.location.href = "/filmInfo13600992"; $$nav.off()});
        </script>
        
        <div id="film3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5296922.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Джохан 2</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52969223 = document.getElementById("film3")
            _elem52969223.addEventListener("click", function (event) {document.location.href = "/filmInfo52969223"; $$nav.off()});
        </script>
        
        <div id="film4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1179918.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Единственная женщина в мире</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem11799184 = document.getElementById("film4")
            _elem11799184.addEventListener("click", function (event) {document.location.href = "/filmInfo11799184"; $$nav.off()});
        </script>
        
        <div id="film5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Лига Справедливости: Мир войны</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53054425 = document.getElementById("film5")
            _elem53054425.addEventListener("click", function (event) {document.location.href = "/filmInfo53054425"; $$nav.off()});
        </script>
        
        <div id="film6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Лига Справедливости: Мир войны</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53054426 = document.getElementById("film6")
            _elem53054426.addEventListener("click", function (event) {document.location.href = "/filmInfo53054426"; $$nav.off()});
        </script>
        
        <div id="film7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309392.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Мечта</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13093927 = document.getElementById("film7")
            _elem13093927.addEventListener("click", function (event) {document.location.href = "/filmInfo13093927"; $$nav.off()});
        </script>
        
        <div id="film8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4826605.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Аврора</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem48266058 = document.getElementById("film8")
            _elem48266058.addEventListener("click", function (event) {document.location.href = "/filmInfo48266058"; $$nav.off()});
        </script>
        
        <div id="film9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5364390.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Король и Шут: Сказка о Горшке и К</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53643909 = document.getElementById("film9")
            _elem53643909.addEventListener("click", function (event) {document.location.href = "/filmInfo53643909"; $$nav.off()});
        </script>
        
        <div id="film10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4745555.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Мама, можно мне?</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474555510 = document.getElementById("film10")
            _elem474555510.addEventListener("click", function (event) {document.location.href = "/filmInfo474555510"; $$nav.off()});
        </script>
        
        <div id="film11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Человек-паук: Паутина вселенных</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121917711 = document.getElementById("film11")
            _elem121917711.addEventListener("click", function (event) {document.location.href = "/filmInfo121917711"; $$nav.off()});
        </script>
        
        <div id="film12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4850225.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Астрал 5: Красная дверь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem485022512 = document.getElementById("film12")
            _elem485022512.addEventListener("click", function (event) {document.location.href = "/filmInfo485022512"; $$nav.off()});
        </script>
        
        <div id="film13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4751424.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Ужас Истфилда. Первое изгнание</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem475142413 = document.getElementById("film13")
            _elem475142413.addEventListener("click", function (event) {document.location.href = "/filmInfo475142413"; $$nav.off()});
        </script>
        
        <div id="film14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5053842.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Хождение по мукам</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem505384214 = document.getElementById("film14")
            _elem505384214.addEventListener("click", function (event) {document.location.href = "/filmInfo505384214"; $$nav.off()});
        </script>
        
        <div id="film15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5082399.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>По зову долга</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem508239915 = document.getElementById("film15")
            _elem508239915.addEventListener("click", function (event) {document.location.href = "/filmInfo508239915"; $$nav.off()});
        </script>
        
        <div id="film16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4672184.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Шрапнель</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem467218416 = document.getElementById("film16")
            _elem467218416.addEventListener("click", function (event) {document.location.href = "/filmInfo467218416"; $$nav.off()});
        </script>
        
        <div id="film17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4536580.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Баба Яга спасает мир</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem453658017 = document.getElementById("film17")
            _elem453658017.addEventListener("click", function (event) {document.location.href = "/filmInfo453658017"; $$nav.off()});
        </script>
        
        <div id="film18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5106374.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Король неба</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510637418 = document.getElementById("film18")
            _elem510637418.addEventListener("click", function (event) {document.location.href = "/filmInfo510637418"; $$nav.off()});
        </script>
        
        <div id="film19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4498651.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Кровь за кровь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem449865119 = document.getElementById("film19")
            _elem449865119.addEventListener("click", function (event) {document.location.href = "/filmInfo449865119"; $$nav.off()});
        </script>
        
        <div id="film20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Человек-паук: Паутина вселенных</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121917720 = document.getElementById("film20")
            _elem121917720.addEventListener("click", function (event) {document.location.href = "/filmInfo121917720"; $$nav.off()});
        </script>
        
        <div id="film21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4423264.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Живопись</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem442326421 = document.getElementById("film21")
            _elem442326421.addEventListener("click", function (event) {document.location.href = "/filmInfo442326421"; $$nav.off()});
        </script>
        
        <div id="film22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5325611.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Коллектив</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem532561122 = document.getElementById("film22")
            _elem532561122.addEventListener("click", function (event) {document.location.href = "/filmInfo532561122"; $$nav.off()});
        </script>
        
        <div id="film23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4645872.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Безумная поездочка</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem464587223 = document.getElementById("film23")
            _elem464587223.addEventListener("click", function (event) {document.location.href = "/filmInfo464587223"; $$nav.off()});
        </script>
        
        <div id="film24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309392.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Мечта</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem130939224 = document.getElementById("film24")
            _elem130939224.addEventListener("click", function (event) {document.location.href = "/filmInfo130939224"; $$nav.off()});
        </script>
        
        <div id="film25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4715481.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Дыхание</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem471548125 = document.getElementById("film25")
            _elem471548125.addEventListener("click", function (event) {document.location.href = "/filmInfo471548125"; $$nav.off()});
        </script>
        
        <div id="film26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4850225.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Астрал 5: Красная дверь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem485022526 = document.getElementById("film26")
            _elem485022526.addEventListener("click", function (event) {document.location.href = "/filmInfo485022526"; $$nav.off()});
        </script>
        
        <div id="film27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5176539.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Здесь подают любовь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem517653927 = document.getElementById("film27")
            _elem517653927.addEventListener("click", function (event) {document.location.href = "/filmInfo517653927"; $$nav.off()});
        </script>
        
        <div id="film28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4701154.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Канал</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem470115428 = document.getElementById("film28")
            _elem470115428.addEventListener("click", function (event) {document.location.href = "/filmInfo470115428"; $$nav.off()});
        </script>
        
        <div id="film29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4947546.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Девичник: Убойная ночь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494754629 = document.getElementById("film29")
            _elem494754629.addEventListener("click", function (event) {document.location.href = "/filmInfo494754629"; $$nav.off()});
        </script>
        
        <div id="film30" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Обитель зла: Остров смерти</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526431030 = document.getElementById("film30")
            _elem526431030.addEventListener("click", function (event) {document.location.href = "/filmInfo526431030"; $$nav.off()});
        </script>
        
        <div id="film31" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1167101.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Чарли и фантастическая четверка</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem116710131 = document.getElementById("film31")
            _elem116710131.addEventListener("click", function (event) {document.location.href = "/filmInfo116710131"; $$nav.off()});
        </script>
        
        <div id="film32" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1044002.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Гран Туризмо</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem104400232 = document.getElementById("film32")
            _elem104400232.addEventListener("click", function (event) {document.location.href = "/filmInfo104400232"; $$nav.off()});
        </script>
        
        <div id="film33" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305976.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Ещё один шанс</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530597633 = document.getElementById("film33")
            _elem530597633.addEventListener("click", function (event) {document.location.href = "/filmInfo530597633"; $$nav.off()});
        </script>
        
        <div id="film34" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1446821.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>В паутине страха</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem144682134 = document.getElementById("film34")
            _elem144682134.addEventListener("click", function (event) {document.location.href = "/filmInfo144682134"; $$nav.off()});
        </script>
        
        <div id="film35" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4987762.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Судьба</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem498776235 = document.getElementById("film35")
            _elem498776235.addEventListener("click", function (event) {document.location.href = "/filmInfo498776235"; $$nav.off()});
        </script>
        
        <div id="film36" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5332388.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Найди мне пару</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem533238836 = document.getElementById("film36")
            _elem533238836.addEventListener("click", function (event) {document.location.href = "/filmInfo533238836"; $$nav.off()});
        </script>
        
        <div id="film37" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5106632.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Роковая ошибка моего мужа</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510663237 = document.getElementById("film37")
            _elem510663237.addEventListener("click", function (event) {document.location.href = "/filmInfo510663237"; $$nav.off()});
        </script>
        
        <div id="film38" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5360659.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Лицом к лицу</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536065938 = document.getElementById("film38")
            _elem536065938.addEventListener("click", function (event) {document.location.href = "/filmInfo536065938"; $$nav.off()});
        </script>
        
        <div id="film39" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4655448.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Селфи</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem465544839 = document.getElementById("film39")
            _elem465544839.addEventListener("click", function (event) {document.location.href = "/filmInfo465544839"; $$nav.off()});
        </script>
        
        <div id="film40" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1208708.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Мег 2: Бездна</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem120870840 = document.getElementById("film40")
            _elem120870840.addEventListener("click", function (event) {document.location.href = "/filmInfo120870840"; $$nav.off()});
        </script>
        
        <div id="film41" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1111005.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Братья Супер Марио в кино</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem111100541 = document.getElementById("film41")
            _elem111100541.addEventListener("click", function (event) {document.location.href = "/filmInfo111100541"; $$nav.off()});
        </script>
        
        <div id="film42" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1111005.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Братья Супер Марио в кино</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem111100542 = document.getElementById("film42")
            _elem111100542.addEventListener("click", function (event) {document.location.href = "/filmInfo111100542"; $$nav.off()});
        </script>
        
        <div id="film43" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5192942.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Берегись ночной няни</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem519294243 = document.getElementById("film43")
            _elem519294243.addEventListener("click", function (event) {document.location.href = "/filmInfo519294243"; $$nav.off()});
        </script>
        
        <div id="film44" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5124666.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Смертельные семейные узы</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem512466644 = document.getElementById("film44")
            _elem512466644.addEventListener("click", function (event) {document.location.href = "/filmInfo512466644"; $$nav.off()});
        </script>
        
        <div id="film45" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4543979.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Новый Камен Райдер</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem454397945 = document.getElementById("film45")
            _elem454397945.addEventListener("click", function (event) {document.location.href = "/filmInfo454397945"; $$nav.off()});
        </script>
        
        <div id="film46" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1186274.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Какой-то Энди</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem118627446 = document.getElementById("film46")
            _elem118627446.addEventListener("click", function (event) {document.location.href = "/filmInfo118627446"; $$nav.off()});
        </script>
        
        <div id="film47" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5082039.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Лимб</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem508203947 = document.getElementById("film47")
            _elem508203947.addEventListener("click", function (event) {document.location.href = "/filmInfo508203947"; $$nav.off()});
        </script>
        
        <div id="film48" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5141387.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Любовь никогда не заканчивается!</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem514138748 = document.getElementById("film48")
            _elem514138748.addEventListener("click", function (event) {document.location.href = "/filmInfo514138748"; $$nav.off()});
        </script>
        
        <div id="film49" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5356482.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Пан Самоходик и тамплиеры</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535648249 = document.getElementById("film49")
            _elem535648249.addEventListener("click", function (event) {document.location.href = "/filmInfo535648249"; $$nav.off()});
        </script>
        