
        <div id="film0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4294848.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Сердце Стоун</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem42948480 = document.getElementById("film0")
            _elem42948480.addEventListener("click", function (event) {document.location.href = "/filmInfo42948480"; $$nav.off()});
        </script>
        
        <div id="film1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1413490.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Приключения Чжэн Цян</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem14134901 = document.getElementById("film1")
            _elem14134901.addEventListener("click", function (event) {document.location.href = "/filmInfo14134901"; $$nav.off()});
        </script>
        
        <div id="film2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1186008.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Белое пластиковое не</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem11860082 = document.getElementById("film2")
            _elem11860082.addEventListener("click", function (event) {document.location.href = "/filmInfo11860082"; $$nav.off()});
        </script>
        
        <div id="film3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5121120.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Судьба/странная подд</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51211203 = document.getElementById("film3")
            _elem51211203.addEventListener("click", function (event) {document.location.href = "/filmInfo51211203"; $$nav.off()});
        </script>
        
        <div id="film4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5121120.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Судьба/странная подд</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51211204 = document.getElementById("film4")
            _elem51211204.addEventListener("click", function (event) {document.location.href = "/filmInfo51211204"; $$nav.off()});
        </script>
        
        <div id="film5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5356271.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Царь обезьян</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53562715 = document.getElementById("film5")
            _elem53562715.addEventListener("click", function (event) {document.location.href = "/filmInfo53562715"; $$nav.off()});
        </script>
        
        <div id="film6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5240105.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">10 дней плохого чело</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52401056 = document.getElementById("film6")
            _elem52401056.addEventListener("click", function (event) {document.location.href = "/filmInfo52401056"; $$nav.off()});
        </script>
        
        <div id="film7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4908918.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Хитман</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49089187 = document.getElementById("film7")
            _elem49089187.addEventListener("click", function (event) {document.location.href = "/filmInfo49089187"; $$nav.off()});
        </script>
        
        <div id="film8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4645872.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Безумная поездочка</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46458728 = document.getElementById("film8")
            _elem46458728.addEventListener("click", function (event) {document.location.href = "/filmInfo46458728"; $$nav.off()});
        </script>
        
        <div id="film9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4541590.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Сенека: О сотворении</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem45415909 = document.getElementById("film9")
            _elem45415909.addEventListener("click", function (event) {document.location.href = "/filmInfo45415909"; $$nav.off()});
        </script>
        
        <div id="film10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5362083.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Побег с острова</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536208310 = document.getElementById("film10")
            _elem536208310.addEventListener("click", function (event) {document.location.href = "/filmInfo536208310"; $$nav.off()});
        </script>
        
        <div id="film11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5178862.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Только ты и я</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem517886211 = document.getElementById("film11")
            _elem517886211.addEventListener("click", function (event) {document.location.href = "/filmInfo517886211"; $$nav.off()});
        </script>
        
        <div id="film12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4674894.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Солнце и бетон</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem467489412 = document.getElementById("film12")
            _elem467489412.addEventListener("click", function (event) {document.location.href = "/filmInfo467489412"; $$nav.off()});
        </script>
        
        <div id="film13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5119523.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Схватка с дьяволом</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511952313 = document.getElementById("film13")
            _elem511952313.addEventListener("click", function (event) {document.location.href = "/filmInfo511952313"; $$nav.off()});
        </script>
        
        <div id="film14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5119523.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Схватка с дьяволом</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511952314 = document.getElementById("film14")
            _elem511952314.addEventListener("click", function (event) {document.location.href = "/filmInfo511952314"; $$nav.off()});
        </script>
        
        <div id="film15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5119523.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Схватка с дьяволом</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511952315 = document.getElementById("film15")
            _elem511952315.addEventListener("click", function (event) {document.location.href = "/filmInfo511952315"; $$nav.off()});
        </script>
        
        <div id="film16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4557113.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Потомок</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem455711316 = document.getElementById("film16")
            _elem455711316.addEventListener("click", function (event) {document.location.href = "/filmInfo455711316"; $$nav.off()});
        </script>
        
        <div id="film17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1319157.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Гипнотик</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem131915717 = document.getElementById("film17")
            _elem131915717.addEventListener("click", function (event) {document.location.href = "/filmInfo131915717"; $$nav.off()});
        </script>
        
        <div id="film18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4987446.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Без обид</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem498744618 = document.getElementById("film18")
            _elem498744618.addEventListener("click", function (event) {document.location.href = "/filmInfo498744618"; $$nav.off()});
        </script>
        
        <div id="film19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_724284.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Как слониха упала с </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem72428419 = document.getElementById("film19")
            _elem72428419.addEventListener("click", function (event) {document.location.href = "/filmInfo72428419"; $$nav.off()});
        </script>
        
        <div id="film20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4745766.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ты ранил мои чувства</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474576620 = document.getElementById("film20")
            _elem474576620.addEventListener("click", function (event) {document.location.href = "/filmInfo474576620"; $$nav.off()});
        </script>
        
        <div id="film21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5179839.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Бабуля</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem517983921 = document.getElementById("film21")
            _elem517983921.addEventListener("click", function (event) {document.location.href = "/filmInfo517983921"; $$nav.off()});
        </script>
        
        <div id="film22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5356482.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Пан Самоходик и тамп</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535648222 = document.getElementById("film22")
            _elem535648222.addEventListener("click", function (event) {document.location.href = "/filmInfo535648222"; $$nav.off()});
        </script>
        
        <div id="film23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5307600.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Вавилон 5: Дорога до</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530760023 = document.getElementById("film23")
            _elem530760023.addEventListener("click", function (event) {document.location.href = "/filmInfo530760023"; $$nav.off()});
        </script>
        
        <div id="film24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1398474.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Верная смерть</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem139847424 = document.getElementById("film24")
            _elem139847424.addEventListener("click", function (event) {document.location.href = "/filmInfo139847424"; $$nav.off()});
        </script>
        
        <div id="film25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5326242.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Полёт на ковре-самол</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem532624225 = document.getElementById("film25")
            _elem532624225.addEventListener("click", function (event) {document.location.href = "/filmInfo532624225"; $$nav.off()});
        </script>
        
        <div id="film26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5215660.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Роман двух убийц</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem521566026 = document.getElementById("film26")
            _elem521566026.addEventListener("click", function (event) {document.location.href = "/filmInfo521566026"; $$nav.off()});
        </script>
        
        <div id="film27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_975402.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Часовой</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem97540227 = document.getElementById("film27")
            _elem97540227.addEventListener("click", function (event) {document.location.href = "/filmInfo97540227"; $$nav.off()});
        </script>
        
        <div id="film28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5325611.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Коллектив</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem532561128 = document.getElementById("film28")
            _elem532561128.addEventListener("click", function (event) {document.location.href = "/filmInfo532561128"; $$nav.off()});
        </script>
        
        <div id="film29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4745555.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мама, можно мне?</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474555529 = document.getElementById("film29")
            _elem474555529.addEventListener("click", function (event) {document.location.href = "/filmInfo474555529"; $$nav.off()});
        </script>
        
        <div id="film30" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219153.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Синий Жук</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121915330 = document.getElementById("film30")
            _elem121915330.addEventListener("click", function (event) {document.location.href = "/filmInfo121915330"; $$nav.off()});
        </script>
        
        <div id="film31" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5100179.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мотив</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510017931 = document.getElementById("film31")
            _elem510017931.addEventListener("click", function (event) {document.location.href = "/filmInfo510017931"; $$nav.off()});
        </script>
        
        <div id="film32" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4557113.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Потомок</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem455711332 = document.getElementById("film32")
            _elem455711332.addEventListener("click", function (event) {document.location.href = "/filmInfo455711332"; $$nav.off()});
        </script>
        
        <div id="film33" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5143633.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Метаморф</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem514363333 = document.getElementById("film33")
            _elem514363333.addEventListener("click", function (event) {document.location.href = "/filmInfo514363333"; $$nav.off()});
        </script>
        
        <div id="film34" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4629912.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Птичий короб: Барсел</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem462991234 = document.getElementById("film34")
            _elem462991234.addEventListener("click", function (event) {document.location.href = "/filmInfo462991234"; $$nav.off()});
        </script>
        
        <div id="film35" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4645872.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Безумная поездочка</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem464587235 = document.getElementById("film35")
            _elem464587235.addEventListener("click", function (event) {document.location.href = "/filmInfo464587235"; $$nav.off()});
        </script>
        
        <div id="film36" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4699485.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рой</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem469948536 = document.getElementById("film36")
            _elem469948536.addEventListener("click", function (event) {document.location.href = "/filmInfo469948536"; $$nav.off()});
        </script>
        
        <div id="film37" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4987446.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Без обид</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem498744637 = document.getElementById("film37")
            _elem498744637.addEventListener("click", function (event) {document.location.href = "/filmInfo498744637"; $$nav.off()});
        </script>
        
        <div id="film38" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4987446.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Без обид</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem498744638 = document.getElementById("film38")
            _elem498744638.addEventListener("click", function (event) {document.location.href = "/filmInfo498744638"; $$nav.off()});
        </script>
        
        <div id="film39" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4845727.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Микки Хардэвэй</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem484572739 = document.getElementById("film39")
            _elem484572739.addEventListener("click", function (event) {document.location.href = "/filmInfo484572739"; $$nav.off()});
        </script>
        
        <div id="film40" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4947357.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Призрак внутри</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494735740 = document.getElementById("film40")
            _elem494735740.addEventListener("click", function (event) {document.location.href = "/filmInfo494735740"; $$nav.off()});
        </script>
        
        <div id="film41" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5126236.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Coдepжaнкa-убийцa</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem512623641 = document.getElementById("film41")
            _elem512623641.addEventListener("click", function (event) {document.location.href = "/filmInfo512623641"; $$nav.off()});
        </script>
        
        <div id="film42" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4479969.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Одной безумной ночью</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem447996942 = document.getElementById("film42")
            _elem447996942.addEventListener("click", function (event) {document.location.href = "/filmInfo447996942"; $$nav.off()});
        </script>
        
        <div id="film43" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4948187.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Лучшие дни</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494818743 = document.getElementById("film43")
            _elem494818743.addEventListener("click", function (event) {document.location.href = "/filmInfo494818743"; $$nav.off()});
        </script>
        
        <div id="film44" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4746977.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Будь со мной если см</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474697744 = document.getElementById("film44")
            _elem474697744.addEventListener("click", function (event) {document.location.href = "/filmInfo474697744"; $$nav.off()});
        </script>
        
        <div id="film45" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5142294.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Т.И.М.</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem514229445 = document.getElementById("film45")
            _elem514229445.addEventListener("click", function (event) {document.location.href = "/filmInfo514229445"; $$nav.off()});
        </script>
        
        <div id="film46" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5199079.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Асфальт</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem519907946 = document.getElementById("film46")
            _elem519907946.addEventListener("click", function (event) {document.location.href = "/filmInfo519907946"; $$nav.off()});
        </script>
        
        <div id="film47" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5099823.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мигель хочет драться</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem509982347 = document.getElementById("film47")
            _elem509982347.addEventListener("click", function (event) {document.location.href = "/filmInfo509982347"; $$nav.off()});
        </script>
        
        <div id="film48" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1338831.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Домработница</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem133883148 = document.getElementById("film48")
            _elem133883148.addEventListener("click", function (event) {document.location.href = "/filmInfo133883148"; $$nav.off()});
        </script>
        
        <div id="film49" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Человек-паук: Паутин</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121917749 = document.getElementById("film49")
            _elem121917749.addEventListener("click", function (event) {document.location.href = "/filmInfo121917749"; $$nav.off()});
        </script>
        