
        <div id="film0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4774061/c0156990-3f6f-44e6-9137-95cc1f6e9a71/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">На одном крыле</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44909550 = document.getElementById("film0")
            _elem44909550.addEventListener("click", function (event) {document.location.href = "/filmInfo44909550"; $$nav.off()});
        </script>
        
        <div id="film1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4483445/e5ba1bf0-e6a7-4039-b8a1-6bb74b46498f/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Две грешницы и мул</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49483801 = document.getElementById("film1")
            _elem49483801.addEventListener("click", function (event) {document.location.href = "/filmInfo49483801"; $$nav.off()});
        </script>
        
        <div id="film2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10671298/f96062f4-4749-4e19-9443-ef44170e7d55/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Хитровка. Знак четыр</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51016732 = document.getElementById("film2")
            _elem51016732.addEventListener("click", function (event) {document.location.href = "/filmInfo51016732"; $$nav.off()});
        </script>
        
        <div id="film3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10671298/5859a0e6-b3e0-444a-949e-844079332f85/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Триггер. Фильм</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49586683 = document.getElementById("film3")
            _elem49586683.addEventListener("click", function (event) {document.location.href = "/filmInfo49586683"; $$nav.off()});
        </script>
        
        <div id="film4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/1898899/c5cabd6f-3a63-4711-9c58-13557a8acfbf/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Беглец</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13907934 = document.getElementById("film4")
            _elem13907934.addEventListener("click", function (event) {document.location.href = "/filmInfo13907934"; $$nav.off()});
        </script>
        
        <div id="film5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4483445/70f0c5a8-251f-41c0-a60a-aececef164d3/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Часовой</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem9754025 = document.getElementById("film5")
            _elem9754025.addEventListener("click", function (event) {document.location.href = "/filmInfo9754025"; $$nav.off()});
        </script>
        
        <div id="film6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10900341/0330c6a4-4043-4d7c-a347-addad61713c8/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Изгои</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50507616 = document.getElementById("film6")
            _elem50507616.addEventListener("click", function (event) {document.location.href = "/filmInfo50507616"; $$nav.off()});
        </script>
        
        <div id="film7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/1898899/868f29b8-bf06-492e-af24-f4a774bd6c11/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Баба Мороз и тайна Н</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53681797 = document.getElementById("film7")
            _elem53681797.addEventListener("click", function (event) {document.location.href = "/filmInfo53681797"; $$nav.off()});
        </script>
        
        <div id="film8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4774061/d02107c1-4f4d-4246-8b86-27635cd16889/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Три мушкетера</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47472898 = document.getElementById("film8")
            _elem47472898.addEventListener("click", function (event) {document.location.href = "/filmInfo47472898"; $$nav.off()});
        </script>
        
        <div id="film9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/df482a6f-9b01-4848-bb6c-ca7fba939bb2/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Любовь с первого поц</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44219539 = document.getElementById("film9")
            _elem44219539.addEventListener("click", function (event) {document.location.href = "/filmInfo44219539"; $$nav.off()});
        </script>
        
        <div id="film10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4486454/16a20d52-9688-4b6d-bf7b-635bacecac17/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Кристи</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem525322010 = document.getElementById("film10")
            _elem525322010.addEventListener("click", function (event) {document.location.href = "/filmInfo525322010"; $$nav.off()});
        </script>
        
        <div id="film11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4483445/03cfb001-f5ab-4433-971a-e5045deaedc7/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Роза на её могиле: И</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510663111 = document.getElementById("film11")
            _elem510663111.addEventListener("click", function (event) {document.location.href = "/filmInfo510663111"; $$nav.off()});
        </script>
        
        <div id="film12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10809116/86ec756b-551e-4904-8134-f82289ace465/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Человек-паук: Лотос</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem436759212 = document.getElementById("film12")
            _elem436759212.addEventListener("click", function (event) {document.location.href = "/filmInfo436759212"; $$nav.off()});
        </script>
        
        <div id="film13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/9144613f-3476-4d19-ab8d-75b9f2240aee/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Лёгкое знакомство</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem524536513 = document.getElementById("film13")
            _elem524536513.addEventListener("click", function (event) {document.location.href = "/filmInfo524536513"; $$nav.off()});
        </script>
        
        <div id="film14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4483445/d67755ec-81c8-43c0-ae5f-3df9140ec8a0/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">10 дней хорошего чел</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem521364314 = document.getElementById("film14")
            _elem521364314.addEventListener("click", function (event) {document.location.href = "/filmInfo521364314"; $$nav.off()});
        </script>
        
        <div id="film15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/f3e2a1a1-89a1-460b-8206-7f779e1e359c/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Голод</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem517104015 = document.getElementById("film15")
            _elem517104015.addEventListener("click", function (event) {document.location.href = "/filmInfo517104015"; $$nav.off()});
        </script>
        
        <div id="film16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10809116/9aeb9219-0837-4a83-81ee-5bbadb8b95f0/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Проклятое наследие</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523592216 = document.getElementById("film16")
            _elem523592216.addEventListener("click", function (event) {document.location.href = "/filmInfo523592216"; $$nav.off()});
        </script>
        
        <div id="film17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4486454/8d6d6c9e-cca6-4b72-b8ec-3530db0b39eb/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Эллиот и волшебный а</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem463052017 = document.getElementById("film17")
            _elem463052017.addEventListener("click", function (event) {document.location.href = "/filmInfo463052017"; $$nav.off()});
        </script>
        
        <div id="film18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/ebb6d239-c080-47e9-871f-d6857b767d67/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Трио в перьях 2</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511729818 = document.getElementById("film18")
            _elem511729818.addEventListener("click", function (event) {document.location.href = "/filmInfo511729818"; $$nav.off()});
        </script>
        
        <div id="film19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4483445/727b1bdd-884d-488e-8271-5a86eab2e139/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Безумие</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem137575419 = document.getElementById("film19")
            _elem137575419.addEventListener("click", function (event) {document.location.href = "/filmInfo137575419"; $$nav.off()});
        </script>
        
        <div id="film20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4774061/33016004-5d2f-49d5-9674-d2cf58238e54/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Игра в лифте</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem502442920 = document.getElementById("film20")
            _elem502442920.addEventListener("click", function (event) {document.location.href = "/filmInfo502442920"; $$nav.off()});
        </script>
        
        <div id="film21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4483445/80308738-65a0-41e0-9bad-282a7d2dfc97/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Лига справедливости </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526122721 = document.getElementById("film21")
            _elem526122721.addEventListener("click", function (event) {document.location.href = "/filmInfo526122721"; $$nav.off()});
        </script>
        
        <div id="film22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4774061/bfa0c504-034e-4c21-b9b3-12d594cb6b6c/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Сказка на ночь</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem519052022 = document.getElementById("film22")
            _elem519052022.addEventListener("click", function (event) {document.location.href = "/filmInfo519052022"; $$nav.off()});
        </script>
        
        <div id="film23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/6a465db0-765b-4630-8f7f-38496b555e63/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Кокаиновый медведь</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem447688923 = document.getElementById("film23")
            _elem447688923.addEventListener("click", function (event) {document.location.href = "/filmInfo447688923"; $$nav.off()});
        </script>
        
        <div id="film24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4774061/0b57d4f7-bde2-45d3-a88b-a84ea1f59ef0/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Не бойся</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem139931024 = document.getElementById("film24")
            _elem139931024.addEventListener("click", function (event) {document.location.href = "/filmInfo139931024"; $$nav.off()});
        </script>
        
        <div id="film25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/e24705d3-a2ef-4174-82ec-743c2e64b3b4/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">О чем говорят незнак</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474749925 = document.getElementById("film25")
            _elem474749925.addEventListener("click", function (event) {document.location.href = "/filmInfo474749925"; $$nav.off()});
        </script>
        
        <div id="film26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4486454/c9e04223-20a9-4802-821c-a53f7f019cff/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Трилогия о богах. Ча</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem104557926 = document.getElementById("film26")
            _elem104557926.addEventListener("click", function (event) {document.location.href = "/filmInfo104557926"; $$nav.off()});
        </script>
        
        <div id="film27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/d018c942-0044-4eeb-af9a-508f84015ceb/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дикс: Мюзикл</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem486088327 = document.getElementById("film27")
            _elem486088327.addEventListener("click", function (event) {document.location.href = "/filmInfo486088327"; $$nav.off()});
        </script>
        
        <div id="film28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4774061/805b98ab-0871-4413-8a1e-1670a4675e5b/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Удушающий захват</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem514182928 = document.getElementById("film28")
            _elem514182928.addEventListener("click", function (event) {document.location.href = "/filmInfo514182928"; $$nav.off()});
        </script>
        
        <div id="film29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/1599028/ba16729f-3748-42f2-92c5-ff01ed10355d/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Павлин</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem202329 = document.getElementById("film29")
            _elem202329.addEventListener("click", function (event) {document.location.href = "/filmInfo202329"; $$nav.off()});
        </script>
        