
        <div id="film0" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5246538.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Клуб убийц</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52465380 = document.getElementById("film0")
            _elem52465380.addEventListener("click", function (event) {document.location.href = "/filmInfo52465380"; $$nav.off()});
        </script>
        
        <div id="film1" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5197332.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Пернатый патруль</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51973321 = document.getElementById("film1")
            _elem51973321.addEventListener("click", function (event) {document.location.href = "/filmInfo51973321"; $$nav.off()});
        </script>
        
        <div id="film2" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4913245.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Чувства Анны</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49132452 = document.getElementById("film2")
            _elem49132452.addEventListener("click", function (event) {document.location.href = "/filmInfo49132452"; $$nav.off()});
        </script>
        
        <div id="film3" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4860001.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мистер Блейк к вашим</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem48600013 = document.getElementById("film3")
            _elem48600013.addEventListener("click", function (event) {document.location.href = "/filmInfo48600013"; $$nav.off()});
        </script>
        
        <div id="film4" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_989396.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Волшебное приключени</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem9893964 = document.getElementById("film4")
            _elem9893964.addEventListener("click", function (event) {document.location.href = "/filmInfo9893964"; $$nav.off()});
        </script>
        
        <div id="film5" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4396771.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Великий беглец</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem43967715 = document.getElementById("film5")
            _elem43967715.addEventListener("click", function (event) {document.location.href = "/filmInfo43967715"; $$nav.off()});
        </script>
        
        <div id="film6" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4969384.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дом тысячи дверей</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49693846 = document.getElementById("film6")
            _elem49693846.addEventListener("click", function (event) {document.location.href = "/filmInfo49693846"; $$nav.off()});
        </script>
        
        <div id="film7" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5088995.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Синдром</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50889957 = document.getElementById("film7")
            _elem50889957.addEventListener("click", function (event) {document.location.href = "/filmInfo50889957"; $$nav.off()});
        </script>
        
        <div id="film8" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5265666.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Той boy</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52656668 = document.getElementById("film8")
            _elem52656668.addEventListener("click", function (event) {document.location.href = "/filmInfo52656668"; $$nav.off()});
        </script>
        
        <div id="film9" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4499386.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Оставленные</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44993869 = document.getElementById("film9")
            _elem44993869.addEventListener("click", function (event) {document.location.href = "/filmInfo44993869"; $$nav.off()});
        </script>
        
        <div id="film10" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4542662.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Никому ни слова</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem454266210 = document.getElementById("film10")
            _elem454266210.addEventListener("click", function (event) {document.location.href = "/filmInfo454266210"; $$nav.off()});
        </script>
        
        <div id="film11" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4477912.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Визгун</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem447791211 = document.getElementById("film11")
            _elem447791211.addEventListener("click", function (event) {document.location.href = "/filmInfo447791211"; $$nav.off()});
        </script>
        
        <div id="film12" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4948033.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рождество в отеле Хо</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494803312 = document.getElementById("film12")
            _elem494803312.addEventListener("click", function (event) {document.location.href = "/filmInfo494803312"; $$nav.off()});
        </script>
        
        <div id="film13" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5318704.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Крик. Ночь перед Рож</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem531870413 = document.getElementById("film13")
            _elem531870413.addEventListener("click", function (event) {document.location.href = "/filmInfo531870413"; $$nav.off()});
        </script>
        
        <div id="film14" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5072899.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Подходящая плоть</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem507289914 = document.getElementById("film14")
            _elem507289914.addEventListener("click", function (event) {document.location.href = "/filmInfo507289914"; $$nav.off()});
        </script>
        
        <div id="film15" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4499408.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Создатель</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem449940815 = document.getElementById("film15")
            _elem449940815.addEventListener("click", function (event) {document.location.href = "/filmInfo449940815"; $$nav.off()});
        </script>
        
        <div id="film16" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4499408.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Создатель</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem449940816 = document.getElementById("film16")
            _elem449940816.addEventListener("click", function (event) {document.location.href = "/filmInfo449940816"; $$nav.off()});
        </script>
        
        <div id="film17" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5386352.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Влюбиться в воздухе</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem538635217 = document.getElementById("film17")
            _elem538635217.addEventListener("click", function (event) {document.location.href = "/filmInfo538635217"; $$nav.off()});
        </script>
        
        <div id="film18" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1369017.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Грохот сквозь тьму</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem136901718 = document.getElementById("film18")
            _elem136901718.addEventListener("click", function (event) {document.location.href = "/filmInfo136901718"; $$nav.off()});
        </script>
        
        <div id="film19" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5406528.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Проверь дважды</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540652819 = document.getElementById("film19")
            _elem540652819.addEventListener("click", function (event) {document.location.href = "/filmInfo540652819"; $$nav.off()});
        </script>
        
        <div id="film20" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5399285.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Слай Сталлоне</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem539928520 = document.getElementById("film20")
            _elem539928520.addEventListener("click", function (event) {document.location.href = "/filmInfo539928520"; $$nav.off()});
        </script>
        
        <div id="film21" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1396324.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Клуб чудес</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem139632421 = document.getElementById("film21")
            _elem139632421.addEventListener("click", function (event) {document.location.href = "/filmInfo139632421"; $$nav.off()});
        </script>
        
        <div id="film22" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4673423.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Список</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem467342322 = document.getElementById("film22")
            _elem467342322.addEventListener("click", function (event) {document.location.href = "/filmInfo467342322"; $$nav.off()});
        </script>
        
        <div id="film23" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4847611.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">В огне</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem484761123 = document.getElementById("film23")
            _elem484761123.addEventListener("click", function (event) {document.location.href = "/filmInfo484761123"; $$nav.off()});
        </script>
        
        <div id="film24" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5098675.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Всё о сексе</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem509867524 = document.getElementById("film24")
            _elem509867524.addEventListener("click", function (event) {document.location.href = "/filmInfo509867524"; $$nav.off()});
        </script>
        
        <div id="film25" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4728994.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Год рождения</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem472899425 = document.getElementById("film25")
            _elem472899425.addEventListener("click", function (event) {document.location.href = "/filmInfo472899425"; $$nav.off()});
        </script>
        
        <div id="film26" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5406538.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дизайнерское Рождест</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540653826 = document.getElementById("film26")
            _elem540653826.addEventListener("click", function (event) {document.location.href = "/filmInfo540653826"; $$nav.off()});
        </script>
        
        <div id="film27" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4966119.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Смастери мне роман</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem496611927 = document.getElementById("film27")
            _elem496611927.addEventListener("click", function (event) {document.location.href = "/filmInfo496611927"; $$nav.off()});
        </script>
        
        <div id="film28" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1154930.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Недруг</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem115493028 = document.getElementById("film28")
            _elem115493028.addEventListener("click", function (event) {document.location.href = "/filmInfo115493028"; $$nav.off()});
        </script>
        
        <div id="film29" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1405227.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Адвокатский шторм</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem140522729 = document.getElementById("film29")
            _elem140522729.addEventListener("click", function (event) {document.location.href = "/filmInfo140522729"; $$nav.off()});
        </script>
        
        <div id="film30" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4783600.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Слепой</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem478360030 = document.getElementById("film30")
            _elem478360030.addEventListener("click", function (event) {document.location.href = "/filmInfo478360030"; $$nav.off()});
        </script>
        
        <div id="film31" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5301098.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ещё раз вчера</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530109831 = document.getElementById("film31")
            _elem530109831.addEventListener("click", function (event) {document.location.href = "/filmInfo530109831"; $$nav.off()});
        </script>
        
        <div id="film32" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4397366.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дочь болотного царя</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem439736632 = document.getElementById("film32")
            _elem439736632.addEventListener("click", function (event) {document.location.href = "/filmInfo439736632"; $$nav.off()});
        </script>
        
        <div id="film33" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5406566.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мисс Рождество в гор</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540656633 = document.getElementById("film33")
            _elem540656633.addEventListener("click", function (event) {document.location.href = "/filmInfo540656633"; $$nav.off()});
        </script>
        
        <div id="film34" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1401280.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Пиппа</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem140128034 = document.getElementById("film34")
            _elem140128034.addEventListener("click", function (event) {document.location.href = "/filmInfo140128034"; $$nav.off()});
        </script>
        
        <div id="film35" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4892003.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Навсегда</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem489200335 = document.getElementById("film35")
            _elem489200335.addEventListener("click", function (event) {document.location.href = "/filmInfo489200335"; $$nav.off()});
        </script>
        
        <div id="film36" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4366998.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ногти</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem436699836 = document.getElementById("film36")
            _elem436699836.addEventListener("click", function (event) {document.location.href = "/filmInfo436699836"; $$nav.off()});
        </script>
        
        <div id="film37" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1374031.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Теперь всё в порядке</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem137403137 = document.getElementById("film37")
            _elem137403137.addEventListener("click", function (event) {document.location.href = "/filmInfo137403137"; $$nav.off()});
        </script>
        
        <div id="film38" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_462656.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Убийца</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46265638 = document.getElementById("film38")
            _elem46265638.addEventListener("click", function (event) {document.location.href = "/filmInfo46265638"; $$nav.off()});
        </script>
        
        <div id="film39" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_462656.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Убийца</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46265639 = document.getElementById("film39")
            _elem46265639.addEventListener("click", function (event) {document.location.href = "/filmInfo46265639"; $$nav.off()});
        </script>
        
        <div id="film40" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1423937.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Собачий побег</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem142393740 = document.getElementById("film40")
            _elem142393740.addEventListener("click", function (event) {document.location.href = "/filmInfo142393740"; $$nav.off()});
        </script>
        
        <div id="film41" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1287544.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Капитан Марвел 2</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem128754441 = document.getElementById("film41")
            _elem128754441.addEventListener("click", function (event) {document.location.href = "/filmInfo128754441"; $$nav.off()});
        </script>
        
        <div id="film42" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1342478.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ведьмино наследие</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem134247842 = document.getElementById("film42")
            _elem134247842.addEventListener("click", function (event) {document.location.href = "/filmInfo134247842"; $$nav.off()});
        </script>
        
        <div id="film43" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4708940.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Щенячий патруль: Мег</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem470894043 = document.getElementById("film43")
            _elem470894043.addEventListener("click", function (event) {document.location.href = "/filmInfo470894043"; $$nav.off()});
        </script>
        
        <div id="film44" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1395369.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Леди Баг и Супер-Кот</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem139536944 = document.getElementById("film44")
            _elem139536944.addEventListener("click", function (event) {document.location.href = "/filmInfo139536944"; $$nav.off()});
        </script>
        
        <div id="film45" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4846381.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дорога отчаяния</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem484638145 = document.getElementById("film45")
            _elem484638145.addEventListener("click", function (event) {document.location.href = "/filmInfo484638145"; $$nav.off()});
        </script>
        
        <div id="film46" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4543059.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Король Коты</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem454305946 = document.getElementById("film46")
            _elem454305946.addEventListener("click", function (event) {document.location.href = "/filmInfo454305946"; $$nav.off()});
        </script>
        
        <div id="film47" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5080630.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Пила 10</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem508063047 = document.getElementById("film47")
            _elem508063047.addEventListener("click", function (event) {document.location.href = "/filmInfo508063047"; $$nav.off()});
        </script>
        
        <div id="film48" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5141739.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Новый Олимп</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem514173948 = document.getElementById("film48")
            _elem514173948.addEventListener("click", function (event) {document.location.href = "/filmInfo514173948"; $$nav.off()});
        </script>
        
        <div id="film49" class="filmsItem item nav-item" data-nav_ud="#channel1,0,#cartoon0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5360455.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Шарксплотейшн</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536045549 = document.getElementById("film49")
            _elem536045549.addEventListener("click", function (event) {document.location.href = "/filmInfo536045549"; $$nav.off()});
        </script>
        