
        <div id="film0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Человек-паук: Паутина вселенных</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem12191770 = document.getElementById("film0")
            _elem12191770.addEventListener("click", function (event) {document.location.href = "/filmInfo12191770"; $$nav.off()});
        </script>
        
        <div id="film1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4672184.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Шрапнель</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46721841 = document.getElementById("film1")
            _elem46721841.addEventListener("click", function (event) {document.location.href = "/filmInfo46721841"; $$nav.off()});
        </script>
        
        <div id="film2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5364881.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Любовь по расчету</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53648812 = document.getElementById("film2")
            _elem53648812.addEventListener("click", function (event) {document.location.href = "/filmInfo53648812"; $$nav.off()});
        </script>
        
        <div id="film3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4745359.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Больше, чем люди</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47453593 = document.getElementById("film3")
            _elem47453593.addEventListener("click", function (event) {document.location.href = "/filmInfo47453593"; $$nav.off()});
        </script>
        
        <div id="film4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4908918.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Герои и злодеи</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49089184 = document.getElementById("film4")
            _elem49089184.addEventListener("click", function (event) {document.location.href = "/filmInfo49089184"; $$nav.off()});
        </script>
        
        <div id="film5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4750522.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Трое лишних</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47505225 = document.getElementById("film5")
            _elem47505225.addEventListener("click", function (event) {document.location.href = "/filmInfo47505225"; $$nav.off()});
        </script>
        
        <div id="film6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4987446.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Без обид</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49874466 = document.getElementById("film6")
            _elem49874466.addEventListener("click", function (event) {document.location.href = "/filmInfo49874466"; $$nav.off()});
        </script>
        
        <div id="film7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5360776.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Покончить со всеми войнами: Оппен</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53607767 = document.getElementById("film7")
            _elem53607767.addEventListener("click", function (event) {document.location.href = "/filmInfo53607767"; $$nav.off()});
        </script>
        
        <div id="film8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4845485.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Плюшевый пузырь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem48454858 = document.getElementById("film8")
            _elem48454858.addEventListener("click", function (event) {document.location.href = "/filmInfo48454858"; $$nav.off()});
        </script>
        
        <div id="film9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_937438.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Трансформеры: Восхождение Зверобо</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem9374389 = document.getElementById("film9")
            _elem9374389.addEventListener("click", function (event) {document.location.href = "/filmInfo9374389"; $$nav.off()});
        </script>
        
        <div id="film10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5100129.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Вот так повезло!</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510012910 = document.getElementById("film10")
            _elem510012910.addEventListener("click", function (event) {document.location.href = "/filmInfo510012910"; $$nav.off()});
        </script>
        
        <div id="film11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4655411.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Невероятное паломничество Гарольд</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem465541111 = document.getElementById("film11")
            _elem465541111.addEventListener("click", function (event) {document.location.href = "/filmInfo465541111"; $$nav.off()});
        </script>
        
        <div id="film12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1360099.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Лакадейзи</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem136009912 = document.getElementById("film12")
            _elem136009912.addEventListener("click", function (event) {document.location.href = "/filmInfo136009912"; $$nav.off()});
        </script>
        
        <div id="film13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5296922.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Джохан 2</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem529692213 = document.getElementById("film13")
            _elem529692213.addEventListener("click", function (event) {document.location.href = "/filmInfo529692213"; $$nav.off()});
        </script>
        
        <div id="film14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1179918.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Единственная женщина в мире</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem117991814 = document.getElementById("film14")
            _elem117991814.addEventListener("click", function (event) {document.location.href = "/filmInfo117991814"; $$nav.off()});
        </script>
        
        <div id="film15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Лига Справедливости: Мир войны</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530544215 = document.getElementById("film15")
            _elem530544215.addEventListener("click", function (event) {document.location.href = "/filmInfo530544215"; $$nav.off()});
        </script>
        
        <div id="film16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Лига Справедливости: Мир войны</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530544216 = document.getElementById("film16")
            _elem530544216.addEventListener("click", function (event) {document.location.href = "/filmInfo530544216"; $$nav.off()});
        </script>
        
        <div id="film17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309392.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Мечта</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem130939217 = document.getElementById("film17")
            _elem130939217.addEventListener("click", function (event) {document.location.href = "/filmInfo130939217"; $$nav.off()});
        </script>
        
        <div id="film18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4826605.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Аврора</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem482660518 = document.getElementById("film18")
            _elem482660518.addEventListener("click", function (event) {document.location.href = "/filmInfo482660518"; $$nav.off()});
        </script>
        
        <div id="film19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5364390.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Король и Шут: Сказка о Горшке и К</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536439019 = document.getElementById("film19")
            _elem536439019.addEventListener("click", function (event) {document.location.href = "/filmInfo536439019"; $$nav.off()});
        </script>
        
        <div id="film20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4745555.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Мама, можно мне?</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474555520 = document.getElementById("film20")
            _elem474555520.addEventListener("click", function (event) {document.location.href = "/filmInfo474555520"; $$nav.off()});
        </script>
        
        <div id="film21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Человек-паук: Паутина вселенных</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121917721 = document.getElementById("film21")
            _elem121917721.addEventListener("click", function (event) {document.location.href = "/filmInfo121917721"; $$nav.off()});
        </script>
        
        <div id="film22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4850225.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Астрал 5: Красная дверь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem485022522 = document.getElementById("film22")
            _elem485022522.addEventListener("click", function (event) {document.location.href = "/filmInfo485022522"; $$nav.off()});
        </script>
        
        <div id="film23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4751424.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Ужас Истфилда. Первое изгнание</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem475142423 = document.getElementById("film23")
            _elem475142423.addEventListener("click", function (event) {document.location.href = "/filmInfo475142423"; $$nav.off()});
        </script>
        
        <div id="film24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5053842.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Хождение по мукам</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem505384224 = document.getElementById("film24")
            _elem505384224.addEventListener("click", function (event) {document.location.href = "/filmInfo505384224"; $$nav.off()});
        </script>
        
        <div id="film25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5082399.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>По зову долга</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem508239925 = document.getElementById("film25")
            _elem508239925.addEventListener("click", function (event) {document.location.href = "/filmInfo508239925"; $$nav.off()});
        </script>
        
        <div id="film26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4536580.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Баба Яга спасает мир</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem453658026 = document.getElementById("film26")
            _elem453658026.addEventListener("click", function (event) {document.location.href = "/filmInfo453658026"; $$nav.off()});
        </script>
        
        <div id="film27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5106374.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Король неба</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510637427 = document.getElementById("film27")
            _elem510637427.addEventListener("click", function (event) {document.location.href = "/filmInfo510637427"; $$nav.off()});
        </script>
        
        <div id="film28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4498651.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Кровь за кровь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem449865128 = document.getElementById("film28")
            _elem449865128.addEventListener("click", function (event) {document.location.href = "/filmInfo449865128"; $$nav.off()});
        </script>
        
        <div id="film29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Человек-паук: Паутина вселенных</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121917729 = document.getElementById("film29")
            _elem121917729.addEventListener("click", function (event) {document.location.href = "/filmInfo121917729"; $$nav.off()});
        </script>
        
        <div id="film30" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4423264.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Живопись</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem442326430 = document.getElementById("film30")
            _elem442326430.addEventListener("click", function (event) {document.location.href = "/filmInfo442326430"; $$nav.off()});
        </script>
        
        <div id="film31" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5325611.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Коллектив</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem532561131 = document.getElementById("film31")
            _elem532561131.addEventListener("click", function (event) {document.location.href = "/filmInfo532561131"; $$nav.off()});
        </script>
        
        <div id="film32" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4645872.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Безумная поездочка</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem464587232 = document.getElementById("film32")
            _elem464587232.addEventListener("click", function (event) {document.location.href = "/filmInfo464587232"; $$nav.off()});
        </script>
        
        <div id="film33" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309392.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Мечта</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem130939233 = document.getElementById("film33")
            _elem130939233.addEventListener("click", function (event) {document.location.href = "/filmInfo130939233"; $$nav.off()});
        </script>
        
        <div id="film34" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4715481.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Дыхание</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem471548134 = document.getElementById("film34")
            _elem471548134.addEventListener("click", function (event) {document.location.href = "/filmInfo471548134"; $$nav.off()});
        </script>
        
        <div id="film35" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4850225.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Астрал 5: Красная дверь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem485022535 = document.getElementById("film35")
            _elem485022535.addEventListener("click", function (event) {document.location.href = "/filmInfo485022535"; $$nav.off()});
        </script>
        
        <div id="film36" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5176539.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Здесь подают любовь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem517653936 = document.getElementById("film36")
            _elem517653936.addEventListener("click", function (event) {document.location.href = "/filmInfo517653936"; $$nav.off()});
        </script>
        
        <div id="film37" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4701154.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Канал</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem470115437 = document.getElementById("film37")
            _elem470115437.addEventListener("click", function (event) {document.location.href = "/filmInfo470115437"; $$nav.off()});
        </script>
        
        <div id="film38" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4947546.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Девичник: Убойная ночь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494754638 = document.getElementById("film38")
            _elem494754638.addEventListener("click", function (event) {document.location.href = "/filmInfo494754638"; $$nav.off()});
        </script>
        
        <div id="film39" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Обитель зла: Остров смерти</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526431039 = document.getElementById("film39")
            _elem526431039.addEventListener("click", function (event) {document.location.href = "/filmInfo526431039"; $$nav.off()});
        </script>
        
        <div id="film40" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1167101.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Чарли и фантастическая четверка</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem116710140 = document.getElementById("film40")
            _elem116710140.addEventListener("click", function (event) {document.location.href = "/filmInfo116710140"; $$nav.off()});
        </script>
        
        <div id="film41" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1044002.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Гран Туризмо</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem104400241 = document.getElementById("film41")
            _elem104400241.addEventListener("click", function (event) {document.location.href = "/filmInfo104400241"; $$nav.off()});
        </script>
        
        <div id="film42" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305976.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Ещё один шанс</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530597642 = document.getElementById("film42")
            _elem530597642.addEventListener("click", function (event) {document.location.href = "/filmInfo530597642"; $$nav.off()});
        </script>
        
        <div id="film43" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1446821.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>В паутине страха</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem144682143 = document.getElementById("film43")
            _elem144682143.addEventListener("click", function (event) {document.location.href = "/filmInfo144682143"; $$nav.off()});
        </script>
        
        <div id="film44" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4987762.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Судьба</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem498776244 = document.getElementById("film44")
            _elem498776244.addEventListener("click", function (event) {document.location.href = "/filmInfo498776244"; $$nav.off()});
        </script>
        
        <div id="film45" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5332388.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Найди мне пару</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem533238845 = document.getElementById("film45")
            _elem533238845.addEventListener("click", function (event) {document.location.href = "/filmInfo533238845"; $$nav.off()});
        </script>
        
        <div id="film46" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5106632.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Роковая ошибка моего мужа</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510663246 = document.getElementById("film46")
            _elem510663246.addEventListener("click", function (event) {document.location.href = "/filmInfo510663246"; $$nav.off()});
        </script>
        
        <div id="film47" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5360659.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Лицом к лицу</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536065947 = document.getElementById("film47")
            _elem536065947.addEventListener("click", function (event) {document.location.href = "/filmInfo536065947"; $$nav.off()});
        </script>
        
        <div id="film48" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4655448.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Селфи</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem465544848 = document.getElementById("film48")
            _elem465544848.addEventListener("click", function (event) {document.location.href = "/filmInfo465544848"; $$nav.off()});
        </script>
        
        <div id="film49" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1208708.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Мег 2: Бездна</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem120870849 = document.getElementById("film49")
            _elem120870849.addEventListener("click", function (event) {document.location.href = "/filmInfo120870849"; $$nav.off()});
        </script>
        