
        <div id="film0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4541590.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Сенека: О сотворении</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem45415900 = document.getElementById("film0")
            _elem45415900.addEventListener("click", function (event) {document.location.href = "/filmInfo45415900"; $$nav.off()});
        </script>
        
        <div id="film1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4909828.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Тюремщик</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49098281 = document.getElementById("film1")
            _elem49098281.addEventListener("click", function (event) {document.location.href = "/filmInfo49098281"; $$nav.off()});
        </script>
        
        <div id="film2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4672943.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Гавайи</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46729432 = document.getElementById("film2")
            _elem46729432.addEventListener("click", function (event) {document.location.href = "/filmInfo46729432"; $$nav.off()});
        </script>
        
        <div id="film3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4986428.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Земля мафии</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49864283 = document.getElementById("film3")
            _elem49864283.addEventListener("click", function (event) {document.location.href = "/filmInfo49864283"; $$nav.off()});
        </script>
        
        <div id="film4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4991145.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Полтора дня</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49911454 = document.getElementById("film4")
            _elem49911454.addEventListener("click", function (event) {document.location.href = "/filmInfo49911454"; $$nav.off()});
        </script>
        
        <div id="film5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4869021.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Великий уравнитель 3</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem48690215 = document.getElementById("film5")
            _elem48690215.addEventListener("click", function (event) {document.location.href = "/filmInfo48690215"; $$nav.off()});
        </script>
        
        <div id="film6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4629271.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Бойня ленивца</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46292716 = document.getElementById("film6")
            _elem46292716.addEventListener("click", function (event) {document.location.href = "/filmInfo46292716"; $$nav.off()});
        </script>
        
        <div id="film7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5235922.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Проклятое наследие</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52359227 = document.getElementById("film7")
            _elem52359227.addEventListener("click", function (event) {document.location.href = "/filmInfo52359227"; $$nav.off()});
        </script>
        
        <div id="film8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5354075.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Щенячья любовь</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53540758 = document.getElementById("film8")
            _elem53540758.addEventListener("click", function (event) {document.location.href = "/filmInfo53540758"; $$nav.off()});
        </script>
        
        <div id="film9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5281112.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Стример</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52811129 = document.getElementById("film9")
            _elem52811129.addEventListener("click", function (event) {document.location.href = "/filmInfo52811129"; $$nav.off()});
        </script>
        
        <div id="film10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1178862.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Черепашки-ниндзя: По</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem117886210 = document.getElementById("film10")
            _elem117886210.addEventListener("click", function (event) {document.location.href = "/filmInfo117886210"; $$nav.off()});
        </script>
        
        <div id="film11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4747499.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">О чем говорят незнак</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474749911 = document.getElementById("film11")
            _elem474749911.addEventListener("click", function (event) {document.location.href = "/filmInfo474749911"; $$nav.off()});
        </script>
        
        <div id="film12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_629948.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рождение легенд</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem62994812 = document.getElementById("film12")
            _elem62994812.addEventListener("click", function (event) {document.location.href = "/filmInfo62994812"; $$nav.off()});
        </script>
        
        <div id="film13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5268477.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Руби Гильман: Приклю</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526847713 = document.getElementById("film13")
            _elem526847713.addEventListener("click", function (event) {document.location.href = "/filmInfo526847713"; $$nav.off()});
        </script>
        
        <div id="film14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4701591.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Капсульное поколение</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem470159114 = document.getElementById("film14")
            _elem470159114.addEventListener("click", function (event) {document.location.href = "/filmInfo470159114"; $$nav.off()});
        </script>
        
        <div id="film15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_462128.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Последнее путешестви</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46212815 = document.getElementById("film15")
            _elem46212815.addEventListener("click", function (event) {document.location.href = "/filmInfo46212815"; $$nav.off()});
        </script>
        
        <div id="film16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1390793.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Беглец</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem139079316 = document.getElementById("film16")
            _elem139079316.addEventListener("click", function (event) {document.location.href = "/filmInfo139079316"; $$nav.off()});
        </script>
        
        <div id="film17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4448519.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Вызов</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem444851917 = document.getElementById("film17")
            _elem444851917.addEventListener("click", function (event) {document.location.href = "/filmInfo444851917"; $$nav.off()});
        </script>
        
        <div id="film18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118213.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Квест</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511821318 = document.getElementById("film18")
            _elem511821318.addEventListener("click", function (event) {document.location.href = "/filmInfo511821318"; $$nav.off()});
        </script>
        
        <div id="film19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4412788.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Знаменитость</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem441278819 = document.getElementById("film19")
            _elem441278819.addEventListener("click", function (event) {document.location.href = "/filmInfo441278819"; $$nav.off()});
        </script>
        
        <div id="film20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4947321.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Операция «Наполеон»</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494732120 = document.getElementById("film20")
            _elem494732120.addEventListener("click", function (event) {document.location.href = "/filmInfo494732120"; $$nav.off()});
        </script>
        
        <div id="film21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1208708.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мег 2: Бездна</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem120870821 = document.getElementById("film21")
            _elem120870821.addEventListener("click", function (event) {document.location.href = "/filmInfo120870821"; $$nav.off()});
        </script>
        
        <div id="film22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5024925.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Зверогонщики</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem502492522 = document.getElementById("film22")
            _elem502492522.addEventListener("click", function (event) {document.location.href = "/filmInfo502492522"; $$nav.off()});
        </script>
        
        <div id="film23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5054262.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Даже не думай приход</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem505426223 = document.getElementById("film23")
            _elem505426223.addEventListener("click", function (event) {document.location.href = "/filmInfo505426223"; $$nav.off()});
        </script>
        
        <div id="film24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5054262.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Даже не думай приход</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem505426224 = document.getElementById("film24")
            _elem505426224.addEventListener("click", function (event) {document.location.href = "/filmInfo505426224"; $$nav.off()});
        </script>
        
        <div id="film25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4961757.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Криминальный город: </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem496175725 = document.getElementById("film25")
            _elem496175725.addEventListener("click", function (event) {document.location.href = "/filmInfo496175725"; $$nav.off()});
        </script>
        
        <div id="film26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4541464.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Хилл</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem454146426 = document.getElementById("film26")
            _elem454146426.addEventListener("click", function (event) {document.location.href = "/filmInfo454146426"; $$nav.off()});
        </script>
        
        <div id="film27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4749261.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Хвостатые пришельцы</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474926127 = document.getElementById("film27")
            _elem474926127.addEventListener("click", function (event) {document.location.href = "/filmInfo474926127"; $$nav.off()});
        </script>
        
        <div id="film28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5313202.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Космос. Смерть. Робо</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem531320228 = document.getElementById("film28")
            _elem531320228.addEventListener("click", function (event) {document.location.href = "/filmInfo531320228"; $$nav.off()});
        </script>
        
        <div id="film29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1208708.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мег 2: Бездна</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem120870829 = document.getElementById("film29")
            _elem120870829.addEventListener("click", function (event) {document.location.href = "/filmInfo120870829"; $$nav.off()});
        </script>
        
        <div id="film30" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1447610.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Из Красной Шапочки в</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem144761030 = document.getElementById("film30")
            _elem144761030.addEventListener("click", function (event) {document.location.href = "/filmInfo144761030"; $$nav.off()});
        </script>
        
        <div id="film31" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5267955.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Барби: Скиппер и бол</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526795531 = document.getElementById("film31")
            _elem526795531.addEventListener("click", function (event) {document.location.href = "/filmInfo526795531"; $$nav.off()});
        </script>
        
        <div id="film32" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4992638.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Статические коды</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem499263832 = document.getElementById("film32")
            _elem499263832.addEventListener("click", function (event) {document.location.href = "/filmInfo499263832"; $$nav.off()});
        </script>
        
        <div id="film33" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_468846.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Индиана Джонс и коле</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46884633 = document.getElementById("film33")
            _elem46884633.addEventListener("click", function (event) {document.location.href = "/filmInfo46884633"; $$nav.off()});
        </script>
        
        <div id="film34" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_468846.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Индиана Джонс и коле</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46884634 = document.getElementById("film34")
            _elem46884634.addEventListener("click", function (event) {document.location.href = "/filmInfo46884634"; $$nav.off()});
        </script>
        
        <div id="film35" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1395369.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Леди Баг и Супер-Кот</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem139536935 = document.getElementById("film35")
            _elem139536935.addEventListener("click", function (event) {document.location.href = "/filmInfo139536935"; $$nav.off()});
        </script>
        
        <div id="film36" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5257426.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Близкие отношения</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem525742636 = document.getElementById("film36")
            _elem525742636.addEventListener("click", function (event) {document.location.href = "/filmInfo525742636"; $$nav.off()});
        </script>
        
        <div id="film37" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4946997.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Убийственный книжный</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494699737 = document.getElementById("film37")
            _elem494699737.addEventListener("click", function (event) {document.location.href = "/filmInfo494699737"; $$nav.off()});
        </script>
        
        <div id="film38" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_819105.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Бугимен</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem81910538 = document.getElementById("film38")
            _elem81910538.addEventListener("click", function (event) {document.location.href = "/filmInfo81910538"; $$nav.off()});
        </script>
        
        <div id="film39" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5356063.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Руслан и Людмила. Бо</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535606339 = document.getElementById("film39")
            _elem535606339.addEventListener("click", function (event) {document.location.href = "/filmInfo535606339"; $$nav.off()});
        </script>
        
        <div id="film40" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5254757.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мосты России</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem525475740 = document.getElementById("film40")
            _elem525475740.addEventListener("click", function (event) {document.location.href = "/filmInfo525475740"; $$nav.off()});
        </script>
        
        <div id="film41" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4652409.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Подводный капкан</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem465240941 = document.getElementById("film41")
            _elem465240941.addEventListener("click", function (event) {document.location.href = "/filmInfo465240941"; $$nav.off()});
        </script>
        
        <div id="film42" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1135021.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Заложники</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem113502142 = document.getElementById("film42")
            _elem113502142.addEventListener("click", function (event) {document.location.href = "/filmInfo113502142"; $$nav.off()});
        </script>
        
        <div id="film43" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4541542.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Отвязные дворняги</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem454154243 = document.getElementById("film43")
            _elem454154243.addEventListener("click", function (event) {document.location.href = "/filmInfo454154243"; $$nav.off()});
        </script>
        
        <div id="film44" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5098615.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Остров</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem509861544 = document.getElementById("film44")
            _elem509861544.addEventListener("click", function (event) {document.location.href = "/filmInfo509861544"; $$nav.off()});
        </script>
        
        <div id="film45" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4889978.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Маленькие победы</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem488997845 = document.getElementById("film45")
            _elem488997845.addEventListener("click", function (event) {document.location.href = "/filmInfo488997845"; $$nav.off()});
        </script>
        
        <div id="film46" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1390992.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">(Не)идеальные роботы</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem139099246 = document.getElementById("film46")
            _elem139099246.addEventListener("click", function (event) {document.location.href = "/filmInfo139099246"; $$nav.off()});
        </script>
        
        <div id="film47" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5053741.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Преисподняя 2</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem505374147 = document.getElementById("film47")
            _elem505374147.addEventListener("click", function (event) {document.location.href = "/filmInfo505374147"; $$nav.off()});
        </script>
        
        <div id="film48" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5284642.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Король улиц</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem528464248 = document.getElementById("film48")
            _elem528464248.addEventListener("click", function (event) {document.location.href = "/filmInfo528464248"; $$nav.off()});
        </script>
        
        <div id="film49" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_975402.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Часовой</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem97540249 = document.getElementById("film49")
            _elem97540249.addEventListener("click", function (event) {document.location.href = "/filmInfo97540249"; $$nav.off()});
        </script>
        