
        <div id="film0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/694051.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Миньоны</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem694051 = document.getElementById("film0")
            _elem694051.addEventListener("click", function (event) {document.location.href = "/filmInfo6940510"; $$nav.off()});
        </script>
        
        <div id="film1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/522941.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Выживший</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem522942 = document.getElementById("film1")
            _elem522942.addEventListener("click", function (event) {document.location.href = "/filmInfo5229411"; $$nav.off()});
        </script>
        
        <div id="film2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/841700.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Марсианин</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem841702 = document.getElementById("film2")
            _elem841702.addEventListener("click", function (event) {document.location.href = "/filmInfo8417002"; $$nav.off()});
        </script>
        
        <div id="film3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/462682.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Волк с Уолл-стрит</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem462685 = document.getElementById("film3")
            _elem462685.addEventListener("click", function (event) {document.location.href = "/filmInfo4626823"; $$nav.off()});
        </script>
        
        <div id="film4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/739642.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Эверест</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem739646 = document.getElementById("film4")
            _elem739646.addEventListener("click", function (event) {document.location.href = "/filmInfo7396424"; $$nav.off()});
        </script>
        
        <div id="film5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/721153.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Багровый пик</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem721158 = document.getElementById("film5")
            _elem721158.addEventListener("click", function (event) {document.location.href = "/filmInfo7211535"; $$nav.off()});
        </script>
        
        <div id="film6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/840884.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Шпионский мост</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem840890 = document.getElementById("film6")
            _elem840890.addEventListener("click", function (event) {document.location.href = "/filmInfo8408846"; $$nav.off()});
        </script>
        
        <div id="film7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/678552.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">007: Спектр</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem678559 = document.getElementById("film7")
            _elem678559.addEventListener("click", function (event) {document.location.href = "/filmInfo6785527"; $$nav.off()});
        </script>
        
        <div id="film8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/794249.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Девушка без комплекс</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem794257 = document.getElementById("film8")
            _elem794257.addEventListener("click", function (event) {document.location.href = "/filmInfo7942498"; $$nav.off()});
        </script>
        
        <div id="film9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/737668.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Хитмэн: Агент 47</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem737677 = document.getElementById("film9")
            _elem737677.addEventListener("click", function (event) {document.location.href = "/filmInfo7376689"; $$nav.off()});
        </script>
        
        <div id="film10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/518042.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Агенты А.Н.К.Л.</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem518052 = document.getElementById("film10")
            _elem518052.addEventListener("click", function (event) {document.location.href = "/filmInfo51804210"; $$nav.off()});
        </script>
        
        <div id="film11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/688832.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Пятьдесят оттенков с</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem688843 = document.getElementById("film11")
            _elem688843.addEventListener("click", function (event) {document.location.href = "/filmInfo68883211"; $$nav.off()});
        </script>
        
        <div id="film12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/645118.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Головоломка</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem645130 = document.getElementById("film12")
            _elem645130.addEventListener("click", function (event) {document.location.href = "/filmInfo64511812"; $$nav.off()});
        </script>
        
        <div id="film13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/258687.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Интерстеллар</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem258700 = document.getElementById("film13")
            _elem258700.addEventListener("click", function (event) {document.location.href = "/filmInfo25868713"; $$nav.off()});
        </script>
        
        <div id="film14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/739892.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Кибер</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem739906 = document.getElementById("film14")
            _elem739906.addEventListener("click", function (event) {document.location.href = "/filmInfo73989214"; $$nav.off()});
        </script>
        
        <div id="film15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/591485.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Робот по имени Чаппи</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem591500 = document.getElementById("film15")
            _elem591500.addEventListener("click", function (event) {document.location.href = "/filmInfo59148515"; $$nav.off()});
        </script>
        
        <div id="film16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/807818.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Молодость</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem807834 = document.getElementById("film16")
            _elem807834.addEventListener("click", function (event) {document.location.href = "/filmInfo80781816"; $$nav.off()});
        </script>
        
        <div id="film17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/716595.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Шеф Адам Джонс</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem716612 = document.getElementById("film17")
            _elem716612.addEventListener("click", function (event) {document.location.href = "/filmInfo71659517"; $$nav.off()});
        </script>
        
        <div id="film18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/765945.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Вернуть отправителю</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem765963 = document.getElementById("film18")
            _elem765963.addEventListener("click", function (event) {document.location.href = "/filmInfo76594518"; $$nav.off()});
        </script>
        
        <div id="film19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/887519.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Superнянь 2</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem887538 = document.getElementById("film19")
            _elem887538.addEventListener("click", function (event) {document.location.href = "/filmInfo88751919"; $$nav.off()});
        </script>
        