
        <div id="film0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5119523.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Схватка с дьяволом</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51195230 = document.getElementById("film0")
            _elem51195230.addEventListener("click", function (event) {document.location.href = "/filmInfo51195230"; $$nav.off()});
        </script>
        
        <div id="film1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5098615.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Остров</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50986151 = document.getElementById("film1")
            _elem50986151.addEventListener("click", function (event) {document.location.href = "/filmInfo50986151"; $$nav.off()});
        </script>
        
        <div id="film2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4986428.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Земля мафии</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49864282 = document.getElementById("film2")
            _elem49864282.addEventListener("click", function (event) {document.location.href = "/filmInfo49864282"; $$nav.off()});
        </script>
        
        <div id="film3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5256888.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Взрослые</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52568883 = document.getElementById("film3")
            _elem52568883.addEventListener("click", function (event) {document.location.href = "/filmInfo52568883"; $$nav.off()});
        </script>
        
        <div id="film4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1208708.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Мег 2: Бездна</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem12087084 = document.getElementById("film4")
            _elem12087084.addEventListener("click", function (event) {document.location.href = "/filmInfo12087084"; $$nav.off()});
        </script>
        
        <div id="film5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Человек-паук: Паутина вселенных</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem12191775 = document.getElementById("film5")
            _elem12191775.addEventListener("click", function (event) {document.location.href = "/filmInfo12191775"; $$nav.off()});
        </script>
        
        <div id="film6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4672184.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Шрапнель</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46721846 = document.getElementById("film6")
            _elem46721846.addEventListener("click", function (event) {document.location.href = "/filmInfo46721846"; $$nav.off()});
        </script>
        
        <div id="film7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5364881.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Любовь по расчету</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53648817 = document.getElementById("film7")
            _elem53648817.addEventListener("click", function (event) {document.location.href = "/filmInfo53648817"; $$nav.off()});
        </script>
        
        <div id="film8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4745359.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Больше, чем люди</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47453598 = document.getElementById("film8")
            _elem47453598.addEventListener("click", function (event) {document.location.href = "/filmInfo47453598"; $$nav.off()});
        </script>
        
        <div id="film9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4908918.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Герои и злодеи</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49089189 = document.getElementById("film9")
            _elem49089189.addEventListener("click", function (event) {document.location.href = "/filmInfo49089189"; $$nav.off()});
        </script>
        
        <div id="film10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4750522.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Трое лишних</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem475052210 = document.getElementById("film10")
            _elem475052210.addEventListener("click", function (event) {document.location.href = "/filmInfo475052210"; $$nav.off()});
        </script>
        
        <div id="film11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4987446.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Без обид</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem498744611 = document.getElementById("film11")
            _elem498744611.addEventListener("click", function (event) {document.location.href = "/filmInfo498744611"; $$nav.off()});
        </script>
        
        <div id="film12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5360776.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Покончить со всеми войнами: Оппен</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536077612 = document.getElementById("film12")
            _elem536077612.addEventListener("click", function (event) {document.location.href = "/filmInfo536077612"; $$nav.off()});
        </script>
        
        <div id="film13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4845485.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Плюшевый пузырь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem484548513 = document.getElementById("film13")
            _elem484548513.addEventListener("click", function (event) {document.location.href = "/filmInfo484548513"; $$nav.off()});
        </script>
        
        <div id="film14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_937438.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Трансформеры: Восхождение Зверобо</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem93743814 = document.getElementById("film14")
            _elem93743814.addEventListener("click", function (event) {document.location.href = "/filmInfo93743814"; $$nav.off()});
        </script>
        
        <div id="film15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5100129.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Вот так повезло!</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510012915 = document.getElementById("film15")
            _elem510012915.addEventListener("click", function (event) {document.location.href = "/filmInfo510012915"; $$nav.off()});
        </script>
        
        <div id="film16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4655411.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Невероятное паломничество Гарольд</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem465541116 = document.getElementById("film16")
            _elem465541116.addEventListener("click", function (event) {document.location.href = "/filmInfo465541116"; $$nav.off()});
        </script>
        
        <div id="film17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1360099.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Лакадейзи</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem136009917 = document.getElementById("film17")
            _elem136009917.addEventListener("click", function (event) {document.location.href = "/filmInfo136009917"; $$nav.off()});
        </script>
        
        <div id="film18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5296922.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Джохан 2</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem529692218 = document.getElementById("film18")
            _elem529692218.addEventListener("click", function (event) {document.location.href = "/filmInfo529692218"; $$nav.off()});
        </script>
        
        <div id="film19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1179918.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Единственная женщина в мире</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem117991819 = document.getElementById("film19")
            _elem117991819.addEventListener("click", function (event) {document.location.href = "/filmInfo117991819"; $$nav.off()});
        </script>
        
        <div id="film20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Лига Справедливости: Мир войны</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530544220 = document.getElementById("film20")
            _elem530544220.addEventListener("click", function (event) {document.location.href = "/filmInfo530544220"; $$nav.off()});
        </script>
        
        <div id="film21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Лига Справедливости: Мир войны</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530544221 = document.getElementById("film21")
            _elem530544221.addEventListener("click", function (event) {document.location.href = "/filmInfo530544221"; $$nav.off()});
        </script>
        
        <div id="film22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309392.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Мечта</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem130939222 = document.getElementById("film22")
            _elem130939222.addEventListener("click", function (event) {document.location.href = "/filmInfo130939222"; $$nav.off()});
        </script>
        
        <div id="film23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4826605.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Аврора</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem482660523 = document.getElementById("film23")
            _elem482660523.addEventListener("click", function (event) {document.location.href = "/filmInfo482660523"; $$nav.off()});
        </script>
        
        <div id="film24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5364390.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Король и Шут: Сказка о Горшке и К</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536439024 = document.getElementById("film24")
            _elem536439024.addEventListener("click", function (event) {document.location.href = "/filmInfo536439024"; $$nav.off()});
        </script>
        
        <div id="film25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4745555.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Мама, можно мне?</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474555525 = document.getElementById("film25")
            _elem474555525.addEventListener("click", function (event) {document.location.href = "/filmInfo474555525"; $$nav.off()});
        </script>
        
        <div id="film26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Человек-паук: Паутина вселенных</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121917726 = document.getElementById("film26")
            _elem121917726.addEventListener("click", function (event) {document.location.href = "/filmInfo121917726"; $$nav.off()});
        </script>
        
        <div id="film27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4850225.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Астрал 5: Красная дверь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem485022527 = document.getElementById("film27")
            _elem485022527.addEventListener("click", function (event) {document.location.href = "/filmInfo485022527"; $$nav.off()});
        </script>
        
        <div id="film28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4751424.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Ужас Истфилда. Первое изгнание</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem475142428 = document.getElementById("film28")
            _elem475142428.addEventListener("click", function (event) {document.location.href = "/filmInfo475142428"; $$nav.off()});
        </script>
        
        <div id="film29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5053842.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Хождение по мукам</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem505384229 = document.getElementById("film29")
            _elem505384229.addEventListener("click", function (event) {document.location.href = "/filmInfo505384229"; $$nav.off()});
        </script>
        
        <div id="film30" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5082399.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>По зову долга</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem508239930 = document.getElementById("film30")
            _elem508239930.addEventListener("click", function (event) {document.location.href = "/filmInfo508239930"; $$nav.off()});
        </script>
        
        <div id="film31" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4536580.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Баба Яга спасает мир</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem453658031 = document.getElementById("film31")
            _elem453658031.addEventListener("click", function (event) {document.location.href = "/filmInfo453658031"; $$nav.off()});
        </script>
        
        <div id="film32" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5106374.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Король неба</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510637432 = document.getElementById("film32")
            _elem510637432.addEventListener("click", function (event) {document.location.href = "/filmInfo510637432"; $$nav.off()});
        </script>
        
        <div id="film33" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4498651.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Кровь за кровь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem449865133 = document.getElementById("film33")
            _elem449865133.addEventListener("click", function (event) {document.location.href = "/filmInfo449865133"; $$nav.off()});
        </script>
        
        <div id="film34" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Человек-паук: Паутина вселенных</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121917734 = document.getElementById("film34")
            _elem121917734.addEventListener("click", function (event) {document.location.href = "/filmInfo121917734"; $$nav.off()});
        </script>
        
        <div id="film35" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4423264.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Живопись</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem442326435 = document.getElementById("film35")
            _elem442326435.addEventListener("click", function (event) {document.location.href = "/filmInfo442326435"; $$nav.off()});
        </script>
        
        <div id="film36" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5325611.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Коллектив</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem532561136 = document.getElementById("film36")
            _elem532561136.addEventListener("click", function (event) {document.location.href = "/filmInfo532561136"; $$nav.off()});
        </script>
        
        <div id="film37" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4645872.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Безумная поездочка</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem464587237 = document.getElementById("film37")
            _elem464587237.addEventListener("click", function (event) {document.location.href = "/filmInfo464587237"; $$nav.off()});
        </script>
        
        <div id="film38" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309392.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Мечта</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem130939238 = document.getElementById("film38")
            _elem130939238.addEventListener("click", function (event) {document.location.href = "/filmInfo130939238"; $$nav.off()});
        </script>
        
        <div id="film39" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4715481.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Дыхание</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem471548139 = document.getElementById("film39")
            _elem471548139.addEventListener("click", function (event) {document.location.href = "/filmInfo471548139"; $$nav.off()});
        </script>
        
        <div id="film40" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4850225.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Астрал 5: Красная дверь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem485022540 = document.getElementById("film40")
            _elem485022540.addEventListener("click", function (event) {document.location.href = "/filmInfo485022540"; $$nav.off()});
        </script>
        
        <div id="film41" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5176539.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Здесь подают любовь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem517653941 = document.getElementById("film41")
            _elem517653941.addEventListener("click", function (event) {document.location.href = "/filmInfo517653941"; $$nav.off()});
        </script>
        
        <div id="film42" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4701154.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Канал</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem470115442 = document.getElementById("film42")
            _elem470115442.addEventListener("click", function (event) {document.location.href = "/filmInfo470115442"; $$nav.off()});
        </script>
        
        <div id="film43" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4947546.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Девичник: Убойная ночь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494754643 = document.getElementById("film43")
            _elem494754643.addEventListener("click", function (event) {document.location.href = "/filmInfo494754643"; $$nav.off()});
        </script>
        
        <div id="film44" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Обитель зла: Остров смерти</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526431044 = document.getElementById("film44")
            _elem526431044.addEventListener("click", function (event) {document.location.href = "/filmInfo526431044"; $$nav.off()});
        </script>
        
        <div id="film45" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1167101.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Чарли и фантастическая четверка</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem116710145 = document.getElementById("film45")
            _elem116710145.addEventListener("click", function (event) {document.location.href = "/filmInfo116710145"; $$nav.off()});
        </script>
        
        <div id="film46" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1044002.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Гран Туризмо</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem104400246 = document.getElementById("film46")
            _elem104400246.addEventListener("click", function (event) {document.location.href = "/filmInfo104400246"; $$nav.off()});
        </script>
        
        <div id="film47" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305976.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Ещё один шанс</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530597647 = document.getElementById("film47")
            _elem530597647.addEventListener("click", function (event) {document.location.href = "/filmInfo530597647"; $$nav.off()});
        </script>
        
        <div id="film48" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1446821.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>В паутине страха</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem144682148 = document.getElementById("film48")
            _elem144682148.addEventListener("click", function (event) {document.location.href = "/filmInfo144682148"; $$nav.off()});
        </script>
        
        <div id="film49" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4987762.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Судьба</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem498776249 = document.getElementById("film49")
            _elem498776249.addEventListener("click", function (event) {document.location.href = "/filmInfo498776249"; $$nav.off()});
        </script>
        