
        <div id="film0" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1045082.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Круче некуда</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem10450820 = document.getElementById("film0")
            _elem10450820.addEventListener("click", function (event) {document.location.href = "/filmInfo10450820"; $$nav.off()});
        </script>
        
        <div id="film1" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_542534.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Особняк с привидениями</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5425341 = document.getElementById("film1")
            _elem5425341.addEventListener("click", function (event) {document.location.href = "/filmInfo5425341"; $$nav.off()});
        </script>
        
        <div id="film2" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Лига Справедливости: Мир войны</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53054422 = document.getElementById("film2")
            _elem53054422.addEventListener("click", function (event) {document.location.href = "/filmInfo53054422"; $$nav.off()});
        </script>
        
        <div id="film3" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5084913.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>(Почти) легенды</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50849133 = document.getElementById("film3")
            _elem50849133.addEventListener("click", function (event) {document.location.href = "/filmInfo50849133"; $$nav.off()});
        </script>
        
        <div id="film4" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5139205.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Рай земной</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51392054 = document.getElementById("film4")
            _elem51392054.addEventListener("click", function (event) {document.location.href = "/filmInfo51392054"; $$nav.off()});
        </script>
        
        <div id="film5" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5119523.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Схватка с дьяволом</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51195235 = document.getElementById("film5")
            _elem51195235.addEventListener("click", function (event) {document.location.href = "/filmInfo51195235"; $$nav.off()});
        </script>
        
        <div id="film6" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1395369.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Леди Баг и Супер-Кот: Пробуждение</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13953696 = document.getElementById("film6")
            _elem13953696.addEventListener("click", function (event) {document.location.href = "/filmInfo13953696"; $$nav.off()});
        </script>
        
        <div id="film7" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1446821.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>В паутине страха</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem14468217 = document.getElementById("film7")
            _elem14468217.addEventListener("click", function (event) {document.location.href = "/filmInfo14468217"; $$nav.off()});
        </script>
        
        <div id="film8" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4986575.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Книжный клуб 2</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49865758 = document.getElementById("film8")
            _elem49865758.addEventListener("click", function (event) {document.location.href = "/filmInfo49865758"; $$nav.off()});
        </script>
        
        <div id="film9" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4557113.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Потомок</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem45571139 = document.getElementById("film9")
            _elem45571139.addEventListener("click", function (event) {document.location.href = "/filmInfo45571139"; $$nav.off()});
        </script>
        
        <div id="film10" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5139205.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Рай земной</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem513920510 = document.getElementById("film10")
            _elem513920510.addEventListener("click", function (event) {document.location.href = "/filmInfo513920510"; $$nav.off()});
        </script>
        
        <div id="film11" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4925815.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Волнение</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem492581511 = document.getElementById("film11")
            _elem492581511.addEventListener("click", function (event) {document.location.href = "/filmInfo492581511"; $$nav.off()});
        </script>
        
        <div id="film12" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4744698.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Счастье для начинающих</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474469812 = document.getElementById("film12")
            _elem474469812.addEventListener("click", function (event) {document.location.href = "/filmInfo474469812"; $$nav.off()});
        </script>
        
        <div id="film13" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4744698.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Счастье для начинающих</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474469813 = document.getElementById("film13")
            _elem474469813.addEventListener("click", function (event) {document.location.href = "/filmInfo474469813"; $$nav.off()});
        </script>
        
        <div id="film14" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4655411.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Невероятное паломничество Гарольд</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem465541114 = document.getElementById("film14")
            _elem465541114.addEventListener("click", function (event) {document.location.href = "/filmInfo465541114"; $$nav.off()});
        </script>
        
        <div id="film15" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5123188.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>До встречи на Венере</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem512318815 = document.getElementById("film15")
            _elem512318815.addEventListener("click", function (event) {document.location.href = "/filmInfo512318815"; $$nav.off()});
        </script>
        
        <div id="film16" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5098615.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Остров</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem509861516 = document.getElementById("film16")
            _elem509861516.addEventListener("click", function (event) {document.location.href = "/filmInfo509861516"; $$nav.off()});
        </script>
        
        <div id="film17" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4845485.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Плюшевый пузырь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem484548517 = document.getElementById("film17")
            _elem484548517.addEventListener("click", function (event) {document.location.href = "/filmInfo484548517"; $$nav.off()});
        </script>
        
        <div id="film18" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5307845.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Ты мой бриллиант</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530784518 = document.getElementById("film18")
            _elem530784518.addEventListener("click", function (event) {document.location.href = "/filmInfo530784518"; $$nav.off()});
        </script>
        
        <div id="film19" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5245401.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Угрызения совести</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem524540119 = document.getElementById("film19")
            _elem524540119.addEventListener("click", function (event) {document.location.href = "/filmInfo524540119"; $$nav.off()});
        </script>
        
        <div id="film20" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5082399.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>По зову долга</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem508239920 = document.getElementById("film20")
            _elem508239920.addEventListener("click", function (event) {document.location.href = "/filmInfo508239920"; $$nav.off()});
        </script>
        
        <div id="film21" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4498651.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Кровь за кровь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem449865121 = document.getElementById("film21")
            _elem449865121.addEventListener("click", function (event) {document.location.href = "/filmInfo449865121"; $$nav.off()});
        </script>
        
        <div id="film22" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4910071.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Не буди во мне киллера</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem491007122 = document.getElementById("film22")
            _elem491007122.addEventListener("click", function (event) {document.location.href = "/filmInfo491007122"; $$nav.off()});
        </script>
        
        <div id="film23" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4860765.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Осада</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem486076523 = document.getElementById("film23")
            _elem486076523.addEventListener("click", function (event) {document.location.href = "/filmInfo486076523"; $$nav.off()});
        </script>
        
        <div id="film24" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4672960.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Солнце и Луна</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem467296024 = document.getElementById("film24")
            _elem467296024.addEventListener("click", function (event) {document.location.href = "/filmInfo467296024"; $$nav.off()});
        </script>
        
        <div id="film25" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Обитель зла: Остров смерти</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526431025 = document.getElementById("film25")
            _elem526431025.addEventListener("click", function (event) {document.location.href = "/filmInfo526431025"; $$nav.off()});
        </script>
        
        <div id="film26" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4631912.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>По блуждающим тропам</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem463191226 = document.getElementById("film26")
            _elem463191226.addEventListener("click", function (event) {document.location.href = "/filmInfo463191226"; $$nav.off()});
        </script>
        
        <div id="film27" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5106374.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Король неба</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510637427 = document.getElementById("film27")
            _elem510637427.addEventListener("click", function (event) {document.location.href = "/filmInfo510637427"; $$nav.off()});
        </script>
        
        <div id="film28" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4543979.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Новый Камен Райдер</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem454397928 = document.getElementById("film28")
            _elem454397928.addEventListener("click", function (event) {document.location.href = "/filmInfo454397928"; $$nav.off()});
        </script>
        
        <div id="film29" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4701189.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>О нем и о ней</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem470118929 = document.getElementById("film29")
            _elem470118929.addEventListener("click", function (event) {document.location.href = "/filmInfo470118929"; $$nav.off()});
        </script>
        
        <div id="film30" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_999881.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Русалочка</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem99988130 = document.getElementById("film30")
            _elem99988130.addEventListener("click", function (event) {document.location.href = "/filmInfo99988130"; $$nav.off()});
        </script>
        
        <div id="film31" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_999881.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Русалочка</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem99988131 = document.getElementById("film31")
            _elem99988131.addEventListener("click", function (event) {document.location.href = "/filmInfo99988131"; $$nav.off()});
        </script>
        
        <div id="film32" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4477067.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Уикенд с батей</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem447706732 = document.getElementById("film32")
            _elem447706732.addEventListener("click", function (event) {document.location.href = "/filmInfo447706732"; $$nav.off()});
        </script>
        
        <div id="film33" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_478052.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Барби</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47805233 = document.getElementById("film33")
            _elem47805233.addEventListener("click", function (event) {document.location.href = "/filmInfo47805233"; $$nav.off()});
        </script>
        
        <div id="film34" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4673782.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>История Ману</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem467378234 = document.getElementById("film34")
            _elem467378234.addEventListener("click", function (event) {document.location.href = "/filmInfo467378234"; $$nav.off()});
        </script>
        
        <div id="film35" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4947546.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Девичник: Убойная ночь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494754635 = document.getElementById("film35")
            _elem494754635.addEventListener("click", function (event) {document.location.href = "/filmInfo494754635"; $$nav.off()});
        </script>
        
        <div id="film36" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5235968.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Кентавр</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523596836 = document.getElementById("film36")
            _elem523596836.addEventListener("click", function (event) {document.location.href = "/filmInfo523596836"; $$nav.off()});
        </script>
        
        <div id="film37" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1311500.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Он умер и я тоже</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem131150037 = document.getElementById("film37")
            _elem131150037.addEventListener("click", function (event) {document.location.href = "/filmInfo131150037"; $$nav.off()});
        </script>
        
        <div id="film38" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5307214.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Джонни</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530721438 = document.getElementById("film38")
            _elem530721438.addEventListener("click", function (event) {document.location.href = "/filmInfo530721438"; $$nav.off()});
        </script>
        
        <div id="film39" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5179729.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Пусть начнется танец</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem517972939 = document.getElementById("film39")
            _elem517972939.addEventListener("click", function (event) {document.location.href = "/filmInfo517972939"; $$nav.off()});
        </script>
        
        <div id="film40" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1411200.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Смертельный выстрел</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem141120040 = document.getElementById("film40")
            _elem141120040.addEventListener("click", function (event) {document.location.href = "/filmInfo141120040"; $$nav.off()});
        </script>
        
        <div id="film41" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5082039.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Лимб</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem508203941 = document.getElementById("film41")
            _elem508203941.addEventListener("click", function (event) {document.location.href = "/filmInfo508203941"; $$nav.off()});
        </script>
        
        <div id="film42" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5360458.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Кейша Коул: Моя история</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536045842 = document.getElementById("film42")
            _elem536045842.addEventListener("click", function (event) {document.location.href = "/filmInfo536045842"; $$nav.off()});
        </script>
        
        <div id="film43" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1405266.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Они клонировали Тайрона</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem140526643 = document.getElementById("film43")
            _elem140526643.addEventListener("click", function (event) {document.location.href = "/filmInfo140526643"; $$nav.off()});
        </script>
        
        <div id="film44" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4701154.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Канал</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem470115444 = document.getElementById("film44")
            _elem470115444.addEventListener("click", function (event) {document.location.href = "/filmInfo470115444"; $$nav.off()});
        </script>
        
        <div id="film45" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4664634.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Оппенгеймер</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem466463445 = document.getElementById("film45")
            _elem466463445.addEventListener("click", function (event) {document.location.href = "/filmInfo466463445"; $$nav.off()});
        </script>
        
        <div id="film46" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1186274.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Какой-то Энди</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem118627446 = document.getElementById("film46")
            _elem118627446.addEventListener("click", function (event) {document.location.href = "/filmInfo118627446"; $$nav.off()});
        </script>
        
        <div id="film47" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4909394.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Старушки за Брэйди</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem490939447 = document.getElementById("film47")
            _elem490939447.addEventListener("click", function (event) {document.location.href = "/filmInfo490939447"; $$nav.off()});
        </script>
        
        <div id="film48" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1325596.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Остров теней</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem132559648 = document.getElementById("film48")
            _elem132559648.addEventListener("click", function (event) {document.location.href = "/filmInfo132559648"; $$nav.off()});
        </script>
        
        <div id="film49" class="filmsItem item nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1405266.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Они клонировали Тайрона</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem140526649 = document.getElementById("film49")
            _elem140526649.addEventListener("click", function (event) {document.location.href = "/filmInfo140526649"; $$nav.off()});
        </script>
        