<div id="film0" style="background: url('https://bazon.cc/download/poster/4701189.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>О нем и о ней</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film1" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_999881.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Русалочка</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film2" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_999881.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Русалочка</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film3" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4477067.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Уикенд с батей</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film4" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_478052.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Барби</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film5" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Обитель зла: Остров смерти</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film6" style="background: url('https://bazon.cc/download/poster/4673782.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>История Ману</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film7" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4947546.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Девичник: Убойная ночь</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film8" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5235968.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Кентавр</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film9" style="background: url('https://bazon.cc/download/poster/1311500.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Он умер и я тоже</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film10" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5307214.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Джонни</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film11" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5179729.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Пусть начнется танец</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film12" style="background: url('https://bazon.cc/download/poster/1411200.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Смертельный выстрел</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film13" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5082039.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Лимб</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film14" style="background: url('https://bazon.cc/download/poster/5360458.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Кейша Коул: Моя история</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film15" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1405266.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Они клонировали Тайрона</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film16" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4701154.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Канал</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film17" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4664634.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Оппенгеймер</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film18" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1186274.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Какой-то Энди</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film19" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4909394.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Старушки за Брэйди</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film20" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1325596.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Остров теней</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film21" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1405266.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Они клонировали Тайрона</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film22" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1396300.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Тетрис</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film23" style="background: url('https://bazon.cc/download/poster/4630520.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Викенсбург</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film24" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_195483.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Флэш</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film25" style="background: url('https://bazon.cc/download/poster/5124666.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Смертельные семейные узы</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film26" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4925994.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Плейлист любви</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film27" style="background: url('https://bazon.cc/download/poster/4924071.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Святой</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film28" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5074908.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Микулай</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film29" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4396783.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Мэгги Мур(ы)</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film30" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4861016.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Копенгагена не существует</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film31" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4992959.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Моё преступление</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film32" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5322925.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Кукла. Реинкарнация зла</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film33" style="background: url('https://bazon.cc/download/poster/4751049.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Любовь к миру</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film34" style="background: url('https://bazon.cc/download/poster/5096465.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Лайфхаки любви</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film35" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5101673.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Хитровка. Знак четырёх</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film36" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5268477.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Руби Гиллман</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film37" style="background: url('https://bazon.cc/download/poster/5120412.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Тактика любви 2</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film38" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4398072.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Ты здесь, Бог? Это я, Маргарет</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film39" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5330888.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Брачный контракт</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film40" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4845427.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Черный лотос</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film41" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4909600.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Змеиная топь</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film42" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1350323.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Пленник</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film43" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4414620.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Он — это пуля</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film44" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4645890.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Родители в законе</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film45" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_195483.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Флэш</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film46" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4396081.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Машина</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film47" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4395987.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Город астероидов</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film48" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4396081.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Машина</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="film49" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5325515.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" class="item filmsItem nav-item" data-nav_ud="#premiere0,0,#channelBtn,0">
            <div class="filmText text">
            <h1>Самый холодный город</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        