
        <div id="film0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5266956.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Катак. Ледниковый по</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52669560 = document.getElementById("film0")
            _elem52669560.addEventListener("click", function (event) {document.location.href = "/filmInfo52669560"; $$nav.off()});
        </script>
        
        <div id="film1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5237671.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Наёмный убийца</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52376711 = document.getElementById("film1")
            _elem52376711.addEventListener("click", function (event) {document.location.href = "/filmInfo52376711"; $$nav.off()});
        </script>
        
        <div id="film2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4910071.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Не буди во мне килле</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49100712 = document.getElementById("film2")
            _elem49100712.addEventListener("click", function (event) {document.location.href = "/filmInfo49100712"; $$nav.off()});
        </script>
        
        <div id="film3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5123188.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">До встречи на Венере</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51231883 = document.getElementById("film3")
            _elem51231883.addEventListener("click", function (event) {document.location.href = "/filmInfo51231883"; $$nav.off()});
        </script>
        
        <div id="film4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1395369.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Леди Баг и Супер-Кот</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13953694 = document.getElementById("film4")
            _elem13953694.addEventListener("click", function (event) {document.location.href = "/filmInfo13953694"; $$nav.off()});
        </script>
        
        <div id="film5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5119523.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Схватка с дьяволом</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51195235 = document.getElementById("film5")
            _elem51195235.addEventListener("click", function (event) {document.location.href = "/filmInfo51195235"; $$nav.off()});
        </script>
        
        <div id="film6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5098615.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Остров</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50986156 = document.getElementById("film6")
            _elem50986156.addEventListener("click", function (event) {document.location.href = "/filmInfo50986156"; $$nav.off()});
        </script>
        
        <div id="film7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4986428.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Земля мафии</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49864287 = document.getElementById("film7")
            _elem49864287.addEventListener("click", function (event) {document.location.href = "/filmInfo49864287"; $$nav.off()});
        </script>
        
        <div id="film8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5256888.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Взрослые</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52568888 = document.getElementById("film8")
            _elem52568888.addEventListener("click", function (event) {document.location.href = "/filmInfo52568888"; $$nav.off()});
        </script>
        
        <div id="film9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1208708.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мег 2: Бездна</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem12087089 = document.getElementById("film9")
            _elem12087089.addEventListener("click", function (event) {document.location.href = "/filmInfo12087089"; $$nav.off()});
        </script>
        
        <div id="film10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Человек-паук: Паутин</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121917710 = document.getElementById("film10")
            _elem121917710.addEventListener("click", function (event) {document.location.href = "/filmInfo121917710"; $$nav.off()});
        </script>
        
        <div id="film11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4672184.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Шрапнель</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem467218411 = document.getElementById("film11")
            _elem467218411.addEventListener("click", function (event) {document.location.href = "/filmInfo467218411"; $$nav.off()});
        </script>
        
        <div id="film12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5364881.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Любовь по расчету</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536488112 = document.getElementById("film12")
            _elem536488112.addEventListener("click", function (event) {document.location.href = "/filmInfo536488112"; $$nav.off()});
        </script>
        
        <div id="film13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4745359.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Больше, чем люди</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474535913 = document.getElementById("film13")
            _elem474535913.addEventListener("click", function (event) {document.location.href = "/filmInfo474535913"; $$nav.off()});
        </script>
        
        <div id="film14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4908918.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Герои и злодеи</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem490891814 = document.getElementById("film14")
            _elem490891814.addEventListener("click", function (event) {document.location.href = "/filmInfo490891814"; $$nav.off()});
        </script>
        
        <div id="film15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4750522.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Трое лишних</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem475052215 = document.getElementById("film15")
            _elem475052215.addEventListener("click", function (event) {document.location.href = "/filmInfo475052215"; $$nav.off()});
        </script>
        
        <div id="film16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4987446.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Без обид</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem498744616 = document.getElementById("film16")
            _elem498744616.addEventListener("click", function (event) {document.location.href = "/filmInfo498744616"; $$nav.off()});
        </script>
        
        <div id="film17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5360776.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Покончить со всеми в</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536077617 = document.getElementById("film17")
            _elem536077617.addEventListener("click", function (event) {document.location.href = "/filmInfo536077617"; $$nav.off()});
        </script>
        
        <div id="film18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4845485.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Плюшевый пузырь</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem484548518 = document.getElementById("film18")
            _elem484548518.addEventListener("click", function (event) {document.location.href = "/filmInfo484548518"; $$nav.off()});
        </script>
        
        <div id="film19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_937438.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Трансформеры: Восхож</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem93743819 = document.getElementById("film19")
            _elem93743819.addEventListener("click", function (event) {document.location.href = "/filmInfo93743819"; $$nav.off()});
        </script>
        
        <div id="film20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5100129.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Вот так повезло!</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510012920 = document.getElementById("film20")
            _elem510012920.addEventListener("click", function (event) {document.location.href = "/filmInfo510012920"; $$nav.off()});
        </script>
        
        <div id="film21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4655411.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Невероятное паломнич</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem465541121 = document.getElementById("film21")
            _elem465541121.addEventListener("click", function (event) {document.location.href = "/filmInfo465541121"; $$nav.off()});
        </script>
        
        <div id="film22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1360099.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Лакадейзи</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem136009922 = document.getElementById("film22")
            _elem136009922.addEventListener("click", function (event) {document.location.href = "/filmInfo136009922"; $$nav.off()});
        </script>
        
        <div id="film23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5296922.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Джохан 2</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem529692223 = document.getElementById("film23")
            _elem529692223.addEventListener("click", function (event) {document.location.href = "/filmInfo529692223"; $$nav.off()});
        </script>
        
        <div id="film24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1179918.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Единственная женщина</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem117991824 = document.getElementById("film24")
            _elem117991824.addEventListener("click", function (event) {document.location.href = "/filmInfo117991824"; $$nav.off()});
        </script>
        
        <div id="film25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Лига Справедливости:</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530544225 = document.getElementById("film25")
            _elem530544225.addEventListener("click", function (event) {document.location.href = "/filmInfo530544225"; $$nav.off()});
        </script>
        
        <div id="film26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Лига Справедливости:</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530544226 = document.getElementById("film26")
            _elem530544226.addEventListener("click", function (event) {document.location.href = "/filmInfo530544226"; $$nav.off()});
        </script>
        
        <div id="film27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309392.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мечта</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem130939227 = document.getElementById("film27")
            _elem130939227.addEventListener("click", function (event) {document.location.href = "/filmInfo130939227"; $$nav.off()});
        </script>
        
        <div id="film28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4826605.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Аврора</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem482660528 = document.getElementById("film28")
            _elem482660528.addEventListener("click", function (event) {document.location.href = "/filmInfo482660528"; $$nav.off()});
        </script>
        
        <div id="film29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5364390.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Король и Шут: Сказка</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536439029 = document.getElementById("film29")
            _elem536439029.addEventListener("click", function (event) {document.location.href = "/filmInfo536439029"; $$nav.off()});
        </script>
        
        <div id="film30" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4745555.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мама, можно мне?</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474555530 = document.getElementById("film30")
            _elem474555530.addEventListener("click", function (event) {document.location.href = "/filmInfo474555530"; $$nav.off()});
        </script>
        
        <div id="film31" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Человек-паук: Паутин</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121917731 = document.getElementById("film31")
            _elem121917731.addEventListener("click", function (event) {document.location.href = "/filmInfo121917731"; $$nav.off()});
        </script>
        
        <div id="film32" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4850225.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Астрал 5: Красная дв</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem485022532 = document.getElementById("film32")
            _elem485022532.addEventListener("click", function (event) {document.location.href = "/filmInfo485022532"; $$nav.off()});
        </script>
        
        <div id="film33" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4751424.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ужас Истфилда. Перво</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem475142433 = document.getElementById("film33")
            _elem475142433.addEventListener("click", function (event) {document.location.href = "/filmInfo475142433"; $$nav.off()});
        </script>
        
        <div id="film34" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5053842.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Хождение по мукам</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem505384234 = document.getElementById("film34")
            _elem505384234.addEventListener("click", function (event) {document.location.href = "/filmInfo505384234"; $$nav.off()});
        </script>
        
        <div id="film35" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5082399.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">По зову долга</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem508239935 = document.getElementById("film35")
            _elem508239935.addEventListener("click", function (event) {document.location.href = "/filmInfo508239935"; $$nav.off()});
        </script>
        
        <div id="film36" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4536580.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Баба Яга спасает мир</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem453658036 = document.getElementById("film36")
            _elem453658036.addEventListener("click", function (event) {document.location.href = "/filmInfo453658036"; $$nav.off()});
        </script>
        
        <div id="film37" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5106374.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Король неба</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510637437 = document.getElementById("film37")
            _elem510637437.addEventListener("click", function (event) {document.location.href = "/filmInfo510637437"; $$nav.off()});
        </script>
        
        <div id="film38" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4498651.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Кровь за кровь</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem449865138 = document.getElementById("film38")
            _elem449865138.addEventListener("click", function (event) {document.location.href = "/filmInfo449865138"; $$nav.off()});
        </script>
        
        <div id="film39" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Человек-паук: Паутин</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121917739 = document.getElementById("film39")
            _elem121917739.addEventListener("click", function (event) {document.location.href = "/filmInfo121917739"; $$nav.off()});
        </script>
        
        <div id="film40" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4423264.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Живопись</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem442326440 = document.getElementById("film40")
            _elem442326440.addEventListener("click", function (event) {document.location.href = "/filmInfo442326440"; $$nav.off()});
        </script>
        
        <div id="film41" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5325611.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Коллектив</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem532561141 = document.getElementById("film41")
            _elem532561141.addEventListener("click", function (event) {document.location.href = "/filmInfo532561141"; $$nav.off()});
        </script>
        
        <div id="film42" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4645872.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Безумная поездочка</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem464587242 = document.getElementById("film42")
            _elem464587242.addEventListener("click", function (event) {document.location.href = "/filmInfo464587242"; $$nav.off()});
        </script>
        
        <div id="film43" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309392.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мечта</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem130939243 = document.getElementById("film43")
            _elem130939243.addEventListener("click", function (event) {document.location.href = "/filmInfo130939243"; $$nav.off()});
        </script>
        
        <div id="film44" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4715481.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дыхание</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem471548144 = document.getElementById("film44")
            _elem471548144.addEventListener("click", function (event) {document.location.href = "/filmInfo471548144"; $$nav.off()});
        </script>
        
        <div id="film45" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4850225.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Астрал 5: Красная дв</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem485022545 = document.getElementById("film45")
            _elem485022545.addEventListener("click", function (event) {document.location.href = "/filmInfo485022545"; $$nav.off()});
        </script>
        
        <div id="film46" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5176539.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Здесь подают любовь</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem517653946 = document.getElementById("film46")
            _elem517653946.addEventListener("click", function (event) {document.location.href = "/filmInfo517653946"; $$nav.off()});
        </script>
        
        <div id="film47" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4701154.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Канал</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem470115447 = document.getElementById("film47")
            _elem470115447.addEventListener("click", function (event) {document.location.href = "/filmInfo470115447"; $$nav.off()});
        </script>
        
        <div id="film48" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4947546.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Девичник: Убойная но</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494754648 = document.getElementById("film48")
            _elem494754648.addEventListener("click", function (event) {document.location.href = "/filmInfo494754648"; $$nav.off()});
        </script>
        
        <div id="film49" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Обитель зла: Остров </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526431049 = document.getElementById("film49")
            _elem526431049.addEventListener("click", function (event) {document.location.href = "/filmInfo526431049"; $$nav.off()});
        </script>
        