
        <div id="film0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4557113.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Потомок</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem45571130 = document.getElementById("film0")
            _elem45571130.addEventListener("click", function (event) {document.location.href = "/filmInfo45571130"; $$nav.off()});
        </script>
        
        <div id="film1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1319157.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Гипнотик</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13191571 = document.getElementById("film1")
            _elem13191571.addEventListener("click", function (event) {document.location.href = "/filmInfo13191571"; $$nav.off()});
        </script>
        
        <div id="film2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4987446.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Без обид</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49874462 = document.getElementById("film2")
            _elem49874462.addEventListener("click", function (event) {document.location.href = "/filmInfo49874462"; $$nav.off()});
        </script>
        
        <div id="film3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_724284.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Как слониха упала с </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem7242843 = document.getElementById("film3")
            _elem7242843.addEventListener("click", function (event) {document.location.href = "/filmInfo7242843"; $$nav.off()});
        </script>
        
        <div id="film4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4745766.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ты ранил мои чувства</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47457664 = document.getElementById("film4")
            _elem47457664.addEventListener("click", function (event) {document.location.href = "/filmInfo47457664"; $$nav.off()});
        </script>
        
        <div id="film5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5179839.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Бабуля</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51798395 = document.getElementById("film5")
            _elem51798395.addEventListener("click", function (event) {document.location.href = "/filmInfo51798395"; $$nav.off()});
        </script>
        
        <div id="film6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5356482.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Пан Самоходик и тамп</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53564826 = document.getElementById("film6")
            _elem53564826.addEventListener("click", function (event) {document.location.href = "/filmInfo53564826"; $$nav.off()});
        </script>
        
        <div id="film7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5307600.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Вавилон 5: Дорога до</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53076007 = document.getElementById("film7")
            _elem53076007.addEventListener("click", function (event) {document.location.href = "/filmInfo53076007"; $$nav.off()});
        </script>
        
        <div id="film8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1398474.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Верная смерть</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13984748 = document.getElementById("film8")
            _elem13984748.addEventListener("click", function (event) {document.location.href = "/filmInfo13984748"; $$nav.off()});
        </script>
        
        <div id="film9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5326242.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Полёт на ковре-самол</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53262429 = document.getElementById("film9")
            _elem53262429.addEventListener("click", function (event) {document.location.href = "/filmInfo53262429"; $$nav.off()});
        </script>
        
        <div id="film10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5215660.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Роман двух убийц</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem521566010 = document.getElementById("film10")
            _elem521566010.addEventListener("click", function (event) {document.location.href = "/filmInfo521566010"; $$nav.off()});
        </script>
        
        <div id="film11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_975402.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Часовой</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem97540211 = document.getElementById("film11")
            _elem97540211.addEventListener("click", function (event) {document.location.href = "/filmInfo97540211"; $$nav.off()});
        </script>
        
        <div id="film12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5325611.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Коллектив</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem532561112 = document.getElementById("film12")
            _elem532561112.addEventListener("click", function (event) {document.location.href = "/filmInfo532561112"; $$nav.off()});
        </script>
        
        <div id="film13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4745555.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мама, можно мне?</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474555513 = document.getElementById("film13")
            _elem474555513.addEventListener("click", function (event) {document.location.href = "/filmInfo474555513"; $$nav.off()});
        </script>
        
        <div id="film14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219153.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Синий Жук</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121915314 = document.getElementById("film14")
            _elem121915314.addEventListener("click", function (event) {document.location.href = "/filmInfo121915314"; $$nav.off()});
        </script>
        
        <div id="film15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5100179.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мотив</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510017915 = document.getElementById("film15")
            _elem510017915.addEventListener("click", function (event) {document.location.href = "/filmInfo510017915"; $$nav.off()});
        </script>
        
        <div id="film16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4557113.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Потомок</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem455711316 = document.getElementById("film16")
            _elem455711316.addEventListener("click", function (event) {document.location.href = "/filmInfo455711316"; $$nav.off()});
        </script>
        
        <div id="film17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5143633.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Метаморф</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem514363317 = document.getElementById("film17")
            _elem514363317.addEventListener("click", function (event) {document.location.href = "/filmInfo514363317"; $$nav.off()});
        </script>
        
        <div id="film18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4629912.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Птичий короб: Барсел</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem462991218 = document.getElementById("film18")
            _elem462991218.addEventListener("click", function (event) {document.location.href = "/filmInfo462991218"; $$nav.off()});
        </script>
        
        <div id="film19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4645872.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Безумная поездочка</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem464587219 = document.getElementById("film19")
            _elem464587219.addEventListener("click", function (event) {document.location.href = "/filmInfo464587219"; $$nav.off()});
        </script>
        
        <div id="film20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4699485.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рой</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem469948520 = document.getElementById("film20")
            _elem469948520.addEventListener("click", function (event) {document.location.href = "/filmInfo469948520"; $$nav.off()});
        </script>
        
        <div id="film21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4987446.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Без обид</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem498744621 = document.getElementById("film21")
            _elem498744621.addEventListener("click", function (event) {document.location.href = "/filmInfo498744621"; $$nav.off()});
        </script>
        
        <div id="film22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4987446.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Без обид</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem498744622 = document.getElementById("film22")
            _elem498744622.addEventListener("click", function (event) {document.location.href = "/filmInfo498744622"; $$nav.off()});
        </script>
        
        <div id="film23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4845727.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Микки Хардэвэй</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem484572723 = document.getElementById("film23")
            _elem484572723.addEventListener("click", function (event) {document.location.href = "/filmInfo484572723"; $$nav.off()});
        </script>
        
        <div id="film24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4947357.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Призрак внутри</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494735724 = document.getElementById("film24")
            _elem494735724.addEventListener("click", function (event) {document.location.href = "/filmInfo494735724"; $$nav.off()});
        </script>
        
        <div id="film25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5126236.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Coдepжaнкa-убийцa</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem512623625 = document.getElementById("film25")
            _elem512623625.addEventListener("click", function (event) {document.location.href = "/filmInfo512623625"; $$nav.off()});
        </script>
        
        <div id="film26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4479969.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Одной безумной ночью</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem447996926 = document.getElementById("film26")
            _elem447996926.addEventListener("click", function (event) {document.location.href = "/filmInfo447996926"; $$nav.off()});
        </script>
        
        <div id="film27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4948187.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Лучшие дни</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494818727 = document.getElementById("film27")
            _elem494818727.addEventListener("click", function (event) {document.location.href = "/filmInfo494818727"; $$nav.off()});
        </script>
        
        <div id="film28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4746977.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Будь со мной если см</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474697728 = document.getElementById("film28")
            _elem474697728.addEventListener("click", function (event) {document.location.href = "/filmInfo474697728"; $$nav.off()});
        </script>
        
        <div id="film29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5142294.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Т.И.М.</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem514229429 = document.getElementById("film29")
            _elem514229429.addEventListener("click", function (event) {document.location.href = "/filmInfo514229429"; $$nav.off()});
        </script>
        
        <div id="film30" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5199079.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Асфальт</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem519907930 = document.getElementById("film30")
            _elem519907930.addEventListener("click", function (event) {document.location.href = "/filmInfo519907930"; $$nav.off()});
        </script>
        
        <div id="film31" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5099823.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мигель хочет драться</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem509982331 = document.getElementById("film31")
            _elem509982331.addEventListener("click", function (event) {document.location.href = "/filmInfo509982331"; $$nav.off()});
        </script>
        
        <div id="film32" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1338831.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Домработница</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem133883132 = document.getElementById("film32")
            _elem133883132.addEventListener("click", function (event) {document.location.href = "/filmInfo133883132"; $$nav.off()});
        </script>
        
        <div id="film33" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Человек-паук: Паутин</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121917733 = document.getElementById("film33")
            _elem121917733.addEventListener("click", function (event) {document.location.href = "/filmInfo121917733"; $$nav.off()});
        </script>
        
        <div id="film34" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4889667.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Элементарно</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem488966734 = document.getElementById("film34")
            _elem488966734.addEventListener("click", function (event) {document.location.href = "/filmInfo488966734"; $$nav.off()});
        </script>
        
        <div id="film35" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1446821.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">В паутине страха</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem144682135 = document.getElementById("film35")
            _elem144682135.addEventListener("click", function (event) {document.location.href = "/filmInfo144682135"; $$nav.off()});
        </script>
        
        <div id="film36" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4778462.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Нефариус</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem477846236 = document.getElementById("film36")
            _elem477846236.addEventListener("click", function (event) {document.location.href = "/filmInfo477846236"; $$nav.off()});
        </script>
        
        <div id="film37" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4985106.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Красный, белый и кор</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem498510637 = document.getElementById("film37")
            _elem498510637.addEventListener("click", function (event) {document.location.href = "/filmInfo498510637"; $$nav.off()});
        </script>
        
        <div id="film38" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5165364.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">База Эхо</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem516536438 = document.getElementById("film38")
            _elem516536438.addEventListener("click", function (event) {document.location.href = "/filmInfo516536438"; $$nav.off()});
        </script>
        
        <div id="film39" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4631336.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Джулс</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem463133639 = document.getElementById("film39")
            _elem463133639.addEventListener("click", function (event) {document.location.href = "/filmInfo463133639"; $$nav.off()});
        </script>
        
        <div id="film40" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4986913.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Маленький костяной д</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem498691340 = document.getElementById("film40")
            _elem498691340.addEventListener("click", function (event) {document.location.href = "/filmInfo498691340"; $$nav.off()});
        </script>
        
        <div id="film41" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5072757.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Время расплаты</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem507275741 = document.getElementById("film41")
            _elem507275741.addEventListener("click", function (event) {document.location.href = "/filmInfo507275741"; $$nav.off()});
        </script>
        
        <div id="film42" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4645872.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Безумная поездочка</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem464587242 = document.getElementById("film42")
            _elem464587242.addEventListener("click", function (event) {document.location.href = "/filmInfo464587242"; $$nav.off()});
        </script>
        
        <div id="film43" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Человек-паук: Паутин</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121917743 = document.getElementById("film43")
            _elem121917743.addEventListener("click", function (event) {document.location.href = "/filmInfo121917743"; $$nav.off()});
        </script>
        
        <div id="film44" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1395369.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Леди Баг и Супер-Кот</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem139536944 = document.getElementById("film44")
            _elem139536944.addEventListener("click", function (event) {document.location.href = "/filmInfo139536944"; $$nav.off()});
        </script>
        
        <div id="film45" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4889667.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Элементарно</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem488966745 = document.getElementById("film45")
            _elem488966745.addEventListener("click", function (event) {document.location.href = "/filmInfo488966745"; $$nav.off()});
        </script>
        
        <div id="film46" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5365082.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Убить отчима</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536508246 = document.getElementById("film46")
            _elem536508246.addEventListener("click", function (event) {document.location.href = "/filmInfo536508246"; $$nav.off()});
        </script>
        
        <div id="film47" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5192942.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Берегись ночной няни</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem519294247 = document.getElementById("film47")
            _elem519294247.addEventListener("click", function (event) {document.location.href = "/filmInfo519294247"; $$nav.off()});
        </script>
        
        <div id="film48" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1045082.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Круче некуда</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem104508248 = document.getElementById("film48")
            _elem104508248.addEventListener("click", function (event) {document.location.href = "/filmInfo104508248"; $$nav.off()});
        </script>
        
        <div id="film49" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1192777.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рай для дурака</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem119277749 = document.getElementById("film49")
            _elem119277749.addEventListener("click", function (event) {document.location.href = "/filmInfo119277749"; $$nav.off()});
        </script>
        