
        <div id="film0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5005566.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Джови и Лу</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50055660 = document.getElementById("film0")
            _elem50055660.addEventListener("click", function (event) {document.location.href = "/filmInfo50055660"; $$nav.off()});
        </script>
        
        <div id="film1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4703998.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Улей</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47039981 = document.getElementById("film1")
            _elem47039981.addEventListener("click", function (event) {document.location.href = "/filmInfo47039981"; $$nav.off()});
        </script>
        
        <div id="film2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1381502.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Лето с парнями</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13815022 = document.getElementById("film2")
            _elem13815022.addEventListener("click", function (event) {document.location.href = "/filmInfo13815022"; $$nav.off()});
        </script>
        
        <div id="film3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1260290.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Выжившая</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem12602903 = document.getElementById("film3")
            _elem12602903.addEventListener("click", function (event) {document.location.href = "/filmInfo12602903"; $$nav.off()});
        </script>
        
        <div id="film4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4414378.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дайана Найэд</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44143784 = document.getElementById("film4")
            _elem44143784.addEventListener("click", function (event) {document.location.href = "/filmInfo44143784"; $$nav.off()});
        </script>
        
        <div id="film5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5368842.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дорога милосердия</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53688425 = document.getElementById("film5")
            _elem53688425.addEventListener("click", function (event) {document.location.href = "/filmInfo53688425"; $$nav.off()});
        </script>
        
        <div id="film6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4366998.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ногти</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem43669986 = document.getElementById("film6")
            _elem43669986.addEventListener("click", function (event) {document.location.href = "/filmInfo43669986"; $$nav.off()});
        </script>
        
        <div id="film7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4969228.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Леди-викторина</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49692287 = document.getElementById("film7")
            _elem49692287.addEventListener("click", function (event) {document.location.href = "/filmInfo49692287"; $$nav.off()});
        </script>
        
        <div id="film8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5019876.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">До звезды</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50198768 = document.getElementById("film8")
            _elem50198768.addEventListener("click", function (event) {document.location.href = "/filmInfo50198768"; $$nav.off()});
        </script>
        
        <div id="film9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4630545.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Солдат</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46305459 = document.getElementById("film9")
            _elem46305459.addEventListener("click", function (event) {document.location.href = "/filmInfo46305459"; $$nav.off()});
        </script>
        
        <div id="film10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5397418.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Любопытный ресторато</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem539741810 = document.getElementById("film10")
            _elem539741810.addEventListener("click", function (event) {document.location.href = "/filmInfo539741810"; $$nav.off()});
        </script>
        
        <div id="film11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1043206.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Иди ко мне, детка</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem104320611 = document.getElementById("film11")
            _elem104320611.addEventListener("click", function (event) {document.location.href = "/filmInfo104320611"; $$nav.off()});
        </script>
        
        <div id="film12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4890878.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">На глубине страха</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem489087812 = document.getElementById("film12")
            _elem489087812.addEventListener("click", function (event) {document.location.href = "/filmInfo489087812"; $$nav.off()});
        </script>
        
        <div id="film13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4414378.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дайана Найэд</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem441437813 = document.getElementById("film13")
            _elem441437813.addEventListener("click", function (event) {document.location.href = "/filmInfo441437813"; $$nav.off()});
        </script>
        
        <div id="film14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5003770.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Чижик-Пыжик возвраща</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem500377014 = document.getElementById("film14")
            _elem500377014.addEventListener("click", function (event) {document.location.href = "/filmInfo500377014"; $$nav.off()});
        </script>
        
        <div id="film15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5071494.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Магнификат</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem507149415 = document.getElementById("film15")
            _elem507149415.addEventListener("click", function (event) {document.location.href = "/filmInfo507149415"; $$nav.off()});
        </script>
        
        <div id="film16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5105875.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Воровки</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510587516 = document.getElementById("film16")
            _elem510587516.addEventListener("click", function (event) {document.location.href = "/filmInfo510587516"; $$nav.off()});
        </script>
        
        <div id="film17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4946856.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Набережная Орфевр, 3</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494685617 = document.getElementById("film17")
            _elem494685617.addEventListener("click", function (event) {document.location.href = "/filmInfo494685617"; $$nav.off()});
        </script>
        
        <div id="film18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5333299.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Детки-убийцы 2</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem533329918 = document.getElementById("film18")
            _elem533329918.addEventListener("click", function (event) {document.location.href = "/filmInfo533329918"; $$nav.off()});
        </script>
        
        <div id="film19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4634362.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Игра на доверие</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem463436219 = document.getElementById("film19")
            _elem463436219.addEventListener("click", function (event) {document.location.href = "/filmInfo463436219"; $$nav.off()});
        </script>
        
        <div id="film20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5364319.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Джунгли. Райский пер</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536431920 = document.getElementById("film20")
            _elem536431920.addEventListener("click", function (event) {document.location.href = "/filmInfo536431920"; $$nav.off()});
        </script>
        
        <div id="film21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5179969.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">ООО «Дом ада», начал</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem517996921 = document.getElementById("film21")
            _elem517996921.addEventListener("click", function (event) {document.location.href = "/filmInfo517996921"; $$nav.off()});
        </script>
        
        <div id="film22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_905024.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Гардемарины 1787. Ми</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem90502422 = document.getElementById("film22")
            _elem90502422.addEventListener("click", function (event) {document.location.href = "/filmInfo90502422"; $$nav.off()});
        </script>
        
        <div id="film23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_952158.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Пять ночей с Фредди</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem95215823 = document.getElementById("film23")
            _elem95215823.addEventListener("click", function (event) {document.location.href = "/filmInfo95215823"; $$nav.off()});
        </script>
        
        <div id="film24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4309488.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Изгоняющий дьявола: </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem430948824 = document.getElementById("film24")
            _elem430948824.addEventListener("click", function (event) {document.location.href = "/filmInfo430948824"; $$nav.off()});
        </script>
        
        <div id="film25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5404276.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Время ураганов</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540427625 = document.getElementById("film25")
            _elem540427625.addEventListener("click", function (event) {document.location.href = "/filmInfo540427625"; $$nav.off()});
        </script>
        
        <div id="film26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4934962.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Балерина</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem493496226 = document.getElementById("film26")
            _elem493496226.addEventListener("click", function (event) {document.location.href = "/filmInfo493496226"; $$nav.off()});
        </script>
        
        <div id="film27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5138514.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">У моего одиночества </p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem513851427 = document.getElementById("film27")
            _elem513851427.addEventListener("click", function (event) {document.location.href = "/filmInfo513851427"; $$nav.off()});
        </script>
        
        <div id="film28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4397511.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Не сворачивай горы</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem439751128 = document.getElementById("film28")
            _elem439751128.addEventListener("click", function (event) {document.location.href = "/filmInfo439751128"; $$nav.off()});
        </script>
        
        <div id="film29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5234102.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Иван Семенов: Большо</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523410229 = document.getElementById("film29")
            _elem523410229.addEventListener("click", function (event) {document.location.href = "/filmInfo523410229"; $$nav.off()});
        </script>
        
        <div id="film30" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5292771.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Последний мальчик на</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem529277130 = document.getElementById("film30")
            _elem529277130.addEventListener("click", function (event) {document.location.href = "/filmInfo529277130"; $$nav.off()});
        </script>
        
        <div id="film31" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4869021.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Великий уравнитель 3</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem486902131 = document.getElementById("film31")
            _elem486902131.addEventListener("click", function (event) {document.location.href = "/filmInfo486902131"; $$nav.off()});
        </script>
        
        <div id="film32" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4708940.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Щенячий патруль: Мег</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem470894032 = document.getElementById("film32")
            _elem470894032.addEventListener("click", function (event) {document.location.href = "/filmInfo470894032"; $$nav.off()});
        </script>
        
        <div id="film33" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5267770.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Императрицы</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526777033 = document.getElementById("film33")
            _elem526777033.addEventListener("click", function (event) {document.location.href = "/filmInfo526777033"; $$nav.off()});
        </script>
        
        <div id="film34" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5404277.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Запертая</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540427734 = document.getElementById("film34")
            _elem540427734.addEventListener("click", function (event) {document.location.href = "/filmInfo540427734"; $$nav.off()});
        </script>
        
        <div id="film35" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4969384.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дом тысячи дверей</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem496938435 = document.getElementById("film35")
            _elem496938435.addEventListener("click", function (event) {document.location.href = "/filmInfo496938435"; $$nav.off()});
        </script>
        
        <div id="film36" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5194940.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Подделка 3</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem519494036 = document.getElementById("film36")
            _elem519494036.addEventListener("click", function (event) {document.location.href = "/filmInfo519494036"; $$nav.off()});
        </script>
        
        <div id="film37" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5269566.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Я могу дойти до моря</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526956637 = document.getElementById("film37")
            _elem526956637.addEventListener("click", function (event) {document.location.href = "/filmInfo526956637"; $$nav.off()});
        </script>
        
        <div id="film38" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1339376.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Нем, как могила</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem133937638 = document.getElementById("film38")
            _elem133937638.addEventListener("click", function (event) {document.location.href = "/filmInfo133937638"; $$nav.off()});
        </script>
        
        <div id="film39" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5234126.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Молчание ангелов</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523412639 = document.getElementById("film39")
            _elem523412639.addEventListener("click", function (event) {document.location.href = "/filmInfo523412639"; $$nav.off()});
        </script>
        
        <div id="film40" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_462656.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Убийца</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46265640 = document.getElementById("film40")
            _elem46265640.addEventListener("click", function (event) {document.location.href = "/filmInfo46265640"; $$nav.off()});
        </script>
        
        <div id="film41" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5377296.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Технобратья</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem537729641 = document.getElementById("film41")
            _elem537729641.addEventListener("click", function (event) {document.location.href = "/filmInfo537729641"; $$nav.off()});
        </script>
        
        <div id="film42" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5398802.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Южный Парк: Воссоеди</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem539880242 = document.getElementById("film42")
            _elem539880242.addEventListener("click", function (event) {document.location.href = "/filmInfo539880242"; $$nav.off()});
        </script>
        
        <div id="film43" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4959134.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">По щучьему велению</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem495913443 = document.getElementById("film43")
            _elem495913443.addEventListener("click", function (event) {document.location.href = "/filmInfo495913443"; $$nav.off()});
        </script>
        
        <div id="film44" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5073813.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Прости, Чарли</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem507381344 = document.getElementById("film44")
            _elem507381344.addEventListener("click", function (event) {document.location.href = "/filmInfo507381344"; $$nav.off()});
        </script>
        
        <div id="film45" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4876660.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Честная игра</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem487666045 = document.getElementById("film45")
            _elem487666045.addEventListener("click", function (event) {document.location.href = "/filmInfo487666045"; $$nav.off()});
        </script>
        
        <div id="film46" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5135249.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Призраки в Венеции</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem513524946 = document.getElementById("film46")
            _elem513524946.addEventListener("click", function (event) {document.location.href = "/filmInfo513524946"; $$nav.off()});
        </script>
        
        <div id="film47" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5135249.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Призраки в Венеции</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem513524947 = document.getElementById("film47")
            _elem513524947.addEventListener("click", function (event) {document.location.href = "/filmInfo513524947"; $$nav.off()});
        </script>
        
        <div id="film48" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4924319.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Чужак</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem492431948 = document.getElementById("film48")
            _elem492431948.addEventListener("click", function (event) {document.location.href = "/filmInfo492431948"; $$nav.off()});
        </script>
        
        <div id="film49" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5243705.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рохан Кисибэ в Лувре</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem524370549 = document.getElementById("film49")
            _elem524370549.addEventListener("click", function (event) {document.location.href = "/filmInfo524370549"; $$nav.off()});
        </script>
        