
        <div id="film0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5326242.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Полёт на ковре-самол</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53262420 = document.getElementById("film0")
            _elem53262420.addEventListener("click", function (event) {document.location.href = "/filmInfo53262420"; $$nav.off()});
        </script>
        
        <div id="film1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5215660.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Роман двух убийц</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52156601 = document.getElementById("film1")
            _elem52156601.addEventListener("click", function (event) {document.location.href = "/filmInfo52156601"; $$nav.off()});
        </script>
        
        <div id="film2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_975402.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Часовой</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem9754022 = document.getElementById("film2")
            _elem9754022.addEventListener("click", function (event) {document.location.href = "/filmInfo9754022"; $$nav.off()});
        </script>
        
        <div id="film3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5307600.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Вавилон 5: Дорога до</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53076003 = document.getElementById("film3")
            _elem53076003.addEventListener("click", function (event) {document.location.href = "/filmInfo53076003"; $$nav.off()});
        </script>
        
        <div id="film4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5325611.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Коллектив</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53256114 = document.getElementById("film4")
            _elem53256114.addEventListener("click", function (event) {document.location.href = "/filmInfo53256114"; $$nav.off()});
        </script>
        
        <div id="film5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4745555.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мама, можно мне?</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47455555 = document.getElementById("film5")
            _elem47455555.addEventListener("click", function (event) {document.location.href = "/filmInfo47455555"; $$nav.off()});
        </script>
        
        <div id="film6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219153.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Синий Жук</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem12191536 = document.getElementById("film6")
            _elem12191536.addEventListener("click", function (event) {document.location.href = "/filmInfo12191536"; $$nav.off()});
        </script>
        
        <div id="film7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5100179.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мотив</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51001797 = document.getElementById("film7")
            _elem51001797.addEventListener("click", function (event) {document.location.href = "/filmInfo51001797"; $$nav.off()});
        </script>
        
        <div id="film8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4557113.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Потомок</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem45571138 = document.getElementById("film8")
            _elem45571138.addEventListener("click", function (event) {document.location.href = "/filmInfo45571138"; $$nav.off()});
        </script>
        
        <div id="film9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5143633.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Метаморф</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51436339 = document.getElementById("film9")
            _elem51436339.addEventListener("click", function (event) {document.location.href = "/filmInfo51436339"; $$nav.off()});
        </script>
        
        <div id="film10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4629912.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Птичий короб: Барсел</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem462991210 = document.getElementById("film10")
            _elem462991210.addEventListener("click", function (event) {document.location.href = "/filmInfo462991210"; $$nav.off()});
        </script>
        
        <div id="film11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4645872.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Безумная поездочка</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem464587211 = document.getElementById("film11")
            _elem464587211.addEventListener("click", function (event) {document.location.href = "/filmInfo464587211"; $$nav.off()});
        </script>
        
        <div id="film12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4699485.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рой</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem469948512 = document.getElementById("film12")
            _elem469948512.addEventListener("click", function (event) {document.location.href = "/filmInfo469948512"; $$nav.off()});
        </script>
        
        <div id="film13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4987446.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Без обид</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem498744613 = document.getElementById("film13")
            _elem498744613.addEventListener("click", function (event) {document.location.href = "/filmInfo498744613"; $$nav.off()});
        </script>
        
        <div id="film14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4987446.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Без обид</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem498744614 = document.getElementById("film14")
            _elem498744614.addEventListener("click", function (event) {document.location.href = "/filmInfo498744614"; $$nav.off()});
        </script>
        
        <div id="film15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4845727.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Микки Хардэвэй</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem484572715 = document.getElementById("film15")
            _elem484572715.addEventListener("click", function (event) {document.location.href = "/filmInfo484572715"; $$nav.off()});
        </script>
        
        <div id="film16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4947357.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Призрак внутри</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494735716 = document.getElementById("film16")
            _elem494735716.addEventListener("click", function (event) {document.location.href = "/filmInfo494735716"; $$nav.off()});
        </script>
        
        <div id="film17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5126236.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Coдepжaнкa-убийцa</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem512623617 = document.getElementById("film17")
            _elem512623617.addEventListener("click", function (event) {document.location.href = "/filmInfo512623617"; $$nav.off()});
        </script>
        
        <div id="film18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4479969.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Одной безумной ночью</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem447996918 = document.getElementById("film18")
            _elem447996918.addEventListener("click", function (event) {document.location.href = "/filmInfo447996918"; $$nav.off()});
        </script>
        
        <div id="film19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4948187.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Лучшие дни</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494818719 = document.getElementById("film19")
            _elem494818719.addEventListener("click", function (event) {document.location.href = "/filmInfo494818719"; $$nav.off()});
        </script>
        
        <div id="film20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4746977.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Будь со мной если см</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474697720 = document.getElementById("film20")
            _elem474697720.addEventListener("click", function (event) {document.location.href = "/filmInfo474697720"; $$nav.off()});
        </script>
        
        <div id="film21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5142294.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Т.И.М.</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem514229421 = document.getElementById("film21")
            _elem514229421.addEventListener("click", function (event) {document.location.href = "/filmInfo514229421"; $$nav.off()});
        </script>
        
        <div id="film22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5199079.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Асфальт</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem519907922 = document.getElementById("film22")
            _elem519907922.addEventListener("click", function (event) {document.location.href = "/filmInfo519907922"; $$nav.off()});
        </script>
        
        <div id="film23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5099823.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мигель хочет драться</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem509982323 = document.getElementById("film23")
            _elem509982323.addEventListener("click", function (event) {document.location.href = "/filmInfo509982323"; $$nav.off()});
        </script>
        
        <div id="film24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1338831.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Домработница</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem133883124 = document.getElementById("film24")
            _elem133883124.addEventListener("click", function (event) {document.location.href = "/filmInfo133883124"; $$nav.off()});
        </script>
        
        <div id="film25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Человек-паук: Паутин</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121917725 = document.getElementById("film25")
            _elem121917725.addEventListener("click", function (event) {document.location.href = "/filmInfo121917725"; $$nav.off()});
        </script>
        
        <div id="film26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4889667.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Элементарно</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem488966726 = document.getElementById("film26")
            _elem488966726.addEventListener("click", function (event) {document.location.href = "/filmInfo488966726"; $$nav.off()});
        </script>
        
        <div id="film27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1446821.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">В паутине страха</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem144682127 = document.getElementById("film27")
            _elem144682127.addEventListener("click", function (event) {document.location.href = "/filmInfo144682127"; $$nav.off()});
        </script>
        
        <div id="film28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1319157.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Гипнотик</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem131915728 = document.getElementById("film28")
            _elem131915728.addEventListener("click", function (event) {document.location.href = "/filmInfo131915728"; $$nav.off()});
        </script>
        
        <div id="film29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4778462.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Нефариус</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem477846229 = document.getElementById("film29")
            _elem477846229.addEventListener("click", function (event) {document.location.href = "/filmInfo477846229"; $$nav.off()});
        </script>
        
        <div id="film30" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4985106.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Красный, белый и кор</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem498510630 = document.getElementById("film30")
            _elem498510630.addEventListener("click", function (event) {document.location.href = "/filmInfo498510630"; $$nav.off()});
        </script>
        
        <div id="film31" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5165364.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">База Эхо</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem516536431 = document.getElementById("film31")
            _elem516536431.addEventListener("click", function (event) {document.location.href = "/filmInfo516536431"; $$nav.off()});
        </script>
        
        <div id="film32" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4631336.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Джулс</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem463133632 = document.getElementById("film32")
            _elem463133632.addEventListener("click", function (event) {document.location.href = "/filmInfo463133632"; $$nav.off()});
        </script>
        
        <div id="film33" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4986913.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Маленький костяной д</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem498691333 = document.getElementById("film33")
            _elem498691333.addEventListener("click", function (event) {document.location.href = "/filmInfo498691333"; $$nav.off()});
        </script>
        
        <div id="film34" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5072757.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Время расплаты</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem507275734 = document.getElementById("film34")
            _elem507275734.addEventListener("click", function (event) {document.location.href = "/filmInfo507275734"; $$nav.off()});
        </script>
        
        <div id="film35" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4645872.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Безумная поездочка</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem464587235 = document.getElementById("film35")
            _elem464587235.addEventListener("click", function (event) {document.location.href = "/filmInfo464587235"; $$nav.off()});
        </script>
        
        <div id="film36" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Человек-паук: Паутин</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121917736 = document.getElementById("film36")
            _elem121917736.addEventListener("click", function (event) {document.location.href = "/filmInfo121917736"; $$nav.off()});
        </script>
        
        <div id="film37" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1395369.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Леди Баг и Супер-Кот</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem139536937 = document.getElementById("film37")
            _elem139536937.addEventListener("click", function (event) {document.location.href = "/filmInfo139536937"; $$nav.off()});
        </script>
        
        <div id="film38" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4889667.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Элементарно</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem488966738 = document.getElementById("film38")
            _elem488966738.addEventListener("click", function (event) {document.location.href = "/filmInfo488966738"; $$nav.off()});
        </script>
        
        <div id="film39" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4557113.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Потомок</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem455711339 = document.getElementById("film39")
            _elem455711339.addEventListener("click", function (event) {document.location.href = "/filmInfo455711339"; $$nav.off()});
        </script>
        
        <div id="film40" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5365082.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Убить отчима</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536508240 = document.getElementById("film40")
            _elem536508240.addEventListener("click", function (event) {document.location.href = "/filmInfo536508240"; $$nav.off()});
        </script>
        
        <div id="film41" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5192942.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Берегись ночной няни</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem519294241 = document.getElementById("film41")
            _elem519294241.addEventListener("click", function (event) {document.location.href = "/filmInfo519294241"; $$nav.off()});
        </script>
        
        <div id="film42" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1045082.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Круче некуда</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem104508242 = document.getElementById("film42")
            _elem104508242.addEventListener("click", function (event) {document.location.href = "/filmInfo104508242"; $$nav.off()});
        </script>
        
        <div id="film43" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1192777.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рай для дурака</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem119277743 = document.getElementById("film43")
            _elem119277743.addEventListener("click", function (event) {document.location.href = "/filmInfo119277743"; $$nav.off()});
        </script>
        
        <div id="film44" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5306015.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Примерное вождение</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530601544 = document.getElementById("film44")
            _elem530601544.addEventListener("click", function (event) {document.location.href = "/filmInfo530601544"; $$nav.off()});
        </script>
        
        <div id="film45" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5108762.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Цепной пёс</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510876245 = document.getElementById("film45")
            _elem510876245.addEventListener("click", function (event) {document.location.href = "/filmInfo510876245"; $$nav.off()});
        </script>
        
        <div id="film46" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_462128.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Последнее путешестви</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46212846 = document.getElementById("film46")
            _elem46212846.addEventListener("click", function (event) {document.location.href = "/filmInfo46212846"; $$nav.off()});
        </script>
        
        <div id="film47" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5333387.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Пассажир</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem533338747 = document.getElementById("film47")
            _elem533338747.addEventListener("click", function (event) {document.location.href = "/filmInfo533338747"; $$nav.off()});
        </script>
        
        <div id="film48" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5098615.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Остров</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem509861548 = document.getElementById("film48")
            _elem509861548.addEventListener("click", function (event) {document.location.href = "/filmInfo509861548"; $$nav.off()});
        </script>
        
        <div id="film49" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1400400.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Адипуруш</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem140040049 = document.getElementById("film49")
            _elem140040049.addEventListener("click", function (event) {document.location.href = "/filmInfo140040049"; $$nav.off()});
        </script>
        