
        <div id="film0" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4925815.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Волнение</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49258150 = document.getElementById("film0")
            _elem49258150.addEventListener("click", function (event) {document.location.href = "/filmInfo49258150"; $$nav.off()});
        </script>
        
        <div id="film1" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Лига Справедливости: Мир войны</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53054421 = document.getElementById("film1")
            _elem53054421.addEventListener("click", function (event) {document.location.href = "/filmInfo53054421"; $$nav.off()});
        </script>
        
        <div id="film2" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4744698.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Счастье для начинающих</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47446982 = document.getElementById("film2")
            _elem47446982.addEventListener("click", function (event) {document.location.href = "/filmInfo47446982"; $$nav.off()});
        </script>
        
        <div id="film3" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4744698.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Счастье для начинающих</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47446983 = document.getElementById("film3")
            _elem47446983.addEventListener("click", function (event) {document.location.href = "/filmInfo47446983"; $$nav.off()});
        </script>
        
        <div id="film4" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4655411.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Невероятное паломничество Гарольд</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46554114 = document.getElementById("film4")
            _elem46554114.addEventListener("click", function (event) {document.location.href = "/filmInfo46554114"; $$nav.off()});
        </script>
        
        <div id="film5" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5123188.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>До встречи на Венере</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51231885 = document.getElementById("film5")
            _elem51231885.addEventListener("click", function (event) {document.location.href = "/filmInfo51231885"; $$nav.off()});
        </script>
        
        <div id="film6" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5098615.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Остров</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50986156 = document.getElementById("film6")
            _elem50986156.addEventListener("click", function (event) {document.location.href = "/filmInfo50986156"; $$nav.off()});
        </script>
        
        <div id="film7" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4845485.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Плюшевый пузырь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem48454857 = document.getElementById("film7")
            _elem48454857.addEventListener("click", function (event) {document.location.href = "/filmInfo48454857"; $$nav.off()});
        </script>
        
        <div id="film8" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5307845.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Ты мой бриллиант</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53078458 = document.getElementById("film8")
            _elem53078458.addEventListener("click", function (event) {document.location.href = "/filmInfo53078458"; $$nav.off()});
        </script>
        
        <div id="film9" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5245401.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Угрызения совести</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52454019 = document.getElementById("film9")
            _elem52454019.addEventListener("click", function (event) {document.location.href = "/filmInfo52454019"; $$nav.off()});
        </script>
        
        <div id="film10" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5082399.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>По зову долга</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem508239910 = document.getElementById("film10")
            _elem508239910.addEventListener("click", function (event) {document.location.href = "/filmInfo508239910"; $$nav.off()});
        </script>
        
        <div id="film11" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4498651.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Кровь за кровь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem449865111 = document.getElementById("film11")
            _elem449865111.addEventListener("click", function (event) {document.location.href = "/filmInfo449865111"; $$nav.off()});
        </script>
        
        <div id="film12" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4910071.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Не буди во мне киллера</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem491007112 = document.getElementById("film12")
            _elem491007112.addEventListener("click", function (event) {document.location.href = "/filmInfo491007112"; $$nav.off()});
        </script>
        
        <div id="film13" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4860765.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Осада</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem486076513 = document.getElementById("film13")
            _elem486076513.addEventListener("click", function (event) {document.location.href = "/filmInfo486076513"; $$nav.off()});
        </script>
        
        <div id="film14" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4672960.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Солнце и Луна</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem467296014 = document.getElementById("film14")
            _elem467296014.addEventListener("click", function (event) {document.location.href = "/filmInfo467296014"; $$nav.off()});
        </script>
        
        <div id="film15" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Обитель зла: Остров смерти</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526431015 = document.getElementById("film15")
            _elem526431015.addEventListener("click", function (event) {document.location.href = "/filmInfo526431015"; $$nav.off()});
        </script>
        
        <div id="film16" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4631912.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>По блуждающим тропам</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem463191216 = document.getElementById("film16")
            _elem463191216.addEventListener("click", function (event) {document.location.href = "/filmInfo463191216"; $$nav.off()});
        </script>
        
        <div id="film17" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5106374.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Король неба</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510637417 = document.getElementById("film17")
            _elem510637417.addEventListener("click", function (event) {document.location.href = "/filmInfo510637417"; $$nav.off()});
        </script>
        
        <div id="film18" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4543979.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Новый Камен Райдер</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem454397918 = document.getElementById("film18")
            _elem454397918.addEventListener("click", function (event) {document.location.href = "/filmInfo454397918"; $$nav.off()});
        </script>
        
        <div id="film19" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4701189.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>О нем и о ней</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem470118919 = document.getElementById("film19")
            _elem470118919.addEventListener("click", function (event) {document.location.href = "/filmInfo470118919"; $$nav.off()});
        </script>
        
        <div id="film20" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_999881.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Русалочка</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem99988120 = document.getElementById("film20")
            _elem99988120.addEventListener("click", function (event) {document.location.href = "/filmInfo99988120"; $$nav.off()});
        </script>
        
        <div id="film21" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_999881.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Русалочка</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem99988121 = document.getElementById("film21")
            _elem99988121.addEventListener("click", function (event) {document.location.href = "/filmInfo99988121"; $$nav.off()});
        </script>
        
        <div id="film22" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4477067.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Уикенд с батей</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem447706722 = document.getElementById("film22")
            _elem447706722.addEventListener("click", function (event) {document.location.href = "/filmInfo447706722"; $$nav.off()});
        </script>
        
        <div id="film23" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_478052.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Барби</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47805223 = document.getElementById("film23")
            _elem47805223.addEventListener("click", function (event) {document.location.href = "/filmInfo47805223"; $$nav.off()});
        </script>
        
        <div id="film24" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4673782.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>История Ману</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem467378224 = document.getElementById("film24")
            _elem467378224.addEventListener("click", function (event) {document.location.href = "/filmInfo467378224"; $$nav.off()});
        </script>
        
        <div id="film25" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4947546.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Девичник: Убойная ночь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494754625 = document.getElementById("film25")
            _elem494754625.addEventListener("click", function (event) {document.location.href = "/filmInfo494754625"; $$nav.off()});
        </script>
        
        <div id="film26" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5235968.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Кентавр</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523596826 = document.getElementById("film26")
            _elem523596826.addEventListener("click", function (event) {document.location.href = "/filmInfo523596826"; $$nav.off()});
        </script>
        
        <div id="film27" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1311500.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Он умер и я тоже</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem131150027 = document.getElementById("film27")
            _elem131150027.addEventListener("click", function (event) {document.location.href = "/filmInfo131150027"; $$nav.off()});
        </script>
        
        <div id="film28" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5307214.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Джонни</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530721428 = document.getElementById("film28")
            _elem530721428.addEventListener("click", function (event) {document.location.href = "/filmInfo530721428"; $$nav.off()});
        </script>
        
        <div id="film29" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5179729.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Пусть начнется танец</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem517972929 = document.getElementById("film29")
            _elem517972929.addEventListener("click", function (event) {document.location.href = "/filmInfo517972929"; $$nav.off()});
        </script>
        
        <div id="film30" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1411200.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Смертельный выстрел</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem141120030 = document.getElementById("film30")
            _elem141120030.addEventListener("click", function (event) {document.location.href = "/filmInfo141120030"; $$nav.off()});
        </script>
        
        <div id="film31" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5082039.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Лимб</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem508203931 = document.getElementById("film31")
            _elem508203931.addEventListener("click", function (event) {document.location.href = "/filmInfo508203931"; $$nav.off()});
        </script>
        
        <div id="film32" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5360458.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Кейша Коул: Моя история</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536045832 = document.getElementById("film32")
            _elem536045832.addEventListener("click", function (event) {document.location.href = "/filmInfo536045832"; $$nav.off()});
        </script>
        
        <div id="film33" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1405266.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Они клонировали Тайрона</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem140526633 = document.getElementById("film33")
            _elem140526633.addEventListener("click", function (event) {document.location.href = "/filmInfo140526633"; $$nav.off()});
        </script>
        
        <div id="film34" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4701154.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Канал</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem470115434 = document.getElementById("film34")
            _elem470115434.addEventListener("click", function (event) {document.location.href = "/filmInfo470115434"; $$nav.off()});
        </script>
        
        <div id="film35" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4664634.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Оппенгеймер</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem466463435 = document.getElementById("film35")
            _elem466463435.addEventListener("click", function (event) {document.location.href = "/filmInfo466463435"; $$nav.off()});
        </script>
        
        <div id="film36" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1186274.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Какой-то Энди</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem118627436 = document.getElementById("film36")
            _elem118627436.addEventListener("click", function (event) {document.location.href = "/filmInfo118627436"; $$nav.off()});
        </script>
        
        <div id="film37" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4909394.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Старушки за Брэйди</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem490939437 = document.getElementById("film37")
            _elem490939437.addEventListener("click", function (event) {document.location.href = "/filmInfo490939437"; $$nav.off()});
        </script>
        
        <div id="film38" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1325596.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Остров теней</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem132559638 = document.getElementById("film38")
            _elem132559638.addEventListener("click", function (event) {document.location.href = "/filmInfo132559638"; $$nav.off()});
        </script>
        
        <div id="film39" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1405266.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Они клонировали Тайрона</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem140526639 = document.getElementById("film39")
            _elem140526639.addEventListener("click", function (event) {document.location.href = "/filmInfo140526639"; $$nav.off()});
        </script>
        
        <div id="film40" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1396300.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Тетрис</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem139630040 = document.getElementById("film40")
            _elem139630040.addEventListener("click", function (event) {document.location.href = "/filmInfo139630040"; $$nav.off()});
        </script>
        
        <div id="film41" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4630520.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Викенсбург</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem463052041 = document.getElementById("film41")
            _elem463052041.addEventListener("click", function (event) {document.location.href = "/filmInfo463052041"; $$nav.off()});
        </script>
        
        <div id="film42" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_195483.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Флэш</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem19548342 = document.getElementById("film42")
            _elem19548342.addEventListener("click", function (event) {document.location.href = "/filmInfo19548342"; $$nav.off()});
        </script>
        
        <div id="film43" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5124666.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Смертельные семейные узы</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem512466643 = document.getElementById("film43")
            _elem512466643.addEventListener("click", function (event) {document.location.href = "/filmInfo512466643"; $$nav.off()});
        </script>
        
        <div id="film44" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4925994.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Плейлист любви</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem492599444 = document.getElementById("film44")
            _elem492599444.addEventListener("click", function (event) {document.location.href = "/filmInfo492599444"; $$nav.off()});
        </script>
        
        <div id="film45" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4924071.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Святой</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem492407145 = document.getElementById("film45")
            _elem492407145.addEventListener("click", function (event) {document.location.href = "/filmInfo492407145"; $$nav.off()});
        </script>
        
        <div id="film46" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5074908.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Микулай</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem507490846 = document.getElementById("film46")
            _elem507490846.addEventListener("click", function (event) {document.location.href = "/filmInfo507490846"; $$nav.off()});
        </script>
        
        <div id="film47" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4396783.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Мэгги Мур(ы)</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem439678347 = document.getElementById("film47")
            _elem439678347.addEventListener("click", function (event) {document.location.href = "/filmInfo439678347"; $$nav.off()});
        </script>
        
        <div id="film48" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4861016.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Копенгагена не существует</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem486101648 = document.getElementById("film48")
            _elem486101648.addEventListener("click", function (event) {document.location.href = "/filmInfo486101648"; $$nav.off()});
        </script>
        
        <div id="film49" class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4992959.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Моё преступление</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem499295949 = document.getElementById("film49")
            _elem499295949.addEventListener("click", function (event) {document.location.href = "/filmInfo499295949"; $$nav.off()});
        </script>
        