
        <div id="film0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1154930.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Недруг</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem11549300 = document.getElementById("film0")
            _elem11549300.addEventListener("click", function (event) {document.location.href = "/filmInfo11549300"; $$nav.off()});
        </script>
        
        <div id="film1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5406528.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Проверь дважды</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54065281 = document.getElementById("film1")
            _elem54065281.addEventListener("click", function (event) {document.location.href = "/filmInfo54065281"; $$nav.off()});
        </script>
        
        <div id="film2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4894012.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Тигр 3</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem48940122 = document.getElementById("film2")
            _elem48940122.addEventListener("click", function (event) {document.location.href = "/filmInfo48940122"; $$nav.off()});
        </script>
        
        <div id="film3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4908901.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Самое. Лучшее. Рожде</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49089013 = document.getElementById("film3")
            _elem49089013.addEventListener("click", function (event) {document.location.href = "/filmInfo49089013"; $$nav.off()});
        </script>
        
        <div id="film4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5094412.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Викинги: Жажда крови</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50944124 = document.getElementById("film4")
            _elem50944124.addEventListener("click", function (event) {document.location.href = "/filmInfo50944124"; $$nav.off()});
        </script>
        
        <div id="film5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4477250.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Манодром</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44772505 = document.getElementById("film5")
            _elem44772505.addEventListener("click", function (event) {document.location.href = "/filmInfo44772505"; $$nav.off()});
        </script>
        
        <div id="film6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5413462.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Исповедь</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54134626 = document.getElementById("film6")
            _elem54134626.addEventListener("click", function (event) {document.location.href = "/filmInfo54134626"; $$nav.off()});
        </script>
        
        <div id="film7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4917532.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дурные деньги</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49175327 = document.getElementById("film7")
            _elem49175327.addEventListener("click", function (event) {document.location.href = "/filmInfo49175327"; $$nav.off()});
        </script>
        
        <div id="film8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5280892.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Старый дуб</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52808928 = document.getElementById("film8")
            _elem52808928.addEventListener("click", function (event) {document.location.href = "/filmInfo52808928"; $$nav.off()});
        </script>
        
        <div id="film9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5246538.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Клуб убийц</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52465389 = document.getElementById("film9")
            _elem52465389.addEventListener("click", function (event) {document.location.href = "/filmInfo52465389"; $$nav.off()});
        </script>
        
        <div id="film10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5197332.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Пернатый патруль</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem519733210 = document.getElementById("film10")
            _elem519733210.addEventListener("click", function (event) {document.location.href = "/filmInfo519733210"; $$nav.off()});
        </script>
        
        <div id="film11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4913245.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Чувства Анны</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem491324511 = document.getElementById("film11")
            _elem491324511.addEventListener("click", function (event) {document.location.href = "/filmInfo491324511"; $$nav.off()});
        </script>
        
        <div id="film12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4860001.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мистер Блейк к вашим</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem486000112 = document.getElementById("film12")
            _elem486000112.addEventListener("click", function (event) {document.location.href = "/filmInfo486000112"; $$nav.off()});
        </script>
        
        <div id="film13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_989396.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Волшебное приключени</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem98939613 = document.getElementById("film13")
            _elem98939613.addEventListener("click", function (event) {document.location.href = "/filmInfo98939613"; $$nav.off()});
        </script>
        
        <div id="film14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4396771.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Великий беглец</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem439677114 = document.getElementById("film14")
            _elem439677114.addEventListener("click", function (event) {document.location.href = "/filmInfo439677114"; $$nav.off()});
        </script>
        
        <div id="film15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4969384.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дом тысячи дверей</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem496938415 = document.getElementById("film15")
            _elem496938415.addEventListener("click", function (event) {document.location.href = "/filmInfo496938415"; $$nav.off()});
        </script>
        
        <div id="film16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5088995.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Синдром</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem508899516 = document.getElementById("film16")
            _elem508899516.addEventListener("click", function (event) {document.location.href = "/filmInfo508899516"; $$nav.off()});
        </script>
        
        <div id="film17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5265666.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Той boy</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526566617 = document.getElementById("film17")
            _elem526566617.addEventListener("click", function (event) {document.location.href = "/filmInfo526566617"; $$nav.off()});
        </script>
        
        <div id="film18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4499386.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Оставленные</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem449938618 = document.getElementById("film18")
            _elem449938618.addEventListener("click", function (event) {document.location.href = "/filmInfo449938618"; $$nav.off()});
        </script>
        
        <div id="film19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4542662.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Никому ни слова</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem454266219 = document.getElementById("film19")
            _elem454266219.addEventListener("click", function (event) {document.location.href = "/filmInfo454266219"; $$nav.off()});
        </script>
        
        <div id="film20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4477912.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Визгун</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem447791220 = document.getElementById("film20")
            _elem447791220.addEventListener("click", function (event) {document.location.href = "/filmInfo447791220"; $$nav.off()});
        </script>
        
        <div id="film21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4948033.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рождество в отеле Хо</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494803321 = document.getElementById("film21")
            _elem494803321.addEventListener("click", function (event) {document.location.href = "/filmInfo494803321"; $$nav.off()});
        </script>
        
        <div id="film22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5318704.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Крик. Ночь перед Рож</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem531870422 = document.getElementById("film22")
            _elem531870422.addEventListener("click", function (event) {document.location.href = "/filmInfo531870422"; $$nav.off()});
        </script>
        
        <div id="film23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5072899.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Подходящая плоть</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem507289923 = document.getElementById("film23")
            _elem507289923.addEventListener("click", function (event) {document.location.href = "/filmInfo507289923"; $$nav.off()});
        </script>
        
        <div id="film24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4499408.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Создатель</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem449940824 = document.getElementById("film24")
            _elem449940824.addEventListener("click", function (event) {document.location.href = "/filmInfo449940824"; $$nav.off()});
        </script>
        
        <div id="film25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4499408.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Создатель</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem449940825 = document.getElementById("film25")
            _elem449940825.addEventListener("click", function (event) {document.location.href = "/filmInfo449940825"; $$nav.off()});
        </script>
        
        <div id="film26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5386352.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Влюбиться в воздухе</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem538635226 = document.getElementById("film26")
            _elem538635226.addEventListener("click", function (event) {document.location.href = "/filmInfo538635226"; $$nav.off()});
        </script>
        
        <div id="film27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1369017.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Грохот сквозь тьму</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem136901727 = document.getElementById("film27")
            _elem136901727.addEventListener("click", function (event) {document.location.href = "/filmInfo136901727"; $$nav.off()});
        </script>
        
        <div id="film28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5399285.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Слай Сталлоне</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem539928528 = document.getElementById("film28")
            _elem539928528.addEventListener("click", function (event) {document.location.href = "/filmInfo539928528"; $$nav.off()});
        </script>
        
        <div id="film29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1396324.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Клуб чудес</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem139632429 = document.getElementById("film29")
            _elem139632429.addEventListener("click", function (event) {document.location.href = "/filmInfo139632429"; $$nav.off()});
        </script>
        
        <div id="film30" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4673423.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Список</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem467342330 = document.getElementById("film30")
            _elem467342330.addEventListener("click", function (event) {document.location.href = "/filmInfo467342330"; $$nav.off()});
        </script>
        
        <div id="film31" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4847611.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">В огне</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem484761131 = document.getElementById("film31")
            _elem484761131.addEventListener("click", function (event) {document.location.href = "/filmInfo484761131"; $$nav.off()});
        </script>
        
        <div id="film32" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5098675.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Всё о сексе</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem509867532 = document.getElementById("film32")
            _elem509867532.addEventListener("click", function (event) {document.location.href = "/filmInfo509867532"; $$nav.off()});
        </script>
        
        <div id="film33" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4728994.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Год рождения</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem472899433 = document.getElementById("film33")
            _elem472899433.addEventListener("click", function (event) {document.location.href = "/filmInfo472899433"; $$nav.off()});
        </script>
        
        <div id="film34" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5406538.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дизайнерское Рождест</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540653834 = document.getElementById("film34")
            _elem540653834.addEventListener("click", function (event) {document.location.href = "/filmInfo540653834"; $$nav.off()});
        </script>
        
        <div id="film35" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4966119.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Смастери мне роман</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem496611935 = document.getElementById("film35")
            _elem496611935.addEventListener("click", function (event) {document.location.href = "/filmInfo496611935"; $$nav.off()});
        </script>
        
        <div id="film36" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1405227.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Адвокатский шторм</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem140522736 = document.getElementById("film36")
            _elem140522736.addEventListener("click", function (event) {document.location.href = "/filmInfo140522736"; $$nav.off()});
        </script>
        
        <div id="film37" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4783600.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Слепой</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem478360037 = document.getElementById("film37")
            _elem478360037.addEventListener("click", function (event) {document.location.href = "/filmInfo478360037"; $$nav.off()});
        </script>
        
        <div id="film38" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5301098.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ещё раз вчера</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530109838 = document.getElementById("film38")
            _elem530109838.addEventListener("click", function (event) {document.location.href = "/filmInfo530109838"; $$nav.off()});
        </script>
        
        <div id="film39" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4397366.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дочь болотного царя</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem439736639 = document.getElementById("film39")
            _elem439736639.addEventListener("click", function (event) {document.location.href = "/filmInfo439736639"; $$nav.off()});
        </script>
        
        <div id="film40" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5406566.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мисс Рождество в гор</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540656640 = document.getElementById("film40")
            _elem540656640.addEventListener("click", function (event) {document.location.href = "/filmInfo540656640"; $$nav.off()});
        </script>
        
        <div id="film41" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1401280.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Пиппа</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem140128041 = document.getElementById("film41")
            _elem140128041.addEventListener("click", function (event) {document.location.href = "/filmInfo140128041"; $$nav.off()});
        </script>
        
        <div id="film42" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4892003.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Навсегда</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem489200342 = document.getElementById("film42")
            _elem489200342.addEventListener("click", function (event) {document.location.href = "/filmInfo489200342"; $$nav.off()});
        </script>
        
        <div id="film43" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4366998.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ногти</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem436699843 = document.getElementById("film43")
            _elem436699843.addEventListener("click", function (event) {document.location.href = "/filmInfo436699843"; $$nav.off()});
        </script>
        
        <div id="film44" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1374031.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Теперь всё в порядке</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem137403144 = document.getElementById("film44")
            _elem137403144.addEventListener("click", function (event) {document.location.href = "/filmInfo137403144"; $$nav.off()});
        </script>
        
        <div id="film45" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_462656.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Убийца</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46265645 = document.getElementById("film45")
            _elem46265645.addEventListener("click", function (event) {document.location.href = "/filmInfo46265645"; $$nav.off()});
        </script>
        
        <div id="film46" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_462656.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Убийца</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46265646 = document.getElementById("film46")
            _elem46265646.addEventListener("click", function (event) {document.location.href = "/filmInfo46265646"; $$nav.off()});
        </script>
        
        <div id="film47" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1423937.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Собачий побег</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem142393747 = document.getElementById("film47")
            _elem142393747.addEventListener("click", function (event) {document.location.href = "/filmInfo142393747"; $$nav.off()});
        </script>
        
        <div id="film48" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1287544.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Капитан Марвел 2</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem128754448 = document.getElementById("film48")
            _elem128754448.addEventListener("click", function (event) {document.location.href = "/filmInfo128754448"; $$nav.off()});
        </script>
        
        <div id="film49" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1342478.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ведьмино наследие</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem134247849 = document.getElementById("film49")
            _elem134247849.addEventListener("click", function (event) {document.location.href = "/filmInfo134247849"; $$nav.off()});
        </script>
        