
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film0" style="background: url('https://bazon.cc/download/poster/4498651.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Кровь за кровь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44986510 = document.getElementById("film0")
            _elem44986510.addEventListener("click", function (event) {document.location.href = "/filmInfo4498651"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film1" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4910071.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Не буди во мне киллера</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49100711 = document.getElementById("film1")
            _elem49100711.addEventListener("click", function (event) {document.location.href = "/filmInfo4910071"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film2" style="background: url('https://bazon.cc/download/poster/4860765.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Осада</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem48607652 = document.getElementById("film2")
            _elem48607652.addEventListener("click", function (event) {document.location.href = "/filmInfo4860765"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film3" style="background: url('https://bazon.cc/download/poster/4672960.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Солнце и Луна</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46729603 = document.getElementById("film3")
            _elem46729603.addEventListener("click", function (event) {document.location.href = "/filmInfo4672960"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film4" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Обитель зла: Остров смерти</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52643104 = document.getElementById("film4")
            _elem52643104.addEventListener("click", function (event) {document.location.href = "/filmInfo5264310"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film5" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4631912.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>По блуждающим тропам</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46319125 = document.getElementById("film5")
            _elem46319125.addEventListener("click", function (event) {document.location.href = "/filmInfo4631912"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film6" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5106374.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Король неба</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51063746 = document.getElementById("film6")
            _elem51063746.addEventListener("click", function (event) {document.location.href = "/filmInfo5106374"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film7" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4543979.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Новый Камен Райдер</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem45439797 = document.getElementById("film7")
            _elem45439797.addEventListener("click", function (event) {document.location.href = "/filmInfo4543979"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film8" style="background: url('https://bazon.cc/download/poster/4701189.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>О нем и о ней</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47011898 = document.getElementById("film8")
            _elem47011898.addEventListener("click", function (event) {document.location.href = "/filmInfo4701189"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film9" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_999881.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Русалочка</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem9998819 = document.getElementById("film9")
            _elem9998819.addEventListener("click", function (event) {document.location.href = "/filmInfo999881"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film10" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_999881.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Русалочка</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem99988110 = document.getElementById("film10")
            _elem99988110.addEventListener("click", function (event) {document.location.href = "/filmInfo999881"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film11" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4477067.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Уикенд с батей</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem447706711 = document.getElementById("film11")
            _elem447706711.addEventListener("click", function (event) {document.location.href = "/filmInfo4477067"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film12" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_478052.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Барби</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47805212 = document.getElementById("film12")
            _elem47805212.addEventListener("click", function (event) {document.location.href = "/filmInfo478052"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film13" style="background: url('https://bazon.cc/download/poster/4673782.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>История Ману</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem467378213 = document.getElementById("film13")
            _elem467378213.addEventListener("click", function (event) {document.location.href = "/filmInfo4673782"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film14" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4947546.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Девичник: Убойная ночь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494754614 = document.getElementById("film14")
            _elem494754614.addEventListener("click", function (event) {document.location.href = "/filmInfo4947546"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film15" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5235968.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Кентавр</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523596815 = document.getElementById("film15")
            _elem523596815.addEventListener("click", function (event) {document.location.href = "/filmInfo5235968"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film16" style="background: url('https://bazon.cc/download/poster/1311500.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Он умер и я тоже</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem131150016 = document.getElementById("film16")
            _elem131150016.addEventListener("click", function (event) {document.location.href = "/filmInfo1311500"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film17" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5307214.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Джонни</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530721417 = document.getElementById("film17")
            _elem530721417.addEventListener("click", function (event) {document.location.href = "/filmInfo5307214"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film18" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5179729.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Пусть начнется танец</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem517972918 = document.getElementById("film18")
            _elem517972918.addEventListener("click", function (event) {document.location.href = "/filmInfo5179729"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film19" style="background: url('https://bazon.cc/download/poster/1411200.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Смертельный выстрел</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem141120019 = document.getElementById("film19")
            _elem141120019.addEventListener("click", function (event) {document.location.href = "/filmInfo1411200"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film20" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5082039.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Лимб</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem508203920 = document.getElementById("film20")
            _elem508203920.addEventListener("click", function (event) {document.location.href = "/filmInfo5082039"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film21" style="background: url('https://bazon.cc/download/poster/5360458.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Кейша Коул: Моя история</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536045821 = document.getElementById("film21")
            _elem536045821.addEventListener("click", function (event) {document.location.href = "/filmInfo5360458"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film22" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1405266.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Они клонировали Тайрона</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem140526622 = document.getElementById("film22")
            _elem140526622.addEventListener("click", function (event) {document.location.href = "/filmInfo1405266"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film23" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4701154.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Канал</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem470115423 = document.getElementById("film23")
            _elem470115423.addEventListener("click", function (event) {document.location.href = "/filmInfo4701154"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film24" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4664634.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Оппенгеймер</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem466463424 = document.getElementById("film24")
            _elem466463424.addEventListener("click", function (event) {document.location.href = "/filmInfo4664634"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film25" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1186274.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Какой-то Энди</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem118627425 = document.getElementById("film25")
            _elem118627425.addEventListener("click", function (event) {document.location.href = "/filmInfo1186274"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film26" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4909394.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Старушки за Брэйди</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem490939426 = document.getElementById("film26")
            _elem490939426.addEventListener("click", function (event) {document.location.href = "/filmInfo4909394"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film27" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1325596.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Остров теней</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem132559627 = document.getElementById("film27")
            _elem132559627.addEventListener("click", function (event) {document.location.href = "/filmInfo1325596"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film28" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1405266.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Они клонировали Тайрона</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem140526628 = document.getElementById("film28")
            _elem140526628.addEventListener("click", function (event) {document.location.href = "/filmInfo1405266"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film29" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1396300.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Тетрис</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem139630029 = document.getElementById("film29")
            _elem139630029.addEventListener("click", function (event) {document.location.href = "/filmInfo1396300"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film30" style="background: url('https://bazon.cc/download/poster/4630520.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Викенсбург</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem463052030 = document.getElementById("film30")
            _elem463052030.addEventListener("click", function (event) {document.location.href = "/filmInfo4630520"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film31" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_195483.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Флэш</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem19548331 = document.getElementById("film31")
            _elem19548331.addEventListener("click", function (event) {document.location.href = "/filmInfo195483"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film32" style="background: url('https://bazon.cc/download/poster/5124666.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Смертельные семейные узы</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem512466632 = document.getElementById("film32")
            _elem512466632.addEventListener("click", function (event) {document.location.href = "/filmInfo5124666"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film33" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4925994.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Плейлист любви</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem492599433 = document.getElementById("film33")
            _elem492599433.addEventListener("click", function (event) {document.location.href = "/filmInfo4925994"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film34" style="background: url('https://bazon.cc/download/poster/4924071.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Святой</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem492407134 = document.getElementById("film34")
            _elem492407134.addEventListener("click", function (event) {document.location.href = "/filmInfo4924071"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film35" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5074908.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Микулай</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem507490835 = document.getElementById("film35")
            _elem507490835.addEventListener("click", function (event) {document.location.href = "/filmInfo5074908"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film36" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4396783.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Мэгги Мур(ы)</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem439678336 = document.getElementById("film36")
            _elem439678336.addEventListener("click", function (event) {document.location.href = "/filmInfo4396783"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film37" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4861016.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Копенгагена не существует</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem486101637 = document.getElementById("film37")
            _elem486101637.addEventListener("click", function (event) {document.location.href = "/filmInfo4861016"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film38" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4992959.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Моё преступление</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem499295938 = document.getElementById("film38")
            _elem499295938.addEventListener("click", function (event) {document.location.href = "/filmInfo4992959"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film39" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5322925.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Кукла. Реинкарнация зла</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem532292539 = document.getElementById("film39")
            _elem532292539.addEventListener("click", function (event) {document.location.href = "/filmInfo5322925"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film40" style="background: url('https://bazon.cc/download/poster/4751049.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Любовь к миру</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem475104940 = document.getElementById("film40")
            _elem475104940.addEventListener("click", function (event) {document.location.href = "/filmInfo4751049"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film41" style="background: url('https://bazon.cc/download/poster/5096465.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Лайфхаки любви</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem509646541 = document.getElementById("film41")
            _elem509646541.addEventListener("click", function (event) {document.location.href = "/filmInfo5096465"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film42" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5101673.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Хитровка. Знак четырёх</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510167342 = document.getElementById("film42")
            _elem510167342.addEventListener("click", function (event) {document.location.href = "/filmInfo5101673"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film43" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5268477.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Руби Гиллман</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526847743 = document.getElementById("film43")
            _elem526847743.addEventListener("click", function (event) {document.location.href = "/filmInfo5268477"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film44" style="background: url('https://bazon.cc/download/poster/5120412.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Тактика любви 2</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem512041244 = document.getElementById("film44")
            _elem512041244.addEventListener("click", function (event) {document.location.href = "/filmInfo5120412"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film45" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4398072.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Ты здесь, Бог? Это я, Маргарет</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem439807245 = document.getElementById("film45")
            _elem439807245.addEventListener("click", function (event) {document.location.href = "/filmInfo4398072"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film46" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5330888.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Брачный контракт</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem533088846 = document.getElementById("film46")
            _elem533088846.addEventListener("click", function (event) {document.location.href = "/filmInfo5330888"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film47" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4845427.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Черный лотос</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem484542747 = document.getElementById("film47")
            _elem484542747.addEventListener("click", function (event) {document.location.href = "/filmInfo4845427"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film48" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4909600.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Змеиная топь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem490960048 = document.getElementById("film48")
            _elem490960048.addEventListener("click", function (event) {document.location.href = "/filmInfo4909600"; $$nav.off()});
        </script>
        
        <div class="filmsItem item nav-item" data-nav_ud="#premiere0,0,#channelBtn_inner,0">
        <div class="filmsItemBg" id="film49" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1350323.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <h1>Пленник</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem135032349 = document.getElementById("film49")
            _elem135032349.addEventListener("click", function (event) {document.location.href = "/filmInfo1350323"; $$nav.off()});
        </script>
        