
        <div id="premiere0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5235921.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Нежити не повезло</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52359210 = document.getElementById("premiere0")
            _elem52359210.addEventListener("click", function (event) {document.location.href = "/filmInfo52359210"; $$nav.off()});
        </script>
        
        <div id="premiere1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5372037.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Сапфир</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53720371 = document.getElementById("premiere1")
            _elem53720371.addEventListener("click", function (event) {document.location.href = "/filmInfo53720371"; $$nav.off()});
        </script>
        
        <div id="premiere2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5417414.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рождественское вино</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54174142 = document.getElementById("premiere2")
            _elem54174142.addEventListener("click", function (event) {document.location.href = "/filmInfo54174142"; $$nav.off()});
        </script>
        
        <div id="premiere3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1289334.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Голодные игры: Балла</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem12893343 = document.getElementById("premiere3")
            _elem12893343.addEventListener("click", function (event) {document.location.href = "/filmInfo12893343"; $$nav.off()});
        </script>
        
        <div id="premiere4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5396130.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Оксен</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53961304 = document.getElementById("premiere4")
            _elem53961304.addEventListener("click", function (event) {document.location.href = "/filmInfo53961304"; $$nav.off()});
        </script>
        
        <div id="premiere5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5142383.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Природа любви</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51423835 = document.getElementById("premiere5")
            _elem51423835.addEventListener("click", function (event) {document.location.href = "/filmInfo51423835"; $$nav.off()});
        </script>
        
        <div id="premiere6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4646038.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Законники: Басс Ривз</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46460386 = document.getElementById("premiere6")
            _elem46460386.addEventListener("click", function (event) {document.location.href = "/filmInfo46460386"; $$nav.off()});
        </script>
        
        <div id="premiere7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5003833.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Сторонник 2</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50038337 = document.getElementById("premiere7")
            _elem50038337.addEventListener("click", function (event) {document.location.href = "/filmInfo50038337"; $$nav.off()});
        </script>
        
        <div id="premiere8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4477250.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Манодром</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44772508 = document.getElementById("premiere8")
            _elem44772508.addEventListener("click", function (event) {document.location.href = "/filmInfo44772508"; $$nav.off()});
        </script>
        
        <div id="premiere9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5397422.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Порочный роман: Исто</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53974229 = document.getElementById("premiere9")
            _elem53974229.addEventListener("click", function (event) {document.location.href = "/filmInfo53974229"; $$nav.off()});
        </script>
        
        <div id="premiere10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4367624.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Уроки химии</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem436762410 = document.getElementById("premiere10")
            _elem436762410.addEventListener("click", function (event) {document.location.href = "/filmInfo436762410"; $$nav.off()});
        </script>
        
        <div id="premiere11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5406958.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рождество с бывшей</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540695811 = document.getElementById("premiere11")
            _elem540695811.addEventListener("click", function (event) {document.location.href = "/filmInfo540695811"; $$nav.off()});
        </script>
        
        <div id="premiere12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4926453.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рецепт любви</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem492645312 = document.getElementById("premiere12")
            _elem492645312.addEventListener("click", function (event) {document.location.href = "/filmInfo492645312"; $$nav.off()});
        </script>
        
        <div id="premiere13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5396074.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Сукхи</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem539607413 = document.getElementById("premiere13")
            _elem539607413.addEventListener("click", function (event) {document.location.href = "/filmInfo539607413"; $$nav.off()});
        </script>
        
        <div id="premiere14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5368145.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Грязный Юг</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536814514 = document.getElementById("premiere14")
            _elem536814514.addEventListener("click", function (event) {document.location.href = "/filmInfo536814514"; $$nav.off()});
        </script>
        
        <div id="premiere15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5073551.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мчимся мы сквозь сне</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem507355115 = document.getElementById("premiere15")
            _elem507355115.addEventListener("click", function (event) {document.location.href = "/filmInfo507355115"; $$nav.off()});
        </script>
        
        <div id="premiere16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4672384.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Растин</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem467238416 = document.getElementById("premiere16")
            _elem467238416.addEventListener("click", function (event) {document.location.href = "/filmInfo467238416"; $$nav.off()});
        </script>
        
        <div id="premiere17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4672384.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Растин</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem467238417 = document.getElementById("premiere17")
            _elem467238417.addEventListener("click", function (event) {document.location.href = "/filmInfo467238417"; $$nav.off()});
        </script>
        
        <div id="premiere18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4982929.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Звездные войны: Прик</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem498292918 = document.getElementById("premiere18")
            _elem498292918.addEventListener("click", function (event) {document.location.href = "/filmInfo498292918"; $$nav.off()});
        </script>
        
        <div id="premiere19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5245405.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мститель</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem524540519 = document.getElementById("premiere19")
            _elem524540519.addEventListener("click", function (event) {document.location.href = "/filmInfo524540519"; $$nav.off()});
        </script>
        
        <div id="premiere20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5237997.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Национальное голосов</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523799720 = document.getElementById("premiere20")
            _elem523799720.addEventListener("click", function (event) {document.location.href = "/filmInfo523799720"; $$nav.off()});
        </script>
        
        <div id="premiere21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4860617.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Доктор Джекилл</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem486061721 = document.getElementById("premiere21")
            _elem486061721.addEventListener("click", function (event) {document.location.href = "/filmInfo486061721"; $$nav.off()});
        </script>
        
        <div id="premiere22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5401195.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Провожающая в послед</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540119522 = document.getElementById("premiere22")
            _elem540119522.addEventListener("click", function (event) {document.location.href = "/filmInfo540119522"; $$nav.off()});
        </script>
        
        <div id="premiere23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5401195.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Провожающая в послед</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540119523 = document.getElementById("premiere23")
            _elem540119523.addEventListener("click", function (event) {document.location.href = "/filmInfo540119523"; $$nav.off()});
        </script>
        
        <div id="premiere24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5378326.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">В любви и глубокой в</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem537832624 = document.getElementById("premiere24")
            _elem537832624.addEventListener("click", function (event) {document.location.href = "/filmInfo537832624"; $$nav.off()});
        </script>
        
        <div id="premiere25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5136632.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дворняга</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem513663225 = document.getElementById("premiere25")
            _elem513663225.addEventListener("click", function (event) {document.location.href = "/filmInfo513663225"; $$nav.off()});
        </script>
        
        <div id="premiere26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5119522.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Герой наших снов</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511952226 = document.getElementById("premiere26")
            _elem511952226.addEventListener("click", function (event) {document.location.href = "/filmInfo511952226"; $$nav.off()});
        </script>
        
        <div id="premiere27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118207.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Онимуся</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511820727 = document.getElementById("premiere27")
            _elem511820727.addEventListener("click", function (event) {document.location.href = "/filmInfo511820727"; $$nav.off()});
        </script>
        
        <div id="premiere28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4947675.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Твой счастливый день</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494767528 = document.getElementById("premiere28")
            _elem494767528.addEventListener("click", function (event) {document.location.href = "/filmInfo494767528"; $$nav.off()});
        </script>
        
        <div id="premiere29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4966566.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Попутчики</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem496656629 = document.getElementById("premiere29")
            _elem496656629.addEventListener("click", function (event) {document.location.href = "/filmInfo496656629"; $$nav.off()});
        </script>
        
        <div id="premiere30" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5387326.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Безграничная любовь</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem538732630 = document.getElementById("premiere30")
            _elem538732630.addEventListener("click", function (event) {document.location.href = "/filmInfo538732630"; $$nav.off()});
        </script>
        
        <div id="premiere31" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5367788.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ласт квест</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536778831 = document.getElementById("premiere31")
            _elem536778831.addEventListener("click", function (event) {document.location.href = "/filmInfo536778831"; $$nav.off()});
        </script>
        
        <div id="premiere32" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1154930.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Недруг</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem115493032 = document.getElementById("premiere32")
            _elem115493032.addEventListener("click", function (event) {document.location.href = "/filmInfo115493032"; $$nav.off()});
        </script>
        
        <div id="premiere33" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5406528.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Проверь дважды</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540652833 = document.getElementById("premiere33")
            _elem540652833.addEventListener("click", function (event) {document.location.href = "/filmInfo540652833"; $$nav.off()});
        </script>
        
        <div id="premiere34" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4852099.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ужастики</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem485209934 = document.getElementById("premiere34")
            _elem485209934.addEventListener("click", function (event) {document.location.href = "/filmInfo485209934"; $$nav.off()});
        </script>
        
        <div id="premiere35" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5227236.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Однажды в Абхазии</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem522723635 = document.getElementById("premiere35")
            _elem522723635.addEventListener("click", function (event) {document.location.href = "/filmInfo522723635"; $$nav.off()});
        </script>
        
        <div id="premiere36" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4894012.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Тигр 3</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem489401236 = document.getElementById("premiere36")
            _elem489401236.addEventListener("click", function (event) {document.location.href = "/filmInfo489401236"; $$nav.off()});
        </script>
        
        <div id="premiere37" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5276678.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Искрящийся арбуз</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem527667837 = document.getElementById("premiere37")
            _elem527667837.addEventListener("click", function (event) {document.location.href = "/filmInfo527667837"; $$nav.off()});
        </script>
        
        <div id="premiere38" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4367624.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Уроки химии</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem436762438 = document.getElementById("premiere38")
            _elem436762438.addEventListener("click", function (event) {document.location.href = "/filmInfo436762438"; $$nav.off()});
        </script>
        
        <div id="premiere39" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4908901.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Самое. Лучшее. Рожде</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem490890139 = document.getElementById("premiere39")
            _elem490890139.addEventListener("click", function (event) {document.location.href = "/filmInfo490890139"; $$nav.off()});
        </script>
        
        <div id="premiere40" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5094412.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Викинги: Жажда крови</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem509441240 = document.getElementById("premiere40")
            _elem509441240.addEventListener("click", function (event) {document.location.href = "/filmInfo509441240"; $$nav.off()});
        </script>
        
        <div id="premiere41" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5259072.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Стой! Не то мама буд</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem525907241 = document.getElementById("premiere41")
            _elem525907241.addEventListener("click", function (event) {document.location.href = "/filmInfo525907241"; $$nav.off()});
        </script>
        
        <div id="premiere42" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4852099.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ужастики</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem485209942 = document.getElementById("premiere42")
            _elem485209942.addEventListener("click", function (event) {document.location.href = "/filmInfo485209942"; $$nav.off()});
        </script>
        
        <div id="premiere43" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5413462.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Исповедь</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem541346243 = document.getElementById("premiere43")
            _elem541346243.addEventListener("click", function (event) {document.location.href = "/filmInfo541346243"; $$nav.off()});
        </script>
        
        <div id="premiere44" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4917532.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дурные деньги</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem491753244 = document.getElementById("premiere44")
            _elem491753244.addEventListener("click", function (event) {document.location.href = "/filmInfo491753244"; $$nav.off()});
        </script>
        
        <div id="premiere45" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5280892.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Старый дуб</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem528089245 = document.getElementById("premiere45")
            _elem528089245.addEventListener("click", function (event) {document.location.href = "/filmInfo528089245"; $$nav.off()});
        </script>
        
        <div id="premiere46" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5246538.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Клуб убийц</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem524653846 = document.getElementById("premiere46")
            _elem524653846.addEventListener("click", function (event) {document.location.href = "/filmInfo524653846"; $$nav.off()});
        </script>
        
        <div id="premiere47" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5197332.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Пернатый патруль</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem519733247 = document.getElementById("premiere47")
            _elem519733247.addEventListener("click", function (event) {document.location.href = "/filmInfo519733247"; $$nav.off()});
        </script>
        
        <div id="premiere48" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5365497.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Цикады</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536549748 = document.getElementById("premiere48")
            _elem536549748.addEventListener("click", function (event) {document.location.href = "/filmInfo536549748"; $$nav.off()});
        </script>
        
        <div id="premiere49" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5258557.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Монолог фармацевта</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem525855749 = document.getElementById("premiere49")
            _elem525855749.addEventListener("click", function (event) {document.location.href = "/filmInfo525855749"; $$nav.off()});
        </script>
        