
        <div id="premiere0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/574688.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Родина</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem574688 = document.getElementById("premiere0")
            _elem574688.addEventListener("click", function (event) {document.location.href = "/filmInfo5746880"; $$nav.off()});
        </script>
        
        <div id="premiere1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/694051.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Миньоны</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem694052 = document.getElementById("premiere1")
            _elem694052.addEventListener("click", function (event) {document.location.href = "/filmInfo6940511"; $$nav.off()});
        </script>
        
        <div id="premiere2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/77046.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Секретные материалы</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem77048 = document.getElementById("premiere2")
            _elem77048.addEventListener("click", function (event) {document.location.href = "/filmInfo770462"; $$nav.off()});
        </script>
        
        <div id="premiere3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/522941.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Выживший</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem522944 = document.getElementById("premiere3")
            _elem522944.addEventListener("click", function (event) {document.location.href = "/filmInfo5229413"; $$nav.off()});
        </script>
        
        <div id="premiere4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/796660.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Лучше звоните Солу</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem796664 = document.getElementById("premiere4")
            _elem796664.addEventListener("click", function (event) {document.location.href = "/filmInfo7966604"; $$nav.off()});
        </script>
        
        <div id="premiere5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/841700.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Марсианин</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem841705 = document.getElementById("premiere5")
            _elem841705.addEventListener("click", function (event) {document.location.href = "/filmInfo8417005"; $$nav.off()});
        </script>
        
        <div id="premiere6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/464963.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Игра престолов</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem464969 = document.getElementById("premiere6")
            _elem464969.addEventListener("click", function (event) {document.location.href = "/filmInfo4649636"; $$nav.off()});
        </script>
        
        <div id="premiere7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/462682.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Волк с Уолл-стрит</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem462689 = document.getElementById("premiere7")
            _elem462689.addEventListener("click", function (event) {document.location.href = "/filmInfo4626827"; $$nav.off()});
        </script>
        
        <div id="premiere8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/893849.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Бородач</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem893857 = document.getElementById("premiere8")
            _elem893857.addEventListener("click", function (event) {document.location.href = "/filmInfo8938498"; $$nav.off()});
        </script>
        
        <div id="premiere9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/739642.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Эверест</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem739651 = document.getElementById("premiere9")
            _elem739651.addEventListener("click", function (event) {document.location.href = "/filmInfo7396429"; $$nav.off()});
        </script>
        
        <div id="premiere10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/840002.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Трудности ассимиляци</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem840012 = document.getElementById("premiere10")
            _elem840012.addEventListener("click", function (event) {document.location.href = "/filmInfo84000210"; $$nav.off()});
        </script>
        
        <div id="premiere11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/721153.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Багровый пик</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem721164 = document.getElementById("premiere11")
            _elem721164.addEventListener("click", function (event) {document.location.href = "/filmInfo72115311"; $$nav.off()});
        </script>
        
        <div id="premiere12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/508161.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ходячие мертвецы</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem508173 = document.getElementById("premiere12")
            _elem508173.addEventListener("click", function (event) {document.location.href = "/filmInfo50816112"; $$nav.off()});
        </script>
        
        <div id="premiere13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/840884.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Шпионский мост</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem840897 = document.getElementById("premiere13")
            _elem840897.addEventListener("click", function (event) {document.location.href = "/filmInfo84088413"; $$nav.off()});
        </script>
        
        <div id="premiere14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/701756.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Агенты Щ.И.Т.</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem701770 = document.getElementById("premiere14")
            _elem701770.addEventListener("click", function (event) {document.location.href = "/filmInfo70175614"; $$nav.off()});
        </script>
        
        <div id="premiere15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/678552.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">007: Спектр</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem678567 = document.getElementById("premiere15")
            _elem678567.addEventListener("click", function (event) {document.location.href = "/filmInfo67855215"; $$nav.off()});
        </script>
        
        <div id="premiere16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/733493.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Сотня</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem733509 = document.getElementById("premiere16")
            _elem733509.addEventListener("click", function (event) {document.location.href = "/filmInfo73349316"; $$nav.off()});
        </script>
        
        <div id="premiere17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/794249.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Девушка без комплекс</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem794266 = document.getElementById("premiere17")
            _elem794266.addEventListener("click", function (event) {document.location.href = "/filmInfo79424917"; $$nav.off()});
        </script>
        
        <div id="premiere18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/891337.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">11/22/63</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem891355 = document.getElementById("premiere18")
            _elem891355.addEventListener("click", function (event) {document.location.href = "/filmInfo89133718"; $$nav.off()});
        </script>
        
        <div id="premiere19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/737668.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Хитмэн: Агент 47</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem737687 = document.getElementById("premiere19")
            _elem737687.addEventListener("click", function (event) {document.location.href = "/filmInfo73766819"; $$nav.off()});
        </script>
        
        <div id="premiere20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/887610.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Области тьмы</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem887630 = document.getElementById("premiere20")
            _elem887630.addEventListener("click", function (event) {document.location.href = "/filmInfo88761020"; $$nav.off()});
        </script>
        
        <div id="premiere21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/518042.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Агенты А.Н.К.Л.</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem518063 = document.getElementById("premiere21")
            _elem518063.addEventListener("click", function (event) {document.location.href = "/filmInfo51804221"; $$nav.off()});
        </script>
        
        <div id="premiere22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/875215.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Волшебники</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem875237 = document.getElementById("premiere22")
            _elem875237.addEventListener("click", function (event) {document.location.href = "/filmInfo87521522"; $$nav.off()});
        </script>
        
        <div id="premiere23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/688832.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Пятьдесят оттенков с</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem688855 = document.getElementById("premiere23")
            _elem688855.addEventListener("click", function (event) {document.location.href = "/filmInfo68883223"; $$nav.off()});
        </script>
        
        <div id="premiere24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/841615.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Хроники Шаннары</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem841639 = document.getElementById("premiere24")
            _elem841639.addEventListener("click", function (event) {document.location.href = "/filmInfo84161524"; $$nav.off()});
        </script>
        
        <div id="premiere25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/645118.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Головоломка</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem645143 = document.getElementById("premiere25")
            _elem645143.addEventListener("click", function (event) {document.location.href = "/filmInfo64511825"; $$nav.off()});
        </script>
        
        <div id="premiere26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/891586.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дэмиен</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem891612 = document.getElementById("premiere26")
            _elem891612.addEventListener("click", function (event) {document.location.href = "/filmInfo89158626"; $$nav.off()});
        </script>
        
        <div id="premiere27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/258687.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Интерстеллар</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem258714 = document.getElementById("premiere27")
            _elem258714.addEventListener("click", function (event) {document.location.href = "/filmInfo25868727"; $$nav.off()});
        </script>
        
        <div id="premiere28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/453191.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дневники вампира</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem453219 = document.getElementById("premiere28")
            _elem453219.addEventListener("click", function (event) {document.location.href = "/filmInfo45319128"; $$nav.off()});
        </script>
        
        <div id="premiere29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/739892.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Кибер</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem739921 = document.getElementById("premiere29")
            _elem739921.addEventListener("click", function (event) {document.location.href = "/filmInfo73989229"; $$nav.off()});
        </script>
        
        <div id="premiere30" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/924290.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Красная королева</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem924320 = document.getElementById("premiere30")
            _elem924320.addEventListener("click", function (event) {document.location.href = "/filmInfo92429030"; $$nav.off()});
        </script>
        
        <div id="premiere31" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/591485.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Робот по имени Чаппи</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem591516 = document.getElementById("premiere31")
            _elem591516.addEventListener("click", function (event) {document.location.href = "/filmInfo59148531"; $$nav.off()});
        </script>
        
        <div id="premiere32" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/941521.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Остров</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem941553 = document.getElementById("premiere32")
            _elem941553.addEventListener("click", function (event) {document.location.href = "/filmInfo94152132"; $$nav.off()});
        </script>
        
        <div id="premiere33" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/807818.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Молодость</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem807851 = document.getElementById("premiere33")
            _elem807851.addEventListener("click", function (event) {document.location.href = "/filmInfo80781833"; $$nav.off()});
        </script>
        
        <div id="premiere34" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/462649.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ночной администратор</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem462683 = document.getElementById("premiere34")
            _elem462683.addEventListener("click", function (event) {document.location.href = "/filmInfo46264934"; $$nav.off()});
        </script>
        
        <div id="premiere35" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/716595.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Шеф Адам Джонс</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem716630 = document.getElementById("premiere35")
            _elem716630.addEventListener("click", function (event) {document.location.href = "/filmInfo71659535"; $$nav.off()});
        </script>
        
        <div id="premiere36" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/817509.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Сорвиголова</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem817545 = document.getElementById("premiere36")
            _elem817545.addEventListener("click", function (event) {document.location.href = "/filmInfo81750936"; $$nav.off()});
        </script>
        
        <div id="premiere37" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/765945.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Вернуть отправителю</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem765982 = document.getElementById("premiere37")
            _elem765982.addEventListener("click", function (event) {document.location.href = "/filmInfo76594537"; $$nav.off()});
        </script>
        
        <div id="premiere38" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/727157.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Чернобыль: Зона отчу</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem727195 = document.getElementById("premiere38")
            _elem727195.addEventListener("click", function (event) {document.location.href = "/filmInfo72715738"; $$nav.off()});
        </script>
        
        <div id="premiere39" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/887519.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Superнянь 2</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem887558 = document.getElementById("premiere39")
            _elem887558.addEventListener("click", function (event) {document.location.href = "/filmInfo88751939"; $$nav.off()});
        </script>
        