
        <div id="premiere0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_1346766.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дрянные девчонки</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13467660 = document.getElementById("premiere0")
            _elem13467660.addEventListener("click", function (event) {document.location.href = "/filmInfo13467660"; $$nav.off()});
        </script>
        
        <div id="premiere1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5307599.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Властелины вселенной</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53075991 = document.getElementById("premiere1")
            _elem53075991.addEventListener("click", function (event) {document.location.href = "/filmInfo53075991"; $$nav.off()});
        </script>
        
        <div id="premiere2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4746054.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Грисельда</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47460542 = document.getElementById("premiere2")
            _elem47460542.addEventListener("click", function (event) {document.location.href = "/filmInfo47460542"; $$nav.off()});
        </script>
        
        <div id="premiere3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5190525.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Престиж</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51905253 = document.getElementById("premiere3")
            _elem51905253.addEventListener("click", function (event) {document.location.href = "/filmInfo51905253"; $$nav.off()});
        </script>
        
        <div id="premiere4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5091936.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Зорро</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50919364 = document.getElementById("premiere4")
            _elem50919364.addEventListener("click", function (event) {document.location.href = "/filmInfo50919364"; $$nav.off()});
        </script>
        
        <div id="premiere5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5429849.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">60 минут</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54298495 = document.getElementById("premiere5")
            _elem54298495.addEventListener("click", function (event) {document.location.href = "/filmInfo54298495"; $$nav.off()});
        </script>
        
        <div id="premiere6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5089024.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Конец славы</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50890246 = document.getElementById("premiere6")
            _elem50890246.addEventListener("click", function (event) {document.location.href = "/filmInfo50890246"; $$nav.off()});
        </script>
        
        <div id="premiere7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_1322676.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Властелины воздуха</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13226767 = document.getElementById("premiere7")
            _elem13226767.addEventListener("click", function (event) {document.location.href = "/filmInfo13226767"; $$nav.off()});
        </script>
        
        <div id="premiere8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_1178662.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Экспаты</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem11786628 = document.getElementById("premiere8")
            _elem11786628.addEventListener("click", function (event) {document.location.href = "/filmInfo11786628"; $$nav.off()});
        </script>
        
        <div id="premiere9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5129278.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">ГДР</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51292789 = document.getElementById("premiere9")
            _elem51292789.addEventListener("click", function (event) {document.location.href = "/filmInfo51292789"; $$nav.off()});
        </script>
        
        <div id="premiere10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5079770.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Парадокс убийцы</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem507977010 = document.getElementById("premiere10")
            _elem507977010.addEventListener("click", function (event) {document.location.href = "/filmInfo507977010"; $$nav.off()});
        </script>
        
        <div id="premiere11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4965334.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Большая гонка. Ауди </p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem496533411 = document.getElementById("premiere11")
            _elem496533411.addEventListener("click", function (event) {document.location.href = "/filmInfo496533411"; $$nav.off()});
        </script>
        
        <div id="premiere12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5095973.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Уничтожь всех соседе</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem509597312 = document.getElementById("premiere12")
            _elem509597312.addEventListener("click", function (event) {document.location.href = "/filmInfo509597312"; $$nav.off()});
        </script>
        
        <div id="premiere13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5071324.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мармелад</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem507132413 = document.getElementById("premiere13")
            _elem507132413.addEventListener("click", function (event) {document.location.href = "/filmInfo507132413"; $$nav.off()});
        </script>
        
        <div id="premiere14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4540126.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дюна: Часть вторая</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem454012614 = document.getElementById("premiere14")
            _elem454012614.addEventListener("click", function (event) {document.location.href = "/filmInfo454012614"; $$nav.off()});
        </script>
        
        <div id="premiere15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5009236.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Девушка Миллера</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem500923615 = document.getElementById("premiere15")
            _elem500923615.addEventListener("click", function (event) {document.location.href = "/filmInfo500923615"; $$nav.off()});
        </script>
        
        <div id="premiere16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5275429.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Лёд 3</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem527542916 = document.getElementById("premiere16")
            _elem527542916.addEventListener("click", function (event) {document.location.href = "/filmInfo527542916"; $$nav.off()});
        </script>
        
        <div id="premiere17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4507204.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Аргайл: Супершпион</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem450720417 = document.getElementById("premiere17")
            _elem450720417.addEventListener("click", function (event) {document.location.href = "/filmInfo450720417"; $$nav.off()});
        </script>
        
        <div id="premiere18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5428194.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Багровый рассвет</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem542819418 = document.getElementById("premiere18")
            _elem542819418.addEventListener("click", function (event) {document.location.href = "/filmInfo542819418"; $$nav.off()});
        </script>
        
        <div id="premiere19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_749562.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Сёгун</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem74956219 = document.getElementById("premiere19")
            _elem74956219.addEventListener("click", function (event) {document.location.href = "/filmInfo74956219"; $$nav.off()});
        </script>
        
        <div id="premiere20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5121255.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Аутсайдеры</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem512125520 = document.getElementById("premiere20")
            _elem512125520.addEventListener("click", function (event) {document.location.href = "/filmInfo512125520"; $$nav.off()});
        </script>
        
        <div id="premiere21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4859964.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Плохие парни</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem485996421 = document.getElementById("premiere21")
            _elem485996421.addEventListener("click", function (event) {document.location.href = "/filmInfo485996421"; $$nav.off()});
        </script>
        
        <div id="premiere22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5396295.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Проклятые воды</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem539629522 = document.getElementById("premiere22")
            _elem539629522.addEventListener("click", function (event) {document.location.href = "/filmInfo539629522"; $$nav.off()});
        </script>
        
        <div id="premiere23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5408260.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Невский</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540826023 = document.getElementById("premiere23")
            _elem540826023.addEventListener("click", function (event) {document.location.href = "/filmInfo540826023"; $$nav.off()});
        </script>
        
        <div id="premiere24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5326241.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Орион и Тьма</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem532624124 = document.getElementById("premiere24")
            _elem532624124.addEventListener("click", function (event) {document.location.href = "/filmInfo532624124"; $$nav.off()});
        </script>
        
        <div id="premiere25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5103740.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Между нами лето</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510374025 = document.getElementById("premiere25")
            _elem510374025.addEventListener("click", function (event) {document.location.href = "/filmInfo510374025"; $$nav.off()});
        </script>
        
        <div id="premiere26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4745604.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Из глубины</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474560426 = document.getElementById("premiere26")
            _elem474560426.addEventListener("click", function (event) {document.location.href = "/filmInfo474560426"; $$nav.off()});
        </script>
        
        <div id="premiere27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5230828.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Поднятие уровня в од</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523082827 = document.getElementById("premiere27")
            _elem523082827.addEventListener("click", function (event) {document.location.href = "/filmInfo523082827"; $$nav.off()});
        </script>
        
        <div id="premiere28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4947994.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Территория зла</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494799428 = document.getElementById("premiere28")
            _elem494799428.addEventListener("click", function (event) {document.location.href = "/filmInfo494799428"; $$nav.off()});
        </script>
        
        <div id="premiere29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5243574.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Пустоши</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem524357429 = document.getElementById("premiere29")
            _elem524357429.addEventListener("click", function (event) {document.location.href = "/filmInfo524357429"; $$nav.off()});
        </script>
        