<div id="premiere0" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5255607.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>СуперИвановы</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem52556070 = document.getElementById("premiere0")
            _elem52556070.addEventListener("click", function (event) {document.location.href = "/filmInfo52556070"; $$nav.off()});
        </script>
        <div id="premiere1" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5148826.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Кибер Иван</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem51488261 = document.getElementById("premiere1")
            _elem51488261.addEventListener("click", function (event) {document.location.href = "/filmInfo51488261"; $$nav.off()});
        </script>
        <div id="premiere2" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4295117.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Асока</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem42951172 = document.getElementById("premiere2")
            _elem42951172.addEventListener("click", function (event) {document.location.href = "/filmInfo42951172"; $$nav.off()});
        </script>
        <div id="premiere3" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5297125.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Она много лет не была главной героиней</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem52971253 = document.getElementById("premiere3")
            _elem52971253.addEventListener("click", function (event) {document.location.href = "/filmInfo52971253"; $$nav.off()});
        </script>
        <div id="premiere4" style="background: url('https://bazon.cc/download/poster/5235023.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Совершенно другой</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem52350234 = document.getElementById("premiere4")
            _elem52350234.addEventListener("click", function (event) {document.location.href = "/filmInfo52350234"; $$nav.off()});
        </script>
        <div id="premiere5" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5141685.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Странная планета</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem51416855 = document.getElementById("premiere5")
            _elem51416855.addEventListener("click", function (event) {document.location.href = "/filmInfo51416855"; $$nav.off()});
        </script>
        <div id="premiere6" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5330940.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Призванный в другой мир во второй раз</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem53309406 = document.getElementById("premiere6")
            _elem53309406.addEventListener("click", function (event) {document.location.href = "/filmInfo53309406"; $$nav.off()});
        </script>
        <div id="premiere7" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5195985.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Бесполезная ложь</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem51959857 = document.getElementById("premiere7")
            _elem51959857.addEventListener("click", function (event) {document.location.href = "/filmInfo51959857"; $$nav.off()});
        </script>
        <div id="premiere8" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1162809.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Луна</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem11628098 = document.getElementById("premiere8")
            _elem11628098.addEventListener("click", function (event) {document.location.href = "/filmInfo11628098"; $$nav.off()});
        </script>
        <div id="premiere9" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5121450.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Другая чёрная девушка</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem51214509 = document.getElementById("premiere9")
            _elem51214509.addEventListener("click", function (event) {document.location.href = "/filmInfo51214509"; $$nav.off()});
        </script>
        <div id="premiere10" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1301761.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Замаячный</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem130176110 = document.getElementById("premiere10")
            _elem130176110.addEventListener("click", function (event) {document.location.href = "/filmInfo130176110"; $$nav.off()});
        </script>
        <div id="premiere11" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4698811.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>О, Господи! 2</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem469881111 = document.getElementById("premiere11")
            _elem469881111.addEventListener("click", function (event) {document.location.href = "/filmInfo469881111"; $$nav.off()});
        </script>
        <div id="premiere12" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5227257.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Диагноз «Везучая»</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem522725712 = document.getElementById("premiere12")
            _elem522725712.addEventListener("click", function (event) {document.location.href = "/filmInfo522725712"; $$nav.off()});
        </script>
        <div id="premiere13" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5307226.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Стрим</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem530722613 = document.getElementById("premiere13")
            _elem530722613.addEventListener("click", function (event) {document.location.href = "/filmInfo530722613"; $$nav.off()});
        </script>
        <div id="premiere14" style="background: url('https://bazon.cc/download/poster/5367636.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Анатомия любви</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem536763614 = document.getElementById("premiere14")
            _elem536763614.addEventListener("click", function (event) {document.location.href = "/filmInfo536763614"; $$nav.off()});
        </script>
        <div id="premiere15" style="background: url('https://bazon.cc/download/poster/5367144.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Никогда не поздно для праздника</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem536714415 = document.getElementById("premiere15")
            _elem536714415.addEventListener("click", function (event) {document.location.href = "/filmInfo536714415"; $$nav.off()});
        </script>
        <div id="premiere16" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5059049.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Телохранители</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem505904916 = document.getElementById("premiere16")
            _elem505904916.addEventListener("click", function (event) {document.location.href = "/filmInfo505904916"; $$nav.off()});
        </script>
        <div id="premiere17" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5256878.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Красное небо</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem525687817 = document.getElementById("premiere17")
            _elem525687817.addEventListener("click", function (event) {document.location.href = "/filmInfo525687817"; $$nav.off()});
        </script>
        <div id="premiere18" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1355160.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Апория</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem135516018 = document.getElementById("premiere18")
            _elem135516018.addEventListener("click", function (event) {document.location.href = "/filmInfo135516018"; $$nav.off()});
        </script>
        <div id="premiere19" style="background: url('https://bazon.cc/download/poster/5006926.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Фарадор</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem500692619 = document.getElementById("premiere19")
            _elem500692619.addEventListener("click", function (event) {document.location.href = "/filmInfo500692619"; $$nav.off()});
        </script>
        <div id="premiere20" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5093971.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Импостер</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem509397120 = document.getElementById("premiere20")
            _elem509397120.addEventListener("click", function (event) {document.location.href = "/filmInfo509397120"; $$nav.off()});
        </script>
        <div id="premiere21" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5364626.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Первокурсницы</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem536462621 = document.getElementById("premiere21")
            _elem536462621.addEventListener("click", function (event) {document.location.href = "/filmInfo536462621"; $$nav.off()});
        </script>
        <div id="premiere22" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4477104.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Внутри</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem447710422 = document.getElementById("premiere22")
            _elem447710422.addEventListener("click", function (event) {document.location.href = "/filmInfo447710422"; $$nav.off()});
        </script>
        <div id="premiere23" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_478052.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Барби</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem47805223 = document.getElementById("premiere23")
            _elem47805223.addEventListener("click", function (event) {document.location.href = "/filmInfo47805223"; $$nav.off()});
        </script>
        <div id="premiere24" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5313200.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Крутая перемена</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem531320024 = document.getElementById("premiere24")
            _elem531320024.addEventListener("click", function (event) {document.location.href = "/filmInfo531320024"; $$nav.off()});
        </script>
        <div id="premiere25" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_478052.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Барби</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem47805225 = document.getElementById("premiere25")
            _elem47805225.addEventListener("click", function (event) {document.location.href = "/filmInfo47805225"; $$nav.off()});
        </script>
        <div id="premiere26" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1254052.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Проклятие монахини 2</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem125405226 = document.getElementById("premiere26")
            _elem125405226.addEventListener("click", function (event) {document.location.href = "/filmInfo125405226"; $$nav.off()});
        </script>
        <div id="premiere27" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4850225.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Астрал 5: Красная дверь</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem485022527 = document.getElementById("premiere27")
            _elem485022527.addEventListener("click", function (event) {document.location.href = "/filmInfo485022527"; $$nav.off()});
        </script>
        <div id="premiere28" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4541542.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Отвязные дворняги</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem454154228 = document.getElementById("premiere28")
            _elem454154228.addEventListener("click", function (event) {document.location.href = "/filmInfo454154228"; $$nav.off()});
        </script>
        <div id="premiere29" style="background: url('https://bazon.cc/download/poster/5331422.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Выжить в Дубае</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem533142229 = document.getElementById("premiere29")
            _elem533142229.addEventListener("click", function (event) {document.location.href = "/filmInfo533142229"; $$nav.off()});
        </script>
        <div id="premiere30" style="background: url('https://bazon.cc/download/poster/5125475.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Женщина в стене</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem512547530 = document.getElementById("premiere30")
            _elem512547530.addEventListener("click", function (event) {document.location.href = "/filmInfo512547530"; $$nav.off()});
        </script>
        <div id="premiere31" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5368468.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Лжец, лжец</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem536846831 = document.getElementById("premiere31")
            _elem536846831.addEventListener("click", function (event) {document.location.href = "/filmInfo536846831"; $$nav.off()});
        </script>
        <div id="premiere32" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5357696.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Кот-мастер на все лапы снова грустит</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem535769632 = document.getElementById("premiere32")
            _elem535769632.addEventListener("click", function (event) {document.location.href = "/filmInfo535769632"; $$nav.off()});
        </script>
        <div id="premiere33" style="background: url('https://bazon.cc/download/poster/4448777.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Металлопокалипсис: Армия Роковой Звезды</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem444877733 = document.getElementById("premiere33")
            _elem444877733.addEventListener("click", function (event) {document.location.href = "/filmInfo444877733"; $$nav.off()});
        </script>
        <div id="premiere34" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4912805.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мой счастливый брак</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem491280534 = document.getElementById("premiere34")
            _elem491280534.addEventListener("click", function (event) {document.location.href = "/filmInfo491280534"; $$nav.off()});
        </script>
        <div id="premiere35" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5249410.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Уходящий год</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem524941035 = document.getElementById("premiere35")
            _elem524941035.addEventListener("click", function (event) {document.location.href = "/filmInfo524941035"; $$nav.off()});
        </script>
        <div id="premiere36" style="background: url('https://bazon.cc/download/poster/5355797.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Зимний король</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem535579736 = document.getElementById("premiere36")
            _elem535579736.addEventListener("click", function (event) {document.location.href = "/filmInfo535579736"; $$nav.off()});
        </script>
        <div id="premiere37" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5355824.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Душа не слышит</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem535582437 = document.getElementById("premiere37")
            _elem535582437.addEventListener("click", function (event) {document.location.href = "/filmInfo535582437"; $$nav.off()});
        </script>
        <div id="premiere38" style="background: url('https://bazon.cc/download/poster/5355797.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Зимний король</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem535579738 = document.getElementById("premiere38")
            _elem535579738.addEventListener("click", function (event) {document.location.href = "/filmInfo535579738"; $$nav.off()});
        </script>
        <div id="premiere39" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5249693.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Пилигрим</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem524969339 = document.getElementById("premiere39")
            _elem524969339.addEventListener("click", function (event) {document.location.href = "/filmInfo524969339"; $$nav.off()});
        </script>
        <div id="premiere40" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4324714.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Ходячие мертвецы: Дэрил Диксон</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem432471440 = document.getElementById("premiere40")
            _elem432471440.addEventListener("click", function (event) {document.location.href = "/filmInfo432471440"; $$nav.off()});
        </script>
        <div id="premiere41" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5363182.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Из мечтателя в реалиста</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem536318241 = document.getElementById("premiere41")
            _elem536318241.addEventListener("click", function (event) {document.location.href = "/filmInfo536318241"; $$nav.off()});
        </script>
        <div id="premiere42" style="background: url('https://bazon.cc/download/poster/5222995.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Ваша честь</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem522299542 = document.getElementById("premiere42")
            _elem522299542.addEventListener("click", function (event) {document.location.href = "/filmInfo522299542"; $$nav.off()});
        </script>
        <div id="premiere43" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5356271.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Царь обезьян</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem535627143 = document.getElementById("premiere43")
            _elem535627143.addEventListener("click", function (event) {document.location.href = "/filmInfo535627143"; $$nav.off()});
        </script>
        <div id="premiere44" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5365205.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Хоримия: Фрагменты</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem536520544 = document.getElementById("premiere44")
            _elem536520544.addEventListener("click", function (event) {document.location.href = "/filmInfo536520544"; $$nav.off()});
        </script>
        <div id="premiere45" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5365956.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Хельк</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem536595645 = document.getElementById("premiere45")
            _elem536595645.addEventListener("click", function (event) {document.location.href = "/filmInfo536595645"; $$nav.off()});
        </script>
        <div id="premiere46" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5368840.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Часовой на юге</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem536884046 = document.getElementById("premiere46")
            _elem536884046.addEventListener("click", function (event) {document.location.href = "/filmInfo536884046"; $$nav.off()});
        </script>
        <div id="premiere47" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4890624.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Сидя в барах с тортом</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem489062447 = document.getElementById("premiere47")
            _elem489062447.addEventListener("click", function (event) {document.location.href = "/filmInfo489062447"; $$nav.off()});
        </script>
        <div id="premiere48" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5106243.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Гхумер</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem510624348 = document.getElementById("premiere48")
            _elem510624348.addEventListener("click", function (event) {document.location.href = "/filmInfo510624348"; $$nav.off()});
        </script>
        <div id="premiere49" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4651831.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Сисси и я</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem465183149 = document.getElementById("premiere49")
            _elem465183149.addEventListener("click", function (event) {document.location.href = "/filmInfo465183149"; $$nav.off()});
        </script>
        