<div id="premiere0" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5272214.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Прощальное письмо</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem52722140 = document.getElementById("premiere0")
            _elem52722140.addEventListener("click", function (event) {document.location.href = "/filmInfo52722140"; $$nav.off()});
        </script>
        <div id="premiere1" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118210.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Бродяга Кэнсин</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem51182101 = document.getElementById("premiere1")
            _elem51182101.addEventListener("click", function (event) {document.location.href = "/filmInfo51182101"; $$nav.off()});
        </script>
        <div id="premiere2" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4982929.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Звездные войны: Приключения юных джедаев</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem49829292 = document.getElementById("premiere2")
            _elem49829292.addEventListener("click", function (event) {document.location.href = "/filmInfo49829292"; $$nav.off()});
        </script>
        <div id="premiere3" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4987446.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Без обид</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem49874463 = document.getElementById("premiere3")
            _elem49874463.addEventListener("click", function (event) {document.location.href = "/filmInfo49874463"; $$nav.off()});
        </script>
        <div id="premiere4" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5266956.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Катак. Ледниковый побег</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem52669564 = document.getElementById("premiere4")
            _elem52669564.addEventListener("click", function (event) {document.location.href = "/filmInfo52669564"; $$nav.off()});
        </script>
        <div id="premiere5" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5237671.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Наёмный убийца</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem52376715 = document.getElementById("premiere5")
            _elem52376715.addEventListener("click", function (event) {document.location.href = "/filmInfo52376715"; $$nav.off()});
        </script>
        <div id="premiere6" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4456485.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мои приключения с Суперменом</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem44564856 = document.getElementById("premiere6")
            _elem44564856.addEventListener("click", function (event) {document.location.href = "/filmInfo44564856"; $$nav.off()});
        </script>
        <div id="premiere7" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5111852.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Злой дух</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem51118527 = document.getElementById("premiere7")
            _elem51118527.addEventListener("click", function (event) {document.location.href = "/filmInfo51118527"; $$nav.off()});
        </script>
        <div id="premiere8" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4910071.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Не буди во мне киллера</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem49100718 = document.getElementById("premiere8")
            _elem49100718.addEventListener("click", function (event) {document.location.href = "/filmInfo49100718"; $$nav.off()});
        </script>
        <div id="premiere9" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4925926.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Кроличья нора</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem49259269 = document.getElementById("premiere9")
            _elem49259269.addEventListener("click", function (event) {document.location.href = "/filmInfo49259269"; $$nav.off()});
        </script>
        <div id="premiere10" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4672791.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Потерянные цветы Элис Харт</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem467279110 = document.getElementById("premiere10")
            _elem467279110.addEventListener("click", function (event) {document.location.href = "/filmInfo467279110"; $$nav.off()});
        </script>
        <div id="premiere11" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5123188.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>До встречи на Венере</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem512318811 = document.getElementById("premiere11")
            _elem512318811.addEventListener("click", function (event) {document.location.href = "/filmInfo512318811"; $$nav.off()});
        </script>
        <div id="premiere12" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1395369.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Леди Баг и Супер-Кот: Пробуждение силы</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem139536912 = document.getElementById("premiere12")
            _elem139536912.addEventListener("click", function (event) {document.location.href = "/filmInfo139536912"; $$nav.off()});
        </script>
        <div id="premiere13" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5119523.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Схватка с дьяволом</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem511952313 = document.getElementById("premiere13")
            _elem511952313.addEventListener("click", function (event) {document.location.href = "/filmInfo511952313"; $$nav.off()});
        </script>
        <div id="premiere14" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5098615.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Остров</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem509861514 = document.getElementById("premiere14")
            _elem509861514.addEventListener("click", function (event) {document.location.href = "/filmInfo509861514"; $$nav.off()});
        </script>
        <div id="premiere15" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4456485.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мои приключения с Суперменом</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem445648515 = document.getElementById("premiere15")
            _elem445648515.addEventListener("click", function (event) {document.location.href = "/filmInfo445648515"; $$nav.off()});
        </script>
        <div id="premiere16" style="background: url('https://bazon.cc/download/poster/5139120.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Обычный Джо</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem513912016 = document.getElementById("premiere16")
            _elem513912016.addEventListener("click", function (event) {document.location.href = "/filmInfo513912016"; $$nav.off()});
        </script>
        <div id="premiere17" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4986428.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Земля мафии</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem498642817 = document.getElementById("premiere17")
            _elem498642817.addEventListener("click", function (event) {document.location.href = "/filmInfo498642817"; $$nav.off()});
        </script>
        <div id="premiere18" style="background: url('https://bazon.cc/download/poster/5256888.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Взрослые</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem525688818 = document.getElementById("premiere18")
            _elem525688818.addEventListener("click", function (event) {document.location.href = "/filmInfo525688818"; $$nav.off()});
        </script>
        <div id="premiere19" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1208708.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мег 2: Бездна</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem120870819 = document.getElementById("premiere19")
            _elem120870819.addEventListener("click", function (event) {document.location.href = "/filmInfo120870819"; $$nav.off()});
        </script>
        <div id="premiere20" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4456485.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мои приключения с Суперменом</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem445648520 = document.getElementById("premiere20")
            _elem445648520.addEventListener("click", function (event) {document.location.href = "/filmInfo445648520"; $$nav.off()});
        </script>
        <div id="premiere21" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4912805.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мой счастливый брак</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem491280521 = document.getElementById("premiere21")
            _elem491280521.addEventListener("click", function (event) {document.location.href = "/filmInfo491280521"; $$nav.off()});
        </script>
        <div id="premiere22" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5141685.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Странная планета</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem514168522 = document.getElementById("premiere22")
            _elem514168522.addEventListener("click", function (event) {document.location.href = "/filmInfo514168522"; $$nav.off()});
        </script>
        <div id="premiere23" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1355224.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Обезболивающее</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem135522423 = document.getElementById("premiere23")
            _elem135522423.addEventListener("click", function (event) {document.location.href = "/filmInfo135522423"; $$nav.off()});
        </script>
        <div id="premiere24" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1355224.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Обезболивающее</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem135522424 = document.getElementById("premiere24")
            _elem135522424.addEventListener("click", function (event) {document.location.href = "/filmInfo135522424"; $$nav.off()});
        </script>
        <div id="premiere25" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5162227.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Магарсус</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem516222725 = document.getElementById("premiere25")
            _elem516222725.addEventListener("click", function (event) {document.location.href = "/filmInfo516222725"; $$nav.off()});
        </script>
        <div id="premiere26" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Человек-паук: Паутина вселенных</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem121917726 = document.getElementById("premiere26")
            _elem121917726.addEventListener("click", function (event) {document.location.href = "/filmInfo121917726"; $$nav.off()});
        </script>
        <div id="premiere27" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4672184.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Шрапнель</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem467218427 = document.getElementById("premiere27")
            _elem467218427.addEventListener("click", function (event) {document.location.href = "/filmInfo467218427"; $$nav.off()});
        </script>
        <div id="premiere28" style="background: url('https://bazon.cc/download/poster/5364881.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Любовь по расчету</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem536488128 = document.getElementById("premiere28")
            _elem536488128.addEventListener("click", function (event) {document.location.href = "/filmInfo536488128"; $$nav.off()});
        </script>
        <div id="premiere29" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4672791.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Потерянные цветы Элис Харт</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem467279129 = document.getElementById("premiere29")
            _elem467279129.addEventListener("click", function (event) {document.location.href = "/filmInfo467279129"; $$nav.off()});
        </script>
        <div id="premiere30" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4745359.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Больше, чем люди</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem474535930 = document.getElementById("premiere30")
            _elem474535930.addEventListener("click", function (event) {document.location.href = "/filmInfo474535930"; $$nav.off()});
        </script>
        <div id="premiere31" style="background: url('https://bazon.cc/download/poster/5139120.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Обычный Джо</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem513912031 = document.getElementById("premiere31")
            _elem513912031.addEventListener("click", function (event) {document.location.href = "/filmInfo513912031"; $$nav.off()});
        </script>
        <div id="premiere32" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4908918.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Герои и злодеи</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem490891832 = document.getElementById("premiere32")
            _elem490891832.addEventListener("click", function (event) {document.location.href = "/filmInfo490891832"; $$nav.off()});
        </script>
        <div id="premiere33" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4750522.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Трое лишних</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem475052233 = document.getElementById("premiere33")
            _elem475052233.addEventListener("click", function (event) {document.location.href = "/filmInfo475052233"; $$nav.off()});
        </script>
        <div id="premiere34" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4987446.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Без обид</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem498744634 = document.getElementById("premiere34")
            _elem498744634.addEventListener("click", function (event) {document.location.href = "/filmInfo498744634"; $$nav.off()});
        </script>
        <div id="premiere35" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5360776.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Покончить со всеми войнами: Оппенгеймер и атомная бомба</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem536077635 = document.getElementById("premiere35")
            _elem536077635.addEventListener("click", function (event) {document.location.href = "/filmInfo536077635"; $$nav.off()});
        </script>
        <div id="premiere36" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4845485.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Плюшевый пузырь</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem484548536 = document.getElementById("premiere36")
            _elem484548536.addEventListener("click", function (event) {document.location.href = "/filmInfo484548536"; $$nav.off()});
        </script>
        <div id="premiere37" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5357727.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Моя возлюбленная забыла свои очки</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem535772737 = document.getElementById("premiere37")
            _elem535772737.addEventListener("click", function (event) {document.location.href = "/filmInfo535772737"; $$nav.off()});
        </script>
        <div id="premiere38" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_937438.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Трансформеры: Восхождение Звероботов</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem93743838 = document.getElementById("premiere38")
            _elem93743838.addEventListener("click", function (event) {document.location.href = "/filmInfo93743838"; $$nav.off()});
        </script>
        <div id="premiere39" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1402701.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Чужой</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem140270139 = document.getElementById("premiere39")
            _elem140270139.addEventListener("click", function (event) {document.location.href = "/filmInfo140270139"; $$nav.off()});
        </script>
        <div id="premiere40" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_777031.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Библиотекарь</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem77703140 = document.getElementById("premiere40")
            _elem77703140.addEventListener("click", function (event) {document.location.href = "/filmInfo77703140"; $$nav.off()});
        </script>
        <div id="premiere41" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4728548.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Открытый брак</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem472854841 = document.getElementById("premiere41")
            _elem472854841.addEventListener("click", function (event) {document.location.href = "/filmInfo472854841"; $$nav.off()});
        </script>
        <div id="premiere42" style="background: url('https://bazon.cc/download/poster/5100129.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Вот так повезло!</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem510012942 = document.getElementById("premiere42")
            _elem510012942.addEventListener("click", function (event) {document.location.href = "/filmInfo510012942"; $$nav.off()});
        </script>
        <div id="premiere43" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4655411.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Невероятное паломничество Гарольда Фрая</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem465541143 = document.getElementById("premiere43")
            _elem465541143.addEventListener("click", function (event) {document.location.href = "/filmInfo465541143"; $$nav.off()});
        </script>
        <div id="premiere44" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4757737.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Правосудие: Первобытный город</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem475773744 = document.getElementById("premiere44")
            _elem475773744.addEventListener("click", function (event) {document.location.href = "/filmInfo475773744"; $$nav.off()});
        </script>
        <div id="premiere45" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5141685.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Странная планета</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem514168545 = document.getElementById("premiere45")
            _elem514168545.addEventListener("click", function (event) {document.location.href = "/filmInfo514168545"; $$nav.off()});
        </script>
        <div id="premiere46" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1360099.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Лакадейзи</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem136009946 = document.getElementById("premiere46")
            _elem136009946.addEventListener("click", function (event) {document.location.href = "/filmInfo136009946"; $$nav.off()});
        </script>
        <div id="premiere47" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5319826.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Если сильно полюбишь</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem531982647 = document.getElementById("premiere47")
            _elem531982647.addEventListener("click", function (event) {document.location.href = "/filmInfo531982647"; $$nav.off()});
        </script>
        <div id="premiere48" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5296922.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Джохан 2</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem529692248 = document.getElementById("premiere48")
            _elem529692248.addEventListener("click", function (event) {document.location.href = "/filmInfo529692248"; $$nav.off()});
        </script>
        <div id="premiere49" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5248356.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Шахмаран</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem524835649 = document.getElementById("premiere49")
            _elem524835649.addEventListener("click", function (event) {document.location.href = "/filmInfo524835649"; $$nav.off()});
        </script>
        