<div id="premiere0" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5357727.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Моя возлюбленная забыла свои очки</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="premiere1" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4968949.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Захваченный рейс</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="premiere2" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4757737.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Правосудие: Первобытный город</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="premiere3" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4968949.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Захваченный рейс</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="premiere4" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5355824.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Душа не слышит</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="premiere5" style="background: url('https://bazon.cc/download/poster/4701189.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>О нем и о ней</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="premiere6" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_999881.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Русалочка</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="premiere7" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_999881.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Русалочка</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="premiere8" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4477067.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Уикенд с батей</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="premiere9" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5319826.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Если сильно полюбишь</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="premiere10" style="background: url('https://bazon.cc/download/poster/5356024.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Команда Z</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="premiere11" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_478052.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Барби</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="premiere12" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Обитель зла: Остров смерти</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="premiere13" style="background: url('https://bazon.cc/download/poster/4673782.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>История Ману</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="premiere14" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4947546.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Девичник: Убойная ночь</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="premiere15" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5235968.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Кентавр</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="premiere16" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5297246.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Слабейший монстр</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="premiere17" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5141851.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Голубая клетка</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="premiere18" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1412084.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Спецназ: Львица</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="premiere19" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5121100.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Ниер: Автомата - Версия 1.1а</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="premiere20" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4920605.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Король земли</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="premiere21" style="background: url('https://bazon.cc/download/poster/1311500.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Он умер и я тоже</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="premiere22" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5307214.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Джонни</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="premiere23" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5179729.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Пусть начнется танец</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="premiere24" style="background: url('https://bazon.cc/download/poster/1411200.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Смертельный выстрел</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="premiere25" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5082039.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Лимб</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="premiere26" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5330764.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Зомби-апокалипсис и список из 100 дел, что я выполню перед смертью</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="premiere27" style="background: url('https://bazon.cc/download/poster/1436858.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Варшавянка</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="premiere28" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5306465.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Охваченный пламенем дом Митарай</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="premiere29" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4898924.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Ходячие мертвецы: Мертвый город</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="premiere30" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4898924.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Ходячие мертвецы: Мертвый город</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="premiere31" style="background: url('https://bazon.cc/download/poster/5331422.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Выжить в Дубае</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="premiere32" style="background: url('https://bazon.cc/download/poster/5360458.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Кейша Коул: Моя история</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="premiere33" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1412084.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Спецназ: Львица</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="premiere34" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1405266.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Они клонировали Тайрона</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="premiere35" style="background: url('https://bazon.cc/download/poster/4948279.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Агент</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="premiere36" style="background: url('https://bazon.cc/download/poster/4988904.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Ночи в Тефии</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="premiere37" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4701154.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Канал</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="premiere38" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5310765.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Стать шефом</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="premiere39" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4898924.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Ходячие мертвецы: Мертвый город</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="premiere40" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5303815.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Взрослым не понять</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="premiere41" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4664634.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Оппенгеймер</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="premiere42" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1186274.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Какой-то Энди</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="premiere43" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4909394.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Старушки за Брэйди</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="premiere44" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1325596.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Остров теней</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="premiere45" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1405266.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Они клонировали Тайрона</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="premiere46" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1396300.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Тетрис</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="premiere47" style="background: url('https://bazon.cc/download/poster/4630520.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Викенсбург</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <div id="premiere48" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5315494.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>КликКлак шоу</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="premiere49" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4922751.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Замкнутый круг</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        