<div id="premiere0" style="background: url('https://bazon.cc/download/poster/5366570.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Фрилансер</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem53665700 = document.getElementById("premiere0")
            _elem53665700.addEventListener("click", function (event) {document.location.href = "/filmInfo53665700"; $$nav.off()});
        </script>
        <div id="premiere1" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4541590.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Сенека: О сотворении землетрясений</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem45415901 = document.getElementById("premiere1")
            _elem45415901.addEventListener("click", function (event) {document.location.href = "/filmInfo45415901"; $$nav.off()});
        </script>
        <div id="premiere2" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4909828.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Тюремщик</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem49098282 = document.getElementById("premiere2")
            _elem49098282.addEventListener("click", function (event) {document.location.href = "/filmInfo49098282"; $$nav.off()});
        </script>
        <div id="premiere3" style="background: url('https://bazon.cc/download/poster/4672943.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Гавайи</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem46729433 = document.getElementById("premiere3")
            _elem46729433.addEventListener("click", function (event) {document.location.href = "/filmInfo46729433"; $$nav.off()});
        </script>
        <div id="premiere4" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4986428.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Земля мафии</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem49864284 = document.getElementById("premiere4")
            _elem49864284.addEventListener("click", function (event) {document.location.href = "/filmInfo49864284"; $$nav.off()});
        </script>
        <div id="premiere5" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4456485.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мои приключения с Суперменом</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem44564855 = document.getElementById("premiere5")
            _elem44564855.addEventListener("click", function (event) {document.location.href = "/filmInfo44564855"; $$nav.off()});
        </script>
        <div id="premiere6" style="background: url('https://bazon.cc/download/poster/4991145.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Полтора дня</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem49911456 = document.getElementById("premiere6")
            _elem49911456.addEventListener("click", function (event) {document.location.href = "/filmInfo49911456"; $$nav.off()});
        </script>
        <div id="premiere7" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4869021.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Великий уравнитель 3</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem48690217 = document.getElementById("premiere7")
            _elem48690217.addEventListener("click", function (event) {document.location.href = "/filmInfo48690217"; $$nav.off()});
        </script>
        <div id="premiere8" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4629271.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Бойня ленивца</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem46292718 = document.getElementById("premiere8")
            _elem46292718.addEventListener("click", function (event) {document.location.href = "/filmInfo46292718"; $$nav.off()});
        </script>
        <div id="premiere9" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5235922.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Проклятое наследие</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem52359229 = document.getElementById("premiere9")
            _elem52359229.addEventListener("click", function (event) {document.location.href = "/filmInfo52359229"; $$nav.off()});
        </script>
        <div id="premiere10" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5354075.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Щенячья любовь</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem535407510 = document.getElementById("premiere10")
            _elem535407510.addEventListener("click", function (event) {document.location.href = "/filmInfo535407510"; $$nav.off()});
        </script>
        <div id="premiere11" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5074807.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Сказка о сахарном яблоке</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem507480711 = document.getElementById("premiere11")
            _elem507480711.addEventListener("click", function (event) {document.location.href = "/filmInfo507480711"; $$nav.off()});
        </script>
        <div id="premiere12" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5281112.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Стример</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem528111212 = document.getElementById("premiere12")
            _elem528111212.addEventListener("click", function (event) {document.location.href = "/filmInfo528111212"; $$nav.off()});
        </script>
        <div id="premiere13" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4746500.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Приют</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem474650013 = document.getElementById("premiere13")
            _elem474650013.addEventListener("click", function (event) {document.location.href = "/filmInfo474650013"; $$nav.off()});
        </script>
        <div id="premiere14" style="background: url('https://bazon.cc/download/poster/1178862.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Черепашки-ниндзя: Погром мутантов</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem117886214 = document.getElementById("premiere14")
            _elem117886214.addEventListener("click", function (event) {document.location.href = "/filmInfo117886214"; $$nav.off()});
        </script>
        <div id="premiere15" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5357696.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Кот-мастер на все лапы снова грустит</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem535769615 = document.getElementById("premiere15")
            _elem535769615.addEventListener("click", function (event) {document.location.href = "/filmInfo535769615"; $$nav.off()});
        </script>
        <div id="premiere16" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5363182.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Из мечтателя в реалиста</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem536318216 = document.getElementById("premiere16")
            _elem536318216.addEventListener("click", function (event) {document.location.href = "/filmInfo536318216"; $$nav.off()});
        </script>
        <div id="premiere17" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5272214.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Прощальное письмо</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem527221417 = document.getElementById("premiere17")
            _elem527221417.addEventListener("click", function (event) {document.location.href = "/filmInfo527221417"; $$nav.off()});
        </script>
        <div id="premiere18" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4747499.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>О чем говорят незнакомцы</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem474749918 = document.getElementById("premiere18")
            _elem474749918.addEventListener("click", function (event) {document.location.href = "/filmInfo474749918"; $$nav.off()});
        </script>
        <div id="premiere19" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4456485.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мои приключения с Суперменом</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem445648519 = document.getElementById("premiere19")
            _elem445648519.addEventListener("click", function (event) {document.location.href = "/filmInfo445648519"; $$nav.off()});
        </script>
        <div id="premiere20" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4672791.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Потерянные цветы Элис Харт</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem467279120 = document.getElementById("premiere20")
            _elem467279120.addEventListener("click", function (event) {document.location.href = "/filmInfo467279120"; $$nav.off()});
        </script>
        <div id="premiere21" style="background: url('https://bazon.cc/download/poster/5261051.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Дрифт – Партнеры по преступлению</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem526105121 = document.getElementById("premiere21")
            _elem526105121.addEventListener("click", function (event) {document.location.href = "/filmInfo526105121"; $$nav.off()});
        </script>
        <div id="premiere22" style="background: url('https://bazon.cc/download/poster/5367850.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мы – Ньюкасл Юнайтед</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem536785022 = document.getElementById("premiere22")
            _elem536785022.addEventListener("click", function (event) {document.location.href = "/filmInfo536785022"; $$nav.off()});
        </script>
        <div id="premiere23" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5304281.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Арт и Факт</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem530428123 = document.getElementById("premiere23")
            _elem530428123.addEventListener("click", function (event) {document.location.href = "/filmInfo530428123"; $$nav.off()});
        </script>
        <div id="premiere24" style="background: url('https://bazon.cc/download/poster/5106097.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Тюрьма</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem510609724 = document.getElementById("premiere24")
            _elem510609724.addEventListener("click", function (event) {document.location.href = "/filmInfo510609724"; $$nav.off()});
        </script>
        <div id="premiere25" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4912805.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мой счастливый брак</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem491280525 = document.getElementById("premiere25")
            _elem491280525.addEventListener("click", function (event) {document.location.href = "/filmInfo491280525"; $$nav.off()});
        </script>
        <div id="premiere26" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1346615.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Ван-Пис</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem134661526 = document.getElementById("premiere26")
            _elem134661526.addEventListener("click", function (event) {document.location.href = "/filmInfo134661526"; $$nav.off()});
        </script>
        <div id="premiere27" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_629948.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Рождение легенд</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem62994827 = document.getElementById("premiere27")
            _elem62994827.addEventListener("click", function (event) {document.location.href = "/filmInfo62994827"; $$nav.off()});
        </script>
        <div id="premiere28" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5268477.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Руби Гильман: Приключения кракена-подростка</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem526847728 = document.getElementById("premiere28")
            _elem526847728.addEventListener("click", function (event) {document.location.href = "/filmInfo526847728"; $$nav.off()});
        </script>
        <div id="premiere29" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1346615.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Ван-Пис</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem134661529 = document.getElementById("premiere29")
            _elem134661529.addEventListener("click", function (event) {document.location.href = "/filmInfo134661529"; $$nav.off()});
        </script>
        <div id="premiere30" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4701591.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Капсульное поколение</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem470159130 = document.getElementById("premiere30")
            _elem470159130.addEventListener("click", function (event) {document.location.href = "/filmInfo470159130"; $$nav.off()});
        </script>
        <div id="premiere31" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5237997.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Национальное голосование по поводу смертной казни</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem523799731 = document.getElementById("premiere31")
            _elem523799731.addEventListener("click", function (event) {document.location.href = "/filmInfo523799731"; $$nav.off()});
        </script>
        <div id="premiere32" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5367774.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Лето в городе</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem536777432 = document.getElementById("premiere32")
            _elem536777432.addEventListener("click", function (event) {document.location.href = "/filmInfo536777432"; $$nav.off()});
        </script>
        <div id="premiere33" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4456485.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мои приключения с Суперменом</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem445648533 = document.getElementById("premiere33")
            _elem445648533.addEventListener("click", function (event) {document.location.href = "/filmInfo445648533"; $$nav.off()});
        </script>
        <div id="premiere34" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_462128.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Последнее путешествие «Деметра»</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem46212834 = document.getElementById("premiere34")
            _elem46212834.addEventListener("click", function (event) {document.location.href = "/filmInfo46212834"; $$nav.off()});
        </script>
        <div id="premiere35" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4746500.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Приют</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem474650035 = document.getElementById("premiere35")
            _elem474650035.addEventListener("click", function (event) {document.location.href = "/filmInfo474650035"; $$nav.off()});
        </script>
        <div id="premiere36" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5313200.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Крутая перемена</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem531320036 = document.getElementById("premiere36")
            _elem531320036.addEventListener("click", function (event) {document.location.href = "/filmInfo531320036"; $$nav.off()});
        </script>
        <div id="premiere37" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1390793.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Беглец</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem139079337 = document.getElementById("premiere37")
            _elem139079337.addEventListener("click", function (event) {document.location.href = "/filmInfo139079337"; $$nav.off()});
        </script>
        <div id="premiere38" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4448519.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Вызов</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem444851938 = document.getElementById("premiere38")
            _elem444851938.addEventListener("click", function (event) {document.location.href = "/filmInfo444851938"; $$nav.off()});
        </script>
        <div id="premiere39" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5162227.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Магарсус</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem516222739 = document.getElementById("premiere39")
            _elem516222739.addEventListener("click", function (event) {document.location.href = "/filmInfo516222739"; $$nav.off()});
        </script>
        <div id="premiere40" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5020984.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Актрисы</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem502098440 = document.getElementById("premiere40")
            _elem502098440.addEventListener("click", function (event) {document.location.href = "/filmInfo502098440"; $$nav.off()});
        </script>
        <div id="premiere41" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4974350.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>АльфаРомео</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem497435041 = document.getElementById("premiere41")
            _elem497435041.addEventListener("click", function (event) {document.location.href = "/filmInfo497435041"; $$nav.off()});
        </script>
        <div id="premiere42" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1346615.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Ван-Пис</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem134661542 = document.getElementById("premiere42")
            _elem134661542.addEventListener("click", function (event) {document.location.href = "/filmInfo134661542"; $$nav.off()});
        </script>
        <div id="premiere43" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4672791.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Потерянные цветы Элис Харт</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem467279143 = document.getElementById("premiere43")
            _elem467279143.addEventListener("click", function (event) {document.location.href = "/filmInfo467279143"; $$nav.off()});
        </script>
        <div id="premiere44" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5059049.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Телохранители</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem505904944 = document.getElementById("premiere44")
            _elem505904944.addEventListener("click", function (event) {document.location.href = "/filmInfo505904944"; $$nav.off()});
        </script>
        <div id="premiere45" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4540127.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Время приключений: Фионна и Кейк</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem454012745 = document.getElementById("premiere45")
            _elem454012745.addEventListener("click", function (event) {document.location.href = "/filmInfo454012745"; $$nav.off()});
        </script>
        <div id="premiere46" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5255607.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>СуперИвановы</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem525560746 = document.getElementById("premiere46")
            _elem525560746.addEventListener("click", function (event) {document.location.href = "/filmInfo525560746"; $$nav.off()});
        </script>
        <div id="premiere47" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118213.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Квест</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem511821347 = document.getElementById("premiere47")
            _elem511821347.addEventListener("click", function (event) {document.location.href = "/filmInfo511821347"; $$nav.off()});
        </script>
        <div id="premiere48" style="background: url('https://bazon.cc/download/poster/4412788.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Знаменитость</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem441278848 = document.getElementById("premiere48")
            _elem441278848.addEventListener("click", function (event) {document.location.href = "/filmInfo441278848"; $$nav.off()});
        </script>
        <div id="premiere49" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5148826.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Кибер Иван</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem514882649 = document.getElementById("premiere49")
            _elem514882649.addEventListener("click", function (event) {document.location.href = "/filmInfo514882649"; $$nav.off()});
        </script>
        