
        <div id="premiere0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/d5c05a6d-2582-4e4c-acf7-c6887edef5b9/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Баба Мороз и тайна Н</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53681790 = document.getElementById("premiere0")
            _elem53681790.addEventListener("click", function (event) {document.location.href = "/filmInfo53681790"; $$nav.off()});
        </script>
        
        <div id="premiere1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/d5edee8b-9cdd-4f40-bebc-cb82363854ef/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Триггер. Фильм</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49586681 = document.getElementById("premiere1")
            _elem49586681.addEventListener("click", function (event) {document.location.href = "/filmInfo49586681"; $$nav.off()});
        </script>
        
        <div id="premiere2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10671298/34ad6e6d-ee58-4492-b405-e751a04001eb/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Меч короля</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49911382 = document.getElementById("premiere2")
            _elem49911382.addEventListener("click", function (event) {document.location.href = "/filmInfo49911382"; $$nav.off()});
        </script>
        
        <div id="premiere3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10703959/1062546d-bc2f-4dae-abfd-0caf1620013f/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Крецул</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem20001203 = document.getElementById("premiere3")
            _elem20001203.addEventListener("click", function (event) {document.location.href = "/filmInfo20001203"; $$nav.off()});
        </script>
        
        <div id="premiere4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/1a33f7fa-6734-422e-bc19-62a32d05f452/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Привет, призрак!</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54250364 = document.getElementById("premiere4")
            _elem54250364.addEventListener("click", function (event) {document.location.href = "/filmInfo54250364"; $$nav.off()});
        </script>
        
        <div id="premiere5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/8ddc00a2-1b2e-4f04-ac2b-d84fb31e326d/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Перси Джексон и Олим</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13846175 = document.getElementById("premiere5")
            _elem13846175.addEventListener("click", function (event) {document.location.href = "/filmInfo13846175"; $$nav.off()});
        </script>
        
        <div id="premiere6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/23221fb0-2692-4fc5-8807-7bb07208cd52/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Честный развод. Бене</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53327606 = document.getElementById("premiere6")
            _elem53327606.addEventListener("click", function (event) {document.location.href = "/filmInfo53327606"; $$nav.off()});
        </script>
        
        <div id="premiere7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/2e6ad9b8-a9b5-4220-bf31-62eb4bb6740c/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Манюня: Новогодние п</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52537037 = document.getElementById("premiere7")
            _elem52537037.addEventListener("click", function (event) {document.location.href = "/filmInfo52537037"; $$nav.off()});
        </script>
        
        <div id="premiere8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/cbc3b6ee-9042-4de4-9794-184fb1b7acdd/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Вызов. О фильме, пок</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52824478 = document.getElementById("premiere8")
            _elem52824478.addEventListener("click", function (event) {document.location.href = "/filmInfo52824478"; $$nav.off()});
        </script>
        
        <div id="premiere9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10812607/980b1405-bc82-488a-b16b-43bbce260814/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Букины</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53525889 = document.getElementById("premiere9")
            _elem53525889.addEventListener("click", function (event) {document.location.href = "/filmInfo53525889"; $$nav.off()});
        </script>
        
        <div id="premiere10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/6a8becd4-7d5a-44eb-87d8-aca762570e93/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Неестественный отбор</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530714610 = document.getElementById("premiere10")
            _elem530714610.addEventListener("click", function (event) {document.location.href = "/filmInfo530714610"; $$nav.off()});
        </script>
        
        <div id="premiere11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/1898899/195d6b79-a0e2-4c74-bc29-ac62152c6bfc/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Одна дома</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem525320511 = document.getElementById("premiere11")
            _elem525320511.addEventListener("click", function (event) {document.location.href = "/filmInfo525320511"; $$nav.off()});
        </script>
        
        <div id="premiere12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/a9c30bd6-e3d1-4409-99b1-755f1633d7de/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Моя жена – киллер</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem498745012 = document.getElementById("premiere12")
            _elem498745012.addEventListener("click", function (event) {document.location.href = "/filmInfo498745012"; $$nav.off()});
        </script>
        
        <div id="premiere13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10835644/bb89b374-6cd8-4f9c-a0cc-e0c535d80f8c/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Костолом</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem447808113 = document.getElementById("premiere13")
            _elem447808113.addEventListener("click", function (event) {document.location.href = "/filmInfo447808113"; $$nav.off()});
        </script>
        
        <div id="premiere14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10671298/f202e07f-1952-4c44-ab86-bfcd6ceb1476/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Контроль</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem539541214 = document.getElementById("premiere14")
            _elem539541214.addEventListener("click", function (event) {document.location.href = "/filmInfo539541214"; $$nav.off()});
        </script>
        
        <div id="premiere15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10835644/f10ac05d-c735-43dd-93e2-bdb592e0733c/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Пацаны</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535486715 = document.getElementById("premiere15")
            _elem535486715.addEventListener("click", function (event) {document.location.href = "/filmInfo535486715"; $$nav.off()});
        </script>
        
        <div id="premiere16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/664cb2e3-96b6-481c-806c-a80c9802cb67/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Моя девочка</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526602116 = document.getElementById("premiere16")
            _elem526602116.addEventListener("click", function (event) {document.location.href = "/filmInfo526602116"; $$nav.off()});
        </script>
        
        <div id="premiere17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/7ea13f01-b635-4c62-932b-de83c85b5c2b/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дозор Джунглей: Круг</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem507908517 = document.getElementById("premiere17")
            _elem507908517.addEventListener("click", function (event) {document.location.href = "/filmInfo507908517"; $$nav.off()});
        </script>
        
        <div id="premiere18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/1900788/e630321e-5488-4c7e-81da-3d7426209306/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">ЗДУСТ</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elemZDUST18 = document.getElementById("premiere18")
            _elemZDUST18.addEventListener("click", function (event) {document.location.href = "/filmInfoZDUST18"; $$nav.off()});
        </script>
        
        <div id="premiere19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/aea3f675-0296-45af-b991-a09495022b1d/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Крупный улов</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem116065719 = document.getElementById("premiere19")
            _elem116065719.addEventListener("click", function (event) {document.location.href = "/filmInfo116065719"; $$nav.off()});
        </script>
        
        <div id="premiere20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/26a41bd5-7afc-4595-9f65-fac9b73f4f35/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Существо зашевелилос</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494876220 = document.getElementById("premiere20")
            _elem494876220.addEventListener("click", function (event) {document.location.href = "/filmInfo494876220"; $$nav.off()});
        </script>
        
        <div id="premiere21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/138c93b1-5df1-428c-82da-770abec5a327/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Побег из курятника 2</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem112542121 = document.getElementById("premiere21")
            _elem112542121.addEventListener("click", function (event) {document.location.href = "/filmInfo112542121"; $$nav.off()});
        </script>
        
        <div id="premiere22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10835644/d67a1470-9ff3-4cd1-836a-4c047f02d157/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ответственная гражда</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem471073422 = document.getElementById("premiere22")
            _elem471073422.addEventListener("click", function (event) {document.location.href = "/filmInfo471073422"; $$nav.off()});
        </script>
        
        <div id="premiere23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10835644/cd676134-ad5e-409a-b6e6-9aaf30758abb/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Игра смерти</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem537871723 = document.getElementById("premiere23")
            _elem537871723.addEventListener("click", function (event) {document.location.href = "/filmInfo537871723"; $$nav.off()});
        </script>
        
        <div id="premiere24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10835644/bda95beb-96f8-491a-8704-882ef89efeed/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Роковая черта</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem542207424 = document.getElementById("premiere24")
            _elem542207424.addEventListener("click", function (event) {document.location.href = "/filmInfo542207424"; $$nav.off()});
        </script>
        
        <div id="premiere25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/bd0c5322-ef6e-4418-8ef4-7d60b74371bc/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Отчёт о буйстве духо</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem442013925 = document.getElementById("premiere25")
            _elem442013925.addEventListener("click", function (event) {document.location.href = "/filmInfo442013925"; $$nav.off()});
        </script>
        
        <div id="premiere26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4483445/58e2f1ec-f811-40b2-86c7-86c2ba959c8c/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Подсолнух</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem449148226 = document.getElementById("premiere26")
            _elem449148226.addEventListener("click", function (event) {document.location.href = "/filmInfo449148226"; $$nav.off()});
        </script>
        
        <div id="premiere27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/acf827de-b361-4534-aa90-db96bb3a6c1f/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Человек ниоткуда</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem508902927 = document.getElementById("premiere27")
            _elem508902927.addEventListener("click", function (event) {document.location.href = "/filmInfo508902927"; $$nav.off()});
        </script>
        
        <div id="premiere28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10835644/5eaa7375-5c1a-4306-a8a2-d6d7719be0bf/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Отпуск в октябре</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535698828 = document.getElementById("premiere28")
            _elem535698828.addEventListener("click", function (event) {document.location.href = "/filmInfo535698828"; $$nav.off()});
        </script>
        
        <div id="premiere29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10592371/f0eb651c-b14a-4692-944a-6a30366f520e/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Демоны дома Гарретов</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem464284129 = document.getElementById("premiere29")
            _elem464284129.addEventListener("click", function (event) {document.location.href = "/filmInfo464284129"; $$nav.off()});
        </script>
        