
        <div id="premiere0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Выходи замуж за моег</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5379471 = document.getElementById("premiere0")
            _elem5379471.addEventListener("click", function (event) {document.location.href = "/filmInfo5379471"; $$nav.off()});
        </script>
        
        <div id="premiere1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дурочка Надя</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5243622 = document.getElementById("premiere1")
            _elem5243622.addEventListener("click", function (event) {document.location.href = "/filmInfo5243622"; $$nav.off()});
        </script>
        
        <div id="premiere2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">На одном крыле</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem4490957 = document.getElementById("premiere2")
            _elem4490957.addEventListener("click", function (event) {document.location.href = "/filmInfo4490957"; $$nav.off()});
        </script>
        
        <div id="premiere3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Две грешницы и мул</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem4948383 = document.getElementById("premiere3")
            _elem4948383.addEventListener("click", function (event) {document.location.href = "/filmInfo4948383"; $$nav.off()});
        </script>
        
        <div id="premiere4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Хитровка. Знак четыр</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5101677 = document.getElementById("premiere4")
            _elem5101677.addEventListener("click", function (event) {document.location.href = "/filmInfo5101677"; $$nav.off()});
        </script>
        
        <div id="premiere5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Море Сертана</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5088622 = document.getElementById("premiere5")
            _elem5088622.addEventListener("click", function (event) {document.location.href = "/filmInfo5088622"; $$nav.off()});
        </script>
        
        <div id="premiere6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ласт квест</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5367794 = document.getElementById("premiere6")
            _elem5367794.addEventListener("click", function (event) {document.location.href = "/filmInfo5367794"; $$nav.off()});
        </script>
        
        <div id="premiere7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Триггер. Фильм</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem4958675 = document.getElementById("premiere7")
            _elem4958675.addEventListener("click", function (event) {document.location.href = "/filmInfo4958675"; $$nav.off()});
        </script>
        
        <div id="premiere8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мой братик теперь не</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5229338 = document.getElementById("premiere8")
            _elem5229338.addEventListener("click", function (event) {document.location.href = "/filmInfo5229338"; $$nav.off()});
        </script>
        
        <div id="premiere9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Беглец</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem1390802 = document.getElementById("premiere9")
            _elem1390802.addEventListener("click", function (event) {document.location.href = "/filmInfo1390802"; $$nav.off()});
        </script>
        
        <div id="premiere10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Часовой</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem975412 = document.getElementById("premiere10")
            _elem975412.addEventListener("click", function (event) {document.location.href = "/filmInfo975412"; $$nav.off()});
        </script>
        
        <div id="premiere11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Изгои</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5050772 = document.getElementById("premiere11")
            _elem5050772.addEventListener("click", function (event) {document.location.href = "/filmInfo5050772"; $$nav.off()});
        </script>
        
        <div id="premiere12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Гонка</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5233401 = document.getElementById("premiere12")
            _elem5233401.addEventListener("click", function (event) {document.location.href = "/filmInfo5233401"; $$nav.off()});
        </script>
        
        <div id="premiere13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Расплата</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5394218 = document.getElementById("premiere13")
            _elem5394218.addEventListener("click", function (event) {document.location.href = "/filmInfo5394218"; $$nav.off()});
        </script>
        
        <div id="premiere14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Баба Мороз и тайна Н</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5368193 = document.getElementById("premiere14")
            _elem5368193.addEventListener("click", function (event) {document.location.href = "/filmInfo5368193"; $$nav.off()});
        </script>
        
        <div id="premiere15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Три мушкетера</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem4747304 = document.getElementById("premiere15")
            _elem4747304.addEventListener("click", function (event) {document.location.href = "/filmInfo4747304"; $$nav.off()});
        </script>
        
        <div id="premiere16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Любовь с первого поц</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem4421969 = document.getElementById("premiere16")
            _elem4421969.addEventListener("click", function (event) {document.location.href = "/filmInfo4421969"; $$nav.off()});
        </script>
        
        <div id="premiere17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Кристи</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5253237 = document.getElementById("premiere17")
            _elem5253237.addEventListener("click", function (event) {document.location.href = "/filmInfo5253237"; $$nav.off()});
        </script>
        
        <div id="premiere18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Роза на её могиле: И</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5106649 = document.getElementById("premiere18")
            _elem5106649.addEventListener("click", function (event) {document.location.href = "/filmInfo5106649"; $$nav.off()});
        </script>
        
        <div id="premiere19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Двое на краю</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5244392 = document.getElementById("premiere19")
            _elem5244392.addEventListener("click", function (event) {document.location.href = "/filmInfo5244392"; $$nav.off()});
        </script>
        
        <div id="premiere20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Пятнадцать-любовь</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5120673 = document.getElementById("premiere20")
            _elem5120673.addEventListener("click", function (event) {document.location.href = "/filmInfo5120673"; $$nav.off()});
        </script>
        
        <div id="premiere21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Человек-паук: Лотос</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem4367613 = document.getElementById("premiere21")
            _elem4367613.addEventListener("click", function (event) {document.location.href = "/filmInfo4367613"; $$nav.off()});
        </script>
        
        <div id="premiere22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рагна Багровый</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5426238 = document.getElementById("premiere22")
            _elem5426238.addEventListener("click", function (event) {document.location.href = "/filmInfo5426238"; $$nav.off()});
        </script>
        
        <div id="premiere23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Лёгкое знакомство</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5245388 = document.getElementById("premiere23")
            _elem5245388.addEventListener("click", function (event) {document.location.href = "/filmInfo5245388"; $$nav.off()});
        </script>
        
        <div id="premiere24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">10 дней хорошего чел</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5213667 = document.getElementById("premiere24")
            _elem5213667.addEventListener("click", function (event) {document.location.href = "/filmInfo5213667"; $$nav.off()});
        </script>
        
        <div id="premiere25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Голод</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5171065 = document.getElementById("premiere25")
            _elem5171065.addEventListener("click", function (event) {document.location.href = "/filmInfo5171065"; $$nav.off()});
        </script>
        
        <div id="premiere26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Убийства в Стилтауне</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5212640 = document.getElementById("premiere26")
            _elem5212640.addEventListener("click", function (event) {document.location.href = "/filmInfo5212640"; $$nav.off()});
        </script>
        
        <div id="premiere27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Проклятое наследие</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5235949 = document.getElementById("premiere27")
            _elem5235949.addEventListener("click", function (event) {document.location.href = "/filmInfo5235949"; $$nav.off()});
        </script>
        
        <div id="premiere28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Голубоглазый самурай</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem4992706 = document.getElementById("premiere28")
            _elem4992706.addEventListener("click", function (event) {document.location.href = "/filmInfo4992706"; $$nav.off()});
        </script>
        
        <div id="premiere29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url(''); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Эллиот и волшебный а</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem4630549 = document.getElementById("premiere29")
            _elem4630549.addEventListener("click", function (event) {document.location.href = "/filmInfo4630549"; $$nav.off()});
        </script>
        