
        <div id="premiere0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4746054.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Грисельда</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47460540 = document.getElementById("premiere0")
            _elem47460540.addEventListener("click", function (event) {document.location.href = "/filmInfo47460540"; $$nav.off()});
        </script>
        
        <div id="premiere1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5190525.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Престиж</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51905251 = document.getElementById("premiere1")
            _elem51905251.addEventListener("click", function (event) {document.location.href = "/filmInfo51905251"; $$nav.off()});
        </script>
        
        <div id="premiere2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5091936.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Зорро</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50919362 = document.getElementById("premiere2")
            _elem50919362.addEventListener("click", function (event) {document.location.href = "/filmInfo50919362"; $$nav.off()});
        </script>
        
        <div id="premiere3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5429849.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">60 минут</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54298493 = document.getElementById("premiere3")
            _elem54298493.addEventListener("click", function (event) {document.location.href = "/filmInfo54298493"; $$nav.off()});
        </script>
        
        <div id="premiere4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5089024.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Конец славы</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50890244 = document.getElementById("premiere4")
            _elem50890244.addEventListener("click", function (event) {document.location.href = "/filmInfo50890244"; $$nav.off()});
        </script>
        
        <div id="premiere5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_1322676.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Властелины воздуха</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13226765 = document.getElementById("premiere5")
            _elem13226765.addEventListener("click", function (event) {document.location.href = "/filmInfo13226765"; $$nav.off()});
        </script>
        
        <div id="premiere6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5129278.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">ГДР</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51292786 = document.getElementById("premiere6")
            _elem51292786.addEventListener("click", function (event) {document.location.href = "/filmInfo51292786"; $$nav.off()});
        </script>
        
        <div id="premiere7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5079770.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Парадокс убийцы</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50797707 = document.getElementById("premiere7")
            _elem50797707.addEventListener("click", function (event) {document.location.href = "/filmInfo50797707"; $$nav.off()});
        </script>
        
        <div id="premiere8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4965334.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Большая гонка. Ауди </p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49653348 = document.getElementById("premiere8")
            _elem49653348.addEventListener("click", function (event) {document.location.href = "/filmInfo49653348"; $$nav.off()});
        </script>
        
        <div id="premiere9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5095973.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Уничтожь всех соседе</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50959739 = document.getElementById("premiere9")
            _elem50959739.addEventListener("click", function (event) {document.location.href = "/filmInfo50959739"; $$nav.off()});
        </script>
        
        <div id="premiere10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5071324.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мармелад</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem507132410 = document.getElementById("premiere10")
            _elem507132410.addEventListener("click", function (event) {document.location.href = "/filmInfo507132410"; $$nav.off()});
        </script>
        
        <div id="premiere11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5009236.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Девушка Миллера</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem500923611 = document.getElementById("premiere11")
            _elem500923611.addEventListener("click", function (event) {document.location.href = "/filmInfo500923611"; $$nav.off()});
        </script>
        
        <div id="premiere12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5275429.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Лёд 3</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem527542912 = document.getElementById("premiere12")
            _elem527542912.addEventListener("click", function (event) {document.location.href = "/filmInfo527542912"; $$nav.off()});
        </script>
        
        <div id="premiere13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4507204.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Аргайл: Супершпион</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem450720413 = document.getElementById("premiere13")
            _elem450720413.addEventListener("click", function (event) {document.location.href = "/filmInfo450720413"; $$nav.off()});
        </script>
        
        <div id="premiere14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5428194.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Багровый рассвет</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem542819414 = document.getElementById("premiere14")
            _elem542819414.addEventListener("click", function (event) {document.location.href = "/filmInfo542819414"; $$nav.off()});
        </script>
        
        <div id="premiere15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5121255.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Аутсайдеры</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem512125515 = document.getElementById("premiere15")
            _elem512125515.addEventListener("click", function (event) {document.location.href = "/filmInfo512125515"; $$nav.off()});
        </script>
        
        <div id="premiere16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4859964.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Плохие парни</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem485996416 = document.getElementById("premiere16")
            _elem485996416.addEventListener("click", function (event) {document.location.href = "/filmInfo485996416"; $$nav.off()});
        </script>
        
        <div id="premiere17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5396295.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Проклятые воды</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem539629517 = document.getElementById("premiere17")
            _elem539629517.addEventListener("click", function (event) {document.location.href = "/filmInfo539629517"; $$nav.off()});
        </script>
        
        <div id="premiere18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5326241.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Орион и Тьма</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem532624118 = document.getElementById("premiere18")
            _elem532624118.addEventListener("click", function (event) {document.location.href = "/filmInfo532624118"; $$nav.off()});
        </script>
        
        <div id="premiere19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5103740.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Между нами лето</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510374019 = document.getElementById("premiere19")
            _elem510374019.addEventListener("click", function (event) {document.location.href = "/filmInfo510374019"; $$nav.off()});
        </script>
        
        <div id="premiere20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4745604.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Из глубины</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474560420 = document.getElementById("premiere20")
            _elem474560420.addEventListener("click", function (event) {document.location.href = "/filmInfo474560420"; $$nav.off()});
        </script>
        
        <div id="premiere21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5230828.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Поднятие уровня в од</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523082821 = document.getElementById("premiere21")
            _elem523082821.addEventListener("click", function (event) {document.location.href = "/filmInfo523082821"; $$nav.off()});
        </script>
        
        <div id="premiere22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4947994.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Территория зла</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem494799422 = document.getElementById("premiere22")
            _elem494799422.addEventListener("click", function (event) {document.location.href = "/filmInfo494799422"; $$nav.off()});
        </script>
        
        <div id="premiere23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5243574.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Пустоши</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem524357423 = document.getElementById("premiere23")
            _elem524357423.addEventListener("click", function (event) {document.location.href = "/filmInfo524357423"; $$nav.off()});
        </script>
        
        <div id="premiere24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5360026.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Бедные смеются, бога</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536002624 = document.getElementById("premiere24")
            _elem536002624.addEventListener("click", function (event) {document.location.href = "/filmInfo536002624"; $$nav.off()});
        </script>
        
        <div id="premiere25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4498603.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Месье Спейд</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem449860325 = document.getElementById("premiere25")
            _elem449860325.addEventListener("click", function (event) {document.location.href = "/filmInfo449860325"; $$nav.off()});
        </script>
        
        <div id="premiere26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5445856.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">ЭТО МЫ</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem544585626 = document.getElementById("premiere26")
            _elem544585626.addEventListener("click", function (event) {document.location.href = "/filmInfo544585626"; $$nav.off()});
        </script>
        
        <div id="premiere27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5407781.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Единожды солгав</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540778127 = document.getElementById("premiere27")
            _elem540778127.addEventListener("click", function (event) {document.location.href = "/filmInfo540778127"; $$nav.off()});
        </script>
        
        <div id="premiere28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4747375.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Её история</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474737528 = document.getElementById("premiere28")
            _elem474737528.addEventListener("click", function (event) {document.location.href = "/filmInfo474737528"; $$nav.off()});
        </script>
        
        <div id="premiere29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5421856.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">На работу!</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem542185629 = document.getElementById("premiere29")
            _elem542185629.addEventListener("click", function (event) {document.location.href = "/filmInfo542185629"; $$nav.off()});
        </script>
        