<div id="premiere0" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4910071.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Не буди во мне киллера</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem49100710 = document.getElementById("premiere0")
            _elem49100710.addEventListener("click", function (event) {document.location.href = "/filmInfo49100710"; $$nav.off()});
        </script>
        <div id="premiere1" style="background: url('https://bazon.cc/download/poster/5005566.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Джови и Лу</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem50055661 = document.getElementById("premiere1")
            _elem50055661.addEventListener("click", function (event) {document.location.href = "/filmInfo50055661"; $$nav.off()});
        </script>
        <div id="premiere2" style="background: url('https://bazon.cc/download/poster/5361473.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Сказочный сон</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem53614732 = document.getElementById("premiere2")
            _elem53614732.addEventListener("click", function (event) {document.location.href = "/filmInfo53614732"; $$nav.off()});
        </script>
        <div id="premiere3" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5394659.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мур-мур, Амур</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem53946593 = document.getElementById("premiere3")
            _elem53946593.addEventListener("click", function (event) {document.location.href = "/filmInfo53946593"; $$nav.off()});
        </script>
        <div id="premiere4" style="background: url('https://bazon.cc/download/poster/5400476.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Тень саламандры</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem54004764 = document.getElementById("premiere4")
            _elem54004764.addEventListener("click", function (event) {document.location.href = "/filmInfo54004764"; $$nav.off()});
        </script>
        <div id="premiere5" style="background: url('https://bazon.cc/download/poster/5315534.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Рецепт на любовь</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem53155345 = document.getElementById("premiere5")
            _elem53155345.addEventListener("click", function (event) {document.location.href = "/filmInfo53155345"; $$nav.off()});
        </script>
        <div id="premiere6" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5048754.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Иррациональный</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem50487546 = document.getElementById("premiere6")
            _elem50487546.addEventListener("click", function (event) {document.location.href = "/filmInfo50487546"; $$nav.off()});
        </script>
        <div id="premiere7" style="background: url('https://bazon.cc/download/poster/4703998.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Улей</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem47039987 = document.getElementById("premiere7")
            _elem47039987.addEventListener("click", function (event) {document.location.href = "/filmInfo47039987"; $$nav.off()});
        </script>
        <div id="premiere8" style="background: url('https://bazon.cc/download/poster/1381502.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Лето с парнями</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem13815028 = document.getElementById("premiere8")
            _elem13815028.addEventListener("click", function (event) {document.location.href = "/filmInfo13815028"; $$nav.off()});
        </script>
        <div id="premiere9" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1260290.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Выжившая</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem12602909 = document.getElementById("premiere9")
            _elem12602909.addEventListener("click", function (event) {document.location.href = "/filmInfo12602909"; $$nav.off()});
        </script>
        <div id="premiere10" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4414378.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Дайана Найэд</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem441437810 = document.getElementById("premiere10")
            _elem441437810.addEventListener("click", function (event) {document.location.href = "/filmInfo441437810"; $$nav.off()});
        </script>
        <div id="premiere11" style="background: url('https://bazon.cc/download/poster/5355797.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Зимний король</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem535579711 = document.getElementById("premiere11")
            _elem535579711.addEventListener("click", function (event) {document.location.href = "/filmInfo535579711"; $$nav.off()});
        </script>
        <div id="premiere12" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5368842.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Дорога милосердия</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem536884212 = document.getElementById("premiere12")
            _elem536884212.addEventListener("click", function (event) {document.location.href = "/filmInfo536884212"; $$nav.off()});
        </script>
        <div id="premiere13" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4366998.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Ногти</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem436699813 = document.getElementById("premiere13")
            _elem436699813.addEventListener("click", function (event) {document.location.href = "/filmInfo436699813"; $$nav.off()});
        </script>
        <div id="premiere14" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4969228.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Леди-викторина</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem496922814 = document.getElementById("premiere14")
            _elem496922814.addEventListener("click", function (event) {document.location.href = "/filmInfo496922814"; $$nav.off()});
        </script>
        <div id="premiere15" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4367624.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Уроки химии</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem436762415 = document.getElementById("premiere15")
            _elem436762415.addEventListener("click", function (event) {document.location.href = "/filmInfo436762415"; $$nav.off()});
        </script>
        <div id="premiere16" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5019876.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>До звезды</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem501987616 = document.getElementById("premiere16")
            _elem501987616.addEventListener("click", function (event) {document.location.href = "/filmInfo501987616"; $$nav.off()});
        </script>
        <div id="premiere17" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4630545.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Солдат</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem463054517 = document.getElementById("premiere17")
            _elem463054517.addEventListener("click", function (event) {document.location.href = "/filmInfo463054517"; $$nav.off()});
        </script>
        <div id="premiere18" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5401195.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Провожающая в последний путь Фрирен</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem540119518 = document.getElementById("premiere18")
            _elem540119518.addEventListener("click", function (event) {document.location.href = "/filmInfo540119518"; $$nav.off()});
        </script>
        <div id="premiere19" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5401195.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Провожающая в последний путь Фрирен</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem540119519 = document.getElementById("premiere19")
            _elem540119519.addEventListener("click", function (event) {document.location.href = "/filmInfo540119519"; $$nav.off()});
        </script>
        <div id="premiere20" style="background: url('https://bazon.cc/download/poster/5397418.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Любопытный ресторатор: роковые клятвы</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem539741820 = document.getElementById("premiere20")
            _elem539741820.addEventListener("click", function (event) {document.location.href = "/filmInfo539741820"; $$nav.off()});
        </script>
        <div id="premiere21" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1043206.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Иди ко мне, детка</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem104320621 = document.getElementById("premiere21")
            _elem104320621.addEventListener("click", function (event) {document.location.href = "/filmInfo104320621"; $$nav.off()});
        </script>
        <div id="premiere22" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4890878.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>На глубине страха</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem489087822 = document.getElementById("premiere22")
            _elem489087822.addEventListener("click", function (event) {document.location.href = "/filmInfo489087822"; $$nav.off()});
        </script>
        <div id="premiere23" style="background: url('https://bazon.cc/download/poster/5389267.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Кодовое имя: Анника</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem538926723 = document.getElementById("premiere23")
            _elem538926723.addEventListener("click", function (event) {document.location.href = "/filmInfo538926723"; $$nav.off()});
        </script>
        <div id="premiere24" style="background: url('https://bazon.cc/download/poster/5378978.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Ферри: Сериал</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem537897824 = document.getElementById("premiere24")
            _elem537897824.addEventListener("click", function (event) {document.location.href = "/filmInfo537897824"; $$nav.off()});
        </script>
        <div id="premiere25" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4992678.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Голубоглазый самурай</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem499267825 = document.getElementById("premiere25")
            _elem499267825.addEventListener("click", function (event) {document.location.href = "/filmInfo499267825"; $$nav.off()});
        </script>
        <div id="premiere26" style="background: url('https://bazon.cc/download/poster/5387326.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Безграничная любовь</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem538732626 = document.getElementById("premiere26")
            _elem538732626.addEventListener("click", function (event) {document.location.href = "/filmInfo538732626"; $$nav.off()});
        </script>
        <div id="premiere27" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4414378.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Дайана Найэд</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem441437827 = document.getElementById("premiere27")
            _elem441437827.addEventListener("click", function (event) {document.location.href = "/filmInfo441437827"; $$nav.off()});
        </script>
        <div id="premiere28" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5003770.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Чижик-Пыжик возвращается</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem500377028 = document.getElementById("premiere28")
            _elem500377028.addEventListener("click", function (event) {document.location.href = "/filmInfo500377028"; $$nav.off()});
        </script>
        <div id="premiere29" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5237997.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Национальное голосование по поводу смертной казни</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem523799729 = document.getElementById("premiere29")
            _elem523799729.addEventListener("click", function (event) {document.location.href = "/filmInfo523799729"; $$nav.off()});
        </script>
        <div id="premiere30" style="background: url('https://bazon.cc/download/poster/5071494.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Магнификат</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem507149430 = document.getElementById("premiere30")
            _elem507149430.addEventListener("click", function (event) {document.location.href = "/filmInfo507149430"; $$nav.off()});
        </script>
        <div id="premiere31" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5105875.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Воровки</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem510587531 = document.getElementById("premiere31")
            _elem510587531.addEventListener("click", function (event) {document.location.href = "/filmInfo510587531"; $$nav.off()});
        </script>
        <div id="premiere32" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4946856.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Набережная Орфевр, 38.5</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem494685632 = document.getElementById("premiere32")
            _elem494685632.addEventListener("click", function (event) {document.location.href = "/filmInfo494685632"; $$nav.off()});
        </script>
        <div id="premiere33" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5333299.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Детки-убийцы 2</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem533329933 = document.getElementById("premiere33")
            _elem533329933.addEventListener("click", function (event) {document.location.href = "/filmInfo533329933"; $$nav.off()});
        </script>
        <div id="premiere34" style="background: url('https://bazon.cc/download/poster/4634362.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Игра на доверие</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem463436234 = document.getElementById("premiere34")
            _elem463436234.addEventListener("click", function (event) {document.location.href = "/filmInfo463436234"; $$nav.off()});
        </script>
        <div id="premiere35" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5364319.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Джунгли. Райский переполох</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem536431935 = document.getElementById("premiere35")
            _elem536431935.addEventListener("click", function (event) {document.location.href = "/filmInfo536431935"; $$nav.off()});
        </script>
        <div id="premiere36" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5179969.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>ООО «Дом ада», начало: Особняк Кармайкла</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem517996936 = document.getElementById("premiere36")
            _elem517996936.addEventListener("click", function (event) {document.location.href = "/filmInfo517996936"; $$nav.off()});
        </script>
        <div id="premiere37" style="background: url('https://bazon.cc/download/poster/4895015.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Нарядное пугало</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem489501537 = document.getElementById("premiere37")
            _elem489501537.addEventListener("click", function (event) {document.location.href = "/filmInfo489501537"; $$nav.off()});
        </script>
        <div id="premiere38" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5367788.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Ласт квест</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem536778838 = document.getElementById("premiere38")
            _elem536778838.addEventListener("click", function (event) {document.location.href = "/filmInfo536778838"; $$nav.off()});
        </script>
        <div id="premiere39" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_905024.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Гардемарины 1787. Мир</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem90502439 = document.getElementById("premiere39")
            _elem90502439.addEventListener("click", function (event) {document.location.href = "/filmInfo90502439"; $$nav.off()});
        </script>
        <div id="premiere40" style="background: url('https://bazon.cc/download/poster/4966566.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Попутчики</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem496656640 = document.getElementById("premiere40")
            _elem496656640.addEventListener("click", function (event) {document.location.href = "/filmInfo496656640"; $$nav.off()});
        </script>
        <div id="premiere41" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5322395.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Джон Уик: Экстра</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem532239541 = document.getElementById("premiere41")
            _elem532239541.addEventListener("click", function (event) {document.location.href = "/filmInfo532239541"; $$nav.off()});
        </script>
        <div id="premiere42" style="background: url('https://bazon.cc/download/poster/5212980.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Романсеро</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem521298042 = document.getElementById("premiere42")
            _elem521298042.addEventListener("click", function (event) {document.location.href = "/filmInfo521298042"; $$nav.off()});
        </script>
        <div id="premiere43" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_952158.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Пять ночей с Фредди</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem95215843 = document.getElementById("premiere43")
            _elem95215843.addEventListener("click", function (event) {document.location.href = "/filmInfo95215843"; $$nav.off()});
        </script>
        <div id="premiere44" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4309488.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Изгоняющий дьявола: Верующий</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem430948844 = document.getElementById("premiere44")
            _elem430948844.addEventListener("click", function (event) {document.location.href = "/filmInfo430948844"; $$nav.off()});
        </script>
        <div id="premiere45" style="background: url('https://bazon.cc/download/poster/1311196.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Заложники моря</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem131119645 = document.getElementById("premiere45")
            _elem131119645.addEventListener("click", function (event) {document.location.href = "/filmInfo131119645"; $$nav.off()});
        </script>
        <div id="premiere46" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1431133.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Поколение «Ви»</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem143113346 = document.getElementById("premiere46")
            _elem143113346.addEventListener("click", function (event) {document.location.href = "/filmInfo143113346"; $$nav.off()});
        </script>
        <div id="premiere47" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4367624.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Уроки химии</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem436762447 = document.getElementById("premiere47")
            _elem436762447.addEventListener("click", function (event) {document.location.href = "/filmInfo436762447"; $$nav.off()});
        </script>
        <div id="premiere48" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4852099.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Ужастики</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem485209948 = document.getElementById("premiere48")
            _elem485209948.addEventListener("click", function (event) {document.location.href = "/filmInfo485209948"; $$nav.off()});
        </script>
        <div id="premiere49" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5249437.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Секс. До и после</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem524943749 = document.getElementById("premiere49")
            _elem524943749.addEventListener("click", function (event) {document.location.href = "/filmInfo524943749"; $$nav.off()});
        </script>
        