<div id="premiere0" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1402701.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Чужой</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem14027010 = document.getElementById("premiere0")
            _elem14027010.addEventListener("click", function (event) {document.location.href = "/filmInfo14027010"; $$nav.off()});
        </script>
        <div id="premiere1" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_777031.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Библиотекарь</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem7770311 = document.getElementById("premiere1")
            _elem7770311.addEventListener("click", function (event) {document.location.href = "/filmInfo7770311"; $$nav.off()});
        </script>
        <div id="premiere2" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4728548.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Открытый брак</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem47285482 = document.getElementById("premiere2")
            _elem47285482.addEventListener("click", function (event) {document.location.href = "/filmInfo47285482"; $$nav.off()});
        </script>
        <div id="premiere3" style="background: url('https://bazon.cc/download/poster/5100129.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Вот так повезло!</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem51001293 = document.getElementById("premiere3")
            _elem51001293.addEventListener("click", function (event) {document.location.href = "/filmInfo51001293"; $$nav.off()});
        </script>
        <div id="premiere4" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4655411.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Невероятное паломничество Гарольда Фрая</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem46554114 = document.getElementById("premiere4")
            _elem46554114.addEventListener("click", function (event) {document.location.href = "/filmInfo46554114"; $$nav.off()});
        </script>
        <div id="premiere5" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5111852.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Злой дух</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem51118525 = document.getElementById("premiere5")
            _elem51118525.addEventListener("click", function (event) {document.location.href = "/filmInfo51118525"; $$nav.off()});
        </script>
        <div id="premiere6" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4757737.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Правосудие: Первобытный город</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem47577376 = document.getElementById("premiere6")
            _elem47577376.addEventListener("click", function (event) {document.location.href = "/filmInfo47577376"; $$nav.off()});
        </script>
        <div id="premiere7" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5141685.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Странная планета</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem51416857 = document.getElementById("premiere7")
            _elem51416857.addEventListener("click", function (event) {document.location.href = "/filmInfo51416857"; $$nav.off()});
        </script>
        <div id="premiere8" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1360099.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Лакадейзи</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem13600998 = document.getElementById("premiere8")
            _elem13600998.addEventListener("click", function (event) {document.location.href = "/filmInfo13600998"; $$nav.off()});
        </script>
        <div id="premiere9" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5319826.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Если сильно полюбишь</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem53198269 = document.getElementById("premiere9")
            _elem53198269.addEventListener("click", function (event) {document.location.href = "/filmInfo53198269"; $$nav.off()});
        </script>
        <div id="premiere10" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5296922.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Джохан 2</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem529692210 = document.getElementById("premiere10")
            _elem529692210.addEventListener("click", function (event) {document.location.href = "/filmInfo529692210"; $$nav.off()});
        </script>
        <div id="premiere11" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5248356.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Шахмаран</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem524835611 = document.getElementById("premiere11")
            _elem524835611.addEventListener("click", function (event) {document.location.href = "/filmInfo524835611"; $$nav.off()});
        </script>
        <div id="premiere12" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4967680.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Очищение</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem496768012 = document.getElementById("premiere12")
            _elem496768012.addEventListener("click", function (event) {document.location.href = "/filmInfo496768012"; $$nav.off()});
        </script>
        <div id="premiere13" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4500536.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Детектив под кайфом</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem450053613 = document.getElementById("premiere13")
            _elem450053613.addEventListener("click", function (event) {document.location.href = "/filmInfo450053613"; $$nav.off()});
        </script>
        <div id="premiere14" style="background: url('https://bazon.cc/download/poster/1179918.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Единственная женщина в мире</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem117991814 = document.getElementById("premiere14")
            _elem117991814.addEventListener("click", function (event) {document.location.href = "/filmInfo117991814"; $$nav.off()});
        </script>
        <div id="premiere15" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Лига Справедливости: Мир войны</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem530544215 = document.getElementById("premiere15")
            _elem530544215.addEventListener("click", function (event) {document.location.href = "/filmInfo530544215"; $$nav.off()});
        </script>
        <div id="premiere16" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Лига Справедливости: Мир войны</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem530544216 = document.getElementById("premiere16")
            _elem530544216.addEventListener("click", function (event) {document.location.href = "/filmInfo530544216"; $$nav.off()});
        </script>
        <div id="premiere17" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5354576.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Вселенная зомби</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem535457617 = document.getElementById("premiere17")
            _elem535457617.addEventListener("click", function (event) {document.location.href = "/filmInfo535457617"; $$nav.off()});
        </script>
        <div id="premiere18" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5319979.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Черный двор</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem531997918 = document.getElementById("premiere18")
            _elem531997918.addEventListener("click", function (event) {document.location.href = "/filmInfo531997918"; $$nav.off()});
        </script>
        <div id="premiere19" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5035020.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Триган: Ураган</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem503502019 = document.getElementById("premiere19")
            _elem503502019.addEventListener("click", function (event) {document.location.href = "/filmInfo503502019"; $$nav.off()});
        </script>
        <div id="premiere20" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5098414.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мастер на все руки Саито в другом мире</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem509841420 = document.getElementById("premiere20")
            _elem509841420.addEventListener("click", function (event) {document.location.href = "/filmInfo509841420"; $$nav.off()});
        </script>
        <div id="premiere21" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5165120.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Магическая революция перерождённой принцессы и гениальной юной леди</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem516512021 = document.getElementById("premiere21")
            _elem516512021.addEventListener("click", function (event) {document.location.href = "/filmInfo516512021"; $$nav.off()});
        </script>
        <div id="premiere22" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118210.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Бродяга Кэнсин</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem511821022 = document.getElementById("premiere22")
            _elem511821022.addEventListener("click", function (event) {document.location.href = "/filmInfo511821022"; $$nav.off()});
        </script>
        <div id="premiere23" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309392.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мечта</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem130939223 = document.getElementById("premiere23")
            _elem130939223.addEventListener("click", function (event) {document.location.href = "/filmInfo130939223"; $$nav.off()});
        </script>
        <div id="premiere24" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1301761.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Замаячный</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem130176124 = document.getElementById("premiere24")
            _elem130176124.addEventListener("click", function (event) {document.location.href = "/filmInfo130176124"; $$nav.off()});
        </script>
        <div id="premiere25" style="background: url('https://bazon.cc/download/poster/4826605.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Аврора</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem482660525 = document.getElementById("premiere25")
            _elem482660525.addEventListener("click", function (event) {document.location.href = "/filmInfo482660525"; $$nav.off()});
        </script>
        <div id="premiere26" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5355824.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Душа не слышит</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem535582426 = document.getElementById("premiere26")
            _elem535582426.addEventListener("click", function (event) {document.location.href = "/filmInfo535582426"; $$nav.off()});
        </script>
        <div id="premiere27" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1412084.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Спецназ: Львица</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem141208427 = document.getElementById("premiere27")
            _elem141208427.addEventListener("click", function (event) {document.location.href = "/filmInfo141208427"; $$nav.off()});
        </script>
        <div id="premiere28" style="background: url('https://bazon.cc/download/poster/5139120.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Обычный Джо</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem513912028 = document.getElementById("premiere28")
            _elem513912028.addEventListener("click", function (event) {document.location.href = "/filmInfo513912028"; $$nav.off()});
        </script>
        <div id="premiere29" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5364390.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Король и Шут: Сказка о Горшке и Князе</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem536439029 = document.getElementById("premiere29")
            _elem536439029.addEventListener("click", function (event) {document.location.href = "/filmInfo536439029"; $$nav.off()});
        </script>
        <div id="premiere30" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4745555.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мама, можно мне?</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem474555530 = document.getElementById("premiere30")
            _elem474555530.addEventListener("click", function (event) {document.location.href = "/filmInfo474555530"; $$nav.off()});
        </script>
        <div id="premiere31" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Человек-паук: Паутина вселенных</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem121917731 = document.getElementById("premiere31")
            _elem121917731.addEventListener("click", function (event) {document.location.href = "/filmInfo121917731"; $$nav.off()});
        </script>
        <div id="premiere32" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4850225.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Астрал 5: Красная дверь</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem485022532 = document.getElementById("premiere32")
            _elem485022532.addEventListener("click", function (event) {document.location.href = "/filmInfo485022532"; $$nav.off()});
        </script>
        <div id="premiere33" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4982929.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Звездные войны: Приключения юных джедаев</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem498292933 = document.getElementById("premiere33")
            _elem498292933.addEventListener("click", function (event) {document.location.href = "/filmInfo498292933"; $$nav.off()});
        </script>
        <div id="premiere34" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5309876.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Леди Дуриан</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem530987634 = document.getElementById("premiere34")
            _elem530987634.addEventListener("click", function (event) {document.location.href = "/filmInfo530987634"; $$nav.off()});
        </script>
        <div id="premiere35" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4751424.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Ужас Истфилда. Первое изгнание</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem475142435 = document.getElementById("premiere35")
            _elem475142435.addEventListener("click", function (event) {document.location.href = "/filmInfo475142435"; $$nav.off()});
        </script>
        <div id="premiere36" style="background: url('https://bazon.cc/download/poster/5053842.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Хождение по мукам</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem505384236 = document.getElementById("premiere36")
            _elem505384236.addEventListener("click", function (event) {document.location.href = "/filmInfo505384236"; $$nav.off()});
        </script>
        <div id="premiere37" style="background: url('https://bazon.cc/download/poster/5082399.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>По зову долга</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem508239937 = document.getElementById("premiere37")
            _elem508239937.addEventListener("click", function (event) {document.location.href = "/filmInfo508239937"; $$nav.off()});
        </script>
        <div id="premiere38" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4672184.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Шрапнель</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem467218438 = document.getElementById("premiere38")
            _elem467218438.addEventListener("click", function (event) {document.location.href = "/filmInfo467218438"; $$nav.off()});
        </script>
        <div id="premiere39" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4536580.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Баба Яга спасает мир</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem453658039 = document.getElementById("premiere39")
            _elem453658039.addEventListener("click", function (event) {document.location.href = "/filmInfo453658039"; $$nav.off()});
        </script>
        <div id="premiere40" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5106374.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Король неба</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem510637440 = document.getElementById("premiere40")
            _elem510637440.addEventListener("click", function (event) {document.location.href = "/filmInfo510637440"; $$nav.off()});
        </script>
        <div id="premiere41" style="background: url('https://bazon.cc/download/poster/4498651.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Кровь за кровь</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem449865141 = document.getElementById("premiere41")
            _elem449865141.addEventListener("click", function (event) {document.location.href = "/filmInfo449865141"; $$nav.off()});
        </script>
        <div id="premiere42" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Человек-паук: Паутина вселенных</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem121917742 = document.getElementById("premiere42")
            _elem121917742.addEventListener("click", function (event) {document.location.href = "/filmInfo121917742"; $$nav.off()});
        </script>
        <div id="premiere43" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4423264.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Живопись</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem442326443 = document.getElementById("premiere43")
            _elem442326443.addEventListener("click", function (event) {document.location.href = "/filmInfo442326443"; $$nav.off()});
        </script>
        <div id="premiere44" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5325611.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Коллектив</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem532561144 = document.getElementById("premiere44")
            _elem532561144.addEventListener("click", function (event) {document.location.href = "/filmInfo532561144"; $$nav.off()});
        </script>
        <div id="premiere45" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4645872.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Безумная поездочка</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem464587245 = document.getElementById("premiere45")
            _elem464587245.addEventListener("click", function (event) {document.location.href = "/filmInfo464587245"; $$nav.off()});
        </script>
        <div id="premiere46" style="background: url('https://bazon.cc/download/poster/1436858.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Варшавянка</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem143685846 = document.getElementById("premiere46")
            _elem143685846.addEventListener("click", function (event) {document.location.href = "/filmInfo143685846"; $$nav.off()});
        </script>
        <div id="premiere47" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309392.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мечта</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem130939247 = document.getElementById("premiere47")
            _elem130939247.addEventListener("click", function (event) {document.location.href = "/filmInfo130939247"; $$nav.off()});
        </script>
        <div id="premiere48" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4715481.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Дыхание</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem471548148 = document.getElementById("premiere48")
            _elem471548148.addEventListener("click", function (event) {document.location.href = "/filmInfo471548148"; $$nav.off()});
        </script>
        <div id="premiere49" style="background: url('https://bazon.cc/download/poster/5331422.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Выжить в Дубае</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem533142249 = document.getElementById("premiere49")
            _elem533142249.addEventListener("click", function (event) {document.location.href = "/filmInfo533142249"; $$nav.off()});
        </script>
        