
        <div id="premiere0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4746054.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Грисельда</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47460540 = document.getElementById("premiere0")
            _elem47460540.addEventListener("click", function (event) {document.location.href = "/filmInfo47460540"; $$nav.off()});
        </script>
        
        <div id="premiere1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5091936.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Зорро</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50919361 = document.getElementById("premiere1")
            _elem50919361.addEventListener("click", function (event) {document.location.href = "/filmInfo50919361"; $$nav.off()});
        </script>
        
        <div id="premiere2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5429849.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">60 минут</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54298492 = document.getElementById("premiere2")
            _elem54298492.addEventListener("click", function (event) {document.location.href = "/filmInfo54298492"; $$nav.off()});
        </script>
        
        <div id="premiere3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5089024.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Конец славы</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50890243 = document.getElementById("premiere3")
            _elem50890243.addEventListener("click", function (event) {document.location.href = "/filmInfo50890243"; $$nav.off()});
        </script>
        
        <div id="premiere4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_1322676.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Властелины воздуха</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13226764 = document.getElementById("premiere4")
            _elem13226764.addEventListener("click", function (event) {document.location.href = "/filmInfo13226764"; $$nav.off()});
        </script>
        
        <div id="premiere5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4965334.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Большая гонка. Ауди </p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49653345 = document.getElementById("premiere5")
            _elem49653345.addEventListener("click", function (event) {document.location.href = "/filmInfo49653345"; $$nav.off()});
        </script>
        
        <div id="premiere6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5428194.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Багровый рассвет</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54281946 = document.getElementById("premiere6")
            _elem54281946.addEventListener("click", function (event) {document.location.href = "/filmInfo54281946"; $$nav.off()});
        </script>
        
        <div id="premiere7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5396295.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Проклятые воды</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53962957 = document.getElementById("premiere7")
            _elem53962957.addEventListener("click", function (event) {document.location.href = "/filmInfo53962957"; $$nav.off()});
        </script>
        
        <div id="premiere8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5326241.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Орион и Тьма</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53262418 = document.getElementById("premiere8")
            _elem53262418.addEventListener("click", function (event) {document.location.href = "/filmInfo53262418"; $$nav.off()});
        </script>
        
        <div id="premiere9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5230828.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Поднятие уровня в од</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52308289 = document.getElementById("premiere9")
            _elem52308289.addEventListener("click", function (event) {document.location.href = "/filmInfo52308289"; $$nav.off()});
        </script>
        
        <div id="premiere10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5243574.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Пустоши</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem524357410 = document.getElementById("premiere10")
            _elem524357410.addEventListener("click", function (event) {document.location.href = "/filmInfo524357410"; $$nav.off()});
        </script>
        
        <div id="premiere11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4498603.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Месье Спейд</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem449860311 = document.getElementById("premiere11")
            _elem449860311.addEventListener("click", function (event) {document.location.href = "/filmInfo449860311"; $$nav.off()});
        </script>
        
        <div id="premiere12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5407781.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Единожды солгав</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540778112 = document.getElementById("premiere12")
            _elem540778112.addEventListener("click", function (event) {document.location.href = "/filmInfo540778112"; $$nav.off()});
        </script>
        
        <div id="premiere13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4747375.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Её история</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474737513 = document.getElementById("premiere13")
            _elem474737513.addEventListener("click", function (event) {document.location.href = "/filmInfo474737513"; $$nav.off()});
        </script>
        
        <div id="premiere14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5421856.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">На работу!</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem542185614 = document.getElementById("premiere14")
            _elem542185614.addEventListener("click", function (event) {document.location.href = "/filmInfo542185614"; $$nav.off()});
        </script>
        
        <div id="premiere15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4626783.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Пчеловод</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem462678315 = document.getElementById("premiere15")
            _elem462678315.addEventListener("click", function (event) {document.location.href = "/filmInfo462678315"; $$nav.off()});
        </script>
        
        <div id="premiere16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4419591.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Эхо</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem441959116 = document.getElementById("premiere16")
            _elem441959116.addEventListener("click", function (event) {document.location.href = "/filmInfo441959116"; $$nav.off()});
        </script>
        
        <div id="premiere17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5379471.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Выходи замуж за моег</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem537947117 = document.getElementById("premiere17")
            _elem537947117.addEventListener("click", function (event) {document.location.href = "/filmInfo537947117"; $$nav.off()});
        </script>
        
        <div id="premiere18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5194592.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Прелесть</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem519459218 = document.getElementById("premiere18")
            _elem519459218.addEventListener("click", function (event) {document.location.href = "/filmInfo519459218"; $$nav.off()});
        </script>
        
        <div id="premiere19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4475348.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Третий лишний</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem447534819 = document.getElementById("premiere19")
            _elem447534819.addEventListener("click", function (event) {document.location.href = "/filmInfo447534819"; $$nav.off()});
        </script>
        
        <div id="premiere20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5009179.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Братья Сунь</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem500917920 = document.getElementById("premiere20")
            _elem500917920.addEventListener("click", function (event) {document.location.href = "/filmInfo500917920"; $$nav.off()});
        </script>
        
        <div id="premiere21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4363942.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мистер и миссис Смит</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem436394221 = document.getElementById("premiere21")
            _elem436394221.addEventListener("click", function (event) {document.location.href = "/filmInfo436394221"; $$nav.off()});
        </script>
        
        <div id="premiere22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4745702.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Общество снега</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474570222 = document.getElementById("premiere22")
            _elem474570222.addEventListener("click", function (event) {document.location.href = "/filmInfo474570222"; $$nav.off()});
        </script>
        
        <div id="premiere23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4422792.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Воздушное ограбление</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem442279223 = document.getElementById("premiere23")
            _elem442279223.addEventListener("click", function (event) {document.location.href = "/filmInfo442279223"; $$nav.off()});
        </script>
        
        <div id="premiere24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5405293.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Клипот</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540529324 = document.getElementById("premiere24")
            _elem540529324.addEventListener("click", function (event) {document.location.href = "/filmInfo540529324"; $$nav.off()});
        </script>
        
        <div id="premiere25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5119715.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Очевидное невероятно</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511971525 = document.getElementById("premiere25")
            _elem511971525.addEventListener("click", function (event) {document.location.href = "/filmInfo511971525"; $$nav.off()});
        </script>
        
        <div id="premiere26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4490955.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">На одном крыле</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem449095526 = document.getElementById("premiere26")
            _elem449095526.addEventListener("click", function (event) {document.location.href = "/filmInfo449095526"; $$nav.off()});
        </script>
        
        <div id="premiere27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5101673.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Хитровка. Знак четыр</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510167327 = document.getElementById("premiere27")
            _elem510167327.addEventListener("click", function (event) {document.location.href = "/filmInfo510167327"; $$nav.off()});
        </script>
        
        <div id="premiere28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5367788.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ласт квест</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536778828 = document.getElementById("premiere28")
            _elem536778828.addEventListener("click", function (event) {document.location.href = "/filmInfo536778828"; $$nav.off()});
        </script>
        
        <div id="premiere29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4958668.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Триггер. Фильм</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem495866829 = document.getElementById("premiere29")
            _elem495866829.addEventListener("click", function (event) {document.location.href = "/filmInfo495866829"; $$nav.off()});
        </script>
        