
        <div id="premiere0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/23ea4289-81b0-4c88-8f67-b4d16871d955/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Выходи замуж за моег</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53794710 = document.getElementById("premiere0")
            _elem53794710.addEventListener("click", function (event) {document.location.href = "/filmInfo53794710"; $$nav.off()});
        </script>
        
        <div id="premiere1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/1898899/c15e13fd-692b-4bdb-9ce4-aa9e4e3c6312/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Дурочка Надя</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52436211 = document.getElementById("premiere1")
            _elem52436211.addEventListener("click", function (event) {document.location.href = "/filmInfo52436211"; $$nav.off()});
        </script>
        
        <div id="premiere2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4774061/c0156990-3f6f-44e6-9137-95cc1f6e9a71/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">На одном крыле</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44909552 = document.getElementById("premiere2")
            _elem44909552.addEventListener("click", function (event) {document.location.href = "/filmInfo44909552"; $$nav.off()});
        </script>
        
        <div id="premiere3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4483445/e5ba1bf0-e6a7-4039-b8a1-6bb74b46498f/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Две грешницы и мул</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49483803 = document.getElementById("premiere3")
            _elem49483803.addEventListener("click", function (event) {document.location.href = "/filmInfo49483803"; $$nav.off()});
        </script>
        
        <div id="premiere4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10671298/f96062f4-4749-4e19-9443-ef44170e7d55/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Хитровка. Знак четыр</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51016734 = document.getElementById("premiere4")
            _elem51016734.addEventListener("click", function (event) {document.location.href = "/filmInfo51016734"; $$nav.off()});
        </script>
        
        <div id="premiere5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4486454/e7c0ad12-fbb1-4f90-b046-03d0cdf3007f/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Море Сертана</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50886175 = document.getElementById("premiere5")
            _elem50886175.addEventListener("click", function (event) {document.location.href = "/filmInfo50886175"; $$nav.off()});
        </script>
        
        <div id="premiere6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10835644/fe2620e9-1752-4aeb-99dc-05fd8445a66a/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Ласт квест</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53677886 = document.getElementById("premiere6")
            _elem53677886.addEventListener("click", function (event) {document.location.href = "/filmInfo53677886"; $$nav.off()});
        </script>
        
        <div id="premiere7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10671298/5859a0e6-b3e0-444a-949e-844079332f85/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Триггер. Фильм</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49586687 = document.getElementById("premiere7")
            _elem49586687.addEventListener("click", function (event) {document.location.href = "/filmInfo49586687"; $$nav.off()});
        </script>
        
        <div id="premiere8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4774061/b0c8d333-20e0-47e6-bb86-5835a5586766/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мой братик теперь не</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52293308 = document.getElementById("premiere8")
            _elem52293308.addEventListener("click", function (event) {document.location.href = "/filmInfo52293308"; $$nav.off()});
        </script>
        
        <div id="premiere9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/1898899/c5cabd6f-3a63-4711-9c58-13557a8acfbf/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Беглец</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13907939 = document.getElementById("premiere9")
            _elem13907939.addEventListener("click", function (event) {document.location.href = "/filmInfo13907939"; $$nav.off()});
        </script>
        
        <div id="premiere10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4483445/70f0c5a8-251f-41c0-a60a-aececef164d3/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Часовой</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem97540210 = document.getElementById("premiere10")
            _elem97540210.addEventListener("click", function (event) {document.location.href = "/filmInfo97540210"; $$nav.off()});
        </script>
        
        <div id="premiere11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10900341/0330c6a4-4043-4d7c-a347-addad61713c8/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Изгои</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem505076111 = document.getElementById("premiere11")
            _elem505076111.addEventListener("click", function (event) {document.location.href = "/filmInfo505076111"; $$nav.off()});
        </script>
        
        <div id="premiere12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/be8f6641-768b-4516-a916-39da6b1cc4d9/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Гонка</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523338912 = document.getElementById("premiere12")
            _elem523338912.addEventListener("click", function (event) {document.location.href = "/filmInfo523338912"; $$nav.off()});
        </script>
        
        <div id="premiere13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10835644/97ee0fc0-af3f-4345-91f7-6fa7abb87b9e/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Расплата</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem539420513 = document.getElementById("premiere13")
            _elem539420513.addEventListener("click", function (event) {document.location.href = "/filmInfo539420513"; $$nav.off()});
        </script>
        
        <div id="premiere14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/1898899/868f29b8-bf06-492e-af24-f4a774bd6c11/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Баба Мороз и тайна Н</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536817914 = document.getElementById("premiere14")
            _elem536817914.addEventListener("click", function (event) {document.location.href = "/filmInfo536817914"; $$nav.off()});
        </script>
        
        <div id="premiere15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4774061/d02107c1-4f4d-4246-8b86-27635cd16889/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Три мушкетера</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474728915 = document.getElementById("premiere15")
            _elem474728915.addEventListener("click", function (event) {document.location.href = "/filmInfo474728915"; $$nav.off()});
        </script>
        
        <div id="premiere16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/df482a6f-9b01-4848-bb6c-ca7fba939bb2/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Любовь с первого поц</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem442195316 = document.getElementById("premiere16")
            _elem442195316.addEventListener("click", function (event) {document.location.href = "/filmInfo442195316"; $$nav.off()});
        </script>
        
        <div id="premiere17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4486454/16a20d52-9688-4b6d-bf7b-635bacecac17/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Кристи</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem525322017 = document.getElementById("premiere17")
            _elem525322017.addEventListener("click", function (event) {document.location.href = "/filmInfo525322017"; $$nav.off()});
        </script>
        
        <div id="premiere18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4483445/03cfb001-f5ab-4433-971a-e5045deaedc7/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Роза на её могиле: И</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem510663118 = document.getElementById("premiere18")
            _elem510663118.addEventListener("click", function (event) {document.location.href = "/filmInfo510663118"; $$nav.off()});
        </script>
        
        <div id="premiere19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/171c2632-c346-489d-ac42-39172c76058d/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Двое на краю</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem524437319 = document.getElementById("premiere19")
            _elem524437319.addEventListener("click", function (event) {document.location.href = "/filmInfo524437319"; $$nav.off()});
        </script>
        
        <div id="premiere20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/2f8117bd-e3a3-4dfb-a421-6f5fee12b83a/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Пятнадцать-любовь</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem512065320 = document.getElementById("premiere20")
            _elem512065320.addEventListener("click", function (event) {document.location.href = "/filmInfo512065320"; $$nav.off()});
        </script>
        
        <div id="premiere21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10809116/86ec756b-551e-4904-8134-f82289ace465/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Человек-паук: Лотос</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem436759221 = document.getElementById("premiere21")
            _elem436759221.addEventListener("click", function (event) {document.location.href = "/filmInfo436759221"; $$nav.off()});
        </script>
        
        <div id="premiere22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10900341/b0263c88-03b6-47a6-90f0-fbf39fce0dde/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Рагна Багровый</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem542621622 = document.getElementById("premiere22")
            _elem542621622.addEventListener("click", function (event) {document.location.href = "/filmInfo542621622"; $$nav.off()});
        </script>
        
        <div id="premiere23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/9144613f-3476-4d19-ab8d-75b9f2240aee/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Лёгкое знакомство</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem524536523 = document.getElementById("premiere23")
            _elem524536523.addEventListener("click", function (event) {document.location.href = "/filmInfo524536523"; $$nav.off()});
        </script>
        
        <div id="premiere24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4483445/d67755ec-81c8-43c0-ae5f-3df9140ec8a0/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">10 дней хорошего чел</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem521364324 = document.getElementById("premiere24")
            _elem521364324.addEventListener("click", function (event) {document.location.href = "/filmInfo521364324"; $$nav.off()});
        </script>
        
        <div id="premiere25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/f3e2a1a1-89a1-460b-8206-7f779e1e359c/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Голод</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem517104025 = document.getElementById("premiere25")
            _elem517104025.addEventListener("click", function (event) {document.location.href = "/filmInfo517104025"; $$nav.off()});
        </script>
        
        <div id="premiere26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4486454/e6d4eecc-2849-4973-b050-1cc755d0dde4/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Убийства в Стилтауне</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem521261426 = document.getElementById("premiere26")
            _elem521261426.addEventListener("click", function (event) {document.location.href = "/filmInfo521261426"; $$nav.off()});
        </script>
        
        <div id="premiere27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10809116/9aeb9219-0837-4a83-81ee-5bbadb8b95f0/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Проклятое наследие</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523592227 = document.getElementById("premiere27")
            _elem523592227.addEventListener("click", function (event) {document.location.href = "/filmInfo523592227"; $$nav.off()});
        </script>
        
        <div id="premiere28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10835644/79beffb2-e1de-4c17-8a9b-4c6709f3fce4/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Голубоглазый самурай</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem499267828 = document.getElementById("premiere28")
            _elem499267828.addEventListener("click", function (event) {document.location.href = "/filmInfo499267828"; $$nav.off()});
        </script>
        
        <div id="premiere29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4486454/8d6d6c9e-cca6-4b72-b8ec-3530db0b39eb/orig'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Эллиот и волшебный а</p>
        <p>(2023)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem463052029 = document.getElementById("premiere29")
            _elem463052029.addEventListener("click", function (event) {document.location.href = "/filmInfo463052029"; $$nav.off()});
        </script>
        