<div id="premiere0" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5310765.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Стать шефом</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem53107650 = document.getElementById("premiere0")
            _elem53107650.addEventListener("click", function (event) {document.location.href = "/filmInfo53107650"; $$nav.off()});
        </script>
        <div id="premiere1" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118210.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Бродяга Кэнсин</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem51182101 = document.getElementById("premiere1")
            _elem51182101.addEventListener("click", function (event) {document.location.href = "/filmInfo51182101"; $$nav.off()});
        </script>
        <div id="premiere2" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4850225.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Астрал 5: Красная дверь</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem48502252 = document.getElementById("premiere2")
            _elem48502252.addEventListener("click", function (event) {document.location.href = "/filmInfo48502252"; $$nav.off()});
        </script>
        <div id="premiere3" style="background: url('https://bazon.cc/download/poster/5176539.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Здесь подают любовь</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem51765393 = document.getElementById("premiere3")
            _elem51765393.addEventListener("click", function (event) {document.location.href = "/filmInfo51765393"; $$nav.off()});
        </script>
        <div id="premiere4" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5210016.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Увидимся в моей 19-й жизни</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem52100164 = document.getElementById("premiere4")
            _elem52100164.addEventListener("click", function (event) {document.location.href = "/filmInfo52100164"; $$nav.off()});
        </script>
        <div id="premiere5" style="background: url('https://bazon.cc/download/poster/5222995.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Ваша честь</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem52229955 = document.getElementById("premiere5")
            _elem52229955.addEventListener("click", function (event) {document.location.href = "/filmInfo52229955"; $$nav.off()});
        </script>
        <div id="premiere6" style="background: url('https://bazon.cc/download/poster/5331422.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Выжить в Дубае</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem53314226 = document.getElementById("premiere6")
            _elem53314226.addEventListener("click", function (event) {document.location.href = "/filmInfo53314226"; $$nav.off()});
        </script>
        <div id="premiere7" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4645872.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Безумная поездочка</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem46458727 = document.getElementById("premiere7")
            _elem46458727.addEventListener("click", function (event) {document.location.href = "/filmInfo46458727"; $$nav.off()});
        </script>
        <div id="premiere8" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5106374.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Король неба</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem51063748 = document.getElementById("premiere8")
            _elem51063748.addEventListener("click", function (event) {document.location.href = "/filmInfo51063748"; $$nav.off()});
        </script>
        <div id="premiere9" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4423264.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Живопись</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem44232649 = document.getElementById("premiere9")
            _elem44232649.addEventListener("click", function (event) {document.location.href = "/filmInfo44232649"; $$nav.off()});
        </script>
        <div id="premiere10" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4672791.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Потерянные цветы Элис Харт</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem467279110 = document.getElementById("premiere10")
            _elem467279110.addEventListener("click", function (event) {document.location.href = "/filmInfo467279110"; $$nav.off()});
        </script>
        <div id="premiere11" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4701154.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Канал</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem470115411 = document.getElementById("premiere11")
            _elem470115411.addEventListener("click", function (event) {document.location.href = "/filmInfo470115411"; $$nav.off()});
        </script>
        <div id="premiere12" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4947546.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Девичник: Убойная ночь</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem494754612 = document.getElementById("premiere12")
            _elem494754612.addEventListener("click", function (event) {document.location.href = "/filmInfo494754612"; $$nav.off()});
        </script>
        <div id="premiere13" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Обитель зла: Остров смерти</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem526431013 = document.getElementById("premiere13")
            _elem526431013.addEventListener("click", function (event) {document.location.href = "/filmInfo526431013"; $$nav.off()});
        </script>
        <div id="premiere14" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4920605.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Король земли</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem492060514 = document.getElementById("premiere14")
            _elem492060514.addEventListener("click", function (event) {document.location.href = "/filmInfo492060514"; $$nav.off()});
        </script>
        <div id="premiere15" style="background: url('https://bazon.cc/download/poster/4746073.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Хейли в деле!</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem474607315 = document.getElementById("premiere15")
            _elem474607315.addEventListener("click", function (event) {document.location.href = "/filmInfo474607315"; $$nav.off()});
        </script>
        <div id="premiere16" style="background: url('https://bazon.cc/download/poster/4948279.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Агент</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem494827916 = document.getElementById("premiere16")
            _elem494827916.addEventListener("click", function (event) {document.location.href = "/filmInfo494827916"; $$nav.off()});
        </script>
        <div id="premiere17" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1167101.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Чарли и фантастическая четверка</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem116710117 = document.getElementById("premiere17")
            _elem116710117.addEventListener("click", function (event) {document.location.href = "/filmInfo116710117"; $$nav.off()});
        </script>
        <div id="premiere18" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1044002.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Гран Туризмо</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem104400218 = document.getElementById("premiere18")
            _elem104400218.addEventListener("click", function (event) {document.location.href = "/filmInfo104400218"; $$nav.off()});
        </script>
        <div id="premiere19" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1412084.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Спецназ: Львица</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem141208419 = document.getElementById("premiere19")
            _elem141208419.addEventListener("click", function (event) {document.location.href = "/filmInfo141208419"; $$nav.off()});
        </script>
        <div id="premiere20" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305976.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Ещё один шанс</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem530597620 = document.getElementById("premiere20")
            _elem530597620.addEventListener("click", function (event) {document.location.href = "/filmInfo530597620"; $$nav.off()});
        </script>
        <div id="premiere21" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1446821.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>В паутине страха</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem144682121 = document.getElementById("premiere21")
            _elem144682121.addEventListener("click", function (event) {document.location.href = "/filmInfo144682121"; $$nav.off()});
        </script>
        <div id="premiere22" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4987762.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Судьба</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem498776222 = document.getElementById("premiere22")
            _elem498776222.addEventListener("click", function (event) {document.location.href = "/filmInfo498776222"; $$nav.off()});
        </script>
        <div id="premiere23" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5332388.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Найди мне пару</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem533238823 = document.getElementById("premiere23")
            _elem533238823.addEventListener("click", function (event) {document.location.href = "/filmInfo533238823"; $$nav.off()});
        </script>
        <div id="premiere24" style="background: url('https://bazon.cc/download/poster/5106632.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Роковая ошибка моего мужа</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem510663224 = document.getElementById("premiere24")
            _elem510663224.addEventListener("click", function (event) {document.location.href = "/filmInfo510663224"; $$nav.off()});
        </script>
        <div id="premiere25" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5111852.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Злой дух</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem511185225 = document.getElementById("premiere25")
            _elem511185225.addEventListener("click", function (event) {document.location.href = "/filmInfo511185225"; $$nav.off()});
        </script>
        <div id="premiere26" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4925926.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Кроличья нора</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem492592626 = document.getElementById("premiere26")
            _elem492592626.addEventListener("click", function (event) {document.location.href = "/filmInfo492592626"; $$nav.off()});
        </script>
        <div id="premiere27" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5360659.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Лицом к лицу</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem536065927 = document.getElementById("premiere27")
            _elem536065927.addEventListener("click", function (event) {document.location.href = "/filmInfo536065927"; $$nav.off()});
        </script>
        <div id="premiere28" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4655448.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Селфи</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem465544828 = document.getElementById("premiere28")
            _elem465544828.addEventListener("click", function (event) {document.location.href = "/filmInfo465544828"; $$nav.off()});
        </script>
        <div id="premiere29" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1208708.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мег 2: Бездна</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem120870829 = document.getElementById("premiere29")
            _elem120870829.addEventListener("click", function (event) {document.location.href = "/filmInfo120870829"; $$nav.off()});
        </script>
        <div id="premiere30" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4456485.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мои приключения с Суперменом</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem445648530 = document.getElementById("premiere30")
            _elem445648530.addEventListener("click", function (event) {document.location.href = "/filmInfo445648530"; $$nav.off()});
        </script>
        <div id="premiere31" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4968949.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Захваченный рейс</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem496894931 = document.getElementById("premiere31")
            _elem496894931.addEventListener("click", function (event) {document.location.href = "/filmInfo496894931"; $$nav.off()});
        </script>
        <div id="premiere32" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1111005.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Братья Супер Марио в кино</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem111100532 = document.getElementById("premiere32")
            _elem111100532.addEventListener("click", function (event) {document.location.href = "/filmInfo111100532"; $$nav.off()});
        </script>
        <div id="premiere33" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1111005.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Братья Супер Марио в кино</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem111100533 = document.getElementById("premiere33")
            _elem111100533.addEventListener("click", function (event) {document.location.href = "/filmInfo111100533"; $$nav.off()});
        </script>
        <div id="premiere34" style="background: url('https://bazon.cc/download/poster/5192942.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Берегись ночной няни</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem519294234 = document.getElementById("premiere34")
            _elem519294234.addEventListener("click", function (event) {document.location.href = "/filmInfo519294234"; $$nav.off()});
        </script>
        <div id="premiere35" style="background: url('https://bazon.cc/download/poster/5364433.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Из мрака прошлого</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem536443335 = document.getElementById("premiere35")
            _elem536443335.addEventListener("click", function (event) {document.location.href = "/filmInfo536443335"; $$nav.off()});
        </script>
        <div id="premiere36" style="background: url('https://bazon.cc/download/poster/5354794.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Роковое соблазнение</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem535479436 = document.getElementById("premiere36")
            _elem535479436.addEventListener("click", function (event) {document.location.href = "/filmInfo535479436"; $$nav.off()});
        </script>
        <div id="premiere37" style="background: url('https://bazon.cc/download/poster/5124666.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Смертельные семейные узы</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem512466637 = document.getElementById("premiere37")
            _elem512466637.addEventListener("click", function (event) {document.location.href = "/filmInfo512466637"; $$nav.off()});
        </script>
        <div id="premiere38" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4543979.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Новый Камен Райдер</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem454397938 = document.getElementById("premiere38")
            _elem454397938.addEventListener("click", function (event) {document.location.href = "/filmInfo454397938"; $$nav.off()});
        </script>
        <div id="premiere39" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1186274.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Какой-то Энди</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem118627439 = document.getElementById("premiere39")
            _elem118627439.addEventListener("click", function (event) {document.location.href = "/filmInfo118627439"; $$nav.off()});
        </script>
        <div id="premiere40" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5082039.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Лимб</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem508203940 = document.getElementById("premiere40")
            _elem508203940.addEventListener("click", function (event) {document.location.href = "/filmInfo508203940"; $$nav.off()});
        </script>
        <div id="premiere41" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4456485.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мои приключения с Суперменом</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem445648541 = document.getElementById("premiere41")
            _elem445648541.addEventListener("click", function (event) {document.location.href = "/filmInfo445648541"; $$nav.off()});
        </script>
        <div id="premiere42" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4456485.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мои приключения с Суперменом</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem445648542 = document.getElementById("premiere42")
            _elem445648542.addEventListener("click", function (event) {document.location.href = "/filmInfo445648542"; $$nav.off()});
        </script>
        <div id="premiere43" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4912805.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мой счастливый брак</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem491280543 = document.getElementById("premiere43")
            _elem491280543.addEventListener("click", function (event) {document.location.href = "/filmInfo491280543"; $$nav.off()});
        </script>
        <div id="premiere44" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5315494.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>КликКлак шоу</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem531549444 = document.getElementById("premiere44")
            _elem531549444.addEventListener("click", function (event) {document.location.href = "/filmInfo531549444"; $$nav.off()});
        </script>
        <div id="premiere45" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4672791.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Потерянные цветы Элис Харт</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem467279145 = document.getElementById("premiere45")
            _elem467279145.addEventListener("click", function (event) {document.location.href = "/filmInfo467279145"; $$nav.off()});
        </script>
        <div id="premiere46" style="background: url('https://bazon.cc/download/poster/4478804.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Капитан Фолл</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem447880446 = document.getElementById("premiere46")
            _elem447880446.addEventListener("click", function (event) {document.location.href = "/filmInfo447880446"; $$nav.off()});
        </script>
        <div id="premiere47" style="background: url('https://bazon.cc/download/poster/4780867.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Школа-интернат</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem478086747 = document.getElementById("premiere47")
            _elem478086747.addEventListener("click", function (event) {document.location.href = "/filmInfo478086747"; $$nav.off()});
        </script>
        <div id="premiere48" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5141387.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Любовь никогда не заканчивается!</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem514138748 = document.getElementById("premiere48")
            _elem514138748.addEventListener("click", function (event) {document.location.href = "/filmInfo514138748"; $$nav.off()});
        </script>
        <div id="premiere49" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5356482.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Пан Самоходик и тамплиеры</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem535648249 = document.getElementById("premiere49")
            _elem535648249.addEventListener("click", function (event) {document.location.href = "/filmInfo535648249"; $$nav.off()});
        </script>
        