<div id="premiere0" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4974350.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>АльфаРомео</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem49743500 = document.getElementById("premiere0")
            _elem49743500.addEventListener("click", function (event) {document.location.href = "/filmInfo49743500"; $$nav.off()});
        </script>
        <div id="premiere1" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4746500.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Приют</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem47465001 = document.getElementById("premiere1")
            _elem47465001.addEventListener("click", function (event) {document.location.href = "/filmInfo47465001"; $$nav.off()});
        </script>
        <div id="premiere2" style="background: url('https://bazon.cc/download/poster/5322379.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Новый кангасейро</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem53223792 = document.getElementById("premiere2")
            _elem53223792.addEventListener("click", function (event) {document.location.href = "/filmInfo53223792"; $$nav.off()});
        </script>
        <div id="premiere3" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4843291.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Девушка в маске</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem48432913 = document.getElementById("premiere3")
            _elem48432913.addEventListener("click", function (event) {document.location.href = "/filmInfo48432913"; $$nav.off()});
        </script>
        <div id="premiere4" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4912805.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мой счастливый брак</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem49128054 = document.getElementById("premiere4")
            _elem49128054.addEventListener("click", function (event) {document.location.href = "/filmInfo49128054"; $$nav.off()});
        </script>
        <div id="premiere5" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4456485.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мои приключения с Суперменом</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem44564855 = document.getElementById("premiere5")
            _elem44564855.addEventListener("click", function (event) {document.location.href = "/filmInfo44564855"; $$nav.off()});
        </script>
        <div id="premiere6" style="background: url('https://bazon.cc/download/poster/4845727.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Микки Хардэвэй</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem48457276 = document.getElementById("premiere6")
            _elem48457276.addEventListener("click", function (event) {document.location.href = "/filmInfo48457276"; $$nav.off()});
        </script>
        <div id="premiere7" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4947357.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Призрак внутри</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem49473577 = document.getElementById("premiere7")
            _elem49473577.addEventListener("click", function (event) {document.location.href = "/filmInfo49473577"; $$nav.off()});
        </script>
        <div id="premiere8" style="background: url('https://bazon.cc/download/poster/5126236.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Coдepжaнкa-убийцa</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem51262368 = document.getElementById("premiere8")
            _elem51262368.addEventListener("click", function (event) {document.location.href = "/filmInfo51262368"; $$nav.off()});
        </script>
        <div id="premiere9" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5162227.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Магарсус</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem51622279 = document.getElementById("premiere9")
            _elem51622279.addEventListener("click", function (event) {document.location.href = "/filmInfo51622279"; $$nav.off()});
        </script>
        <div id="premiere10" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4672791.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Потерянные цветы Элис Харт</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem467279110 = document.getElementById("premiere10")
            _elem467279110.addEventListener("click", function (event) {document.location.href = "/filmInfo467279110"; $$nav.off()});
        </script>
        <div id="premiere11" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5319826.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Если сильно полюбишь</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem531982611 = document.getElementById("premiere11")
            _elem531982611.addEventListener("click", function (event) {document.location.href = "/filmInfo531982611"; $$nav.off()});
        </script>
        <div id="premiere12" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4479969.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Одной безумной ночью</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem447996912 = document.getElementById("premiere12")
            _elem447996912.addEventListener("click", function (event) {document.location.href = "/filmInfo447996912"; $$nav.off()});
        </script>
        <div id="premiere13" style="background: url('https://bazon.cc/download/poster/5139120.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Обычный Джо</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem513912013 = document.getElementById("premiere13")
            _elem513912013.addEventListener("click", function (event) {document.location.href = "/filmInfo513912013"; $$nav.off()});
        </script>
        <div id="premiere14" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5111852.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Злой дух</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem511185214 = document.getElementById("premiere14")
            _elem511185214.addEventListener("click", function (event) {document.location.href = "/filmInfo511185214"; $$nav.off()});
        </script>
        <div id="premiere15" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5255607.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>СуперИвановы</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem525560715 = document.getElementById("premiere15")
            _elem525560715.addEventListener("click", function (event) {document.location.href = "/filmInfo525560715"; $$nav.off()});
        </script>
        <div id="premiere16" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5227257.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Диагноз «Везучая»</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem522725716 = document.getElementById("premiere16")
            _elem522725716.addEventListener("click", function (event) {document.location.href = "/filmInfo522725716"; $$nav.off()});
        </script>
        <div id="premiere17" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5237997.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Национальное голосование по поводу смертной казни</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem523799717 = document.getElementById("premiere17")
            _elem523799717.addEventListener("click", function (event) {document.location.href = "/filmInfo523799717"; $$nav.off()});
        </script>
        <div id="premiere18" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5237997.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Национальное голосование по поводу смертной казни</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem523799718 = document.getElementById("premiere18")
            _elem523799718.addEventListener("click", function (event) {document.location.href = "/filmInfo523799718"; $$nav.off()});
        </script>
        <div id="premiere19" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1176111.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Избранный</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem117611119 = document.getElementById("premiere19")
            _elem117611119.addEventListener("click", function (event) {document.location.href = "/filmInfo117611119"; $$nav.off()});
        </script>
        <div id="premiere20" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1176111.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Избранный</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem117611120 = document.getElementById("premiere20")
            _elem117611120.addEventListener("click", function (event) {document.location.href = "/filmInfo117611120"; $$nav.off()});
        </script>
        <div id="premiere21" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4948187.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Лучшие дни</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem494818721 = document.getElementById("premiere21")
            _elem494818721.addEventListener("click", function (event) {document.location.href = "/filmInfo494818721"; $$nav.off()});
        </script>
        <div id="premiere22" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5141685.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Странная планета</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem514168522 = document.getElementById("premiere22")
            _elem514168522.addEventListener("click", function (event) {document.location.href = "/filmInfo514168522"; $$nav.off()});
        </script>
        <div id="premiere23" style="background: url('https://bazon.cc/download/poster/4890416.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Спецназ Версаля</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem489041623 = document.getElementById("premiere23")
            _elem489041623.addEventListener("click", function (event) {document.location.href = "/filmInfo489041623"; $$nav.off()});
        </script>
        <div id="premiere24" style="background: url('https://bazon.cc/download/poster/4746977.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Будь со мной если сможешь</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem474697724 = document.getElementById("premiere24")
            _elem474697724.addEventListener("click", function (event) {document.location.href = "/filmInfo474697724"; $$nav.off()});
        </script>
        <div id="premiere25" style="background: url('https://bazon.cc/download/poster/5142294.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Т.И.М.</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem514229425 = document.getElementById("premiere25")
            _elem514229425.addEventListener("click", function (event) {document.location.href = "/filmInfo514229425"; $$nav.off()});
        </script>
        <div id="premiere26" style="background: url('https://bazon.cc/download/poster/5199079.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Асфальт</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem519907926 = document.getElementById("premiere26")
            _elem519907926.addEventListener("click", function (event) {document.location.href = "/filmInfo519907926"; $$nav.off()});
        </script>
        <div id="premiere27" style="background: url('https://bazon.cc/download/poster/5099823.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мигель хочет драться</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem509982327 = document.getElementById("premiere27")
            _elem509982327.addEventListener("click", function (event) {document.location.href = "/filmInfo509982327"; $$nav.off()});
        </script>
        <div id="premiere28" style="background: url('https://bazon.cc/download/poster/1338831.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Домработница</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem133883128 = document.getElementById("premiere28")
            _elem133883128.addEventListener("click", function (event) {document.location.href = "/filmInfo133883128"; $$nav.off()});
        </script>
        <div id="premiere29" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Человек-паук: Паутина вселенных</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem121917729 = document.getElementById("premiere29")
            _elem121917729.addEventListener("click", function (event) {document.location.href = "/filmInfo121917729"; $$nav.off()});
        </script>
        <div id="premiere30" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4889667.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Элементарно</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem488966730 = document.getElementById("premiere30")
            _elem488966730.addEventListener("click", function (event) {document.location.href = "/filmInfo488966730"; $$nav.off()});
        </script>
        <div id="premiere31" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1446821.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>В паутине страха</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem144682131 = document.getElementById("premiere31")
            _elem144682131.addEventListener("click", function (event) {document.location.href = "/filmInfo144682131"; $$nav.off()});
        </script>
        <div id="premiere32" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1319157.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Гипнотик</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem131915732 = document.getElementById("premiere32")
            _elem131915732.addEventListener("click", function (event) {document.location.href = "/filmInfo131915732"; $$nav.off()});
        </script>
        <div id="premiere33" style="background: url('https://bazon.cc/download/poster/4778462.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Нефариус</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem477846233 = document.getElementById("premiere33")
            _elem477846233.addEventListener("click", function (event) {document.location.href = "/filmInfo477846233"; $$nav.off()});
        </script>
        <div id="premiere34" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4985106.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Красный, белый и королевский синий</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem498510634 = document.getElementById("premiere34")
            _elem498510634.addEventListener("click", function (event) {document.location.href = "/filmInfo498510634"; $$nav.off()});
        </script>
        <div id="premiere35" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5297222.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Причина полюбить её</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem529722235 = document.getElementById("premiere35")
            _elem529722235.addEventListener("click", function (event) {document.location.href = "/filmInfo529722235"; $$nav.off()});
        </script>
        <div id="premiere36" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_777031.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Библиотекарь</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem77703136 = document.getElementById("premiere36")
            _elem77703136.addEventListener("click", function (event) {document.location.href = "/filmInfo77703136"; $$nav.off()});
        </script>
        <div id="premiere37" style="background: url('https://bazon.cc/download/poster/5165364.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>База Эхо</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem516536437 = document.getElementById("premiere37")
            _elem516536437.addEventListener("click", function (event) {document.location.href = "/filmInfo516536437"; $$nav.off()});
        </script>
        <div id="premiere38" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4631336.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Джулс</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem463133638 = document.getElementById("premiere38")
            _elem463133638.addEventListener("click", function (event) {document.location.href = "/filmInfo463133638"; $$nav.off()});
        </script>
        <div id="premiere39" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1402701.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Чужой</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem140270139 = document.getElementById("premiere39")
            _elem140270139.addEventListener("click", function (event) {document.location.href = "/filmInfo140270139"; $$nav.off()});
        </script>
        <div id="premiere40" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4757737.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Правосудие: Первобытный город</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem475773740 = document.getElementById("premiere40")
            _elem475773740.addEventListener("click", function (event) {document.location.href = "/filmInfo475773740"; $$nav.off()});
        </script>
        <div id="premiere41" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5357727.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Моя возлюбленная забыла свои очки</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem535772741 = document.getElementById("premiere41")
            _elem535772741.addEventListener("click", function (event) {document.location.href = "/filmInfo535772741"; $$nav.off()});
        </script>
        <div id="premiere42" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5141685.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Странная планета</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem514168542 = document.getElementById("premiere42")
            _elem514168542.addEventListener("click", function (event) {document.location.href = "/filmInfo514168542"; $$nav.off()});
        </script>
        <div id="premiere43" style="background: url('https://bazon.cc/download/poster/4986913.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Маленький костяной домик</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem498691343 = document.getElementById("premiere43")
            _elem498691343.addEventListener("click", function (event) {document.location.href = "/filmInfo498691343"; $$nav.off()});
        </script>
        <div id="premiere44" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5072757.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Время расплаты</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem507275744 = document.getElementById("premiere44")
            _elem507275744.addEventListener("click", function (event) {document.location.href = "/filmInfo507275744"; $$nav.off()});
        </script>
        <div id="premiere45" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4645872.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Безумная поездочка</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem464587245 = document.getElementById("premiere45")
            _elem464587245.addEventListener("click", function (event) {document.location.href = "/filmInfo464587245"; $$nav.off()});
        </script>
        <div id="premiere46" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Человек-паук: Паутина вселенных</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem121917746 = document.getElementById("premiere46")
            _elem121917746.addEventListener("click", function (event) {document.location.href = "/filmInfo121917746"; $$nav.off()});
        </script>
        <div id="premiere47" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1395369.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Леди Баг и Супер-Кот: Пробуждение силы</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem139536947 = document.getElementById("premiere47")
            _elem139536947.addEventListener("click", function (event) {document.location.href = "/filmInfo139536947"; $$nav.off()});
        </script>
        <div id="premiere48" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4889667.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Элементарно</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem488966748 = document.getElementById("premiere48")
            _elem488966748.addEventListener("click", function (event) {document.location.href = "/filmInfo488966748"; $$nav.off()});
        </script>
        <div id="premiere49" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1301761.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Замаячный</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem130176149 = document.getElementById("premiere49")
            _elem130176149.addEventListener("click", function (event) {document.location.href = "/filmInfo130176149"; $$nav.off()});
        </script>
        