<div id="premiere0" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4456485.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мои приключения с Суперменом</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem44564850 = document.getElementById("premiere0")
            _elem44564850.addEventListener("click", function (event) {document.location.href = "/filmInfo44564850"; $$nav.off()});
        </script>
        <div id="premiere1" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4912805.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мой счастливый брак</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem49128051 = document.getElementById("premiere1")
            _elem49128051.addEventListener("click", function (event) {document.location.href = "/filmInfo49128051"; $$nav.off()});
        </script>
        <div id="premiere2" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5141685.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Странная планета</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem51416852 = document.getElementById("premiere2")
            _elem51416852.addEventListener("click", function (event) {document.location.href = "/filmInfo51416852"; $$nav.off()});
        </script>
        <div id="premiere3" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1355224.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Обезболивающее</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem13552243 = document.getElementById("premiere3")
            _elem13552243.addEventListener("click", function (event) {document.location.href = "/filmInfo13552243"; $$nav.off()});
        </script>
        <div id="premiere4" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1355224.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Обезболивающее</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem13552244 = document.getElementById("premiere4")
            _elem13552244.addEventListener("click", function (event) {document.location.href = "/filmInfo13552244"; $$nav.off()});
        </script>
        <div id="premiere5" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5162227.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Магарсус</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem51622275 = document.getElementById("premiere5")
            _elem51622275.addEventListener("click", function (event) {document.location.href = "/filmInfo51622275"; $$nav.off()});
        </script>
        <div id="premiere6" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Человек-паук: Паутина вселенных</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem12191776 = document.getElementById("premiere6")
            _elem12191776.addEventListener("click", function (event) {document.location.href = "/filmInfo12191776"; $$nav.off()});
        </script>
        <div id="premiere7" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4672184.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Шрапнель</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem46721847 = document.getElementById("premiere7")
            _elem46721847.addEventListener("click", function (event) {document.location.href = "/filmInfo46721847"; $$nav.off()});
        </script>
        <div id="premiere8" style="background: url('https://bazon.cc/download/poster/5364881.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Любовь по расчету</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem53648818 = document.getElementById("premiere8")
            _elem53648818.addEventListener("click", function (event) {document.location.href = "/filmInfo53648818"; $$nav.off()});
        </script>
        <div id="premiere9" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4672791.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Потерянные цветы Элис Харт</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem46727919 = document.getElementById("premiere9")
            _elem46727919.addEventListener("click", function (event) {document.location.href = "/filmInfo46727919"; $$nav.off()});
        </script>
        <div id="premiere10" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4745359.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Больше, чем люди</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem474535910 = document.getElementById("premiere10")
            _elem474535910.addEventListener("click", function (event) {document.location.href = "/filmInfo474535910"; $$nav.off()});
        </script>
        <div id="premiere11" style="background: url('https://bazon.cc/download/poster/5139120.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Обычный Джо</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem513912011 = document.getElementById("premiere11")
            _elem513912011.addEventListener("click", function (event) {document.location.href = "/filmInfo513912011"; $$nav.off()});
        </script>
        <div id="premiere12" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4908918.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Герои и злодеи</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem490891812 = document.getElementById("premiere12")
            _elem490891812.addEventListener("click", function (event) {document.location.href = "/filmInfo490891812"; $$nav.off()});
        </script>
        <div id="premiere13" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4750522.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Трое лишних</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem475052213 = document.getElementById("premiere13")
            _elem475052213.addEventListener("click", function (event) {document.location.href = "/filmInfo475052213"; $$nav.off()});
        </script>
        <div id="premiere14" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4987446.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Без обид</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem498744614 = document.getElementById("premiere14")
            _elem498744614.addEventListener("click", function (event) {document.location.href = "/filmInfo498744614"; $$nav.off()});
        </script>
        <div id="premiere15" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5360776.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Покончить со всеми войнами: Оппенгеймер и атомная бомба</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem536077615 = document.getElementById("premiere15")
            _elem536077615.addEventListener("click", function (event) {document.location.href = "/filmInfo536077615"; $$nav.off()});
        </script>
        <div id="premiere16" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4845485.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Плюшевый пузырь</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem484548516 = document.getElementById("premiere16")
            _elem484548516.addEventListener("click", function (event) {document.location.href = "/filmInfo484548516"; $$nav.off()});
        </script>
        <div id="premiere17" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5357727.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Моя возлюбленная забыла свои очки</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem535772717 = document.getElementById("premiere17")
            _elem535772717.addEventListener("click", function (event) {document.location.href = "/filmInfo535772717"; $$nav.off()});
        </script>
        <div id="premiere18" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_937438.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Трансформеры: Восхождение Звероботов</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem93743818 = document.getElementById("premiere18")
            _elem93743818.addEventListener("click", function (event) {document.location.href = "/filmInfo93743818"; $$nav.off()});
        </script>
        <div id="premiere19" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1402701.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Чужой</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem140270119 = document.getElementById("premiere19")
            _elem140270119.addEventListener("click", function (event) {document.location.href = "/filmInfo140270119"; $$nav.off()});
        </script>
        <div id="premiere20" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_777031.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Библиотекарь</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem77703120 = document.getElementById("premiere20")
            _elem77703120.addEventListener("click", function (event) {document.location.href = "/filmInfo77703120"; $$nav.off()});
        </script>
        <div id="premiere21" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4728548.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Открытый брак</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem472854821 = document.getElementById("premiere21")
            _elem472854821.addEventListener("click", function (event) {document.location.href = "/filmInfo472854821"; $$nav.off()});
        </script>
        <div id="premiere22" style="background: url('https://bazon.cc/download/poster/5100129.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Вот так повезло!</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem510012922 = document.getElementById("premiere22")
            _elem510012922.addEventListener("click", function (event) {document.location.href = "/filmInfo510012922"; $$nav.off()});
        </script>
        <div id="premiere23" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4655411.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Невероятное паломничество Гарольда Фрая</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem465541123 = document.getElementById("premiere23")
            _elem465541123.addEventListener("click", function (event) {document.location.href = "/filmInfo465541123"; $$nav.off()});
        </script>
        <div id="premiere24" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5111852.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Злой дух</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem511185224 = document.getElementById("premiere24")
            _elem511185224.addEventListener("click", function (event) {document.location.href = "/filmInfo511185224"; $$nav.off()});
        </script>
        <div id="premiere25" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4757737.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Правосудие: Первобытный город</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem475773725 = document.getElementById("premiere25")
            _elem475773725.addEventListener("click", function (event) {document.location.href = "/filmInfo475773725"; $$nav.off()});
        </script>
        <div id="premiere26" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5141685.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Странная планета</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem514168526 = document.getElementById("premiere26")
            _elem514168526.addEventListener("click", function (event) {document.location.href = "/filmInfo514168526"; $$nav.off()});
        </script>
        <div id="premiere27" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1360099.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Лакадейзи</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem136009927 = document.getElementById("premiere27")
            _elem136009927.addEventListener("click", function (event) {document.location.href = "/filmInfo136009927"; $$nav.off()});
        </script>
        <div id="premiere28" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5319826.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Если сильно полюбишь</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem531982628 = document.getElementById("premiere28")
            _elem531982628.addEventListener("click", function (event) {document.location.href = "/filmInfo531982628"; $$nav.off()});
        </script>
        <div id="premiere29" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5296922.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Джохан 2</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem529692229 = document.getElementById("premiere29")
            _elem529692229.addEventListener("click", function (event) {document.location.href = "/filmInfo529692229"; $$nav.off()});
        </script>
        <div id="premiere30" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5248356.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Шахмаран</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem524835630 = document.getElementById("premiere30")
            _elem524835630.addEventListener("click", function (event) {document.location.href = "/filmInfo524835630"; $$nav.off()});
        </script>
        <div id="premiere31" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4967680.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Очищение</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem496768031 = document.getElementById("premiere31")
            _elem496768031.addEventListener("click", function (event) {document.location.href = "/filmInfo496768031"; $$nav.off()});
        </script>
        <div id="premiere32" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4500536.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Детектив под кайфом</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem450053632 = document.getElementById("premiere32")
            _elem450053632.addEventListener("click", function (event) {document.location.href = "/filmInfo450053632"; $$nav.off()});
        </script>
        <div id="premiere33" style="background: url('https://bazon.cc/download/poster/1179918.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Единственная женщина в мире</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem117991833 = document.getElementById("premiere33")
            _elem117991833.addEventListener("click", function (event) {document.location.href = "/filmInfo117991833"; $$nav.off()});
        </script>
        <div id="premiere34" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Лига Справедливости: Мир войны</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem530544234 = document.getElementById("premiere34")
            _elem530544234.addEventListener("click", function (event) {document.location.href = "/filmInfo530544234"; $$nav.off()});
        </script>
        <div id="premiere35" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Лига Справедливости: Мир войны</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem530544235 = document.getElementById("premiere35")
            _elem530544235.addEventListener("click", function (event) {document.location.href = "/filmInfo530544235"; $$nav.off()});
        </script>
        <div id="premiere36" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5354576.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Вселенная зомби</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem535457636 = document.getElementById("premiere36")
            _elem535457636.addEventListener("click", function (event) {document.location.href = "/filmInfo535457636"; $$nav.off()});
        </script>
        <div id="premiere37" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5319979.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Черный двор</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem531997937 = document.getElementById("premiere37")
            _elem531997937.addEventListener("click", function (event) {document.location.href = "/filmInfo531997937"; $$nav.off()});
        </script>
        <div id="premiere38" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5035020.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Триган: Ураган</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem503502038 = document.getElementById("premiere38")
            _elem503502038.addEventListener("click", function (event) {document.location.href = "/filmInfo503502038"; $$nav.off()});
        </script>
        <div id="premiere39" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5098414.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мастер на все руки Саито в другом мире</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem509841439 = document.getElementById("premiere39")
            _elem509841439.addEventListener("click", function (event) {document.location.href = "/filmInfo509841439"; $$nav.off()});
        </script>
        <div id="premiere40" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5165120.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Магическая революция перерождённой принцессы и гениальной юной леди</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem516512040 = document.getElementById("premiere40")
            _elem516512040.addEventListener("click", function (event) {document.location.href = "/filmInfo516512040"; $$nav.off()});
        </script>
        <div id="premiere41" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118210.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Бродяга Кэнсин</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem511821041 = document.getElementById("premiere41")
            _elem511821041.addEventListener("click", function (event) {document.location.href = "/filmInfo511821041"; $$nav.off()});
        </script>
        <div id="premiere42" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309392.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мечта</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem130939242 = document.getElementById("premiere42")
            _elem130939242.addEventListener("click", function (event) {document.location.href = "/filmInfo130939242"; $$nav.off()});
        </script>
        <div id="premiere43" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1301761.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Замаячный</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem130176143 = document.getElementById("premiere43")
            _elem130176143.addEventListener("click", function (event) {document.location.href = "/filmInfo130176143"; $$nav.off()});
        </script>
        <div id="premiere44" style="background: url('https://bazon.cc/download/poster/4826605.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Аврора</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem482660544 = document.getElementById("premiere44")
            _elem482660544.addEventListener("click", function (event) {document.location.href = "/filmInfo482660544"; $$nav.off()});
        </script>
        <div id="premiere45" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5355824.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Душа не слышит</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem535582445 = document.getElementById("premiere45")
            _elem535582445.addEventListener("click", function (event) {document.location.href = "/filmInfo535582445"; $$nav.off()});
        </script>
        <div id="premiere46" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1412084.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Спецназ: Львица</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem141208446 = document.getElementById("premiere46")
            _elem141208446.addEventListener("click", function (event) {document.location.href = "/filmInfo141208446"; $$nav.off()});
        </script>
        <div id="premiere47" style="background: url('https://bazon.cc/download/poster/5139120.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Обычный Джо</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem513912047 = document.getElementById("premiere47")
            _elem513912047.addEventListener("click", function (event) {document.location.href = "/filmInfo513912047"; $$nav.off()});
        </script>
        <div id="premiere48" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5364390.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Король и Шут: Сказка о Горшке и Князе</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem536439048 = document.getElementById("premiere48")
            _elem536439048.addEventListener("click", function (event) {document.location.href = "/filmInfo536439048"; $$nav.off()});
        </script>
        <div id="premiere49" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4745555.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мама, можно мне?</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem474555549 = document.getElementById("premiere49")
            _elem474555549.addEventListener("click", function (event) {document.location.href = "/filmInfo474555549"; $$nav.off()});
        </script>
        