<div id="premiere0" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5309876.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Леди Дуриан</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem53098760 = document.getElementById("premiere0")
            _elem53098760.addEventListener("click", function (event) {document.location.href = "/filmInfo53098760"; $$nav.off()});
        </script>
        <div id="premiere1" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4751424.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Ужас Истфилда. Первое изгнание</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem47514241 = document.getElementById("premiere1")
            _elem47514241.addEventListener("click", function (event) {document.location.href = "/filmInfo47514241"; $$nav.off()});
        </script>
        <div id="premiere2" style="background: url('https://bazon.cc/download/poster/5053842.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Хождение по мукам</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem50538422 = document.getElementById("premiere2")
            _elem50538422.addEventListener("click", function (event) {document.location.href = "/filmInfo50538422"; $$nav.off()});
        </script>
        <div id="premiere3" style="background: url('https://bazon.cc/download/poster/5082399.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>По зову долга</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem50823993 = document.getElementById("premiere3")
            _elem50823993.addEventListener("click", function (event) {document.location.href = "/filmInfo50823993"; $$nav.off()});
        </script>
        <div id="premiere4" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4672184.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Шрапнель</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem46721844 = document.getElementById("premiere4")
            _elem46721844.addEventListener("click", function (event) {document.location.href = "/filmInfo46721844"; $$nav.off()});
        </script>
        <div id="premiere5" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4982929.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Звездные войны: Приключения юных джедаев</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem49829295 = document.getElementById("premiere5")
            _elem49829295.addEventListener("click", function (event) {document.location.href = "/filmInfo49829295"; $$nav.off()});
        </script>
        <div id="premiere6" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4536580.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Баба Яга спасает мир</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem45365806 = document.getElementById("premiere6")
            _elem45365806.addEventListener("click", function (event) {document.location.href = "/filmInfo45365806"; $$nav.off()});
        </script>
        <div id="premiere7" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5106374.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Король неба</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem51063747 = document.getElementById("premiere7")
            _elem51063747.addEventListener("click", function (event) {document.location.href = "/filmInfo51063747"; $$nav.off()});
        </script>
        <div id="premiere8" style="background: url('https://bazon.cc/download/poster/4498651.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Кровь за кровь</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem44986518 = document.getElementById("premiere8")
            _elem44986518.addEventListener("click", function (event) {document.location.href = "/filmInfo44986518"; $$nav.off()});
        </script>
        <div id="premiere9" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Человек-паук: Паутина вселенных</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem12191779 = document.getElementById("premiere9")
            _elem12191779.addEventListener("click", function (event) {document.location.href = "/filmInfo12191779"; $$nav.off()});
        </script>
        <div id="premiere10" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4423264.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Живопись</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem442326410 = document.getElementById("premiere10")
            _elem442326410.addEventListener("click", function (event) {document.location.href = "/filmInfo442326410"; $$nav.off()});
        </script>
        <div id="premiere11" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1412084.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Спецназ: Львица</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem141208411 = document.getElementById("premiere11")
            _elem141208411.addEventListener("click", function (event) {document.location.href = "/filmInfo141208411"; $$nav.off()});
        </script>
        <div id="premiere12" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Лига Справедливости: Мир войны</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem530544212 = document.getElementById("premiere12")
            _elem530544212.addEventListener("click", function (event) {document.location.href = "/filmInfo530544212"; $$nav.off()});
        </script>
        <div id="premiere13" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5325611.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Коллектив</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem532561113 = document.getElementById("premiere13")
            _elem532561113.addEventListener("click", function (event) {document.location.href = "/filmInfo532561113"; $$nav.off()});
        </script>
        <div id="premiere14" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4645872.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Безумная поездочка</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem464587214 = document.getElementById("premiere14")
            _elem464587214.addEventListener("click", function (event) {document.location.href = "/filmInfo464587214"; $$nav.off()});
        </script>
        <div id="premiere15" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5364390.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Король и Шут: Сказка о Горшке и Князе</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem536439015 = document.getElementById("premiere15")
            _elem536439015.addEventListener("click", function (event) {document.location.href = "/filmInfo536439015"; $$nav.off()});
        </script>
        <div id="premiere16" style="background: url('https://bazon.cc/download/poster/1436858.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Варшавянка</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem143685816 = document.getElementById("premiere16")
            _elem143685816.addEventListener("click", function (event) {document.location.href = "/filmInfo143685816"; $$nav.off()});
        </script>
        <div id="premiere17" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4850225.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Астрал 5: Красная дверь</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem485022517 = document.getElementById("premiere17")
            _elem485022517.addEventListener("click", function (event) {document.location.href = "/filmInfo485022517"; $$nav.off()});
        </script>
        <div id="premiere18" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309392.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мечта</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem130939218 = document.getElementById("premiere18")
            _elem130939218.addEventListener("click", function (event) {document.location.href = "/filmInfo130939218"; $$nav.off()});
        </script>
        <div id="premiere19" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4715481.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Дыхание</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem471548119 = document.getElementById("premiere19")
            _elem471548119.addEventListener("click", function (event) {document.location.href = "/filmInfo471548119"; $$nav.off()});
        </script>
        <div id="premiere20" style="background: url('https://bazon.cc/download/poster/5331422.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Выжить в Дубае</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem533142220 = document.getElementById("premiere20")
            _elem533142220.addEventListener("click", function (event) {document.location.href = "/filmInfo533142220"; $$nav.off()});
        </script>
        <div id="premiere21" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5310765.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Стать шефом</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem531076521 = document.getElementById("premiere21")
            _elem531076521.addEventListener("click", function (event) {document.location.href = "/filmInfo531076521"; $$nav.off()});
        </script>
        <div id="premiere22" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118210.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Бродяга Кэнсин</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem511821022 = document.getElementById("premiere22")
            _elem511821022.addEventListener("click", function (event) {document.location.href = "/filmInfo511821022"; $$nav.off()});
        </script>
        <div id="premiere23" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4850225.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Астрал 5: Красная дверь</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem485022523 = document.getElementById("premiere23")
            _elem485022523.addEventListener("click", function (event) {document.location.href = "/filmInfo485022523"; $$nav.off()});
        </script>
        <div id="premiere24" style="background: url('https://bazon.cc/download/poster/5176539.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Здесь подают любовь</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem517653924 = document.getElementById("premiere24")
            _elem517653924.addEventListener("click", function (event) {document.location.href = "/filmInfo517653924"; $$nav.off()});
        </script>
        <div id="premiere25" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5210016.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Увидимся в моей 19-й жизни</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem521001625 = document.getElementById("premiere25")
            _elem521001625.addEventListener("click", function (event) {document.location.href = "/filmInfo521001625"; $$nav.off()});
        </script>
        <div id="premiere26" style="background: url('https://bazon.cc/download/poster/5222995.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Ваша честь</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem522299526 = document.getElementById("premiere26")
            _elem522299526.addEventListener("click", function (event) {document.location.href = "/filmInfo522299526"; $$nav.off()});
        </script>
        <div id="premiere27" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4672791.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Потерянные цветы Элис Харт</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem467279127 = document.getElementById("premiere27")
            _elem467279127.addEventListener("click", function (event) {document.location.href = "/filmInfo467279127"; $$nav.off()});
        </script>
        <div id="premiere28" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4701154.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Канал</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem470115428 = document.getElementById("premiere28")
            _elem470115428.addEventListener("click", function (event) {document.location.href = "/filmInfo470115428"; $$nav.off()});
        </script>
        <div id="premiere29" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4947546.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Девичник: Убойная ночь</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem494754629 = document.getElementById("premiere29")
            _elem494754629.addEventListener("click", function (event) {document.location.href = "/filmInfo494754629"; $$nav.off()});
        </script>
        <div id="premiere30" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Обитель зла: Остров смерти</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem526431030 = document.getElementById("premiere30")
            _elem526431030.addEventListener("click", function (event) {document.location.href = "/filmInfo526431030"; $$nav.off()});
        </script>
        <div id="premiere31" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4920605.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Король земли</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem492060531 = document.getElementById("premiere31")
            _elem492060531.addEventListener("click", function (event) {document.location.href = "/filmInfo492060531"; $$nav.off()});
        </script>
        <div id="premiere32" style="background: url('https://bazon.cc/download/poster/4746073.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Хейли в деле!</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem474607332 = document.getElementById("premiere32")
            _elem474607332.addEventListener("click", function (event) {document.location.href = "/filmInfo474607332"; $$nav.off()});
        </script>
        <div id="premiere33" style="background: url('https://bazon.cc/download/poster/4948279.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Агент</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem494827933 = document.getElementById("premiere33")
            _elem494827933.addEventListener("click", function (event) {document.location.href = "/filmInfo494827933"; $$nav.off()});
        </script>
        <div id="premiere34" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1167101.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Чарли и фантастическая четверка</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem116710134 = document.getElementById("premiere34")
            _elem116710134.addEventListener("click", function (event) {document.location.href = "/filmInfo116710134"; $$nav.off()});
        </script>
        <div id="premiere35" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1044002.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Гран Туризмо</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem104400235 = document.getElementById("premiere35")
            _elem104400235.addEventListener("click", function (event) {document.location.href = "/filmInfo104400235"; $$nav.off()});
        </script>
        <div id="premiere36" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1412084.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Спецназ: Львица</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem141208436 = document.getElementById("premiere36")
            _elem141208436.addEventListener("click", function (event) {document.location.href = "/filmInfo141208436"; $$nav.off()});
        </script>
        <div id="premiere37" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305976.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Ещё один шанс</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem530597637 = document.getElementById("premiere37")
            _elem530597637.addEventListener("click", function (event) {document.location.href = "/filmInfo530597637"; $$nav.off()});
        </script>
        <div id="premiere38" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1446821.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>В паутине страха</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem144682138 = document.getElementById("premiere38")
            _elem144682138.addEventListener("click", function (event) {document.location.href = "/filmInfo144682138"; $$nav.off()});
        </script>
        <div id="premiere39" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4987762.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Судьба</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem498776239 = document.getElementById("premiere39")
            _elem498776239.addEventListener("click", function (event) {document.location.href = "/filmInfo498776239"; $$nav.off()});
        </script>
        <div id="premiere40" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5332388.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Найди мне пару</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem533238840 = document.getElementById("premiere40")
            _elem533238840.addEventListener("click", function (event) {document.location.href = "/filmInfo533238840"; $$nav.off()});
        </script>
        <div id="premiere41" style="background: url('https://bazon.cc/download/poster/5106632.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Роковая ошибка моего мужа</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem510663241 = document.getElementById("premiere41")
            _elem510663241.addEventListener("click", function (event) {document.location.href = "/filmInfo510663241"; $$nav.off()});
        </script>
        <div id="premiere42" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5111852.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Злой дух</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem511185242 = document.getElementById("premiere42")
            _elem511185242.addEventListener("click", function (event) {document.location.href = "/filmInfo511185242"; $$nav.off()});
        </script>
        <div id="premiere43" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4925926.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Кроличья нора</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem492592643 = document.getElementById("premiere43")
            _elem492592643.addEventListener("click", function (event) {document.location.href = "/filmInfo492592643"; $$nav.off()});
        </script>
        <div id="premiere44" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5360659.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Лицом к лицу</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem536065944 = document.getElementById("premiere44")
            _elem536065944.addEventListener("click", function (event) {document.location.href = "/filmInfo536065944"; $$nav.off()});
        </script>
        <div id="premiere45" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4655448.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Селфи</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem465544845 = document.getElementById("premiere45")
            _elem465544845.addEventListener("click", function (event) {document.location.href = "/filmInfo465544845"; $$nav.off()});
        </script>
        <div id="premiere46" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1208708.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мег 2: Бездна</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem120870846 = document.getElementById("premiere46")
            _elem120870846.addEventListener("click", function (event) {document.location.href = "/filmInfo120870846"; $$nav.off()});
        </script>
        <div id="premiere47" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4456485.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мои приключения с Суперменом</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem445648547 = document.getElementById("premiere47")
            _elem445648547.addEventListener("click", function (event) {document.location.href = "/filmInfo445648547"; $$nav.off()});
        </script>
        <div id="premiere48" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4968949.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Захваченный рейс</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem496894948 = document.getElementById("premiere48")
            _elem496894948.addEventListener("click", function (event) {document.location.href = "/filmInfo496894948"; $$nav.off()});
        </script>
        <div id="premiere49" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1111005.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Братья Супер Марио в кино</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem111100549 = document.getElementById("premiere49")
            _elem111100549.addEventListener("click", function (event) {document.location.href = "/filmInfo111100549"; $$nav.off()});
        </script>
        