<div id="premiere0" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4456485.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Мои приключения с Суперменом</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem44564850 = document.getElementById("premiere0")
            _elem44564850.addEventListener("click", function (event) {document.location.href = "/filmInfo44564850"; $$nav.off()});
        </script>
        <div id="premiere1" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4912805.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Мой счастливый брак</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem49128051 = document.getElementById("premiere1")
            _elem49128051.addEventListener("click", function (event) {document.location.href = "/filmInfo49128051"; $$nav.off()});
        </script>
        <div id="premiere2" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5307845.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Ты мой бриллиант</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem53078452 = document.getElementById("premiere2")
            _elem53078452.addEventListener("click", function (event) {document.location.href = "/filmInfo53078452"; $$nav.off()});
        </script>
        <div id="premiere3" style="background: url('https://bazon.cc/download/poster/4895015.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Нарядное пугало</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem48950153 = document.getElementById("premiere3")
            _elem48950153.addEventListener("click", function (event) {document.location.href = "/filmInfo48950153"; $$nav.off()});
        </script>
        <div id="premiere4" style="background: url('https://bazon.cc/download/poster/4780867.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Школа-интернат</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem47808674 = document.getElementById("premiere4")
            _elem47808674.addEventListener("click", function (event) {document.location.href = "/filmInfo47808674"; $$nav.off()});
        </script>
        <div id="premiere5" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5111852.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Злой дух</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem51118525 = document.getElementById("premiere5")
            _elem51118525.addEventListener("click", function (event) {document.location.href = "/filmInfo51118525"; $$nav.off()});
        </script>
        <div id="premiere6" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4397762.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Скрежет металла</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem43977626 = document.getElementById("premiere6")
            _elem43977626.addEventListener("click", function (event) {document.location.href = "/filmInfo43977626"; $$nav.off()});
        </script>
        <div id="premiere7" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4922751.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Замкнутый круг</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem49227517 = document.getElementById("premiere7")
            _elem49227517.addEventListener("click", function (event) {document.location.href = "/filmInfo49227517"; $$nav.off()});
        </script>
        <div id="premiere8" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4424478.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Переполненная комната</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem44244788 = document.getElementById("premiere8")
            _elem44244788.addEventListener("click", function (event) {document.location.href = "/filmInfo44244788"; $$nav.off()});
        </script>
        <div id="premiere9" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4424478.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Переполненная комната</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem44244789 = document.getElementById("premiere9")
            _elem44244789.addEventListener("click", function (event) {document.location.href = "/filmInfo44244789"; $$nav.off()});
        </script>
        <div id="premiere10" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4397762.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Скрежет металла</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem439776210 = document.getElementById("premiere10")
            _elem439776210.addEventListener("click", function (event) {document.location.href = "/filmInfo439776210"; $$nav.off()});
        </script>
        <div id="premiere11" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5123188.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>До встречи на Венере</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem512318811 = document.getElementById("premiere11")
            _elem512318811.addEventListener("click", function (event) {document.location.href = "/filmInfo512318811"; $$nav.off()});
        </script>
        <div id="premiere12" style="background: url('https://bazon.cc/download/poster/5356024.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Команда Z</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem535602412 = document.getElementById("premiere12")
            _elem535602412.addEventListener("click", function (event) {document.location.href = "/filmInfo535602412"; $$nav.off()});
        </script>
        <div id="premiere13" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1402701.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Чужой</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem140270113 = document.getElementById("premiere13")
            _elem140270113.addEventListener("click", function (event) {document.location.href = "/filmInfo140270113"; $$nav.off()});
        </script>
        <div id="premiere14" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1421572.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Секретное вторжение</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem142157214 = document.getElementById("premiere14")
            _elem142157214.addEventListener("click", function (event) {document.location.href = "/filmInfo142157214"; $$nav.off()});
        </script>
        <div id="premiere15" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5247444.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Макс и Гусь</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem524744415 = document.getElementById("premiere15")
            _elem524744415.addEventListener("click", function (event) {document.location.href = "/filmInfo524744415"; $$nav.off()});
        </script>
        <div id="premiere16" style="background: url('https://bazon.cc/download/poster/4748517.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Брага</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem474851716 = document.getElementById("premiere16")
            _elem474851716.addEventListener("click", function (event) {document.location.href = "/filmInfo474851716"; $$nav.off()});
        </script>
        <div id="premiere17" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5245401.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Угрызения совести</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem524540117 = document.getElementById("premiere17")
            _elem524540117.addEventListener("click", function (event) {document.location.href = "/filmInfo524540117"; $$nav.off()});
        </script>
        <div id="premiere18" style="background: url('https://bazon.cc/download/poster/5139120.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Обычный Джо</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem513912018 = document.getElementById("premiere18")
            _elem513912018.addEventListener("click", function (event) {document.location.href = "/filmInfo513912018"; $$nav.off()});
        </script>
        <div id="premiere19" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4922751.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Замкнутый круг</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem492275119 = document.getElementById("premiere19")
            _elem492275119.addEventListener("click", function (event) {document.location.href = "/filmInfo492275119"; $$nav.off()});
        </script>
        <div id="premiere20" style="background: url('https://bazon.cc/download/poster/5082399.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>По зову долга</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem508239920 = document.getElementById("premiere20")
            _elem508239920.addEventListener("click", function (event) {document.location.href = "/filmInfo508239920"; $$nav.off()});
        </script>
        <div id="premiere21" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5111852.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Злой дух</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem511185221 = document.getElementById("premiere21")
            _elem511185221.addEventListener("click", function (event) {document.location.href = "/filmInfo511185221"; $$nav.off()});
        </script>
        <div id="premiere22" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4968949.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Захваченный рейс</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem496894922 = document.getElementById("premiere22")
            _elem496894922.addEventListener("click", function (event) {document.location.href = "/filmInfo496894922"; $$nav.off()});
        </script>
        <div id="premiere23" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4922751.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Замкнутый круг</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem492275123 = document.getElementById("premiere23")
            _elem492275123.addEventListener("click", function (event) {document.location.href = "/filmInfo492275123"; $$nav.off()});
        </script>
        <div id="premiere24" style="background: url('https://bazon.cc/download/poster/4498651.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Кровь за кровь</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem449865124 = document.getElementById("premiere24")
            _elem449865124.addEventListener("click", function (event) {document.location.href = "/filmInfo449865124"; $$nav.off()});
        </script>
        <div id="premiere25" style="background: url('https://bazon.cc/download/poster/5351787.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Вторая половинка</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem535178725 = document.getElementById("premiere25")
            _elem535178725.addEventListener("click", function (event) {document.location.href = "/filmInfo535178725"; $$nav.off()});
        </script>
        <div id="premiere26" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4968949.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Захваченный рейс</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem496894926 = document.getElementById("premiere26")
            _elem496894926.addEventListener("click", function (event) {document.location.href = "/filmInfo496894926"; $$nav.off()});
        </script>
        <div id="premiere27" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1421572.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Секретное вторжение</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem142157227 = document.getElementById("premiere27")
            _elem142157227.addEventListener("click", function (event) {document.location.href = "/filmInfo142157227"; $$nav.off()});
        </script>
        <div id="premiere28" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1421572.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Секретное вторжение</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem142157228 = document.getElementById("premiere28")
            _elem142157228.addEventListener("click", function (event) {document.location.href = "/filmInfo142157228"; $$nav.off()});
        </script>
        <div id="premiere29" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4728548.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Открытый брак</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem472854829 = document.getElementById("premiere29")
            _elem472854829.addEventListener("click", function (event) {document.location.href = "/filmInfo472854829"; $$nav.off()});
        </script>
        <div id="premiere30" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1421572.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Секретное вторжение</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem142157230 = document.getElementById("premiere30")
            _elem142157230.addEventListener("click", function (event) {document.location.href = "/filmInfo142157230"; $$nav.off()});
        </script>
        <div id="premiere31" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4968949.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Захваченный рейс</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem496894931 = document.getElementById("premiere31")
            _elem496894931.addEventListener("click", function (event) {document.location.href = "/filmInfo496894931"; $$nav.off()});
        </script>
        <div id="premiere32" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4910071.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Не буди во мне киллера</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem491007132 = document.getElementById("premiere32")
            _elem491007132.addEventListener("click", function (event) {document.location.href = "/filmInfo491007132"; $$nav.off()});
        </script>
        <div id="premiere33" style="background: url('https://bazon.cc/download/poster/4860765.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Осада</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem486076533 = document.getElementById("premiere33")
            _elem486076533.addEventListener("click", function (event) {document.location.href = "/filmInfo486076533"; $$nav.off()});
        </script>
        <div id="premiere34" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5121100.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Ниер: Автомата - Версия 1.1а</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem512110034 = document.getElementById("premiere34")
            _elem512110034.addEventListener("click", function (event) {document.location.href = "/filmInfo512110034"; $$nav.off()});
        </script>
        <div id="premiere35" style="background: url('https://bazon.cc/download/poster/4672960.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Солнце и Луна</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem467296035 = document.getElementById("premiere35")
            _elem467296035.addEventListener("click", function (event) {document.location.href = "/filmInfo467296035"; $$nav.off()});
        </script>
        <div id="premiere36" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5264310.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Обитель зла: Остров смерти</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem526431036 = document.getElementById("premiere36")
            _elem526431036.addEventListener("click", function (event) {document.location.href = "/filmInfo526431036"; $$nav.off()});
        </script>
        <div id="premiere37" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4757737.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Правосудие: Первобытный город</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem475773737 = document.getElementById("premiere37")
            _elem475773737.addEventListener("click", function (event) {document.location.href = "/filmInfo475773737"; $$nav.off()});
        </script>
        <div id="premiere38" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1421572.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Секретное вторжение</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem142157238 = document.getElementById("premiere38")
            _elem142157238.addEventListener("click", function (event) {document.location.href = "/filmInfo142157238"; $$nav.off()});
        </script>
        <div id="premiere39" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4631912.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>По блуждающим тропам</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem463191239 = document.getElementById("premiere39")
            _elem463191239.addEventListener("click", function (event) {document.location.href = "/filmInfo463191239"; $$nav.off()});
        </script>
        <div id="premiere40" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5106374.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Король неба</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem510637440 = document.getElementById("premiere40")
            _elem510637440.addEventListener("click", function (event) {document.location.href = "/filmInfo510637440"; $$nav.off()});
        </script>
        <div id="premiere41" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4543979.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Новый Камен Райдер</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem454397941 = document.getElementById("premiere41")
            _elem454397941.addEventListener("click", function (event) {document.location.href = "/filmInfo454397941"; $$nav.off()});
        </script>
        <div id="premiere42" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5357727.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Моя возлюбленная забыла свои очки</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem535772742 = document.getElementById("premiere42")
            _elem535772742.addEventListener("click", function (event) {document.location.href = "/filmInfo535772742"; $$nav.off()});
        </script>
        <div id="premiere43" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4968949.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Захваченный рейс</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem496894943 = document.getElementById("premiere43")
            _elem496894943.addEventListener("click", function (event) {document.location.href = "/filmInfo496894943"; $$nav.off()});
        </script>
        <div id="premiere44" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5355824.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Душа не слышит</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem535582444 = document.getElementById("premiere44")
            _elem535582444.addEventListener("click", function (event) {document.location.href = "/filmInfo535582444"; $$nav.off()});
        </script>
        <div id="premiere45" style="background: url('https://bazon.cc/download/poster/4701189.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>О нем и о ней</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem470118945 = document.getElementById("premiere45")
            _elem470118945.addEventListener("click", function (event) {document.location.href = "/filmInfo470118945"; $$nav.off()});
        </script>
        <div id="premiere46" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_999881.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Русалочка</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem99988146 = document.getElementById("premiere46")
            _elem99988146.addEventListener("click", function (event) {document.location.href = "/filmInfo99988146"; $$nav.off()});
        </script>
        <div id="premiere47" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_999881.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Русалочка</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem99988147 = document.getElementById("premiere47")
            _elem99988147.addEventListener("click", function (event) {document.location.href = "/filmInfo99988147"; $$nav.off()});
        </script>
        <div id="premiere48" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4477067.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Уикенд с батей</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem447706748 = document.getElementById("premiere48")
            _elem447706748.addEventListener("click", function (event) {document.location.href = "/filmInfo447706748"; $$nav.off()});
        </script>
        <div id="premiere49" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5319826.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item" data-nav_ud="0,0,#film0,0">
            <div class="premieresText text">
            <h1>Если сильно полюбишь</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem531982649 = document.getElementById("premiere49")
            _elem531982649.addEventListener("click", function (event) {document.location.href = "/filmInfo531982649"; $$nav.off()});
        </script>
        