<div id="premiere0" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5303815.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Взрослым не понять</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem53038150 = document.getElementById("premiere0")
            _elem53038150.addEventListener("click", function (event) {document.location.href = "/filmInfo53038150"; $$nav.off()});
        </script>
        <div id="premiere1" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5272214.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Прощальное письмо</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem52722141 = document.getElementById("premiere1")
            _elem52722141.addEventListener("click", function (event) {document.location.href = "/filmInfo52722141"; $$nav.off()});
        </script>
        <div id="premiere2" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1446821.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>В паутине страха</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem14468212 = document.getElementById("premiere2")
            _elem14468212.addEventListener("click", function (event) {document.location.href = "/filmInfo14468212"; $$nav.off()});
        </script>
        <div id="premiere3" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1045082.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Круче некуда</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem10450823 = document.getElementById("premiere3")
            _elem10450823.addEventListener("click", function (event) {document.location.href = "/filmInfo10450823"; $$nav.off()});
        </script>
        <div id="premiere4" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4986575.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Книжный клуб 2</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem49865754 = document.getElementById("premiere4")
            _elem49865754.addEventListener("click", function (event) {document.location.href = "/filmInfo49865754"; $$nav.off()});
        </script>
        <div id="premiere5" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4397762.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Скрежет металла</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem43977625 = document.getElementById("premiere5")
            _elem43977625.addEventListener("click", function (event) {document.location.href = "/filmInfo43977625"; $$nav.off()});
        </script>
        <div id="premiere6" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4557113.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Потомок</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem45571136 = document.getElementById("premiere6")
            _elem45571136.addEventListener("click", function (event) {document.location.href = "/filmInfo45571136"; $$nav.off()});
        </script>
        <div id="premiere7" style="background: url('https://bazon.cc/download/poster/5139205.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Рай</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem51392057 = document.getElementById("premiere7")
            _elem51392057.addEventListener("click", function (event) {document.location.href = "/filmInfo51392057"; $$nav.off()});
        </script>
        <div id="premiere8" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1421572.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Секретное вторжение</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem14215728 = document.getElementById("premiere8")
            _elem14215728.addEventListener("click", function (event) {document.location.href = "/filmInfo14215728"; $$nav.off()});
        </script>
        <div id="premiere9" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4925926.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Кроличья нора</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem49259269 = document.getElementById("premiere9")
            _elem49259269.addEventListener("click", function (event) {document.location.href = "/filmInfo49259269"; $$nav.off()});
        </script>
        <div id="premiere10" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4922751.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Замкнутый круг</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem492275110 = document.getElementById("premiere10")
            _elem492275110.addEventListener("click", function (event) {document.location.href = "/filmInfo492275110"; $$nav.off()});
        </script>
        <div id="premiere11" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1395369.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Леди Баг и Супер-Кот: Пробуждение силы</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem139536911 = document.getElementById("premiere11")
            _elem139536911.addEventListener("click", function (event) {document.location.href = "/filmInfo139536911"; $$nav.off()});
        </script>
        <div id="premiere12" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4424478.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Переполненная комната</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem442447812 = document.getElementById("premiere12")
            _elem442447812.addEventListener("click", function (event) {document.location.href = "/filmInfo442447812"; $$nav.off()});
        </script>
        <div id="premiere13" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4424478.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Переполненная комната</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem442447813 = document.getElementById("premiere13")
            _elem442447813.addEventListener("click", function (event) {document.location.href = "/filmInfo442447813"; $$nav.off()});
        </script>
        <div id="premiere14" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4925815.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Волнение</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem492581514 = document.getElementById("premiere14")
            _elem492581514.addEventListener("click", function (event) {document.location.href = "/filmInfo492581514"; $$nav.off()});
        </script>
        <div id="premiere15" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Лига Справедливости: Мир войны</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem530544215 = document.getElementById("premiere15")
            _elem530544215.addEventListener("click", function (event) {document.location.href = "/filmInfo530544215"; $$nav.off()});
        </script>
        <div id="premiere16" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5331438.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Приёмный покой</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem533143816 = document.getElementById("premiere16")
            _elem533143816.addEventListener("click", function (event) {document.location.href = "/filmInfo533143816"; $$nav.off()});
        </script>
        <div id="premiere17" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_777031.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Библиотекарь</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem77703117 = document.getElementById("premiere17")
            _elem77703117.addEventListener("click", function (event) {document.location.href = "/filmInfo77703117"; $$nav.off()});
        </script>
        <div id="premiere18" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4744698.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Счастье для начинающих</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem474469818 = document.getElementById("premiere18")
            _elem474469818.addEventListener("click", function (event) {document.location.href = "/filmInfo474469818"; $$nav.off()});
        </script>
        <div id="premiere19" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4744698.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Счастье для начинающих</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem474469819 = document.getElementById("premiere19")
            _elem474469819.addEventListener("click", function (event) {document.location.href = "/filmInfo474469819"; $$nav.off()});
        </script>
        <div id="premiere20" style="background: url('https://bazon.cc/download/poster/4895015.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Нарядное пугало</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem489501520 = document.getElementById("premiere20")
            _elem489501520.addEventListener("click", function (event) {document.location.href = "/filmInfo489501520"; $$nav.off()});
        </script>
        <div id="premiere21" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4655411.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Невероятное паломничество Гарольда Фрая</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem465541121 = document.getElementById("premiere21")
            _elem465541121.addEventListener("click", function (event) {document.location.href = "/filmInfo465541121"; $$nav.off()});
        </script>
        <div id="premiere22" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5123188.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>До встречи на Венере</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem512318822 = document.getElementById("premiere22")
            _elem512318822.addEventListener("click", function (event) {document.location.href = "/filmInfo512318822"; $$nav.off()});
        </script>
        <div id="premiere23" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5098615.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Остров</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem509861523 = document.getElementById("premiere23")
            _elem509861523.addEventListener("click", function (event) {document.location.href = "/filmInfo509861523"; $$nav.off()});
        </script>
        <div id="premiere24" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4845485.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Плюшевый пузырь</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem484548524 = document.getElementById("premiere24")
            _elem484548524.addEventListener("click", function (event) {document.location.href = "/filmInfo484548524"; $$nav.off()});
        </script>
        <div id="premiere25" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4456485.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Мои приключения с Суперменом</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem445648525 = document.getElementById("premiere25")
            _elem445648525.addEventListener("click", function (event) {document.location.href = "/filmInfo445648525"; $$nav.off()});
        </script>
        <div id="premiere26" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4912805.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Мой счастливый брак</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem491280526 = document.getElementById("premiere26")
            _elem491280526.addEventListener("click", function (event) {document.location.href = "/filmInfo491280526"; $$nav.off()});
        </script>
        <div id="premiere27" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5307845.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Ты мой бриллиант</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem530784527 = document.getElementById("premiere27")
            _elem530784527.addEventListener("click", function (event) {document.location.href = "/filmInfo530784527"; $$nav.off()});
        </script>
        <div id="premiere28" style="background: url('https://bazon.cc/download/poster/4780867.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Школа-интернат</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem478086728 = document.getElementById("premiere28")
            _elem478086728.addEventListener("click", function (event) {document.location.href = "/filmInfo478086728"; $$nav.off()});
        </script>
        <div id="premiere29" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5111852.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Злой дух</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem511185229 = document.getElementById("premiere29")
            _elem511185229.addEventListener("click", function (event) {document.location.href = "/filmInfo511185229"; $$nav.off()});
        </script>
        <div id="premiere30" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4922751.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Замкнутый круг</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem492275130 = document.getElementById("premiere30")
            _elem492275130.addEventListener("click", function (event) {document.location.href = "/filmInfo492275130"; $$nav.off()});
        </script>
        <div id="premiere31" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4424478.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Переполненная комната</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem442447831 = document.getElementById("premiere31")
            _elem442447831.addEventListener("click", function (event) {document.location.href = "/filmInfo442447831"; $$nav.off()});
        </script>
        <div id="premiere32" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4397762.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Скрежет металла</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem439776232 = document.getElementById("premiere32")
            _elem439776232.addEventListener("click", function (event) {document.location.href = "/filmInfo439776232"; $$nav.off()});
        </script>
        <div id="premiere33" style="background: url('https://bazon.cc/download/poster/5356024.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Команда Z</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem535602433 = document.getElementById("premiere33")
            _elem535602433.addEventListener("click", function (event) {document.location.href = "/filmInfo535602433"; $$nav.off()});
        </script>
        <div id="premiere34" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1402701.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Чужой</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem140270134 = document.getElementById("premiere34")
            _elem140270134.addEventListener("click", function (event) {document.location.href = "/filmInfo140270134"; $$nav.off()});
        </script>
        <div id="premiere35" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1421572.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Секретное вторжение</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem142157235 = document.getElementById("premiere35")
            _elem142157235.addEventListener("click", function (event) {document.location.href = "/filmInfo142157235"; $$nav.off()});
        </script>
        <div id="premiere36" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5247444.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Макс и Гусь</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem524744436 = document.getElementById("premiere36")
            _elem524744436.addEventListener("click", function (event) {document.location.href = "/filmInfo524744436"; $$nav.off()});
        </script>
        <div id="premiere37" style="background: url('https://bazon.cc/download/poster/4748517.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Брага</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem474851737 = document.getElementById("premiere37")
            _elem474851737.addEventListener("click", function (event) {document.location.href = "/filmInfo474851737"; $$nav.off()});
        </script>
        <div id="premiere38" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5245401.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Угрызения совести</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem524540138 = document.getElementById("premiere38")
            _elem524540138.addEventListener("click", function (event) {document.location.href = "/filmInfo524540138"; $$nav.off()});
        </script>
        <div id="premiere39" style="background: url('https://bazon.cc/download/poster/5139120.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Обычный Джо</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem513912039 = document.getElementById("premiere39")
            _elem513912039.addEventListener("click", function (event) {document.location.href = "/filmInfo513912039"; $$nav.off()});
        </script>
        <div id="premiere40" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4922751.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Замкнутый круг</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem492275140 = document.getElementById("premiere40")
            _elem492275140.addEventListener("click", function (event) {document.location.href = "/filmInfo492275140"; $$nav.off()});
        </script>
        <div id="premiere41" style="background: url('https://bazon.cc/download/poster/5082399.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>По зову долга</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem508239941 = document.getElementById("premiere41")
            _elem508239941.addEventListener("click", function (event) {document.location.href = "/filmInfo508239941"; $$nav.off()});
        </script>
        <div id="premiere42" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5111852.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Злой дух</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem511185242 = document.getElementById("premiere42")
            _elem511185242.addEventListener("click", function (event) {document.location.href = "/filmInfo511185242"; $$nav.off()});
        </script>
        <div id="premiere43" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4968949.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Захваченный рейс</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem496894943 = document.getElementById("premiere43")
            _elem496894943.addEventListener("click", function (event) {document.location.href = "/filmInfo496894943"; $$nav.off()});
        </script>
        <div id="premiere44" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4922751.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Замкнутый круг</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem492275144 = document.getElementById("premiere44")
            _elem492275144.addEventListener("click", function (event) {document.location.href = "/filmInfo492275144"; $$nav.off()});
        </script>
        <div id="premiere45" style="background: url('https://bazon.cc/download/poster/4498651.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Кровь за кровь</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem449865145 = document.getElementById("premiere45")
            _elem449865145.addEventListener("click", function (event) {document.location.href = "/filmInfo449865145"; $$nav.off()});
        </script>
        <div id="premiere46" style="background: url('https://bazon.cc/download/poster/5351787.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Вторая половинка</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem535178746 = document.getElementById("premiere46")
            _elem535178746.addEventListener("click", function (event) {document.location.href = "/filmInfo535178746"; $$nav.off()});
        </script>
        <div id="premiere47" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4968949.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Захваченный рейс</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem496894947 = document.getElementById("premiere47")
            _elem496894947.addEventListener("click", function (event) {document.location.href = "/filmInfo496894947"; $$nav.off()});
        </script>
        <div id="premiere48" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1421572.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Секретное вторжение</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem142157248 = document.getElementById("premiere48")
            _elem142157248.addEventListener("click", function (event) {document.location.href = "/filmInfo142157248"; $$nav.off()});
        </script>
        <div id="premiere49" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1421572.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Секретное вторжение</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem142157249 = document.getElementById("premiere49")
            _elem142157249.addEventListener("click", function (event) {document.location.href = "/filmInfo142157249"; $$nav.off()});
        </script>
        