
        <div id="premiere0" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4746054.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Грисельда</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47460540 = document.getElementById("premiere0")
            _elem47460540.addEventListener("click", function (event) {document.location.href = "/filmInfo47460540"; $$nav.off()});
        </script>
        
        <div id="premiere1" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5091936.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Зорро</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50919361 = document.getElementById("premiere1")
            _elem50919361.addEventListener("click", function (event) {document.location.href = "/filmInfo50919361"; $$nav.off()});
        </script>
        
        <div id="premiere2" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5429849.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">60 минут</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54298492 = document.getElementById("premiere2")
            _elem54298492.addEventListener("click", function (event) {document.location.href = "/filmInfo54298492"; $$nav.off()});
        </script>
        
        <div id="premiere3" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5089024.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Конец славы</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50890243 = document.getElementById("premiere3")
            _elem50890243.addEventListener("click", function (event) {document.location.href = "/filmInfo50890243"; $$nav.off()});
        </script>
        
        <div id="premiere4" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_1322676.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Властелины воздуха</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13226764 = document.getElementById("premiere4")
            _elem13226764.addEventListener("click", function (event) {document.location.href = "/filmInfo13226764"; $$nav.off()});
        </script>
        
        <div id="premiere5" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5079770.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Парадокс убийцы</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50797705 = document.getElementById("premiere5")
            _elem50797705.addEventListener("click", function (event) {document.location.href = "/filmInfo50797705"; $$nav.off()});
        </script>
        
        <div id="premiere6" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4965334.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Большая гонка. Ауди </p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49653346 = document.getElementById("premiere6")
            _elem49653346.addEventListener("click", function (event) {document.location.href = "/filmInfo49653346"; $$nav.off()});
        </script>
        
        <div id="premiere7" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5071324.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Мармелад</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50713247 = document.getElementById("premiere7")
            _elem50713247.addEventListener("click", function (event) {document.location.href = "/filmInfo50713247"; $$nav.off()});
        </script>
        
        <div id="premiere8" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4507204.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Аргайл: Супершпион</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem45072048 = document.getElementById("premiere8")
            _elem45072048.addEventListener("click", function (event) {document.location.href = "/filmInfo45072048"; $$nav.off()});
        </script>
        
        <div id="premiere9" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5428194.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Багровый рассвет</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54281949 = document.getElementById("premiere9")
            _elem54281949.addEventListener("click", function (event) {document.location.href = "/filmInfo54281949"; $$nav.off()});
        </script>
        
        <div id="premiere10" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5121255.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Аутсайдеры</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem512125510 = document.getElementById("premiere10")
            _elem512125510.addEventListener("click", function (event) {document.location.href = "/filmInfo512125510"; $$nav.off()});
        </script>
        
        <div id="premiere11" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5396295.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Проклятые воды</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem539629511 = document.getElementById("premiere11")
            _elem539629511.addEventListener("click", function (event) {document.location.href = "/filmInfo539629511"; $$nav.off()});
        </script>
        
        <div id="premiere12" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5326241.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Орион и Тьма</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem532624112 = document.getElementById("premiere12")
            _elem532624112.addEventListener("click", function (event) {document.location.href = "/filmInfo532624112"; $$nav.off()});
        </script>
        
        <div id="premiere13" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4745604.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Из глубины</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474560413 = document.getElementById("premiere13")
            _elem474560413.addEventListener("click", function (event) {document.location.href = "/filmInfo474560413"; $$nav.off()});
        </script>
        
        <div id="premiere14" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5230828.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Поднятие уровня в од</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523082814 = document.getElementById("premiere14")
            _elem523082814.addEventListener("click", function (event) {document.location.href = "/filmInfo523082814"; $$nav.off()});
        </script>
        
        <div id="premiere15" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5243574.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Пустоши</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem524357415 = document.getElementById("premiere15")
            _elem524357415.addEventListener("click", function (event) {document.location.href = "/filmInfo524357415"; $$nav.off()});
        </script>
        
        <div id="premiere16" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5360026.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Бедные смеются, бога</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536002616 = document.getElementById("premiere16")
            _elem536002616.addEventListener("click", function (event) {document.location.href = "/filmInfo536002616"; $$nav.off()});
        </script>
        
        <div id="premiere17" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4498603.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Месье Спейд</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem449860317 = document.getElementById("premiere17")
            _elem449860317.addEventListener("click", function (event) {document.location.href = "/filmInfo449860317"; $$nav.off()});
        </script>
        
        <div id="premiere18" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5407781.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Единожды солгав</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540778118 = document.getElementById("premiere18")
            _elem540778118.addEventListener("click", function (event) {document.location.href = "/filmInfo540778118"; $$nav.off()});
        </script>
        
        <div id="premiere19" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4747375.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Её история</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474737519 = document.getElementById("premiere19")
            _elem474737519.addEventListener("click", function (event) {document.location.href = "/filmInfo474737519"; $$nav.off()});
        </script>
        
        <div id="premiere20" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5421856.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">На работу!</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem542185620 = document.getElementById("premiere20")
            _elem542185620.addEventListener("click", function (event) {document.location.href = "/filmInfo542185620"; $$nav.off()});
        </script>
        
        <div id="premiere21" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4696486.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Крайне опасен</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem469648621 = document.getElementById("premiere21")
            _elem469648621.addEventListener("click", function (event) {document.location.href = "/filmInfo469648621"; $$nav.off()});
        </script>
        
        <div id="premiere22" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4626783.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Пчеловод</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem462678322 = document.getElementById("premiere22")
            _elem462678322.addEventListener("click", function (event) {document.location.href = "/filmInfo462678322"; $$nav.off()});
        </script>
        
        <div id="premiere23" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4419591.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Эхо</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem441959123 = document.getElementById("premiere23")
            _elem441959123.addEventListener("click", function (event) {document.location.href = "/filmInfo441959123"; $$nav.off()});
        </script>
        
        <div id="premiere24" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4785333.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Смерть и другие подр</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem478533324 = document.getElementById("premiere24")
            _elem478533324.addEventListener("click", function (event) {document.location.href = "/filmInfo478533324"; $$nav.off()});
        </script>
        
        <div id="premiere25" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5379471.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Выходи замуж за моег</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem537947125 = document.getElementById("premiere25")
            _elem537947125.addEventListener("click", function (event) {document.location.href = "/filmInfo537947125"; $$nav.off()});
        </script>
        
        <div id="premiere26" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5274192.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Магазин для киллеров</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem527419226 = document.getElementById("premiere26")
            _elem527419226.addEventListener("click", function (event) {document.location.href = "/filmInfo527419226"; $$nav.off()});
        </script>
        
        <div id="premiere27" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5194592.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Прелесть</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem519459227 = document.getElementById("premiere27")
            _elem519459227.addEventListener("click", function (event) {document.location.href = "/filmInfo519459227"; $$nav.off()});
        </script>
        
        <div id="premiere28" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4475348.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Третий лишний</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem447534828 = document.getElementById("premiere28")
            _elem447534828.addEventListener("click", function (event) {document.location.href = "/filmInfo447534828"; $$nav.off()});
        </script>
        
        <div id="premiere29" class="filmsItem item nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5009179.jpg'); background-repeat:no-repeat;background-cover: cover;background-size: 100% 100%;" >
        </div>
        <div class="text filmsItemText">
        <p class="filmItemTexth1">Братья Сунь</p>
        <p>(2024)</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem500917929 = document.getElementById("premiere29")
            _elem500917929.addEventListener("click", function (event) {document.location.href = "/filmInfo500917929"; $$nav.off()});
        </script>
        