<div id="premiere0" style="background: url('https://bazon.cc/download/poster/1436858.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Варшавянка</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem14368580 = document.getElementById("premiere0")
            _elem14368580.addEventListener("click", function (event) {document.location.href = "/filmInfo14368580"; $$nav.off()});
        </script>
        <div id="premiere1" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5111852.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Злой дух</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem51118521 = document.getElementById("premiere1")
            _elem51118521.addEventListener("click", function (event) {document.location.href = "/filmInfo51118521"; $$nav.off()});
        </script>
        <div id="premiere2" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1045082.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Круче некуда</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem10450822 = document.getElementById("premiere2")
            _elem10450822.addEventListener("click", function (event) {document.location.href = "/filmInfo10450822"; $$nav.off()});
        </script>
        <div id="premiere3" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_542534.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Особняк с привидениями</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem5425343 = document.getElementById("premiere3")
            _elem5425343.addEventListener("click", function (event) {document.location.href = "/filmInfo5425343"; $$nav.off()});
        </script>
        <div id="premiere4" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Лига Справедливости: Мир войны</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem53054424 = document.getElementById("premiere4")
            _elem53054424.addEventListener("click", function (event) {document.location.href = "/filmInfo53054424"; $$nav.off()});
        </script>
        <div id="premiere5" style="background: url('https://bazon.cc/download/poster/5222995.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Честь</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem52229955 = document.getElementById("premiere5")
            _elem52229955.addEventListener("click", function (event) {document.location.href = "/filmInfo52229955"; $$nav.off()});
        </script>
        <div id="premiere6" style="background: url('https://bazon.cc/download/poster/5084913.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>(Почти) легенды</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem50849136 = document.getElementById("premiere6")
            _elem50849136.addEventListener("click", function (event) {document.location.href = "/filmInfo50849136"; $$nav.off()});
        </script>
        <div id="premiere7" style="background: url('https://bazon.cc/download/poster/5139205.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Рай земной</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem51392057 = document.getElementById("premiere7")
            _elem51392057.addEventListener("click", function (event) {document.location.href = "/filmInfo51392057"; $$nav.off()});
        </script>
        <div id="premiere8" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5119523.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Схватка с дьяволом</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem51195238 = document.getElementById("premiere8")
            _elem51195238.addEventListener("click", function (event) {document.location.href = "/filmInfo51195238"; $$nav.off()});
        </script>
        <div id="premiere9" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4424478.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Переполненная комната</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem44244789 = document.getElementById("premiere9")
            _elem44244789.addEventListener("click", function (event) {document.location.href = "/filmInfo44244789"; $$nav.off()});
        </script>
        <div id="premiere10" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5121100.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Ниер: Автомата - Версия 1.1а</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem512110010 = document.getElementById("premiere10")
            _elem512110010.addEventListener("click", function (event) {document.location.href = "/filmInfo512110010"; $$nav.off()});
        </script>
        <div id="premiere11" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5297222.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Причина полюбить её</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem529722211 = document.getElementById("premiere11")
            _elem529722211.addEventListener("click", function (event) {document.location.href = "/filmInfo529722211"; $$nav.off()});
        </script>
        <div id="premiere12" style="background: url('https://bazon.cc/download/poster/5105979.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Дон</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem510597912 = document.getElementById("premiere12")
            _elem510597912.addEventListener("click", function (event) {document.location.href = "/filmInfo510597912"; $$nav.off()});
        </script>
        <div id="premiere13" style="background: url('https://bazon.cc/download/poster/4948279.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Агент</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem494827913 = document.getElementById("premiere13")
            _elem494827913.addEventListener("click", function (event) {document.location.href = "/filmInfo494827913"; $$nav.off()});
        </script>
        <div id="premiere14" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1412084.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Спецназ: Львица</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem141208414 = document.getElementById("premiere14")
            _elem141208414.addEventListener("click", function (event) {document.location.href = "/filmInfo141208414"; $$nav.off()});
        </script>
        <div id="premiere15" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5111852.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Злой дух</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem511185215 = document.getElementById("premiere15")
            _elem511185215.addEventListener("click", function (event) {document.location.href = "/filmInfo511185215"; $$nav.off()});
        </script>
        <div id="premiere16" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1395369.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Леди Баг и Супер-Кот: Пробуждение силы</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem139536916 = document.getElementById("premiere16")
            _elem139536916.addEventListener("click", function (event) {document.location.href = "/filmInfo139536916"; $$nav.off()});
        </script>
        <div id="premiere17" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5303815.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Взрослым не понять</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem530381517 = document.getElementById("premiere17")
            _elem530381517.addEventListener("click", function (event) {document.location.href = "/filmInfo530381517"; $$nav.off()});
        </script>
        <div id="premiere18" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5272214.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Прощальное письмо</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem527221418 = document.getElementById("premiere18")
            _elem527221418.addEventListener("click", function (event) {document.location.href = "/filmInfo527221418"; $$nav.off()});
        </script>
        <div id="premiere19" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1446821.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>В паутине страха</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem144682119 = document.getElementById("premiere19")
            _elem144682119.addEventListener("click", function (event) {document.location.href = "/filmInfo144682119"; $$nav.off()});
        </script>
        <div id="premiere20" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4986575.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Книжный клуб 2</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem498657520 = document.getElementById("premiere20")
            _elem498657520.addEventListener("click", function (event) {document.location.href = "/filmInfo498657520"; $$nav.off()});
        </script>
        <div id="premiere21" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4397762.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Скрежет металла</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem439776221 = document.getElementById("premiere21")
            _elem439776221.addEventListener("click", function (event) {document.location.href = "/filmInfo439776221"; $$nav.off()});
        </script>
        <div id="premiere22" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4557113.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Потомок</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem455711322 = document.getElementById("premiere22")
            _elem455711322.addEventListener("click", function (event) {document.location.href = "/filmInfo455711322"; $$nav.off()});
        </script>
        <div id="premiere23" style="background: url('https://bazon.cc/download/poster/5139205.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Рай земной</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem513920523 = document.getElementById("premiere23")
            _elem513920523.addEventListener("click", function (event) {document.location.href = "/filmInfo513920523"; $$nav.off()});
        </script>
        <div id="premiere24" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1421572.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Секретное вторжение</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem142157224 = document.getElementById("premiere24")
            _elem142157224.addEventListener("click", function (event) {document.location.href = "/filmInfo142157224"; $$nav.off()});
        </script>
        <div id="premiere25" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4925926.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Кроличья нора</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem492592625 = document.getElementById("premiere25")
            _elem492592625.addEventListener("click", function (event) {document.location.href = "/filmInfo492592625"; $$nav.off()});
        </script>
        <div id="premiere26" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4922751.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Замкнутый круг</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem492275126 = document.getElementById("premiere26")
            _elem492275126.addEventListener("click", function (event) {document.location.href = "/filmInfo492275126"; $$nav.off()});
        </script>
        <div id="premiere27" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4424478.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Переполненная комната</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem442447827 = document.getElementById("premiere27")
            _elem442447827.addEventListener("click", function (event) {document.location.href = "/filmInfo442447827"; $$nav.off()});
        </script>
        <div id="premiere28" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4424478.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Переполненная комната</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem442447828 = document.getElementById("premiere28")
            _elem442447828.addEventListener("click", function (event) {document.location.href = "/filmInfo442447828"; $$nav.off()});
        </script>
        <div id="premiere29" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4925815.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Волнение</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem492581529 = document.getElementById("premiere29")
            _elem492581529.addEventListener("click", function (event) {document.location.href = "/filmInfo492581529"; $$nav.off()});
        </script>
        <div id="premiere30" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5331438.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Приёмный покой</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem533143830 = document.getElementById("premiere30")
            _elem533143830.addEventListener("click", function (event) {document.location.href = "/filmInfo533143830"; $$nav.off()});
        </script>
        <div id="premiere31" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_777031.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Библиотекарь</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem77703131 = document.getElementById("premiere31")
            _elem77703131.addEventListener("click", function (event) {document.location.href = "/filmInfo77703131"; $$nav.off()});
        </script>
        <div id="premiere32" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4744698.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Счастье для начинающих</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem474469832 = document.getElementById("premiere32")
            _elem474469832.addEventListener("click", function (event) {document.location.href = "/filmInfo474469832"; $$nav.off()});
        </script>
        <div id="premiere33" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4744698.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Счастье для начинающих</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem474469833 = document.getElementById("premiere33")
            _elem474469833.addEventListener("click", function (event) {document.location.href = "/filmInfo474469833"; $$nav.off()});
        </script>
        <div id="premiere34" style="background: url('https://bazon.cc/download/poster/4895015.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Нарядное пугало</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem489501534 = document.getElementById("premiere34")
            _elem489501534.addEventListener("click", function (event) {document.location.href = "/filmInfo489501534"; $$nav.off()});
        </script>
        <div id="premiere35" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4655411.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Невероятное паломничество Гарольда Фрая</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem465541135 = document.getElementById("premiere35")
            _elem465541135.addEventListener("click", function (event) {document.location.href = "/filmInfo465541135"; $$nav.off()});
        </script>
        <div id="premiere36" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5123188.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>До встречи на Венере</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem512318836 = document.getElementById("premiere36")
            _elem512318836.addEventListener("click", function (event) {document.location.href = "/filmInfo512318836"; $$nav.off()});
        </script>
        <div id="premiere37" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5098615.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Остров</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem509861537 = document.getElementById("premiere37")
            _elem509861537.addEventListener("click", function (event) {document.location.href = "/filmInfo509861537"; $$nav.off()});
        </script>
        <div id="premiere38" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4845485.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Плюшевый пузырь</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem484548538 = document.getElementById("premiere38")
            _elem484548538.addEventListener("click", function (event) {document.location.href = "/filmInfo484548538"; $$nav.off()});
        </script>
        <div id="premiere39" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4456485.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Мои приключения с Суперменом</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem445648539 = document.getElementById("premiere39")
            _elem445648539.addEventListener("click", function (event) {document.location.href = "/filmInfo445648539"; $$nav.off()});
        </script>
        <div id="premiere40" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4912805.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Мой счастливый брак</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem491280540 = document.getElementById("premiere40")
            _elem491280540.addEventListener("click", function (event) {document.location.href = "/filmInfo491280540"; $$nav.off()});
        </script>
        <div id="premiere41" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5307845.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Ты мой бриллиант</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem530784541 = document.getElementById("premiere41")
            _elem530784541.addEventListener("click", function (event) {document.location.href = "/filmInfo530784541"; $$nav.off()});
        </script>
        <div id="premiere42" style="background: url('https://bazon.cc/download/poster/4780867.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Школа-интернат</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem478086742 = document.getElementById("premiere42")
            _elem478086742.addEventListener("click", function (event) {document.location.href = "/filmInfo478086742"; $$nav.off()});
        </script>
        <div id="premiere43" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4922751.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Замкнутый круг</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem492275143 = document.getElementById("premiere43")
            _elem492275143.addEventListener("click", function (event) {document.location.href = "/filmInfo492275143"; $$nav.off()});
        </script>
        <div id="premiere44" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4424478.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Переполненная комната</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem442447844 = document.getElementById("premiere44")
            _elem442447844.addEventListener("click", function (event) {document.location.href = "/filmInfo442447844"; $$nav.off()});
        </script>
        <div id="premiere45" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4397762.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Скрежет металла</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem439776245 = document.getElementById("premiere45")
            _elem439776245.addEventListener("click", function (event) {document.location.href = "/filmInfo439776245"; $$nav.off()});
        </script>
        <div id="premiere46" style="background: url('https://bazon.cc/download/poster/5356024.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Команда Z</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem535602446 = document.getElementById("premiere46")
            _elem535602446.addEventListener("click", function (event) {document.location.href = "/filmInfo535602446"; $$nav.off()});
        </script>
        <div id="premiere47" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1402701.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Чужой</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem140270147 = document.getElementById("premiere47")
            _elem140270147.addEventListener("click", function (event) {document.location.href = "/filmInfo140270147"; $$nav.off()});
        </script>
        <div id="premiere48" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1421572.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Секретное вторжение</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem142157248 = document.getElementById("premiere48")
            _elem142157248.addEventListener("click", function (event) {document.location.href = "/filmInfo142157248"; $$nav.off()});
        </script>
        <div id="premiere49" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5247444.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item"data-nav_ud="0,0,0,0">
            <div class="premieresText text">
            <h1>Макс и Гусь</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem524744449 = document.getElementById("premiere49")
            _elem524744449.addEventListener("click", function (event) {document.location.href = "/filmInfo524744449"; $$nav.off()});
        </script>
        