<div id="premiere0" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1355224.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Обезболивающее</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem13552240 = document.getElementById("premiere0")
            _elem13552240.addEventListener("click", function (event) {document.location.href = "/filmInfo13552240"; $$nav.off()});
        </script>
        <div id="premiere1" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1355224.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Обезболивающее</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem13552241 = document.getElementById("premiere1")
            _elem13552241.addEventListener("click", function (event) {document.location.href = "/filmInfo13552241"; $$nav.off()});
        </script>
        <div id="premiere2" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5162227.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Магарсус</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem51622272 = document.getElementById("premiere2")
            _elem51622272.addEventListener("click", function (event) {document.location.href = "/filmInfo51622272"; $$nav.off()});
        </script>
        <div id="premiere3" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Человек-паук: Паутина вселенных</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem12191773 = document.getElementById("premiere3")
            _elem12191773.addEventListener("click", function (event) {document.location.href = "/filmInfo12191773"; $$nav.off()});
        </script>
        <div id="premiere4" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4672184.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Шрапнель</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem46721844 = document.getElementById("premiere4")
            _elem46721844.addEventListener("click", function (event) {document.location.href = "/filmInfo46721844"; $$nav.off()});
        </script>
        <div id="premiere5" style="background: url('https://bazon.cc/download/poster/5364881.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Любовь по расчету</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem53648815 = document.getElementById("premiere5")
            _elem53648815.addEventListener("click", function (event) {document.location.href = "/filmInfo53648815"; $$nav.off()});
        </script>
        <div id="premiere6" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4672791.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Потерянные цветы Элис Харт</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem46727916 = document.getElementById("premiere6")
            _elem46727916.addEventListener("click", function (event) {document.location.href = "/filmInfo46727916"; $$nav.off()});
        </script>
        <div id="premiere7" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4745359.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Больше, чем люди</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem47453597 = document.getElementById("premiere7")
            _elem47453597.addEventListener("click", function (event) {document.location.href = "/filmInfo47453597"; $$nav.off()});
        </script>
        <div id="premiere8" style="background: url('https://bazon.cc/download/poster/5139120.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Обычный Джо</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem51391208 = document.getElementById("premiere8")
            _elem51391208.addEventListener("click", function (event) {document.location.href = "/filmInfo51391208"; $$nav.off()});
        </script>
        <div id="premiere9" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4908918.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Герои и злодеи</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem49089189 = document.getElementById("premiere9")
            _elem49089189.addEventListener("click", function (event) {document.location.href = "/filmInfo49089189"; $$nav.off()});
        </script>
        <div id="premiere10" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4750522.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Трое лишних</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem475052210 = document.getElementById("premiere10")
            _elem475052210.addEventListener("click", function (event) {document.location.href = "/filmInfo475052210"; $$nav.off()});
        </script>
        <div id="premiere11" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4987446.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Без обид</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem498744611 = document.getElementById("premiere11")
            _elem498744611.addEventListener("click", function (event) {document.location.href = "/filmInfo498744611"; $$nav.off()});
        </script>
        <div id="premiere12" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5360776.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Покончить со всеми войнами: Оппенгеймер и атомная бомба</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem536077612 = document.getElementById("premiere12")
            _elem536077612.addEventListener("click", function (event) {document.location.href = "/filmInfo536077612"; $$nav.off()});
        </script>
        <div id="premiere13" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4845485.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Плюшевый пузырь</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem484548513 = document.getElementById("premiere13")
            _elem484548513.addEventListener("click", function (event) {document.location.href = "/filmInfo484548513"; $$nav.off()});
        </script>
        <div id="premiere14" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5357727.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Моя возлюбленная забыла свои очки</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem535772714 = document.getElementById("premiere14")
            _elem535772714.addEventListener("click", function (event) {document.location.href = "/filmInfo535772714"; $$nav.off()});
        </script>
        <div id="premiere15" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_937438.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Трансформеры: Восхождение Звероботов</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem93743815 = document.getElementById("premiere15")
            _elem93743815.addEventListener("click", function (event) {document.location.href = "/filmInfo93743815"; $$nav.off()});
        </script>
        <div id="premiere16" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1402701.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Чужой</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem140270116 = document.getElementById("premiere16")
            _elem140270116.addEventListener("click", function (event) {document.location.href = "/filmInfo140270116"; $$nav.off()});
        </script>
        <div id="premiere17" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_777031.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Библиотекарь</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem77703117 = document.getElementById("premiere17")
            _elem77703117.addEventListener("click", function (event) {document.location.href = "/filmInfo77703117"; $$nav.off()});
        </script>
        <div id="premiere18" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4728548.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Открытый брак</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem472854818 = document.getElementById("premiere18")
            _elem472854818.addEventListener("click", function (event) {document.location.href = "/filmInfo472854818"; $$nav.off()});
        </script>
        <div id="premiere19" style="background: url('https://bazon.cc/download/poster/5100129.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Вот так повезло!</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem510012919 = document.getElementById("premiere19")
            _elem510012919.addEventListener("click", function (event) {document.location.href = "/filmInfo510012919"; $$nav.off()});
        </script>
        <div id="premiere20" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4655411.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Невероятное паломничество Гарольда Фрая</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem465541120 = document.getElementById("premiere20")
            _elem465541120.addEventListener("click", function (event) {document.location.href = "/filmInfo465541120"; $$nav.off()});
        </script>
        <div id="premiere21" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5111852.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Злой дух</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem511185221 = document.getElementById("premiere21")
            _elem511185221.addEventListener("click", function (event) {document.location.href = "/filmInfo511185221"; $$nav.off()});
        </script>
        <div id="premiere22" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4757737.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Правосудие: Первобытный город</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem475773722 = document.getElementById("premiere22")
            _elem475773722.addEventListener("click", function (event) {document.location.href = "/filmInfo475773722"; $$nav.off()});
        </script>
        <div id="premiere23" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5141685.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Странная планета</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem514168523 = document.getElementById("premiere23")
            _elem514168523.addEventListener("click", function (event) {document.location.href = "/filmInfo514168523"; $$nav.off()});
        </script>
        <div id="premiere24" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1360099.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Лакадейзи</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem136009924 = document.getElementById("premiere24")
            _elem136009924.addEventListener("click", function (event) {document.location.href = "/filmInfo136009924"; $$nav.off()});
        </script>
        <div id="premiere25" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5319826.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Если сильно полюбишь</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem531982625 = document.getElementById("premiere25")
            _elem531982625.addEventListener("click", function (event) {document.location.href = "/filmInfo531982625"; $$nav.off()});
        </script>
        <div id="premiere26" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5296922.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Джохан 2</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem529692226 = document.getElementById("premiere26")
            _elem529692226.addEventListener("click", function (event) {document.location.href = "/filmInfo529692226"; $$nav.off()});
        </script>
        <div id="premiere27" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5248356.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Шахмаран</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem524835627 = document.getElementById("premiere27")
            _elem524835627.addEventListener("click", function (event) {document.location.href = "/filmInfo524835627"; $$nav.off()});
        </script>
        <div id="premiere28" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4967680.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Очищение</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem496768028 = document.getElementById("premiere28")
            _elem496768028.addEventListener("click", function (event) {document.location.href = "/filmInfo496768028"; $$nav.off()});
        </script>
        <div id="premiere29" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4500536.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Детектив под кайфом</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem450053629 = document.getElementById("premiere29")
            _elem450053629.addEventListener("click", function (event) {document.location.href = "/filmInfo450053629"; $$nav.off()});
        </script>
        <div id="premiere30" style="background: url('https://bazon.cc/download/poster/1179918.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Единственная женщина в мире</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem117991830 = document.getElementById("premiere30")
            _elem117991830.addEventListener("click", function (event) {document.location.href = "/filmInfo117991830"; $$nav.off()});
        </script>
        <div id="premiere31" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Лига Справедливости: Мир войны</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem530544231 = document.getElementById("premiere31")
            _elem530544231.addEventListener("click", function (event) {document.location.href = "/filmInfo530544231"; $$nav.off()});
        </script>
        <div id="premiere32" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5305442.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Лига Справедливости: Мир войны</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem530544232 = document.getElementById("premiere32")
            _elem530544232.addEventListener("click", function (event) {document.location.href = "/filmInfo530544232"; $$nav.off()});
        </script>
        <div id="premiere33" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5354576.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Вселенная зомби</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem535457633 = document.getElementById("premiere33")
            _elem535457633.addEventListener("click", function (event) {document.location.href = "/filmInfo535457633"; $$nav.off()});
        </script>
        <div id="premiere34" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5319979.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Черный двор</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem531997934 = document.getElementById("premiere34")
            _elem531997934.addEventListener("click", function (event) {document.location.href = "/filmInfo531997934"; $$nav.off()});
        </script>
        <div id="premiere35" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5035020.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Триган: Ураган</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem503502035 = document.getElementById("premiere35")
            _elem503502035.addEventListener("click", function (event) {document.location.href = "/filmInfo503502035"; $$nav.off()});
        </script>
        <div id="premiere36" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5098414.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мастер на все руки Саито в другом мире</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem509841436 = document.getElementById("premiere36")
            _elem509841436.addEventListener("click", function (event) {document.location.href = "/filmInfo509841436"; $$nav.off()});
        </script>
        <div id="premiere37" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5165120.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Магическая революция перерождённой принцессы и гениальной юной леди</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem516512037 = document.getElementById("premiere37")
            _elem516512037.addEventListener("click", function (event) {document.location.href = "/filmInfo516512037"; $$nav.off()});
        </script>
        <div id="premiere38" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118210.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Бродяга Кэнсин</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem511821038 = document.getElementById("premiere38")
            _elem511821038.addEventListener("click", function (event) {document.location.href = "/filmInfo511821038"; $$nav.off()});
        </script>
        <div id="premiere39" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309392.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мечта</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem130939239 = document.getElementById("premiere39")
            _elem130939239.addEventListener("click", function (event) {document.location.href = "/filmInfo130939239"; $$nav.off()});
        </script>
        <div id="premiere40" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1301761.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Замаячный</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem130176140 = document.getElementById("premiere40")
            _elem130176140.addEventListener("click", function (event) {document.location.href = "/filmInfo130176140"; $$nav.off()});
        </script>
        <div id="premiere41" style="background: url('https://bazon.cc/download/poster/4826605.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Аврора</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem482660541 = document.getElementById("premiere41")
            _elem482660541.addEventListener("click", function (event) {document.location.href = "/filmInfo482660541"; $$nav.off()});
        </script>
        <div id="premiere42" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5355824.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Душа не слышит</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem535582442 = document.getElementById("premiere42")
            _elem535582442.addEventListener("click", function (event) {document.location.href = "/filmInfo535582442"; $$nav.off()});
        </script>
        <div id="premiere43" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1412084.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Спецназ: Львица</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem141208443 = document.getElementById("premiere43")
            _elem141208443.addEventListener("click", function (event) {document.location.href = "/filmInfo141208443"; $$nav.off()});
        </script>
        <div id="premiere44" style="background: url('https://bazon.cc/download/poster/5139120.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Обычный Джо</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem513912044 = document.getElementById("premiere44")
            _elem513912044.addEventListener("click", function (event) {document.location.href = "/filmInfo513912044"; $$nav.off()});
        </script>
        <div id="premiere45" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5364390.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Король и Шут: Сказка о Горшке и Князе</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem536439045 = document.getElementById("premiere45")
            _elem536439045.addEventListener("click", function (event) {document.location.href = "/filmInfo536439045"; $$nav.off()});
        </script>
        <div id="premiere46" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4745555.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Мама, можно мне?</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem474555546 = document.getElementById("premiere46")
            _elem474555546.addEventListener("click", function (event) {document.location.href = "/filmInfo474555546"; $$nav.off()});
        </script>
        <div id="premiere47" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219177.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Человек-паук: Паутина вселенных</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem121917747 = document.getElementById("premiere47")
            _elem121917747.addEventListener("click", function (event) {document.location.href = "/filmInfo121917747"; $$nav.off()});
        </script>
        <div id="premiere48" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4850225.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Астрал 5: Красная дверь</h1>
            <h1>2023 Фильм</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem485022548 = document.getElementById("premiere48")
            _elem485022548.addEventListener("click", function (event) {document.location.href = "/filmInfo485022548"; $$nav.off()});
        </script>
        <div id="premiere49" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4982929.jpg'); background-repeat:no-repeat;  background-size:cover;" class="item premieresItem nav-item">
            <div class="premieresText text">
            <h1>Звездные войны: Приключения юных джедаев</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <script type="text/javascript">
            var _elem498292949 = document.getElementById("premiere49")
            _elem498292949.addEventListener("click", function (event) {document.location.href = "/filmInfo498292949"; $$nav.off()});
        </script>
        