
        <div id="serial0" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5307599.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Властелины вселенной</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53075990 = document.getElementById("serial0")
            _elem53075990.addEventListener("click", function (event) {document.location.href = "/filmInfo53075990"; $$nav.off()});
        </script>
        
        <div id="serial1" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4746054.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Грисельда</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47460541 = document.getElementById("serial1")
            _elem47460541.addEventListener("click", function (event) {document.location.href = "/filmInfo47460541"; $$nav.off()});
        </script>
        
        <div id="serial2" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5190525.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Престиж</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51905252 = document.getElementById("serial2")
            _elem51905252.addEventListener("click", function (event) {document.location.href = "/filmInfo51905252"; $$nav.off()});
        </script>
        
        <div id="serial3" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5091936.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Зорро</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50919363 = document.getElementById("serial3")
            _elem50919363.addEventListener("click", function (event) {document.location.href = "/filmInfo50919363"; $$nav.off()});
        </script>
        
        <div id="serial4" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_1322676.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Властелины воздуха</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13226764 = document.getElementById("serial4")
            _elem13226764.addEventListener("click", function (event) {document.location.href = "/filmInfo13226764"; $$nav.off()});
        </script>
        
        <div id="serial5" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_1178662.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Экспаты</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem11786625 = document.getElementById("serial5")
            _elem11786625.addEventListener("click", function (event) {document.location.href = "/filmInfo11786625"; $$nav.off()});
        </script>
        
        <div id="serial6" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5129278.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>ГДР</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51292786 = document.getElementById("serial6")
            _elem51292786.addEventListener("click", function (event) {document.location.href = "/filmInfo51292786"; $$nav.off()});
        </script>
        
        <div id="serial7" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5079770.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Парадокс убийцы</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50797707 = document.getElementById("serial7")
            _elem50797707.addEventListener("click", function (event) {document.location.href = "/filmInfo50797707"; $$nav.off()});
        </script>
        
        <div id="serial8" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_749562.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Сёгун</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem7495628 = document.getElementById("serial8")
            _elem7495628.addEventListener("click", function (event) {document.location.href = "/filmInfo7495628"; $$nav.off()});
        </script>
        
        <div id="serial9" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5408260.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Невский</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54082609 = document.getElementById("serial9")
            _elem54082609.addEventListener("click", function (event) {document.location.href = "/filmInfo54082609"; $$nav.off()});
        </script>
        
        <div id="serial10" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5212290.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Созвездие</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem521229010 = document.getElementById("serial10")
            _elem521229010.addEventListener("click", function (event) {document.location.href = "/filmInfo521229010"; $$nav.off()});
        </script>
        
        <div id="serial11" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5307847.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Постучись в мою двер</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530784711 = document.getElementById("serial11")
            _elem530784711.addEventListener("click", function (event) {document.location.href = "/filmInfo530784711"; $$nav.off()});
        </script>
        
        <div id="serial12" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5360026.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Бедные смеются, бога</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536002612 = document.getElementById("serial12")
            _elem536002612.addEventListener("click", function (event) {document.location.href = "/filmInfo536002612"; $$nav.off()});
        </script>
        
        <div id="serial13" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4498603.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Месье Спейд</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem449860313 = document.getElementById("serial13")
            _elem449860313.addEventListener("click", function (event) {document.location.href = "/filmInfo449860313"; $$nav.off()});
        </script>
        
        <div id="serial14" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5407781.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Единожды солгав</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540778114 = document.getElementById("serial14")
            _elem540778114.addEventListener("click", function (event) {document.location.href = "/filmInfo540778114"; $$nav.off()});
        </script>
        
        <div id="serial15" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4747375.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Её история</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474737515 = document.getElementById("serial15")
            _elem474737515.addEventListener("click", function (event) {document.location.href = "/filmInfo474737515"; $$nav.off()});
        </script>
        
        <div id="serial16" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5421856.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>На работу!</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem542185616 = document.getElementById("serial16")
            _elem542185616.addEventListener("click", function (event) {document.location.href = "/filmInfo542185616"; $$nav.off()});
        </script>
        
        <div id="serial17" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4419591.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Эхо</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem441959117 = document.getElementById("serial17")
            _elem441959117.addEventListener("click", function (event) {document.location.href = "/filmInfo441959117"; $$nav.off()});
        </script>
        
        <div id="serial18" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4785333.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Смерть и другие подр</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem478533318 = document.getElementById("serial18")
            _elem478533318.addEventListener("click", function (event) {document.location.href = "/filmInfo478533318"; $$nav.off()});
        </script>
        
        <div id="serial19" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4635111.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Внутри убийцы</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem463511119 = document.getElementById("serial19")
            _elem463511119.addEventListener("click", function (event) {document.location.href = "/filmInfo463511119"; $$nav.off()});
        </script>
        
        <div id="serial20" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5379471.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Выходи замуж за моег</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem537947120 = document.getElementById("serial20")
            _elem537947120.addEventListener("click", function (event) {document.location.href = "/filmInfo537947120"; $$nav.off()});
        </script>
        
        <div id="serial21" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4859965.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>New Look: Революция </p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem485996521 = document.getElementById("serial21")
            _elem485996521.addEventListener("click", function (event) {document.location.href = "/filmInfo485996521"; $$nav.off()});
        </script>
        
        <div id="serial22" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5325507.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Камера Мотор</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem532550722 = document.getElementById("serial22")
            _elem532550722.addEventListener("click", function (event) {document.location.href = "/filmInfo532550722"; $$nav.off()});
        </script>
        
        <div id="serial23" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5067601.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Криминальное прошлое</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem506760123 = document.getElementById("serial23")
            _elem506760123.addEventListener("click", function (event) {document.location.href = "/filmInfo506760123"; $$nav.off()});
        </script>
        
        <div id="serial24" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5261682.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Самогон</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526168224 = document.getElementById("serial24")
            _elem526168224.addEventListener("click", function (event) {document.location.href = "/filmInfo526168224"; $$nav.off()});
        </script>
        
        <div id="serial25" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_1199731.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Аватар: Легенда об А</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem119973125 = document.getElementById("serial25")
            _elem119973125.addEventListener("click", function (event) {document.location.href = "/filmInfo119973125"; $$nav.off()});
        </script>
        
        <div id="serial26" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5454342.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>20/22</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem545434226 = document.getElementById("serial26")
            _elem545434226.addEventListener("click", function (event) {document.location.href = "/filmInfo545434226"; $$nav.off()});
        </script>
        
        <div id="serial27" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5274192.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Магазин для киллеров</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem527419227 = document.getElementById("serial27")
            _elem527419227.addEventListener("click", function (event) {document.location.href = "/filmInfo527419227"; $$nav.off()});
        </script>
        
        <div id="serial28" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5194592.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Прелесть</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem519459228 = document.getElementById("serial28")
            _elem519459228.addEventListener("click", function (event) {document.location.href = "/filmInfo519459228"; $$nav.off()});
        </script>
        
        <div id="serial29" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5394456.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Глаз пустыни</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem539445629 = document.getElementById("serial29")
            _elem539445629.addEventListener("click", function (event) {document.location.href = "/filmInfo539445629"; $$nav.off()});
        </script>
        