
        <div id="serial0" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4498603.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Месье Спейд</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44986030 = document.getElementById("serial0")
            _elem44986030.addEventListener("click", function (event) {document.location.href = "/filmInfo44986030"; $$nav.off()});
        </script>
        
        <div id="serial1" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5407781.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Единожды солгав</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54077811 = document.getElementById("serial1")
            _elem54077811.addEventListener("click", function (event) {document.location.href = "/filmInfo54077811"; $$nav.off()});
        </script>
        
        <div id="serial2" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4419591.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Эхо</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44195912 = document.getElementById("serial2")
            _elem44195912.addEventListener("click", function (event) {document.location.href = "/filmInfo44195912"; $$nav.off()});
        </script>
        
        <div id="serial3" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5379471.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Выходи замуж за моег</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53794713 = document.getElementById("serial3")
            _elem53794713.addEventListener("click", function (event) {document.location.href = "/filmInfo53794713"; $$nav.off()});
        </script>
        
        <div id="serial4" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4475348.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Третий лишний</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44753484 = document.getElementById("serial4")
            _elem44753484.addEventListener("click", function (event) {document.location.href = "/filmInfo44753484"; $$nav.off()});
        </script>
        
        <div id="serial5" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5009179.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Братья Сунь</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50091795 = document.getElementById("serial5")
            _elem50091795.addEventListener("click", function (event) {document.location.href = "/filmInfo50091795"; $$nav.off()});
        </script>
        
        <div id="serial6" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5119715.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Очевидное невероятно</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51197156 = document.getElementById("serial6")
            _elem51197156.addEventListener("click", function (event) {document.location.href = "/filmInfo51197156"; $$nav.off()});
        </script>
        
        <div id="serial7" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5367788.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ласт квест</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53677887 = document.getElementById("serial7")
            _elem53677887.addEventListener("click", function (event) {document.location.href = "/filmInfo53677887"; $$nav.off()});
        </script>
        
        <div id="serial8" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5244373.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Двое на краю</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52443738 = document.getElementById("serial8")
            _elem52443738.addEventListener("click", function (event) {document.location.href = "/filmInfo52443738"; $$nav.off()});
        </script>
        
        <div id="serial9" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5212614.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Убийства в Стилтауне</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52126149 = document.getElementById("serial9")
            _elem52126149.addEventListener("click", function (event) {document.location.href = "/filmInfo52126149"; $$nav.off()});
        </script>
        
        <div id="serial10" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4992678.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Голубоглазый самурай</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem499267810 = document.getElementById("serial10")
            _elem499267810.addEventListener("click", function (event) {document.location.href = "/filmInfo499267810"; $$nav.off()});
        </script>
        
        <div id="serial11" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5255607.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>СуперИвановы</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem525560711 = document.getElementById("serial11")
            _elem525560711.addEventListener("click", function (event) {document.location.href = "/filmInfo525560711"; $$nav.off()});
        </script>
        
        <div id="serial12" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4825559.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Скотт Пилигрим жмёт </p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem482555912 = document.getElementById("serial12")
            _elem482555912.addEventListener("click", function (event) {document.location.href = "/filmInfo482555912"; $$nav.off()});
        </script>
        
        <div id="serial13" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5368233.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ловкий плут</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536823313 = document.getElementById("serial13")
            _elem536823313.addEventListener("click", function (event) {document.location.href = "/filmInfo536823313"; $$nav.off()});
        </script>
        
        <div id="serial14" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4673107.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Падение дома Ашеров</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem467310714 = document.getElementById("serial14")
            _elem467310714.addEventListener("click", function (event) {document.location.href = "/filmInfo467310714"; $$nav.off()});
        </script>
        
        <div id="serial15" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4420139.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Отчёт о буйстве духо</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem442013915 = document.getElementById("serial15")
            _elem442013915.addEventListener("click", function (event) {document.location.href = "/filmInfo442013915"; $$nav.off()});
        </script>
        
        <div id="serial16" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_462212.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Рой</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46221216 = document.getElementById("serial16")
            _elem46221216.addEventListener("click", function (event) {document.location.href = "/filmInfo46221216"; $$nav.off()});
        </script>
        
        <div id="serial17" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5282054.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ложь, спрятанная у м</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem528205417 = document.getElementById("serial17")
            _elem528205417.addEventListener("click", function (event) {document.location.href = "/filmInfo528205417"; $$nav.off()});
        </script>
        
        <div id="serial18" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5217457.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Неспящие</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem521745718 = document.getElementById("serial18")
            _elem521745718.addEventListener("click", function (event) {document.location.href = "/filmInfo521745718"; $$nav.off()});
        </script>
        
        <div id="serial19" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4542045.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ночной агент</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem454204519 = document.getElementById("serial19")
            _elem454204519.addEventListener("click", function (event) {document.location.href = "/filmInfo454204519"; $$nav.off()});
        </script>
        
        <div id="serial20" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5055773.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Даже в психиатрическ</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem505577320 = document.getElementById("serial20")
            _elem505577320.addEventListener("click", function (event) {document.location.href = "/filmInfo505577320"; $$nav.off()});
        </script>
        
        <div id="serial21" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5020984.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Актрисы</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem502098421 = document.getElementById("serial21")
            _elem502098421.addEventListener("click", function (event) {document.location.href = "/filmInfo502098421"; $$nav.off()});
        </script>
        
        <div id="serial22" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5265586.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Медсестра</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526558622 = document.getElementById("serial22")
            _elem526558622.addEventListener("click", function (event) {document.location.href = "/filmInfo526558622"; $$nav.off()});
        </script>
        
        <div id="serial23" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5152576.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Меня зовут Фарах</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem515257623 = document.getElementById("serial23")
            _elem515257623.addEventListener("click", function (event) {document.location.href = "/filmInfo515257623"; $$nav.off()});
        </script>
        
        <div id="serial24" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5244981.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Плохая мать</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem524498124 = document.getElementById("serial24")
            _elem524498124.addEventListener("click", function (event) {document.location.href = "/filmInfo524498124"; $$nav.off()});
        </script>
        
        <div id="serial25" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5024436.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Пустошь</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem502443625 = document.getElementById("serial25")
            _elem502443625.addEventListener("click", function (event) {document.location.href = "/filmInfo502443625"; $$nav.off()});
        </script>
        
        <div id="serial26" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4501342.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Связь</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem450134226 = document.getElementById("serial26")
            _elem450134226.addEventListener("click", function (event) {document.location.href = "/filmInfo450134226"; $$nav.off()});
        </script>
        
        <div id="serial27" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4468044.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Любовь и смерть</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem446804427 = document.getElementById("serial27")
            _elem446804427.addEventListener("click", function (event) {document.location.href = "/filmInfo446804427"; $$nav.off()});
        </script>
        
        <div id="serial28" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4707576.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Любовное сражение</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem470757628 = document.getElementById("serial28")
            _elem470757628.addEventListener("click", function (event) {document.location.href = "/filmInfo470757628"; $$nav.off()});
        </script>
        
        <div id="serial29" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5154341.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Светлый пепел луны</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem515434129 = document.getElementById("serial29")
            _elem515434129.addEventListener("click", function (event) {document.location.href = "/filmInfo515434129"; $$nav.off()});
        </script>
        