
        <div id="serial0" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_600880.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Бесконечные небеса</h1>
        <h1>(2011)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem6008800 = document.getElementById("serial0")
            _elem6008800.addEventListener("click", function (event) {document.location.href = "/filmInfo6008800"; $$nav.off()});
        </script>
        
        <div id="serial1" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4384294.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Кокетка</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem43842941 = document.getElementById("serial1")
            _elem43842941.addEventListener("click", function (event) {document.location.href = "/filmInfo43842941"; $$nav.off()});
        </script>
        
        <div id="serial2" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_585727.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Благие знамения</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5857272 = document.getElementById("serial2")
            _elem5857272.addEventListener("click", function (event) {document.location.href = "/filmInfo5857272"; $$nav.off()});
        </script>
        
        <div id="serial3" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4626683.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Этим летом я стала красивой</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46266833 = document.getElementById("serial3")
            _elem46266833.addEventListener("click", function (event) {document.location.href = "/filmInfo46266833"; $$nav.off()});
        </script>
        
        <div id="serial4" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4456485.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Мои приключения с Суперменом</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44564854 = document.getElementById("serial4")
            _elem44564854.addEventListener("click", function (event) {document.location.href = "/filmInfo44564854"; $$nav.off()});
        </script>
        
        <div id="serial5" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4912805.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Мой счастливый брак</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49128055 = document.getElementById("serial5")
            _elem49128055.addEventListener("click", function (event) {document.location.href = "/filmInfo49128055"; $$nav.off()});
        </script>
        
        <div id="serial6" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1342981.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Прорыв: 1950</h1>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13429816 = document.getElementById("serial6")
            _elem13429816.addEventListener("click", function (event) {document.location.href = "/filmInfo13429816"; $$nav.off()});
        </script>
        
        <div id="serial7" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4895015.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Нарядное пугало</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem48950157 = document.getElementById("serial7")
            _elem48950157.addEventListener("click", function (event) {document.location.href = "/filmInfo48950157"; $$nav.off()});
        </script>
        
        <div id="serial8" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1249393.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Всё не так, как кажется</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem12493938 = document.getElementById("serial8")
            _elem12493938.addEventListener("click", function (event) {document.location.href = "/filmInfo12493938"; $$nav.off()});
        </script>
        
        <div id="serial9" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1249393.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Всё не так, как кажется</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem12493939 = document.getElementById("serial9")
            _elem12493939.addEventListener("click", function (event) {document.location.href = "/filmInfo12493939"; $$nav.off()});
        </script>
        
        <div id="serial10" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_462765.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Основание</h1>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46276510 = document.getElementById("serial10")
            _elem46276510.addEventListener("click", function (event) {document.location.href = "/filmInfo46276510"; $$nav.off()});
        </script>
        
        <div id="serial11" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1113116.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Чем мы заняты в тени</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem111311611 = document.getElementById("serial11")
            _elem111311611.addEventListener("click", function (event) {document.location.href = "/filmInfo111311611"; $$nav.off()});
        </script>
        
        <div id="serial12" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4780867.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Школа-интернат</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem478086712 = document.getElementById("serial12")
            _elem478086712.addEventListener("click", function (event) {document.location.href = "/filmInfo478086712"; $$nav.off()});
        </script>
        
        <div id="serial13" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5111852.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Злой дух</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511185213 = document.getElementById("serial13")
            _elem511185213.addEventListener("click", function (event) {document.location.href = "/filmInfo511185213"; $$nav.off()});
        </script>
        
        <div id="serial14" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4397762.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Скрежет металла</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem439776214 = document.getElementById("serial14")
            _elem439776214.addEventListener("click", function (event) {document.location.href = "/filmInfo439776214"; $$nav.off()});
        </script>
        
        <div id="serial15" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4697300.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Расследование сестры Бонифации</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem469730015 = document.getElementById("serial15")
            _elem469730015.addEventListener("click", function (event) {document.location.href = "/filmInfo469730015"; $$nav.off()});
        </script>
        
        <div id="serial16" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4645607.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Этот дурак</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem464560716 = document.getElementById("serial16")
            _elem464560716.addEventListener("click", function (event) {document.location.href = "/filmInfo464560716"; $$nav.off()});
        </script>
        
        <div id="serial17" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1379545.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Звёздный путь: Странные новые мир</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem137954517 = document.getElementById("serial17")
            _elem137954517.addEventListener("click", function (event) {document.location.href = "/filmInfo137954517"; $$nav.off()});
        </script>
        
        <div id="serial18" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4922751.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Замкнутый круг</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem492275118 = document.getElementById("serial18")
            _elem492275118.addEventListener("click", function (event) {document.location.href = "/filmInfo492275118"; $$nav.off()});
        </script>
        
        <div id="serial19" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4357563.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>И просто так</h1>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem435756319 = document.getElementById("serial19")
            _elem435756319.addEventListener("click", function (event) {document.location.href = "/filmInfo435756319"; $$nav.off()});
        </script>
        
        <div id="serial20" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_975895.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Проза бродячих псов</h1>
        <h1>(2016)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem97589520 = document.getElementById("serial20")
            _elem97589520.addEventListener("click", function (event) {document.location.href = "/filmInfo97589520"; $$nav.off()});
        </script>
        
        <div id="serial21" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4424478.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Переполненная комната</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem442447821 = document.getElementById("serial21")
            _elem442447821.addEventListener("click", function (event) {document.location.href = "/filmInfo442447821"; $$nav.off()});
        </script>
        
        <div id="serial22" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4424478.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Переполненная комната</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem442447822 = document.getElementById("serial22")
            _elem442447822.addEventListener("click", function (event) {document.location.href = "/filmInfo442447822"; $$nav.off()});
        </script>
        
        <div id="serial23" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219257.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Воин</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121925723 = document.getElementById("serial23")
            _elem121925723.addEventListener("click", function (event) {document.location.href = "/filmInfo121925723"; $$nav.off()});
        </script>
        
        <div id="serial24" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4397762.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Скрежет металла</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem439776224 = document.getElementById("serial24")
            _elem439776224.addEventListener("click", function (event) {document.location.href = "/filmInfo439776224"; $$nav.off()});
        </script>
        
        <div id="serial25" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5356024.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Команда Z</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535602425 = document.getElementById("serial25")
            _elem535602425.addEventListener("click", function (event) {document.location.href = "/filmInfo535602425"; $$nav.off()});
        </script>
        
        <div id="serial26" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1368506.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Сломай систему</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem136850626 = document.getElementById("serial26")
            _elem136850626.addEventListener("click", function (event) {document.location.href = "/filmInfo136850626"; $$nav.off()});
        </script>
        
        <div id="serial27" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4479180.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Хранители</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem447918027 = document.getElementById("serial27")
            _elem447918027.addEventListener("click", function (event) {document.location.href = "/filmInfo447918027"; $$nav.off()});
        </script>
        
        <div id="serial28" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1143232.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Пятый всадник</h1>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem114323228 = document.getElementById("serial28")
            _elem114323228.addEventListener("click", function (event) {document.location.href = "/filmInfo114323228"; $$nav.off()});
        </script>
        
        <div id="serial29" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4931653.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Бойня</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem493165329 = document.getElementById("serial29")
            _elem493165329.addEventListener("click", function (event) {document.location.href = "/filmInfo493165329"; $$nav.off()});
        </script>
        
        <div id="serial30" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4426750.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Тихая Дорога</h1>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem442675030 = document.getElementById("serial30")
            _elem442675030.addEventListener("click", function (event) {document.location.href = "/filmInfo442675030"; $$nav.off()});
        </script>
        
        <div id="serial31" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219257.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Воин</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121925731 = document.getElementById("serial31")
            _elem121925731.addEventListener("click", function (event) {document.location.href = "/filmInfo121925731"; $$nav.off()});
        </script>
        
        <div id="serial32" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219534.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Ты этого достойна</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121953432 = document.getElementById("serial32")
            _elem121953432.addEventListener("click", function (event) {document.location.href = "/filmInfo121953432"; $$nav.off()});
        </script>
        
        <div id="serial33" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4655689.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Такдир</h1>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem465568933 = document.getElementById("serial33")
            _elem465568933.addEventListener("click", function (event) {document.location.href = "/filmInfo465568933"; $$nav.off()});
        </script>
        
        <div id="serial34" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1112101.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Украденная жизнь</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem111210134 = document.getElementById("serial34")
            _elem111210134.addEventListener("click", function (event) {document.location.href = "/filmInfo111210134"; $$nav.off()});
        </script>
        
        <div id="serial35" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1402701.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Чужой</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem140270135 = document.getElementById("serial35")
            _elem140270135.addEventListener("click", function (event) {document.location.href = "/filmInfo140270135"; $$nav.off()});
        </script>
        
        <div id="serial36" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1421572.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Секретное вторжение</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem142157236 = document.getElementById("serial36")
            _elem142157236.addEventListener("click", function (event) {document.location.href = "/filmInfo142157236"; $$nav.off()});
        </script>
        
        <div id="serial37" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4384987.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Король</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem438498737 = document.getElementById("serial37")
            _elem438498737.addEventListener("click", function (event) {document.location.href = "/filmInfo438498737"; $$nav.off()});
        </script>
        
        <div id="serial38" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_917288.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>В поисках божественного рецепта</h1>
        <h1>(2015)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem91728838 = document.getElementById("serial38")
            _elem91728838.addEventListener("click", function (event) {document.location.href = "/filmInfo91728838"; $$nav.off()});
        </script>
        
        <div id="serial39" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4357563.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>И просто так</h1>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem435756339 = document.getElementById("serial39")
            _elem435756339.addEventListener("click", function (event) {document.location.href = "/filmInfo435756339"; $$nav.off()});
        </script>
        
        <div id="serial40" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4297469.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Историк</h1>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem429746940 = document.getElementById("serial40")
            _elem429746940.addEventListener("click", function (event) {document.location.href = "/filmInfo429746940"; $$nav.off()});
        </script>
        
        <div id="serial41" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1379545.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Звёздный путь: Странные новые мир</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem137954541 = document.getElementById("serial41")
            _elem137954541.addEventListener("click", function (event) {document.location.href = "/filmInfo137954541"; $$nav.off()});
        </script>
        
        <div id="serial42" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5247444.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Макс и Гусь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem524744442 = document.getElementById("serial42")
            _elem524744442.addEventListener("click", function (event) {document.location.href = "/filmInfo524744442"; $$nav.off()});
        </script>
        
        <div id="serial43" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4748517.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Брага</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474851743 = document.getElementById("serial43")
            _elem474851743.addEventListener("click", function (event) {document.location.href = "/filmInfo474851743"; $$nav.off()});
        </script>
        
        <div id="serial44" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219257.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Воин</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121925744 = document.getElementById("serial44")
            _elem121925744.addEventListener("click", function (event) {document.location.href = "/filmInfo121925744"; $$nav.off()});
        </script>
        
        <div id="serial45" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1112514.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Харли Квинн</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem111251445 = document.getElementById("serial45")
            _elem111251445.addEventListener("click", function (event) {document.location.href = "/filmInfo111251445"; $$nav.off()});
        </script>
        
        <div id="serial46" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4510601.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Тёмные ветра</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem451060146 = document.getElementById("serial46")
            _elem451060146.addEventListener("click", function (event) {document.location.href = "/filmInfo451060146"; $$nav.off()});
        </script>
        
        <div id="serial47" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5139120.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Обычный Джо</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem513912047 = document.getElementById("serial47")
            _elem513912047.addEventListener("click", function (event) {document.location.href = "/filmInfo513912047"; $$nav.off()});
        </script>
        
        <div id="serial48" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4922751.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Замкнутый круг</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem492275148 = document.getElementById("serial48")
            _elem492275148.addEventListener("click", function (event) {document.location.href = "/filmInfo492275148"; $$nav.off()});
        </script>
        
        <div id="serial49" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1379545.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Звёздный путь: Странные новые мир</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem137954549 = document.getElementById("serial49")
            _elem137954549.addEventListener("click", function (event) {document.location.href = "/filmInfo137954549"; $$nav.off()});
        </script>
        