
        <div id="serial0" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4746054.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Грисельда</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47460540 = document.getElementById("serial0")
            _elem47460540.addEventListener("click", function (event) {document.location.href = "/filmInfo47460540"; $$nav.off()});
        </script>
        
        <div id="serial1" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5091936.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Зорро</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50919361 = document.getElementById("serial1")
            _elem50919361.addEventListener("click", function (event) {document.location.href = "/filmInfo50919361"; $$nav.off()});
        </script>
        
        <div id="serial2" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_1322676.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Властелины воздуха</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13226762 = document.getElementById("serial2")
            _elem13226762.addEventListener("click", function (event) {document.location.href = "/filmInfo13226762"; $$nav.off()});
        </script>
        
        <div id="serial3" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5079770.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Парадокс убийцы</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50797703 = document.getElementById("serial3")
            _elem50797703.addEventListener("click", function (event) {document.location.href = "/filmInfo50797703"; $$nav.off()});
        </script>
        
        <div id="serial4" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5360026.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Бедные смеются, бога</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53600264 = document.getElementById("serial4")
            _elem53600264.addEventListener("click", function (event) {document.location.href = "/filmInfo53600264"; $$nav.off()});
        </script>
        
        <div id="serial5" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4498603.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Месье Спейд</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44986035 = document.getElementById("serial5")
            _elem44986035.addEventListener("click", function (event) {document.location.href = "/filmInfo44986035"; $$nav.off()});
        </script>
        
        <div id="serial6" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5407781.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Единожды солгав</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54077816 = document.getElementById("serial6")
            _elem54077816.addEventListener("click", function (event) {document.location.href = "/filmInfo54077816"; $$nav.off()});
        </script>
        
        <div id="serial7" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4747375.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Её история</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47473757 = document.getElementById("serial7")
            _elem47473757.addEventListener("click", function (event) {document.location.href = "/filmInfo47473757"; $$nav.off()});
        </script>
        
        <div id="serial8" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5421856.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>На работу!</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54218568 = document.getElementById("serial8")
            _elem54218568.addEventListener("click", function (event) {document.location.href = "/filmInfo54218568"; $$nav.off()});
        </script>
        
        <div id="serial9" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4419591.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Эхо</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44195919 = document.getElementById("serial9")
            _elem44195919.addEventListener("click", function (event) {document.location.href = "/filmInfo44195919"; $$nav.off()});
        </script>
        
        <div id="serial10" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4785333.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Смерть и другие подр</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem478533310 = document.getElementById("serial10")
            _elem478533310.addEventListener("click", function (event) {document.location.href = "/filmInfo478533310"; $$nav.off()});
        </script>
        
        <div id="serial11" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5379471.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Выходи замуж за моег</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem537947111 = document.getElementById("serial11")
            _elem537947111.addEventListener("click", function (event) {document.location.href = "/filmInfo537947111"; $$nav.off()});
        </script>
        
        <div id="serial12" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5274192.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Магазин для киллеров</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem527419212 = document.getElementById("serial12")
            _elem527419212.addEventListener("click", function (event) {document.location.href = "/filmInfo527419212"; $$nav.off()});
        </script>
        
        <div id="serial13" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5194592.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Прелесть</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem519459213 = document.getElementById("serial13")
            _elem519459213.addEventListener("click", function (event) {document.location.href = "/filmInfo519459213"; $$nav.off()});
        </script>
        
        <div id="serial14" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4475348.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Третий лишний</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem447534814 = document.getElementById("serial14")
            _elem447534814.addEventListener("click", function (event) {document.location.href = "/filmInfo447534814"; $$nav.off()});
        </script>
        
        <div id="serial15" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5009179.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Братья Сунь</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem500917915 = document.getElementById("serial15")
            _elem500917915.addEventListener("click", function (event) {document.location.href = "/filmInfo500917915"; $$nav.off()});
        </script>
        
        <div id="serial16" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5139096.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Один день</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem513909616 = document.getElementById("serial16")
            _elem513909616.addEventListener("click", function (event) {document.location.href = "/filmInfo513909616"; $$nav.off()});
        </script>
        
        <div id="serial17" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4363942.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Мистер и миссис Смит</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem436394217 = document.getElementById("serial17")
            _elem436394217.addEventListener("click", function (event) {document.location.href = "/filmInfo436394217"; $$nav.off()});
        </script>
        
        <div id="serial18" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5405293.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Клипот</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540529318 = document.getElementById("serial18")
            _elem540529318.addEventListener("click", function (event) {document.location.href = "/filmInfo540529318"; $$nav.off()});
        </script>
        
        <div id="serial19" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5119715.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Очевидное невероятно</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511971519 = document.getElementById("serial19")
            _elem511971519.addEventListener("click", function (event) {document.location.href = "/filmInfo511971519"; $$nav.off()});
        </script>
        
        <div id="serial20" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5367788.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ласт квест</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536778820 = document.getElementById("serial20")
            _elem536778820.addEventListener("click", function (event) {document.location.href = "/filmInfo536778820"; $$nav.off()});
        </script>
        
        <div id="serial21" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5244373.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Двое на краю</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem524437321 = document.getElementById("serial21")
            _elem524437321.addEventListener("click", function (event) {document.location.href = "/filmInfo524437321"; $$nav.off()});
        </script>
        
        <div id="serial22" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5212614.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Убийства в Стилтауне</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem521261422 = document.getElementById("serial22")
            _elem521261422.addEventListener("click", function (event) {document.location.href = "/filmInfo521261422"; $$nav.off()});
        </script>
        
        <div id="serial23" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4992678.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Голубоглазый самурай</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem499267823 = document.getElementById("serial23")
            _elem499267823.addEventListener("click", function (event) {document.location.href = "/filmInfo499267823"; $$nav.off()});
        </script>
        
        <div id="serial24" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5255607.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>СуперИвановы</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem525560724 = document.getElementById("serial24")
            _elem525560724.addEventListener("click", function (event) {document.location.href = "/filmInfo525560724"; $$nav.off()});
        </script>
        
        <div id="serial25" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4825559.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Скотт Пилигрим жмёт </p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem482555925 = document.getElementById("serial25")
            _elem482555925.addEventListener("click", function (event) {document.location.href = "/filmInfo482555925"; $$nav.off()});
        </script>
        
        <div id="serial26" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5368233.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ловкий плут</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536823326 = document.getElementById("serial26")
            _elem536823326.addEventListener("click", function (event) {document.location.href = "/filmInfo536823326"; $$nav.off()});
        </script>
        
        <div id="serial27" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4673107.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Падение дома Ашеров</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem467310727 = document.getElementById("serial27")
            _elem467310727.addEventListener("click", function (event) {document.location.href = "/filmInfo467310727"; $$nav.off()});
        </script>
        
        <div id="serial28" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4420139.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Отчёт о буйстве духо</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem442013928 = document.getElementById("serial28")
            _elem442013928.addEventListener("click", function (event) {document.location.href = "/filmInfo442013928"; $$nav.off()});
        </script>
        
        <div id="serial29" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_462212.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Рой</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46221229 = document.getElementById("serial29")
            _elem46221229.addEventListener("click", function (event) {document.location.href = "/filmInfo46221229"; $$nav.off()});
        </script>
        