
        <div id="serial0" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5367788.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ласт квест</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53677880 = document.getElementById("serial0")
            _elem53677880.addEventListener("click", function (event) {document.location.href = "/filmInfo53677880"; $$nav.off()});
        </script>
        
        <div id="serial1" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5244373.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Двое на краю</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52443731 = document.getElementById("serial1")
            _elem52443731.addEventListener("click", function (event) {document.location.href = "/filmInfo52443731"; $$nav.off()});
        </script>
        
        <div id="serial2" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5212614.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Убийства в Стилтауне</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52126142 = document.getElementById("serial2")
            _elem52126142.addEventListener("click", function (event) {document.location.href = "/filmInfo52126142"; $$nav.off()});
        </script>
        
        <div id="serial3" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4992678.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Голубоглазый самурай</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49926783 = document.getElementById("serial3")
            _elem49926783.addEventListener("click", function (event) {document.location.href = "/filmInfo49926783"; $$nav.off()});
        </script>
        
        <div id="serial4" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5255607.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>СуперИвановы</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52556074 = document.getElementById("serial4")
            _elem52556074.addEventListener("click", function (event) {document.location.href = "/filmInfo52556074"; $$nav.off()});
        </script>
        
        <div id="serial5" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4825559.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Скотт Пилигрим жмёт </p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem48255595 = document.getElementById("serial5")
            _elem48255595.addEventListener("click", function (event) {document.location.href = "/filmInfo48255595"; $$nav.off()});
        </script>
        
        <div id="serial6" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5368233.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ловкий плут</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53682336 = document.getElementById("serial6")
            _elem53682336.addEventListener("click", function (event) {document.location.href = "/filmInfo53682336"; $$nav.off()});
        </script>
        
        <div id="serial7" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4673107.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Падение дома Ашеров</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46731077 = document.getElementById("serial7")
            _elem46731077.addEventListener("click", function (event) {document.location.href = "/filmInfo46731077"; $$nav.off()});
        </script>
        
        <div id="serial8" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4420139.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Отчёт о буйстве духо</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44201398 = document.getElementById("serial8")
            _elem44201398.addEventListener("click", function (event) {document.location.href = "/filmInfo44201398"; $$nav.off()});
        </script>
        
        <div id="serial9" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_462212.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Рой</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem4622129 = document.getElementById("serial9")
            _elem4622129.addEventListener("click", function (event) {document.location.href = "/filmInfo4622129"; $$nav.off()});
        </script>
        
        <div id="serial10" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5282054.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ложь, спрятанная у м</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem528205410 = document.getElementById("serial10")
            _elem528205410.addEventListener("click", function (event) {document.location.href = "/filmInfo528205410"; $$nav.off()});
        </script>
        
        <div id="serial11" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5217457.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Неспящие</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem521745711 = document.getElementById("serial11")
            _elem521745711.addEventListener("click", function (event) {document.location.href = "/filmInfo521745711"; $$nav.off()});
        </script>
        
        <div id="serial12" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4542045.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ночной агент</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem454204512 = document.getElementById("serial12")
            _elem454204512.addEventListener("click", function (event) {document.location.href = "/filmInfo454204512"; $$nav.off()});
        </script>
        
        <div id="serial13" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5055773.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Даже в психиатрическ</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem505577313 = document.getElementById("serial13")
            _elem505577313.addEventListener("click", function (event) {document.location.href = "/filmInfo505577313"; $$nav.off()});
        </script>
        
        <div id="serial14" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5020984.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Актрисы</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem502098414 = document.getElementById("serial14")
            _elem502098414.addEventListener("click", function (event) {document.location.href = "/filmInfo502098414"; $$nav.off()});
        </script>
        
        <div id="serial15" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5265586.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Медсестра</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526558615 = document.getElementById("serial15")
            _elem526558615.addEventListener("click", function (event) {document.location.href = "/filmInfo526558615"; $$nav.off()});
        </script>
        
        <div id="serial16" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5152576.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Меня зовут Фарах</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem515257616 = document.getElementById("serial16")
            _elem515257616.addEventListener("click", function (event) {document.location.href = "/filmInfo515257616"; $$nav.off()});
        </script>
        
        <div id="serial17" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5244981.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Плохая мать</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem524498117 = document.getElementById("serial17")
            _elem524498117.addEventListener("click", function (event) {document.location.href = "/filmInfo524498117"; $$nav.off()});
        </script>
        
        <div id="serial18" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5024436.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Пустошь</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem502443618 = document.getElementById("serial18")
            _elem502443618.addEventListener("click", function (event) {document.location.href = "/filmInfo502443618"; $$nav.off()});
        </script>
        
        <div id="serial19" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4501342.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Связь</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem450134219 = document.getElementById("serial19")
            _elem450134219.addEventListener("click", function (event) {document.location.href = "/filmInfo450134219"; $$nav.off()});
        </script>
        
        <div id="serial20" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4468044.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Любовь и смерть</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem446804420 = document.getElementById("serial20")
            _elem446804420.addEventListener("click", function (event) {document.location.href = "/filmInfo446804420"; $$nav.off()});
        </script>
        
        <div id="serial21" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4707576.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Любовное сражение</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem470757621 = document.getElementById("serial21")
            _elem470757621.addEventListener("click", function (event) {document.location.href = "/filmInfo470757621"; $$nav.off()});
        </script>
        
        <div id="serial22" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5154341.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Светлый пепел луны</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem515434122 = document.getElementById("serial22")
            _elem515434122.addEventListener("click", function (event) {document.location.href = "/filmInfo515434122"; $$nav.off()});
        </script>
        
        <div id="serial23" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5282460.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ева. Связь сквозь вр</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem528246023 = document.getElementById("serial23")
            _elem528246023.addEventListener("click", function (event) {document.location.href = "/filmInfo528246023"; $$nav.off()});
        </script>
        
        <div id="serial24" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4970691.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Небесный айдол</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem497069124 = document.getElementById("serial24")
            _elem497069124.addEventListener("click", function (event) {document.location.href = "/filmInfo497069124"; $$nav.off()});
        </script>
        
        <div id="serial25" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4795888.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Берлин</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem479588825 = document.getElementById("serial25")
            _elem479588825.addEventListener("click", function (event) {document.location.href = "/filmInfo479588825"; $$nav.off()});
        </script>
        
        <div id="serial26" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_4781118.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Консультант</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem478111826 = document.getElementById("serial26")
            _elem478111826.addEventListener("click", function (event) {document.location.href = "/filmInfo478111826"; $$nav.off()});
        </script>
        
        <div id="serial27" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5265672.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Доктор Чха</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526567227 = document.getElementById("serial27")
            _elem526567227.addEventListener("click", function (event) {document.location.href = "/filmInfo526567227"; $$nav.off()});
        </script>
        
        <div id="serial28" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_5249693.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Пилигрим</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem524969328 = document.getElementById("serial28")
            _elem524969328.addEventListener("click", function (event) {document.location.href = "/filmInfo524969328"; $$nav.off()});
        </script>
        
        <div id="serial29" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('http://st.kp.yandex.net/images/film_iphone/iphone360_1436043.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Сны Алисы</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem143604329 = document.getElementById("serial29")
            _elem143604329.addEventListener("click", function (event) {document.location.href = "/filmInfo143604329"; $$nav.off()});
        </script>
        