
        <div id="serial0" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4761950.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Звезды в Африке</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47619500 = document.getElementById("serial0")
            _elem47619500.addEventListener("click", function (event) {document.location.href = "/filmInfo47619500"; $$nav.off()});
        </script>
        
        <div id="serial1" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5106881.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Зимородок</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51068811 = document.getElementById("serial1")
            _elem51068811.addEventListener("click", function (event) {document.location.href = "/filmInfo51068811"; $$nav.off()});
        </script>
        
        <div id="serial2" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1226353.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Супермонстры</p>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem12263532 = document.getElementById("serial2")
            _elem12263532.addEventListener("click", function (event) {document.location.href = "/filmInfo12263532"; $$nav.off()});
        </script>
        
        <div id="serial3" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4396536.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>В ударе</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem43965363 = document.getElementById("serial3")
            _elem43965363.addEventListener("click", function (event) {document.location.href = "/filmInfo43965363"; $$nav.off()});
        </script>
        
        <div id="serial4" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5003723.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Против всех</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50037234 = document.getElementById("serial4")
            _elem50037234.addEventListener("click", function (event) {document.location.href = "/filmInfo50037234"; $$nav.off()});
        </script>
        
        <div id="serial5" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5217306.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Омер</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52173065 = document.getElementById("serial5")
            _elem52173065.addEventListener("click", function (event) {document.location.href = "/filmInfo52173065"; $$nav.off()});
        </script>
        
        <div id="serial6" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1127489.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Загрузка</p>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem11274896 = document.getElementById("serial6")
            _elem11274896.addEventListener("click", function (event) {document.location.href = "/filmInfo11274896"; $$nav.off()});
        </script>
        
        <div id="serial7" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_685246.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Рик и Морти</p>
        <h1>(2013)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem6852467 = document.getElementById("serial7")
            _elem6852467.addEventListener("click", function (event) {document.location.href = "/filmInfo6852467"; $$nav.off()});
        </script>
        
        <div id="serial8" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_77164.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Симпсоны</p>
        <h1>(1989)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem771648 = document.getElementById("serial8")
            _elem771648.addEventListener("click", function (event) {document.location.href = "/filmInfo771648"; $$nav.off()});
        </script>
        
        <div id="serial9" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1144179.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Роковой патруль</p>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem11441799 = document.getElementById("serial9")
            _elem11441799.addEventListener("click", function (event) {document.location.href = "/filmInfo11441799"; $$nav.off()});
        </script>
        
        <div id="serial10" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1072966.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Невеста чародея</p>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem107296610 = document.getElementById("serial10")
            _elem107296610.addEventListener("click", function (event) {document.location.href = "/filmInfo107296610"; $$nav.off()});
        </script>
        
        <div id="serial11" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5394623.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Убийство на борту</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem539462311 = document.getElementById("serial11")
            _elem539462311.addEventListener("click", function (event) {document.location.href = "/filmInfo539462311"; $$nav.off()});
        </script>
        
        <div id="serial12" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1140676.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Позолоченный век</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem114067612 = document.getElementById("serial12")
            _elem114067612.addEventListener("click", function (event) {document.location.href = "/filmInfo114067612"; $$nav.off()});
        </script>
        
        <div id="serial13" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4686248.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Семья шпиона</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem468624813 = document.getElementById("serial13")
            _elem468624813.addEventListener("click", function (event) {document.location.href = "/filmInfo468624813"; $$nav.off()});
        </script>
        
        <div id="serial14" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1235052.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Восхождение героя щи</p>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem123505214 = document.getElementById("serial14")
            _elem123505214.addEventListener("click", function (event) {document.location.href = "/filmInfo123505214"; $$nav.off()});
        </script>
        
        <div id="serial15" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5237286.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Трон, отмеченный бог</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523728615 = document.getElementById("serial15")
            _elem523728615.addEventListener("click", function (event) {document.location.href = "/filmInfo523728615"; $$nav.off()});
        </script>
        
        <div id="serial16" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4438484.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Волк как я</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem443848416 = document.getElementById("serial16")
            _elem443848416.addEventListener("click", function (event) {document.location.href = "/filmInfo443848416"; $$nav.off()});
        </script>
        
        <div id="serial17" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4645603.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Летучие медики</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem464560317 = document.getElementById("serial17")
            _elem464560317.addEventListener("click", function (event) {document.location.href = "/filmInfo464560317"; $$nav.off()});
        </script>
        
        <div id="serial18" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1431133.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Поколение «Ви»</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem143113318 = document.getElementById("serial18")
            _elem143113318.addEventListener("click", function (event) {document.location.href = "/filmInfo143113318"; $$nav.off()});
        </script>
        
        <div id="serial19" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1272295.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Супермонстры и их пи</p>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem127229519 = document.getElementById("serial19")
            _elem127229519.addEventListener("click", function (event) {document.location.href = "/filmInfo127229519"; $$nav.off()});
        </script>
        
        <div id="serial20" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1175513.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Убийца гоблинов</p>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem117551320 = document.getElementById("serial20")
            _elem117551320.addEventListener("click", function (event) {document.location.href = "/filmInfo117551320"; $$nav.off()});
        </script>
        
        <div id="serial21" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5115724.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Побег семерых</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511572421 = document.getElementById("serial21")
            _elem511572421.addEventListener("click", function (event) {document.location.href = "/filmInfo511572421"; $$nav.off()});
        </script>
        
        <div id="serial22" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1048143.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Утреннее шоу</p>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem104814322 = document.getElementById("serial22")
            _elem104814322.addEventListener("click", function (event) {document.location.href = "/filmInfo104814322"; $$nav.off()});
        </script>
        
        <div id="serial23" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5372037.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Сапфир</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem537203723 = document.getElementById("serial23")
            _elem537203723.addEventListener("click", function (event) {document.location.href = "/filmInfo537203723"; $$nav.off()});
        </script>
        
        <div id="serial24" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1203039.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Локи</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem120303924 = document.getElementById("serial24")
            _elem120303924.addEventListener("click", function (event) {document.location.href = "/filmInfo120303924"; $$nav.off()});
        </script>
        
        <div id="serial25" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1431133.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Поколение «Ви»</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem143113325 = document.getElementById("serial25")
            _elem143113325.addEventListener("click", function (event) {document.location.href = "/filmInfo143113325"; $$nav.off()});
        </script>
        
        <div id="serial26" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4646038.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Законники: Басс Ривз</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem464603826 = document.getElementById("serial26")
            _elem464603826.addEventListener("click", function (event) {document.location.href = "/filmInfo464603826"; $$nav.off()});
        </script>
        
        <div id="serial27" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5354983.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Дневная луна</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535498327 = document.getElementById("serial27")
            _elem535498327.addEventListener("click", function (event) {document.location.href = "/filmInfo535498327"; $$nav.off()});
        </script>
        
        <div id="serial28" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_846892.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Бойтесь ходячих мерт</p>
        <h1>(2015)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem84689228 = document.getElementById("serial28")
            _elem84689228.addEventListener("click", function (event) {document.location.href = "/filmInfo84689228"; $$nav.off()});
        </script>
        
        <div id="serial29" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5019944.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Кибердеревня</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem501994429 = document.getElementById("serial29")
            _elem501994429.addEventListener("click", function (event) {document.location.href = "/filmInfo501994429"; $$nav.off()});
        </script>
        
        <div id="serial30" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4703386.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Билли Кид</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem470338630 = document.getElementById("serial30")
            _elem470338630.addEventListener("click", function (event) {document.location.href = "/filmInfo470338630"; $$nav.off()});
        </script>
        
        <div id="serial31" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5396130.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Оксен</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem539613031 = document.getElementById("serial31")
            _elem539613031.addEventListener("click", function (event) {document.location.href = "/filmInfo539613031"; $$nav.off()});
        </script>
        
        <div id="serial32" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4901749.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Восхождение в тени!</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem490174932 = document.getElementById("serial32")
            _elem490174932.addEventListener("click", function (event) {document.location.href = "/filmInfo490174932"; $$nav.off()});
        </script>
        
        <div id="serial33" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4529942.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Борец</p>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem452994233 = document.getElementById("serial33")
            _elem452994233.addEventListener("click", function (event) {document.location.href = "/filmInfo452994233"; $$nav.off()});
        </script>
        
        <div id="serial34" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4531283.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Абрек</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem453128334 = document.getElementById("serial34")
            _elem453128334.addEventListener("click", function (event) {document.location.href = "/filmInfo453128334"; $$nav.off()});
        </script>
        
        <div id="serial35" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5361473.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Сказочный сон</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536147335 = document.getElementById("serial35")
            _elem536147335.addEventListener("click", function (event) {document.location.href = "/filmInfo536147335"; $$nav.off()});
        </script>
        
        <div id="serial36" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5394659.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Мур-мур, Амур</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem539465936 = document.getElementById("serial36")
            _elem539465936.addEventListener("click", function (event) {document.location.href = "/filmInfo539465936"; $$nav.off()});
        </script>
        
        <div id="serial37" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5400476.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Тень саламандры</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540047637 = document.getElementById("serial37")
            _elem540047637.addEventListener("click", function (event) {document.location.href = "/filmInfo540047637"; $$nav.off()});
        </script>
        
        <div id="serial38" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5280885.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Последний шанс</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem528088538 = document.getElementById("serial38")
            _elem528088538.addEventListener("click", function (event) {document.location.href = "/filmInfo528088538"; $$nav.off()});
        </script>
        
        <div id="serial39" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5315534.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Рецепт на любовь</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem531553439 = document.getElementById("serial39")
            _elem531553439.addEventListener("click", function (event) {document.location.href = "/filmInfo531553439"; $$nav.off()});
        </script>
        
        <div id="serial40" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_992619.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Доктор Анна</p>
        <h1>(2016)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem99261940 = document.getElementById("serial40")
            _elem99261940.addEventListener("click", function (event) {document.location.href = "/filmInfo99261940"; $$nav.off()});
        </script>
        
        <div id="serial41" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5048754.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Иррациональный</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem504875441 = document.getElementById("serial41")
            _elem504875441.addEventListener("click", function (event) {document.location.href = "/filmInfo504875441"; $$nav.off()});
        </script>
        
        <div id="serial42" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5355797.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Зимний король</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535579742 = document.getElementById("serial42")
            _elem535579742.addEventListener("click", function (event) {document.location.href = "/filmInfo535579742"; $$nav.off()});
        </script>
        
        <div id="serial43" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1144179.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Роковой патруль</p>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem114417943 = document.getElementById("serial43")
            _elem114417943.addEventListener("click", function (event) {document.location.href = "/filmInfo114417943"; $$nav.off()});
        </script>
        
        <div id="serial44" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_406158.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>WWE RAW</p>
        <h1>(1993)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem40615844 = document.getElementById("serial44")
            _elem40615844.addEventListener("click", function (event) {document.location.href = "/filmInfo40615844"; $$nav.off()});
        </script>
        
        <div id="serial45" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4367624.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Уроки химии</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem436762445 = document.getElementById("serial45")
            _elem436762445.addEventListener("click", function (event) {document.location.href = "/filmInfo436762445"; $$nav.off()});
        </script>
        
        <div id="serial46" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1209195.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Звездный путь: Нижни</p>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem120919546 = document.getElementById("serial46")
            _elem120919546.addEventListener("click", function (event) {document.location.href = "/filmInfo120919546"; $$nav.off()});
        </script>
        
        <div id="serial47" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5401195.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Провожающая в послед</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540119547 = document.getElementById("serial47")
            _elem540119547.addEventListener("click", function (event) {document.location.href = "/filmInfo540119547"; $$nav.off()});
        </script>
        
        <div id="serial48" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5401195.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Провожающая в послед</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540119548 = document.getElementById("serial48")
            _elem540119548.addEventListener("click", function (event) {document.location.href = "/filmInfo540119548"; $$nav.off()});
        </script>
        
        <div id="serial49" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1209195.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Звездный путь: Нижни</p>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem120919549 = document.getElementById("serial49")
            _elem120919549.addEventListener("click", function (event) {document.location.href = "/filmInfo120919549"; $$nav.off()});
        </script>
        