
        <div id="serial0" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/574688.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Родина</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem574688 = document.getElementById("serial0")
            _elem574688.addEventListener("click", function (event) {document.location.href = "/filmInfo5746880"; $$nav.off()});
        </script>
        
        <div id="serial1" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/77046.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Секретные материалы</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem77047 = document.getElementById("serial1")
            _elem77047.addEventListener("click", function (event) {document.location.href = "/filmInfo770461"; $$nav.off()});
        </script>
        
        <div id="serial2" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/796660.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Лучше звоните Солу</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem796662 = document.getElementById("serial2")
            _elem796662.addEventListener("click", function (event) {document.location.href = "/filmInfo7966602"; $$nav.off()});
        </script>
        
        <div id="serial3" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/464963.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Игра престолов</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem464966 = document.getElementById("serial3")
            _elem464966.addEventListener("click", function (event) {document.location.href = "/filmInfo4649633"; $$nav.off()});
        </script>
        
        <div id="serial4" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/893849.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Бородач</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem893853 = document.getElementById("serial4")
            _elem893853.addEventListener("click", function (event) {document.location.href = "/filmInfo8938494"; $$nav.off()});
        </script>
        
        <div id="serial5" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/840002.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Трудности ассимиляци</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem840007 = document.getElementById("serial5")
            _elem840007.addEventListener("click", function (event) {document.location.href = "/filmInfo8400025"; $$nav.off()});
        </script>
        
        <div id="serial6" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/508161.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ходячие мертвецы</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem508167 = document.getElementById("serial6")
            _elem508167.addEventListener("click", function (event) {document.location.href = "/filmInfo5081616"; $$nav.off()});
        </script>
        
        <div id="serial7" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/701756.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Агенты Щ.И.Т.</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem701763 = document.getElementById("serial7")
            _elem701763.addEventListener("click", function (event) {document.location.href = "/filmInfo7017567"; $$nav.off()});
        </script>
        
        <div id="serial8" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/733493.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Сотня</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem733501 = document.getElementById("serial8")
            _elem733501.addEventListener("click", function (event) {document.location.href = "/filmInfo7334938"; $$nav.off()});
        </script>
        
        <div id="serial9" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/891337.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>11/22/63</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem891346 = document.getElementById("serial9")
            _elem891346.addEventListener("click", function (event) {document.location.href = "/filmInfo8913379"; $$nav.off()});
        </script>
        
        <div id="serial10" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/887610.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Области тьмы</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem887620 = document.getElementById("serial10")
            _elem887620.addEventListener("click", function (event) {document.location.href = "/filmInfo88761010"; $$nav.off()});
        </script>
        
        <div id="serial11" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/875215.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Волшебники</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem875226 = document.getElementById("serial11")
            _elem875226.addEventListener("click", function (event) {document.location.href = "/filmInfo87521511"; $$nav.off()});
        </script>
        
        <div id="serial12" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/841615.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Хроники Шаннары</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem841627 = document.getElementById("serial12")
            _elem841627.addEventListener("click", function (event) {document.location.href = "/filmInfo84161512"; $$nav.off()});
        </script>
        
        <div id="serial13" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/891586.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Дэмиен</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem891599 = document.getElementById("serial13")
            _elem891599.addEventListener("click", function (event) {document.location.href = "/filmInfo89158613"; $$nav.off()});
        </script>
        
        <div id="serial14" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/453191.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Дневники вампира</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem453205 = document.getElementById("serial14")
            _elem453205.addEventListener("click", function (event) {document.location.href = "/filmInfo45319114"; $$nav.off()});
        </script>
        
        <div id="serial15" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/924290.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Красная королева</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem924305 = document.getElementById("serial15")
            _elem924305.addEventListener("click", function (event) {document.location.href = "/filmInfo92429015"; $$nav.off()});
        </script>
        
        <div id="serial16" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/941521.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Остров</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem941537 = document.getElementById("serial16")
            _elem941537.addEventListener("click", function (event) {document.location.href = "/filmInfo94152116"; $$nav.off()});
        </script>
        
        <div id="serial17" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/462649.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ночной администратор</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem462666 = document.getElementById("serial17")
            _elem462666.addEventListener("click", function (event) {document.location.href = "/filmInfo46264917"; $$nav.off()});
        </script>
        
        <div id="serial18" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/817509.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Сорвиголова</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem817527 = document.getElementById("serial18")
            _elem817527.addEventListener("click", function (event) {document.location.href = "/filmInfo81750918"; $$nav.off()});
        </script>
        
        <div id="serial19" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/727157.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Чернобыль: Зона отчу</p>
        </div>
        </div>
        <script type="text/javascript">
            var _elem727176 = document.getElementById("serial19")
            _elem727176.addEventListener("click", function (event) {document.location.href = "/filmInfo72715719"; $$nav.off()});
        </script>
        