<div id="serial0" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5357727.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Моя возлюбленная забыла свои очки</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="serial1" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_668250.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Универсальный боец</h1>
            <h1>2005 Сериал</h1>
            </div>
        </div>
        <div id="serial2" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4968949.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Захваченный рейс</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="serial3" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4757737.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Правосудие: Первобытный город</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="serial4" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_692943.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Виолетта</h1>
            <h1>2012 Сериал</h1>
            </div>
        </div>
        <div id="serial5" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1321922.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Адский босс</h1>
            <h1>2019 Сериал</h1>
            </div>
        </div>
        <div id="serial6" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1404737.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Вечеринка</h1>
            <h1>2022 Сериал</h1>
            </div>
        </div>
        <div id="serial7" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_719694.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Пожарная служба Такомы</h1>
            <h1>2019 Сериал</h1>
            </div>
        </div>
        <div id="serial8" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4968949.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Захваченный рейс</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="serial9" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5355824.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Душа не слышит</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="serial10" style="background: url('https://bazon.cc/download/poster/1143232.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Пятый всадник</h1>
            <h1>2018 Сериал</h1>
            </div>
        </div>
        <div id="serial11" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1322697.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Братья Харди</h1>
            <h1>2020 Сериал</h1>
            </div>
        </div>
        <div id="serial12" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5319826.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Если сильно полюбишь</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="serial13" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_818284.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Чужестранка</h1>
            <h1>2014 Сериал</h1>
            </div>
        </div>
        <div id="serial14" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1047991.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Бронзовый сад</h1>
            <h1>2017 Сериал</h1>
            </div>
        </div>
        <div id="serial15" style="background: url('https://bazon.cc/download/poster/4931653.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Бойня</h1>
            <h1>2019 Сериал</h1>
            </div>
        </div>
        <div id="serial16" style="background: url('https://bazon.cc/download/poster/4749863.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Надзиратели</h1>
            <h1>2022 Сериал</h1>
            </div>
        </div>
        <div id="serial17" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4384987.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Король</h1>
            <h1>2022 Сериал</h1>
            </div>
        </div>
        <div id="serial18" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219534.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Ты этого достойна</h1>
            <h1>2022 Сериал</h1>
            </div>
        </div>
        <div id="serial19" style="background: url('https://bazon.cc/download/poster/4655689.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Такдир</h1>
            <h1>2020 Сериал</h1>
            </div>
        </div>
        <div id="serial20" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1175021.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Принц драконов</h1>
            <h1>2018 Сериал</h1>
            </div>
        </div>
        <div id="serial21" style="background: url('https://bazon.cc/download/poster/4479180.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Хранители</h1>
            <h1>2022 Сериал</h1>
            </div>
        </div>
        <div id="serial22" style="background: url('https://bazon.cc/download/poster/5356024.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Команда Z</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="serial23" style="background: url('https://bazon.cc/download/poster/1368506.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Сломай систему</h1>
            <h1>2022 Сериал</h1>
            </div>
        </div>
        <div id="serial24" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4531254.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Два холма</h1>
            <h1>2022 Сериал</h1>
            </div>
        </div>
        <div id="serial25" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4297469.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Историк</h1>
            <h1>2021 Сериал</h1>
            </div>
        </div>
        <div id="serial26" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_79920.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Футурама</h1>
            <h1>1999 Сериал</h1>
            </div>
        </div>
        <div id="serial27" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_79920.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Футурама</h1>
            <h1>1999 Сериал</h1>
            </div>
        </div>
        <div id="serial28" style="background: url('https://bazon.cc/download/poster/4841204.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Секреты Playboy</h1>
            <h1>2022 Сериал</h1>
            </div>
        </div>
        <div id="serial29" style="background: url('https://bazon.cc/download/poster/1199745.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Расколотая битвой синева небес</h1>
            <h1>2017 Сериал</h1>
            </div>
        </div>
        <div id="serial30" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1320789.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Жестокое лето</h1>
            <h1>2021 Сериал</h1>
            </div>
        </div>
        <div id="serial31" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4357563.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>И просто так</h1>
            <h1>2021 Сериал</h1>
            </div>
        </div>
        <div id="serial32" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5297246.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Слабейший монстр</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="serial33" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5141851.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Голубая клетка</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="serial34" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1412084.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Спецназ: Львица</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="serial35" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5121100.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Ниер: Автомата - Версия 1.1а</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="serial36" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1312253.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Реинкарнация безработного: История о приключениях в другом мире</h1>
            <h1>2021 Сериал</h1>
            </div>
        </div>
        <div id="serial37" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1111018.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Чудотворцы</h1>
            <h1>2019 Сериал</h1>
            </div>
        </div>
        <div id="serial38" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1170183.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Праведные Джемстоуны</h1>
            <h1>2019 Сериал</h1>
            </div>
        </div>
        <div id="serial39" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_790336.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Вселенная Стивена</h1>
            <h1>2013 Сериал</h1>
            </div>
        </div>
        <div id="serial40" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4295842.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Наби, моя мачеха</h1>
            <h1>2021 Сериал</h1>
            </div>
        </div>
        <div id="serial41" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4384124.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Marvel Studios: Общий сбор</h1>
            <h1>2021 Сериал</h1>
            </div>
        </div>
        <div id="serial42" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1346720.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Домина</h1>
            <h1>2021 Сериал</h1>
            </div>
        </div>
        <div id="serial43" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4920605.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Король земли</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="serial44" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1046429.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Жестокий мир мужчин</h1>
            <h1>2018 Сериал</h1>
            </div>
        </div>
        <div id="serial45" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1046172.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Золотая клетка</h1>
            <h1>2008 Сериал</h1>
            </div>
        </div>
        <div id="serial46" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_980831.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Комиссарша</h1>
            <h1>2016 Сериал</h1>
            </div>
        </div>
        <div id="serial47" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5330764.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Зомби-апокалипсис и список из 100 дел, что я выполню перед смертью</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="serial48" style="background: url('https://bazon.cc/download/poster/1436858.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Варшавянка</h1>
            <h1>2023 Сериал</h1>
            </div>
        </div>
        <div id="serial49" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_397356.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
            <div class="filmText text">
            <h1>Юная революционерка Утэна</h1>
            <h1>1997 Сериал</h1>
            </div>
        </div>
        