
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial0" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_818284.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Чужестранка</h1>
        <h1>(2014)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem8182840 = document.getElementById("serial0")
            _elem8182840.addEventListener("click", function (event) {document.location.href = "/filmInfo818284"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial1" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4510601.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Тёмные ветра</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem45106011 = document.getElementById("serial1")
            _elem45106011.addEventListener("click", function (event) {document.location.href = "/filmInfo4510601"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial2" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4968949.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Захваченный рейс</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49689492 = document.getElementById("serial2")
            _elem49689492.addEventListener("click", function (event) {document.location.href = "/filmInfo4968949"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial3" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4922751.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Замкнутый круг</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49227513 = document.getElementById("serial3")
            _elem49227513.addEventListener("click", function (event) {document.location.href = "/filmInfo4922751"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial4" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1379545.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Звёздный путь: Странные новые миры</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13795454 = document.getElementById("serial4")
            _elem13795454.addEventListener("click", function (event) {document.location.href = "/filmInfo1379545"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial5" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219257.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Воин</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem12192575 = document.getElementById("serial5")
            _elem12192575.addEventListener("click", function (event) {document.location.href = "/filmInfo1219257"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial6" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1044004.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Ведьмак</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem10440046 = document.getElementById("serial6")
            _elem10440046.addEventListener("click", function (event) {document.location.href = "/filmInfo1044004"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial7" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4357563.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>И просто так</h1>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem43575637 = document.getElementById("serial7")
            _elem43575637.addEventListener("click", function (event) {document.location.href = "/filmInfo4357563"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial8" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4297469.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Историк</h1>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem42974698 = document.getElementById("serial8")
            _elem42974698.addEventListener("click", function (event) {document.location.href = "/filmInfo4297469"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial9" style="background: url('https://bazon.cc/download/poster/4426750.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Тихая Дорога</h1>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44267509 = document.getElementById("serial9")
            _elem44267509.addEventListener("click", function (event) {document.location.href = "/filmInfo4426750"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial10" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4543063.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Настоящий рэп</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem454306310 = document.getElementById("serial10")
            _elem454306310.addEventListener("click", function (event) {document.location.href = "/filmInfo4543063"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial11" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1226457.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Лагерь Лагерь</h1>
        <h1>(2016)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem122645711 = document.getElementById("serial11")
            _elem122645711.addEventListener("click", function (event) {document.location.href = "/filmInfo1226457"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial12" style="background: url('https://bazon.cc/download/poster/5351787.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Вторая половинка</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535178712 = document.getElementById("serial12")
            _elem535178712.addEventListener("click", function (event) {document.location.href = "/filmInfo5351787"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial13" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_962012.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Ривердэйл</h1>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem96201213 = document.getElementById("serial13")
            _elem96201213.addEventListener("click", function (event) {document.location.href = "/filmInfo962012"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial14" style="background: url('https://bazon.cc/download/poster/1264102.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Нэнси Дрю</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem126410214 = document.getElementById("serial14")
            _elem126410214.addEventListener("click", function (event) {document.location.href = "/filmInfo1264102"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial15" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4504503.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Баки Ханма</h1>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem450450315 = document.getElementById("serial15")
            _elem450450315.addEventListener("click", function (event) {document.location.href = "/filmInfo4504503"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial16" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4968949.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Захваченный рейс</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem496894916 = document.getElementById("serial16")
            _elem496894916.addEventListener("click", function (event) {document.location.href = "/filmInfo4968949"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial17" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1421572.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Секретное вторжение</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem142157217 = document.getElementById("serial17")
            _elem142157217.addEventListener("click", function (event) {document.location.href = "/filmInfo1421572"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial18" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1421572.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Секретное вторжение</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem142157218 = document.getElementById("serial18")
            _elem142157218.addEventListener("click", function (event) {document.location.href = "/filmInfo1421572"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial19" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4714996.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>На страже пляжа</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem471499619 = document.getElementById("serial19")
            _elem471499619.addEventListener("click", function (event) {document.location.href = "/filmInfo4714996"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial20" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4384987.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Король</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem438498720 = document.getElementById("serial20")
            _elem438498720.addEventListener("click", function (event) {document.location.href = "/filmInfo4384987"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial21" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219534.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Ты этого достойна</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121953421 = document.getElementById("serial21")
            _elem121953421.addEventListener("click", function (event) {document.location.href = "/filmInfo1219534"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial22" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4728548.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Открытый брак</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem472854822 = document.getElementById("serial22")
            _elem472854822.addEventListener("click", function (event) {document.location.href = "/filmInfo4728548"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial23" style="background: url('https://bazon.cc/download/poster/1143232.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Пятый всадник</h1>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem114323223 = document.getElementById("serial23")
            _elem114323223.addEventListener("click", function (event) {document.location.href = "/filmInfo1143232"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial24" style="background: url('https://bazon.cc/download/poster/1368506.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Сломай систему</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem136850624 = document.getElementById("serial24")
            _elem136850624.addEventListener("click", function (event) {document.location.href = "/filmInfo1368506"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial25" style="background: url('https://bazon.cc/download/poster/4931653.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Бойня</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem493165325 = document.getElementById("serial25")
            _elem493165325.addEventListener("click", function (event) {document.location.href = "/filmInfo4931653"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial26" style="background: url('https://bazon.cc/download/poster/4479180.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Хранители</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem447918026 = document.getElementById("serial26")
            _elem447918026.addEventListener("click", function (event) {document.location.href = "/filmInfo4479180"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial27" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1421572.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Секретное вторжение</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem142157227 = document.getElementById("serial27")
            _elem142157227.addEventListener("click", function (event) {document.location.href = "/filmInfo1421572"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial28" style="background: url('https://bazon.cc/download/poster/5356024.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Команда Z</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535602428 = document.getElementById("serial28")
            _elem535602428.addEventListener("click", function (event) {document.location.href = "/filmInfo5356024"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial29" style="background: url('https://bazon.cc/download/poster/4655689.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Такдир</h1>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem465568929 = document.getElementById("serial29")
            _elem465568929.addEventListener("click", function (event) {document.location.href = "/filmInfo4655689"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial30" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4968949.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Захваченный рейс</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem496894930 = document.getElementById("serial30")
            _elem496894930.addEventListener("click", function (event) {document.location.href = "/filmInfo4968949"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial31" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1047991.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Бронзовый сад</h1>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem104799131 = document.getElementById("serial31")
            _elem104799131.addEventListener("click", function (event) {document.location.href = "/filmInfo1047991"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial32" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1322697.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Братья Харди</h1>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem132269732 = document.getElementById("serial32")
            _elem132269732.addEventListener("click", function (event) {document.location.href = "/filmInfo1322697"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial33" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_43169.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Посредник</h1>
        <h1>(1990)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem4316933 = document.getElementById("serial33")
            _elem4316933.addEventListener("click", function (event) {document.location.href = "/filmInfo43169"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial34" style="background: url('https://bazon.cc/download/poster/4748517.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Брага</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474851734 = document.getElementById("serial34")
            _elem474851734.addEventListener("click", function (event) {document.location.href = "/filmInfo4748517"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial35" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5121100.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Ниер: Автомата - Версия 1.1а</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem512110035 = document.getElementById("serial35")
            _elem512110035.addEventListener("click", function (event) {document.location.href = "/filmInfo5121100"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial36" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4757737.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Правосудие: Первобытный город</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem475773736 = document.getElementById("serial36")
            _elem475773736.addEventListener("click", function (event) {document.location.href = "/filmInfo4757737"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial37" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1421572.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Секретное вторжение</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem142157237 = document.getElementById("serial37")
            _elem142157237.addEventListener("click", function (event) {document.location.href = "/filmInfo1421572"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial38" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5357727.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Моя возлюбленная забыла свои очки</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535772738 = document.getElementById("serial38")
            _elem535772738.addEventListener("click", function (event) {document.location.href = "/filmInfo5357727"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial39" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_668250.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Универсальный боец</h1>
        <h1>(2005)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem66825039 = document.getElementById("serial39")
            _elem66825039.addEventListener("click", function (event) {document.location.href = "/filmInfo668250"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial40" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4968949.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Захваченный рейс</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem496894940 = document.getElementById("serial40")
            _elem496894940.addEventListener("click", function (event) {document.location.href = "/filmInfo4968949"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial41" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_692943.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Виолетта</h1>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem69294341 = document.getElementById("serial41")
            _elem69294341.addEventListener("click", function (event) {document.location.href = "/filmInfo692943"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial42" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1321922.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Адский босс</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem132192242 = document.getElementById("serial42")
            _elem132192242.addEventListener("click", function (event) {document.location.href = "/filmInfo1321922"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial43" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1404737.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Вечеринка</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem140473743 = document.getElementById("serial43")
            _elem140473743.addEventListener("click", function (event) {document.location.href = "/filmInfo1404737"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial44" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_719694.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Пожарная служба Такомы</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem111911344 = document.getElementById("serial44")
            _elem111911344.addEventListener("click", function (event) {document.location.href = "/filmInfo1119113"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial45" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5355824.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Душа не слышит</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535582445 = document.getElementById("serial45")
            _elem535582445.addEventListener("click", function (event) {document.location.href = "/filmInfo5355824"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial46" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5319826.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Если сильно полюбишь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem531982646 = document.getElementById("serial46")
            _elem531982646.addEventListener("click", function (event) {document.location.href = "/filmInfo5319826"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial47" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_818284.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Чужестранка</h1>
        <h1>(2014)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem81828447 = document.getElementById("serial47")
            _elem81828447.addEventListener("click", function (event) {document.location.href = "/filmInfo818284"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial48" style="background: url('https://bazon.cc/download/poster/4749863.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Надзиратели</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474986348 = document.getElementById("serial48")
            _elem474986348.addEventListener("click", function (event) {document.location.href = "/filmInfo4749863"; $$nav.off()});
        </script>
        
        <div class="item serialItem nav-item" data-nav_ud="#cartoon0,0,none,0">
        <div class="filmsItemBg" id="serial49" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1175021.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Принц драконов</h1>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem117502149 = document.getElementById("serial49")
            _elem117502149.addEventListener("click", function (event) {document.location.href = "/filmInfo1175021"; $$nav.off()});
        </script>
        