
        <div id="serial0" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5357727.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Моя возлюбленная заб</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53577270 = document.getElementById("serial0")
            _elem53577270.addEventListener("click", function (event) {document.location.href = "/filmInfo53577270"; $$nav.off()});
        </script>
        
        <div id="serial1" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1199745.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Расколотая битвой си</p>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem11997451 = document.getElementById("serial1")
            _elem11997451.addEventListener("click", function (event) {document.location.href = "/filmInfo11997451"; $$nav.off()});
        </script>
        
        <div id="serial2" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4296469.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Псы резервации</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem42964692 = document.getElementById("serial2")
            _elem42964692.addEventListener("click", function (event) {document.location.href = "/filmInfo42964692"; $$nav.off()});
        </script>
        
        <div id="serial3" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1190304.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Обратная сторона Зем</p>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem11903043 = document.getElementById("serial3")
            _elem11903043.addEventListener("click", function (event) {document.location.href = "/filmInfo11903043"; $$nav.off()});
        </script>
        
        <div id="serial4" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4398387.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>В ритме жизни</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem43983874 = document.getElementById("serial4")
            _elem43983874.addEventListener("click", function (event) {document.location.href = "/filmInfo43983874"; $$nav.off()});
        </script>
        
        <div id="serial5" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4295380.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Убийства в одном зда</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem42953805 = document.getElementById("serial5")
            _elem42953805.addEventListener("click", function (event) {document.location.href = "/filmInfo42953805"; $$nav.off()});
        </script>
        
        <div id="serial6" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5141685.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Странная планета</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51416856 = document.getElementById("serial6")
            _elem51416856.addEventListener("click", function (event) {document.location.href = "/filmInfo51416856"; $$nav.off()});
        </script>
        
        <div id="serial7" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4757737.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Правосудие: Первобыт</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47577377 = document.getElementById("serial7")
            _elem47577377.addEventListener("click", function (event) {document.location.href = "/filmInfo47577377"; $$nav.off()});
        </script>
        
        <div id="serial8" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_361699.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Стальной алхимик</p>
        <h1>(2003)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem3616998 = document.getElementById("serial8")
            _elem3616998.addEventListener("click", function (event) {document.location.href = "/filmInfo3616998"; $$nav.off()});
        </script>
        
        <div id="serial9" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_719694.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Пожарная служба Тако</p>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem11191139 = document.getElementById("serial9")
            _elem11191139.addEventListener("click", function (event) {document.location.href = "/filmInfo11191139"; $$nav.off()});
        </script>
        
        <div id="serial10" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_668250.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Универсальный боец</p>
        <h1>(2005)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem66825010 = document.getElementById("serial10")
            _elem66825010.addEventListener("click", function (event) {document.location.href = "/filmInfo66825010"; $$nav.off()});
        </script>
        
        <div id="serial11" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1404737.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Вечеринка</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem140473711 = document.getElementById("serial11")
            _elem140473711.addEventListener("click", function (event) {document.location.href = "/filmInfo140473711"; $$nav.off()});
        </script>
        
        <div id="serial12" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1272097.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Время побеждать: Рас</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem127209712 = document.getElementById("serial12")
            _elem127209712.addEventListener("click", function (event) {document.location.href = "/filmInfo127209712"; $$nav.off()});
        </script>
        
        <div id="serial13" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1190304.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Обратная сторона Зем</p>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem119030413 = document.getElementById("serial13")
            _elem119030413.addEventListener("click", function (event) {document.location.href = "/filmInfo119030413"; $$nav.off()});
        </script>
        
        <div id="serial14" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1322697.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Братья Харди</p>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem132269714 = document.getElementById("serial14")
            _elem132269714.addEventListener("click", function (event) {document.location.href = "/filmInfo132269714"; $$nav.off()});
        </script>
        
        <div id="serial15" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/863009.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Миллиарды</p>
        <h1>(2016)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem86300915 = document.getElementById("serial15")
            _elem86300915.addEventListener("click", function (event) {document.location.href = "/filmInfo86300915"; $$nav.off()});
        </script>
        
        <div id="serial16" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1301761.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Замаячный</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem130176116 = document.getElementById("serial16")
            _elem130176116.addEventListener("click", function (event) {document.location.href = "/filmInfo130176116"; $$nav.off()});
        </script>
        
        <div id="serial17" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4714996.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>На страже пляжа</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem471499617 = document.getElementById("serial17")
            _elem471499617.addEventListener("click", function (event) {document.location.href = "/filmInfo471499617"; $$nav.off()});
        </script>
        
        <div id="serial18" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1112514.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Харли Квинн</p>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem111251418 = document.getElementById("serial18")
            _elem111251418.addEventListener("click", function (event) {document.location.href = "/filmInfo111251418"; $$nav.off()});
        </script>
        
        <div id="serial19" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5355824.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Душа не слышит</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535582419 = document.getElementById("serial19")
            _elem535582419.addEventListener("click", function (event) {document.location.href = "/filmInfo535582419"; $$nav.off()});
        </script>
        
        <div id="serial20" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4295380.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Убийства в одном зда</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem429538020 = document.getElementById("serial20")
            _elem429538020.addEventListener("click", function (event) {document.location.href = "/filmInfo429538020"; $$nav.off()});
        </script>
        
        <div id="serial21" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4841204.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Секреты Playboy</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem484120421 = document.getElementById("serial21")
            _elem484120421.addEventListener("click", function (event) {document.location.href = "/filmInfo484120421"; $$nav.off()});
        </script>
        
        <div id="serial22" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1432450.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Нулевой Эдем</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem143245022 = document.getElementById("serial22")
            _elem143245022.addEventListener("click", function (event) {document.location.href = "/filmInfo143245022"; $$nav.off()});
        </script>
        
        <div id="serial23" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1321097.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Май Литтл Пони: Пони</p>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem132109723 = document.getElementById("serial23")
            _elem132109723.addEventListener("click", function (event) {document.location.href = "/filmInfo132109723"; $$nav.off()});
        </script>
        
        <div id="serial24" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_782255.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Голые и напуганные</p>
        <h1>(2013)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem78225524 = document.getElementById("serial24")
            _elem78225524.addEventListener("click", function (event) {document.location.href = "/filmInfo78225524"; $$nav.off()});
        </script>
        
        <div id="serial25" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5001360.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Последователи</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem500136025 = document.getElementById("serial25")
            _elem500136025.addEventListener("click", function (event) {document.location.href = "/filmInfo500136025"; $$nav.off()});
        </script>
        
        <div id="serial26" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1130970.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Родители года</p>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem113097026 = document.getElementById("serial26")
            _elem113097026.addEventListener("click", function (event) {document.location.href = "/filmInfo113097026"; $$nav.off()});
        </script>
        
        <div id="serial27" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_818284.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Чужестранка</p>
        <h1>(2014)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem81828427 = document.getElementById("serial27")
            _elem81828427.addEventListener("click", function (event) {document.location.href = "/filmInfo81828427"; $$nav.off()});
        </script>
        
        <div id="serial28" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1379545.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Звёздный путь: Стран</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem137954528 = document.getElementById("serial28")
            _elem137954528.addEventListener("click", function (event) {document.location.href = "/filmInfo137954528"; $$nav.off()});
        </script>
        
        <div id="serial29" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4531254.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Два холма</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem453125429 = document.getElementById("serial29")
            _elem453125429.addEventListener("click", function (event) {document.location.href = "/filmInfo453125429"; $$nav.off()});
        </script>
        
        <div id="serial30" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_818736.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Когда зовёт сердце</p>
        <h1>(2014)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem81873630 = document.getElementById("serial30")
            _elem81873630.addEventListener("click", function (event) {document.location.href = "/filmInfo81873630"; $$nav.off()});
        </script>
        
        <div id="serial31" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1412084.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Спецназ: Львица</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem141208431 = document.getElementById("serial31")
            _elem141208431.addEventListener("click", function (event) {document.location.href = "/filmInfo141208431"; $$nav.off()});
        </script>
        
        <div id="serial32" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1346720.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Домина</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem134672032 = document.getElementById("serial32")
            _elem134672032.addEventListener("click", function (event) {document.location.href = "/filmInfo134672032"; $$nav.off()});
        </script>
        
        <div id="serial33" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4833847.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Полицейский участок </p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem483384733 = document.getElementById("serial33")
            _elem483384733.addEventListener("click", function (event) {document.location.href = "/filmInfo483384733"; $$nav.off()});
        </script>
        
        <div id="serial34" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5309876.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Леди Дуриан</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530987634 = document.getElementById("serial34")
            _elem530987634.addEventListener("click", function (event) {document.location.href = "/filmInfo530987634"; $$nav.off()});
        </script>
        
        <div id="serial35" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4982929.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Звездные войны: Прик</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem498292935 = document.getElementById("serial35")
            _elem498292935.addEventListener("click", function (event) {document.location.href = "/filmInfo498292935"; $$nav.off()});
        </script>
        
        <div id="serial36" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309604.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Хилы</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem130960436 = document.getElementById("serial36")
            _elem130960436.addEventListener("click", function (event) {document.location.href = "/filmInfo130960436"; $$nav.off()});
        </script>
        
        <div id="serial37" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4626683.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Этим летом я стала к</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem462668337 = document.getElementById("serial37")
            _elem462668337.addEventListener("click", function (event) {document.location.href = "/filmInfo462668337"; $$nav.off()});
        </script>
        
        <div id="serial38" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4395909.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>100% волк: Легенда о</p>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem439590938 = document.getElementById("serial38")
            _elem439590938.addEventListener("click", function (event) {document.location.href = "/filmInfo439590938"; $$nav.off()});
        </script>
        
        <div id="serial39" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4917525.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Мой маленький пони: </p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem491752539 = document.getElementById("serial39")
            _elem491752539.addEventListener("click", function (event) {document.location.href = "/filmInfo491752539"; $$nav.off()});
        </script>
        
        <div id="serial40" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1312253.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Реинкарнация безрабо</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem131225340 = document.getElementById("serial40")
            _elem131225340.addEventListener("click", function (event) {document.location.href = "/filmInfo131225340"; $$nav.off()});
        </script>
        
        <div id="serial41" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1272097.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Время побеждать: Рас</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem127209741 = document.getElementById("serial41")
            _elem127209741.addEventListener("click", function (event) {document.location.href = "/filmInfo127209741"; $$nav.off()});
        </script>
        
        <div id="serial42" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_402941.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Торчвуд</p>
        <h1>(2006)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem40294142 = document.getElementById("serial42")
            _elem40294142.addEventListener("click", function (event) {document.location.href = "/filmInfo40294142"; $$nav.off()});
        </script>
        
        <div id="serial43" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1436858.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Варшавянка</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem143685843 = document.getElementById("serial43")
            _elem143685843.addEventListener("click", function (event) {document.location.href = "/filmInfo143685843"; $$nav.off()});
        </script>
        
        <div id="serial44" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4544795.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>По ту сторону Шпреи</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem454479544 = document.getElementById("serial44")
            _elem454479544.addEventListener("click", function (event) {document.location.href = "/filmInfo454479544"; $$nav.off()});
        </script>
        
        <div id="serial45" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4999607.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Агентство</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem499960745 = document.getElementById("serial45")
            _elem499960745.addEventListener("click", function (event) {document.location.href = "/filmInfo499960745"; $$nav.off()});
        </script>
        
        <div id="serial46" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_470681.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Discovery. Смертельн</p>
        <h1>(2005)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47068146 = document.getElementById("serial46")
            _elem47068146.addEventListener("click", function (event) {document.location.href = "/filmInfo47068146"; $$nav.off()});
        </script>
        
        <div id="serial47" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4535081.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Агент времени</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem453508147 = document.getElementById("serial47")
            _elem453508147.addEventListener("click", function (event) {document.location.href = "/filmInfo453508147"; $$nav.off()});
        </script>
        
        <div id="serial48" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1346720.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Домина</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem134672048 = document.getElementById("serial48")
            _elem134672048.addEventListener("click", function (event) {document.location.href = "/filmInfo134672048"; $$nav.off()});
        </script>
        
        <div id="serial49" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1008494.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Суперкрошки</p>
        <h1>(2016)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem100849449 = document.getElementById("serial49")
            _elem100849449.addEventListener("click", function (event) {document.location.href = "/filmInfo100849449"; $$nav.off()});
        </script>
        