
        <div id="serial0" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1332676.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Девушка на час</h1>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13326760 = document.getElementById("serial0")
            _elem13326760.addEventListener("click", function (event) {document.location.href = "/filmInfo13326760"; $$nav.off()});
        </script>
        
        <div id="serial1" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4778470.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Проклятье</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47784701 = document.getElementById("serial1")
            _elem47784701.addEventListener("click", function (event) {document.location.href = "/filmInfo47784701"; $$nav.off()});
        </script>
        
        <div id="serial2" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1111018.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Чудотворцы</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem11110182 = document.getElementById("serial2")
            _elem11110182.addEventListener("click", function (event) {document.location.href = "/filmInfo11110182"; $$nav.off()});
        </script>
        
        <div id="serial3" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_229272.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Звездный путь</h1>
        <h1>(1966)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem2292723 = document.getElementById("serial3")
            _elem2292723.addEventListener("click", function (event) {document.location.href = "/filmInfo2292723"; $$nav.off()});
        </script>
        
        <div id="serial4" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1346720.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Домина</h1>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13467204 = document.getElementById("serial4")
            _elem13467204.addEventListener("click", function (event) {document.location.href = "/filmInfo13467204"; $$nav.off()});
        </script>
        
        <div id="serial5" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_740965.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Маленький зоомагазин</h1>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem7409655 = document.getElementById("serial5")
            _elem7409655.addEventListener("click", function (event) {document.location.href = "/filmInfo7409655"; $$nav.off()});
        </script>
        
        <div id="serial6" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5303815.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Взрослым не понять</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53038156 = document.getElementById("serial6")
            _elem53038156.addEventListener("click", function (event) {document.location.href = "/filmInfo53038156"; $$nav.off()});
        </script>
        
        <div id="serial7" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5189009.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Галустян +</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51890097 = document.getElementById("serial7")
            _elem51890097.addEventListener("click", function (event) {document.location.href = "/filmInfo51890097"; $$nav.off()});
        </script>
        
        <div id="serial8" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5272214.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Прощальное письмо</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52722148 = document.getElementById("serial8")
            _elem52722148.addEventListener("click", function (event) {document.location.href = "/filmInfo52722148"; $$nav.off()});
        </script>
        
        <div id="serial9" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_790348.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Кларенс</h1>
        <h1>(2013)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem7903489 = document.getElementById("serial9")
            _elem7903489.addEventListener("click", function (event) {document.location.href = "/filmInfo7903489"; $$nav.off()});
        </script>
        
        <div id="serial10" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4426750.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Тихая Дорога</h1>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem442675010 = document.getElementById("serial10")
            _elem442675010.addEventListener("click", function (event) {document.location.href = "/filmInfo442675010"; $$nav.off()});
        </script>
        
        <div id="serial11" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4655689.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Такдир</h1>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem465568911 = document.getElementById("serial11")
            _elem465568911.addEventListener("click", function (event) {document.location.href = "/filmInfo465568911"; $$nav.off()});
        </script>
        
        <div id="serial12" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1143232.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Пятый всадник</h1>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem114323212 = document.getElementById("serial12")
            _elem114323212.addEventListener("click", function (event) {document.location.href = "/filmInfo114323212"; $$nav.off()});
        </script>
        
        <div id="serial13" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4760843.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Лицемеры</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem476084313 = document.getElementById("serial13")
            _elem476084313.addEventListener("click", function (event) {document.location.href = "/filmInfo476084313"; $$nav.off()});
        </script>
        
        <div id="serial14" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4397762.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Скрежет металла</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem439776214 = document.getElementById("serial14")
            _elem439776214.addEventListener("click", function (event) {document.location.href = "/filmInfo439776214"; $$nav.off()});
        </script>
        
        <div id="serial15" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1235081.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Наша планета</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem123508115 = document.getElementById("serial15")
            _elem123508115.addEventListener("click", function (event) {document.location.href = "/filmInfo123508115"; $$nav.off()});
        </script>
        
        <div id="serial16" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1264102.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Нэнси Дрю</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem126410216 = document.getElementById("serial16")
            _elem126410216.addEventListener("click", function (event) {document.location.href = "/filmInfo126410216"; $$nav.off()});
        </script>
        
        <div id="serial17" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1379545.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Звёздный путь: Странные новые мир</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem137954517 = document.getElementById("serial17")
            _elem137954517.addEventListener("click", function (event) {document.location.href = "/filmInfo137954517"; $$nav.off()});
        </script>
        
        <div id="serial18" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_470681.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Discovery. Смертельный улов</h1>
        <h1>(2005)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47068118 = document.getElementById("serial18")
            _elem47068118.addEventListener("click", function (event) {document.location.href = "/filmInfo47068118"; $$nav.off()});
        </script>
        
        <div id="serial19" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1421572.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Секретное вторжение</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem142157219 = document.getElementById("serial19")
            _elem142157219.addEventListener("click", function (event) {document.location.href = "/filmInfo142157219"; $$nav.off()});
        </script>
        
        <div id="serial20" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4925926.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Кроличья нора</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem492592620 = document.getElementById("serial20")
            _elem492592620.addEventListener("click", function (event) {document.location.href = "/filmInfo492592620"; $$nav.off()});
        </script>
        
        <div id="serial21" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_962012.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Ривердэйл</h1>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem96201221 = document.getElementById("serial21")
            _elem96201221.addEventListener("click", function (event) {document.location.href = "/filmInfo96201221"; $$nav.off()});
        </script>
        
        <div id="serial22" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4922751.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Замкнутый круг</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem492275122 = document.getElementById("serial22")
            _elem492275122.addEventListener("click", function (event) {document.location.href = "/filmInfo492275122"; $$nav.off()});
        </script>
        
        <div id="serial23" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_462765.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Основание</h1>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46276523 = document.getElementById("serial23")
            _elem46276523.addEventListener("click", function (event) {document.location.href = "/filmInfo46276523"; $$nav.off()});
        </script>
        
        <div id="serial24" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4357563.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>И просто так</h1>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem435756324 = document.getElementById("serial24")
            _elem435756324.addEventListener("click", function (event) {document.location.href = "/filmInfo435756324"; $$nav.off()});
        </script>
        
        <div id="serial25" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309604.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Хилы</h1>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem130960425 = document.getElementById("serial25")
            _elem130960425.addEventListener("click", function (event) {document.location.href = "/filmInfo130960425"; $$nav.off()});
        </script>
        
        <div id="serial26" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_585727.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Благие знамения</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem58572726 = document.getElementById("serial26")
            _elem58572726.addEventListener("click", function (event) {document.location.href = "/filmInfo58572726"; $$nav.off()});
        </script>
        
        <div id="serial27" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4424478.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Переполненная комната</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem442447827 = document.getElementById("serial27")
            _elem442447827.addEventListener("click", function (event) {document.location.href = "/filmInfo442447827"; $$nav.off()});
        </script>
        
        <div id="serial28" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4424478.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Переполненная комната</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem442447828 = document.getElementById("serial28")
            _elem442447828.addEventListener("click", function (event) {document.location.href = "/filmInfo442447828"; $$nav.off()});
        </script>
        
        <div id="serial29" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1405843.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Пищеблок</h1>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem140584329 = document.getElementById("serial29")
            _elem140584329.addEventListener("click", function (event) {document.location.href = "/filmInfo140584329"; $$nav.off()});
        </script>
        
        <div id="serial30" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1404737.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Вечеринка</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem140473730 = document.getElementById("serial30")
            _elem140473730.addEventListener("click", function (event) {document.location.href = "/filmInfo140473730"; $$nav.off()});
        </script>
        
        <div id="serial31" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5331438.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Приёмный покой</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem533143831 = document.getElementById("serial31")
            _elem533143831.addEventListener("click", function (event) {document.location.href = "/filmInfo533143831"; $$nav.off()});
        </script>
        
        <div id="serial32" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1047991.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Бронзовый сад</h1>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem104799132 = document.getElementById("serial32")
            _elem104799132.addEventListener("click", function (event) {document.location.href = "/filmInfo104799132"; $$nav.off()});
        </script>
        
        <div id="serial33" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4384987.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Король</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem438498733 = document.getElementById("serial33")
            _elem438498733.addEventListener("click", function (event) {document.location.href = "/filmInfo438498733"; $$nav.off()});
        </script>
        
        <div id="serial34" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4931653.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Бойня</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem493165334 = document.getElementById("serial34")
            _elem493165334.addEventListener("click", function (event) {document.location.href = "/filmInfo493165334"; $$nav.off()});
        </script>
        
        <div id="serial35" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_777031.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Библиотекарь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem77703135 = document.getElementById("serial35")
            _elem77703135.addEventListener("click", function (event) {document.location.href = "/filmInfo77703135"; $$nav.off()});
        </script>
        
        <div id="serial36" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219277.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Стойкость</h1>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121927736 = document.getElementById("serial36")
            _elem121927736.addEventListener("click", function (event) {document.location.href = "/filmInfo121927736"; $$nav.off()});
        </script>
        
        <div id="serial37" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_962012.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Ривердэйл</h1>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem96201237 = document.getElementById("serial37")
            _elem96201237.addEventListener("click", function (event) {document.location.href = "/filmInfo96201237"; $$nav.off()});
        </script>
        
        <div id="serial38" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4895015.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Нарядное пугало</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem489501538 = document.getElementById("serial38")
            _elem489501538.addEventListener("click", function (event) {document.location.href = "/filmInfo489501538"; $$nav.off()});
        </script>
        
        <div id="serial39" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4384124.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Marvel Studios: Общий сбор</h1>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem438412439 = document.getElementById("serial39")
            _elem438412439.addEventListener("click", function (event) {document.location.href = "/filmInfo438412439"; $$nav.off()});
        </script>
        
        <div id="serial40" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_462765.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Основание</h1>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46276540 = document.getElementById("serial40")
            _elem46276540.addEventListener("click", function (event) {document.location.href = "/filmInfo46276540"; $$nav.off()});
        </script>
        
        <div id="serial41" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1113116.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Чем мы заняты в тени</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem111311641 = document.getElementById("serial41")
            _elem111311641.addEventListener("click", function (event) {document.location.href = "/filmInfo111311641"; $$nav.off()});
        </script>
        
        <div id="serial42" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4645607.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Этот дурак</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem464560742 = document.getElementById("serial42")
            _elem464560742.addEventListener("click", function (event) {document.location.href = "/filmInfo464560742"; $$nav.off()});
        </script>
        
        <div id="serial43" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1381125.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Магическая битва</h1>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem138112543 = document.getElementById("serial43")
            _elem138112543.addEventListener("click", function (event) {document.location.href = "/filmInfo138112543"; $$nav.off()});
        </script>
        
        <div id="serial44" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_600880.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Бесконечные небеса</h1>
        <h1>(2011)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem60088044 = document.getElementById("serial44")
            _elem60088044.addEventListener("click", function (event) {document.location.href = "/filmInfo60088044"; $$nav.off()});
        </script>
        
        <div id="serial45" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4384294.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Кокетка</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem438429445 = document.getElementById("serial45")
            _elem438429445.addEventListener("click", function (event) {document.location.href = "/filmInfo438429445"; $$nav.off()});
        </script>
        
        <div id="serial46" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_585727.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Благие знамения</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem58572746 = document.getElementById("serial46")
            _elem58572746.addEventListener("click", function (event) {document.location.href = "/filmInfo58572746"; $$nav.off()});
        </script>
        
        <div id="serial47" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4626683.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Этим летом я стала красивой</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem462668347 = document.getElementById("serial47")
            _elem462668347.addEventListener("click", function (event) {document.location.href = "/filmInfo462668347"; $$nav.off()});
        </script>
        
        <div id="serial48" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4456485.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Мои приключения с Суперменом</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem445648548 = document.getElementById("serial48")
            _elem445648548.addEventListener("click", function (event) {document.location.href = "/filmInfo445648548"; $$nav.off()});
        </script>
        
        <div id="serial49" class="item serialItem nav-item" data-nav_ud="0,0,0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4912805.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Мой счастливый брак</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem491280549 = document.getElementById("serial49")
            _elem491280549.addEventListener("click", function (event) {document.location.href = "/filmInfo491280549"; $$nav.off()});
        </script>
        