
        <div id="serial0" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5365497.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Цикады</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53654970 = document.getElementById("serial0")
            _elem53654970.addEventListener("click", function (event) {document.location.href = "/filmInfo53654970"; $$nav.off()});
        </script>
        
        <div id="serial1" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5258557.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Монолог фармацевта</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52585571 = document.getElementById("serial1")
            _elem52585571.addEventListener("click", function (event) {document.location.href = "/filmInfo52585571"; $$nav.off()});
        </script>
        
        <div id="serial2" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5122688.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Мессия</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51226882 = document.getElementById("serial2")
            _elem51226882.addEventListener("click", function (event) {document.location.href = "/filmInfo51226882"; $$nav.off()});
        </script>
        
        <div id="serial3" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5259072.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Стой! Не то мама буд</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52590723 = document.getElementById("serial3")
            _elem52590723.addEventListener("click", function (event) {document.location.href = "/filmInfo52590723"; $$nav.off()});
        </script>
        
        <div id="serial4" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4472416.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Фрейзер</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44724164 = document.getElementById("serial4")
            _elem44724164.addEventListener("click", function (event) {document.location.href = "/filmInfo44724164"; $$nav.off()});
        </script>
        
        <div id="serial5" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5065777.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Убить Риту</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem50657775 = document.getElementById("serial5")
            _elem50657775.addEventListener("click", function (event) {document.location.href = "/filmInfo50657775"; $$nav.off()});
        </script>
        
        <div id="serial6" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5377626.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Камень желаний</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53776266 = document.getElementById("serial6")
            _elem53776266.addEventListener("click", function (event) {document.location.href = "/filmInfo53776266"; $$nav.off()});
        </script>
        
        <div id="serial7" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5320050.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Мама будет против</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53200507 = document.getElementById("serial7")
            _elem53200507.addEventListener("click", function (event) {document.location.href = "/filmInfo53200507"; $$nav.off()});
        </script>
        
        <div id="serial8" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5285427.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Отмороженные</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52854278 = document.getElementById("serial8")
            _elem52854278.addEventListener("click", function (event) {document.location.href = "/filmInfo52854278"; $$nav.off()});
        </script>
        
        <div id="serial9" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5359984.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Политех</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53599849 = document.getElementById("serial9")
            _elem53599849.addEventListener("click", function (event) {document.location.href = "/filmInfo53599849"; $$nav.off()});
        </script>
        
        <div id="serial10" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5309762.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>ФК Родина</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530976210 = document.getElementById("serial10")
            _elem530976210.addEventListener("click", function (event) {document.location.href = "/filmInfo530976210"; $$nav.off()});
        </script>
        
        <div id="serial11" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5149270.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Волшебный участок</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem514927011 = document.getElementById("serial11")
            _elem514927011.addEventListener("click", function (event) {document.location.href = "/filmInfo514927011"; $$nav.off()});
        </script>
        
        <div id="serial12" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5367846.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Саша против!</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536784612 = document.getElementById("serial12")
            _elem536784612.addEventListener("click", function (event) {document.location.href = "/filmInfo536784612"; $$nav.off()});
        </script>
        
        <div id="serial13" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4974384.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Силачка Кан Нам-сун</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem497438413 = document.getElementById("serial13")
            _elem497438413.addEventListener("click", function (event) {document.location.href = "/filmInfo497438413"; $$nav.off()});
        </script>
        
        <div id="serial14" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5401330.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Праздники</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540133014 = document.getElementById("serial14")
            _elem540133014.addEventListener("click", function (event) {document.location.href = "/filmInfo540133014"; $$nav.off()});
        </script>
        
        <div id="serial15" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4982929.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Звездные войны: Прик</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem498292915 = document.getElementById("serial15")
            _elem498292915.addEventListener("click", function (event) {document.location.href = "/filmInfo498292915"; $$nav.off()});
        </script>
        
        <div id="serial16" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1311196.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Заложники моря</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem131119616 = document.getElementById("serial16")
            _elem131119616.addEventListener("click", function (event) {document.location.href = "/filmInfo131119616"; $$nav.off()});
        </script>
        
        <div id="serial17" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5026499.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Поиски</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem502649917 = document.getElementById("serial17")
            _elem502649917.addEventListener("click", function (event) {document.location.href = "/filmInfo502649917"; $$nav.off()});
        </script>
        
        <div id="serial18" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5245405.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Мститель</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem524540518 = document.getElementById("serial18")
            _elem524540518.addEventListener("click", function (event) {document.location.href = "/filmInfo524540518"; $$nav.off()});
        </script>
        
        <div id="serial19" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5139807.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Семья</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem513980719 = document.getElementById("serial19")
            _elem513980719.addEventListener("click", function (event) {document.location.href = "/filmInfo513980719"; $$nav.off()});
        </script>
        
        <div id="serial20" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5010316.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Чёрный торт</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem501031620 = document.getElementById("serial20")
            _elem501031620.addEventListener("click", function (event) {document.location.href = "/filmInfo501031620"; $$nav.off()});
        </script>
        
        <div id="serial21" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5140116.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Буканьерки</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem514011621 = document.getElementById("serial21")
            _elem514011621.addEventListener("click", function (event) {document.location.href = "/filmInfo514011621"; $$nav.off()});
        </script>
        
        <div id="serial22" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5367699.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Банда «ЗИГ ЗАГ»</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536769922 = document.getElementById("serial22")
            _elem536769922.addEventListener("click", function (event) {document.location.href = "/filmInfo536769922"; $$nav.off()});
        </script>
        
        <div id="serial23" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5375064.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Из породы убийц</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem537506423 = document.getElementById("serial23")
            _elem537506423.addEventListener("click", function (event) {document.location.href = "/filmInfo537506423"; $$nav.off()});
        </script>
        
        <div id="serial24" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5178673.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Жизнь на нашей плане</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem517867324 = document.getElementById("serial24")
            _elem517867324.addEventListener("click", function (event) {document.location.href = "/filmInfo517867324"; $$nav.off()});
        </script>
        
        <div id="serial25" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4629228.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Крапополис</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem462922825 = document.getElementById("serial25")
            _elem462922825.addEventListener("click", function (event) {document.location.href = "/filmInfo462922825"; $$nav.off()});
        </script>
        
        <div id="serial26" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5274271.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Михаил Горшенёв. Лег</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem527427126 = document.getElementById("serial26")
            _elem527427126.addEventListener("click", function (event) {document.location.href = "/filmInfo527427126"; $$nav.off()});
        </script>
        
        <div id="serial27" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5235023.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Совершенно другой</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523502327 = document.getElementById("serial27")
            _elem523502327.addEventListener("click", function (event) {document.location.href = "/filmInfo523502327"; $$nav.off()});
        </script>
        
        <div id="serial28" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4540127.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Время приключений: Ф</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem454012728 = document.getElementById("serial28")
            _elem454012728.addEventListener("click", function (event) {document.location.href = "/filmInfo454012728"; $$nav.off()});
        </script>
        
        <div id="serial29" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5405276.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Лос Биллис</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540527629 = document.getElementById("serial29")
            _elem540527629.addEventListener("click", function (event) {document.location.href = "/filmInfo540527629"; $$nav.off()});
        </script>
        
        <div id="serial30" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4920605.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Король земли</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem492060530 = document.getElementById("serial30")
            _elem492060530.addEventListener("click", function (event) {document.location.href = "/filmInfo492060530"; $$nav.off()});
        </script>
        
        <div id="serial31" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5372037.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Сапфир</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem537203731 = document.getElementById("serial31")
            _elem537203731.addEventListener("click", function (event) {document.location.href = "/filmInfo537203731"; $$nav.off()});
        </script>
        
        <div id="serial32" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5276678.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Искрящийся арбуз</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem527667832 = document.getElementById("serial32")
            _elem527667832.addEventListener("click", function (event) {document.location.href = "/filmInfo527667832"; $$nav.off()});
        </script>
        
        <div id="serial33" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5115724.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Побег семерых</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511572433 = document.getElementById("serial33")
            _elem511572433.addEventListener("click", function (event) {document.location.href = "/filmInfo511572433"; $$nav.off()});
        </script>
        
        <div id="serial34" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4890174.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>О деньгах и крови</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem489017434 = document.getElementById("serial34")
            _elem489017434.addEventListener("click", function (event) {document.location.href = "/filmInfo489017434"; $$nav.off()});
        </script>
        
        <div id="serial35" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5354983.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Дневная луна</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535498335 = document.getElementById("serial35")
            _elem535498335.addEventListener("click", function (event) {document.location.href = "/filmInfo535498335"; $$nav.off()});
        </script>
        
        <div id="serial36" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5396130.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Оксен</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem539613036 = document.getElementById("serial36")
            _elem539613036.addEventListener("click", function (event) {document.location.href = "/filmInfo539613036"; $$nav.off()});
        </script>
        
        <div id="serial37" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4646038.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Законники: Басс Ривз</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem464603837 = document.getElementById("serial37")
            _elem464603837.addEventListener("click", function (event) {document.location.href = "/filmInfo464603837"; $$nav.off()});
        </script>
        
        <div id="serial38" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118210.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Бродяга Кэнсин</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511821038 = document.getElementById("serial38")
            _elem511821038.addEventListener("click", function (event) {document.location.href = "/filmInfo511821038"; $$nav.off()});
        </script>
        
        <div id="serial39" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5147827.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Абсолютное зло</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem514782739 = document.getElementById("serial39")
            _elem514782739.addEventListener("click", function (event) {document.location.href = "/filmInfo514782739"; $$nav.off()});
        </script>
        
        <div id="serial40" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5019944.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Кибердеревня</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem501994440 = document.getElementById("serial40")
            _elem501994440.addEventListener("click", function (event) {document.location.href = "/filmInfo501994440"; $$nav.off()});
        </script>
        
        <div id="serial41" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5227236.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Однажды в Абхазии</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem522723641 = document.getElementById("serial41")
            _elem522723641.addEventListener("click", function (event) {document.location.href = "/filmInfo522723641"; $$nav.off()});
        </script>
        
        <div id="serial42" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5048754.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Иррациональный</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem504875442 = document.getElementById("serial42")
            _elem504875442.addEventListener("click", function (event) {document.location.href = "/filmInfo504875442"; $$nav.off()});
        </script>
        
        <div id="serial43" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5394623.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Убийство на борту</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem539462343 = document.getElementById("serial43")
            _elem539462343.addEventListener("click", function (event) {document.location.href = "/filmInfo539462343"; $$nav.off()});
        </script>
        
        <div id="serial44" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5387326.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Безграничная любовь</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem538732644 = document.getElementById("serial44")
            _elem538732644.addEventListener("click", function (event) {document.location.href = "/filmInfo538732644"; $$nav.off()});
        </script>
        
        <div id="serial45" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5367788.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ласт квест</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536778845 = document.getElementById("serial45")
            _elem536778845.addEventListener("click", function (event) {document.location.href = "/filmInfo536778845"; $$nav.off()});
        </script>
        
        <div id="serial46" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4966566.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Попутчики</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem496656646 = document.getElementById("serial46")
            _elem496656646.addEventListener("click", function (event) {document.location.href = "/filmInfo496656646"; $$nav.off()});
        </script>
        
        <div id="serial47" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4367624.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Уроки химии</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem436762447 = document.getElementById("serial47")
            _elem436762447.addEventListener("click", function (event) {document.location.href = "/filmInfo436762447"; $$nav.off()});
        </script>
        
        <div id="serial48" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4852099.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ужастики</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem485209948 = document.getElementById("serial48")
            _elem485209948.addEventListener("click", function (event) {document.location.href = "/filmInfo485209948"; $$nav.off()});
        </script>
        
        <div id="serial49" class="item serialItem nav-item" data-nav_ud="#cartoon0,0,#cartoonserial0,0">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5274329.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Плакса</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem527432949 = document.getElementById("serial49")
            _elem527432949.addEventListener("click", function (event) {document.location.href = "/filmInfo527432949"; $$nav.off()});
        </script>
        