
        <div id="serial0" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5372037.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Сапфир</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53720370 = document.getElementById("serial0")
            _elem53720370.addEventListener("click", function (event) {document.location.href = "/filmInfo53720370"; $$nav.off()});
        </script>
        
        <div id="serial1" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5396130.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Оксен</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53961301 = document.getElementById("serial1")
            _elem53961301.addEventListener("click", function (event) {document.location.href = "/filmInfo53961301"; $$nav.off()});
        </script>
        
        <div id="serial2" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4646038.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Законники: Басс Ривз</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46460382 = document.getElementById("serial2")
            _elem46460382.addEventListener("click", function (event) {document.location.href = "/filmInfo46460382"; $$nav.off()});
        </script>
        
        <div id="serial3" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4367624.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Уроки химии</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem43676243 = document.getElementById("serial3")
            _elem43676243.addEventListener("click", function (event) {document.location.href = "/filmInfo43676243"; $$nav.off()});
        </script>
        
        <div id="serial4" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4982929.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Звездные войны: Прик</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem49829294 = document.getElementById("serial4")
            _elem49829294.addEventListener("click", function (event) {document.location.href = "/filmInfo49829294"; $$nav.off()});
        </script>
        
        <div id="serial5" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5245405.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Мститель</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52454055 = document.getElementById("serial5")
            _elem52454055.addEventListener("click", function (event) {document.location.href = "/filmInfo52454055"; $$nav.off()});
        </script>
        
        <div id="serial6" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5237997.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Национальное голосов</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52379976 = document.getElementById("serial6")
            _elem52379976.addEventListener("click", function (event) {document.location.href = "/filmInfo52379976"; $$nav.off()});
        </script>
        
        <div id="serial7" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5401195.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Провожающая в послед</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54011957 = document.getElementById("serial7")
            _elem54011957.addEventListener("click", function (event) {document.location.href = "/filmInfo54011957"; $$nav.off()});
        </script>
        
        <div id="serial8" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5401195.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Провожающая в послед</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54011958 = document.getElementById("serial8")
            _elem54011958.addEventListener("click", function (event) {document.location.href = "/filmInfo54011958"; $$nav.off()});
        </script>
        
        <div id="serial9" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5118207.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Онимуся</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51182079 = document.getElementById("serial9")
            _elem51182079.addEventListener("click", function (event) {document.location.href = "/filmInfo51182079"; $$nav.off()});
        </script>
        
        <div id="serial10" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4966566.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Попутчики</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem496656610 = document.getElementById("serial10")
            _elem496656610.addEventListener("click", function (event) {document.location.href = "/filmInfo496656610"; $$nav.off()});
        </script>
        
        <div id="serial11" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5387326.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Безграничная любовь</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem538732611 = document.getElementById("serial11")
            _elem538732611.addEventListener("click", function (event) {document.location.href = "/filmInfo538732611"; $$nav.off()});
        </script>
        
        <div id="serial12" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5367788.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ласт квест</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536778812 = document.getElementById("serial12")
            _elem536778812.addEventListener("click", function (event) {document.location.href = "/filmInfo536778812"; $$nav.off()});
        </script>
        
        <div id="serial13" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4852099.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ужастики</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem485209913 = document.getElementById("serial13")
            _elem485209913.addEventListener("click", function (event) {document.location.href = "/filmInfo485209913"; $$nav.off()});
        </script>
        
        <div id="serial14" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5227236.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Однажды в Абхазии</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem522723614 = document.getElementById("serial14")
            _elem522723614.addEventListener("click", function (event) {document.location.href = "/filmInfo522723614"; $$nav.off()});
        </script>
        
        <div id="serial15" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5276678.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Искрящийся арбуз</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem527667815 = document.getElementById("serial15")
            _elem527667815.addEventListener("click", function (event) {document.location.href = "/filmInfo527667815"; $$nav.off()});
        </script>
        
        <div id="serial16" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4367624.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Уроки химии</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem436762416 = document.getElementById("serial16")
            _elem436762416.addEventListener("click", function (event) {document.location.href = "/filmInfo436762416"; $$nav.off()});
        </script>
        
        <div id="serial17" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5259072.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Стой! Не то мама буд</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem525907217 = document.getElementById("serial17")
            _elem525907217.addEventListener("click", function (event) {document.location.href = "/filmInfo525907217"; $$nav.off()});
        </script>
        
        <div id="serial18" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4852099.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ужастики</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem485209918 = document.getElementById("serial18")
            _elem485209918.addEventListener("click", function (event) {document.location.href = "/filmInfo485209918"; $$nav.off()});
        </script>
        
        <div id="serial19" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5365497.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Цикады</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536549719 = document.getElementById("serial19")
            _elem536549719.addEventListener("click", function (event) {document.location.href = "/filmInfo536549719"; $$nav.off()});
        </script>
        
        <div id="serial20" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5258557.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Монолог фармацевта</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem525855720 = document.getElementById("serial20")
            _elem525855720.addEventListener("click", function (event) {document.location.href = "/filmInfo525855720"; $$nav.off()});
        </script>
        
        <div id="serial21" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5122688.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Мессия</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem512268821 = document.getElementById("serial21")
            _elem512268821.addEventListener("click", function (event) {document.location.href = "/filmInfo512268821"; $$nav.off()});
        </script>
        
        <div id="serial22" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4472416.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Фрейзер</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem447241622 = document.getElementById("serial22")
            _elem447241622.addEventListener("click", function (event) {document.location.href = "/filmInfo447241622"; $$nav.off()});
        </script>
        
        <div id="serial23" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5065777.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Убить Риту</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem506577723 = document.getElementById("serial23")
            _elem506577723.addEventListener("click", function (event) {document.location.href = "/filmInfo506577723"; $$nav.off()});
        </script>
        
        <div id="serial24" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5377626.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Камень желаний</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem537762624 = document.getElementById("serial24")
            _elem537762624.addEventListener("click", function (event) {document.location.href = "/filmInfo537762624"; $$nav.off()});
        </script>
        
        <div id="serial25" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5320050.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Мама будет против</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem532005025 = document.getElementById("serial25")
            _elem532005025.addEventListener("click", function (event) {document.location.href = "/filmInfo532005025"; $$nav.off()});
        </script>
        
        <div id="serial26" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5285427.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Отмороженные</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem528542726 = document.getElementById("serial26")
            _elem528542726.addEventListener("click", function (event) {document.location.href = "/filmInfo528542726"; $$nav.off()});
        </script>
        
        <div id="serial27" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5359984.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Политех</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535998427 = document.getElementById("serial27")
            _elem535998427.addEventListener("click", function (event) {document.location.href = "/filmInfo535998427"; $$nav.off()});
        </script>
        
        <div id="serial28" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5309762.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>ФК Родина</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem530976228 = document.getElementById("serial28")
            _elem530976228.addEventListener("click", function (event) {document.location.href = "/filmInfo530976228"; $$nav.off()});
        </script>
        
        <div id="serial29" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5149270.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Волшебный участок</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem514927029 = document.getElementById("serial29")
            _elem514927029.addEventListener("click", function (event) {document.location.href = "/filmInfo514927029"; $$nav.off()});
        </script>
        
        <div id="serial30" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5367846.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Саша против!</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536784630 = document.getElementById("serial30")
            _elem536784630.addEventListener("click", function (event) {document.location.href = "/filmInfo536784630"; $$nav.off()});
        </script>
        
        <div id="serial31" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4974384.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Силачка Кан Нам-сун</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem497438431 = document.getElementById("serial31")
            _elem497438431.addEventListener("click", function (event) {document.location.href = "/filmInfo497438431"; $$nav.off()});
        </script>
        
        <div id="serial32" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5401330.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Праздники</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540133032 = document.getElementById("serial32")
            _elem540133032.addEventListener("click", function (event) {document.location.href = "/filmInfo540133032"; $$nav.off()});
        </script>
        
        <div id="serial33" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1311196.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Заложники моря</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem131119633 = document.getElementById("serial33")
            _elem131119633.addEventListener("click", function (event) {document.location.href = "/filmInfo131119633"; $$nav.off()});
        </script>
        
        <div id="serial34" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5026499.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Поиски</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem502649934 = document.getElementById("serial34")
            _elem502649934.addEventListener("click", function (event) {document.location.href = "/filmInfo502649934"; $$nav.off()});
        </script>
        
        <div id="serial35" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5245405.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Мститель</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem524540535 = document.getElementById("serial35")
            _elem524540535.addEventListener("click", function (event) {document.location.href = "/filmInfo524540535"; $$nav.off()});
        </script>
        
        <div id="serial36" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5139807.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Семья</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem513980736 = document.getElementById("serial36")
            _elem513980736.addEventListener("click", function (event) {document.location.href = "/filmInfo513980736"; $$nav.off()});
        </script>
        
        <div id="serial37" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5010316.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Чёрный торт</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem501031637 = document.getElementById("serial37")
            _elem501031637.addEventListener("click", function (event) {document.location.href = "/filmInfo501031637"; $$nav.off()});
        </script>
        
        <div id="serial38" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5140116.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Буканьерки</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem514011638 = document.getElementById("serial38")
            _elem514011638.addEventListener("click", function (event) {document.location.href = "/filmInfo514011638"; $$nav.off()});
        </script>
        
        <div id="serial39" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5367699.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Банда «ЗИГ ЗАГ»</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536769939 = document.getElementById("serial39")
            _elem536769939.addEventListener("click", function (event) {document.location.href = "/filmInfo536769939"; $$nav.off()});
        </script>
        
        <div id="serial40" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5375064.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Из породы убийц</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem537506440 = document.getElementById("serial40")
            _elem537506440.addEventListener("click", function (event) {document.location.href = "/filmInfo537506440"; $$nav.off()});
        </script>
        
        <div id="serial41" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5178673.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Жизнь на нашей плане</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem517867341 = document.getElementById("serial41")
            _elem517867341.addEventListener("click", function (event) {document.location.href = "/filmInfo517867341"; $$nav.off()});
        </script>
        
        <div id="serial42" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4629228.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Крапополис</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem462922842 = document.getElementById("serial42")
            _elem462922842.addEventListener("click", function (event) {document.location.href = "/filmInfo462922842"; $$nav.off()});
        </script>
        
        <div id="serial43" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5274271.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Михаил Горшенёв. Лег</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem527427143 = document.getElementById("serial43")
            _elem527427143.addEventListener("click", function (event) {document.location.href = "/filmInfo527427143"; $$nav.off()});
        </script>
        
        <div id="serial44" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5235023.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Совершенно другой</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523502344 = document.getElementById("serial44")
            _elem523502344.addEventListener("click", function (event) {document.location.href = "/filmInfo523502344"; $$nav.off()});
        </script>
        
        <div id="serial45" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4540127.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Время приключений: Ф</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem454012745 = document.getElementById("serial45")
            _elem454012745.addEventListener("click", function (event) {document.location.href = "/filmInfo454012745"; $$nav.off()});
        </script>
        
        <div id="serial46" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5405276.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Лос Биллис</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem540527646 = document.getElementById("serial46")
            _elem540527646.addEventListener("click", function (event) {document.location.href = "/filmInfo540527646"; $$nav.off()});
        </script>
        
        <div id="serial47" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4920605.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Король земли</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem492060547 = document.getElementById("serial47")
            _elem492060547.addEventListener("click", function (event) {document.location.href = "/filmInfo492060547"; $$nav.off()});
        </script>
        
        <div id="serial48" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5115724.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Побег семерых</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511572448 = document.getElementById("serial48")
            _elem511572448.addEventListener("click", function (event) {document.location.href = "/filmInfo511572448"; $$nav.off()});
        </script>
        
        <div id="serial49" class="item serialItem nav-item" data-nav_ud="0,none,0,none">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4890174.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>О деньгах и крови</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem489017449 = document.getElementById("serial49")
            _elem489017449.addEventListener("click", function (event) {document.location.href = "/filmInfo489017449"; $$nav.off()});
        </script>
        