
        <div id="serial0" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5255607.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>СуперИвановы</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52556070 = document.getElementById("serial0")
            _elem52556070.addEventListener("click", function (event) {document.location.href = "/filmInfo52556070"; $$nav.off()});
        </script>
        
        <div id="serial1" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5148826.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Кибер Иван</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51488261 = document.getElementById("serial1")
            _elem51488261.addEventListener("click", function (event) {document.location.href = "/filmInfo51488261"; $$nav.off()});
        </script>
        
        <div id="serial2" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4295117.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Асока</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem42951172 = document.getElementById("serial2")
            _elem42951172.addEventListener("click", function (event) {document.location.href = "/filmInfo42951172"; $$nav.off()});
        </script>
        
        <div id="serial3" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4296469.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Псы резервации</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem42964693 = document.getElementById("serial3")
            _elem42964693.addEventListener("click", function (event) {document.location.href = "/filmInfo42964693"; $$nav.off()});
        </script>
        
        <div id="serial4" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4370944.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Невероятный мир дино</p>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem43709444 = document.getElementById("serial4")
            _elem43709444.addEventListener("click", function (event) {document.location.href = "/filmInfo43709444"; $$nav.off()});
        </script>
        
        <div id="serial5" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_258054.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Американский папаша</p>
        <h1>(2005)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem2580545 = document.getElementById("serial5")
            _elem2580545.addEventListener("click", function (event) {document.location.href = "/filmInfo2580545"; $$nav.off()});
        </script>
        
        <div id="serial6" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5297125.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Она много лет не был</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52971256 = document.getElementById("serial6")
            _elem52971256.addEventListener("click", function (event) {document.location.href = "/filmInfo52971256"; $$nav.off()});
        </script>
        
        <div id="serial7" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4398387.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>В ритме жизни</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem43983877 = document.getElementById("serial7")
            _elem43983877.addEventListener("click", function (event) {document.location.href = "/filmInfo43983877"; $$nav.off()});
        </script>
        
        <div id="serial8" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5235023.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Совершенно другой</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52350238 = document.getElementById("serial8")
            _elem52350238.addEventListener("click", function (event) {document.location.href = "/filmInfo52350238"; $$nav.off()});
        </script>
        
        <div id="serial9" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4471054.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Молодые монархи</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44710549 = document.getElementById("serial9")
            _elem44710549.addEventListener("click", function (event) {document.location.href = "/filmInfo44710549"; $$nav.off()});
        </script>
        
        <div id="serial10" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5141685.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Странная планета</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem514168510 = document.getElementById("serial10")
            _elem514168510.addEventListener("click", function (event) {document.location.href = "/filmInfo514168510"; $$nav.off()});
        </script>
        
        <div id="serial11" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_79920.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Футурама</p>
        <h1>(1999)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem7992011 = document.getElementById("serial11")
            _elem7992011.addEventListener("click", function (event) {document.location.href = "/filmInfo7992011"; $$nav.off()});
        </script>
        
        <div id="serial12" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5330940.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Призванный в другой </p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem533094012 = document.getElementById("serial12")
            _elem533094012.addEventListener("click", function (event) {document.location.href = "/filmInfo533094012"; $$nav.off()});
        </script>
        
        <div id="serial13" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5195985.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Бесполезная ложь</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem519598513 = document.getElementById("serial13")
            _elem519598513.addEventListener("click", function (event) {document.location.href = "/filmInfo519598513"; $$nav.off()});
        </script>
        
        <div id="serial14" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4880732.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Блаженный</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem488073214 = document.getElementById("serial14")
            _elem488073214.addEventListener("click", function (event) {document.location.href = "/filmInfo488073214"; $$nav.off()});
        </script>
        
        <div id="serial15" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5121450.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Другая чёрная девушк</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem512145015 = document.getElementById("serial15")
            _elem512145015.addEventListener("click", function (event) {document.location.href = "/filmInfo512145015"; $$nav.off()});
        </script>
        
        <div id="serial16" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1048143.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Утреннее шоу</p>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem104814316 = document.getElementById("serial16")
            _elem104814316.addEventListener("click", function (event) {document.location.href = "/filmInfo104814316"; $$nav.off()});
        </script>
        
        <div id="serial17" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1301761.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Замаячный</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem130176117 = document.getElementById("serial17")
            _elem130176117.addEventListener("click", function (event) {document.location.href = "/filmInfo130176117"; $$nav.off()});
        </script>
        
        <div id="serial18" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1101344.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Свои</p>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem110134418 = document.getElementById("serial18")
            _elem110134418.addEventListener("click", function (event) {document.location.href = "/filmInfo110134418"; $$nav.off()});
        </script>
        
        <div id="serial19" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1048143.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Утреннее шоу</p>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem104814319 = document.getElementById("serial19")
            _elem104814319.addEventListener("click", function (event) {document.location.href = "/filmInfo104814319"; $$nav.off()});
        </script>
        
        <div id="serial20" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1130970.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Родители года</p>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem113097020 = document.getElementById("serial20")
            _elem113097020.addEventListener("click", function (event) {document.location.href = "/filmInfo113097020"; $$nav.off()});
        </script>
        
        <div id="serial21" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4295380.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Убийства в одном зда</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem429538021 = document.getElementById("serial21")
            _elem429538021.addEventListener("click", function (event) {document.location.href = "/filmInfo429538021"; $$nav.off()});
        </script>
        
        <div id="serial22" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_782255.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Голые и напуганные</p>
        <h1>(2013)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem78225522 = document.getElementById("serial22")
            _elem78225522.addEventListener("click", function (event) {document.location.href = "/filmInfo78225522"; $$nav.off()});
        </script>
        
        <div id="serial23" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1239664.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Вторжение</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem123966423 = document.getElementById("serial23")
            _elem123966423.addEventListener("click", function (event) {document.location.href = "/filmInfo123966423"; $$nav.off()});
        </script>
        
        <div id="serial24" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5227257.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Диагноз «Везучая»</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem522725724 = document.getElementById("serial24")
            _elem522725724.addEventListener("click", function (event) {document.location.href = "/filmInfo522725724"; $$nav.off()});
        </script>
        
        <div id="serial25" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_438216.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Аси</p>
        <h1>(2007)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem43821625 = document.getElementById("serial25")
            _elem43821625.addEventListener("click", function (event) {document.location.href = "/filmInfo43821625"; $$nav.off()});
        </script>
        
        <div id="serial26" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5059049.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Телохранители</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem505904926 = document.getElementById("serial26")
            _elem505904926.addEventListener("click", function (event) {document.location.href = "/filmInfo505904926"; $$nav.off()});
        </script>
        
        <div id="serial27" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1284911.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Легенда о Белой Змее</p>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem128491127 = document.getElementById("serial27")
            _elem128491127.addEventListener("click", function (event) {document.location.href = "/filmInfo128491127"; $$nav.off()});
        </script>
        
        <div id="serial28" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1342981.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Прорыв: 1950</p>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem134298128 = document.getElementById("serial28")
            _elem134298128.addEventListener("click", function (event) {document.location.href = "/filmInfo134298128"; $$nav.off()});
        </script>
        
        <div id="serial29" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_808208.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Юная</p>
        <h1>(2015)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem80820829 = document.getElementById("serial29")
            _elem80820829.addEventListener("click", function (event) {document.location.href = "/filmInfo80820829"; $$nav.off()});
        </script>
        
        <div id="serial30" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5212770.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Лихие, смелые, дерзк</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem521277030 = document.getElementById("serial30")
            _elem521277030.addEventListener("click", function (event) {document.location.href = "/filmInfo521277030"; $$nav.off()});
        </script>
        
        <div id="serial31" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1130970.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Родители года</p>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem113097031 = document.getElementById("serial31")
            _elem113097031.addEventListener("click", function (event) {document.location.href = "/filmInfo113097031"; $$nav.off()});
        </script>
        
        <div id="serial32" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4295380.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Убийства в одном зда</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem429538032 = document.getElementById("serial32")
            _elem429538032.addEventListener("click", function (event) {document.location.href = "/filmInfo429538032"; $$nav.off()});
        </script>
        
        <div id="serial33" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1281996.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Заповедный спецназ</p>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem128199633 = document.getElementById("serial33")
            _elem128199633.addEventListener("click", function (event) {document.location.href = "/filmInfo128199633"; $$nav.off()});
        </script>
        
        <div id="serial34" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5364626.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Первокурсницы</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536462634 = document.getElementById("serial34")
            _elem536462634.addEventListener("click", function (event) {document.location.href = "/filmInfo536462634"; $$nav.off()});
        </script>
        
        <div id="serial35" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1209195.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Звездный путь: Нижни</p>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem120919535 = document.getElementById("serial35")
            _elem120919535.addEventListener("click", function (event) {document.location.href = "/filmInfo120919535"; $$nav.off()});
        </script>
        
        <div id="serial36" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_808208.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Юная</p>
        <h1>(2015)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem80820836 = document.getElementById("serial36")
            _elem80820836.addEventListener("click", function (event) {document.location.href = "/filmInfo80820836"; $$nav.off()});
        </script>
        
        <div id="serial37" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4867184.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Билет в один конец</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem486718437 = document.getElementById("serial37")
            _elem486718437.addEventListener("click", function (event) {document.location.href = "/filmInfo486718437"; $$nav.off()});
        </script>
        
        <div id="serial38" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5313200.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Крутая перемена</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem531320038 = document.getElementById("serial38")
            _elem531320038.addEventListener("click", function (event) {document.location.href = "/filmInfo531320038"; $$nav.off()});
        </script>
        
        <div id="serial39" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_818736.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Когда зовёт сердце</p>
        <h1>(2014)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem81873639 = document.getElementById("serial39")
            _elem81873639.addEventListener("click", function (event) {document.location.href = "/filmInfo81873639"; $$nav.off()});
        </script>
        
        <div id="serial40" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309604.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Хилы</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem130960440 = document.getElementById("serial40")
            _elem130960440.addEventListener("click", function (event) {document.location.href = "/filmInfo130960440"; $$nav.off()});
        </script>
        
        <div id="serial41" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4536854.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Доктор Иванов. Своя </p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem453685441 = document.getElementById("serial41")
            _elem453685441.addEventListener("click", function (event) {document.location.href = "/filmInfo453685441"; $$nav.off()});
        </script>
        
        <div id="serial42" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1346744.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Власть в ночном горо</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem134674442 = document.getElementById("serial42")
            _elem134674442.addEventListener("click", function (event) {document.location.href = "/filmInfo134674442"; $$nav.off()});
        </script>
        
        <div id="serial43" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1123370.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Шифр</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem112337043 = document.getElementById("serial43")
            _elem112337043.addEventListener("click", function (event) {document.location.href = "/filmInfo112337043"; $$nav.off()});
        </script>
        
        <div id="serial44" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_300530.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Воздушный мастер</p>
        <h1>(2003)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem30053044 = document.getElementById("serial44")
            _elem30053044.addEventListener("click", function (event) {document.location.href = "/filmInfo30053044"; $$nav.off()});
        </script>
        
        <div id="serial45" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4698631.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Скрытые активы</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem469863145 = document.getElementById("serial45")
            _elem469863145.addEventListener("click", function (event) {document.location.href = "/filmInfo469863145"; $$nav.off()});
        </script>
        
        <div id="serial46" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1245332.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Двенадцать</p>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem124533246 = document.getElementById("serial46")
            _elem124533246.addEventListener("click", function (event) {document.location.href = "/filmInfo124533246"; $$nav.off()});
        </script>
        
        <div id="serial47" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1272097.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Время побеждать: Рас</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem127209747 = document.getElementById("serial47")
            _elem127209747.addEventListener("click", function (event) {document.location.href = "/filmInfo127209747"; $$nav.off()});
        </script>
        
        <div id="serial48" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5237286.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Трон, отмеченный бог</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem523728648 = document.getElementById("serial48")
            _elem523728648.addEventListener("click", function (event) {document.location.href = "/filmInfo523728648"; $$nav.off()});
        </script>
        
        <div id="serial49" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5331422.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Выжить в Дубае</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem533142249 = document.getElementById("serial49")
            _elem533142249.addEventListener("click", function (event) {document.location.href = "/filmInfo533142249"; $$nav.off()});
        </script>
        