
        <div id="serial0" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/8ddc00a2-1b2e-4f04-ac2b-d84fb31e326d/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Перси Джексон и Олим</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13846170 = document.getElementById("serial0")
            _elem13846170.addEventListener("click", function (event) {document.location.href = "/filmInfo13846170"; $$nav.off()});
        </script>
        
        <div id="serial1" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/cbc3b6ee-9042-4de4-9794-184fb1b7acdd/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Вызов. О фильме, пок</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52824471 = document.getElementById("serial1")
            _elem52824471.addEventListener("click", function (event) {document.location.href = "/filmInfo52824471"; $$nav.off()});
        </script>
        
        <div id="serial2" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10812607/980b1405-bc82-488a-b16b-43bbce260814/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Букины</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53525882 = document.getElementById("serial2")
            _elem53525882.addEventListener("click", function (event) {document.location.href = "/filmInfo53525882"; $$nav.off()});
        </script>
        
        <div id="serial3" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/664cb2e3-96b6-481c-806c-a80c9802cb67/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Моя девочка</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem52660213 = document.getElementById("serial3")
            _elem52660213.addEventListener("click", function (event) {document.location.href = "/filmInfo52660213"; $$nav.off()});
        </script>
        
        <div id="serial4" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10835644/cd676134-ad5e-409a-b6e6-9aaf30758abb/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Игра смерти</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53787174 = document.getElementById("serial4")
            _elem53787174.addEventListener("click", function (event) {document.location.href = "/filmInfo53787174"; $$nav.off()});
        </script>
        
        <div id="serial5" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10835644/bda95beb-96f8-491a-8704-882ef89efeed/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Роковая черта</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem54220745 = document.getElementById("serial5")
            _elem54220745.addEventListener("click", function (event) {document.location.href = "/filmInfo54220745"; $$nav.off()});
        </script>
        
        <div id="serial6" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/bd0c5322-ef6e-4418-8ef4-7d60b74371bc/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Отчёт о буйстве духо</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44201396 = document.getElementById("serial6")
            _elem44201396.addEventListener("click", function (event) {document.location.href = "/filmInfo44201396"; $$nav.off()});
        </script>
        
        <div id="serial7" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10592371/91762e76-aed1-48a4-b7b5-9097c3de6015/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Пармские фиалки</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44046797 = document.getElementById("serial7")
            _elem44046797.addEventListener("click", function (event) {document.location.href = "/filmInfo44046797"; $$nav.off()});
        </script>
        
        <div id="serial8" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10592371/5b7ca7f3-f7e1-419d-a0fa-f7ef0227eeb1/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Госпожа</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem53942048 = document.getElementById("serial8")
            _elem53942048.addEventListener("click", function (event) {document.location.href = "/filmInfo53942048"; $$nav.off()});
        </script>
        
        <div id="serial9" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10835644/22dbf147-d1af-4364-bc52-799ac120d809/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Сны Алисы</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem14360439 = document.getElementById("serial9")
            _elem14360439.addEventListener("click", function (event) {document.location.href = "/filmInfo14360439"; $$nav.off()});
        </script>
        
        <div id="serial10" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/ef1aa22a-3eb7-430a-b540-77dcfb873461/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Золотая клетка</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem542533210 = document.getElementById("serial10")
            _elem542533210.addEventListener("click", function (event) {document.location.href = "/filmInfo542533210"; $$nav.off()});
        </script>
        
        <div id="serial11" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/1898899/57ca7281-a742-4163-959c-2224c47a0d0c/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Наступила ночь</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem541156311 = document.getElementById("serial11")
            _elem541156311.addEventListener("click", function (event) {document.location.href = "/filmInfo541156311"; $$nav.off()});
        </script>
        
        <div id="serial12" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10900341/6b203737-0176-43f5-81a6-443ff37abfa3/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Кеша должен умереть</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511984612 = document.getElementById("serial12")
            _elem511984612.addEventListener("click", function (event) {document.location.href = "/filmInfo511984612"; $$nav.off()});
        </script>
        
        <div id="serial13" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/32aef5f7-0400-48bd-80b8-83315432d8c9/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Романовы. Последнее </p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem539448113 = document.getElementById("serial13")
            _elem539448113.addEventListener("click", function (event) {document.location.href = "/filmInfo539448113"; $$nav.off()});
        </script>
        
        <div id="serial14" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/a2170306-080c-422a-a858-fb30212b101f/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ловкий плут</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536823314 = document.getElementById("serial14")
            _elem536823314.addEventListener("click", function (event) {document.location.href = "/filmInfo536823314"; $$nav.off()});
        </script>
        
        <div id="serial15" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10835644/ed50631b-a3c6-4e88-9176-7003d0e25d1b/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Котострофа</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem542187315 = document.getElementById("serial15")
            _elem542187315.addEventListener("click", function (event) {document.location.href = "/filmInfo542187315"; $$nav.off()});
        </script>
        
        <div id="serial16" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/5115698.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Скажи, что любишь ме</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511569816 = document.getElementById("serial16")
            _elem511569816.addEventListener("click", function (event) {document.location.href = "/filmInfo511569816"; $$nav.off()});
        </script>
        
        <div id="serial17" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/09b46177-f8d9-4683-87f3-38c0a4211dbd/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Далёкие холмы</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem507219817 = document.getElementById("serial17")
            _elem507219817.addEventListener("click", function (event) {document.location.href = "/filmInfo507219817"; $$nav.off()});
        </script>
        
        <div id="serial18" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10812607/b1a1acb7-8e30-4378-82fa-0d4024a4c2f0/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Цифровой код</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem536491518 = document.getElementById("serial18")
            _elem536491518.addEventListener("click", function (event) {document.location.href = "/filmInfo536491518"; $$nav.off()});
        </script>
        
        <div id="serial19" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10812607/7e26560c-b88a-4b07-9121-2c554cb6093e/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Арчи</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem541691719 = document.getElementById("serial19")
            _elem541691719.addEventListener("click", function (event) {document.location.href = "/filmInfo541691719"; $$nav.off()});
        </script>
        
        <div id="serial20" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://kinopoiskapiunofficial.tech/images/posters/kp/5271175.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>История брачного дог</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem527117520 = document.getElementById("serial20")
            _elem527117520.addEventListener("click", function (event) {document.location.href = "/filmInfo527117520"; $$nav.off()});
        </script>
        
        <div id="serial21" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4483445/05424504-06c6-426f-bbd6-3585c48fba13/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Мой демон</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem539631521 = document.getElementById("serial21")
            _elem539631521.addEventListener("click", function (event) {document.location.href = "/filmInfo539631521"; $$nav.off()});
        </script>
        
        <div id="serial22" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/1898899/f3114527-19c1-4862-a082-ca3694319eeb/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Зовите Ермолова!</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem535153922 = document.getElementById("serial22")
            _elem535153922.addEventListener("click", function (event) {document.location.href = "/filmInfo535153922"; $$nav.off()});
        </script>
        
        <div id="serial23" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10835644/7a557ba6-2a2d-4f5c-b604-21dc69914574/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Супергерои.ру</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem539004123 = document.getElementById("serial23")
            _elem539004123.addEventListener("click", function (event) {document.location.href = "/filmInfo539004123"; $$nav.off()});
        </script>
        
        <div id="serial24" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10812607/32aacf44-c99c-453f-ac00-fbe603bce925/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Загадка Ферма</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem538991524 = document.getElementById("serial24")
            _elem538991524.addEventListener("click", function (event) {document.location.href = "/filmInfo538991524"; $$nav.off()});
        </script>
        
        <div id="serial25" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10592371/9d642ab5-beb1-4c5e-a9ae-e890b39b604a/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Загадай любовь</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem526773125 = document.getElementById("serial25")
            _elem526773125.addEventListener("click", function (event) {document.location.href = "/filmInfo526773125"; $$nav.off()});
        </script>
        
        <div id="serial26" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/9582d275-3983-4590-8346-3dafafe65bd1/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Цербер</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem521134726 = document.getElementById("serial26")
            _elem521134726.addEventListener("click", function (event) {document.location.href = "/filmInfo521134726"; $$nav.off()});
        </script>
        
        <div id="serial27" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/5d0592cb-70ee-4e31-be5f-dd273001e690/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Сама виновата?</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511718927 = document.getElementById("serial27")
            _elem511718927.addEventListener("click", function (event) {document.location.href = "/filmInfo511718927"; $$nav.off()});
        </script>
        
        <div id="serial28" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/73324a1d-35cb-43fc-8f18-6557b81d3136/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Самостоятельная жизн</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem527662528 = document.getElementById("serial28")
            _elem527662528.addEventListener("click", function (event) {document.location.href = "/filmInfo527662528"; $$nav.off()});
        </script>
        
        <div id="serial29" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/89bae64c-2d42-4e43-8306-407bcb4a7cee/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Железнодорожники: Не</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem474605229 = document.getElementById("serial29")
            _elem474605229.addEventListener("click", function (event) {document.location.href = "/filmInfo474605229"; $$nav.off()});
        </script>
        