
        <div id="serial0" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/23ea4289-81b0-4c88-8f67-b4d16871d955/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Выходи замуж за моег</p>
        <h1>(2024)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5379471 = document.getElementById("serial0")
            _elem5379471.addEventListener("click", function (event) {document.location.href = "/filmInfo5379471"; $$nav.off()});
        </script>
        
        <div id="serial1" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/1898899/c15e13fd-692b-4bdb-9ce4-aa9e4e3c6312/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Дурочка Надя</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5243622 = document.getElementById("serial1")
            _elem5243622.addEventListener("click", function (event) {document.location.href = "/filmInfo5243622"; $$nav.off()});
        </script>
        
        <div id="serial2" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4486454/e7c0ad12-fbb1-4f90-b046-03d0cdf3007f/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Море Сертана</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5088619 = document.getElementById("serial2")
            _elem5088619.addEventListener("click", function (event) {document.location.href = "/filmInfo5088619"; $$nav.off()});
        </script>
        
        <div id="serial3" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10835644/fe2620e9-1752-4aeb-99dc-05fd8445a66a/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ласт квест</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5367791 = document.getElementById("serial3")
            _elem5367791.addEventListener("click", function (event) {document.location.href = "/filmInfo5367791"; $$nav.off()});
        </script>
        
        <div id="serial4" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/be8f6641-768b-4516-a916-39da6b1cc4d9/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Гонка</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5233393 = document.getElementById("serial4")
            _elem5233393.addEventListener("click", function (event) {document.location.href = "/filmInfo5233393"; $$nav.off()});
        </script>
        
        <div id="serial5" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10835644/97ee0fc0-af3f-4345-91f7-6fa7abb87b9e/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Расплата</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5394210 = document.getElementById("serial5")
            _elem5394210.addEventListener("click", function (event) {document.location.href = "/filmInfo5394210"; $$nav.off()});
        </script>
        
        <div id="serial6" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/171c2632-c346-489d-ac42-39172c76058d/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Двое на краю</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5244379 = document.getElementById("serial6")
            _elem5244379.addEventListener("click", function (event) {document.location.href = "/filmInfo5244379"; $$nav.off()});
        </script>
        
        <div id="serial7" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/2f8117bd-e3a3-4dfb-a421-6f5fee12b83a/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Пятнадцать-любовь</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5120660 = document.getElementById("serial7")
            _elem5120660.addEventListener("click", function (event) {document.location.href = "/filmInfo5120660"; $$nav.off()});
        </script>
        
        <div id="serial8" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4486454/e6d4eecc-2849-4973-b050-1cc755d0dde4/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Убийства в Стилтауне</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5212622 = document.getElementById("serial8")
            _elem5212622.addEventListener("click", function (event) {document.location.href = "/filmInfo5212622"; $$nav.off()});
        </script>
        
        <div id="serial9" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10835644/79beffb2-e1de-4c17-8a9b-4c6709f3fce4/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Голубоглазый самурай</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem4992687 = document.getElementById("serial9")
            _elem4992687.addEventListener("click", function (event) {document.location.href = "/filmInfo4992687"; $$nav.off()});
        </script>
        
        <div id="serial10" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4483445/1794a599-39d6-430e-aeff-1c1a0135e3c2/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>СуперИвановы</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5255617 = document.getElementById("serial10")
            _elem5255617.addEventListener("click", function (event) {document.location.href = "/filmInfo5255617"; $$nav.off()});
        </script>
        
        <div id="serial11" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/873718be-aa04-45bd-b4c8-9775bf36d999/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Каннский секрет</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem1398130 = document.getElementById("serial11")
            _elem1398130.addEventListener("click", function (event) {document.location.href = "/filmInfo1398130"; $$nav.off()});
        </script>
        
        <div id="serial12" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10835644/289fb52a-da43-4238-b8d7-f3a6a6254918/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Скотт Пилигрим жмёт </p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem4825571 = document.getElementById("serial12")
            _elem4825571.addEventListener("click", function (event) {document.location.href = "/filmInfo4825571"; $$nav.off()});
        </script>
        
        <div id="serial13" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/a2170306-080c-422a-a858-fb30212b101f/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ловкий плут</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5368246 = document.getElementById("serial13")
            _elem5368246.addEventListener("click", function (event) {document.location.href = "/filmInfo5368246"; $$nav.off()});
        </script>
        
        <div id="serial14" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/fc2bea64-1e80-4c06-9a81-29c1addb114f/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Случайные встречи</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5233018 = document.getElementById("serial14")
            _elem5233018.addEventListener("click", function (event) {document.location.href = "/filmInfo5233018"; $$nav.off()});
        </script>
        
        <div id="serial15" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/b6ece553-7a55-4b5b-9f0e-3e0bdd57a0f3/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Падение дома Ашеров</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem4673122 = document.getElementById("serial15")
            _elem4673122.addEventListener("click", function (event) {document.location.href = "/filmInfo4673122"; $$nav.off()});
        </script>
        
        <div id="serial16" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/bd0c5322-ef6e-4418-8ef4-7d60b74371bc/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Отчёт о буйстве духо</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem4420155 = document.getElementById("serial16")
            _elem4420155.addEventListener("click", function (event) {document.location.href = "/filmInfo4420155"; $$nav.off()});
        </script>
        
        <div id="serial17" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/25f560de-5c53-408b-94f9-2b983a772188/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Законные деньги</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5003067 = document.getElementById("serial17")
            _elem5003067.addEventListener("click", function (event) {document.location.href = "/filmInfo5003067"; $$nav.off()});
        </script>
        
        <div id="serial18" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/38aa0038-2988-49eb-8882-d089e17a9d8f/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Рой</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem462230 = document.getElementById("serial18")
            _elem462230.addEventListener("click", function (event) {document.location.href = "/filmInfo462230"; $$nav.off()});
        </script>
        
        <div id="serial19" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/9784475/04565662-a36c-450c-998e-2886a4123ad8/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Дары моря</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem4993006 = document.getElementById("serial19")
            _elem4993006.addEventListener("click", function (event) {document.location.href = "/filmInfo4993006"; $$nav.off()});
        </script>
        
        <div id="serial20" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4486454/2e54c725-5b8c-43ca-89db-b6ca5faf3440/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Тихая гавань</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5270881 = document.getElementById("serial20")
            _elem5270881.addEventListener("click", function (event) {document.location.href = "/filmInfo5270881"; $$nav.off()});
        </script>
        
        <div id="serial21" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4483445/f7a183c8-324d-42c2-88e1-4e808fd05eef/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ложь, спрятанная у м</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5282075 = document.getElementById("serial21")
            _elem5282075.addEventListener("click", function (event) {document.location.href = "/filmInfo5282075"; $$nav.off()});
        </script>
        
        <div id="serial22" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/1629390/3af743fd-fd00-4aba-9176-f69f801c66e3/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Крайняя необходимост</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem1199651 = document.getElementById("serial22")
            _elem1199651.addEventListener("click", function (event) {document.location.href = "/filmInfo1199651"; $$nav.off()});
        </script>
        
        <div id="serial23" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/bfe6a5d0-773a-42fd-9430-cfa253e7c8d0/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>От кого мы бежали, м</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem4824005 = document.getElementById("serial23")
            _elem4824005.addEventListener("click", function (event) {document.location.href = "/filmInfo4824005"; $$nav.off()});
        </script>
        
        <div id="serial24" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/c348714b-5068-4a81-bcc2-79526a061b2b/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Неспящие</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5217481 = document.getElementById("serial24")
            _elem5217481.addEventListener("click", function (event) {document.location.href = "/filmInfo5217481"; $$nav.off()});
        </script>
        
        <div id="serial25" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4486362/28e8f278-302a-4948-baa9-1a39662eaf5c/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ночной агент</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem4542070 = document.getElementById("serial25")
            _elem4542070.addEventListener("click", function (event) {document.location.href = "/filmInfo4542070"; $$nav.off()});
        </script>
        
        <div id="serial26" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/112a796e-199e-4ca3-aaa2-c32a81aad41d/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Переворот</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5356042 = document.getElementById("serial26")
            _elem5356042.addEventListener("click", function (event) {document.location.href = "/filmInfo5356042"; $$nav.off()});
        </script>
        
        <div id="serial27" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4774061/4594a304-71b6-41bb-b4df-783e1bd09a38/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Прощальное письмо</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5272241 = document.getElementById("serial27")
            _elem5272241.addEventListener("click", function (event) {document.location.href = "/filmInfo5272241"; $$nav.off()});
        </script>
        
        <div id="serial28" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/10893610/0f37094e-5534-43a1-bffa-f85c130dafcd/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Даже в психиатрическ</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5055801 = document.getElementById("serial28")
            _elem5055801.addEventListener("click", function (event) {document.location.href = "/filmInfo5055801"; $$nav.off()});
        </script>
        
        <div id="serial29" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://avatars.mds.yandex.net/get-kinopoisk-image/4483445/100d1f7c-83d5-45fe-be57-955e9070fe70/orig'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Актрисы</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem5021013 = document.getElementById("serial29")
            _elem5021013.addEventListener("click", function (event) {document.location.href = "/filmInfo5021013"; $$nav.off()});
        </script>
        