
        <div id="serial0" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1111018.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Чудотворцы</p>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem11110180 = document.getElementById("serial0")
            _elem11110180.addEventListener("click", function (event) {document.location.href = "/filmInfo11110180"; $$nav.off()});
        </script>
        
        <div id="serial1" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/863009.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Миллиарды</p>
        <h1>(2016)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem8630091 = document.getElementById("serial1")
            _elem8630091.addEventListener("click", function (event) {document.location.href = "/filmInfo8630091"; $$nav.off()});
        </script>
        
        <div id="serial2" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219257.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Воин</p>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem12192572 = document.getElementById("serial2")
            _elem12192572.addEventListener("click", function (event) {document.location.href = "/filmInfo12192572"; $$nav.off()});
        </script>
        
        <div id="serial3" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1113116.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Чем мы заняты в тени</p>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem11131163 = document.getElementById("serial3")
            _elem11131163.addEventListener("click", function (event) {document.location.href = "/filmInfo11131163"; $$nav.off()});
        </script>
        
        <div id="serial4" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1379545.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Звёздный путь: Стран</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13795454 = document.getElementById("serial4")
            _elem13795454.addEventListener("click", function (event) {document.location.href = "/filmInfo13795454"; $$nav.off()});
        </script>
        
        <div id="serial5" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4456485.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Мои приключения с Су</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44564855 = document.getElementById("serial5")
            _elem44564855.addEventListener("click", function (event) {document.location.href = "/filmInfo44564855"; $$nav.off()});
        </script>
        
        <div id="serial6" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1321097.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Май Литтл Пони: Пони</p>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13210976 = document.getElementById("serial6")
            _elem13210976.addEventListener("click", function (event) {document.location.href = "/filmInfo13210976"; $$nav.off()});
        </script>
        
        <div id="serial7" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_872094.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Детектив Гурман</p>
        <h1>(2015)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem8720947 = document.getElementById("serial7")
            _elem8720947.addEventListener("click", function (event) {document.location.href = "/filmInfo8720947"; $$nav.off()});
        </script>
        
        <div id="serial8" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5111852.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Злой дух</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem51118528 = document.getElementById("serial8")
            _elem51118528.addEventListener("click", function (event) {document.location.href = "/filmInfo51118528"; $$nav.off()});
        </script>
        
        <div id="serial9" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1405843.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Пищеблок</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem14058439 = document.getElementById("serial9")
            _elem14058439.addEventListener("click", function (event) {document.location.href = "/filmInfo14058439"; $$nav.off()});
        </script>
        
        <div id="serial10" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4925926.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Кроличья нора</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem492592610 = document.getElementById("serial10")
            _elem492592610.addEventListener("click", function (event) {document.location.href = "/filmInfo492592610"; $$nav.off()});
        </script>
        
        <div id="serial11" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4672791.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Потерянные цветы Эли</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem467279111 = document.getElementById("serial11")
            _elem467279111.addEventListener("click", function (event) {document.location.href = "/filmInfo467279111"; $$nav.off()});
        </script>
        
        <div id="serial12" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_840574.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Гранчестер</p>
        <h1>(2014)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem84057412 = document.getElementById("serial12")
            _elem84057412.addEventListener("click", function (event) {document.location.href = "/filmInfo84057412"; $$nav.off()});
        </script>
        
        <div id="serial13" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1035657.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Чи</p>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem103565713 = document.getElementById("serial13")
            _elem103565713.addEventListener("click", function (event) {document.location.href = "/filmInfo103565713"; $$nav.off()});
        </script>
        
        <div id="serial14" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4544795.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>По ту сторону Шпреи</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem454479514 = document.getElementById("serial14")
            _elem454479514.addEventListener("click", function (event) {document.location.href = "/filmInfo454479514"; $$nav.off()});
        </script>
        
        <div id="serial15" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1390921.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Мужчины в килтах</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem139092115 = document.getElementById("serial15")
            _elem139092115.addEventListener("click", function (event) {document.location.href = "/filmInfo139092115"; $$nav.off()});
        </script>
        
        <div id="serial16" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1390921.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Мужчины в килтах</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem139092116 = document.getElementById("serial16")
            _elem139092116.addEventListener("click", function (event) {document.location.href = "/filmInfo139092116"; $$nav.off()});
        </script>
        
        <div id="serial17" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4487391.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Женская война</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem448739117 = document.getElementById("serial17")
            _elem448739117.addEventListener("click", function (event) {document.location.href = "/filmInfo448739117"; $$nav.off()});
        </script>
        
        <div id="serial18" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_462765.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Основание</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46276518 = document.getElementById("serial18")
            _elem46276518.addEventListener("click", function (event) {document.location.href = "/filmInfo46276518"; $$nav.off()});
        </script>
        
        <div id="serial19" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4456485.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Мои приключения с Су</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem445648519 = document.getElementById("serial19")
            _elem445648519.addEventListener("click", function (event) {document.location.href = "/filmInfo445648519"; $$nav.off()});
        </script>
        
        <div id="serial20" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5139120.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Обычный Джо</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem513912020 = document.getElementById("serial20")
            _elem513912020.addEventListener("click", function (event) {document.location.href = "/filmInfo513912020"; $$nav.off()});
        </script>
        
        <div id="serial21" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309604.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Хилы</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem130960421 = document.getElementById("serial21")
            _elem130960421.addEventListener("click", function (event) {document.location.href = "/filmInfo130960421"; $$nav.off()});
        </script>
        
        <div id="serial22" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5095915.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Лауххаммер: Убийство</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem509591522 = document.getElementById("serial22")
            _elem509591522.addEventListener("click", function (event) {document.location.href = "/filmInfo509591522"; $$nav.off()});
        </script>
        
        <div id="serial23" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1219277.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Стойкость</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121927723 = document.getElementById("serial23")
            _elem121927723.addEventListener("click", function (event) {document.location.href = "/filmInfo121927723"; $$nav.off()});
        </script>
        
        <div id="serial24" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4296469.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Псы резервации</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem429646924 = document.getElementById("serial24")
            _elem429646924.addEventListener("click", function (event) {document.location.href = "/filmInfo429646924"; $$nav.off()});
        </script>
        
        <div id="serial25" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/1264102.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Нэнси Дрю</p>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem126410225 = document.getElementById("serial25")
            _elem126410225.addEventListener("click", function (event) {document.location.href = "/filmInfo126410225"; $$nav.off()});
        </script>
        
        <div id="serial26" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_462765.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Основание</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46276526 = document.getElementById("serial26")
            _elem46276526.addEventListener("click", function (event) {document.location.href = "/filmInfo46276526"; $$nav.off()});
        </script>
        
        <div id="serial27" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_962012.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ривердэйл</p>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem96201227 = document.getElementById("serial27")
            _elem96201227.addEventListener("click", function (event) {document.location.href = "/filmInfo96201227"; $$nav.off()});
        </script>
        
        <div id="serial28" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4819736.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Пощади меня, великий</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem481973628 = document.getElementById("serial28")
            _elem481973628.addEventListener("click", function (event) {document.location.href = "/filmInfo481973628"; $$nav.off()});
        </script>
        
        <div id="serial29" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4714996.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>На страже пляжа</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem471499629 = document.getElementById("serial29")
            _elem471499629.addEventListener("click", function (event) {document.location.href = "/filmInfo471499629"; $$nav.off()});
        </script>
        
        <div id="serial30" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1309604.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Хилы</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem130960430 = document.getElementById("serial30")
            _elem130960430.addEventListener("click", function (event) {document.location.href = "/filmInfo130960430"; $$nav.off()});
        </script>
        
        <div id="serial31" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4384294.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Кокетка</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem438429431 = document.getElementById("serial31")
            _elem438429431.addEventListener("click", function (event) {document.location.href = "/filmInfo438429431"; $$nav.off()});
        </script>
        
        <div id="serial32" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_962012.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ривердэйл</p>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem96201232 = document.getElementById("serial32")
            _elem96201232.addEventListener("click", function (event) {document.location.href = "/filmInfo96201232"; $$nav.off()});
        </script>
        
        <div id="serial33" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1044004.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Ведьмак</p>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem104400433 = document.getElementById("serial33")
            _elem104400433.addEventListener("click", function (event) {document.location.href = "/filmInfo104400433"; $$nav.off()});
        </script>
        
        <div id="serial34" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1113116.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Чем мы заняты в тени</p>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem111311634 = document.getElementById("serial34")
            _elem111311634.addEventListener("click", function (event) {document.location.href = "/filmInfo111311634"; $$nav.off()});
        </script>
        
        <div id="serial35" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4456485.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Мои приключения с Су</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem445648535 = document.getElementById("serial35")
            _elem445648535.addEventListener("click", function (event) {document.location.href = "/filmInfo445648535"; $$nav.off()});
        </script>
        
        <div id="serial36" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4357563.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>И просто так</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem435756336 = document.getElementById("serial36")
            _elem435756336.addEventListener("click", function (event) {document.location.href = "/filmInfo435756336"; $$nav.off()});
        </script>
        
        <div id="serial37" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4912805.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Мой счастливый брак</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem491280537 = document.getElementById("serial37")
            _elem491280537.addEventListener("click", function (event) {document.location.href = "/filmInfo491280537"; $$nav.off()});
        </script>
        
        <div id="serial38" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1404737.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Вечеринка</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem140473738 = document.getElementById("serial38")
            _elem140473738.addEventListener("click", function (event) {document.location.href = "/filmInfo140473738"; $$nav.off()});
        </script>
        
        <div id="serial39" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5141685.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Странная планета</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem514168539 = document.getElementById("serial39")
            _elem514168539.addEventListener("click", function (event) {document.location.href = "/filmInfo514168539"; $$nav.off()});
        </script>
        
        <div id="serial40" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_462765.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Основание</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46276540 = document.getElementById("serial40")
            _elem46276540.addEventListener("click", function (event) {document.location.href = "/filmInfo46276540"; $$nav.off()});
        </script>
        
        <div id="serial41" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_692943.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Виолетта</p>
        <h1>(2012)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem69294341 = document.getElementById("serial41")
            _elem69294341.addEventListener("click", function (event) {document.location.href = "/filmInfo69294341"; $$nav.off()});
        </script>
        
        <div id="serial42" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_462765.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Основание</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem46276542 = document.getElementById("serial42")
            _elem46276542.addEventListener("click", function (event) {document.location.href = "/filmInfo46276542"; $$nav.off()});
        </script>
        
        <div id="serial43" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4626683.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Этим летом я стала к</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem462668343 = document.getElementById("serial43")
            _elem462668343.addEventListener("click", function (event) {document.location.href = "/filmInfo462668343"; $$nav.off()});
        </script>
        
        <div id="serial44" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1379545.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Звёздный путь: Стран</p>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem137954544 = document.getElementById("serial44")
            _elem137954544.addEventListener("click", function (event) {document.location.href = "/filmInfo137954544"; $$nav.off()});
        </script>
        
        <div id="serial45" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1355224.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Обезболивающее</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem135522445 = document.getElementById("serial45")
            _elem135522445.addEventListener("click", function (event) {document.location.href = "/filmInfo135522445"; $$nav.off()});
        </script>
        
        <div id="serial46" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1355224.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Обезболивающее</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem135522446 = document.getElementById("serial46")
            _elem135522446.addEventListener("click", function (event) {document.location.href = "/filmInfo135522446"; $$nav.off()});
        </script>
        
        <div id="serial47" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5162227.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Магарсус</p>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem516222747 = document.getElementById("serial47")
            _elem516222747.addEventListener("click", function (event) {document.location.href = "/filmInfo516222747"; $$nav.off()});
        </script>
        
        <div id="serial48" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_947042.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Доктор Торн</p>
        <h1>(2016)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem94704248 = document.getElementById("serial48")
            _elem94704248.addEventListener("click", function (event) {document.location.href = "/filmInfo94704248"; $$nav.off()});
        </script>
        
        <div id="serial49" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1322159.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <p>Лагерь «Коралл»: Дет</p>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem132215949 = document.getElementById("serial49")
            _elem132215949.addEventListener("click", function (event) {document.location.href = "/filmInfo132215949"; $$nav.off()});
        </script>
        