
        <div id="serial0" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4412153.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Анника</h1>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem44121530 = document.getElementById("serial0")
            _elem44121530.addEventListener("click", function (event) {document.location.href = "/filmInfo44121530"; $$nav.off()});
        </script>
        
        <div id="serial1" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1320707.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Почти что рай</h1>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13207071 = document.getElementById("serial1")
            _elem13207071.addEventListener("click", function (event) {document.location.href = "/filmInfo13207071"; $$nav.off()});
        </script>
        
        <div id="serial2" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4398387.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>В ритме жизни</h1>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem43983872 = document.getElementById("serial2")
            _elem43983872.addEventListener("click", function (event) {document.location.href = "/filmInfo43983872"; $$nav.off()});
        </script>
        
        <div id="serial3" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1402701.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Чужой</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem14027013 = document.getElementById("serial3")
            _elem14027013.addEventListener("click", function (event) {document.location.href = "/filmInfo14027013"; $$nav.off()});
        </script>
        
        <div id="serial4" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_777031.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Библиотекарь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem7770314 = document.getElementById("serial4")
            _elem7770314.addEventListener("click", function (event) {document.location.href = "/filmInfo7770314"; $$nav.off()});
        </script>
        
        <div id="serial5" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4728548.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Открытый брак</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47285485 = document.getElementById("serial5")
            _elem47285485.addEventListener("click", function (event) {document.location.href = "/filmInfo47285485"; $$nav.off()});
        </script>
        
        <div id="serial6" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_840574.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Гранчестер</h1>
        <h1>(2014)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem8405746 = document.getElementById("serial6")
            _elem8405746.addEventListener("click", function (event) {document.location.href = "/filmInfo8405746"; $$nav.off()});
        </script>
        
        <div id="serial7" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/4721736.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Золотая лихорадка: Бурные воды</h1>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem47217367 = document.getElementById("serial7")
            _elem47217367.addEventListener("click", function (event) {document.location.href = "/filmInfo47217367"; $$nav.off()});
        </script>
        
        <div id="serial8" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1322697.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Братья Харди</h1>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem13226978 = document.getElementById("serial8")
            _elem13226978.addEventListener("click", function (event) {document.location.href = "/filmInfo13226978"; $$nav.off()});
        </script>
        
        <div id="serial9" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4397604.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Искусство обмана</h1>
        <h1>(2016)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem43976049 = document.getElementById("serial9")
            _elem43976049.addEventListener("click", function (event) {document.location.href = "/filmInfo43976049"; $$nav.off()});
        </script>
        
        <div id="serial10" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1406749.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Далеки!</h1>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem140674910 = document.getElementById("serial10")
            _elem140674910.addEventListener("click", function (event) {document.location.href = "/filmInfo140674910"; $$nav.off()});
        </script>
        
        <div id="serial11" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4295380.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Убийства в одном здании</h1>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem429538011 = document.getElementById("serial11")
            _elem429538011.addEventListener("click", function (event) {document.location.href = "/filmInfo429538011"; $$nav.off()});
        </script>
        
        <div id="serial12" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5111852.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Злой дух</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem511185212 = document.getElementById("serial12")
            _elem511185212.addEventListener("click", function (event) {document.location.href = "/filmInfo511185212"; $$nav.off()});
        </script>
        
        <div id="serial13" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4398387.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>В ритме жизни</h1>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem439838713 = document.getElementById("serial13")
            _elem439838713.addEventListener("click", function (event) {document.location.href = "/filmInfo439838713"; $$nav.off()});
        </script>
        
        <div id="serial14" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_308848.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Лунный свет</h1>
        <h1>(2007)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem30884814 = document.getElementById("serial14")
            _elem30884814.addEventListener("click", function (event) {document.location.href = "/filmInfo30884814"; $$nav.off()});
        </script>
        
        <div id="serial15" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4296469.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Псы резервации</h1>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem429646915 = document.getElementById("serial15")
            _elem429646915.addEventListener("click", function (event) {document.location.href = "/filmInfo429646915"; $$nav.off()});
        </script>
        
        <div id="serial16" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4757737.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Правосудие: Первобытный город</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem475773716 = document.getElementById("serial16")
            _elem475773716.addEventListener("click", function (event) {document.location.href = "/filmInfo475773716"; $$nav.off()});
        </script>
        
        <div id="serial17" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/5095915.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Лауххаммер: Убийство в Лужице</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem509591517 = document.getElementById("serial17")
            _elem509591517.addEventListener("click", function (event) {document.location.href = "/filmInfo509591517"; $$nav.off()});
        </script>
        
        <div id="serial18" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5141685.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Странная планета</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem514168518 = document.getElementById("serial18")
            _elem514168518.addEventListener("click", function (event) {document.location.href = "/filmInfo514168518"; $$nav.off()});
        </script>
        
        <div id="serial19" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_582314.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Гримм</h1>
        <h1>(2011)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem58231419 = document.getElementById("serial19")
            _elem58231419.addEventListener("click", function (event) {document.location.href = "/filmInfo58231419"; $$nav.off()});
        </script>
        
        <div id="serial20" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5319826.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Если сильно полюбишь</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem531982620 = document.getElementById("serial20")
            _elem531982620.addEventListener("click", function (event) {document.location.href = "/filmInfo531982620"; $$nav.off()});
        </script>
        
        <div id="serial21" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_668250.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Универсальный боец</h1>
        <h1>(2005)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem66825021 = document.getElementById("serial21")
            _elem66825021.addEventListener("click", function (event) {document.location.href = "/filmInfo66825021"; $$nav.off()});
        </script>
        
        <div id="serial22" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_582314.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Гримм</h1>
        <h1>(2011)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem58231422 = document.getElementById("serial22")
            _elem58231422.addEventListener("click", function (event) {document.location.href = "/filmInfo58231422"; $$nav.off()});
        </script>
        
        <div id="serial23" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_5248356.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Шахмаран</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem524835623 = document.getElementById("serial23")
            _elem524835623.addEventListener("click", function (event) {document.location.href = "/filmInfo524835623"; $$nav.off()});
        </script>
        
        <div id="serial24" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1140871.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Дикий округ</h1>
        <h1>(2018)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem114087124 = document.getElementById("serial24")
            _elem114087124.addEventListener("click", function (event) {document.location.href = "/filmInfo114087124"; $$nav.off()});
        </script>
        
        <div id="serial25" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1392743.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Постучись в мою дверь</h1>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem139274325 = document.getElementById("serial25")
            _elem139274325.addEventListener("click", function (event) {document.location.href = "/filmInfo139274325"; $$nav.off()});
        </script>
        
        <div id="serial26" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_258054.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Американский папаша</h1>
        <h1>(2005)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem25805426 = document.getElementById("serial26")
            _elem25805426.addEventListener("click", function (event) {document.location.href = "/filmInfo25805426"; $$nav.off()});
        </script>
        
        <div id="serial27" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1007563.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Стэн против сил зла</h1>
        <h1>(2016)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem100756327 = document.getElementById("serial27")
            _elem100756327.addEventListener("click", function (event) {document.location.href = "/filmInfo100756327"; $$nav.off()});
        </script>
        
        <div id="serial28" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1007563.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Стэн против сил зла</h1>
        <h1>(2016)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem100756328 = document.getElementById("serial28")
            _elem100756328.addEventListener("click", function (event) {document.location.href = "/filmInfo100756328"; $$nav.off()});
        </script>
        
        <div id="serial29" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_371105.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Дрейк и Джош</h1>
        <h1>(2004)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem37110529 = document.getElementById("serial29")
            _elem37110529.addEventListener("click", function (event) {document.location.href = "/filmInfo37110529"; $$nav.off()});
        </script>
        
        <div id="serial30" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_371105.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Дрейк и Джош</h1>
        <h1>(2004)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem37110530 = document.getElementById("serial30")
            _elem37110530.addEventListener("click", function (event) {document.location.href = "/filmInfo37110530"; $$nav.off()});
        </script>
        
        <div id="serial31" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1404737.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Вечеринка</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem140473731 = document.getElementById("serial31")
            _elem140473731.addEventListener("click", function (event) {document.location.href = "/filmInfo140473731"; $$nav.off()});
        </script>
        
        <div id="serial32" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4967680.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Очищение</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem496768032 = document.getElementById("serial32")
            _elem496768032.addEventListener("click", function (event) {document.location.href = "/filmInfo496768032"; $$nav.off()});
        </script>
        
        <div id="serial33" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1320378.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>365: Год победы над судьбой</h1>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem132037833 = document.getElementById("serial33")
            _elem132037833.addEventListener("click", function (event) {document.location.href = "/filmInfo132037833"; $$nav.off()});
        </script>
        
        <div id="serial34" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4500536.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Детектив под кайфом</h1>
        <h1>(2023)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem450053634 = document.getElementById("serial34")
            _elem450053634.addEventListener("click", function (event) {document.location.href = "/filmInfo450053634"; $$nav.off()});
        </script>
        
        <div id="serial35" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1211428.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Квартет Исэкай</h1>
        <h1>(2019)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem121142835 = document.getElementById("serial35")
            _elem121142835.addEventListener("click", function (event) {document.location.href = "/filmInfo121142835"; $$nav.off()});
        </script>
        
        <div id="serial36" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_229223.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Приключения молодого Индианы Джон</h1>
        <h1>(1992)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem22922336 = document.getElementById("serial36")
            _elem22922336.addEventListener("click", function (event) {document.location.href = "/filmInfo22922336"; $$nav.off()});
        </script>
        
        <div id="serial37" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1048524.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Разве плохо искать себе пару в по</h1>
        <h1>(2017)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem104852437 = document.getElementById("serial37")
            _elem104852437.addEventListener("click", function (event) {document.location.href = "/filmInfo104852437"; $$nav.off()});
        </script>
        
        <div id="serial38" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_880618.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Класс убийц</h1>
        <h1>(2015)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem88061838 = document.getElementById("serial38")
            _elem88061838.addEventListener("click", function (event) {document.location.href = "/filmInfo88061838"; $$nav.off()});
        </script>
        
        <div id="serial39" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_77303.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Путешествие «Единорога»</h1>
        <h1>(2001)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem7730339 = document.getElementById("serial39")
            _elem7730339.addEventListener("click", function (event) {document.location.href = "/filmInfo7730339"; $$nav.off()});
        </script>
        
        <div id="serial40" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_921030.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Повседневная жизнь с девушкой-мон</h1>
        <h1>(2015)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem92103040 = document.getElementById("serial40")
            _elem92103040.addEventListener("click", function (event) {document.location.href = "/filmInfo92103040"; $$nav.off()});
        </script>
        
        <div id="serial41" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_733151.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Череп и кости</h1>
        <h1>(2014)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem73315141 = document.getElementById("serial41")
            _elem73315141.addEventListener("click", function (event) {document.location.href = "/filmInfo73315141"; $$nav.off()});
        </script>
        
        <div id="serial42" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_400122.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Нана</h1>
        <h1>(2006)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem40012242 = document.getElementById("serial42")
            _elem40012242.addEventListener("click", function (event) {document.location.href = "/filmInfo40012242"; $$nav.off()});
        </script>
        
        <div id="serial43" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4530562.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Невероятная выпечка</h1>
        <h1>(2021)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem453056243 = document.getElementById("serial43")
            _elem453056243.addEventListener("click", function (event) {document.location.href = "/filmInfo453056243"; $$nav.off()});
        </script>
        
        <div id="serial44" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_1321097.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Май Литтл Пони: Пони Лайф</h1>
        <h1>(2020)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem132109744 = document.getElementById("serial44")
            _elem132109744.addEventListener("click", function (event) {document.location.href = "/filmInfo132109744"; $$nav.off()});
        </script>
        
        <div id="serial45" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://bazon.cc/download/poster/863009.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Миллиарды</h1>
        <h1>(2016)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem86300945 = document.getElementById("serial45")
            _elem86300945.addEventListener("click", function (event) {document.location.href = "/filmInfo86300945"; $$nav.off()});
        </script>
        
        <div id="serial46" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_161233.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Стальная тревога!</h1>
        <h1>(2002)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem16123346 = document.getElementById("serial46")
            _elem16123346.addEventListener("click", function (event) {document.location.href = "/filmInfo16123346"; $$nav.off()});
        </script>
        
        <div id="serial47" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_408659.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Когда плачут цикады</h1>
        <h1>(2006)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem40865947 = document.getElementById("serial47")
            _elem40865947.addEventListener("click", function (event) {document.location.href = "/filmInfo40865947"; $$nav.off()});
        </script>
        
        <div id="serial48" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_395112.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Даша-путешественница</h1>
        <h1>(2000)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem39511248 = document.getElementById("serial48")
            _elem39511248.addEventListener("click", function (event) {document.location.href = "/filmInfo39511248"; $$nav.off()});
        </script>
        
        <div id="serial49" class="item serialItem nav-item">
        <div class="filmsItemBg" style="background: url('https://st.kp.yandex.net/images/film_iphone/iphone360_4672145.jpg'); background-repeat:no-repeat;  background-size:cover;background-size: 100% 100%;" >
        </div>
         <div class="text filmsItemText">
        <h1>Дьявол в Огайо</h1>
        <h1>(2022)</h1>
        </div>
        </div>
        <script type="text/javascript">
            var _elem467214549 = document.getElementById("serial49")
            _elem467214549.addEventListener("click", function (event) {document.location.href = "/filmInfo467214549"; $$nav.off()});
        </script>
        